<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2011-09-01 15:25:00
</td>
<td align="right">
   51.21
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-09-02 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2011-09-01 15:55:00
</td>
<td align="right">
   51.20
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-09-02 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-01 15:10:00
</td>
<td align="right">
   33.69
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-09-02 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-01 18:35:00
</td>
<td align="right">
  533.21
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Fri: 2011-09-02 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-01 19:45:00
</td>
<td align="right">
  533.35
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 14:35:00
</td>
<td align="right">
   70.89
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2011-09-02 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 14:40:00
</td>
<td align="right">
   70.97
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Fri: 2011-09-02 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 14:55:00
</td>
<td align="right">
   70.92
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-09-02 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 15:05:00
</td>
<td align="right">
   71.03
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2011-09-02 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 15:10:00
</td>
<td align="right">
   71.04
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-09-02 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 15:15:00
</td>
<td align="right">
   71.09
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-09-02 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 15:20:00
</td>
<td align="right">
   71.05
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2011-09-02 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 15:35:00
</td>
<td align="right">
   71.24
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-09-02 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 16:05:00
</td>
<td align="right">
   71.08
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-09-02 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 16:15:00
</td>
<td align="right">
   71.24
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Fri: 2011-09-02 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 16:55:00
</td>
<td align="right">
   71.15
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Fri: 2011-09-02 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 17:00:00
</td>
<td align="right">
   71.14
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.73
</td>
<td>
Fri: 2011-09-02 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 17:05:00
</td>
<td align="right">
   70.96
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Fri: 2011-09-02 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 17:15:00
</td>
<td align="right">
   70.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2011-09-02 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 17:45:00
</td>
<td align="right">
   70.67
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2011-09-02 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:30:00
</td>
<td align="right">
   70.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-09-02 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:35:00
</td>
<td align="right">
   70.91
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-09-02 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:40:00
</td>
<td align="right">
   70.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-09-02 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:45:00
</td>
<td align="right">
   71.10
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Fri: 2011-09-02 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:50:00
</td>
<td align="right">
   71.01
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-09-02 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:55:00
</td>
<td align="right">
   71.05
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-09-02 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 19:10:00
</td>
<td align="right">
   70.84
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-01 14:55:00
</td>
<td align="right">
   93.18
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-09-02 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-01 16:05:00
</td>
<td align="right">
   93.16
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2011-09-02 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-01 14:15:00
</td>
<td align="right">
   53.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-09-02 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-01 14:20:00
</td>
<td align="right">
   53.28
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-09-02 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-01 14:25:00
</td>
<td align="right">
   53.28
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-09-02 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-01 15:00:00
</td>
<td align="right">
   53.35
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-09-02 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-01 15:05:00
</td>
<td align="right">
   53.32
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-09-02 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-01 15:50:00
</td>
<td align="right">
   68.96
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2011-09-02 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-01 16:15:00
</td>
<td align="right">
   69.02
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-09-02 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-01 14:05:00
</td>
<td align="right">
   74.68
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Fri: 2011-09-02 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-01 14:45:00
</td>
<td align="right">
   81.38
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2011-09-02 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-01 16:35:00
</td>
<td align="right">
   80.62
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.87
</td>
<td>
Fri: 2011-09-02 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-01 17:05:00
</td>
<td align="right">
   80.23
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   -1.11
</td>
<td>
Fri: 2011-09-02 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-01 17:10:00
</td>
<td align="right">
   80.21
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -1.01
</td>
<td>
Fri: 2011-09-02 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-01 14:00:00
</td>
<td align="right">
  539.35
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   -2.96
</td>
<td>
Fri: 2011-09-02 14:00
</td>
</tr>
</table>
<br /><hr />