<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-29 14:10:00
</td>
<td align="right">
   47.61
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Fri: 2011-09-30 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-09-29 14:40:00
</td>
<td align="right">
  167.59
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Fri: 2011-09-30 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-09-29 15:00:00
</td>
<td align="right">
  167.78
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .86
</td>
<td>
Fri: 2011-09-30 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-29 19:40:00
</td>
<td align="right">
  110.71
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-29 16:35:00
</td>
<td align="right">
   31.06
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-09-30 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-29 16:40:00
</td>
<td align="right">
   31.03
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Fri: 2011-09-30 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-29 15:30:00
</td>
<td align="right">
   44.76
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Fri: 2011-09-30 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-29 18:15:00
</td>
<td align="right">
   44.47
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2011-09-30 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-29 18:25:00
</td>
<td align="right">
   44.48
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2011-09-30 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-29 18:55:00
</td>
<td align="right">
   44.23
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Fri: 2011-09-30 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-09-29 16:35:00
</td>
<td align="right">
  115.93
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.84
</td>
<td>
Fri: 2011-09-30 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-29 15:55:00
</td>
<td align="right">
   28.79
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-09-30 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-29 16:25:00
</td>
<td align="right">
   28.80
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2011-09-30 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-29 15:20:00
</td>
<td align="right">
   73.35
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .62
</td>
<td>
Fri: 2011-09-30 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-29 18:00:00
</td>
<td align="right">
   46.21
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.71
</td>
<td>
Fri: 2011-09-30 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-29 18:10:00
</td>
<td align="right">
   46.03
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Fri: 2011-09-30 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-29 18:45:00
</td>
<td align="right">
   45.92
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Fri: 2011-09-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-29 18:55:00
</td>
<td align="right">
   45.91
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .80
</td>
<td>
Fri: 2011-09-30 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-29 19:20:00
</td>
<td align="right">
   45.81
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 14:05:00
</td>
<td align="right">
   75.47
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   -1.27
</td>
<td>
Fri: 2011-09-30 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 14:15:00
</td>
<td align="right">
   75.40
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   -1.12
</td>
<td>
Fri: 2011-09-30 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 14:20:00
</td>
<td align="right">
   74.75
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.61
</td>
<td>
Fri: 2011-09-30 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 15:00:00
</td>
<td align="right">
   74.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    1.51
</td>
<td>
Fri: 2011-09-30 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 15:10:00
</td>
<td align="right">
   74.35
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    1.10
</td>
<td>
Fri: 2011-09-30 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 15:40:00
</td>
<td align="right">
   75.00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2011-09-30 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 16:30:00
</td>
<td align="right">
   75.07
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.92
</td>
<td>
Fri: 2011-09-30 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 17:05:00
</td>
<td align="right">
   74.87
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   -1.66
</td>
<td>
Fri: 2011-09-30 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 17:10:00
</td>
<td align="right">
   74.92
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -2.09
</td>
<td>
Fri: 2011-09-30 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 17:15:00
</td>
<td align="right">
   74.92
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   -1.61
</td>
<td>
Fri: 2011-09-30 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 17:25:00
</td>
<td align="right">
   74.34
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.96
</td>
<td>
Fri: 2011-09-30 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 17:30:00
</td>
<td align="right">
   74.15
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -1.32
</td>
<td>
Fri: 2011-09-30 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 18:05:00
</td>
<td align="right">
   73.21
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2011-09-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 18:35:00
</td>
<td align="right">
   73.06
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.29
</td>
<td>
Fri: 2011-09-30 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 18:45:00
</td>
<td align="right">
   72.57
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    2.01
</td>
<td>
Fri: 2011-09-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 19:05:00
</td>
<td align="right">
   73.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-29 19:35:00
</td>
<td align="right">
   74.35
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-09-29 18:40:00
</td>
<td align="right">
   63.07
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Fri: 2011-09-30 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-09-29 18:50:00
</td>
<td align="right">
   63.17
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Fri: 2011-09-30 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-09-29 19:05:00
</td>
<td align="right">
   63.13
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-09-29 18:00:00
</td>
<td align="right">
   28.89
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-09-30 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-09-29 18:10:00
</td>
<td align="right">
   28.65
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-09-30 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-09-29 18:15:00
</td>
<td align="right">
   28.69
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2011-09-30 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-29 14:00:00
</td>
<td align="right">
   64.51
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Fri: 2011-09-30 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-29 14:05:00
</td>
<td align="right">
   64.40
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-09-30 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-29 17:30:00
</td>
<td align="right">
   50.22
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.87
</td>
<td>
Fri: 2011-09-30 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-29 18:35:00
</td>
<td align="right">
   49.60
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Fri: 2011-09-30 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-29 19:00:00
</td>
<td align="right">
   48.97
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-29 19:05:00
</td>
<td align="right">
   49.18
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-09-29 15:05:00
</td>
<td align="right">
   47.51
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-09-30 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-09-29 15:25:00
</td>
<td align="right">
   47.48
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2011-09-30 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 14:00:00
</td>
<td align="right">
   84.66
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   -1.49
</td>
<td>
Fri: 2011-09-30 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 14:10:00
</td>
<td align="right">
   84.83
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   -1.46
</td>
<td>
Fri: 2011-09-30 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 14:25:00
</td>
<td align="right">
   83.13
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Fri: 2011-09-30 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 14:30:00
</td>
<td align="right">
   83.55
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Fri: 2011-09-30 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 14:35:00
</td>
<td align="right">
   83.37
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .63
</td>
<td>
Fri: 2011-09-30 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 14:40:00
</td>
<td align="right">
   82.63
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    1.49
</td>
<td>
Fri: 2011-09-30 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 14:55:00
</td>
<td align="right">
   82.90
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    1.32
</td>
<td>
Fri: 2011-09-30 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:00:00
</td>
<td align="right">
   83.17
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    1.29
</td>
<td>
Fri: 2011-09-30 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:05:00
</td>
<td align="right">
   83.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .94
</td>
<td>
Fri: 2011-09-30 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:10:00
</td>
<td align="right">
   83.37
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .77
</td>
<td>
Fri: 2011-09-30 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:15:00
</td>
<td align="right">
   83.05
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .88
</td>
<td>
Fri: 2011-09-30 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:20:00
</td>
<td align="right">
   82.99
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    1.21
</td>
<td>
Fri: 2011-09-30 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:25:00
</td>
<td align="right">
   83.60
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Fri: 2011-09-30 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:30:00
</td>
<td align="right">
   83.99
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2011-09-30 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:35:00
</td>
<td align="right">
   84.00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2011-09-30 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:40:00
</td>
<td align="right">
   84.12
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   -1.12
</td>
<td>
Fri: 2011-09-30 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 15:55:00
</td>
<td align="right">
   84.22
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   -1.00
</td>
<td>
Fri: 2011-09-30 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:00:00
</td>
<td align="right">
   84.46
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   -1.13
</td>
<td>
Fri: 2011-09-30 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:05:00
</td>
<td align="right">
   84.13
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Fri: 2011-09-30 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:10:00
</td>
<td align="right">
   84.14
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.66
</td>
<td>
Fri: 2011-09-30 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:15:00
</td>
<td align="right">
   83.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.83
</td>
<td>
Fri: 2011-09-30 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:20:00
</td>
<td align="right">
   84.20
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   -1.23
</td>
<td>
Fri: 2011-09-30 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:25:00
</td>
<td align="right">
   84.17
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   -1.36
</td>
<td>
Fri: 2011-09-30 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:30:00
</td>
<td align="right">
   83.81
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   -1.38
</td>
<td>
Fri: 2011-09-30 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:35:00
</td>
<td align="right">
   83.67
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   -1.82
</td>
<td>
Fri: 2011-09-30 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:40:00
</td>
<td align="right">
   83.00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   -1.29
</td>
<td>
Fri: 2011-09-30 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:45:00
</td>
<td align="right">
   83.18
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   -1.08
</td>
<td>
Fri: 2011-09-30 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:50:00
</td>
<td align="right">
   83.42
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -1.22
</td>
<td>
Fri: 2011-09-30 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 16:55:00
</td>
<td align="right">
   83.22
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   -1.15
</td>
<td>
Fri: 2011-09-30 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 17:00:00
</td>
<td align="right">
   83.33
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   -1.77
</td>
<td>
Fri: 2011-09-30 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 17:05:00
</td>
<td align="right">
   83.58
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -2.26
</td>
<td>
Fri: 2011-09-30 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 17:10:00
</td>
<td align="right">
   83.48
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   -2.40
</td>
<td>
Fri: 2011-09-30 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 17:15:00
</td>
<td align="right">
   83.10
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   -1.67
</td>
<td>
Fri: 2011-09-30 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 17:20:00
</td>
<td align="right">
   82.97
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   -1.46
</td>
<td>
Fri: 2011-09-30 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 17:25:00
</td>
<td align="right">
   82.81
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.87
</td>
<td>
Fri: 2011-09-30 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-29 19:45:00
</td>
<td align="right">
   82.67
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-30 19:45
</td>
</tr>
</table>
<br /><hr />