<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 14:30:00
</td>
<td align="right">
   27.79
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-01 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 14:35:00
</td>
<td align="right">
   27.80
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-08-01 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 14:45:00
</td>
<td align="right">
   27.79
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-08-01 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 15:30:00
</td>
<td align="right">
   27.95
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 15:45:00
</td>
<td align="right">
   27.92
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-01 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 16:00:00
</td>
<td align="right">
   27.93
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-08-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 16:25:00
</td>
<td align="right">
   27.96
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-08-01 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 16:35:00
</td>
<td align="right">
   27.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-01 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 17:00:00
</td>
<td align="right">
   27.76
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-08-01 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 17:15:00
</td>
<td align="right">
   27.71
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2011-08-01 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
   27.92
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-29 17:50:00
</td>
<td align="right">
   54.43
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2011-08-01 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 15:20:00
</td>
<td align="right">
   47.84
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-08-01 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 15:25:00
</td>
<td align="right">
   47.63
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-01 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 15:30:00
</td>
<td align="right">
   47.68
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-01 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 15:35:00
</td>
<td align="right">
   47.70
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-01 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 15:40:00
</td>
<td align="right">
   47.77
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-01 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 15:45:00
</td>
<td align="right">
   47.71
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-01 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 15:55:00
</td>
<td align="right">
   47.70
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-08-01 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:00:00
</td>
<td align="right">
   47.57
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:05:00
</td>
<td align="right">
   47.69
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-08-01 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:10:00
</td>
<td align="right">
   47.58
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-01 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:15:00
</td>
<td align="right">
   47.68
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-01 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:20:00
</td>
<td align="right">
   47.67
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-01 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:25:00
</td>
<td align="right">
   47.65
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-01 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:30:00
</td>
<td align="right">
   47.60
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-01 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:35:00
</td>
<td align="right">
   47.71
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-01 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:45:00
</td>
<td align="right">
   47.63
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-08-01 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 16:50:00
</td>
<td align="right">
   47.51
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2011-08-01 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 17:45:00
</td>
<td align="right">
   47.77
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-08-01 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 19:05:00
</td>
<td align="right">
   47.95
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-29 19:55:00
</td>
<td align="right">
   47.80
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 14:45:00
</td>
<td align="right">
   50.92
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-01 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 15:35:00
</td>
<td align="right">
   50.96
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-01 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 15:40:00
</td>
<td align="right">
   50.95
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-08-01 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 15:45:00
</td>
<td align="right">
   50.89
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-08-01 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 16:00:00
</td>
<td align="right">
   50.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2011-08-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 16:15:00
</td>
<td align="right">
   50.90
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2011-08-01 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 16:20:00
</td>
<td align="right">
   50.87
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-08-01 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 16:30:00
</td>
<td align="right">
   50.81
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-08-01 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 16:35:00
</td>
<td align="right">
   50.87
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-08-01 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 16:40:00
</td>
<td align="right">
   50.82
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-08-01 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 18:40:00
</td>
<td align="right">
   50.80
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 18:50:00
</td>
<td align="right">
   50.81
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-01 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 19:05:00
</td>
<td align="right">
   50.84
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
   50.81
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 19:15:00
</td>
<td align="right">
   50.80
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-29 19:40:00
</td>
<td align="right">
   50.80
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-29 17:20:00
</td>
<td align="right">
   94.44
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-08-01 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
   93.51
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-29 19:45:00
</td>
<td align="right">
   93.33
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-29 16:55:00
</td>
<td align="right">
  118.99
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-08-01 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-29 18:35:00
</td>
<td align="right">
  118.82
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-01 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 14:50:00
</td>
<td align="right">
   42.39
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-01 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 14:55:00
</td>
<td align="right">
   42.40
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-01 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:00:00
</td>
<td align="right">
   42.38
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-08-01 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:05:00
</td>
<td align="right">
   42.53
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-08-01 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:10:00
</td>
<td align="right">
   42.45
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-08-01 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:15:00
</td>
<td align="right">
   42.53
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-08-01 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:20:00
</td>
<td align="right">
   42.51
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-08-01 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:25:00
</td>
<td align="right">
   42.40
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-01 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:30:00
</td>
<td align="right">
   42.39
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-01 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:35:00
</td>
<td align="right">
   42.34
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:40:00
</td>
<td align="right">
   42.36
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-01 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:45:00
</td>
<td align="right">
   42.29
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:50:00
</td>
<td align="right">
   42.34
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-08-01 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 15:55:00
</td>
<td align="right">
   42.34
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-01 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 16:00:00
</td>
<td align="right">
   42.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 16:05:00
</td>
<td align="right">
   42.36
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 16:10:00
</td>
<td align="right">
   42.28
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-01 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 16:20:00
</td>
<td align="right">
   42.35
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-01 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 16:25:00
</td>
<td align="right">
   42.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-01 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 16:35:00
</td>
<td align="right">
   42.33
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-01 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 16:40:00
</td>
<td align="right">
   42.33
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-08-01 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 16:45:00
</td>
<td align="right">
   42.29
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-08-01 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:00:00
</td>
<td align="right">
   42.25
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-08-01 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:10:00
</td>
<td align="right">
   42.32
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-08-01 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:15:00
</td>
<td align="right">
   42.33
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-01 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:20:00
</td>
<td align="right">
   42.37
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-01 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:25:00
</td>
<td align="right">
   42.35
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-01 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:30:00
</td>
<td align="right">
   42.37
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-01 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:35:00
</td>
<td align="right">
   42.40
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-01 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:40:00
</td>
<td align="right">
   42.42
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-01 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:45:00
</td>
<td align="right">
   42.43
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-01 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:50:00
</td>
<td align="right">
   42.38
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-01 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 17:55:00
</td>
<td align="right">
   42.41
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-01 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:00:00
</td>
<td align="right">
   42.42
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-01 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:05:00
</td>
<td align="right">
   42.46
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:10:00
</td>
<td align="right">
   42.44
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-01 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:15:00
</td>
<td align="right">
   42.40
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-01 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:20:00
</td>
<td align="right">
   42.42
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-01 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:25:00
</td>
<td align="right">
   42.40
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:30:00
</td>
<td align="right">
   42.41
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-01 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:35:00
</td>
<td align="right">
   42.46
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-01 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:40:00
</td>
<td align="right">
   42.43
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-01 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:45:00
</td>
<td align="right">
   42.44
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-08-01 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:50:00
</td>
<td align="right">
   42.46
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-01 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 18:55:00
</td>
<td align="right">
   42.42
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-01 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:00:00
</td>
<td align="right">
   42.40
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:05:00
</td>
<td align="right">
   42.46
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
   42.39
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:15:00
</td>
<td align="right">
   42.42
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:20:00
</td>
<td align="right">
   42.38
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:25:00
</td>
<td align="right">
   42.40
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:30:00
</td>
<td align="right">
   42.33
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:35:00
</td>
<td align="right">
   42.38
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:40:00
</td>
<td align="right">
   42.34
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:45:00
</td>
<td align="right">
   42.31
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:50:00
</td>
<td align="right">
   42.37
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-29 19:55:00
</td>
<td align="right">
   42.34
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-07-29 15:35:00
</td>
<td align="right">
   57.19
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-01 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2011-07-29 14:40:00
</td>
<td align="right">
  304.40
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .79
</td>
<td>
Mon: 2011-08-01 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2011-07-29 16:25:00
</td>
<td align="right">
  304.21
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.08
</td>
<td>
Mon: 2011-08-01 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2011-07-29 16:30:00
</td>
<td align="right">
  304.12
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.93
</td>
<td>
Mon: 2011-08-01 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2011-07-29 16:40:00
</td>
<td align="right">
  304.30
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-01 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2011-07-29 16:50:00
</td>
<td align="right">
  303.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    1.43
</td>
<td>
Mon: 2011-08-01 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2011-07-29 17:35:00
</td>
<td align="right">
  303.61
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    1.79
</td>
<td>
Mon: 2011-08-01 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-29 19:00:00
</td>
<td align="right">
   36.18
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2011-07-29 16:20:00
</td>
<td align="right">
   71.65
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-08-01 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-29 14:10:00
</td>
<td align="right">
   82.27
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2011-08-01 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-29 14:20:00
</td>
<td align="right">
   82.42
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2011-08-01 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-29 14:25:00
</td>
<td align="right">
   82.34
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2011-08-01 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-07-29 18:35:00
</td>
<td align="right">
   16.78
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-01 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-07-29 18:40:00
</td>
<td align="right">
   16.75
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-07-29 18:45:00
</td>
<td align="right">
   16.76
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-01 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-07-29 19:35:00
</td>
<td align="right">
   16.67
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2011-07-29 18:55:00
</td>
<td align="right">
   42.72
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-08-01 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
   42.85
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-29 14:15:00
</td>
<td align="right">
   87.59
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    1.60
</td>
<td>
Mon: 2011-08-01 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-29 15:35:00
</td>
<td align="right">
   88.70
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-08-01 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-29 16:00:00
</td>
<td align="right">
   88.91
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.01
</td>
<td>
Mon: 2011-08-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 16:15:00
</td>
<td align="right">
   10.35
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-01 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 16:30:00
</td>
<td align="right">
   10.36
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 16:45:00
</td>
<td align="right">
   10.34
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-01 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 16:55:00
</td>
<td align="right">
   10.35
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-01 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 17:00:00
</td>
<td align="right">
   10.31
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-01 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 17:10:00
</td>
<td align="right">
   10.35
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-01 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 17:15:00
</td>
<td align="right">
   10.36
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-01 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 19:20:00
</td>
<td align="right">
   10.37
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-29 19:35:00
</td>
<td align="right">
   10.37
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-29 15:40:00
</td>
<td align="right">
   97.24
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-08-01 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-29 15:45:00
</td>
<td align="right">
   97.20
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-08-01 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-29 15:55:00
</td>
<td align="right">
   97.26
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-08-01 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 14:40:00
</td>
<td align="right">
   49.06
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .95
</td>
<td>
Mon: 2011-08-01 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 14:55:00
</td>
<td align="right">
   49.59
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2011-08-01 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 15:05:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-01 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 15:55:00
</td>
<td align="right">
   49.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-08-01 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 16:10:00
</td>
<td align="right">
   49.75
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-08-01 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 16:35:00
</td>
<td align="right">
   49.83
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-01 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 16:40:00
</td>
<td align="right">
   49.83
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-01 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 16:45:00
</td>
<td align="right">
   49.75
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-08-01 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 17:00:00
</td>
<td align="right">
   49.79
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-01 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 17:15:00
</td>
<td align="right">
   49.95
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-08-01 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 17:35:00
</td>
<td align="right">
   49.88
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-01 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 17:40:00
</td>
<td align="right">
   49.85
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-01 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 17:45:00
</td>
<td align="right">
   49.90
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-08-01 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 17:50:00
</td>
<td align="right">
   49.85
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-01 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 17:55:00
</td>
<td align="right">
   49.85
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-08-01 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:00:00
</td>
<td align="right">
   49.85
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-08-01 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:10:00
</td>
<td align="right">
   49.85
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-01 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:15:00
</td>
<td align="right">
   49.79
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-01 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:20:00
</td>
<td align="right">
   49.81
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:25:00
</td>
<td align="right">
   49.75
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-08-01 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:30:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:35:00
</td>
<td align="right">
   49.84
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-01 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:40:00
</td>
<td align="right">
   49.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-01 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:45:00
</td>
<td align="right">
   49.70
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-01 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:50:00
</td>
<td align="right">
   49.76
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-01 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 18:55:00
</td>
<td align="right">
   49.69
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-01 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:00:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:05:00
</td>
<td align="right">
   49.81
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
   49.82
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:15:00
</td>
<td align="right">
   49.87
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:20:00
</td>
<td align="right">
   49.80
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:25:00
</td>
<td align="right">
   49.87
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:30:00
</td>
<td align="right">
   49.77
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:35:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-29 19:40:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-29 16:45:00
</td>
<td align="right">
   54.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Mon: 2011-08-01 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-29 16:50:00
</td>
<td align="right">
   54.03
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2011-08-01 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-29 16:30:00
</td>
<td align="right">
  156.15
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-08-01 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-29 17:00:00
</td>
<td align="right">
  155.44
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    2.07
</td>
<td>
Mon: 2011-08-01 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-29 19:55:00
</td>
<td align="right">
  157.06
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-29 17:05:00
</td>
<td align="right">
   15.97
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-01 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
   38.62
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-07-29 19:20:00
</td>
<td align="right">
   38.60
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-07-29 19:40:00
</td>
<td align="right">
   38.56
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 15:00:00
</td>
<td align="right">
   36.30
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-01 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 15:10:00
</td>
<td align="right">
   36.40
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-01 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 16:00:00
</td>
<td align="right">
   36.35
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 16:15:00
</td>
<td align="right">
   36.35
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-01 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 16:20:00
</td>
<td align="right">
   36.36
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 16:30:00
</td>
<td align="right">
   36.29
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-01 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 16:35:00
</td>
<td align="right">
   36.39
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-01 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 16:45:00
</td>
<td align="right">
   36.35
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-01 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 17:00:00
</td>
<td align="right">
   36.30
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-08-01 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 17:15:00
</td>
<td align="right">
   36.27
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-08-01 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 17:20:00
</td>
<td align="right">
   36.35
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-01 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 17:30:00
</td>
<td align="right">
   36.36
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-01 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-07-29 17:55:00
</td>
<td align="right">
   36.40
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-08-01 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-29 14:10:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2011-08-01 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-29 14:25:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2011-08-01 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-29 14:35:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-08-01 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-29 14:40:00
</td>
<td align="right">
   54.41
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-01 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-29 15:35:00
</td>
<td align="right">
   95.17
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.58
</td>
<td>
Mon: 2011-08-01 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-29 15:40:00
</td>
<td align="right">
   95.17
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2011-08-01 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GFI">GFI</a></td>
<td>
2011-07-29 17:05:00
</td>
<td align="right">
   15.53
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-01 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-29 14:55:00
</td>
<td align="right">
   60.99
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2011-08-01 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-29 16:15:00
</td>
<td align="right">
   61.08
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-07-29 14:10:00
</td>
<td align="right">
   78.88
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    1.10
</td>
<td>
Mon: 2011-08-01 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-07-29 16:25:00
</td>
<td align="right">
   79.43
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-08-01 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-07-29 16:30:00
</td>
<td align="right">
   79.37
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2011-08-01 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-07-29 19:00:00
</td>
<td align="right">
   79.71
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-07-29 19:15:00
</td>
<td align="right">
   79.79
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-07-29 19:20:00
</td>
<td align="right">
   79.68
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-07-29 19:55:00
</td>
<td align="right">
   79.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-07-29 17:05:00
</td>
<td align="right">
   64.57
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-08-01 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-07-29 18:00:00
</td>
<td align="right">
   64.67
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-01 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-07-29 18:10:00
</td>
<td align="right">
   64.63
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-01 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-07-29 19:00:00
</td>
<td align="right">
   64.61
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-07-29 19:30:00
</td>
<td align="right">
   64.67
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 14:20:00
</td>
<td align="right">
   34.25
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-08-01 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 14:25:00
</td>
<td align="right">
   34.09
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2011-08-01 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 14:35:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-08-01 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 15:00:00
</td>
<td align="right">
   34.27
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-01 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 15:05:00
</td>
<td align="right">
   34.38
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-01 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 15:15:00
</td>
<td align="right">
   34.35
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-01 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 15:20:00
</td>
<td align="right">
   34.35
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-01 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 15:25:00
</td>
<td align="right">
   34.35
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-01 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 15:30:00
</td>
<td align="right">
   34.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-01 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 15:55:00
</td>
<td align="right">
   34.34
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-08-01 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 16:00:00
</td>
<td align="right">
   34.32
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-08-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 16:05:00
</td>
<td align="right">
   34.35
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-08-01 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 16:15:00
</td>
<td align="right">
   34.25
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-01 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 16:20:00
</td>
<td align="right">
   34.26
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-01 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 16:25:00
</td>
<td align="right">
   34.26
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-01 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 16:40:00
</td>
<td align="right">
   34.28
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-08-01 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 16:45:00
</td>
<td align="right">
   34.21
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-01 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 17:00:00
</td>
<td align="right">
   34.17
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-08-01 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 17:45:00
</td>
<td align="right">
   34.23
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 17:55:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-01 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 18:00:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-01 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 18:05:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-08-01 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 18:20:00
</td>
<td align="right">
   34.10
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-01 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 18:25:00
</td>
<td align="right">
   34.11
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-08-01 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 18:30:00
</td>
<td align="right">
   34.16
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 18:35:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 18:40:00
</td>
<td align="right">
   34.23
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-01 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 18:45:00
</td>
<td align="right">
   34.23
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-08-01 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 19:05:00
</td>
<td align="right">
   34.23
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
   34.21
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 19:15:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 19:25:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 19:30:00
</td>
<td align="right">
   34.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-07-29 19:55:00
</td>
<td align="right">
   34.14
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 14:45:00
</td>
<td align="right">
    9.98
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-01 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 15:30:00
</td>
<td align="right">
    9.97
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 15:50:00
</td>
<td align="right">
    9.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 16:40:00
</td>
<td align="right">
    9.98
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 17:45:00
</td>
<td align="right">
    9.97
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 17:50:00
</td>
<td align="right">
    9.97
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 18:30:00
</td>
<td align="right">
    9.98
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-01 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 19:30:00
</td>
<td align="right">
    9.96
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-07-29 19:55:00
</td>
<td align="right">
   10.01
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-29 15:25:00
</td>
<td align="right">
  264.75
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   -1.41
</td>
<td>
Mon: 2011-08-01 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-29 15:35:00
</td>
<td align="right">
  264.27
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.63
</td>
<td>
Mon: 2011-08-01 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-29 19:45:00
</td>
<td align="right">
  264.89
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-07-29 14:00:00
</td>
<td align="right">
   61.87
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-01 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-07-29 15:50:00
</td>
<td align="right">
   61.95
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2011-08-01 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-07-29 16:05:00
</td>
<td align="right">
   61.85
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-01 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-07-29 16:20:00
</td>
<td align="right">
  177.02
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-08-01 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-07-29 14:15:00
</td>
<td align="right">
   41.30
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Mon: 2011-08-01 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-07-29 15:45:00
</td>
<td align="right">
   41.71
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-08-01 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-07-29 16:05:00
</td>
<td align="right">
   41.73
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-08-01 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-07-29 18:10:00
</td>
<td align="right">
   41.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-01 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-07-29 18:20:00
</td>
<td align="right">
   41.68
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-01 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-07-29 18:25:00
</td>
<td align="right">
   41.69
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-01 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-07-29 19:25:00
</td>
<td align="right">
   41.67
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-07-29 19:35:00
</td>
<td align="right">
   41.67
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-07-29 16:00:00
</td>
<td align="right">
   44.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-07-29 16:10:00
</td>
<td align="right">
   43.90
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-08-01 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-07-29 16:15:00
</td>
<td align="right">
   43.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-08-01 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-07-29 18:45:00
</td>
<td align="right">
   43.97
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-08-01 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 14:35:00
</td>
<td align="right">
  100.39
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Mon: 2011-08-01 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 14:45:00
</td>
<td align="right">
  100.59
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-01 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 14:55:00
</td>
<td align="right">
  100.77
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-08-01 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 15:55:00
</td>
<td align="right">
  100.63
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2011-08-01 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 16:05:00
</td>
<td align="right">
  100.01
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2011-08-01 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 17:50:00
</td>
<td align="right">
  100.91
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-01 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 18:20:00
</td>
<td align="right">
  100.88
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-08-01 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 18:55:00
</td>
<td align="right">
  100.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-08-01 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 19:10:00
</td>
<td align="right">
  100.74
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-29 19:45:00
</td>
<td align="right">
  100.35
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFC">WFC</a></td>
<td>
2011-07-29 15:15:00
</td>
<td align="right">
   28.47
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2011-08-01 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-07-29 16:15:00
</td>
<td align="right">
   69.28
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-01 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-07-29 16:25:00
</td>
<td align="right">
   69.36
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-01 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-29 17:40:00
</td>
<td align="right">
   52.97
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-01 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-29 17:50:00
</td>
<td align="right">
   52.99
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-01 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-29 19:40:00
</td>
<td align="right">
   79.88
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-01 19:40
</td>
</tr>
</table>
<br /><hr />