<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-09-19 17:35:00
</td>
<td align="right">
  134.17
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    1.32
</td>
<td>
Tue: 2011-09-20 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:00:00
</td>
<td align="right">
   81.25
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Tue: 2011-09-20 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:05:00
</td>
<td align="right">
   81.19
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2011-09-20 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:10:00
</td>
<td align="right">
   80.83
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    1.25
</td>
<td>
Tue: 2011-09-20 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:15:00
</td>
<td align="right">
   80.68
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    1.31
</td>
<td>
Tue: 2011-09-20 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:20:00
</td>
<td align="right">
   80.79
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    1.49
</td>
<td>
Tue: 2011-09-20 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:25:00
</td>
<td align="right">
   80.88
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    1.12
</td>
<td>
Tue: 2011-09-20 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:30:00
</td>
<td align="right">
   80.99
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .78
</td>
<td>
Tue: 2011-09-20 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:35:00
</td>
<td align="right">
   80.94
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    1.09
</td>
<td>
Tue: 2011-09-20 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:40:00
</td>
<td align="right">
   80.93
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    1.29
</td>
<td>
Tue: 2011-09-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:45:00
</td>
<td align="right">
   80.87
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    1.72
</td>
<td>
Tue: 2011-09-20 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:50:00
</td>
<td align="right">
   80.99
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    1.22
</td>
<td>
Tue: 2011-09-20 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 14:55:00
</td>
<td align="right">
   81.10
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    1.10
</td>
<td>
Tue: 2011-09-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:00:00
</td>
<td align="right">
   81.70
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .89
</td>
<td>
Tue: 2011-09-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:05:00
</td>
<td align="right">
   81.62
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .88
</td>
<td>
Tue: 2011-09-20 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:10:00
</td>
<td align="right">
   82.08
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-09-20 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:15:00
</td>
<td align="right">
   81.99
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-09-20 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:20:00
</td>
<td align="right">
   82.28
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Tue: 2011-09-20 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:25:00
</td>
<td align="right">
   82.00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-09-20 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:30:00
</td>
<td align="right">
   81.77
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-09-20 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:35:00
</td>
<td align="right">
   82.03
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2011-09-20 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:40:00
</td>
<td align="right">
   82.22
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2011-09-20 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:45:00
</td>
<td align="right">
   82.59
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.79
</td>
<td>
Tue: 2011-09-20 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:50:00
</td>
<td align="right">
   82.21
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2011-09-20 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 15:55:00
</td>
<td align="right">
   82.20
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2011-09-20 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:00:00
</td>
<td align="right">
   82.59
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Tue: 2011-09-20 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:05:00
</td>
<td align="right">
   82.50
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Tue: 2011-09-20 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:20:00
</td>
<td align="right">
   81.90
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:25:00
</td>
<td align="right">
   81.90
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-09-20 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:30:00
</td>
<td align="right">
   81.94
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-09-20 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:35:00
</td>
<td align="right">
   81.84
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-09-20 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:40:00
</td>
<td align="right">
   82.05
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-09-20 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:45:00
</td>
<td align="right">
   81.80
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2011-09-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:50:00
</td>
<td align="right">
   81.94
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-09-20 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 16:55:00
</td>
<td align="right">
   81.94
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2011-09-20 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:00:00
</td>
<td align="right">
   81.89
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-09-20 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:05:00
</td>
<td align="right">
   82.06
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2011-09-20 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:10:00
</td>
<td align="right">
   81.84
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .78
</td>
<td>
Tue: 2011-09-20 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:15:00
</td>
<td align="right">
   81.78
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    1.08
</td>
<td>
Tue: 2011-09-20 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:20:00
</td>
<td align="right">
   81.97
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Tue: 2011-09-20 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:25:00
</td>
<td align="right">
   82.00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2011-09-20 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:30:00
</td>
<td align="right">
   81.93
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Tue: 2011-09-20 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:35:00
</td>
<td align="right">
   81.89
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .89
</td>
<td>
Tue: 2011-09-20 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:40:00
</td>
<td align="right">
   82.15
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Tue: 2011-09-20 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:45:00
</td>
<td align="right">
   82.14
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .62
</td>
<td>
Tue: 2011-09-20 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:50:00
</td>
<td align="right">
   81.96
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Tue: 2011-09-20 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 17:55:00
</td>
<td align="right">
   82.18
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2011-09-20 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 18:00:00
</td>
<td align="right">
   81.91
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2011-09-20 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 18:05:00
</td>
<td align="right">
   82.25
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-09-20 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 19:00:00
</td>
<td align="right">
   82.28
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-19 19:05:00
</td>
<td align="right">
   82.11
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-19 14:00:00
</td>
<td align="right">
   81.86
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-09-20 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-19 14:45:00
</td>
<td align="right">
   81.59
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    1.00
</td>
<td>
Tue: 2011-09-20 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-19 15:00:00
</td>
<td align="right">
   81.72
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Tue: 2011-09-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-19 15:05:00
</td>
<td align="right">
   81.57
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .84
</td>
<td>
Tue: 2011-09-20 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-19 15:10:00
</td>
<td align="right">
   81.55
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .66
</td>
<td>
Tue: 2011-09-20 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-19 19:30:00
</td>
<td align="right">
   84.78
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-19 19:50:00
</td>
<td align="right">
   84.62
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 14:15:00
</td>
<td align="right">
   17.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 14:40:00
</td>
<td align="right">
   17.89
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2011-09-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 14:55:00
</td>
<td align="right">
   17.88
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 15:00:00
</td>
<td align="right">
   17.92
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-09-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 16:35:00
</td>
<td align="right">
   17.91
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-09-19 16:40:00
</td>
<td align="right">
  238.91
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2011-09-20 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-09-19 18:05:00
</td>
<td align="right">
  238.71
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .88
</td>
<td>
Tue: 2011-09-20 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-09-19 18:10:00
</td>
<td align="right">
  239.56
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.60
</td>
<td>
Tue: 2011-09-20 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-09-19 18:15:00
</td>
<td align="right">
  239.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.94
</td>
<td>
Tue: 2011-09-20 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-09-19 18:20:00
</td>
<td align="right">
  239.83
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    1.88
</td>
<td>
Tue: 2011-09-20 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-09-19 18:25:00
</td>
<td align="right">
  240.80
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    2.01
</td>
<td>
Tue: 2011-09-20 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-09-19 19:25:00
</td>
<td align="right">
  242.81
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 14:40:00
</td>
<td align="right">
   41.99
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2011-09-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 15:05:00
</td>
<td align="right">
   42.13
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2011-09-20 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 16:35:00
</td>
<td align="right">
   42.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 16:40:00
</td>
<td align="right">
   42.31
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2011-09-20 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 16:45:00
</td>
<td align="right">
   42.30
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-09-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 17:00:00
</td>
<td align="right">
   42.32
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-09-20 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-19 18:20:00
</td>
<td align="right">
  112.94
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .85
</td>
<td>
Tue: 2011-09-20 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-19 18:25:00
</td>
<td align="right">
  112.94
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .95
</td>
<td>
Tue: 2011-09-20 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-19 18:30:00
</td>
<td align="right">
  112.97
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    1.07
</td>
<td>
Tue: 2011-09-20 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 14:10:00
</td>
<td align="right">
   58.39
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2011-09-20 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 14:15:00
</td>
<td align="right">
   58.37
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2011-09-20 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 14:20:00
</td>
<td align="right">
   58.37
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2011-09-20 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 14:25:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2011-09-20 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 14:30:00
</td>
<td align="right">
   58.35
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2011-09-20 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 14:35:00
</td>
<td align="right">
   58.46
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2011-09-20 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 14:40:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2011-09-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 14:55:00
</td>
<td align="right">
   58.42
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Tue: 2011-09-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 15:10:00
</td>
<td align="right">
   58.69
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-09-20 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 15:15:00
</td>
<td align="right">
   58.74
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2011-09-20 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 15:20:00
</td>
<td align="right">
   58.76
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-09-20 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 15:35:00
</td>
<td align="right">
   58.72
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-09-20 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 15:40:00
</td>
<td align="right">
   58.71
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-09-20 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 16:30:00
</td>
<td align="right">
   58.78
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2011-09-20 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 16:35:00
</td>
<td align="right">
   58.76
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-09-20 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 16:40:00
</td>
<td align="right">
   58.81
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-09-20 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 16:45:00
</td>
<td align="right">
   58.76
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-09-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 16:50:00
</td>
<td align="right">
   58.70
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-09-20 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 16:55:00
</td>
<td align="right">
   58.68
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-09-20 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 17:05:00
</td>
<td align="right">
   58.73
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-09-20 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 17:10:00
</td>
<td align="right">
   58.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2011-09-20 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 17:35:00
</td>
<td align="right">
   58.69
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2011-09-20 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-09-19 18:00:00
</td>
<td align="right">
   58.73
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2011-09-20 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:00:00
</td>
<td align="right">
   64.02
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-09-20 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:05:00
</td>
<td align="right">
   63.80
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-09-20 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:10:00
</td>
<td align="right">
   63.96
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2011-09-20 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:15:00
</td>
<td align="right">
   63.58
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .72
</td>
<td>
Tue: 2011-09-20 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:20:00
</td>
<td align="right">
   63.57
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .72
</td>
<td>
Tue: 2011-09-20 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:25:00
</td>
<td align="right">
   63.64
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2011-09-20 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:35:00
</td>
<td align="right">
   63.55
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Tue: 2011-09-20 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:40:00
</td>
<td align="right">
   63.65
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Tue: 2011-09-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:45:00
</td>
<td align="right">
   63.67
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Tue: 2011-09-20 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:50:00
</td>
<td align="right">
   63.97
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2011-09-20 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:55:00
</td>
<td align="right">
   63.92
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2011-09-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 15:00:00
</td>
<td align="right">
   63.91
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2011-09-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 15:05:00
</td>
<td align="right">
   63.91
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-09-20 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 15:10:00
</td>
<td align="right">
   64.11
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-09-20 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 14:05:00
</td>
<td align="right">
   18.01
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-09-20 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 14:20:00
</td>
<td align="right">
   67.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-09-20 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 14:25:00
</td>
<td align="right">
   67.73
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2011-09-20 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 15:45:00
</td>
<td align="right">
   67.74
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-09-20 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:25:00
</td>
<td align="right">
   67.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-09-20 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:40:00
</td>
<td align="right">
   67.73
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2011-09-20 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:45:00
</td>
<td align="right">
   67.72
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-09-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:50:00
</td>
<td align="right">
   67.72
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-09-20 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:55:00
</td>
<td align="right">
   67.73
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-09-20 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:00:00
</td>
<td align="right">
   67.70
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-09-20 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:05:00
</td>
<td align="right">
   67.72
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-09-20 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:10:00
</td>
<td align="right">
   67.72
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-09-20 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:15:00
</td>
<td align="right">
   67.71
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:20:00
</td>
<td align="right">
   67.70
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:25:00
</td>
<td align="right">
   67.73
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-09-20 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:30:00
</td>
<td align="right">
   67.72
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-09-20 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:35:00
</td>
<td align="right">
   67.71
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2011-09-20 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:50:00
</td>
<td align="right">
   67.77
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-09-20 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 17:55:00
</td>
<td align="right">
   67.74
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-09-20 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:00:00
</td>
<td align="right">
   67.71
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-09-20 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:05:00
</td>
<td align="right">
   67.73
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-09-20 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:10:00
</td>
<td align="right">
   67.73
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-09-20 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:15:00
</td>
<td align="right">
   67.78
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-09-20 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:20:00
</td>
<td align="right">
   67.77
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-09-20 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:25:00
</td>
<td align="right">
   67.77
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2011-09-20 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:30:00
</td>
<td align="right">
   67.78
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-09-20 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:35:00
</td>
<td align="right">
   67.83
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:40:00
</td>
<td align="right">
   67.81
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-09-20 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:45:00
</td>
<td align="right">
   67.80
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-09-20 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:50:00
</td>
<td align="right">
   67.79
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-09-20 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 18:55:00
</td>
<td align="right">
   67.79
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2011-09-20 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:05:00
</td>
<td align="right">
   67.75
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:10:00
</td>
<td align="right">
   67.79
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:15:00
</td>
<td align="right">
   67.82
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:20:00
</td>
<td align="right">
   67.83
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:25:00
</td>
<td align="right">
   67.86
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:30:00
</td>
<td align="right">
   67.95
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:35:00
</td>
<td align="right">
   67.90
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:40:00
</td>
<td align="right">
   67.85
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:45:00
</td>
<td align="right">
   67.85
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:50:00
</td>
<td align="right">
   67.89
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 19:55:00
</td>
<td align="right">
   67.79
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 19:55
</td>
</tr>
</table>
<br /><hr />