<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-31 16:40:00
</td>
<td align="right">
   70.32
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-09-01 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-31 14:05:00
</td>
<td align="right">
  182.77
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .74
</td>
<td>
Thu: 2011-09-01 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-31 14:15:00
</td>
<td align="right">
  182.96
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-01 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-31 14:25:00
</td>
<td align="right">
  183.16
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-01 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-08-31 14:10:00
</td>
<td align="right">
   53.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-01 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-08-31 14:20:00
</td>
<td align="right">
   53.31
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-01 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-31 16:05:00
</td>
<td align="right">
  116.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-09-01 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 14:35:00
</td>
<td align="right">
   72.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2011-09-01 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 14:45:00
</td>
<td align="right">
   71.58
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2011-09-01 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 15:05:00
</td>
<td align="right">
   71.68
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Thu: 2011-09-01 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 15:30:00
</td>
<td align="right">
   71.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2011-09-01 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 15:40:00
</td>
<td align="right">
   71.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2011-09-01 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 16:00:00
</td>
<td align="right">
   71.47
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2011-09-01 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 16:05:00
</td>
<td align="right">
   71.40
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Thu: 2011-09-01 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 16:10:00
</td>
<td align="right">
   71.50
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Thu: 2011-09-01 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 16:25:00
</td>
<td align="right">
   71.52
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-01 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 16:30:00
</td>
<td align="right">
   71.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-01 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-31 16:35:00
</td>
<td align="right">
   71.42
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-01 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-31 18:55:00
</td>
<td align="right">
  121.86
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Thu: 2011-09-01 18:55
</td>
</tr>
</table>
<br /><hr />