<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-28 14:50:00
</td>
<td align="right">
   47.42
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Thu: 2011-09-29 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-28 15:10:00
</td>
<td align="right">
   47.35
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Thu: 2011-09-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-28 15:20:00
</td>
<td align="right">
   47.42
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2011-09-29 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-28 15:25:00
</td>
<td align="right">
   47.49
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Thu: 2011-09-29 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-28 15:30:00
</td>
<td align="right">
   47.43
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Thu: 2011-09-29 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-28 19:00:00
</td>
<td align="right">
   47.55
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-28 19:05:00
</td>
<td align="right">
   47.55
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-09-28 17:25:00
</td>
<td align="right">
   37.23
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2011-09-29 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-28 15:45:00
</td>
<td align="right">
   31.32
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2011-09-29 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-28 16:20:00
</td>
<td align="right">
   31.18
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-09-29 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-28 16:45:00
</td>
<td align="right">
   31.12
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2011-09-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-28 17:00:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Thu: 2011-09-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-28 17:10:00
</td>
<td align="right">
   31.10
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Thu: 2011-09-29 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-28 15:30:00
</td>
<td align="right">
   68.59
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.49
</td>
<td>
Thu: 2011-09-29 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-28 17:35:00
</td>
<td align="right">
   45.13
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2011-09-29 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-28 18:35:00
</td>
<td align="right">
   45.03
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.57
</td>
<td>
Thu: 2011-09-29 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-09-28 18:25:00
</td>
<td align="right">
   40.99
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    1.36
</td>
<td>
Thu: 2011-09-29 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 18:05:00
</td>
<td align="right">
   51.55
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2011-09-29 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 18:10:00
</td>
<td align="right">
   51.52
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Thu: 2011-09-29 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 18:15:00
</td>
<td align="right">
   51.57
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2011-09-29 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 19:20:00
</td>
<td align="right">
   51.68
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-28 17:50:00
</td>
<td align="right">
   28.93
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2011-09-29 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-28 17:00:00
</td>
<td align="right">
   73.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.21
</td>
<td>
Thu: 2011-09-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 14:30:00
</td>
<td align="right">
   54.05
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-09-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 14:35:00
</td>
<td align="right">
   53.97
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Thu: 2011-09-29 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 14:45:00
</td>
<td align="right">
   54.04
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Thu: 2011-09-29 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 14:50:00
</td>
<td align="right">
   54.15
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Thu: 2011-09-29 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 14:55:00
</td>
<td align="right">
   54.01
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .53
</td>
<td>
Thu: 2011-09-29 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 15:00:00
</td>
<td align="right">
   53.95
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Thu: 2011-09-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 15:05:00
</td>
<td align="right">
   54.04
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2011-09-29 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 15:10:00
</td>
<td align="right">
   53.97
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2011-09-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 15:20:00
</td>
<td align="right">
   54.00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-09-29 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 15:25:00
</td>
<td align="right">
   54.02
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Thu: 2011-09-29 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:05:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-09-29 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:10:00
</td>
<td align="right">
   54.22
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-09-29 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:15:00
</td>
<td align="right">
   54.25
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2011-09-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:20:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-09-29 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:25:00
</td>
<td align="right">
   54.37
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2011-09-29 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:30:00
</td>
<td align="right">
   54.25
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2011-09-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:35:00
</td>
<td align="right">
   54.32
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2011-09-29 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:40:00
</td>
<td align="right">
   54.22
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2011-09-29 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:45:00
</td>
<td align="right">
   54.25
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2011-09-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 16:50:00
</td>
<td align="right">
   54.25
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2011-09-29 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 17:00:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Thu: 2011-09-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 17:05:00
</td>
<td align="right">
   54.18
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2011-09-29 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 17:10:00
</td>
<td align="right">
   54.19
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-09-29 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 17:20:00
</td>
<td align="right">
   54.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2011-09-29 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 17:25:00
</td>
<td align="right">
   54.14
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-09-29 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 17:35:00
</td>
<td align="right">
   54.12
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-09-29 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 17:40:00
</td>
<td align="right">
   54.12
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2011-09-29 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 17:50:00
</td>
<td align="right">
   54.06
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2011-09-29 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 18:25:00
</td>
<td align="right">
   54.07
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-09-29 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 18:35:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2011-09-29 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 18:40:00
</td>
<td align="right">
   54.22
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2011-09-29 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 18:45:00
</td>
<td align="right">
   54.18
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2011-09-29 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 18:50:00
</td>
<td align="right">
   54.22
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Thu: 2011-09-29 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 19:20:00
</td>
<td align="right">
   54.23
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 19:35:00
</td>
<td align="right">
   53.99
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-28 19:40:00
</td>
<td align="right">
   54.09
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-28 15:00:00
</td>
<td align="right">
   66.22
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    2.08
</td>
<td>
Thu: 2011-09-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-28 14:30:00
</td>
<td align="right">
   37.39
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-09-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-28 18:10:00
</td>
<td align="right">
   37.48
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-09-29 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-28 19:30:00
</td>
<td align="right">
   37.48
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-09-28 18:00:00
</td>
<td align="right">
   28.34
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2011-09-29 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 16:10:00
</td>
<td align="right">
   52.03
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2011-09-29 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 16:25:00
</td>
<td align="right">
   52.05
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2011-09-29 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 17:10:00
</td>
<td align="right">
   51.77
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2011-09-29 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 17:15:00
</td>
<td align="right">
   51.79
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2011-09-29 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 17:20:00
</td>
<td align="right">
   51.76
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2011-09-29 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 17:35:00
</td>
<td align="right">
   51.74
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-09-29 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 18:25:00
</td>
<td align="right">
   51.54
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-09-29 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 18:35:00
</td>
<td align="right">
   51.72
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2011-09-29 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-28 19:00:00
</td>
<td align="right">
   51.80
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-28 15:00:00
</td>
<td align="right">
   28.78
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2011-09-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 14:45:00
</td>
<td align="right">
   88.80
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Thu: 2011-09-29 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 14:50:00
</td>
<td align="right">
   88.92
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Thu: 2011-09-29 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 15:10:00
</td>
<td align="right">
   88.88
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Thu: 2011-09-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 15:15:00
</td>
<td align="right">
   88.89
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Thu: 2011-09-29 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 15:45:00
</td>
<td align="right">
   89.30
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-09-29 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 16:00:00
</td>
<td align="right">
   89.45
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2011-09-29 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 16:15:00
</td>
<td align="right">
   89.30
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-09-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 16:20:00
</td>
<td align="right">
   89.33
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2011-09-29 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 17:20:00
</td>
<td align="right">
   89.15
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Thu: 2011-09-29 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 17:55:00
</td>
<td align="right">
   88.52
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Thu: 2011-09-29 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 18:00:00
</td>
<td align="right">
   88.23
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .92
</td>
<td>
Thu: 2011-09-29 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 18:05:00
</td>
<td align="right">
   88.28
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .81
</td>
<td>
Thu: 2011-09-29 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-28 19:00:00
</td>
<td align="right">
   89.15
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 14:05:00
</td>
<td align="right">
   86.25
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.64
</td>
<td>
Thu: 2011-09-29 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 14:10:00
</td>
<td align="right">
   86.17
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Thu: 2011-09-29 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 14:30:00
</td>
<td align="right">
   85.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-09-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 14:50:00
</td>
<td align="right">
   86.10
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Thu: 2011-09-29 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 15:00:00
</td>
<td align="right">
   85.65
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .64
</td>
<td>
Thu: 2011-09-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 15:05:00
</td>
<td align="right">
   85.61
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Thu: 2011-09-29 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 15:10:00
</td>
<td align="right">
   85.89
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-09-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 15:15:00
</td>
<td align="right">
   85.71
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2011-09-29 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 15:20:00
</td>
<td align="right">
   85.88
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-09-29 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 15:25:00
</td>
<td align="right">
   85.78
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2011-09-29 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 15:45:00
</td>
<td align="right">
   86.13
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Thu: 2011-09-29 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 15:55:00
</td>
<td align="right">
   86.40
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Thu: 2011-09-29 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 16:00:00
</td>
<td align="right">
   86.29
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Thu: 2011-09-29 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 16:15:00
</td>
<td align="right">
   85.81
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2011-09-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 16:20:00
</td>
<td align="right">
   85.83
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.66
</td>
<td>
Thu: 2011-09-29 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 16:30:00
</td>
<td align="right">
   85.75
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.61
</td>
<td>
Thu: 2011-09-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 16:35:00
</td>
<td align="right">
   85.89
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Thu: 2011-09-29 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 16:40:00
</td>
<td align="right">
   85.68
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Thu: 2011-09-29 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 16:45:00
</td>
<td align="right">
   85.60
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Thu: 2011-09-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 16:50:00
</td>
<td align="right">
   85.38
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Thu: 2011-09-29 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 17:00:00
</td>
<td align="right">
   85.75
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   -1.32
</td>
<td>
Thu: 2011-09-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 17:05:00
</td>
<td align="right">
   85.54
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.60
</td>
<td>
Thu: 2011-09-29 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 17:10:00
</td>
<td align="right">
   85.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.62
</td>
<td>
Thu: 2011-09-29 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 17:15:00
</td>
<td align="right">
   85.38
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2011-09-29 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 17:35:00
</td>
<td align="right">
   85.36
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-09-29 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 17:40:00
</td>
<td align="right">
   85.35
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-09-29 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 18:25:00
</td>
<td align="right">
   84.88
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2011-09-29 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 18:30:00
</td>
<td align="right">
   85.13
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2011-09-29 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 18:35:00
</td>
<td align="right">
   85.29
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.73
</td>
<td>
Thu: 2011-09-29 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-28 19:10:00
</td>
<td align="right">
   85.37
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-29 19:10
</td>
</tr>
</table>
<br /><hr />