<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 14:35:00
</td>
<td align="right">
  128.55
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.97
</td>
<td>
Tue: 2011-07-19 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 14:45:00
</td>
<td align="right">
  128.38
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Tue: 2011-07-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 14:50:00
</td>
<td align="right">
  128.24
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Tue: 2011-07-19 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 14:55:00
</td>
<td align="right">
  128.26
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Tue: 2011-07-19 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 15:00:00
</td>
<td align="right">
  128.16
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2011-07-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 15:05:00
</td>
<td align="right">
  128.15
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2011-07-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 16:00:00
</td>
<td align="right">
  127.93
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .72
</td>
<td>
Tue: 2011-07-19 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 16:10:00
</td>
<td align="right">
  128.14
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .58
</td>
<td>
Tue: 2011-07-19 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 16:15:00
</td>
<td align="right">
  128.09
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Tue: 2011-07-19 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 16:20:00
</td>
<td align="right">
  128.16
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .65
</td>
<td>
Tue: 2011-07-19 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 16:25:00
</td>
<td align="right">
  128.15
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .90
</td>
<td>
Tue: 2011-07-19 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 16:30:00
</td>
<td align="right">
  128.23
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    1.03
</td>
<td>
Tue: 2011-07-19 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 16:35:00
</td>
<td align="right">
  128.44
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    1.23
</td>
<td>
Tue: 2011-07-19 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 17:35:00
</td>
<td align="right">
  129.67
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Tue: 2011-07-19 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 17:40:00
</td>
<td align="right">
  129.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Tue: 2011-07-19 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 17:45:00
</td>
<td align="right">
  129.73
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Tue: 2011-07-19 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 17:50:00
</td>
<td align="right">
  129.75
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Tue: 2011-07-19 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 17:55:00
</td>
<td align="right">
  129.65
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2011-07-19 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 18:05:00
</td>
<td align="right">
  129.63
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Tue: 2011-07-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 18:15:00
</td>
<td align="right">
  129.64
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Tue: 2011-07-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 19:35:00
</td>
<td align="right">
  129.49
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 19:50:00
</td>
<td align="right">
  129.59
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-18 19:55:00
</td>
<td align="right">
  129.53
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-07-18 15:25:00
</td>
<td align="right">
   56.44
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-07-19 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-07-18 15:30:00
</td>
<td align="right">
   56.48
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-07-18 15:35:00
</td>
<td align="right">
   56.40
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2011-07-19 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-07-18 18:30:00
</td>
<td align="right">
   56.31
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-07-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-07-18 18:40:00
</td>
<td align="right">
   56.45
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-07-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-07-18 18:45:00
</td>
<td align="right">
   56.40
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-07-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 14:00:00
</td>
<td align="right">
   38.30
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-07-19 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 14:05:00
</td>
<td align="right">
   38.21
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 14:10:00
</td>
<td align="right">
   38.21
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-07-19 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 14:15:00
</td>
<td align="right">
   38.16
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 14:20:00
</td>
<td align="right">
   38.18
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-07-19 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 14:25:00
</td>
<td align="right">
   38.20
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-07-19 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 14:40:00
</td>
<td align="right">
   38.17
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-07-19 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 14:50:00
</td>
<td align="right">
   38.10
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 15:00:00
</td>
<td align="right">
   38.12
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-07-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 15:05:00
</td>
<td align="right">
   38.11
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-07-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 15:15:00
</td>
<td align="right">
   38.10
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-07-19 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 15:20:00
</td>
<td align="right">
   38.10
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-07-19 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 15:25:00
</td>
<td align="right">
   38.11
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2011-07-19 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 15:50:00
</td>
<td align="right">
   38.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-07-19 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:05:00
</td>
<td align="right">
   37.99
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-07-19 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:15:00
</td>
<td align="right">
   37.99
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-07-19 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:20:00
</td>
<td align="right">
   37.98
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:25:00
</td>
<td align="right">
   37.96
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-07-19 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:30:00
</td>
<td align="right">
   37.97
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:35:00
</td>
<td align="right">
   37.98
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:40:00
</td>
<td align="right">
   37.93
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-07-19 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:45:00
</td>
<td align="right">
   37.92
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-07-19 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:50:00
</td>
<td align="right">
   37.87
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-07-19 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 16:55:00
</td>
<td align="right">
   37.93
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-07-19 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:00:00
</td>
<td align="right">
   37.92
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-07-19 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:05:00
</td>
<td align="right">
   37.95
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-07-19 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:10:00
</td>
<td align="right">
   37.92
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-07-19 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:15:00
</td>
<td align="right">
   37.88
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-07-19 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:20:00
</td>
<td align="right">
   37.88
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-07-19 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:25:00
</td>
<td align="right">
   37.87
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-07-19 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:30:00
</td>
<td align="right">
   37.90
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-07-19 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:35:00
</td>
<td align="right">
   37.91
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-07-19 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:40:00
</td>
<td align="right">
   37.91
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-07-19 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:45:00
</td>
<td align="right">
   37.90
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-07-19 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:50:00
</td>
<td align="right">
   37.91
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-07-19 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 17:55:00
</td>
<td align="right">
   37.88
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2011-07-19 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 18:00:00
</td>
<td align="right">
   37.91
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2011-07-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 18:05:00
</td>
<td align="right">
   37.93
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-07-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 18:10:00
</td>
<td align="right">
   37.96
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-07-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 18:15:00
</td>
<td align="right">
   37.95
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-07-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 18:20:00
</td>
<td align="right">
   37.92
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-07-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 18:25:00
</td>
<td align="right">
   37.91
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-07-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-18 18:30:00
</td>
<td align="right">
   37.87
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-07-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-18 15:25:00
</td>
<td align="right">
   66.39
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.86
</td>
<td>
Tue: 2011-07-19 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-18 19:35:00
</td>
<td align="right">
   66.67
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-18 19:40:00
</td>
<td align="right">
   66.48
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-18 19:45:00
</td>
<td align="right">
   66.51
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-18 19:50:00
</td>
<td align="right">
   66.51
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 14:20:00
</td>
<td align="right">
  153.42
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2011-07-19 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 14:25:00
</td>
<td align="right">
  153.45
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2011-07-19 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 14:45:00
</td>
<td align="right">
  152.99
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2011-07-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 14:55:00
</td>
<td align="right">
  152.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.82
</td>
<td>
Tue: 2011-07-19 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 15:00:00
</td>
<td align="right">
  152.95
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.57
</td>
<td>
Tue: 2011-07-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 15:05:00
</td>
<td align="right">
  153.03
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.74
</td>
<td>
Tue: 2011-07-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 15:10:00
</td>
<td align="right">
  153.11
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.58
</td>
<td>
Tue: 2011-07-19 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 15:15:00
</td>
<td align="right">
  153.18
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.67
</td>
<td>
Tue: 2011-07-19 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 15:20:00
</td>
<td align="right">
  153.16
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.93
</td>
<td>
Tue: 2011-07-19 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 15:25:00
</td>
<td align="right">
  153.26
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.06
</td>
<td>
Tue: 2011-07-19 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-18 15:40:00
</td>
<td align="right">
  152.89
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2011-07-19 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 17:05:00
</td>
<td align="right">
   62.12
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2011-07-19 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 17:15:00
</td>
<td align="right">
   62.10
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2011-07-19 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 19:25:00
</td>
<td align="right">
   61.97
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 19:30:00
</td>
<td align="right">
   61.97
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 19:35:00
</td>
<td align="right">
   62.09
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 19:40:00
</td>
<td align="right">
   61.91
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 19:45:00
</td>
<td align="right">
   62.00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 19:50:00
</td>
<td align="right">
   62.09
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-18 19:55:00
</td>
<td align="right">
   62.09
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:00:00
</td>
<td align="right">
   11.74
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-07-19 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:05:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2011-07-19 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:10:00
</td>
<td align="right">
   11.70
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2011-07-19 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:15:00
</td>
<td align="right">
   11.72
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2011-07-19 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:20:00
</td>
<td align="right">
   11.73
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2011-07-19 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:25:00
</td>
<td align="right">
   11.76
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2011-07-19 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:30:00
</td>
<td align="right">
   11.77
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2011-07-19 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:35:00
</td>
<td align="right">
   11.71
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2011-07-19 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:40:00
</td>
<td align="right">
   11.79
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2011-07-19 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:45:00
</td>
<td align="right">
   11.81
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-07-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:50:00
</td>
<td align="right">
   11.82
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-07-19 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 14:55:00
</td>
<td align="right">
   11.88
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:00:00
</td>
<td align="right">
   11.92
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-07-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:05:00
</td>
<td align="right">
   11.94
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-07-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:10:00
</td>
<td align="right">
   11.93
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-07-19 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:15:00
</td>
<td align="right">
   11.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-07-19 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:30:00
</td>
<td align="right">
   11.99
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-07-19 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:35:00
</td>
<td align="right">
   11.92
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:40:00
</td>
<td align="right">
   11.92
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:45:00
</td>
<td align="right">
   11.86
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:50:00
</td>
<td align="right">
   11.84
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-07-19 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 15:55:00
</td>
<td align="right">
   11.81
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2011-07-19 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:00:00
</td>
<td align="right">
   11.90
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-07-19 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:20:00
</td>
<td align="right">
   11.85
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:25:00
</td>
<td align="right">
   11.86
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-07-19 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:30:00
</td>
<td align="right">
   11.85
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:35:00
</td>
<td align="right">
   11.85
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2011-07-19 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:40:00
</td>
<td align="right">
   11.82
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-07-19 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:45:00
</td>
<td align="right">
   11.79
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-07-19 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:50:00
</td>
<td align="right">
   11.81
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2011-07-19 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 16:55:00
</td>
<td align="right">
   11.81
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-07-19 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:00:00
</td>
<td align="right">
   11.79
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-07-19 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:05:00
</td>
<td align="right">
   11.77
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:10:00
</td>
<td align="right">
   11.79
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:15:00
</td>
<td align="right">
   11.76
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:20:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-07-19 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:25:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-07-19 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:30:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-07-19 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:35:00
</td>
<td align="right">
   11.70
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:40:00
</td>
<td align="right">
   11.69
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:45:00
</td>
<td align="right">
   11.66
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:50:00
</td>
<td align="right">
   11.66
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 17:55:00
</td>
<td align="right">
   11.69
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:00:00
</td>
<td align="right">
   11.67
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-07-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:05:00
</td>
<td align="right">
   11.70
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-07-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:10:00
</td>
<td align="right">
   11.69
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-07-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:15:00
</td>
<td align="right">
   11.69
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-07-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:20:00
</td>
<td align="right">
   11.67
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-07-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:25:00
</td>
<td align="right">
   11.66
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2011-07-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:30:00
</td>
<td align="right">
   11.61
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2011-07-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:35:00
</td>
<td align="right">
   11.60
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2011-07-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:40:00
</td>
<td align="right">
   11.63
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-07-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:45:00
</td>
<td align="right">
   11.60
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-07-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:50:00
</td>
<td align="right">
   11.60
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2011-07-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 18:55:00
</td>
<td align="right">
   11.63
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2011-07-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:00:00
</td>
<td align="right">
   11.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:05:00
</td>
<td align="right">
   11.69
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:10:00
</td>
<td align="right">
   11.65
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:15:00
</td>
<td align="right">
   11.66
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:20:00
</td>
<td align="right">
   11.65
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:25:00
</td>
<td align="right">
   11.66
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:30:00
</td>
<td align="right">
   11.70
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:35:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:40:00
</td>
<td align="right">
   11.74
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:45:00
</td>
<td align="right">
   11.74
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:50:00
</td>
<td align="right">
   11.82
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-18 19:55:00
</td>
<td align="right">
   11.83
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-07-18 14:45:00
</td>
<td align="right">
   72.52
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2011-07-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-07-18 15:05:00
</td>
<td align="right">
   72.52
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-07-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-07-18 15:15:00
</td>
<td align="right">
   72.49
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-07-18 15:25:00
</td>
<td align="right">
   72.53
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2011-07-19 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-18 14:40:00
</td>
<td align="right">
   59.84
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Tue: 2011-07-19 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 14:15:00
</td>
<td align="right">
   68.71
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-07-19 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 14:20:00
</td>
<td align="right">
   68.84
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-07-19 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 14:30:00
</td>
<td align="right">
   68.85
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 14:35:00
</td>
<td align="right">
   68.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2011-07-19 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 14:45:00
</td>
<td align="right">
   68.83
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Tue: 2011-07-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 14:50:00
</td>
<td align="right">
   68.79
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2011-07-19 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 14:55:00
</td>
<td align="right">
   68.88
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Tue: 2011-07-19 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 15:00:00
</td>
<td align="right">
   68.87
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2011-07-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 15:05:00
</td>
<td align="right">
   68.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2011-07-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 15:10:00
</td>
<td align="right">
   68.86
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2011-07-19 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 15:15:00
</td>
<td align="right">
   68.81
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2011-07-19 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 15:20:00
</td>
<td align="right">
   68.80
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2011-07-19 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 15:25:00
</td>
<td align="right">
   68.82
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Tue: 2011-07-19 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 15:30:00
</td>
<td align="right">
   68.75
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2011-07-19 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 15:35:00
</td>
<td align="right">
   68.61
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-07-19 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 16:25:00
</td>
<td align="right">
   68.44
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2011-07-19 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 16:35:00
</td>
<td align="right">
   68.58
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-07-19 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 16:55:00
</td>
<td align="right">
   68.67
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-07-19 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 17:00:00
</td>
<td align="right">
   68.63
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2011-07-19 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 17:05:00
</td>
<td align="right">
   68.61
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2011-07-19 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 17:30:00
</td>
<td align="right">
   68.59
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2011-07-19 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 17:35:00
</td>
<td align="right">
   68.64
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-07-19 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 17:40:00
</td>
<td align="right">
   68.65
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-07-19 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 17:45:00
</td>
<td align="right">
   68.63
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2011-07-19 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-18 18:05:00
</td>
<td align="right">
   68.82
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-07-18 19:35:00
</td>
<td align="right">
   26.61
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:05:00
</td>
<td align="right">
   67.20
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2011-07-19 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:10:00
</td>
<td align="right">
   67.22
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.45
</td>
<td>
Tue: 2011-07-19 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:15:00
</td>
<td align="right">
   67.13
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2011-07-19 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:20:00
</td>
<td align="right">
   67.11
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2011-07-19 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:25:00
</td>
<td align="right">
   67.13
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Tue: 2011-07-19 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:30:00
</td>
<td align="right">
   67.03
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-07-19 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:35:00
</td>
<td align="right">
   67.07
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2011-07-19 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:40:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Tue: 2011-07-19 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:45:00
</td>
<td align="right">
   66.92
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-07-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 14:55:00
</td>
<td align="right">
   66.92
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2011-07-19 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 15:00:00
</td>
<td align="right">
   66.87
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2011-07-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 15:05:00
</td>
<td align="right">
   66.92
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2011-07-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 15:50:00
</td>
<td align="right">
   66.61
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-07-19 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:10:00
</td>
<td align="right">
   66.62
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-07-19 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:15:00
</td>
<td align="right">
   66.69
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2011-07-19 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:20:00
</td>
<td align="right">
   66.66
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-07-19 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:25:00
</td>
<td align="right">
   66.68
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:30:00
</td>
<td align="right">
   66.74
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:35:00
</td>
<td align="right">
   66.83
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-07-19 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:40:00
</td>
<td align="right">
   66.80
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:45:00
</td>
<td align="right">
   66.68
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-07-19 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:50:00
</td>
<td align="right">
   66.66
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-07-19 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 16:55:00
</td>
<td align="right">
   66.64
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-07-19 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 17:25:00
</td>
<td align="right">
   66.62
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-07-19 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 17:30:00
</td>
<td align="right">
   66.67
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-07-19 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 17:35:00
</td>
<td align="right">
   66.72
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 17:40:00
</td>
<td align="right">
   66.70
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-07-19 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 17:45:00
</td>
<td align="right">
   66.75
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 17:50:00
</td>
<td align="right">
   66.80
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-07-19 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 17:55:00
</td>
<td align="right">
   66.78
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-18 18:25:00
</td>
<td align="right">
   66.73
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-07-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:05:00
</td>
<td align="right">
   50.71
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:10:00
</td>
<td align="right">
   50.73
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:15:00
</td>
<td align="right">
   50.78
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:20:00
</td>
<td align="right">
   50.79
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-07-19 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:25:00
</td>
<td align="right">
   50.81
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2011-07-19 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:30:00
</td>
<td align="right">
   50.75
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-07-19 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:35:00
</td>
<td align="right">
   50.73
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:40:00
</td>
<td align="right">
   50.74
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2011-07-19 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:45:00
</td>
<td align="right">
   50.74
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-07-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:50:00
</td>
<td align="right">
   50.70
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-07-19 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 14:55:00
</td>
<td align="right">
   50.72
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-07-19 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 15:00:00
</td>
<td align="right">
   50.66
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 15:05:00
</td>
<td align="right">
   50.65
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-07-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 15:10:00
</td>
<td align="right">
   50.63
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-07-19 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 15:15:00
</td>
<td align="right">
   50.71
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-07-19 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 15:20:00
</td>
<td align="right">
   50.67
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-07-19 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 15:25:00
</td>
<td align="right">
   50.65
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-07-19 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 15:30:00
</td>
<td align="right">
   50.64
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-07-19 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 15:35:00
</td>
<td align="right">
   50.63
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-07-19 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 16:10:00
</td>
<td align="right">
   50.68
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2011-07-19 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 16:20:00
</td>
<td align="right">
   50.65
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2011-07-19 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 18:55:00
</td>
<td align="right">
   50.66
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-07-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-07-18 19:15:00
</td>
<td align="right">
   50.67
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 16:00:00
</td>
<td align="right">
   95.38
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-07-19 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 16:05:00
</td>
<td align="right">
   95.35
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-07-19 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 16:10:00
</td>
<td align="right">
   95.30
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-07-19 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 16:15:00
</td>
<td align="right">
   95.36
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-07-19 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 16:20:00
</td>
<td align="right">
   95.31
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2011-07-19 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 16:25:00
</td>
<td align="right">
   95.33
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2011-07-19 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 17:00:00
</td>
<td align="right">
   95.37
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-07-19 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 17:05:00
</td>
<td align="right">
   95.34
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-07-19 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 17:10:00
</td>
<td align="right">
   95.35
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-07-19 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 17:35:00
</td>
<td align="right">
   95.35
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2011-07-19 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 17:40:00
</td>
<td align="right">
   95.35
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-07-19 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 17:45:00
</td>
<td align="right">
   95.30
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-07-19 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 17:50:00
</td>
<td align="right">
   95.25
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2011-07-19 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 17:55:00
</td>
<td align="right">
   95.23
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2011-07-19 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 18:00:00
</td>
<td align="right">
   95.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2011-07-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 18:05:00
</td>
<td align="right">
   95.29
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-07-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 18:10:00
</td>
<td align="right">
   95.31
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2011-07-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 18:15:00
</td>
<td align="right">
   95.28
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2011-07-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 18:20:00
</td>
<td align="right">
   95.37
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-07-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 19:50:00
</td>
<td align="right">
   95.37
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-18 19:55:00
</td>
<td align="right">
   95.24
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-07-19 19:55
</td>
</tr>
</table>
<br /><hr />