<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 14:30:00
</td>
<td align="right">
   31.73
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-08-24 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 14:55:00
</td>
<td align="right">
   31.65
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-08-24 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 16:10:00
</td>
<td align="right">
   31.52
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-08-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 16:20:00
</td>
<td align="right">
   31.44
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-08-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 16:25:00
</td>
<td align="right">
   31.45
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2011-08-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 16:35:00
</td>
<td align="right">
   31.48
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-08-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 16:40:00
</td>
<td align="right">
   31.50
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-08-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 16:50:00
</td>
<td align="right">
   31.55
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2011-08-24 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 16:55:00
</td>
<td align="right">
   31.56
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2011-08-24 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 17:00:00
</td>
<td align="right">
   31.52
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-08-24 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 17:15:00
</td>
<td align="right">
   31.46
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-08-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 17:20:00
</td>
<td align="right">
   31.48
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2011-08-24 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 17:45:00
</td>
<td align="right">
   31.52
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-08-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 17:50:00
</td>
<td align="right">
   31.43
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2011-08-24 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 17:55:00
</td>
<td align="right">
   31.40
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2011-08-24 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 18:00:00
</td>
<td align="right">
   31.47
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Wed: 2011-08-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 18:05:00
</td>
<td align="right">
   31.45
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .59
</td>
<td>
Wed: 2011-08-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 18:10:00
</td>
<td align="right">
   31.40
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .58
</td>
<td>
Wed: 2011-08-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 18:15:00
</td>
<td align="right">
   31.47
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Wed: 2011-08-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 18:25:00
</td>
<td align="right">
   31.43
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Wed: 2011-08-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 18:35:00
</td>
<td align="right">
   31.40
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Wed: 2011-08-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 18:45:00
</td>
<td align="right">
   31.65
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Wed: 2011-08-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-23 19:35:00
</td>
<td align="right">
   31.96
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 14:00:00
</td>
<td align="right">
   10.18
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2011-08-24 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 14:05:00
</td>
<td align="right">
   10.17
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2011-08-24 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 14:15:00
</td>
<td align="right">
   10.11
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2011-08-24 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-23 15:00:00
</td>
<td align="right">
  210.97
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    2.03
</td>
<td>
Wed: 2011-08-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-23 15:30:00
</td>
<td align="right">
  212.15
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    2.82
</td>
<td>
Wed: 2011-08-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-23 17:45:00
</td>
<td align="right">
  217.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    1.18
</td>
<td>
Wed: 2011-08-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-23 18:55:00
</td>
<td align="right">
  217.55
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.99
</td>
<td>
Wed: 2011-08-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-23 19:15:00
</td>
<td align="right">
  218.90
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-23 19:25:00
</td>
<td align="right">
  217.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-08-23 18:20:00
</td>
<td align="right">
   12.85
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2011-08-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-23 15:30:00
</td>
<td align="right">
   46.83
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2011-08-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-23 16:20:00
</td>
<td align="right">
   47.27
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2011-08-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2011-08-23 17:30:00
</td>
<td align="right">
   50.63
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Wed: 2011-08-24 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2011-08-23 19:55:00
</td>
<td align="right">
   50.69
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-08-23 15:35:00
</td>
<td align="right">
   28.09
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2011-08-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-23 16:35:00
</td>
<td align="right">
   64.23
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Wed: 2011-08-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 15:25:00
</td>
<td align="right">
    9.97
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2011-08-24 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 15:35:00
</td>
<td align="right">
    9.90
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2011-08-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 16:00:00
</td>
<td align="right">
    9.75
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-08-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 16:05:00
</td>
<td align="right">
    9.78
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-08-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 16:40:00
</td>
<td align="right">
    9.75
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-08-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 17:10:00
</td>
<td align="right">
    9.76
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-08-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 17:15:00
</td>
<td align="right">
    9.75
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-08-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 17:20:00
</td>
<td align="right">
    9.75
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-08-24 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 18:15:00
</td>
<td align="right">
    9.75
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-08-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 18:20:00
</td>
<td align="right">
    9.75
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-08-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 18:30:00
</td>
<td align="right">
    9.75
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-08-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 18:35:00
</td>
<td align="right">
    9.69
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-08-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 18:40:00
</td>
<td align="right">
    9.74
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2011-08-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 18:55:00
</td>
<td align="right">
    9.71
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-08-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-08-23 19:30:00
</td>
<td align="right">
    9.67
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-23 14:00:00
</td>
<td align="right">
   52.23
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .88
</td>
<td>
Wed: 2011-08-24 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-23 14:05:00
</td>
<td align="right">
   52.49
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Wed: 2011-08-24 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-23 14:10:00
</td>
<td align="right">
   52.61
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2011-08-24 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-23 14:15:00
</td>
<td align="right">
   52.51
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Wed: 2011-08-24 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-23 14:20:00
</td>
<td align="right">
   52.60
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Wed: 2011-08-24 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-23 14:25:00
</td>
<td align="right">
   52.66
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Wed: 2011-08-24 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-23 16:10:00
</td>
<td align="right">
   53.30
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .62
</td>
<td>
Wed: 2011-08-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-23 16:20:00
</td>
<td align="right">
   53.14
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .69
</td>
<td>
Wed: 2011-08-24 16:20
</td>
</tr>
</table>
<br /><hr />