<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CREE">CREE</a></td>
<td>
2011-08-10 13:40:00
</td>
<td align="right">
   33.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 13:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CREE">CREE</a></td>
<td>
2011-08-10 13:45:00
</td>
<td align="right">
   33.97
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 13:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CREE">CREE</a></td>
<td>
2011-08-10 13:50:00
</td>
<td align="right">
   33.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 13:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-10 13:35:00
</td>
<td align="right">
  129.78
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 13:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-10 14:20:00
</td>
<td align="right">
   57.65
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 14:20
</td>
</tr>
</table>
<br /><hr />