<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-09-19 17:35:00
</td>
<td align="right">
  134.17
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 14:40:00
</td>
<td align="right">
   17.89
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2011-09-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 14:55:00
</td>
<td align="right">
   17.88
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-09-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 15:00:00
</td>
<td align="right">
   17.92
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-09-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-19 16:35:00
</td>
<td align="right">
   17.92
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 14:40:00
</td>
<td align="right">
   41.99
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2011-09-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 15:05:00
</td>
<td align="right">
   42.13
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2011-09-20 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 16:35:00
</td>
<td align="right">
   42.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 16:40:00
</td>
<td align="right">
   42.31
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 16:45:00
</td>
<td align="right">
   42.30
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-19 17:00:00
</td>
<td align="right">
   42.31
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 13:55:00
</td>
<td align="right">
   63.96
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-09-20 13:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:00:00
</td>
<td align="right">
   64.02
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-09-20 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:05:00
</td>
<td align="right">
   63.80
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-09-20 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:10:00
</td>
<td align="right">
   63.96
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-09-20 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:15:00
</td>
<td align="right">
   63.58
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:20:00
</td>
<td align="right">
   63.57
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:25:00
</td>
<td align="right">
   63.64
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:35:00
</td>
<td align="right">
   63.55
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:40:00
</td>
<td align="right">
   63.65
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:45:00
</td>
<td align="right">
   63.67
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:50:00
</td>
<td align="right">
   63.97
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 14:55:00
</td>
<td align="right">
   63.92
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 15:00:00
</td>
<td align="right">
   63.91
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 15:05:00
</td>
<td align="right">
   63.91
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-19 15:10:00
</td>
<td align="right">
   64.10
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-09-19 13:30:00
</td>
<td align="right">
   55.87
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 13:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 15:45:00
</td>
<td align="right">
   67.74
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-09-20 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:25:00
</td>
<td align="right">
   67.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:40:00
</td>
<td align="right">
   67.73
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:45:00
</td>
<td align="right">
   67.72
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-19 16:50:00
</td>
<td align="right">
   67.72
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 15:05:00
</td>
<td align="right">
   53.87
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2011-09-20 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 15:10:00
</td>
<td align="right">
   53.89
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-09-20 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 15:15:00
</td>
<td align="right">
   53.95
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-09-20 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 15:20:00
</td>
<td align="right">
   54.05
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-09-20 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 15:25:00
</td>
<td align="right">
   54.12
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2011-09-20 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 15:50:00
</td>
<td align="right">
   54.11
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2011-09-20 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 15:55:00
</td>
<td align="right">
   54.02
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-09-20 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 16:00:00
</td>
<td align="right">
   54.02
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 16:25:00
</td>
<td align="right">
   53.90
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 16:30:00
</td>
<td align="right">
   53.98
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 16:35:00
</td>
<td align="right">
   53.93
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 16:40:00
</td>
<td align="right">
   54.00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 16:45:00
</td>
<td align="right">
   53.91
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 16:50:00
</td>
<td align="right">
   53.85
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-19 16:55:00
</td>
<td align="right">
   53.92
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-09-20 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-19 15:45:00
</td>
<td align="right">
   38.54
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-09-20 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-19 15:50:00
</td>
<td align="right">
   38.52
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2011-09-20 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-19 15:55:00
</td>
<td align="right">
   38.46
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2011-09-20 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-19 16:00:00
</td>
<td align="right">
   38.47
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-09-20 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-19 16:05:00
</td>
<td align="right">
   38.46
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2011-09-20 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-19 16:10:00
</td>
<td align="right">
   38.43
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Tue: 2011-09-20 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-19 16:25:00
</td>
<td align="right">
   38.41
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2011-09-20 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-19 16:30:00
</td>
<td align="right">
   38.44
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Tue: 2011-09-20 16:30
</td>
</tr>
</table>
<br /><hr />