<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 16:20:00
</td>
<td align="right">
   30.18
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-07-08 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 16:25:00
</td>
<td align="right">
   30.07
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2011-07-08 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 16:30:00
</td>
<td align="right">
   30.15
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-07-08 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 16:35:00
</td>
<td align="right">
   30.20
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 16:40:00
</td>
<td align="right">
   30.29
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2011-07-08 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 16:45:00
</td>
<td align="right">
   30.24
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-07-08 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 17:00:00
</td>
<td align="right">
   30.15
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-07-08 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 17:05:00
</td>
<td align="right">
   30.24
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-07-08 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 17:10:00
</td>
<td align="right">
   30.20
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 17:15:00
</td>
<td align="right">
   30.23
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 17:30:00
</td>
<td align="right">
   30.27
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-07-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 17:55:00
</td>
<td align="right">
   30.19
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-08 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 18:20:00
</td>
<td align="right">
   30.29
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2011-07-08 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 18:25:00
</td>
<td align="right">
   30.25
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-07-08 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 19:25:00
</td>
<td align="right">
   30.27
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 19:30:00
</td>
<td align="right">
   30.28
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-07-07 19:35:00
</td>
<td align="right">
   30.25
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-07 14:05:00
</td>
<td align="right">
   31.59
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-07 15:30:00
</td>
<td align="right">
   57.81
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2011-07-08 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-07 17:50:00
</td>
<td align="right">
  146.82
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Fri: 2011-07-08 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-07 18:15:00
</td>
<td align="right">
  146.93
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Fri: 2011-07-08 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-07 18:25:00
</td>
<td align="right">
  147.26
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2011-07-08 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-07 15:00:00
</td>
<td align="right">
   61.30
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2011-07-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 18:20:00
</td>
<td align="right">
  236.74
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Fri: 2011-07-08 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:15:00
</td>
<td align="right">
   54.88
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Fri: 2011-07-08 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:20:00
</td>
<td align="right">
   54.83
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-07-08 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:25:00
</td>
<td align="right">
   54.84
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2011-07-08 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:30:00
</td>
<td align="right">
   54.74
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Fri: 2011-07-08 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:35:00
</td>
<td align="right">
   54.60
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-07-08 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:40:00
</td>
<td align="right">
   54.63
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2011-07-08 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:45:00
</td>
<td align="right">
   54.54
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-07-08 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:50:00
</td>
<td align="right">
   54.43
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-07-08 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 14:55:00
</td>
<td align="right">
   54.58
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-07-08 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 15:00:00
</td>
<td align="right">
   54.56
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2011-07-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 15:05:00
</td>
<td align="right">
   54.47
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Fri: 2011-07-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 15:10:00
</td>
<td align="right">
   54.35
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Fri: 2011-07-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 15:20:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Fri: 2011-07-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 15:35:00
</td>
<td align="right">
   54.50
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Fri: 2011-07-08 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 15:40:00
</td>
<td align="right">
   54.48
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Fri: 2011-07-08 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 15:45:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Fri: 2011-07-08 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 15:50:00
</td>
<td align="right">
   54.61
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-07-08 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 16:00:00
</td>
<td align="right">
   54.80
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2011-07-08 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-07 16:05:00
</td>
<td align="right">
   54.87
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-07-08 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-07 14:50:00
</td>
<td align="right">
   40.00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-07-08 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-07 15:10:00
</td>
<td align="right">
   40.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-07-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-07 15:20:00
</td>
<td align="right">
   40.00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-07-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-07 16:05:00
</td>
<td align="right">
   39.95
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2011-07-08 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-07 16:10:00
</td>
<td align="right">
   39.97
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-07-08 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-07 16:30:00
</td>
<td align="right">
   39.94
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2011-07-08 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-07-07 18:25:00
</td>
<td align="right">
   52.88
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-07-08 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-07 14:35:00
</td>
<td align="right">
   74.15
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-07-08 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-07 15:20:00
</td>
<td align="right">
   73.70
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-07-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-07 17:30:00
</td>
<td align="right">
   73.63
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-07-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 16:20:00
</td>
<td align="right">
  131.68
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    2.11
</td>
<td>
Fri: 2011-07-08 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 16:25:00
</td>
<td align="right">
  131.83
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    2.09
</td>
<td>
Fri: 2011-07-08 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 16:30:00
</td>
<td align="right">
  131.69
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    1.54
</td>
<td>
Fri: 2011-07-08 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 16:45:00
</td>
<td align="right">
  132.47
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2011-07-08 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 16:55:00
</td>
<td align="right">
  133.01
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-07-08 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 17:45:00
</td>
<td align="right">
  132.45
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .57
</td>
<td>
Fri: 2011-07-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 17:50:00
</td>
<td align="right">
  132.76
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-07-08 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 17:55:00
</td>
<td align="right">
  132.80
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2011-07-08 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 18:00:00
</td>
<td align="right">
  132.92
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-07-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 18:05:00
</td>
<td align="right">
  132.94
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Fri: 2011-07-08 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-07 18:25:00
</td>
<td align="right">
  133.33
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Fri: 2011-07-08 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-07 17:50:00
</td>
<td align="right">
   42.88
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2011-07-08 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-07 17:40:00
</td>
<td align="right">
   37.74
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-07-08 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-07-07 14:05:00
</td>
<td align="right">
   45.30
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-07-08 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-07-07 14:10:00
</td>
<td align="right">
   45.43
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Fri: 2011-07-08 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-07-07 14:15:00
</td>
<td align="right">
   45.43
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2011-07-08 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-07-07 14:20:00
</td>
<td align="right">
   45.30
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2011-07-08 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-07-07 18:15:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-07-08 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-07-07 18:20:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 14:05:00
</td>
<td align="right">
   64.66
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-07-08 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 14:20:00
</td>
<td align="right">
   64.72
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-07-08 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 14:30:00
</td>
<td align="right">
   64.69
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-07-08 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 14:35:00
</td>
<td align="right">
   64.66
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2011-07-08 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 14:40:00
</td>
<td align="right">
   64.66
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-07-08 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 14:45:00
</td>
<td align="right">
   64.63
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Fri: 2011-07-08 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 14:50:00
</td>
<td align="right">
   64.55
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Fri: 2011-07-08 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 15:05:00
</td>
<td align="right">
   64.63
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-07-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 15:10:00
</td>
<td align="right">
   64.60
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-07-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 15:15:00
</td>
<td align="right">
   64.67
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-07-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 17:55:00
</td>
<td align="right">
   65.15
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-07-08 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 18:05:00
</td>
<td align="right">
   65.01
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-07-08 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 18:10:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-07-08 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 18:20:00
</td>
<td align="right">
   65.03
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-07-08 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 18:30:00
</td>
<td align="right">
   65.07
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-07-08 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-07 18:50:00
</td>
<td align="right">
   65.10
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-07-08 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-07-07 14:25:00
</td>
<td align="right">
   58.94
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-07-07 16:50:00
</td>
<td align="right">
  135.26
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-07-08 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-07-07 16:55:00
</td>
<td align="right">
  135.24
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-07-08 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-07-07 17:05:00
</td>
<td align="right">
  135.39
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-07-08 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-07 16:35:00
</td>
<td align="right">
   93.95
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-07-08 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-07 17:40:00
</td>
<td align="right">
   93.90
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-07-08 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-07 18:00:00
</td>
<td align="right">
   94.04
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-07-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-07 19:00:00
</td>
<td align="right">
   94.10
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-07 19:05:00
</td>
<td align="right">
   94.14
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-07 19:15:00
</td>
<td align="right">
   94.06
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-07 19:20:00
</td>
<td align="right">
   94.06
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-07 18:50:00
</td>
<td align="right">
  102.91
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2011-07-08 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-07 16:40:00
</td>
<td align="right">
   82.06
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-07-08 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-07 16:45:00
</td>
<td align="right">
   82.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-08 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-07 17:10:00
</td>
<td align="right">
   82.14
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-07-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-07 17:20:00
</td>
<td align="right">
   57.78
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-07-08 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-07-07 19:35:00
</td>
<td align="right">
  217.21
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 14:25:00
</td>
<td align="right">
  236.30
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Fri: 2011-07-08 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 14:35:00
</td>
<td align="right">
  236.12
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.56
</td>
<td>
Fri: 2011-07-08 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 14:45:00
</td>
<td align="right">
  236.18
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.73
</td>
<td>
Fri: 2011-07-08 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 14:50:00
</td>
<td align="right">
  236.07
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-07-08 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 15:00:00
</td>
<td align="right">
  236.09
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Fri: 2011-07-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 15:05:00
</td>
<td align="right">
  235.81
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Fri: 2011-07-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 15:20:00
</td>
<td align="right">
  235.71
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .80
</td>
<td>
Fri: 2011-07-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 15:25:00
</td>
<td align="right">
  235.63
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .72
</td>
<td>
Fri: 2011-07-08 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 15:35:00
</td>
<td align="right">
  235.56
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Fri: 2011-07-08 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 15:45:00
</td>
<td align="right">
  235.45
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .69
</td>
<td>
Fri: 2011-07-08 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 15:50:00
</td>
<td align="right">
  235.81
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-07-08 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 15:55:00
</td>
<td align="right">
  235.60
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2011-07-08 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-07-07 16:10:00
</td>
<td align="right">
  235.58
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .81
</td>
<td>
Fri: 2011-07-08 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2011-07-07 14:35:00
</td>
<td align="right">
   36.89
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-07-08 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2011-07-07 14:40:00
</td>
<td align="right">
   36.89
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-07-08 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2011-07-07 19:25:00
</td>
<td align="right">
   37.17
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2011-07-07 19:50:00
</td>
<td align="right">
   37.16
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2011-07-07 19:55:00
</td>
<td align="right">
   37.18
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 16:40:00
</td>
<td align="right">
   54.43
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-07-08 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 17:30:00
</td>
<td align="right">
   54.51
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-07-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 17:35:00
</td>
<td align="right">
   54.59
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-07-08 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 17:40:00
</td>
<td align="right">
   54.56
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-07-08 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 17:50:00
</td>
<td align="right">
   54.49
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2011-07-08 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 17:55:00
</td>
<td align="right">
   54.50
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-07-08 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 18:10:00
</td>
<td align="right">
   54.52
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2011-07-08 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 18:20:00
</td>
<td align="right">
   54.71
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-07-08 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 18:35:00
</td>
<td align="right">
   54.65
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-07-08 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 18:40:00
</td>
<td align="right">
   54.65
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-07-08 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 18:45:00
</td>
<td align="right">
   54.71
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 19:10:00
</td>
<td align="right">
   54.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-07-07 19:15:00
</td>
<td align="right">
   54.76
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-07 19:25:00
</td>
<td align="right">
   73.41
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-07 19:35:00
</td>
<td align="right">
   73.41
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-07 19:45:00
</td>
<td align="right">
   73.45
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-07-07 18:55:00
</td>
<td align="right">
    9.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-07-08 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-07-07 19:35:00
</td>
<td align="right">
    9.66
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 14:10:00
</td>
<td align="right">
  148.97
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-07-08 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 14:40:00
</td>
<td align="right">
  148.65
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2011-07-08 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 15:20:00
</td>
<td align="right">
  148.81
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2011-07-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 18:10:00
</td>
<td align="right">
  149.16
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 18:45:00
</td>
<td align="right">
  149.22
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-07-08 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 18:50:00
</td>
<td align="right">
  149.26
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-07-08 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 19:00:00
</td>
<td align="right">
  149.22
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 19:20:00
</td>
<td align="right">
  149.16
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-07 19:50:00
</td>
<td align="right">
  149.19
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-07 17:45:00
</td>
<td align="right">
  545.33
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    3.81
</td>
<td>
Fri: 2011-07-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-07 17:55:00
</td>
<td align="right">
  545.88
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    2.60
</td>
<td>
Fri: 2011-07-08 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-07 18:00:00
</td>
<td align="right">
  546.03
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    2.43
</td>
<td>
Fri: 2011-07-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-07 18:45:00
</td>
<td align="right">
  549.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   -1.27
</td>
<td>
Fri: 2011-07-08 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-07 19:05:00
</td>
<td align="right">
  549.12
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-07 19:15:00
</td>
<td align="right">
  548.84
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-07-07 19:55:00
</td>
<td align="right">
   45.30
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2011-07-07 14:00:00
</td>
<td align="right">
  183.23
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2011-07-08 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2011-07-07 18:00:00
</td>
<td align="right">
  183.74
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-07 18:15:00
</td>
<td align="right">
   77.11
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2011-07-08 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-07 18:35:00
</td>
<td align="right">
   77.10
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Fri: 2011-07-08 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-07 18:50:00
</td>
<td align="right">
   77.49
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2011-07-08 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-07 18:55:00
</td>
<td align="right">
   77.45
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-07-08 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-07 19:20:00
</td>
<td align="right">
   77.46
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-07 19:25:00
</td>
<td align="right">
   77.25
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-07 19:40:00
</td>
<td align="right">
   77.13
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-07 19:45:00
</td>
<td align="right">
   77.06
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 17:35:00
</td>
<td align="right">
   33.39
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-07-08 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 17:45:00
</td>
<td align="right">
   33.38
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-07-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 17:50:00
</td>
<td align="right">
   33.45
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-07-08 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 17:55:00
</td>
<td align="right">
   33.44
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-07-08 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 18:00:00
</td>
<td align="right">
   33.46
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-07-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 18:05:00
</td>
<td align="right">
   33.43
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-07-08 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 18:20:00
</td>
<td align="right">
   33.50
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-07-08 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 18:25:00
</td>
<td align="right">
   33.52
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2011-07-08 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 18:30:00
</td>
<td align="right">
   33.55
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-07-08 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 18:50:00
</td>
<td align="right">
   33.54
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2011-07-08 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 18:55:00
</td>
<td align="right">
   33.52
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-07-08 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 19:05:00
</td>
<td align="right">
   33.51
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 19:20:00
</td>
<td align="right">
   33.53
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 19:25:00
</td>
<td align="right">
   33.51
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 19:40:00
</td>
<td align="right">
   33.53
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-07-07 19:45:00
</td>
<td align="right">
   33.51
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-08 19:45
</td>
</tr>
</table>
<br /><hr />