<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2011-08-10 15:35:00
</td>
<td align="right">
   62.64
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Thu: 2011-08-11 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-10 14:20:00
</td>
<td align="right">
   57.67
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    1.02
</td>
<td>
Thu: 2011-08-11 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-08-10 14:00:00
</td>
<td align="right">
   48.23
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .59
</td>
<td>
Thu: 2011-08-11 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-08-10 14:15:00
</td>
<td align="right">
   48.13
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.20
</td>
<td>
Thu: 2011-08-11 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-08-10 14:20:00
</td>
<td align="right">
   48.11
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    1.20
</td>
<td>
Thu: 2011-08-11 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-08-10 17:15:00
</td>
<td align="right">
   34.78
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Thu: 2011-08-11 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 17:20:00
</td>
<td align="right">
   24.73
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2011-08-11 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 17:25:00
</td>
<td align="right">
   24.77
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2011-08-11 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 17:30:00
</td>
<td align="right">
   24.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-08-11 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 17:35:00
</td>
<td align="right">
   24.79
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-08-11 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 17:40:00
</td>
<td align="right">
   24.84
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-08-11 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 17:45:00
</td>
<td align="right">
   24.92
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2011-08-11 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 18:30:00
</td>
<td align="right">
   24.86
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Thu: 2011-08-11 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 18:35:00
</td>
<td align="right">
   24.76
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2011-08-11 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 19:05:00
</td>
<td align="right">
   24.47
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-10 19:10:00
</td>
<td align="right">
   24.39
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-10 18:20:00
</td>
<td align="right">
  129.68
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.82
</td>
<td>
Thu: 2011-08-11 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-10 18:30:00
</td>
<td align="right">
  129.71
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -3.81
</td>
<td>
Thu: 2011-08-11 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-10 18:35:00
</td>
<td align="right">
  129.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.10
</td>
<td>
Thu: 2011-08-11 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-10 18:40:00
</td>
<td align="right">
  129.11
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.44
</td>
<td>
Thu: 2011-08-11 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-10 18:45:00
</td>
<td align="right">
  129.32
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -2.87
</td>
<td>
Thu: 2011-08-11 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-10 18:55:00
</td>
<td align="right">
  128.02
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -2.95
</td>
<td>
Thu: 2011-08-11 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-10 19:00:00
</td>
<td align="right">
  128.28
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-08-10 15:50:00
</td>
<td align="right">
   25.83
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-08-11 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-08-10 17:05:00
</td>
<td align="right">
   25.91
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Thu: 2011-08-11 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VLO">VLO</a></td>
<td>
2011-08-10 15:10:00
</td>
<td align="right">
   19.73
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2011-08-11 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VLO">VLO</a></td>
<td>
2011-08-10 16:30:00
</td>
<td align="right">
   19.69
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-08-11 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VLO">VLO</a></td>
<td>
2011-08-10 16:50:00
</td>
<td align="right">
   19.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2011-08-11 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 14:05:00
</td>
<td align="right">
   87.54
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-08-11 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 14:10:00
</td>
<td align="right">
   87.54
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Thu: 2011-08-11 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 14:15:00
</td>
<td align="right">
   87.60
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2011-08-11 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 14:20:00
</td>
<td align="right">
   87.03
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2011-08-11 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 14:25:00
</td>
<td align="right">
   87.47
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2011-08-11 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 14:30:00
</td>
<td align="right">
   88.48
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   -1.15
</td>
<td>
Thu: 2011-08-11 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 17:20:00
</td>
<td align="right">
   87.18
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    1.25
</td>
<td>
Thu: 2011-08-11 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 17:25:00
</td>
<td align="right">
   87.40
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .83
</td>
<td>
Thu: 2011-08-11 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 17:30:00
</td>
<td align="right">
   87.32
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Thu: 2011-08-11 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 17:50:00
</td>
<td align="right">
   87.97
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Thu: 2011-08-11 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 18:05:00
</td>
<td align="right">
   88.20
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.51
</td>
<td>
Thu: 2011-08-11 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 18:10:00
</td>
<td align="right">
   88.60
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   -2.19
</td>
<td>
Thu: 2011-08-11 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 18:15:00
</td>
<td align="right">
   88.22
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -1.43
</td>
<td>
Thu: 2011-08-11 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 18:20:00
</td>
<td align="right">
   88.43
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   -1.04
</td>
<td>
Thu: 2011-08-11 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 18:25:00
</td>
<td align="right">
   88.23
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -1.36
</td>
<td>
Thu: 2011-08-11 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 18:30:00
</td>
<td align="right">
   88.03
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   -1.85
</td>
<td>
Thu: 2011-08-11 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 18:40:00
</td>
<td align="right">
   88.21
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -1.23
</td>
<td>
Thu: 2011-08-11 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 18:55:00
</td>
<td align="right">
   87.18
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -1.78
</td>
<td>
Thu: 2011-08-11 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 19:00:00
</td>
<td align="right">
   87.39
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 19:05:00
</td>
<td align="right">
   86.69
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 19:10:00
</td>
<td align="right">
   86.41
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 19:30:00
</td>
<td align="right">
   86.18
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 19:35:00
</td>
<td align="right">
   86.93
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 19:40:00
</td>
<td align="right">
   86.98
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 19:45:00
</td>
<td align="right">
   86.75
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-10 19:50:00
</td>
<td align="right">
   86.11
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-11 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-10 14:00:00
</td>
<td align="right">
   66.47
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.77
</td>
<td>
Thu: 2011-08-11 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-10 14:05:00
</td>
<td align="right">
   66.41
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.61
</td>
<td>
Thu: 2011-08-11 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-10 14:15:00
</td>
<td align="right">
   65.91
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-08-11 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-10 14:20:00
</td>
<td align="right">
   65.87
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2011-08-11 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VLO">VLO</a></td>
<td>
2011-08-10 15:35:00
</td>
<td align="right">
   19.40
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2011-08-11 15:35
</td>
</tr>
</table>
<br /><hr />