<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-07-15 17:30:00
</td>
<td align="right">
   89.52
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2011-07-18 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-07-15 17:40:00
</td>
<td align="right">
   89.42
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-18 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-07-15 14:25:00
</td>
<td align="right">
    8.34
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-07-18 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-07-15 19:45:00
</td>
<td align="right">
    8.41
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-07-15 19:50:00
</td>
<td align="right">
    8.41
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-15 14:35:00
</td>
<td align="right">
  144.53
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2011-07-18 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-15 14:00:00
</td>
<td align="right">
   15.69
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-18 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-15 14:05:00
</td>
<td align="right">
   15.65
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-18 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-15 14:10:00
</td>
<td align="right">
   15.62
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-18 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-15 15:35:00
</td>
<td align="right">
   15.63
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-15 19:45:00
</td>
<td align="right">
  113.69
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-15 19:55:00
</td>
<td align="right">
  113.94
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-07-15 14:00:00
</td>
<td align="right">
   59.17
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .54
</td>
<td>
Mon: 2011-07-18 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-07-15 14:15:00
</td>
<td align="right">
   59.23
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2011-07-18 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-07-15 16:35:00
</td>
<td align="right">
   59.45
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-18 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-07-15 17:55:00
</td>
<td align="right">
   59.34
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-07-18 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-07-15 18:40:00
</td>
<td align="right">
   59.42
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-07-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-15 17:40:00
</td>
<td align="right">
  130.03
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.60
</td>
<td>
Mon: 2011-07-18 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-15 18:55:00
</td>
<td align="right">
  129.61
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Mon: 2011-07-18 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-15 19:15:00
</td>
<td align="right">
  130.04
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 14:00:00
</td>
<td align="right">
   60.02
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-07-18 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 14:20:00
</td>
<td align="right">
   59.93
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-07-18 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 15:05:00
</td>
<td align="right">
   59.99
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2011-07-18 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 15:30:00
</td>
<td align="right">
   60.05
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-07-18 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 16:15:00
</td>
<td align="right">
   60.14
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-07-18 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 16:20:00
</td>
<td align="right">
   60.13
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-07-18 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 16:40:00
</td>
<td align="right">
   59.99
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-18 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 16:45:00
</td>
<td align="right">
   59.95
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-18 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 16:50:00
</td>
<td align="right">
   60.00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-07-18 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 17:00:00
</td>
<td align="right">
   59.92
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-18 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-15 17:10:00
</td>
<td align="right">
   59.98
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2011-07-18 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 14:00:00
</td>
<td align="right">
   38.27
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-07-18 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 14:05:00
</td>
<td align="right">
   38.27
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-07-18 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:00:00
</td>
<td align="right">
   38.07
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-18 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:05:00
</td>
<td align="right">
   38.14
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-18 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:10:00
</td>
<td align="right">
   38.15
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-07-18 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:15:00
</td>
<td align="right">
   38.14
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-18 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:20:00
</td>
<td align="right">
   38.20
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-07-18 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:25:00
</td>
<td align="right">
   38.19
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-18 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:30:00
</td>
<td align="right">
   38.10
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-18 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:35:00
</td>
<td align="right">
   38.08
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-18 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:40:00
</td>
<td align="right">
   38.10
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-18 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:45:00
</td>
<td align="right">
   38.09
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-07-18 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 15:50:00
</td>
<td align="right">
   38.10
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 16:30:00
</td>
<td align="right">
   38.11
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-18 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 16:35:00
</td>
<td align="right">
   38.09
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-07-18 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 16:40:00
</td>
<td align="right">
   38.03
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-18 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 16:45:00
</td>
<td align="right">
   38.06
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-07-18 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 16:50:00
</td>
<td align="right">
   38.09
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-07-18 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-15 16:55:00
</td>
<td align="right">
   38.09
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-07-18 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 14:00:00
</td>
<td align="right">
   66.60
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2011-07-18 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 14:05:00
</td>
<td align="right">
   66.78
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-07-18 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 14:55:00
</td>
<td align="right">
   66.80
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-07-18 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 15:00:00
</td>
<td align="right">
   67.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-07-18 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 15:20:00
</td>
<td align="right">
   66.99
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2011-07-18 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 15:25:00
</td>
<td align="right">
   66.75
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-07-18 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 15:30:00
</td>
<td align="right">
   66.89
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-07-18 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 15:50:00
</td>
<td align="right">
   66.67
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-18 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 16:00:00
</td>
<td align="right">
   66.79
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-07-18 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 16:10:00
</td>
<td align="right">
   66.70
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-18 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 16:15:00
</td>
<td align="right">
   66.49
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-07-18 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 16:20:00
</td>
<td align="right">
   66.50
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-07-18 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 16:25:00
</td>
<td align="right">
   66.64
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-18 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 16:30:00
</td>
<td align="right">
   66.66
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-07-18 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 16:35:00
</td>
<td align="right">
   66.57
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-07-18 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 17:00:00
</td>
<td align="right">
   66.76
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-18 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 17:25:00
</td>
<td align="right">
   66.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-18 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 17:30:00
</td>
<td align="right">
   66.77
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-18 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 17:40:00
</td>
<td align="right">
   66.81
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-07-18 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 17:45:00
</td>
<td align="right">
   66.83
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-07-18 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 17:50:00
</td>
<td align="right">
   66.84
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-07-18 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 17:55:00
</td>
<td align="right">
   66.62
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2011-07-18 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 18:00:00
</td>
<td align="right">
   66.70
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-07-18 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 18:15:00
</td>
<td align="right">
   66.86
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-07-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 18:20:00
</td>
<td align="right">
   66.80
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-07-18 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 18:25:00
</td>
<td align="right">
   66.79
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-07-18 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 18:30:00
</td>
<td align="right">
   66.85
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-07-18 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 18:35:00
</td>
<td align="right">
   66.89
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-07-18 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 18:40:00
</td>
<td align="right">
   66.87
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 18:45:00
</td>
<td align="right">
   66.89
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-18 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 19:45:00
</td>
<td align="right">
   66.89
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 19:50:00
</td>
<td align="right">
   66.77
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-15 19:55:00
</td>
<td align="right">
   66.75
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-15 19:10:00
</td>
<td align="right">
  152.99
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-15 15:30:00
</td>
<td align="right">
   77.44
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-07-18 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-15 16:30:00
</td>
<td align="right">
   77.41
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-18 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-15 17:00:00
</td>
<td align="right">
   77.53
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-18 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-15 17:15:00
</td>
<td align="right">
   77.53
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-18 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-15 18:30:00
</td>
<td align="right">
   77.55
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-07-18 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-07-15 18:55:00
</td>
<td align="right">
   77.30
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2011-07-18 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 14:15:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-07-18 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 14:20:00
</td>
<td align="right">
   62.50
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-07-18 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 14:30:00
</td>
<td align="right">
   62.57
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-18 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 14:35:00
</td>
<td align="right">
   62.44
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-18 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 14:40:00
</td>
<td align="right">
   62.47
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 14:45:00
</td>
<td align="right">
   62.32
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-18 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 14:50:00
</td>
<td align="right">
   62.22
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2011-07-18 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 15:00:00
</td>
<td align="right">
   62.34
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Mon: 2011-07-18 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 15:05:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-07-18 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 16:15:00
</td>
<td align="right">
   62.28
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-18 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 16:35:00
</td>
<td align="right">
   62.24
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Mon: 2011-07-18 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 16:45:00
</td>
<td align="right">
   62.42
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-07-18 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 16:50:00
</td>
<td align="right">
   62.35
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-07-18 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 16:55:00
</td>
<td align="right">
   62.35
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-18 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 17:00:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-18 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 17:10:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-07-18 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 17:15:00
</td>
<td align="right">
   62.35
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-07-18 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 17:20:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-07-18 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 17:25:00
</td>
<td align="right">
   62.55
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-07-18 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 17:30:00
</td>
<td align="right">
   62.61
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-07-18 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 17:45:00
</td>
<td align="right">
   62.52
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-18 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 17:50:00
</td>
<td align="right">
   62.49
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-18 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 18:00:00
</td>
<td align="right">
   62.41
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-07-18 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 18:05:00
</td>
<td align="right">
   62.42
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-07-18 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 18:10:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2011-07-18 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 18:15:00
</td>
<td align="right">
   62.39
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-07-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 18:20:00
</td>
<td align="right">
   62.38
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2011-07-18 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 18:25:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Mon: 2011-07-18 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 18:30:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2011-07-18 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 19:00:00
</td>
<td align="right">
   62.51
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 19:10:00
</td>
<td align="right">
   62.59
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 19:15:00
</td>
<td align="right">
   62.68
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 19:20:00
</td>
<td align="right">
   62.75
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 19:25:00
</td>
<td align="right">
   62.81
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 19:40:00
</td>
<td align="right">
   62.94
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-15 19:45:00
</td>
<td align="right">
   62.84
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-07-15 14:45:00
</td>
<td align="right">
   80.16
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Mon: 2011-07-18 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-07-15 14:35:00
</td>
<td align="right">
  159.10
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    1.01
</td>
<td>
Mon: 2011-07-18 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-07-15 14:50:00
</td>
<td align="right">
  159.10
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    1.04
</td>
<td>
Mon: 2011-07-18 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-07-15 15:10:00
</td>
<td align="right">
  159.94
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .96
</td>
<td>
Mon: 2011-07-18 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-07-15 16:10:00
</td>
<td align="right">
  160.90
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2011-07-18 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-07-15 16:30:00
</td>
<td align="right">
  161.07
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Mon: 2011-07-18 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-07-15 17:25:00
</td>
<td align="right">
  160.59
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.76
</td>
<td>
Mon: 2011-07-18 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-07-15 19:25:00
</td>
<td align="right">
  161.01
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-07-15 19:55:00
</td>
<td align="right">
  162.62
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-15 14:10:00
</td>
<td align="right">
   29.73
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-07-18 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-15 14:25:00
</td>
<td align="right">
   29.60
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-18 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-15 15:05:00
</td>
<td align="right">
   29.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-07-18 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-15 16:55:00
</td>
<td align="right">
   29.54
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-18 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-15 17:30:00
</td>
<td align="right">
   29.57
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-18 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-15 19:15:00
</td>
<td align="right">
   29.70
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2011-07-15 19:10:00
</td>
<td align="right">
  211.43
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2011-07-15 14:25:00
</td>
<td align="right">
   69.01
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Mon: 2011-07-18 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2011-07-15 14:30:00
</td>
<td align="right">
   69.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Mon: 2011-07-18 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 15:00:00
</td>
<td align="right">
   48.59
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-07-18 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 15:05:00
</td>
<td align="right">
   48.49
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2011-07-18 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 15:35:00
</td>
<td align="right">
   48.58
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-18 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 15:40:00
</td>
<td align="right">
   48.56
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 15:45:00
</td>
<td align="right">
   48.58
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-18 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 15:50:00
</td>
<td align="right">
   48.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-18 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 15:55:00
</td>
<td align="right">
   48.62
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-07-18 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 16:15:00
</td>
<td align="right">
   48.50
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-07-18 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 16:20:00
</td>
<td align="right">
   48.59
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-07-18 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 16:25:00
</td>
<td align="right">
   48.68
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2011-07-18 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 16:30:00
</td>
<td align="right">
   48.68
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-07-18 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 16:35:00
</td>
<td align="right">
   48.66
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-07-18 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 16:45:00
</td>
<td align="right">
   48.52
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-07-18 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 16:50:00
</td>
<td align="right">
   48.51
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-07-18 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 17:05:00
</td>
<td align="right">
   48.50
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2011-07-18 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 19:25:00
</td>
<td align="right">
   48.55
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 19:30:00
</td>
<td align="right">
   48.58
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 19:35:00
</td>
<td align="right">
   48.59
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 19:45:00
</td>
<td align="right">
   48.50
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 19:50:00
</td>
<td align="right">
   48.51
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-15 19:55:00
</td>
<td align="right">
   48.55
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-15 18:30:00
</td>
<td align="right">
   15.57
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-18 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-15 18:40:00
</td>
<td align="right">
   15.56
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-15 19:05:00
</td>
<td align="right">
   15.56
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2011-07-15 19:50:00
</td>
<td align="right">
   15.60
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 14:25:00
</td>
<td align="right">
  123.94
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2011-07-18 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 15:00:00
</td>
<td align="right">
  124.06
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Mon: 2011-07-18 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 15:05:00
</td>
<td align="right">
  124.11
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-07-18 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 16:35:00
</td>
<td align="right">
  124.19
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-18 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 16:40:00
</td>
<td align="right">
  124.03
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-18 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 17:25:00
</td>
<td align="right">
  124.20
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-07-18 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 17:30:00
</td>
<td align="right">
  124.17
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-07-18 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 18:40:00
</td>
<td align="right">
  124.00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Mon: 2011-07-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 19:05:00
</td>
<td align="right">
  124.10
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 19:10:00
</td>
<td align="right">
  124.16
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 19:15:00
</td>
<td align="right">
  124.12
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 19:20:00
</td>
<td align="right">
  124.27
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 19:50:00
</td>
<td align="right">
  124.53
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-15 19:55:00
</td>
<td align="right">
  124.56
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-15 14:45:00
</td>
<td align="right">
   69.29
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-18 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-15 17:40:00
</td>
<td align="right">
   69.45
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-18 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2011-07-15 14:05:00
</td>
<td align="right">
  175.04
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-07-18 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 14:40:00
</td>
<td align="right">
   41.71
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-07-18 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 15:05:00
</td>
<td align="right">
   41.55
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-07-18 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 15:40:00
</td>
<td align="right">
   41.58
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-07-18 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 15:50:00
</td>
<td align="right">
   41.61
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-18 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 16:00:00
</td>
<td align="right">
   41.72
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-07-18 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 16:45:00
</td>
<td align="right">
   41.59
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-07-18 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 17:15:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-18 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 17:20:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-07-18 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 17:35:00
</td>
<td align="right">
   41.52
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-07-18 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 17:45:00
</td>
<td align="right">
   41.40
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-18 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 17:50:00
</td>
<td align="right">
   41.42
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 18:10:00
</td>
<td align="right">
   41.32
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-07-18 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 18:15:00
</td>
<td align="right">
   41.40
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 18:30:00
</td>
<td align="right">
   41.29
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-07-18 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 18:35:00
</td>
<td align="right">
   41.30
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-07-18 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 19:20:00
</td>
<td align="right">
   41.43
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 19:25:00
</td>
<td align="right">
   41.51
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-07-15 19:35:00
</td>
<td align="right">
   41.48
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-07-15 14:30:00
</td>
<td align="right">
   31.86
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2011-07-18 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-07-15 15:15:00
</td>
<td align="right">
   32.07
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-18 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-07-15 19:20:00
</td>
<td align="right">
   32.14
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2011-07-15 14:45:00
</td>
<td align="right">
   75.81
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-07-18 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2011-07-15 15:30:00
</td>
<td align="right">
   76.00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2011-07-15 15:40:00
</td>
<td align="right">
   76.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-07-18 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-07-15 18:35:00
</td>
<td align="right">
  130.98
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Mon: 2011-07-18 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 14:30:00
</td>
<td align="right">
   11.12
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-07-18 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 15:40:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-18 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 16:10:00
</td>
<td align="right">
   11.27
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-18 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 16:20:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-07-18 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 16:25:00
</td>
<td align="right">
   11.28
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 16:30:00
</td>
<td align="right">
   11.27
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 16:35:00
</td>
<td align="right">
   11.28
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 16:40:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-18 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 16:50:00
</td>
<td align="right">
   11.31
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 17:00:00
</td>
<td align="right">
   11.29
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-07-18 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 17:15:00
</td>
<td align="right">
   11.29
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-07-18 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 17:25:00
</td>
<td align="right">
   11.27
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 17:30:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-18 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 17:40:00
</td>
<td align="right">
   11.28
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-18 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 17:45:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-18 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 17:50:00
</td>
<td align="right">
   11.30
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-07-18 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 17:55:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-18 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 18:00:00
</td>
<td align="right">
   11.24
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-18 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 18:05:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-07-18 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 18:10:00
</td>
<td align="right">
   11.25
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-18 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 18:25:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-18 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 18:30:00
</td>
<td align="right">
   11.26
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-18 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 19:15:00
</td>
<td align="right">
   11.30
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 19:20:00
</td>
<td align="right">
   11.31
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 19:35:00
</td>
<td align="right">
   11.33
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 19:40:00
</td>
<td align="right">
   11.33
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-07-15 19:55:00
</td>
<td align="right">
   11.38
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 14:05:00
</td>
<td align="right">
   95.67
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-07-18 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 14:20:00
</td>
<td align="right">
   95.71
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-18 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 14:30:00
</td>
<td align="right">
   95.92
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-07-18 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 14:35:00
</td>
<td align="right">
   95.88
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-18 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 14:40:00
</td>
<td align="right">
   95.64
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-07-18 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 15:25:00
</td>
<td align="right">
   95.70
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-07-18 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 15:30:00
</td>
<td align="right">
   95.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-07-18 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 16:40:00
</td>
<td align="right">
   95.64
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2011-07-18 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 16:55:00
</td>
<td align="right">
   95.75
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2011-07-18 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 17:10:00
</td>
<td align="right">
   95.71
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-07-18 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 17:15:00
</td>
<td align="right">
   95.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2011-07-18 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 17:30:00
</td>
<td align="right">
   95.84
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-07-18 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 17:50:00
</td>
<td align="right">
   95.98
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-07-18 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 18:00:00
</td>
<td align="right">
   96.06
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-18 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 18:20:00
</td>
<td align="right">
   96.08
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-18 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 18:25:00
</td>
<td align="right">
   96.15
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-07-18 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 18:35:00
</td>
<td align="right">
   96.03
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-18 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 19:30:00
</td>
<td align="right">
   95.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-15 19:55:00
</td>
<td align="right">
   96.16
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-15 14:00:00
</td>
<td align="right">
   53.82
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-07-18 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-15 14:15:00
</td>
<td align="right">
   53.77
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-07-18 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-15 14:25:00
</td>
<td align="right">
   53.72
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-18 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-15 16:00:00
</td>
<td align="right">
   53.76
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-07-18 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-07-15 15:40:00
</td>
<td align="right">
   39.40
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-18 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-07-15 15:55:00
</td>
<td align="right">
   39.41
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-18 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-07-15 18:50:00
</td>
<td align="right">
   39.42
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-07-18 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-07-15 19:00:00
</td>
<td align="right">
   39.40
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-18 19:00
</td>
</tr>
</table>
<br /><hr />