<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-19 16:55:00
</td>
<td align="right">
  151.20
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .80
</td>
<td>
Wed: 2011-07-20 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-07-19 16:10:00
</td>
<td align="right">
  158.32
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-07-20 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-19 14:00:00
</td>
<td align="right">
   58.08
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2011-07-20 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-19 16:55:00
</td>
<td align="right">
   58.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2011-07-20 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-19 17:00:00
</td>
<td align="right">
   58.01
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-07-20 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-19 17:05:00
</td>
<td align="right">
   57.99
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-07-20 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-19 17:20:00
</td>
<td align="right">
   58.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-07-20 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-07-19 17:05:00
</td>
<td align="right">
   69.33
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Wed: 2011-07-20 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-19 14:10:00
</td>
<td align="right">
  116.21
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Wed: 2011-07-20 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-19 17:20:00
</td>
<td align="right">
  117.63
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-07-20 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-19 18:50:00
</td>
<td align="right">
  118.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2011-07-20 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-19 14:15:00
</td>
<td align="right">
  128.21
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Wed: 2011-07-20 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-19 15:45:00
</td>
<td align="right">
  127.68
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   -1.04
</td>
<td>
Wed: 2011-07-20 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:00:00
</td>
<td align="right">
   38.20
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-07-20 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:05:00
</td>
<td align="right">
   38.16
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-07-20 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:10:00
</td>
<td align="right">
   38.16
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-07-20 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:15:00
</td>
<td align="right">
   38.18
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-07-20 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:20:00
</td>
<td align="right">
   38.16
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-07-20 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:25:00
</td>
<td align="right">
   38.15
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-07-20 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:30:00
</td>
<td align="right">
   38.15
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-07-20 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:40:00
</td>
<td align="right">
   38.17
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2011-07-20 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:45:00
</td>
<td align="right">
   38.16
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-07-20 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:50:00
</td>
<td align="right">
   38.16
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-07-20 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 14:55:00
</td>
<td align="right">
   38.15
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-07-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 17:40:00
</td>
<td align="right">
   38.15
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-07-20 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 18:45:00
</td>
<td align="right">
   38.19
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-07-20 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 18:50:00
</td>
<td align="right">
   38.19
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-07-20 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 18:55:00
</td>
<td align="right">
   38.23
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-07-20 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:00:00
</td>
<td align="right">
   38.24
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:05:00
</td>
<td align="right">
   38.23
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:10:00
</td>
<td align="right">
   38.22
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:15:00
</td>
<td align="right">
   38.17
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:30:00
</td>
<td align="right">
   38.17
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:35:00
</td>
<td align="right">
   38.20
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:40:00
</td>
<td align="right">
   38.17
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:45:00
</td>
<td align="right">
   38.20
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:50:00
</td>
<td align="right">
   38.17
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-19 19:55:00
</td>
<td align="right">
   38.21
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 14:05:00
</td>
<td align="right">
   68.45
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    1.50
</td>
<td>
Wed: 2011-07-20 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 16:30:00
</td>
<td align="right">
   67.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2011-07-20 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 16:45:00
</td>
<td align="right">
   67.95
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-07-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 17:15:00
</td>
<td align="right">
   68.30
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-07-20 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 17:45:00
</td>
<td align="right">
   68.28
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2011-07-20 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 18:00:00
</td>
<td align="right">
   68.28
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-07-20 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 18:05:00
</td>
<td align="right">
   68.27
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Wed: 2011-07-20 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 18:10:00
</td>
<td align="right">
   68.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-07-20 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 18:55:00
</td>
<td align="right">
   68.43
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-07-20 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 19:00:00
</td>
<td align="right">
   68.48
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 19:10:00
</td>
<td align="right">
   68.44
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 19:15:00
</td>
<td align="right">
   68.40
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-19 19:50:00
</td>
<td align="right">
   68.48
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-07-19 18:15:00
</td>
<td align="right">
   39.29
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2011-07-20 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-07-19 18:25:00
</td>
<td align="right">
   39.31
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-07-20 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-07-19 18:30:00
</td>
<td align="right">
   39.32
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2011-07-20 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-07-19 19:40:00
</td>
<td align="right">
   39.50
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-07-19 19:50:00
</td>
<td align="right">
   39.54
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-19 19:50:00
</td>
<td align="right">
  156.67
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 14:55:00
</td>
<td align="right">
   62.86
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Wed: 2011-07-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 15:00:00
</td>
<td align="right">
   62.79
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Wed: 2011-07-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 15:25:00
</td>
<td align="right">
   62.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Wed: 2011-07-20 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 15:35:00
</td>
<td align="right">
   62.42
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-07-20 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 15:40:00
</td>
<td align="right">
   62.39
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-07-20 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 15:45:00
</td>
<td align="right">
   62.41
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2011-07-20 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 15:55:00
</td>
<td align="right">
   62.47
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-07-20 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 16:15:00
</td>
<td align="right">
   62.41
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2011-07-20 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-19 17:30:00
</td>
<td align="right">
   62.76
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2011-07-20 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-19 15:30:00
</td>
<td align="right">
   29.20
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-07-20 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-19 16:10:00
</td>
<td align="right">
   29.18
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-07-20 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-19 17:10:00
</td>
<td align="right">
   29.20
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-07-20 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-19 17:25:00
</td>
<td align="right">
   29.18
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-07-20 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-19 17:35:00
</td>
<td align="right">
   29.20
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-07-20 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-19 18:40:00
</td>
<td align="right">
   29.18
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-07-20 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-07-19 19:20:00
</td>
<td align="right">
   29.20
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-19 14:10:00
</td>
<td align="right">
   60.12
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-07-20 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-19 14:25:00
</td>
<td align="right">
   60.14
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2011-07-20 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-19 14:55:00
</td>
<td align="right">
   60.63
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Wed: 2011-07-20 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-19 15:00:00
</td>
<td align="right">
   60.42
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2011-07-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-19 15:05:00
</td>
<td align="right">
   60.10
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-07-20 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-19 15:10:00
</td>
<td align="right">
   60.08
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-07-20 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-19 16:55:00
</td>
<td align="right">
  124.88
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Wed: 2011-07-20 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-19 18:05:00
</td>
<td align="right">
  154.70
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Wed: 2011-07-20 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-19 18:10:00
</td>
<td align="right">
  154.57
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Wed: 2011-07-20 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-19 18:15:00
</td>
<td align="right">
  154.57
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Wed: 2011-07-20 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-19 18:20:00
</td>
<td align="right">
  154.43
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2011-07-20 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-19 18:35:00
</td>
<td align="right">
  154.79
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2011-07-20 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-19 18:45:00
</td>
<td align="right">
  154.81
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2011-07-20 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-07-19 19:00:00
</td>
<td align="right">
  154.41
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-20 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PBR">PBR</a></td>
<td>
2011-07-19 16:35:00
</td>
<td align="right">
   32.31
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2011-07-20 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PBR">PBR</a></td>
<td>
2011-07-19 16:45:00
</td>
<td align="right">
   32.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2011-07-20 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-19 14:50:00
</td>
<td align="right">
  103.82
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .91
</td>
<td>
Wed: 2011-07-20 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-19 15:00:00
</td>
<td align="right">
  103.97
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .78
</td>
<td>
Wed: 2011-07-20 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLU">XLU</a></td>
<td>
2011-07-19 15:00:00
</td>
<td align="right">
   33.06
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-07-20 15:00
</td>
</tr>
</table>
<br /><hr />