<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-03 17:40:00
</td>
<td align="right">
   45.43
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-08-04 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-03 18:15:00
</td>
<td align="right">
   45.47
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Thu: 2011-08-04 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-03 18:50:00
</td>
<td align="right">
   45.52
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Thu: 2011-08-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-03 15:20:00
</td>
<td align="right">
   91.78
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2011-08-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-03 14:00:00
</td>
<td align="right">
  116.00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -1.82
</td>
<td>
Thu: 2011-08-04 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-03 14:05:00
</td>
<td align="right">
  115.94
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.96
</td>
<td>
Thu: 2011-08-04 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-03 16:00:00
</td>
<td align="right">
  114.53
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-08-04 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-03 16:30:00
</td>
<td align="right">
   75.90
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .81
</td>
<td>
Thu: 2011-08-04 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 14:05:00
</td>
<td align="right">
   56.34
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2011-08-04 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 14:10:00
</td>
<td align="right">
   56.28
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-08-04 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 17:10:00
</td>
<td align="right">
   56.16
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Thu: 2011-08-04 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 17:40:00
</td>
<td align="right">
   56.61
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-08-04 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 17:50:00
</td>
<td align="right">
   56.64
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-08-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 19:00:00
</td>
<td align="right">
   56.69
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 19:10:00
</td>
<td align="right">
   56.55
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 19:15:00
</td>
<td align="right">
   56.74
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 19:20:00
</td>
<td align="right">
   56.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 19:30:00
</td>
<td align="right">
   56.68
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 19:35:00
</td>
<td align="right">
   56.70
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 19:45:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-03 14:35:00
</td>
<td align="right">
   46.14
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .64
</td>
<td>
Thu: 2011-08-04 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-08-03 18:50:00
</td>
<td align="right">
   30.70
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-08-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-08-03 18:55:00
</td>
<td align="right">
   30.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2011-08-04 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-03 14:35:00
</td>
<td align="right">
   44.48
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2011-08-04 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-03 15:45:00
</td>
<td align="right">
   44.55
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2011-08-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-03 16:00:00
</td>
<td align="right">
   44.47
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-08-04 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-03 16:15:00
</td>
<td align="right">
   44.42
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Thu: 2011-08-04 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-03 14:45:00
</td>
<td align="right">
  117.24
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Thu: 2011-08-04 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-03 14:50:00
</td>
<td align="right">
  117.65
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2011-08-04 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-03 15:05:00
</td>
<td align="right">
  117.48
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-08-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-08-03 15:40:00
</td>
<td align="right">
  131.32
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2011-08-04 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-08-03 15:45:00
</td>
<td align="right">
  131.42
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-08-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-08-03 15:55:00
</td>
<td align="right">
  131.36
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-08-04 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-08-03 16:40:00
</td>
<td align="right">
  131.49
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .74
</td>
<td>
Thu: 2011-08-04 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-03 19:10:00
</td>
<td align="right">
   56.79
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-03 16:05:00
</td>
<td align="right">
   94.86
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-08-04 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-03 16:30:00
</td>
<td align="right">
   94.63
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    1.19
</td>
<td>
Thu: 2011-08-04 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 14:30:00
</td>
<td align="right">
   76.99
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-08-04 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 15:35:00
</td>
<td align="right">
   77.05
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2011-08-04 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:10:00
</td>
<td align="right">
   76.64
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-08-04 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:35:00
</td>
<td align="right">
   76.76
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Thu: 2011-08-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:40:00
</td>
<td align="right">
   76.88
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Thu: 2011-08-04 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:45:00
</td>
<td align="right">
   76.88
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .62
</td>
<td>
Thu: 2011-08-04 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:50:00
</td>
<td align="right">
   76.97
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Thu: 2011-08-04 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:55:00
</td>
<td align="right">
   76.97
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Thu: 2011-08-04 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 17:05:00
</td>
<td align="right">
   76.78
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .60
</td>
<td>
Thu: 2011-08-04 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 17:10:00
</td>
<td align="right">
   76.84
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Thu: 2011-08-04 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 17:15:00
</td>
<td align="right">
   76.92
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2011-08-04 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 17:25:00
</td>
<td align="right">
   76.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-08-04 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 18:20:00
</td>
<td align="right">
   77.21
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2011-08-04 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 18:40:00
</td>
<td align="right">
   76.98
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .53
</td>
<td>
Thu: 2011-08-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 18:50:00
</td>
<td align="right">
   77.11
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Thu: 2011-08-04 18:50
</td>
</tr>
</table>
<br /><hr />