<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2011-08-17 18:20:00
</td>
<td align="right">
   62.19
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Thu: 2011-08-18 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-08-17 17:50:00
</td>
<td align="right">
   35.56
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-08-18 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-08-17 18:10:00
</td>
<td align="right">
   35.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-08-18 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-17 18:20:00
</td>
<td align="right">
  232.38
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2011-08-18 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-17 18:30:00
</td>
<td align="right">
  230.77
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    1.19
</td>
<td>
Thu: 2011-08-18 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-17 18:40:00
</td>
<td align="right">
  231.03
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    1.11
</td>
<td>
Thu: 2011-08-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-17 18:55:00
</td>
<td align="right">
  231.39
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .78
</td>
<td>
Thu: 2011-08-18 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-17 19:00:00
</td>
<td align="right">
  231.25
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-08-17 14:05:00
</td>
<td align="right">
   39.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-08-18 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-08-17 14:15:00
</td>
<td align="right">
   39.28
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Thu: 2011-08-18 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-08-17 14:25:00
</td>
<td align="right">
   39.40
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2011-08-18 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-08-17 14:30:00
</td>
<td align="right">
   39.51
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2011-08-18 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-08-17 14:40:00
</td>
<td align="right">
   39.43
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2011-08-18 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-08-17 14:55:00
</td>
<td align="right">
   39.17
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Thu: 2011-08-18 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-17 18:15:00
</td>
<td align="right">
   25.13
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-08-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-17 18:25:00
</td>
<td align="right">
   25.10
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-08-18 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-17 18:35:00
</td>
<td align="right">
   25.07
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-08-18 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VLO">VLO</a></td>
<td>
2011-08-17 16:05:00
</td>
<td align="right">
   20.86
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2011-08-18 16:05
</td>
</tr>
</table>
<br /><hr />