<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-28 17:00:00
</td>
<td align="right">
   48.18
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-07-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-28 17:40:00
</td>
<td align="right">
   48.16
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 14:40:00
</td>
<td align="right">
   38.30
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-29 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 14:45:00
</td>
<td align="right">
   38.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-07-29 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 14:50:00
</td>
<td align="right">
   38.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-07-29 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 14:55:00
</td>
<td align="right">
   38.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-07-29 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 15:00:00
</td>
<td align="right">
   38.29
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 15:10:00
</td>
<td align="right">
   38.36
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-07-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 16:40:00
</td>
<td align="right">
   38.36
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-07-29 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-28 15:10:00
</td>
<td align="right">
   95.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-07-28 16:55:00
</td>
<td align="right">
   31.47
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-07-29 16:55
</td>
</tr>
</table>
<br /><hr />