<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-07 14:00:00
</td>
<td align="right">
   32.24
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-07 14:00:00
</td>
<td align="right">
   37.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2011-09-08 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-07 14:20:00
</td>
<td align="right">
  530.58
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2011-09-08 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-07 15:10:00
</td>
<td align="right">
  529.77
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    3.29
</td>
<td>
Thu: 2011-09-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-09-07 15:35:00
</td>
<td align="right">
   46.22
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2011-09-08 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-09-07 17:10:00
</td>
<td align="right">
   46.51
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-09-07 17:30:00
</td>
<td align="right">
   67.64
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-09-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-09-07 18:40:00
</td>
<td align="right">
   67.64
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-09-08 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-09-07 18:45:00
</td>
<td align="right">
   67.75
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-09-08 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-09-07 18:55:00
</td>
<td align="right">
   67.71
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2011-09-08 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-09-07 19:50:00
</td>
<td align="right">
   67.77
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-09-07 14:15:00
</td>
<td align="right">
  129.26
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    1.43
</td>
<td>
Thu: 2011-09-08 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-07 14:00:00
</td>
<td align="right">
   18.94
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-07 17:45:00
</td>
<td align="right">
   40.15
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Thu: 2011-09-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-07 14:50:00
</td>
<td align="right">
   66.99
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Thu: 2011-09-08 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-07 14:55:00
</td>
<td align="right">
   67.11
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Thu: 2011-09-08 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-07 15:15:00
</td>
<td align="right">
   67.52
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-09-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-07 16:15:00
</td>
<td align="right">
   67.53
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-07 16:30:00
</td>
<td align="right">
   67.66
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-07 16:40:00
</td>
<td align="right">
   67.62
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-07 16:45:00
</td>
<td align="right">
   67.57
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-07 15:55:00
</td>
<td align="right">
  532.69
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-07 18:35:00
</td>
<td align="right">
   40.33
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Thu: 2011-09-08 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 15:10:00
</td>
<td align="right">
   49.69
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2011-09-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 15:55:00
</td>
<td align="right">
   49.93
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-09-08 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 16:20:00
</td>
<td align="right">
   49.83
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2011-09-08 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 16:35:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-09-08 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 17:10:00
</td>
<td align="right">
   50.12
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Thu: 2011-09-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 17:15:00
</td>
<td align="right">
   50.12
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Thu: 2011-09-08 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 17:20:00
</td>
<td align="right">
   50.11
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Thu: 2011-09-08 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 17:25:00
</td>
<td align="right">
   50.12
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Thu: 2011-09-08 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 17:30:00
</td>
<td align="right">
   50.05
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Thu: 2011-09-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 17:35:00
</td>
<td align="right">
   50.12
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Thu: 2011-09-08 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 17:40:00
</td>
<td align="right">
   50.13
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Thu: 2011-09-08 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 17:50:00
</td>
<td align="right">
   50.19
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2011-09-08 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-07 18:00:00
</td>
<td align="right">
   50.38
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-09-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VZ">VZ</a></td>
<td>
2011-09-07 15:45:00
</td>
<td align="right">
   35.10
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VZ">VZ</a></td>
<td>
2011-09-07 15:50:00
</td>
<td align="right">
   35.13
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 14:05:00
</td>
<td align="right">
   52.07
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2011-09-08 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 14:15:00
</td>
<td align="right">
   52.01
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2011-09-08 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 14:25:00
</td>
<td align="right">
   52.00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Thu: 2011-09-08 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 14:35:00
</td>
<td align="right">
   52.02
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-09-08 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 15:15:00
</td>
<td align="right">
   52.28
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-09-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 15:30:00
</td>
<td align="right">
   52.24
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-09-08 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 15:40:00
</td>
<td align="right">
   52.31
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 16:10:00
</td>
<td align="right">
   52.24
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-07 16:25:00
</td>
<td align="right">
   52.22
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-09-08 16:25
</td>
</tr>
</table>
<br /><hr />