<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 14:20:00
</td>
<td align="right">
   56.40
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.78
</td>
<td>
Wed: 2011-08-03 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 15:05:00
</td>
<td align="right">
   55.86
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-08-03 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 15:45:00
</td>
<td align="right">
   55.95
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2011-08-03 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 15:50:00
</td>
<td align="right">
   55.92
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2011-08-03 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 16:35:00
</td>
<td align="right">
   55.90
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2011-08-03 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 17:00:00
</td>
<td align="right">
   55.84
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Wed: 2011-08-03 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 17:05:00
</td>
<td align="right">
   55.78
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Wed: 2011-08-03 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 17:10:00
</td>
<td align="right">
   55.70
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-08-03 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 17:55:00
</td>
<td align="right">
   55.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-08-03 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 18:10:00
</td>
<td align="right">
   55.65
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Wed: 2011-08-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 18:20:00
</td>
<td align="right">
   55.64
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.60
</td>
<td>
Wed: 2011-08-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 18:25:00
</td>
<td align="right">
   55.52
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Wed: 2011-08-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 18:30:00
</td>
<td align="right">
   55.41
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Wed: 2011-08-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 19:00:00
</td>
<td align="right">
   55.25
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-08-02 19:20:00
</td>
<td align="right">
   55.04
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-02 14:35:00
</td>
<td align="right">
  117.63
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.75
</td>
<td>
Wed: 2011-08-03 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-02 16:30:00
</td>
<td align="right">
  117.23
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Wed: 2011-08-03 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-02 17:15:00
</td>
<td align="right">
  116.53
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Wed: 2011-08-03 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 14:05:00
</td>
<td align="right">
  605.75
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.71
</td>
<td>
Wed: 2011-08-03 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 14:25:00
</td>
<td align="right">
  607.94
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -5.67
</td>
<td>
Wed: 2011-08-03 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 14:40:00
</td>
<td align="right">
  608.09
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -6.06
</td>
<td>
Wed: 2011-08-03 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 15:45:00
</td>
<td align="right">
  602.50
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   -3.36
</td>
<td>
Wed: 2011-08-03 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 16:10:00
</td>
<td align="right">
  602.10
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -4.00
</td>
<td>
Wed: 2011-08-03 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 16:55:00
</td>
<td align="right">
  599.33
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -3.19
</td>
<td>
Wed: 2011-08-03 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 17:20:00
</td>
<td align="right">
  600.14
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   -1.36
</td>
<td>
Wed: 2011-08-03 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 17:30:00
</td>
<td align="right">
  597.78
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    1.30
</td>
<td>
Wed: 2011-08-03 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 18:00:00
</td>
<td align="right">
  598.14
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    1.61
</td>
<td>
Wed: 2011-08-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 18:10:00
</td>
<td align="right">
  599.46
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-08-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 18:15:00
</td>
<td align="right">
  599.99
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.92
</td>
<td>
Wed: 2011-08-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 18:20:00
</td>
<td align="right">
  598.78
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   -1.52
</td>
<td>
Wed: 2011-08-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 18:30:00
</td>
<td align="right">
  599.08
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.24
</td>
<td>
Wed: 2011-08-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 18:35:00
</td>
<td align="right">
  598.68
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   -2.09
</td>
<td>
Wed: 2011-08-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 18:50:00
</td>
<td align="right">
  599.50
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   -6.07
</td>
<td>
Wed: 2011-08-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 18:55:00
</td>
<td align="right">
  600.73
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   -7.96
</td>
<td>
Wed: 2011-08-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 19:00:00
</td>
<td align="right">
  599.75
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 19:05:00
</td>
<td align="right">
  599.94
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 19:10:00
</td>
<td align="right">
  599.40
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 19:20:00
</td>
<td align="right">
  597.26
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-02 19:50:00
</td>
<td align="right">
  593.43
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-02 14:00:00
</td>
<td align="right">
   79.60
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.82
</td>
<td>
Wed: 2011-08-03 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-02 14:45:00
</td>
<td align="right">
  156.39
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.10
</td>
<td>
Wed: 2011-08-03 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-02 15:00:00
</td>
<td align="right">
  155.98
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -1.17
</td>
<td>
Wed: 2011-08-03 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-02 17:10:00
</td>
<td align="right">
   56.98
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2011-08-03 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-02 17:30:00
</td>
<td align="right">
   56.98
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2011-08-03 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-02 17:35:00
</td>
<td align="right">
   56.86
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2011-08-03 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-02 18:00:00
</td>
<td align="right">
   56.73
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-08-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-08-02 15:45:00
</td>
<td align="right">
   75.66
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Wed: 2011-08-03 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 15:55:00
</td>
<td align="right">
   50.17
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-08-03 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 16:00:00
</td>
<td align="right">
   50.14
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-08-03 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 16:05:00
</td>
<td align="right">
   50.20
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-08-03 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 16:10:00
</td>
<td align="right">
   50.18
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-08-03 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 16:15:00
</td>
<td align="right">
   50.20
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-08-03 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 16:20:00
</td>
<td align="right">
   50.23
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-08-03 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 16:25:00
</td>
<td align="right">
   50.26
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2011-08-03 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 16:30:00
</td>
<td align="right">
   50.23
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2011-08-03 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-08-02 18:15:00
</td>
<td align="right">
   50.22
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-08-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-02 16:55:00
</td>
<td align="right">
   45.57
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-08-03 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-02 17:00:00
</td>
<td align="right">
   45.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2011-08-03 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-02 17:25:00
</td>
<td align="right">
   45.82
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2011-08-03 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-02 17:35:00
</td>
<td align="right">
  119.57
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2011-08-03 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-02 17:50:00
</td>
<td align="right">
  119.42
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2011-08-03 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-02 17:55:00
</td>
<td align="right">
  119.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Wed: 2011-08-03 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-02 18:15:00
</td>
<td align="right">
  119.69
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2011-08-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-02 18:35:00
</td>
<td align="right">
  119.30
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-08-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-02 19:15:00
</td>
<td align="right">
  119.44
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 16:50:00
</td>
<td align="right">
   92.92
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   -1.02
</td>
<td>
Wed: 2011-08-03 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:00:00
</td>
<td align="right">
   92.77
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   -1.34
</td>
<td>
Wed: 2011-08-03 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:05:00
</td>
<td align="right">
   92.96
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -1.16
</td>
<td>
Wed: 2011-08-03 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:10:00
</td>
<td align="right">
   92.66
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.51
</td>
<td>
Wed: 2011-08-03 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:15:00
</td>
<td align="right">
   92.81
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Wed: 2011-08-03 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:20:00
</td>
<td align="right">
   92.74
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.77
</td>
<td>
Wed: 2011-08-03 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:25:00
</td>
<td align="right">
   92.68
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.73
</td>
<td>
Wed: 2011-08-03 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:40:00
</td>
<td align="right">
   92.18
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Wed: 2011-08-03 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:45:00
</td>
<td align="right">
   92.04
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-08-03 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 17:50:00
</td>
<td align="right">
   91.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2011-08-03 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 18:00:00
</td>
<td align="right">
   91.43
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2011-08-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 18:25:00
</td>
<td align="right">
   91.95
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.76
</td>
<td>
Wed: 2011-08-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 18:35:00
</td>
<td align="right">
   91.87
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.73
</td>
<td>
Wed: 2011-08-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 18:40:00
</td>
<td align="right">
   91.76
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.99
</td>
<td>
Wed: 2011-08-03 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 18:45:00
</td>
<td align="right">
   91.97
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   -1.53
</td>
<td>
Wed: 2011-08-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 19:00:00
</td>
<td align="right">
   91.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-02 19:55:00
</td>
<td align="right">
   90.27
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-03 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2011-08-02 14:15:00
</td>
<td align="right">
   41.53
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2011-08-03 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2011-08-02 15:20:00
</td>
<td align="right">
   41.29
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-08-03 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2011-08-02 15:45:00
</td>
<td align="right">
   41.25
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Wed: 2011-08-03 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2011-08-02 16:05:00
</td>
<td align="right">
   41.22
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2011-08-03 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2011-08-02 16:15:00
</td>
<td align="right">
   41.25
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2011-08-03 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2011-08-02 16:20:00
</td>
<td align="right">
   41.25
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2011-08-03 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-08-02 16:35:00
</td>
<td align="right">
  133.02
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-08-03 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-08-02 18:05:00
</td>
<td align="right">
  132.95
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Wed: 2011-08-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-02 17:05:00
</td>
<td align="right">
   78.14
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.57
</td>
<td>
Wed: 2011-08-03 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-02 17:25:00
</td>
<td align="right">
   78.04
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2011-08-03 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-02 17:30:00
</td>
<td align="right">
   77.98
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Wed: 2011-08-03 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-02 18:25:00
</td>
<td align="right">
   77.70
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2011-08-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:00:00
</td>
<td align="right">
   53.82
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-08-03 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:10:00
</td>
<td align="right">
   53.79
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-08-03 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:20:00
</td>
<td align="right">
   53.82
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-08-03 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:25:00
</td>
<td align="right">
   53.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-08-03 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:30:00
</td>
<td align="right">
   53.75
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2011-08-03 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:35:00
</td>
<td align="right">
   53.86
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-08-03 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:45:00
</td>
<td align="right">
   53.87
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-08-03 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:50:00
</td>
<td align="right">
   53.71
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-08-03 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 14:55:00
</td>
<td align="right">
   53.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-08-03 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 15:00:00
</td>
<td align="right">
   53.80
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-08-03 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 15:05:00
</td>
<td align="right">
   53.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2011-08-03 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 15:15:00
</td>
<td align="right">
   53.63
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2011-08-03 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-08-02 15:20:00
</td>
<td align="right">
   53.71
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-08-03 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-02 15:15:00
</td>
<td align="right">
  127.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2011-08-03 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-02 15:25:00
</td>
<td align="right">
  127.42
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-08-03 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-02 15:30:00
</td>
<td align="right">
  127.41
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-08-03 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-02 16:00:00
</td>
<td align="right">
  127.26
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2011-08-03 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-02 16:15:00
</td>
<td align="right">
  127.46
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2011-08-03 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 15:10:00
</td>
<td align="right">
   97.23
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2011-08-03 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 15:15:00
</td>
<td align="right">
   97.38
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-08-03 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 15:20:00
</td>
<td align="right">
   96.90
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Wed: 2011-08-03 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 15:25:00
</td>
<td align="right">
   97.21
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2011-08-03 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 15:50:00
</td>
<td align="right">
   97.44
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.84
</td>
<td>
Wed: 2011-08-03 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 16:00:00
</td>
<td align="right">
   97.39
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Wed: 2011-08-03 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 16:05:00
</td>
<td align="right">
   97.40
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Wed: 2011-08-03 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 16:30:00
</td>
<td align="right">
   97.35
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Wed: 2011-08-03 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 16:45:00
</td>
<td align="right">
   96.52
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-08-03 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 16:55:00
</td>
<td align="right">
   96.67
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.73
</td>
<td>
Wed: 2011-08-03 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 17:00:00
</td>
<td align="right">
   96.90
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.64
</td>
<td>
Wed: 2011-08-03 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 17:05:00
</td>
<td align="right">
   96.94
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.74
</td>
<td>
Wed: 2011-08-03 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 17:10:00
</td>
<td align="right">
   96.74
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Wed: 2011-08-03 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 17:15:00
</td>
<td align="right">
   96.99
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.64
</td>
<td>
Wed: 2011-08-03 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-02 17:45:00
</td>
<td align="right">
   96.38
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.45
</td>
<td>
Wed: 2011-08-03 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-02 14:10:00
</td>
<td align="right">
   79.31
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Wed: 2011-08-03 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-02 14:20:00
</td>
<td align="right">
   79.31
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Wed: 2011-08-03 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-02 14:25:00
</td>
<td align="right">
   79.29
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Wed: 2011-08-03 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-02 14:30:00
</td>
<td align="right">
   79.12
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Wed: 2011-08-03 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-02 14:40:00
</td>
<td align="right">
   79.36
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.62
</td>
<td>
Wed: 2011-08-03 14:40
</td>
</tr>
</table>
<br /><hr />