<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-22 13:50:00
</td>
<td align="right">
   47.52
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Fri: 2011-09-23 13:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
   47.63
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-22 14:55:00
</td>
<td align="right">
   47.34
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-09-23 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-22 16:55:00
</td>
<td align="right">
   47.33
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 13:30:00
</td>
<td align="right">
  524.09
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    2.28
</td>
<td>
Fri: 2011-09-23 13:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 13:35:00
</td>
<td align="right">
  526.01
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.57
</td>
<td>
Fri: 2011-09-23 13:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 13:40:00
</td>
<td align="right">
  524.42
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Fri: 2011-09-23 13:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 13:55:00
</td>
<td align="right">
  519.23
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    3.67
</td>
<td>
Fri: 2011-09-23 13:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
  523.77
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.77
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:05:00
</td>
<td align="right">
  524.00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
  526.37
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:35:00
</td>
<td align="right">
  525.44
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:50:00
</td>
<td align="right">
  523.76
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-09-22 15:35:00
</td>
<td align="right">
  113.36
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-09-22 15:50:00
</td>
<td align="right">
  112.95
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 13:45:00
</td>
<td align="right">
   69.90
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2011-09-23 13:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 13:55:00
</td>
<td align="right">
   69.99
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2011-09-23 13:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
   70.07
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
   70.06
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
   70.13
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 13:35:00
</td>
<td align="right">
  326.71
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    4.33
</td>
<td>
Fri: 2011-09-23 13:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 13:45:00
</td>
<td align="right">
  324.84
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    7.44
</td>
<td>
Fri: 2011-09-23 13:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
  325.54
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    4.73
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 13:45:00
</td>
<td align="right">
   72.58
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 13:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 13:50:00
</td>
<td align="right">
   73.13
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 13:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-22 13:35:00
</td>
<td align="right">
   32.27
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 13:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-09-22 13:30:00
</td>
<td align="right">
  169.16
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -1.09
</td>
<td>
Fri: 2011-09-23 13:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-09-22 13:35:00
</td>
<td align="right">
  169.48
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   -1.35
</td>
<td>
Fri: 2011-09-23 13:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-09-22 13:40:00
</td>
<td align="right">
  169.13
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2011-09-23 13:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-09-22 13:45:00
</td>
<td align="right">
  168.27
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Fri: 2011-09-23 13:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
  168.07
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 14:20:00
</td>
<td align="right">
   64.39
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:05:00
</td>
<td align="right">
   47.25
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-09-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:20:00
</td>
<td align="right">
   47.45
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
   47.37
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
   47.50
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:35:00
</td>
<td align="right">
   47.29
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 14:35
</td>
</tr>
</table>
<br /><hr />