<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-08-04 17:15:00
</td>
<td align="right">
   84.37
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -1.48
</td>
<td>
Fri: 2011-08-05 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-08-04 18:50:00
</td>
<td align="right">
   83.73
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.98
</td>
<td>
Fri: 2011-08-05 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2011-08-04 18:05:00
</td>
<td align="right">
   64.66
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Fri: 2011-08-05 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-04 14:00:00
</td>
<td align="right">
   44.63
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Fri: 2011-08-05 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-04 14:20:00
</td>
<td align="right">
   44.54
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Fri: 2011-08-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-04 14:10:00
</td>
<td align="right">
   90.87
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.92
</td>
<td>
Fri: 2011-08-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 14:00:00
</td>
<td align="right">
   75.81
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Fri: 2011-08-05 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 15:20:00
</td>
<td align="right">
   74.98
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-08-05 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 15:35:00
</td>
<td align="right">
   75.12
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-08-05 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 15:40:00
</td>
<td align="right">
   74.85
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Fri: 2011-08-05 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 15:45:00
</td>
<td align="right">
   74.52
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .78
</td>
<td>
Fri: 2011-08-05 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 15:50:00
</td>
<td align="right">
   74.71
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Fri: 2011-08-05 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 15:55:00
</td>
<td align="right">
   74.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-08-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 16:05:00
</td>
<td align="right">
   74.87
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-08-05 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 16:10:00
</td>
<td align="right">
   75.09
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-08-05 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 16:15:00
</td>
<td align="right">
   74.95
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-08-05 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 16:20:00
</td>
<td align="right">
   74.86
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-08-05 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 16:45:00
</td>
<td align="right">
   75.30
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.74
</td>
<td>
Fri: 2011-08-05 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 16:50:00
</td>
<td align="right">
   75.18
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Fri: 2011-08-05 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 16:55:00
</td>
<td align="right">
   75.01
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Fri: 2011-08-05 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-08-04 17:00:00
</td>
<td align="right">
   75.01
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Fri: 2011-08-05 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-04 14:40:00
</td>
<td align="right">
   76.86
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   -1.11
</td>
<td>
Fri: 2011-08-05 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-04 14:45:00
</td>
<td align="right">
   76.73
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   -1.34
</td>
<td>
Fri: 2011-08-05 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-04 16:20:00
</td>
<td align="right">
   73.88
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .69
</td>
<td>
Fri: 2011-08-05 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-04 16:25:00
</td>
<td align="right">
   73.70
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Fri: 2011-08-05 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-04 16:30:00
</td>
<td align="right">
   73.76
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .82
</td>
<td>
Fri: 2011-08-05 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-04 16:35:00
</td>
<td align="right">
   73.62
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    1.04
</td>
<td>
Fri: 2011-08-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-04 19:55:00
</td>
<td align="right">
   73.81
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2011-08-04 18:40:00
</td>
<td align="right">
   74.20
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Fri: 2011-08-05 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2011-08-04 18:55:00
</td>
<td align="right">
   74.32
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.95
</td>
<td>
Fri: 2011-08-05 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2011-08-04 15:30:00
</td>
<td align="right">
   14.43
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2011-08-05 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-08-04 15:20:00
</td>
<td align="right">
   41.65
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-08-05 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-08-04 19:00:00
</td>
<td align="right">
   41.61
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-08-04 14:05:00
</td>
<td align="right">
   40.93
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-08-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-08-04 14:20:00
</td>
<td align="right">
   40.94
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Fri: 2011-08-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-08-04 14:25:00
</td>
<td align="right">
   40.93
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.58
</td>
<td>
Fri: 2011-08-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-08-04 14:50:00
</td>
<td align="right">
   40.71
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Fri: 2011-08-05 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-08-04 16:35:00
</td>
<td align="right">
   40.64
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-08-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-08-04 16:45:00
</td>
<td align="right">
   40.69
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Fri: 2011-08-05 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-08-04 17:25:00
</td>
<td align="right">
   40.36
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.81
</td>
<td>
Fri: 2011-08-05 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-08-04 17:50:00
</td>
<td align="right">
   40.06
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Fri: 2011-08-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:00:00
</td>
<td align="right">
   46.39
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2011-08-05 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:05:00
</td>
<td align="right">
   46.40
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2011-08-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:10:00
</td>
<td align="right">
   46.29
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2011-08-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:20:00
</td>
<td align="right">
   46.35
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2011-08-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:25:00
</td>
<td align="right">
   46.38
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Fri: 2011-08-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:30:00
</td>
<td align="right">
   46.50
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Fri: 2011-08-05 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:35:00
</td>
<td align="right">
   46.54
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-08-05 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:40:00
</td>
<td align="right">
   46.38
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-08-05 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:45:00
</td>
<td align="right">
   46.41
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Fri: 2011-08-05 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 14:55:00
</td>
<td align="right">
   46.26
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2011-08-05 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:00:00
</td>
<td align="right">
   46.26
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2011-08-05 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:05:00
</td>
<td align="right">
   46.26
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-08-05 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:15:00
</td>
<td align="right">
   46.33
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-08-05 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:20:00
</td>
<td align="right">
   46.01
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-08-05 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:25:00
</td>
<td align="right">
   46.01
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2011-08-05 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:30:00
</td>
<td align="right">
   46.26
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2011-08-05 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:35:00
</td>
<td align="right">
   46.11
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Fri: 2011-08-05 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:40:00
</td>
<td align="right">
   45.97
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2011-08-05 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:45:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .68
</td>
<td>
Fri: 2011-08-05 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 15:55:00
</td>
<td align="right">
   45.93
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Fri: 2011-08-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:00:00
</td>
<td align="right">
   46.12
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-08-05 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:05:00
</td>
<td align="right">
   46.05
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2011-08-05 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:10:00
</td>
<td align="right">
   46.25
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2011-08-05 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:15:00
</td>
<td align="right">
   46.29
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-08-05 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:20:00
</td>
<td align="right">
   46.23
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2011-08-05 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:25:00
</td>
<td align="right">
   46.36
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2011-08-05 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:35:00
</td>
<td align="right">
   46.44
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-08-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:45:00
</td>
<td align="right">
   46.43
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2011-08-05 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 16:55:00
</td>
<td align="right">
   46.20
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2011-08-05 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 17:10:00
</td>
<td align="right">
   46.10
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-08-05 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 17:15:00
</td>
<td align="right">
   46.13
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Fri: 2011-08-05 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 17:20:00
</td>
<td align="right">
   46.22
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Fri: 2011-08-05 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 17:25:00
</td>
<td align="right">
   46.31
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Fri: 2011-08-05 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 17:40:00
</td>
<td align="right">
   46.14
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-08-05 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 17:55:00
</td>
<td align="right">
   46.07
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2011-08-05 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 18:30:00
</td>
<td align="right">
   45.97
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Fri: 2011-08-05 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 18:35:00
</td>
<td align="right">
   46.01
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Fri: 2011-08-05 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 18:40:00
</td>
<td align="right">
   46.05
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.73
</td>
<td>
Fri: 2011-08-05 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 19:05:00
</td>
<td align="right">
   46.03
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 19:10:00
</td>
<td align="right">
   45.82
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 19:15:00
</td>
<td align="right">
   45.69
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 19:25:00
</td>
<td align="right">
   45.47
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 19:30:00
</td>
<td align="right">
   45.45
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 19:50:00
</td>
<td align="right">
   45.13
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-04 19:55:00
</td>
<td align="right">
   45.09
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2011-08-04 15:30:00
</td>
<td align="right">
   35.14
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-08-05 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 17:00:00
</td>
<td align="right">
   92.10
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Fri: 2011-08-05 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 17:10:00
</td>
<td align="right">
   92.21
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   -1.08
</td>
<td>
Fri: 2011-08-05 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 17:45:00
</td>
<td align="right">
   91.65
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2011-08-05 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 17:50:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Fri: 2011-08-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 18:15:00
</td>
<td align="right">
   91.16
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Fri: 2011-08-05 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 18:25:00
</td>
<td align="right">
   90.49
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-08-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 18:35:00
</td>
<td align="right">
   91.13
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.86
</td>
<td>
Fri: 2011-08-05 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 18:45:00
</td>
<td align="right">
   91.37
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.91
</td>
<td>
Fri: 2011-08-05 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 19:00:00
</td>
<td align="right">
   91.11
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 19:05:00
</td>
<td align="right">
   91.24
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 19:25:00
</td>
<td align="right">
   90.41
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 19:30:00
</td>
<td align="right">
   90.21
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 19:45:00
</td>
<td align="right">
   89.46
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 19:50:00
</td>
<td align="right">
   88.90
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-04 19:55:00
</td>
<td align="right">
   88.88
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 15:00:00
</td>
<td align="right">
  145.38
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Fri: 2011-08-05 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 15:50:00
</td>
<td align="right">
  142.98
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    3.06
</td>
<td>
Fri: 2011-08-05 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 16:05:00
</td>
<td align="right">
  144.29
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    1.05
</td>
<td>
Fri: 2011-08-05 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 16:20:00
</td>
<td align="right">
  144.83
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.60
</td>
<td>
Fri: 2011-08-05 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 17:25:00
</td>
<td align="right">
  144.21
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -2.85
</td>
<td>
Fri: 2011-08-05 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 17:35:00
</td>
<td align="right">
  143.69
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Fri: 2011-08-05 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 18:25:00
</td>
<td align="right">
  141.36
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    1.06
</td>
<td>
Fri: 2011-08-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 18:45:00
</td>
<td align="right">
  143.52
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   -1.64
</td>
<td>
Fri: 2011-08-05 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 18:50:00
</td>
<td align="right">
  143.20
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.78
</td>
<td>
Fri: 2011-08-05 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 19:00:00
</td>
<td align="right">
  143.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 19:05:00
</td>
<td align="right">
  143.56
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 19:10:00
</td>
<td align="right">
  143.22
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 19:20:00
</td>
<td align="right">
  142.59
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-08-04 19:50:00
</td>
<td align="right">
  141.42
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-04 14:10:00
</td>
<td align="right">
   36.60
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-08-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-04 14:25:00
</td>
<td align="right">
   36.50
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.45
</td>
<td>
Fri: 2011-08-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-04 14:55:00
</td>
<td align="right">
   36.20
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2011-08-05 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-04 15:35:00
</td>
<td align="right">
   36.07
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-08-05 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-04 15:05:00
</td>
<td align="right">
   89.81
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Fri: 2011-08-05 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-04 15:35:00
</td>
<td align="right">
   89.62
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.22
</td>
<td>
Fri: 2011-08-05 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-04 15:40:00
</td>
<td align="right">
   89.41
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.24
</td>
<td>
Fri: 2011-08-05 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 14:05:00
</td>
<td align="right">
   59.05
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-08-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 14:10:00
</td>
<td align="right">
   59.25
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Fri: 2011-08-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 14:15:00
</td>
<td align="right">
   58.60
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2011-08-05 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 14:30:00
</td>
<td align="right">
   59.02
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Fri: 2011-08-05 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 14:35:00
</td>
<td align="right">
   59.09
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Fri: 2011-08-05 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 14:40:00
</td>
<td align="right">
   58.93
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Fri: 2011-08-05 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 14:50:00
</td>
<td align="right">
   58.67
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-08-05 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 15:15:00
</td>
<td align="right">
   58.99
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .98
</td>
<td>
Fri: 2011-08-05 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 15:35:00
</td>
<td align="right">
   58.50
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    1.32
</td>
<td>
Fri: 2011-08-05 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 15:55:00
</td>
<td align="right">
   58.97
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    1.02
</td>
<td>
Fri: 2011-08-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 16:10:00
</td>
<td align="right">
   59.94
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2011-08-05 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 16:55:00
</td>
<td align="right">
   59.99
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   -1.10
</td>
<td>
Fri: 2011-08-05 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 17:30:00
</td>
<td align="right">
   59.00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Fri: 2011-08-05 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 17:35:00
</td>
<td align="right">
   59.09
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-08-05 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 17:40:00
</td>
<td align="right">
   59.00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-08-05 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 17:50:00
</td>
<td align="right">
   58.75
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .73
</td>
<td>
Fri: 2011-08-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 18:10:00
</td>
<td align="right">
   58.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .84
</td>
<td>
Fri: 2011-08-05 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 18:20:00
</td>
<td align="right">
   58.48
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Fri: 2011-08-05 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 18:25:00
</td>
<td align="right">
   58.51
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Fri: 2011-08-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 18:30:00
</td>
<td align="right">
   58.60
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2011-08-05 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 18:35:00
</td>
<td align="right">
   59.20
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Fri: 2011-08-05 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 18:40:00
</td>
<td align="right">
   59.16
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Fri: 2011-08-05 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 18:45:00
</td>
<td align="right">
   59.19
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2011-08-05 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 18:55:00
</td>
<td align="right">
   59.39
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.70
</td>
<td>
Fri: 2011-08-05 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 19:15:00
</td>
<td align="right">
   59.03
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 19:20:00
</td>
<td align="right">
   59.05
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 19:25:00
</td>
<td align="right">
   59.03
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-08-04 19:30:00
</td>
<td align="right">
   58.81
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-05 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-04 16:35:00
</td>
<td align="right">
  253.92
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -1.93
</td>
<td>
Fri: 2011-08-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-04 16:40:00
</td>
<td align="right">
  254.00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   -2.80
</td>
<td>
Fri: 2011-08-05 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-04 17:30:00
</td>
<td align="right">
  251.51
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -2.18
</td>
<td>
Fri: 2011-08-05 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-04 17:35:00
</td>
<td align="right">
  251.99
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   -1.56
</td>
<td>
Fri: 2011-08-05 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:00:00
</td>
<td align="right">
   76.79
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Fri: 2011-08-05 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:05:00
</td>
<td align="right">
   76.68
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-08-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:10:00
</td>
<td align="right">
   76.75
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-08-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:15:00
</td>
<td align="right">
   76.50
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-08-05 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:20:00
</td>
<td align="right">
   76.77
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.75
</td>
<td>
Fri: 2011-08-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:35:00
</td>
<td align="right">
   76.91
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.81
</td>
<td>
Fri: 2011-08-05 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:40:00
</td>
<td align="right">
   76.70
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.87
</td>
<td>
Fri: 2011-08-05 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:50:00
</td>
<td align="right">
   76.59
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.97
</td>
<td>
Fri: 2011-08-05 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 14:55:00
</td>
<td align="right">
   76.64
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   -1.01
</td>
<td>
Fri: 2011-08-05 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 15:00:00
</td>
<td align="right">
   76.50
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Fri: 2011-08-05 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 15:30:00
</td>
<td align="right">
   76.24
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2011-08-05 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 15:35:00
</td>
<td align="right">
   76.10
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Fri: 2011-08-05 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 16:25:00
</td>
<td align="right">
   75.68
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2011-08-05 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 16:30:00
</td>
<td align="right">
   75.78
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Fri: 2011-08-05 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 16:35:00
</td>
<td align="right">
   75.75
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Fri: 2011-08-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 18:20:00
</td>
<td align="right">
   74.65
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-08-05 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 18:25:00
</td>
<td align="right">
   74.64
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Fri: 2011-08-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 18:40:00
</td>
<td align="right">
   75.14
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.99
</td>
<td>
Fri: 2011-08-05 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 18:45:00
</td>
<td align="right">
   75.26
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   -1.14
</td>
<td>
Fri: 2011-08-05 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-04 18:55:00
</td>
<td align="right">
   75.04
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   -1.16
</td>
<td>
Fri: 2011-08-05 18:55
</td>
</tr>
</table>
<br /><hr />