<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-25 13:30:00
</td>
<td align="right">
  220.53
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.57
</td>
<td>
Fri: 2011-08-26 13:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-25 13:50:00
</td>
<td align="right">
  220.19
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.78
</td>
<td>
Fri: 2011-08-26 13:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-25 13:55:00
</td>
<td align="right">
  220.30
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -1.49
</td>
<td>
Fri: 2011-08-26 13:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-25 15:05:00
</td>
<td align="right">
  218.60
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-26 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-25 15:10:00
</td>
<td align="right">
  218.71
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-26 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-25 14:05:00
</td>
<td align="right">
   74.60
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-08-26 14:05
</td>
</tr>
</table>
<br /><hr />