<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-15 14:15:00
</td>
<td align="right">
  539.90
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   -1.95
</td>
<td>
Fri: 2011-09-16 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-15 16:35:00
</td>
<td align="right">
  541.23
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .90
</td>
<td>
Fri: 2011-09-16 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-15 16:40:00
</td>
<td align="right">
  541.71
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .80
</td>
<td>
Fri: 2011-09-16 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-15 16:45:00
</td>
<td align="right">
  541.91
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Fri: 2011-09-16 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-15 16:50:00
</td>
<td align="right">
  541.46
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    1.82
</td>
<td>
Fri: 2011-09-16 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-15 17:30:00
</td>
<td align="right">
  542.45
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-15 17:45:00
</td>
<td align="right">
  542.29
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-15 14:15:00
</td>
<td align="right">
   70.67
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-15 14:05:00
</td>
<td align="right">
  183.12
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-15 14:10:00
</td>
<td align="right">
  182.61
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-15 14:15:00
</td>
<td align="right">
  181.75
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-15 14:20:00
</td>
<td align="right">
  180.48
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-15 14:25:00
</td>
<td align="right">
  180.30
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-15 14:30:00
</td>
<td align="right">
  178.89
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-15 14:35:00
</td>
<td align="right">
  179.06
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-15 14:50:00
</td>
<td align="right">
  179.91
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-16 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-15 14:10:00
</td>
<td align="right">
   67.81
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2011-09-16 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-15 14:15:00
</td>
<td align="right">
   67.77
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-09-16 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-15 14:05:00
</td>
<td align="right">
   39.06
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Fri: 2011-09-16 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-15 14:25:00
</td>
<td align="right">
   38.89
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2011-09-16 14:25
</td>
</tr>
</table>
<br /><hr />