<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 16:40:00
</td>
<td align="right">
   37.59
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-07-13 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 16:45:00
</td>
<td align="right">
   37.60
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-07-13 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 16:50:00
</td>
<td align="right">
   37.57
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-07-13 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 16:55:00
</td>
<td align="right">
   37.65
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-07-13 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:00:00
</td>
<td align="right">
   37.67
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-07-13 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:10:00
</td>
<td align="right">
   37.69
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-07-13 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:15:00
</td>
<td align="right">
   37.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-07-13 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:20:00
</td>
<td align="right">
   37.71
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-07-13 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:25:00
</td>
<td align="right">
   37.65
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-07-13 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:30:00
</td>
<td align="right">
   37.64
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2011-07-13 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:40:00
</td>
<td align="right">
   37.60
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:45:00
</td>
<td align="right">
   37.58
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:50:00
</td>
<td align="right">
   37.55
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 17:55:00
</td>
<td align="right">
   37.54
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 18:05:00
</td>
<td align="right">
   37.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 18:10:00
</td>
<td align="right">
   37.80
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 18:15:00
</td>
<td align="right">
   37.85
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 18:20:00
</td>
<td align="right">
   37.84
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 18:25:00
</td>
<td align="right">
   37.85
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-12 18:30:00
</td>
<td align="right">
   37.82
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:05:00
</td>
<td align="right">
   66.36
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .69
</td>
<td>
Wed: 2011-07-13 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:10:00
</td>
<td align="right">
   66.28
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .81
</td>
<td>
Wed: 2011-07-13 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:15:00
</td>
<td align="right">
   66.36
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .65
</td>
<td>
Wed: 2011-07-13 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:20:00
</td>
<td align="right">
   66.41
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Wed: 2011-07-13 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:25:00
</td>
<td align="right">
   66.41
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .73
</td>
<td>
Wed: 2011-07-13 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:30:00
</td>
<td align="right">
   66.51
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Wed: 2011-07-13 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:35:00
</td>
<td align="right">
   66.62
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2011-07-13 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:40:00
</td>
<td align="right">
   66.68
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-07-13 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:45:00
</td>
<td align="right">
   66.77
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-07-13 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:50:00
</td>
<td align="right">
   66.91
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2011-07-13 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 17:55:00
</td>
<td align="right">
   66.94
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Wed: 2011-07-13 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:00:00
</td>
<td align="right">
   66.98
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Wed: 2011-07-13 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:05:00
</td>
<td align="right">
   67.05
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:10:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:15:00
</td>
<td align="right">
   67.01
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:20:00
</td>
<td align="right">
   67.12
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:25:00
</td>
<td align="right">
   67.14
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:30:00
</td>
<td align="right">
   67.02
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:40:00
</td>
<td align="right">
   66.74
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:45:00
</td>
<td align="right">
   66.88
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:50:00
</td>
<td align="right">
   66.81
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 18:55:00
</td>
<td align="right">
   66.63
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-07-12 19:00:00
</td>
<td align="right">
   66.63
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 17:25:00
</td>
<td align="right">
   62.32
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2011-07-13 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 17:30:00
</td>
<td align="right">
   62.35
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-07-13 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 17:40:00
</td>
<td align="right">
   62.28
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-07-13 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 17:45:00
</td>
<td align="right">
   62.32
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-07-13 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 17:50:00
</td>
<td align="right">
   62.29
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-07-13 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 17:55:00
</td>
<td align="right">
   62.21
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-07-13 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 18:05:00
</td>
<td align="right">
   62.32
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2011-07-13 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 18:10:00
</td>
<td align="right">
   62.49
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Wed: 2011-07-13 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 18:15:00
</td>
<td align="right">
   62.64
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Wed: 2011-07-13 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 18:30:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 18:35:00
</td>
<td align="right">
   62.27
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 18:45:00
</td>
<td align="right">
   62.31
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 18:50:00
</td>
<td align="right">
   62.21
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 19:10:00
</td>
<td align="right">
   62.01
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-07-12 19:15:00
</td>
<td align="right">
   62.05
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-12 18:10:00
</td>
<td align="right">
   60.48
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2011-07-13 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-12 19:05:00
</td>
<td align="right">
   60.35
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-12 19:20:00
</td>
<td align="right">
   60.28
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-12 19:25:00
</td>
<td align="right">
   60.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2011-07-12 19:30:00
</td>
<td align="right">
   60.11
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-12 16:05:00
</td>
<td align="right">
   51.66
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-07-13 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-12 16:20:00
</td>
<td align="right">
   51.64
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2011-07-13 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-07-12 17:25:00
</td>
<td align="right">
   51.61
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-07-12 15:45:00
</td>
<td align="right">
   32.50
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-07-13 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-07-12 17:20:00
</td>
<td align="right">
   32.55
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 15:25:00
</td>
<td align="right">
   82.41
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2011-07-13 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 15:30:00
</td>
<td align="right">
   82.48
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-07-13 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 15:40:00
</td>
<td align="right">
   82.56
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2011-07-13 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 15:45:00
</td>
<td align="right">
   82.67
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2011-07-13 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 15:50:00
</td>
<td align="right">
   82.61
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2011-07-13 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 15:55:00
</td>
<td align="right">
   82.67
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2011-07-13 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 16:05:00
</td>
<td align="right">
   82.61
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-07-13 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 16:10:00
</td>
<td align="right">
   82.51
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-07-13 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 16:15:00
</td>
<td align="right">
   82.52
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-07-13 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 16:30:00
</td>
<td align="right">
   82.50
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-07-13 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 16:35:00
</td>
<td align="right">
   82.38
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2011-07-13 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 16:40:00
</td>
<td align="right">
   82.44
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-07-13 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 16:45:00
</td>
<td align="right">
   82.46
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-07-13 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 16:55:00
</td>
<td align="right">
   82.45
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-07-13 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 17:00:00
</td>
<td align="right">
   82.45
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-07-13 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 17:25:00
</td>
<td align="right">
   82.39
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Wed: 2011-07-13 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 17:30:00
</td>
<td align="right">
   82.47
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 18:05:00
</td>
<td align="right">
   82.61
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 18:10:00
</td>
<td align="right">
   82.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-07-12 18:20:00
</td>
<td align="right">
   82.85
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-12 15:10:00
</td>
<td align="right">
   40.95
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2011-07-13 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-12 15:15:00
</td>
<td align="right">
   40.94
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-07-13 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-07-12 16:25:00
</td>
<td align="right">
   40.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-07-13 16:25
</td>
</tr>
</table>
<br /><hr />