<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-08-09 15:40:00
</td>
<td align="right">
   38.37
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2011-08-10 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 14:05:00
</td>
<td align="right">
   43.98
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-08-10 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 15:45:00
</td>
<td align="right">
   44.02
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-08-10 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 16:40:00
</td>
<td align="right">
   44.02
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2011-08-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 16:45:00
</td>
<td align="right">
   43.95
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-08-10 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 16:50:00
</td>
<td align="right">
   44.00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-08-10 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 17:40:00
</td>
<td align="right">
   44.25
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.61
</td>
<td>
Wed: 2011-08-10 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 17:50:00
</td>
<td align="right">
   43.92
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Wed: 2011-08-10 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 17:55:00
</td>
<td align="right">
   44.03
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Wed: 2011-08-10 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 18:10:00
</td>
<td align="right">
   44.05
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2011-08-10 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2011-08-09 19:00:00
</td>
<td align="right">
   43.34
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 14:00:00
</td>
<td align="right">
    6.54
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-08-10 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 14:45:00
</td>
<td align="right">
    6.67
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-08-10 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:10:00
</td>
<td align="right">
    6.74
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-08-10 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:15:00
</td>
<td align="right">
    6.75
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-08-10 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:20:00
</td>
<td align="right">
    6.77
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-08-10 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:25:00
</td>
<td align="right">
    6.80
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-08-10 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:30:00
</td>
<td align="right">
    6.80
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2011-08-10 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:35:00
</td>
<td align="right">
    6.81
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-08-10 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:40:00
</td>
<td align="right">
    6.73
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-08-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:45:00
</td>
<td align="right">
    6.72
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-08-10 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:50:00
</td>
<td align="right">
    6.70
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-08-10 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 16:55:00
</td>
<td align="right">
    6.72
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2011-08-10 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:00:00
</td>
<td align="right">
    6.68
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-08-10 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:05:00
</td>
<td align="right">
    6.76
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2011-08-10 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:10:00
</td>
<td align="right">
    6.75
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2011-08-10 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:15:00
</td>
<td align="right">
    6.76
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-08-10 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:25:00
</td>
<td align="right">
    6.74
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Wed: 2011-08-10 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:30:00
</td>
<td align="right">
    6.67
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2011-08-10 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:40:00
</td>
<td align="right">
    6.72
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2011-08-10 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:45:00
</td>
<td align="right">
    6.70
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2011-08-10 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:50:00
</td>
<td align="right">
    6.68
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2011-08-10 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 17:55:00
</td>
<td align="right">
    6.62
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2011-08-10 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 18:45:00
</td>
<td align="right">
    6.37
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-08-10 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 18:50:00
</td>
<td align="right">
    6.43
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2011-08-10 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 19:05:00
</td>
<td align="right">
    6.44
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 19:45:00
</td>
<td align="right">
    6.70
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-08-09 19:50:00
</td>
<td align="right">
    6.67
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 14:25:00
</td>
<td align="right">
  301.39
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    1.56
</td>
<td>
Wed: 2011-08-10 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 14:30:00
</td>
<td align="right">
  301.87
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Wed: 2011-08-10 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 14:35:00
</td>
<td align="right">
  301.32
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .95
</td>
<td>
Wed: 2011-08-10 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 14:45:00
</td>
<td align="right">
  301.21
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2011-08-10 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 14:50:00
</td>
<td align="right">
  302.00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Wed: 2011-08-10 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 15:00:00
</td>
<td align="right">
  300.80
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    2.73
</td>
<td>
Wed: 2011-08-10 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 15:10:00
</td>
<td align="right">
  300.16
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    2.50
</td>
<td>
Wed: 2011-08-10 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 15:25:00
</td>
<td align="right">
  302.95
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2011-08-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 15:30:00
</td>
<td align="right">
  302.21
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .96
</td>
<td>
Wed: 2011-08-10 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 15:40:00
</td>
<td align="right">
  302.55
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-08-10 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 15:50:00
</td>
<td align="right">
  302.44
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.30
</td>
<td>
Wed: 2011-08-10 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 15:55:00
</td>
<td align="right">
  302.46
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -2.42
</td>
<td>
Wed: 2011-08-10 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 16:05:00
</td>
<td align="right">
  303.56
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -2.60
</td>
<td>
Wed: 2011-08-10 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 16:15:00
</td>
<td align="right">
  302.61
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.83
</td>
<td>
Wed: 2011-08-10 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 16:40:00
</td>
<td align="right">
  302.74
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -2.07
</td>
<td>
Wed: 2011-08-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 16:45:00
</td>
<td align="right">
  301.75
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -1.74
</td>
<td>
Wed: 2011-08-10 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 17:05:00
</td>
<td align="right">
  300.96
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -2.96
</td>
<td>
Wed: 2011-08-10 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 17:10:00
</td>
<td align="right">
  301.65
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -4.07
</td>
<td>
Wed: 2011-08-10 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 17:20:00
</td>
<td align="right">
  301.80
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   -6.99
</td>
<td>
Wed: 2011-08-10 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 19:30:00
</td>
<td align="right">
  297.35
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 19:35:00
</td>
<td align="right">
  297.53
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 19:40:00
</td>
<td align="right">
  299.49
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-09 16:25:00
</td>
<td align="right">
   39.29
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-08-10 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-09 17:40:00
</td>
<td align="right">
   39.34
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.12
</td>
<td>
Wed: 2011-08-10 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-09 16:00:00
</td>
<td align="right">
  128.77
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Wed: 2011-08-10 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-09 16:10:00
</td>
<td align="right">
  128.96
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-08-10 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-09 16:15:00
</td>
<td align="right">
  129.14
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Wed: 2011-08-10 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-09 16:20:00
</td>
<td align="right">
  129.39
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.72
</td>
<td>
Wed: 2011-08-10 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-09 18:50:00
</td>
<td align="right">
  126.51
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    4.61
</td>
<td>
Wed: 2011-08-10 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-09 19:25:00
</td>
<td align="right">
  128.48
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-09 19:30:00
</td>
<td align="right">
  128.19
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-08-09 19:35:00
</td>
<td align="right">
  128.64
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-08-09 17:40:00
</td>
<td align="right">
   42.45
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -1.61
</td>
<td>
Wed: 2011-08-10 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2011-08-09 18:10:00
</td>
<td align="right">
   66.85
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2011-08-10 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-08-09 18:05:00
</td>
<td align="right">
   88.57
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   -1.11
</td>
<td>
Wed: 2011-08-10 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-08-09 18:40:00
</td>
<td align="right">
   75.73
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    3.07
</td>
<td>
Wed: 2011-08-10 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-09 14:10:00
</td>
<td align="right">
   56.08
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Wed: 2011-08-10 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2011-08-09 18:25:00
</td>
<td align="right">
   27.67
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2011-08-10 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-09 14:45:00
</td>
<td align="right">
   24.71
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-08-10 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-09 14:50:00
</td>
<td align="right">
   24.70
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-08-10 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-09 15:15:00
</td>
<td align="right">
   24.58
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2011-08-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-09 18:55:00
</td>
<td align="right">
   24.32
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    1.29
</td>
<td>
Wed: 2011-08-10 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-09 19:20:00
</td>
<td align="right">
   24.70
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-08-09 19:25:00
</td>
<td align="right">
   24.75
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-09 15:00:00
</td>
<td align="right">
  126.26
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    2.24
</td>
<td>
Wed: 2011-08-10 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-09 15:30:00
</td>
<td align="right">
  127.32
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    1.18
</td>
<td>
Wed: 2011-08-10 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-09 16:00:00
</td>
<td align="right">
  128.50
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.85
</td>
<td>
Wed: 2011-08-10 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-09 16:15:00
</td>
<td align="right">
  128.31
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.57
</td>
<td>
Wed: 2011-08-10 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-09 16:20:00
</td>
<td align="right">
  128.47
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.76
</td>
<td>
Wed: 2011-08-10 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-09 16:30:00
</td>
<td align="right">
  128.50
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.75
</td>
<td>
Wed: 2011-08-10 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-09 17:05:00
</td>
<td align="right">
  127.83
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.25
</td>
<td>
Wed: 2011-08-10 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-08-09 18:00:00
</td>
<td align="right">
  125.78
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   -2.49
</td>
<td>
Wed: 2011-08-10 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-09 14:00:00
</td>
<td align="right">
   49.40
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .82
</td>
<td>
Wed: 2011-08-10 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-09 17:55:00
</td>
<td align="right">
   50.87
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.74
</td>
<td>
Wed: 2011-08-10 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-09 19:00:00
</td>
<td align="right">
   49.53
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-09 15:35:00
</td>
<td align="right">
  114.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Wed: 2011-08-10 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-09 15:40:00
</td>
<td align="right">
  114.82
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2011-08-10 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-09 16:15:00
</td>
<td align="right">
  115.18
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Wed: 2011-08-10 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-09 16:20:00
</td>
<td align="right">
  115.33
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Wed: 2011-08-10 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-08-09 18:55:00
</td>
<td align="right">
   42.67
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    2.02
</td>
<td>
Wed: 2011-08-10 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-08-09 15:15:00
</td>
<td align="right">
   77.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Wed: 2011-08-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-08-09 16:25:00
</td>
<td align="right">
   78.27
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Wed: 2011-08-10 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-08-09 16:55:00
</td>
<td align="right">
   77.98
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Wed: 2011-08-10 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-08-09 17:35:00
</td>
<td align="right">
   77.67
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -1.36
</td>
<td>
Wed: 2011-08-10 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-08-09 18:30:00
</td>
<td align="right">
   77.03
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.66
</td>
<td>
Wed: 2011-08-10 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-08-09 18:35:00
</td>
<td align="right">
  291.47
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    6.06
</td>
<td>
Wed: 2011-08-10 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-08-09 15:15:00
</td>
<td align="right">
   28.69
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2011-08-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-08-09 15:20:00
</td>
<td align="right">
   28.65
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2011-08-10 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-09 15:25:00
</td>
<td align="right">
   97.95
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2011-08-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-09 15:35:00
</td>
<td align="right">
   97.77
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-08-10 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-09 16:40:00
</td>
<td align="right">
   97.74
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   -1.93
</td>
<td>
Wed: 2011-08-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-09 17:00:00
</td>
<td align="right">
   97.78
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -2.00
</td>
<td>
Wed: 2011-08-10 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-09 17:05:00
</td>
<td align="right">
   97.83
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   -2.62
</td>
<td>
Wed: 2011-08-10 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-09 17:15:00
</td>
<td align="right">
   97.49
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   -1.21
</td>
<td>
Wed: 2011-08-10 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-09 17:20:00
</td>
<td align="right">
   97.48
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   -1.98
</td>
<td>
Wed: 2011-08-10 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-09 14:50:00
</td>
<td align="right">
   55.60
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Wed: 2011-08-10 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-09 15:15:00
</td>
<td align="right">
   55.51
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .63
</td>
<td>
Wed: 2011-08-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-09 15:20:00
</td>
<td align="right">
   55.52
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .65
</td>
<td>
Wed: 2011-08-10 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-09 18:15:00
</td>
<td align="right">
   56.43
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-08-10 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-09 19:10:00
</td>
<td align="right">
   56.49
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-08-10 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2011-08-09 15:20:00
</td>
<td align="right">
  167.20
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    1.24
</td>
<td>
Wed: 2011-08-10 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2011-08-09 15:25:00
</td>
<td align="right">
  167.81
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-08-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2011-08-09 15:40:00
</td>
<td align="right">
  167.70
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Wed: 2011-08-10 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2011-08-09 16:10:00
</td>
<td align="right">
  168.40
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Wed: 2011-08-10 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2011-08-09 16:15:00
</td>
<td align="right">
  168.22
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.63
</td>
<td>
Wed: 2011-08-10 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2011-08-09 17:35:00
</td>
<td align="right">
  166.90
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   -3.26
</td>
<td>
Wed: 2011-08-10 17:35
</td>
</tr>
</table>
<br /><hr />