<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
   47.63
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-22 14:55:00
</td>
<td align="right">
   47.34
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-09-23 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-22 16:55:00
</td>
<td align="right">
   47.33
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.77
</td>
<td>
Fri: 2011-09-23 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 15:45:00
</td>
<td align="right">
   40.75
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2011-09-23 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 15:55:00
</td>
<td align="right">
   40.48
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2011-09-23 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:00:00
</td>
<td align="right">
   40.33
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Fri: 2011-09-23 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:05:00
</td>
<td align="right">
   40.42
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-09-23 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:10:00
</td>
<td align="right">
   40.36
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-09-23 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:15:00
</td>
<td align="right">
   40.36
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2011-09-23 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:20:00
</td>
<td align="right">
   40.38
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-09-23 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:25:00
</td>
<td align="right">
   40.49
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-09-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:30:00
</td>
<td align="right">
   40.42
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Fri: 2011-09-23 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:35:00
</td>
<td align="right">
   40.51
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2011-09-23 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:40:00
</td>
<td align="right">
   40.61
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-09-23 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 16:50:00
</td>
<td align="right">
   40.76
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.74
</td>
<td>
Fri: 2011-09-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 17:00:00
</td>
<td align="right">
   40.75
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.81
</td>
<td>
Fri: 2011-09-23 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 17:05:00
</td>
<td align="right">
   40.56
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Fri: 2011-09-23 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 17:10:00
</td>
<td align="right">
   40.45
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2011-09-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 17:15:00
</td>
<td align="right">
   40.40
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2011-09-23 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 17:45:00
</td>
<td align="right">
   40.07
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Fri: 2011-09-23 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 17:50:00
</td>
<td align="right">
   40.02
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-09-23 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 17:55:00
</td>
<td align="right">
   39.86
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-09-23 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 18:00:00
</td>
<td align="right">
   39.94
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-09-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 18:15:00
</td>
<td align="right">
   40.06
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-09-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 18:20:00
</td>
<td align="right">
   40.54
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-09-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 18:25:00
</td>
<td align="right">
   40.51
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-09-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 18:50:00
</td>
<td align="right">
   40.27
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Fri: 2011-09-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 18:55:00
</td>
<td align="right">
   40.00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .78
</td>
<td>
Fri: 2011-09-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 19:20:00
</td>
<td align="right">
   40.24
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-22 19:50:00
</td>
<td align="right">
   40.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-22 15:05:00
</td>
<td align="right">
  107.38
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Fri: 2011-09-23 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-22 15:45:00
</td>
<td align="right">
  107.30
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2011-09-23 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-22 16:25:00
</td>
<td align="right">
  106.89
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2011-09-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-22 19:35:00
</td>
<td align="right">
  106.72
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
  523.77
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.66
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:05:00
</td>
<td align="right">
  524.00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   -1.80
</td>
<td>
Fri: 2011-09-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
  525.31
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -3.31
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
  526.37
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   -2.79
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:35:00
</td>
<td align="right">
  525.44
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.81
</td>
<td>
Fri: 2011-09-23 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 14:50:00
</td>
<td align="right">
  523.76
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   -2.10
</td>
<td>
Fri: 2011-09-23 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 16:30:00
</td>
<td align="right">
  521.00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   -2.62
</td>
<td>
Fri: 2011-09-23 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 16:35:00
</td>
<td align="right">
  521.53
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -3.90
</td>
<td>
Fri: 2011-09-23 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 17:10:00
</td>
<td align="right">
  521.68
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   -4.59
</td>
<td>
Fri: 2011-09-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 17:20:00
</td>
<td align="right">
  518.60
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    1.58
</td>
<td>
Fri: 2011-09-23 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 17:30:00
</td>
<td align="right">
  518.38
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.72
</td>
<td>
Fri: 2011-09-23 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 17:40:00
</td>
<td align="right">
  517.51
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .96
</td>
<td>
Fri: 2011-09-23 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 17:45:00
</td>
<td align="right">
  517.26
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Fri: 2011-09-23 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 18:05:00
</td>
<td align="right">
  515.59
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    1.59
</td>
<td>
Fri: 2011-09-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 18:10:00
</td>
<td align="right">
  517.09
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2011-09-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 18:30:00
</td>
<td align="right">
  517.66
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    1.09
</td>
<td>
Fri: 2011-09-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 18:45:00
</td>
<td align="right">
  517.97
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    4.13
</td>
<td>
Fri: 2011-09-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 19:25:00
</td>
<td align="right">
  518.20
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 19:30:00
</td>
<td align="right">
  518.75
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 19:35:00
</td>
<td align="right">
  519.18
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-22 19:50:00
</td>
<td align="right">
  520.55
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-22 19:20:00
</td>
<td align="right">
   34.61
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-22 19:35:00
</td>
<td align="right">
   34.90
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-22 19:40:00
</td>
<td align="right">
   34.83
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-09-22 15:35:00
</td>
<td align="right">
  113.36
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Fri: 2011-09-23 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-09-22 15:50:00
</td>
<td align="right">
  112.95
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Fri: 2011-09-23 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 14:35:00
</td>
<td align="right">
    6.65
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-09-23 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 14:40:00
</td>
<td align="right">
    6.68
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2011-09-23 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 14:45:00
</td>
<td align="right">
    6.69
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-09-23 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 14:50:00
</td>
<td align="right">
    6.66
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Fri: 2011-09-23 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 15:10:00
</td>
<td align="right">
    6.65
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Fri: 2011-09-23 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 15:25:00
</td>
<td align="right">
    6.59
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Fri: 2011-09-23 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 15:40:00
</td>
<td align="right">
    6.72
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Fri: 2011-09-23 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 17:50:00
</td>
<td align="right">
    6.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-09-23 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 18:10:00
</td>
<td align="right">
    6.77
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-09-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 18:20:00
</td>
<td align="right">
    6.86
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-09-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 18:25:00
</td>
<td align="right">
    6.82
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-09-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 18:45:00
</td>
<td align="right">
    6.74
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-09-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 18:55:00
</td>
<td align="right">
    6.71
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-09-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 19:10:00
</td>
<td align="right">
    6.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 19:15:00
</td>
<td align="right">
    6.74
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 19:20:00
</td>
<td align="right">
    6.76
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 19:40:00
</td>
<td align="right">
    6.81
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-09-22 19:50:00
</td>
<td align="right">
    6.76
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
   70.07
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
   70.06
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
   70.13
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 19:25:00
</td>
<td align="right">
   68.34
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-22 19:30:00
</td>
<td align="right">
   68.52
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
  325.54
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    4.73
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 16:50:00
</td>
<td align="right">
  330.91
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -5.85
</td>
<td>
Fri: 2011-09-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 17:10:00
</td>
<td align="right">
  329.06
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   -5.37
</td>
<td>
Fri: 2011-09-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 18:00:00
</td>
<td align="right">
  321.46
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    2.36
</td>
<td>
Fri: 2011-09-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 18:10:00
</td>
<td align="right">
  323.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2011-09-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 18:45:00
</td>
<td align="right">
  325.50
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    1.49
</td>
<td>
Fri: 2011-09-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 19:00:00
</td>
<td align="right">
  323.82
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 19:10:00
</td>
<td align="right">
  323.37
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 19:20:00
</td>
<td align="right">
  324.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 19:25:00
</td>
<td align="right">
  323.92
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 19:30:00
</td>
<td align="right">
  323.46
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-22 19:40:00
</td>
<td align="right">
  324.97
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
   74.08
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:05:00
</td>
<td align="right">
   73.93
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2011-09-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:10:00
</td>
<td align="right">
   73.62
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .62
</td>
<td>
Fri: 2011-09-23 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:15:00
</td>
<td align="right">
   74.66
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Fri: 2011-09-23 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:20:00
</td>
<td align="right">
   74.74
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2011-09-23 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
   74.01
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
   74.70
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:35:00
</td>
<td align="right">
   74.41
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2011-09-23 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:40:00
</td>
<td align="right">
   74.87
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Fri: 2011-09-23 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:45:00
</td>
<td align="right">
   74.92
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.77
</td>
<td>
Fri: 2011-09-23 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:50:00
</td>
<td align="right">
   74.80
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   -1.02
</td>
<td>
Fri: 2011-09-23 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 14:55:00
</td>
<td align="right">
   74.58
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.91
</td>
<td>
Fri: 2011-09-23 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:00:00
</td>
<td align="right">
   74.11
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.76
</td>
<td>
Fri: 2011-09-23 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:05:00
</td>
<td align="right">
   73.94
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.89
</td>
<td>
Fri: 2011-09-23 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:10:00
</td>
<td align="right">
   74.24
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -1.14
</td>
<td>
Fri: 2011-09-23 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:15:00
</td>
<td align="right">
   74.28
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -1.38
</td>
<td>
Fri: 2011-09-23 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:20:00
</td>
<td align="right">
   74.35
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   -1.16
</td>
<td>
Fri: 2011-09-23 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:25:00
</td>
<td align="right">
   73.80
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-09-23 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:30:00
</td>
<td align="right">
   74.29
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.57
</td>
<td>
Fri: 2011-09-23 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:35:00
</td>
<td align="right">
   74.58
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-09-23 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:40:00
</td>
<td align="right">
   74.47
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Fri: 2011-09-23 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:45:00
</td>
<td align="right">
   74.15
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Fri: 2011-09-23 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:50:00
</td>
<td align="right">
   73.78
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .86
</td>
<td>
Fri: 2011-09-23 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 15:55:00
</td>
<td align="right">
   73.67
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    1.14
</td>
<td>
Fri: 2011-09-23 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 16:00:00
</td>
<td align="right">
   73.35
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    1.07
</td>
<td>
Fri: 2011-09-23 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 16:25:00
</td>
<td align="right">
   73.37
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .71
</td>
<td>
Fri: 2011-09-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 16:30:00
</td>
<td align="right">
   73.72
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Fri: 2011-09-23 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 16:35:00
</td>
<td align="right">
   74.15
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2011-09-23 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 16:40:00
</td>
<td align="right">
   74.10
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2011-09-23 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 16:45:00
</td>
<td align="right">
   74.64
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.56
</td>
<td>
Fri: 2011-09-23 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 16:50:00
</td>
<td align="right">
   74.64
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   -1.16
</td>
<td>
Fri: 2011-09-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:00:00
</td>
<td align="right">
   74.42
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   -1.55
</td>
<td>
Fri: 2011-09-23 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:05:00
</td>
<td align="right">
   74.17
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.96
</td>
<td>
Fri: 2011-09-23 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:10:00
</td>
<td align="right">
   74.26
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.81
</td>
<td>
Fri: 2011-09-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:15:00
</td>
<td align="right">
   74.23
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.84
</td>
<td>
Fri: 2011-09-23 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:20:00
</td>
<td align="right">
   73.76
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2011-09-23 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:25:00
</td>
<td align="right">
   74.08
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-09-23 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:30:00
</td>
<td align="right">
   74.10
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-09-23 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:35:00
</td>
<td align="right">
   73.96
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Fri: 2011-09-23 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:40:00
</td>
<td align="right">
   74.04
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-09-23 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:45:00
</td>
<td align="right">
   74.08
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2011-09-23 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 17:50:00
</td>
<td align="right">
   73.48
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-09-23 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-22 18:10:00
</td>
<td align="right">
   73.45
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2011-09-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
   71.04
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-22 14:05:00
</td>
<td align="right">
   71.47
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Fri: 2011-09-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
  168.07
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-09-22 19:55:00
</td>
<td align="right">
   61.93
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-22 18:05:00
</td>
<td align="right">
   36.23
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-09-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-09-22 17:00:00
</td>
<td align="right">
   65.40
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.94
</td>
<td>
Fri: 2011-09-23 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 14:20:00
</td>
<td align="right">
   64.39
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Fri: 2011-09-23 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 15:45:00
</td>
<td align="right">
   64.68
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2011-09-23 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 17:05:00
</td>
<td align="right">
   64.31
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-09-23 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 17:10:00
</td>
<td align="right">
   64.30
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-09-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 17:15:00
</td>
<td align="right">
   64.30
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-09-23 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 17:45:00
</td>
<td align="right">
   64.11
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Fri: 2011-09-23 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 18:20:00
</td>
<td align="right">
   64.70
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.56
</td>
<td>
Fri: 2011-09-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 18:30:00
</td>
<td align="right">
   64.39
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-09-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 18:35:00
</td>
<td align="right">
   64.37
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Fri: 2011-09-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 18:45:00
</td>
<td align="right">
   64.42
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .62
</td>
<td>
Fri: 2011-09-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 18:55:00
</td>
<td align="right">
   64.20
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .80
</td>
<td>
Fri: 2011-09-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:05:00
</td>
<td align="right">
   64.38
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:10:00
</td>
<td align="right">
   64.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:15:00
</td>
<td align="right">
   64.36
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:30:00
</td>
<td align="right">
   64.59
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:35:00
</td>
<td align="right">
   64.67
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:40:00
</td>
<td align="right">
   64.67
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:45:00
</td>
<td align="right">
   65.04
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:50:00
</td>
<td align="right">
   64.82
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-22 19:55:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:05:00
</td>
<td align="right">
   47.25
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-09-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:20:00
</td>
<td align="right">
   47.45
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2011-09-23 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
   47.37
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:30:00
</td>
<td align="right">
   47.50
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Fri: 2011-09-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 14:35:00
</td>
<td align="right">
   47.29
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2011-09-23 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 15:20:00
</td>
<td align="right">
   47.50
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-09-23 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 15:30:00
</td>
<td align="right">
   47.76
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Fri: 2011-09-23 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 15:40:00
</td>
<td align="right">
   47.35
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2011-09-23 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 15:45:00
</td>
<td align="right">
   47.48
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Fri: 2011-09-23 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 15:50:00
</td>
<td align="right">
   47.52
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2011-09-23 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 15:55:00
</td>
<td align="right">
   47.40
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Fri: 2011-09-23 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 16:00:00
</td>
<td align="right">
   47.31
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Fri: 2011-09-23 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 16:20:00
</td>
<td align="right">
   47.24
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-09-23 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 16:25:00
</td>
<td align="right">
   47.61
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2011-09-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 16:30:00
</td>
<td align="right">
   47.56
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-09-23 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 16:40:00
</td>
<td align="right">
   47.64
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.45
</td>
<td>
Fri: 2011-09-23 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 16:45:00
</td>
<td align="right">
   47.75
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.60
</td>
<td>
Fri: 2011-09-23 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 16:50:00
</td>
<td align="right">
   47.81
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.75
</td>
<td>
Fri: 2011-09-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 16:55:00
</td>
<td align="right">
   47.80
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.79
</td>
<td>
Fri: 2011-09-23 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:00:00
</td>
<td align="right">
   47.65
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.71
</td>
<td>
Fri: 2011-09-23 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:05:00
</td>
<td align="right">
   47.64
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.77
</td>
<td>
Fri: 2011-09-23 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:10:00
</td>
<td align="right">
   47.66
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Fri: 2011-09-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:15:00
</td>
<td align="right">
   47.59
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.72
</td>
<td>
Fri: 2011-09-23 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:20:00
</td>
<td align="right">
   47.39
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-09-23 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:25:00
</td>
<td align="right">
   47.46
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-09-23 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:35:00
</td>
<td align="right">
   47.21
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Fri: 2011-09-23 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:40:00
</td>
<td align="right">
   47.19
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Fri: 2011-09-23 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 17:45:00
</td>
<td align="right">
   47.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-09-23 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 18:25:00
</td>
<td align="right">
   47.25
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.66
</td>
<td>
Fri: 2011-09-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 18:40:00
</td>
<td align="right">
   47.08
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Fri: 2011-09-23 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-22 19:10:00
</td>
<td align="right">
   47.01
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 14:15:00
</td>
<td align="right">
   36.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-09-23 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 17:25:00
</td>
<td align="right">
   36.33
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2011-09-23 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 17:35:00
</td>
<td align="right">
   36.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.64
</td>
<td>
Fri: 2011-09-23 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 17:45:00
</td>
<td align="right">
   35.93
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Fri: 2011-09-23 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 17:50:00
</td>
<td align="right">
   35.84
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2011-09-23 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 17:55:00
</td>
<td align="right">
   35.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Fri: 2011-09-23 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:00:00
</td>
<td align="right">
   35.59
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Fri: 2011-09-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:05:00
</td>
<td align="right">
   35.43
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Fri: 2011-09-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:10:00
</td>
<td align="right">
   35.56
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2011-09-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:15:00
</td>
<td align="right">
   35.45
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2011-09-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:20:00
</td>
<td align="right">
   35.79
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.89
</td>
<td>
Fri: 2011-09-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:25:00
</td>
<td align="right">
   35.89
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
   -1.02
</td>
<td>
Fri: 2011-09-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:30:00
</td>
<td align="right">
   35.59
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2011-09-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:45:00
</td>
<td align="right">
   35.51
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-09-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:50:00
</td>
<td align="right">
   35.51
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-09-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 18:55:00
</td>
<td align="right">
   35.31
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-09-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 19:00:00
</td>
<td align="right">
   35.17
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 19:05:00
</td>
<td align="right">
   35.12
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 19:10:00
</td>
<td align="right">
   35.28
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 19:15:00
</td>
<td align="right">
   35.26
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 19:20:00
</td>
<td align="right">
   34.90
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 19:50:00
</td>
<td align="right">
   35.39
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-22 19:55:00
</td>
<td align="right">
   35.43
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 14:00:00
</td>
<td align="right">
   84.00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .92
</td>
<td>
Fri: 2011-09-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 14:05:00
</td>
<td align="right">
   84.13
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
     .87
</td>
<td>
Fri: 2011-09-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 14:10:00
</td>
<td align="right">
   84.00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .71
</td>
<td>
Fri: 2011-09-23 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 14:20:00
</td>
<td align="right">
   84.57
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-09-23 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 14:25:00
</td>
<td align="right">
   84.26
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2011-09-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:00:00
</td>
<td align="right">
   84.92
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   -1.34
</td>
<td>
Fri: 2011-09-23 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:05:00
</td>
<td align="right">
   85.00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   -1.53
</td>
<td>
Fri: 2011-09-23 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:10:00
</td>
<td align="right">
   84.71
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   -1.01
</td>
<td>
Fri: 2011-09-23 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:15:00
</td>
<td align="right">
   84.97
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   -1.26
</td>
<td>
Fri: 2011-09-23 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:20:00
</td>
<td align="right">
   84.75
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -1.25
</td>
<td>
Fri: 2011-09-23 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:25:00
</td>
<td align="right">
   84.49
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.96
</td>
<td>
Fri: 2011-09-23 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:30:00
</td>
<td align="right">
   84.44
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.72
</td>
<td>
Fri: 2011-09-23 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:35:00
</td>
<td align="right">
   84.32
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-09-23 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 15:50:00
</td>
<td align="right">
   83.82
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .68
</td>
<td>
Fri: 2011-09-23 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:00:00
</td>
<td align="right">
   83.58
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Fri: 2011-09-23 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:05:00
</td>
<td align="right">
   83.47
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Fri: 2011-09-23 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:10:00
</td>
<td align="right">
   83.70
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Fri: 2011-09-23 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:15:00
</td>
<td align="right">
   83.71
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-09-23 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:25:00
</td>
<td align="right">
   83.53
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-09-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:30:00
</td>
<td align="right">
   83.72
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-09-23 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:35:00
</td>
<td align="right">
   84.46
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   -1.12
</td>
<td>
Fri: 2011-09-23 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:40:00
</td>
<td align="right">
   84.28
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
    -.88
</td>
<td>
Fri: 2011-09-23 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:45:00
</td>
<td align="right">
   84.44
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   -1.05
</td>
<td>
Fri: 2011-09-23 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 16:50:00
</td>
<td align="right">
   84.50
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   -1.38
</td>
<td>
Fri: 2011-09-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 17:00:00
</td>
<td align="right">
   84.15
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   -1.53
</td>
<td>
Fri: 2011-09-23 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 17:05:00
</td>
<td align="right">
   83.92
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -1.16
</td>
<td>
Fri: 2011-09-23 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 17:10:00
</td>
<td align="right">
   84.10
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -1.46
</td>
<td>
Fri: 2011-09-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 17:15:00
</td>
<td align="right">
   83.93
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -1.43
</td>
<td>
Fri: 2011-09-23 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 17:25:00
</td>
<td align="right">
   83.44
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-09-23 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 17:30:00
</td>
<td align="right">
   83.42
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2011-09-23 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 17:35:00
</td>
<td align="right">
   83.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-09-23 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-22 17:40:00
</td>
<td align="right">
   83.40
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2011-09-23 17:40
</td>
</tr>
</table>
<br /><hr />