<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 15:00:00
</td>
<td align="right">
   66.77
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2011-06-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 15:35:00
</td>
<td align="right">
   66.91
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-06-29 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 15:55:00
</td>
<td align="right">
   67.04
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 16:15:00
</td>
<td align="right">
   67.10
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 16:30:00
</td>
<td align="right">
   66.99
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 16:40:00
</td>
<td align="right">
   67.05
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-06-28 16:45:00
</td>
<td align="right">
   34.88
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 16:15:00
</td>
<td align="right">
  264.85
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-06-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 16:20:00
</td>
<td align="right">
  264.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2011-06-29 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 16:30:00
</td>
<td align="right">
  264.97
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2011-06-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 16:35:00
</td>
<td align="right">
   43.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 16:45:00
</td>
<td align="right">
   43.97
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 16:55:00
</td>
<td align="right">
   44.00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 17:05:00
</td>
<td align="right">
   43.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 16:05:00
</td>
<td align="right">
   31.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-06-29 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-06-28 16:45:00
</td>
<td align="right">
  147.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Wed: 2011-06-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-06-28 14:35:00
</td>
<td align="right">
   38.96
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-06-29 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-06-28 14:40:00
</td>
<td align="right">
   39.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-06-29 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-06-28 15:10:00
</td>
<td align="right">
   39.00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-06-29 15:10
</td>
</tr>
</table>
