<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-08-03 15:20:00
</td>
<td align="right">
   91.78
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-08-03 16:00:00
</td>
<td align="right">
  114.53
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-03 16:35:00
</td>
<td align="right">
  595.05
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-08-03 16:55:00
</td>
<td align="right">
  594.72
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 13:40:00
</td>
<td align="right">
   56.26
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Thu: 2011-08-04 13:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 13:50:00
</td>
<td align="right">
   56.38
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.58
</td>
<td>
Thu: 2011-08-04 13:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 14:05:00
</td>
<td align="right">
   56.34
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2011-08-04 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-08-03 14:10:00
</td>
<td align="right">
   56.28
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-08-04 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-03 13:40:00
</td>
<td align="right">
   45.19
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 13:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-03 14:45:00
</td>
<td align="right">
  117.24
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-03 14:50:00
</td>
<td align="right">
  117.65
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-08-03 15:05:00
</td>
<td align="right">
  117.47
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-08-03 13:45:00
</td>
<td align="right">
  260.28
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 13:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-08-03 13:40:00
</td>
<td align="right">
   95.23
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 13:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 15:35:00
</td>
<td align="right">
   77.05
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2011-08-04 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:10:00
</td>
<td align="right">
   76.64
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:35:00
</td>
<td align="right">
   76.76
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:40:00
</td>
<td align="right">
   76.88
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:45:00
</td>
<td align="right">
   76.88
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:50:00
</td>
<td align="right">
   76.97
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-03 16:55:00
</td>
<td align="right">
   76.97
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-08-04 16:55
</td>
</tr>
</table>
<br /><hr />