<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-10-20 14:05:00
</td>
<td align="right">
  127.50
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.26
</td>
<td>
Fri: 2011-10-21 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-10-20 15:10:00
</td>
<td align="right">
  125.97
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.77
</td>
<td>
Fri: 2011-10-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-10-20 14:15:00
</td>
<td align="right">
  115.38
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.18
</td>
<td>
Fri: 2011-10-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-10-20 15:20:00
</td>
<td align="right">
  114.36
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2011-10-21 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-10-20 14:25:00
</td>
<td align="right">
   33.92
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-10-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-10-20 14:35:00
</td>
<td align="right">
   33.98
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Fri: 2011-10-21 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-20 17:55:00
</td>
<td align="right">
   34.46
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2011-10-21 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-20 18:05:00
</td>
<td align="right">
   34.37
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2011-10-21 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-20 19:05:00
</td>
<td align="right">
   34.72
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-20 19:25:00
</td>
<td align="right">
   34.62
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-20 19:30:00
</td>
<td align="right">
   34.75
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-20 19:35:00
</td>
<td align="right">
   34.68
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-20 19:55:00
</td>
<td align="right">
   34.80
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-10-20 15:05:00
</td>
<td align="right">
   52.27
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Fri: 2011-10-21 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-10-20 17:10:00
</td>
<td align="right">
   99.71
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2011-10-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-10-20 15:30:00
</td>
<td align="right">
   30.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-10-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-10-20 16:00:00
</td>
<td align="right">
   30.73
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Fri: 2011-10-21 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-10-20 17:00:00
</td>
<td align="right">
   31.04
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Fri: 2011-10-21 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-10-20 14:10:00
</td>
<td align="right">
   73.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.75
</td>
<td>
Fri: 2011-10-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-10-20 17:45:00
</td>
<td align="right">
   32.66
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2011-10-21 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-10-20 15:15:00
</td>
<td align="right">
   26.66
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-10-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 15:15:00
</td>
<td align="right">
   17.83
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2011-10-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 15:20:00
</td>
<td align="right">
   17.85
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2011-10-21 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 15:30:00
</td>
<td align="right">
   17.86
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2011-10-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 15:40:00
</td>
<td align="right">
   17.94
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-10-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 15:45:00
</td>
<td align="right">
   17.94
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-10-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 15:55:00
</td>
<td align="right">
   17.85
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-10-21 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 16:00:00
</td>
<td align="right">
   17.87
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-10-21 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 16:05:00
</td>
<td align="right">
   17.81
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-10-21 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 16:10:00
</td>
<td align="right">
   17.84
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-10-21 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 16:15:00
</td>
<td align="right">
   17.80
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2011-10-21 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 16:25:00
</td>
<td align="right">
   17.80
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2011-10-21 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 16:30:00
</td>
<td align="right">
   17.87
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-10-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 16:40:00
</td>
<td align="right">
   17.85
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-10-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 16:55:00
</td>
<td align="right">
   17.95
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-10-21 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 17:10:00
</td>
<td align="right">
   17.92
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2011-10-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 17:20:00
</td>
<td align="right">
   18.08
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2011-10-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 17:35:00
</td>
<td align="right">
   18.02
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2011-10-21 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 17:40:00
</td>
<td align="right">
   17.97
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2011-10-21 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-10-20 19:35:00
</td>
<td align="right">
   18.06
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-10-20 14:05:00
</td>
<td align="right">
   35.48
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-10-21 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-10-20 14:15:00
</td>
<td align="right">
   35.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Fri: 2011-10-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-10-20 14:25:00
</td>
<td align="right">
   35.67
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2011-10-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-10-20 14:35:00
</td>
<td align="right">
   35.70
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-10-21 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-10-20 15:30:00
</td>
<td align="right">
   35.59
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Fri: 2011-10-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-10-20 16:55:00
</td>
<td align="right">
   35.61
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-10-21 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-10-20 17:20:00
</td>
<td align="right">
   35.88
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-10-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-10-20 18:45:00
</td>
<td align="right">
  119.21
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Fri: 2011-10-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-10-20 19:00:00
</td>
<td align="right">
  119.19
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-10-20 19:15:00
</td>
<td align="right">
  118.87
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-10-20 19:20:00
</td>
<td align="right">
  118.66
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-10-20 18:10:00
</td>
<td align="right">
   54.55
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .70
</td>
<td>
Fri: 2011-10-21 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 14:40:00
</td>
<td align="right">
   40.00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-10-21 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 14:55:00
</td>
<td align="right">
   39.55
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-10-21 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 16:00:00
</td>
<td align="right">
   39.37
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-10-21 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 16:30:00
</td>
<td align="right">
   39.34
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2011-10-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 16:40:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-10-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 16:45:00
</td>
<td align="right">
   39.26
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Fri: 2011-10-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 16:50:00
</td>
<td align="right">
   39.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2011-10-21 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 17:00:00
</td>
<td align="right">
   39.40
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-10-21 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 17:40:00
</td>
<td align="right">
   39.45
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .67
</td>
<td>
Fri: 2011-10-21 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 17:55:00
</td>
<td align="right">
   39.40
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    1.05
</td>
<td>
Fri: 2011-10-21 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-10-20 18:20:00
</td>
<td align="right">
   39.63
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2011-10-21 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-10-20 14:25:00
</td>
<td align="right">
   50.62
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Fri: 2011-10-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-10-20 14:45:00
</td>
<td align="right">
   73.13
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Fri: 2011-10-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-10-20 15:10:00
</td>
<td align="right">
   72.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2011-10-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-10-20 17:10:00
</td>
<td align="right">
   73.32
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-10-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-10-20 18:20:00
</td>
<td align="right">
   73.34
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Fri: 2011-10-21 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-10-20 19:25:00
</td>
<td align="right">
   73.52
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-10-20 14:55:00
</td>
<td align="right">
   32.59
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-10-21 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-10-20 15:05:00
</td>
<td align="right">
   32.59
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Fri: 2011-10-21 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-10-20 15:55:00
</td>
<td align="right">
   32.43
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-10-21 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-10-20 16:35:00
</td>
<td align="right">
   32.39
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2011-10-21 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-10-20 19:15:00
</td>
<td align="right">
   32.77
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2011-10-20 17:10:00
</td>
<td align="right">
   45.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-10-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2011-10-20 17:15:00
</td>
<td align="right">
   46.17
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-10-21 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2011-10-20 17:30:00
</td>
<td align="right">
   45.90
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-10-21 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:00:00
</td>
<td align="right">
  114.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .93
</td>
<td>
Fri: 2011-10-21 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:05:00
</td>
<td align="right">
  114.39
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .68
</td>
<td>
Fri: 2011-10-21 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:10:00
</td>
<td align="right">
  114.14
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    1.00
</td>
<td>
Fri: 2011-10-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:15:00
</td>
<td align="right">
  114.16
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    1.09
</td>
<td>
Fri: 2011-10-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:20:00
</td>
<td align="right">
  114.42
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .72
</td>
<td>
Fri: 2011-10-21 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:25:00
</td>
<td align="right">
  114.52
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Fri: 2011-10-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:30:00
</td>
<td align="right">
  114.52
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Fri: 2011-10-21 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:35:00
</td>
<td align="right">
  114.61
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2011-10-21 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:40:00
</td>
<td align="right">
  114.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-10-21 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 14:55:00
</td>
<td align="right">
  115.15
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-10-21 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 15:00:00
</td>
<td align="right">
  115.27
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-10-21 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 15:10:00
</td>
<td align="right">
  115.14
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Fri: 2011-10-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 15:15:00
</td>
<td align="right">
  115.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Fri: 2011-10-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 15:20:00
</td>
<td align="right">
  115.14
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2011-10-21 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 15:30:00
</td>
<td align="right">
  115.06
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2011-10-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 15:40:00
</td>
<td align="right">
  114.95
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-10-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 15:45:00
</td>
<td align="right">
  114.99
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Fri: 2011-10-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 15:50:00
</td>
<td align="right">
  115.16
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2011-10-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 16:00:00
</td>
<td align="right">
  115.33
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-10-21 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 16:05:00
</td>
<td align="right">
  115.45
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2011-10-21 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 16:10:00
</td>
<td align="right">
  115.40
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2011-10-21 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 16:15:00
</td>
<td align="right">
  115.59
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Fri: 2011-10-21 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 16:20:00
</td>
<td align="right">
  115.38
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.63
</td>
<td>
Fri: 2011-10-21 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-20 16:25:00
</td>
<td align="right">
  115.44
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.66
</td>
<td>
Fri: 2011-10-21 16:25
</td>
</tr>
</table>
<br /><hr />