<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-06-28 16:20:00
</td>
<td align="right">
   28.87
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-06-29 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-06-28 16:25:00
</td>
<td align="right">
   28.87
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-06-29 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-06-28 16:30:00
</td>
<td align="right">
   28.84
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-06-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-06-28 17:05:00
</td>
<td align="right">
   28.84
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-06-29 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:00:00
</td>
<td align="right">
   40.08
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2011-06-29 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:05:00
</td>
<td align="right">
   39.93
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-06-29 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:10:00
</td>
<td align="right">
   39.95
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2011-06-29 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:15:00
</td>
<td align="right">
   39.94
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2011-06-29 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:20:00
</td>
<td align="right">
   39.92
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-06-29 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:25:00
</td>
<td align="right">
   39.96
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-06-29 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:30:00
</td>
<td align="right">
   40.04
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2011-06-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:35:00
</td>
<td align="right">
   40.00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-06-29 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:40:00
</td>
<td align="right">
   39.93
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-06-29 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:45:00
</td>
<td align="right">
   39.89
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-06-29 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:50:00
</td>
<td align="right">
   39.88
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-06-29 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 14:55:00
</td>
<td align="right">
   39.84
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-06-29 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:00:00
</td>
<td align="right">
   39.80
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2011-06-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:05:00
</td>
<td align="right">
   39.84
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-06-29 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:10:00
</td>
<td align="right">
   39.79
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-06-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:15:00
</td>
<td align="right">
   39.81
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-06-29 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:20:00
</td>
<td align="right">
   39.89
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-06-29 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:25:00
</td>
<td align="right">
   39.85
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-06-29 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:30:00
</td>
<td align="right">
   39.89
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-06-29 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:35:00
</td>
<td align="right">
   39.86
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-06-29 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:40:00
</td>
<td align="right">
   39.82
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-06-29 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:45:00
</td>
<td align="right">
   39.82
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-06-29 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:50:00
</td>
<td align="right">
   39.86
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-06-29 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 15:55:00
</td>
<td align="right">
   39.88
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-06-29 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:00:00
</td>
<td align="right">
   39.90
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2011-06-29 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:05:00
</td>
<td align="right">
   39.85
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2011-06-29 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:10:00
</td>
<td align="right">
   39.81
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2011-06-29 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:15:00
</td>
<td align="right">
   39.81
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2011-06-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:20:00
</td>
<td align="right">
   39.85
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-06-29 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:25:00
</td>
<td align="right">
   39.83
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-06-29 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:30:00
</td>
<td align="right">
   39.83
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2011-06-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:35:00
</td>
<td align="right">
   39.83
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-06-29 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:40:00
</td>
<td align="right">
   39.82
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-06-29 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:45:00
</td>
<td align="right">
   39.85
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-06-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:50:00
</td>
<td align="right">
   39.87
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2011-06-29 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 16:55:00
</td>
<td align="right">
   39.92
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-06-29 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 17:00:00
</td>
<td align="right">
   39.95
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2011-06-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 17:05:00
</td>
<td align="right">
   40.00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-06-29 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 17:10:00
</td>
<td align="right">
   40.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-06-29 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2011-06-28 19:55:00
</td>
<td align="right">
   40.16
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 14:05:00
</td>
<td align="right">
  228.02
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Wed: 2011-06-29 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 14:20:00
</td>
<td align="right">
  228.28
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2011-06-29 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 14:25:00
</td>
<td align="right">
  228.69
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.72
</td>
<td>
Wed: 2011-06-29 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 14:30:00
</td>
<td align="right">
  229.23
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.25
</td>
<td>
Wed: 2011-06-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 15:00:00
</td>
<td align="right">
  227.73
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Wed: 2011-06-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 16:00:00
</td>
<td align="right">
  228.11
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2011-06-29 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 18:20:00
</td>
<td align="right">
  228.69
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-06-29 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 18:25:00
</td>
<td align="right">
  229.08
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Wed: 2011-06-29 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-06-28 18:30:00
</td>
<td align="right">
  229.10
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Wed: 2011-06-29 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-06-28 18:35:00
</td>
<td align="right">
   37.34
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-06-29 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-06-28 18:40:00
</td>
<td align="right">
   37.33
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-06-29 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 15:00:00
</td>
<td align="right">
   66.77
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2011-06-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 15:35:00
</td>
<td align="right">
   66.91
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-06-29 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 15:55:00
</td>
<td align="right">
   67.04
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2011-06-29 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 16:15:00
</td>
<td align="right">
   67.10
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-06-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 16:30:00
</td>
<td align="right">
   66.99
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-06-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 16:40:00
</td>
<td align="right">
   67.05
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-06-29 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 17:20:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-06-29 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 17:30:00
</td>
<td align="right">
   67.00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-06-29 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 17:35:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-06-29 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 17:40:00
</td>
<td align="right">
   67.05
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-06-29 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 17:50:00
</td>
<td align="right">
   66.98
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-06-29 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 18:10:00
</td>
<td align="right">
   66.94
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2011-06-29 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 18:15:00
</td>
<td align="right">
   66.97
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-06-29 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 18:20:00
</td>
<td align="right">
   66.98
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-06-29 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 18:35:00
</td>
<td align="right">
   67.08
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-06-29 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 18:45:00
</td>
<td align="right">
   67.01
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-06-29 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 18:50:00
</td>
<td align="right">
   66.97
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-06-29 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 18:55:00
</td>
<td align="right">
   66.97
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-06-29 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-06-28 19:10:00
</td>
<td align="right">
   67.12
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-06-28 16:45:00
</td>
<td align="right">
   34.88
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-06-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 14:00:00
</td>
<td align="right">
  264.29
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
     .91
</td>
<td>
Wed: 2011-06-29 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 14:05:00
</td>
<td align="right">
  264.61
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .92
</td>
<td>
Wed: 2011-06-29 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 14:10:00
</td>
<td align="right">
  264.30
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    1.81
</td>
<td>
Wed: 2011-06-29 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 14:15:00
</td>
<td align="right">
  264.21
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
    1.69
</td>
<td>
Wed: 2011-06-29 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 14:20:00
</td>
<td align="right">
  264.16
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    2.01
</td>
<td>
Wed: 2011-06-29 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 14:25:00
</td>
<td align="right">
  264.36
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    1.87
</td>
<td>
Wed: 2011-06-29 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 14:30:00
</td>
<td align="right">
  264.75
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.51
</td>
<td>
Wed: 2011-06-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 16:15:00
</td>
<td align="right">
  264.85
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-06-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 16:20:00
</td>
<td align="right">
  264.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2011-06-29 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-06-28 16:30:00
</td>
<td align="right">
  264.97
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2011-06-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-06-28 15:35:00
</td>
<td align="right">
  167.58
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2011-06-29 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-06-28 15:40:00
</td>
<td align="right">
  167.58
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2011-06-29 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-06-28 15:45:00
</td>
<td align="right">
  167.58
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2011-06-29 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 16:35:00
</td>
<td align="right">
   43.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-06-29 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 16:45:00
</td>
<td align="right">
   43.97
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2011-06-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 16:55:00
</td>
<td align="right">
   44.00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-06-29 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 17:05:00
</td>
<td align="right">
   43.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-06-29 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 18:05:00
</td>
<td align="right">
   44.04
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-06-29 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 19:10:00
</td>
<td align="right">
   44.01
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 19:20:00
</td>
<td align="right">
   44.00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-06-28 19:55:00
</td>
<td align="right">
   44.01
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 16:05:00
</td>
<td align="right">
   72.14
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-06-29 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 16:35:00
</td>
<td align="right">
   72.08
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-06-29 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 17:00:00
</td>
<td align="right">
   72.10
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-06-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 17:35:00
</td>
<td align="right">
   72.19
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-06-29 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 17:40:00
</td>
<td align="right">
   72.17
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2011-06-29 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 17:55:00
</td>
<td align="right">
   72.16
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2011-06-29 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 18:05:00
</td>
<td align="right">
   72.10
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-06-29 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 18:25:00
</td>
<td align="right">
   72.19
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2011-06-29 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 18:45:00
</td>
<td align="right">
   72.21
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2011-06-29 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-06-28 19:15:00
</td>
<td align="right">
   72.10
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-06-28 14:30:00
</td>
<td align="right">
   75.12
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2011-06-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-06-28 15:40:00
</td>
<td align="right">
   75.31
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-06-29 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-06-28 15:45:00
</td>
<td align="right">
   75.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-06-29 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-06-28 16:10:00
</td>
<td align="right">
   75.31
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-06-29 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-06-28 16:50:00
</td>
<td align="right">
   75.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2011-06-29 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 14:00:00
</td>
<td align="right">
   31.06
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-06-29 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 16:05:00
</td>
<td align="right">
   31.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-06-29 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 18:30:00
</td>
<td align="right">
   31.29
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-06-29 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 18:55:00
</td>
<td align="right">
   31.35
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-06-29 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 19:15:00
</td>
<td align="right">
   31.29
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 19:30:00
</td>
<td align="right">
   31.27
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 19:45:00
</td>
<td align="right">
   31.34
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 19:50:00
</td>
<td align="right">
   31.34
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-06-28 19:55:00
</td>
<td align="right">
   31.34
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=X">X</a></td>
<td>
2011-06-28 19:00:00
</td>
<td align="right">
   43.22
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-06-28 16:45:00
</td>
<td align="right">
   72.99
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-06-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-06-28 16:55:00
</td>
<td align="right">
   73.03
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-06-29 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-06-28 17:00:00
</td>
<td align="right">
   73.09
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-06-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-06-28 17:15:00
</td>
<td align="right">
   73.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-06-29 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-06-28 17:40:00
</td>
<td align="right">
   72.90
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Wed: 2011-06-29 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLU">XLU</a></td>
<td>
2011-06-28 17:35:00
</td>
<td align="right">
   33.17
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2011-06-29 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-06-28 19:35:00
</td>
<td align="right">
   79.32
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-06-28 15:00:00
</td>
<td align="right">
   28.56
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Wed: 2011-06-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-06-28 15:05:00
</td>
<td align="right">
   28.57
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2011-06-29 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-06-28 14:25:00
</td>
<td align="right">
  147.53
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2011-06-29 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-06-28 16:45:00
</td>
<td align="right">
  147.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Wed: 2011-06-29 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2011-06-28 19:00:00
</td>
<td align="right">
   40.93
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-06-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-06-28 14:35:00
</td>
<td align="right">
   38.96
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-06-29 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-06-28 14:40:00
</td>
<td align="right">
   39.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-06-29 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-06-28 15:10:00
</td>
<td align="right">
   39.00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-06-29 15:10
</td>
</tr>
</table>
