<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2011-07-21 17:10:00
</td>
<td align="right">
  387.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-07-21 17:10:00
</td>
<td align="right">
  148.72
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2011-07-22 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-07-21 17:25:00
</td>
<td align="right">
  149.04
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Fri: 2011-07-22 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-21 14:05:00
</td>
<td align="right">
  601.89
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    2.95
</td>
<td>
Fri: 2011-07-22 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-21 14:20:00
</td>
<td align="right">
  602.10
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-21 14:25:00
</td>
<td align="right">
  603.74
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-21 14:35:00
</td>
<td align="right">
  604.13
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-21 15:10:00
</td>
<td align="right">
  605.05
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-07-21 15:10:00
</td>
<td align="right">
  154.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   -2.57
</td>
<td>
Fri: 2011-07-22 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 14:35:00
</td>
<td align="right">
   61.00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Fri: 2011-07-22 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 14:40:00
</td>
<td align="right">
   61.03
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Fri: 2011-07-22 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:00:00
</td>
<td align="right">
   61.01
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Fri: 2011-07-22 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:05:00
</td>
<td align="right">
   60.93
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:10:00
</td>
<td align="right">
   60.95
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:15:00
</td>
<td align="right">
   60.84
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:20:00
</td>
<td align="right">
   60.74
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:25:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:30:00
</td>
<td align="right">
   60.79
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:35:00
</td>
<td align="right">
   60.76
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:40:00
</td>
<td align="right">
   60.61
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:45:00
</td>
<td align="right">
   60.40
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:50:00
</td>
<td align="right">
   60.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 15:55:00
</td>
<td align="right">
   60.68
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-07-21 16:00:00
</td>
<td align="right">
   60.70
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 14:30:00
</td>
<td align="right">
   49.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-22 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 14:35:00
</td>
<td align="right">
   49.72
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-07-22 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 14:40:00
</td>
<td align="right">
   49.63
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-07-22 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 14:50:00
</td>
<td align="right">
   49.61
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-07-22 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 14:55:00
</td>
<td align="right">
   49.69
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-22 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 15:00:00
</td>
<td align="right">
   49.72
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-07-22 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 15:10:00
</td>
<td align="right">
   49.73
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-07-22 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 15:15:00
</td>
<td align="right">
   49.67
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-22 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 15:20:00
</td>
<td align="right">
   49.69
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-07-22 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:00:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2011-07-22 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:10:00
</td>
<td align="right">
   49.81
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Fri: 2011-07-22 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:15:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Fri: 2011-07-22 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:20:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Fri: 2011-07-22 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:25:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Fri: 2011-07-22 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:35:00
</td>
<td align="right">
   49.84
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2011-07-22 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:40:00
</td>
<td align="right">
   49.94
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Fri: 2011-07-22 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:45:00
</td>
<td align="right">
   50.03
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2011-07-22 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:50:00
</td>
<td align="right">
   50.01
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Fri: 2011-07-22 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 16:55:00
</td>
<td align="right">
   50.10
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2011-07-22 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:00:00
</td>
<td align="right">
   50.17
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-07-22 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:05:00
</td>
<td align="right">
   50.15
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-07-22 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:10:00
</td>
<td align="right">
   50.28
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:15:00
</td>
<td align="right">
   50.27
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:20:00
</td>
<td align="right">
   50.32
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:25:00
</td>
<td align="right">
   50.37
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:35:00
</td>
<td align="right">
   50.27
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:50:00
</td>
<td align="right">
   50.28
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 17:55:00
</td>
<td align="right">
   50.31
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 18:00:00
</td>
<td align="right">
   50.27
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-21 18:05:00
</td>
<td align="right">
   50.33
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-22 18:05
</td>
</tr>
</table>
<br /><hr />