<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 16:30:00
</td>
<td align="right">
   53.42
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-09-05 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 16:35:00
</td>
<td align="right">
   53.43
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-09-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 16:50:00
</td>
<td align="right">
   53.41
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2011-09-05 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 17:15:00
</td>
<td align="right">
   53.30
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Mon: 2011-09-05 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 17:35:00
</td>
<td align="right">
   53.13
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-09-05 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 17:45:00
</td>
<td align="right">
   53.06
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2011-09-05 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 17:50:00
</td>
<td align="right">
   53.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-09-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 17:55:00
</td>
<td align="right">
   53.02
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-05 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 18:00:00
</td>
<td align="right">
   53.02
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-05 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 18:10:00
</td>
<td align="right">
   52.85
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-09-05 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 18:15:00
</td>
<td align="right">
   52.86
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-09-05 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 18:20:00
</td>
<td align="right">
   52.90
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-09-05 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 18:25:00
</td>
<td align="right">
   52.89
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-09-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 18:35:00
</td>
<td align="right">
   52.84
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2011-09-05 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 18:45:00
</td>
<td align="right">
   52.75
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Mon: 2011-09-05 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 18:55:00
</td>
<td align="right">
   52.91
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-09-05 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 19:05:00
</td>
<td align="right">
   52.94
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 19:20:00
</td>
<td align="right">
   53.06
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 19:25:00
</td>
<td align="right">
   53.04
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 19:30:00
</td>
<td align="right">
   53.09
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-02 19:55:00
</td>
<td align="right">
   53.11
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2011-09-02 19:30:00
</td>
<td align="right">
   69.60
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-02 14:00:00
</td>
<td align="right">
    8.49
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-09-05 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-02 14:05:00
</td>
<td align="right">
    8.55
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-09-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-02 14:25:00
</td>
<td align="right">
    8.55
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-09-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-02 16:30:00
</td>
<td align="right">
    8.34
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-09-05 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-02 16:50:00
</td>
<td align="right">
    8.33
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-09-05 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-02 17:05:00
</td>
<td align="right">
    8.36
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-05 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-02 18:25:00
</td>
<td align="right">
    8.33
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-09-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 14:30:00
</td>
<td align="right">
  140.30
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-09-05 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 14:40:00
</td>
<td align="right">
  140.12
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .60
</td>
<td>
Mon: 2011-09-05 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 14:45:00
</td>
<td align="right">
  140.02
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-09-05 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 15:55:00
</td>
<td align="right">
  140.38
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-09-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 17:05:00
</td>
<td align="right">
  139.96
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.92
</td>
<td>
Mon: 2011-09-05 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 17:30:00
</td>
<td align="right">
  139.48
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-09-05 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 17:50:00
</td>
<td align="right">
  139.50
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-09-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 18:00:00
</td>
<td align="right">
  139.25
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-05 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 18:50:00
</td>
<td align="right">
  139.35
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    1.22
</td>
<td>
Mon: 2011-09-05 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 19:15:00
</td>
<td align="right">
  139.37
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-02 19:25:00
</td>
<td align="right">
  140.01
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-02 14:20:00
</td>
<td align="right">
   43.49
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-02 15:25:00
</td>
<td align="right">
   43.45
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-09-05 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-02 17:50:00
</td>
<td align="right">
   42.88
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.90
</td>
<td>
Mon: 2011-09-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-02 18:15:00
</td>
<td align="right">
   42.50
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Mon: 2011-09-05 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-02 19:35:00
</td>
<td align="right">
   42.54
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-02 19:40:00
</td>
<td align="right">
   42.66
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-02 19:45:00
</td>
<td align="right">
   42.64
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-02 19:50:00
</td>
<td align="right">
   42.58
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-02 17:05:00
</td>
<td align="right">
   32.86
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-09-05 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-02 17:35:00
</td>
<td align="right">
   32.73
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-09-05 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-02 17:50:00
</td>
<td align="right">
   32.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-09-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-09-02 14:05:00
</td>
<td align="right">
   89.95
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.01
</td>
<td>
Mon: 2011-09-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-09-02 19:35:00
</td>
<td align="right">
   88.78
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:00:00
</td>
<td align="right">
   92.21
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2011-09-05 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:05:00
</td>
<td align="right">
   92.92
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -1.22
</td>
<td>
Mon: 2011-09-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:10:00
</td>
<td align="right">
   92.30
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Mon: 2011-09-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:15:00
</td>
<td align="right">
   92.31
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2011-09-05 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:20:00
</td>
<td align="right">
   91.99
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-09-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:25:00
</td>
<td align="right">
   92.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-09-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:30:00
</td>
<td align="right">
   91.85
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2011-09-05 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:40:00
</td>
<td align="right">
   91.48
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .66
</td>
<td>
Mon: 2011-09-05 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:45:00
</td>
<td align="right">
   91.92
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-09-05 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:50:00
</td>
<td align="right">
   91.54
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Mon: 2011-09-05 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 14:55:00
</td>
<td align="right">
   91.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-05 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 15:00:00
</td>
<td align="right">
   91.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2011-09-05 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 15:05:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2011-09-05 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 15:10:00
</td>
<td align="right">
   91.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-09-05 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 15:15:00
</td>
<td align="right">
   91.99
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-09-05 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 15:20:00
</td>
<td align="right">
   91.77
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-09-05 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 15:45:00
</td>
<td align="right">
   91.94
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2011-09-05 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 15:55:00
</td>
<td align="right">
   91.93
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -1.14
</td>
<td>
Mon: 2011-09-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 16:00:00
</td>
<td align="right">
   92.00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.45
</td>
<td>
Mon: 2011-09-05 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 16:05:00
</td>
<td align="right">
   91.93
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   -1.38
</td>
<td>
Mon: 2011-09-05 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 16:10:00
</td>
<td align="right">
   92.06
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -1.70
</td>
<td>
Mon: 2011-09-05 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 16:15:00
</td>
<td align="right">
   91.99
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   -1.87
</td>
<td>
Mon: 2011-09-05 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 16:35:00
</td>
<td align="right">
   91.94
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -2.34
</td>
<td>
Mon: 2011-09-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 16:40:00
</td>
<td align="right">
   91.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -2.28
</td>
<td>
Mon: 2011-09-05 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 16:55:00
</td>
<td align="right">
   90.79
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.98
</td>
<td>
Mon: 2011-09-05 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 17:05:00
</td>
<td align="right">
   90.55
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.89
</td>
<td>
Mon: 2011-09-05 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 17:40:00
</td>
<td align="right">
   89.62
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-09-05 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 18:05:00
</td>
<td align="right">
   89.66
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2011-09-05 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 18:15:00
</td>
<td align="right">
   89.02
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .80
</td>
<td>
Mon: 2011-09-05 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 19:05:00
</td>
<td align="right">
   90.06
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 19:40:00
</td>
<td align="right">
   90.32
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 19:45:00
</td>
<td align="right">
   90.14
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-02 19:50:00
</td>
<td align="right">
   90.35
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-09-02 15:25:00
</td>
<td align="right">
   46.11
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-09-05 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2011-09-02 15:30:00
</td>
<td align="right">
   46.16
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-09-05 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-02 16:35:00
</td>
<td align="right">
   45.38
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2011-09-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-09-02 15:10:00
</td>
<td align="right">
   31.35
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-09-05 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-09-02 15:15:00
</td>
<td align="right">
   31.26
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-05 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-09-02 15:55:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-09-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-09-02 17:30:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2011-09-05 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2011-09-02 19:55:00
</td>
<td align="right">
   70.14
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-09-02 14:30:00
</td>
<td align="right">
   67.44
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-09-05 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-02 15:10:00
</td>
<td align="right">
   70.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2011-09-05 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-02 15:25:00
</td>
<td align="right">
   69.99
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-09-05 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-02 15:35:00
</td>
<td align="right">
   69.95
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-05 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-02 19:25:00
</td>
<td align="right">
   69.87
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-02 19:40:00
</td>
<td align="right">
   70.05
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-02 19:45:00
</td>
<td align="right">
   70.19
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:00:00
</td>
<td align="right">
  212.70
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Mon: 2011-09-05 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:05:00
</td>
<td align="right">
  213.50
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Mon: 2011-09-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:10:00
</td>
<td align="right">
  213.65
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-09-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:15:00
</td>
<td align="right">
  212.92
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .81
</td>
<td>
Mon: 2011-09-05 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:20:00
</td>
<td align="right">
  213.01
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-09-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:25:00
</td>
<td align="right">
  212.97
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Mon: 2011-09-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:30:00
</td>
<td align="right">
  212.12
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    1.41
</td>
<td>
Mon: 2011-09-05 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:35:00
</td>
<td align="right">
  211.45
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    2.11
</td>
<td>
Mon: 2011-09-05 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:40:00
</td>
<td align="right">
  210.67
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    2.21
</td>
<td>
Mon: 2011-09-05 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:45:00
</td>
<td align="right">
  210.96
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    1.56
</td>
<td>
Mon: 2011-09-05 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:50:00
</td>
<td align="right">
  210.42
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    1.36
</td>
<td>
Mon: 2011-09-05 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 14:55:00
</td>
<td align="right">
  212.91
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.95
</td>
<td>
Mon: 2011-09-05 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 15:00:00
</td>
<td align="right">
  213.46
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   -1.26
</td>
<td>
Mon: 2011-09-05 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 15:05:00
</td>
<td align="right">
  213.06
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.89
</td>
<td>
Mon: 2011-09-05 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 15:10:00
</td>
<td align="right">
  213.84
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   -1.66
</td>
<td>
Mon: 2011-09-05 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 15:45:00
</td>
<td align="right">
  212.52
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.84
</td>
<td>
Mon: 2011-09-05 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 15:50:00
</td>
<td align="right">
  211.78
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.78
</td>
<td>
Mon: 2011-09-05 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 15:55:00
</td>
<td align="right">
  211.96
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   -1.15
</td>
<td>
Mon: 2011-09-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:00:00
</td>
<td align="right">
  212.20
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -1.48
</td>
<td>
Mon: 2011-09-05 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:05:00
</td>
<td align="right">
  212.17
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   -1.15
</td>
<td>
Mon: 2011-09-05 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:10:00
</td>
<td align="right">
  212.18
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
   -1.23
</td>
<td>
Mon: 2011-09-05 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:15:00
</td>
<td align="right">
  211.51
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2011-09-05 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:20:00
</td>
<td align="right">
  211.24
</td>
<td align="right">
 -.97
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-09-05 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:25:00
</td>
<td align="right">
  211.02
</td>
<td align="right">
 -.95
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2011-09-05 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:30:00
</td>
<td align="right">
  211.10
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
    -.75
</td>
<td>
Mon: 2011-09-05 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:35:00
</td>
<td align="right">
  211.47
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Mon: 2011-09-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:40:00
</td>
<td align="right">
  211.57
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.89
</td>
<td>
Mon: 2011-09-05 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:45:00
</td>
<td align="right">
  211.68
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-09-05 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:50:00
</td>
<td align="right">
  211.00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-09-05 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 16:55:00
</td>
<td align="right">
  210.81
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Mon: 2011-09-05 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:00:00
</td>
<td align="right">
  210.72
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-09-05 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:05:00
</td>
<td align="right">
  211.02
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-09-05 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:10:00
</td>
<td align="right">
  210.95
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-09-05 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:15:00
</td>
<td align="right">
  211.03
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-09-05 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:20:00
</td>
<td align="right">
  211.34
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Mon: 2011-09-05 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:25:00
</td>
<td align="right">
  210.70
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Mon: 2011-09-05 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:30:00
</td>
<td align="right">
  210.35
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Mon: 2011-09-05 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:35:00
</td>
<td align="right">
  210.77
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2011-09-05 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:40:00
</td>
<td align="right">
  210.68
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Mon: 2011-09-05 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:45:00
</td>
<td align="right">
  211.48
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2011-09-05 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:50:00
</td>
<td align="right">
  210.99
</td>
<td align="right">
 -.96
</td>
<td>
Sell
</td>
<td align="right">
     .99
</td>
<td>
Mon: 2011-09-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 17:55:00
</td>
<td align="right">
  211.20
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
     .92
</td>
<td>
Mon: 2011-09-05 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:00:00
</td>
<td align="right">
  210.96
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Mon: 2011-09-05 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:05:00
</td>
<td align="right">
  211.05
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
     .98
</td>
<td>
Mon: 2011-09-05 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:10:00
</td>
<td align="right">
  211.02
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    1.41
</td>
<td>
Mon: 2011-09-05 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:15:00
</td>
<td align="right">
  210.86
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-09-05 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:20:00
</td>
<td align="right">
  210.95
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .93
</td>
<td>
Mon: 2011-09-05 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:25:00
</td>
<td align="right">
  211.22
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Mon: 2011-09-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:30:00
</td>
<td align="right">
  211.06
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    1.00
</td>
<td>
Mon: 2011-09-05 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:35:00
</td>
<td align="right">
  211.07
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    1.53
</td>
<td>
Mon: 2011-09-05 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:40:00
</td>
<td align="right">
  211.07
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    3.26
</td>
<td>
Mon: 2011-09-05 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:45:00
</td>
<td align="right">
  211.08
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    2.90
</td>
<td>
Mon: 2011-09-05 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:50:00
</td>
<td align="right">
  211.98
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    2.37
</td>
<td>
Mon: 2011-09-05 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 18:55:00
</td>
<td align="right">
  212.12
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    1.01
</td>
<td>
Mon: 2011-09-05 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:00:00
</td>
<td align="right">
  211.52
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:05:00
</td>
<td align="right">
  212.03
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:10:00
</td>
<td align="right">
  212.43
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:15:00
</td>
<td align="right">
  211.06
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:20:00
</td>
<td align="right">
  211.88
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:25:00
</td>
<td align="right">
  211.71
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:30:00
</td>
<td align="right">
  212.06
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:35:00
</td>
<td align="right">
  212.60
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:40:00
</td>
<td align="right">
  214.33
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:45:00
</td>
<td align="right">
  213.98
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:50:00
</td>
<td align="right">
  214.35
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-09-02 19:55:00
</td>
<td align="right">
  213.13
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-09-02 15:40:00
</td>
<td align="right">
   34.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-09-05 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-09-02 15:55:00
</td>
<td align="right">
   34.28
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-09-02 16:05:00
</td>
<td align="right">
   34.38
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-09-05 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-09-02 16:10:00
</td>
<td align="right">
   34.38
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-05 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-09-02 16:50:00
</td>
<td align="right">
   34.31
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-09-05 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-09-02 16:55:00
</td>
<td align="right">
   34.33
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-05 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 18:40:00
</td>
<td align="right">
   12.91
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-09-05 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 18:45:00
</td>
<td align="right">
   12.88
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-09-05 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 18:50:00
</td>
<td align="right">
   12.92
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-09-05 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 19:00:00
</td>
<td align="right">
   12.86
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 19:05:00
</td>
<td align="right">
   12.86
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 19:15:00
</td>
<td align="right">
   12.84
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 19:20:00
</td>
<td align="right">
   12.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 19:25:00
</td>
<td align="right">
   12.86
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-02 19:55:00
</td>
<td align="right">
   12.92
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-09-02 14:20:00
</td>
<td align="right">
  128.12
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Mon: 2011-09-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-09-02 16:40:00
</td>
<td align="right">
  128.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -1.14
</td>
<td>
Mon: 2011-09-05 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-02 14:25:00
</td>
<td align="right">
   57.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Mon: 2011-09-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-02 14:50:00
</td>
<td align="right">
   57.61
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Mon: 2011-09-05 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-02 15:40:00
</td>
<td align="right">
   58.13
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-09-05 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-02 19:30:00
</td>
<td align="right">
   58.35
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-02 19:40:00
</td>
<td align="right">
   58.39
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 14:30:00
</td>
<td align="right">
  185.86
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-05 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 14:50:00
</td>
<td align="right">
  185.61
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-09-05 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 15:55:00
</td>
<td align="right">
  185.69
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .59
</td>
<td>
Mon: 2011-09-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 16:05:00
</td>
<td align="right">
  185.88
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2011-09-05 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 18:15:00
</td>
<td align="right">
  186.00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Mon: 2011-09-05 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 18:55:00
</td>
<td align="right">
  186.40
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-09-05 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 19:00:00
</td>
<td align="right">
  186.62
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 19:50:00
</td>
<td align="right">
  186.51
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-02 19:55:00
</td>
<td align="right">
  186.36
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-02 18:30:00
</td>
<td align="right">
   49.26
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Mon: 2011-09-05 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-02 19:00:00
</td>
<td align="right">
   49.30
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-02 19:05:00
</td>
<td align="right">
   49.38
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-09-02 19:15:00
</td>
<td align="right">
   49.37
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:00:00
</td>
<td align="right">
   28.19
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-09-05 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:10:00
</td>
<td align="right">
   28.25
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-09-05 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:25:00
</td>
<td align="right">
   28.29
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-09-05 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:30:00
</td>
<td align="right">
   28.29
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-09-05 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:35:00
</td>
<td align="right">
   28.31
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-09-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:40:00
</td>
<td align="right">
   28.31
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-05 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:45:00
</td>
<td align="right">
   28.35
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-09-05 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:50:00
</td>
<td align="right">
   28.36
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-09-05 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 16:55:00
</td>
<td align="right">
   28.35
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-09-05 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:00:00
</td>
<td align="right">
   28.36
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-05 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:05:00
</td>
<td align="right">
   28.36
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-09-05 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:10:00
</td>
<td align="right">
   28.37
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-09-05 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:15:00
</td>
<td align="right">
   28.35
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-09-05 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:20:00
</td>
<td align="right">
   28.31
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-09-05 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:25:00
</td>
<td align="right">
   28.31
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-09-05 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:35:00
</td>
<td align="right">
   28.29
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-09-05 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:40:00
</td>
<td align="right">
   28.26
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-09-05 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:45:00
</td>
<td align="right">
   28.27
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-09-05 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:50:00
</td>
<td align="right">
   28.24
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-09-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 17:55:00
</td>
<td align="right">
   28.22
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-09-05 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 18:00:00
</td>
<td align="right">
   28.22
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-09-05 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-02 18:05:00
</td>
<td align="right">
   28.18
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-05 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-09-02 18:00:00
</td>
<td align="right">
   46.07
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2011-09-05 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-09-02 18:05:00
</td>
<td align="right">
   46.01
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-09-05 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-09-02 18:10:00
</td>
<td align="right">
   45.94
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-05 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-09-02 18:15:00
</td>
<td align="right">
   45.95
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-09-05 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-02 16:00:00
</td>
<td align="right">
   88.30
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Mon: 2011-09-05 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-09-02 17:35:00
</td>
<td align="right">
   58.38
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2011-09-05 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-09-02 18:45:00
</td>
<td align="right">
   57.71
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Mon: 2011-09-05 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-09-02 18:30:00
</td>
<td align="right">
   32.51
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-09-05 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-02 14:50:00
</td>
<td align="right">
   69.35
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2011-09-05 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-02 17:10:00
</td>
<td align="right">
   69.55
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-05 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 14:05:00
</td>
<td align="right">
   32.63
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-09-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 14:25:00
</td>
<td align="right">
   32.57
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-09-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 14:35:00
</td>
<td align="right">
   32.49
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-09-05 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 14:45:00
</td>
<td align="right">
   32.55
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-09-05 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 14:55:00
</td>
<td align="right">
   32.66
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-09-05 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 15:15:00
</td>
<td align="right">
   32.68
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-09-05 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 15:25:00
</td>
<td align="right">
   32.71
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-05 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 15:40:00
</td>
<td align="right">
   32.64
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-09-05 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 16:00:00
</td>
<td align="right">
   32.63
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-05 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 16:05:00
</td>
<td align="right">
   32.65
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-09-05 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 16:10:00
</td>
<td align="right">
   32.65
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-09-05 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 16:15:00
</td>
<td align="right">
   32.64
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-05 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 16:20:00
</td>
<td align="right">
   32.61
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-09-05 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 16:25:00
</td>
<td align="right">
   32.60
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-05 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 16:40:00
</td>
<td align="right">
   32.61
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-05 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 16:50:00
</td>
<td align="right">
   32.66
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-09-05 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 17:10:00
</td>
<td align="right">
   32.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-09-05 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 17:45:00
</td>
<td align="right">
   32.55
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-09-05 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 18:00:00
</td>
<td align="right">
   32.57
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-09-05 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 18:05:00
</td>
<td align="right">
   32.55
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-05 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 18:15:00
</td>
<td align="right">
   32.47
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-05 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 18:25:00
</td>
<td align="right">
   32.46
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-09-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 19:05:00
</td>
<td align="right">
   32.34
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2011-09-02 19:55:00
</td>
<td align="right">
   32.39
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-02 14:55:00
</td>
<td align="right">
   57.83
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2011-09-05 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-09-02 17:50:00
</td>
<td align="right">
   57.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-09-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 14:05:00
</td>
<td align="right">
   50.25
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2011-09-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 14:10:00
</td>
<td align="right">
   50.23
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-09-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 15:10:00
</td>
<td align="right">
   50.06
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2011-09-05 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 15:15:00
</td>
<td align="right">
   50.12
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-09-05 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 15:30:00
</td>
<td align="right">
   50.29
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-05 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 15:35:00
</td>
<td align="right">
   50.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-09-05 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 15:40:00
</td>
<td align="right">
   50.35
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-05 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 15:45:00
</td>
<td align="right">
   50.35
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-05 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 15:50:00
</td>
<td align="right">
   50.34
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-05 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 15:55:00
</td>
<td align="right">
   50.29
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-09-05 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 16:00:00
</td>
<td align="right">
   50.30
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-09-05 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 16:15:00
</td>
<td align="right">
   50.31
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-05 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 16:35:00
</td>
<td align="right">
   50.21
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-05 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 16:55:00
</td>
<td align="right">
   50.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-09-05 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:00:00
</td>
<td align="right">
   50.23
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-09-05 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:15:00
</td>
<td align="right">
   50.10
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-09-05 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:20:00
</td>
<td align="right">
   50.11
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-05 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:25:00
</td>
<td align="right">
   50.11
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-05 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:30:00
</td>
<td align="right">
   50.13
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-09-05 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:40:00
</td>
<td align="right">
   50.09
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-09-05 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:45:00
</td>
<td align="right">
   50.13
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-09-05 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:50:00
</td>
<td align="right">
   50.12
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2011-09-05 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 17:55:00
</td>
<td align="right">
   50.13
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2011-09-05 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 18:00:00
</td>
<td align="right">
   50.13
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2011-09-05 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 18:05:00
</td>
<td align="right">
   50.11
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-09-05 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 18:25:00
</td>
<td align="right">
   50.02
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-09-05 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 18:35:00
</td>
<td align="right">
   49.91
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-09-05 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 19:10:00
</td>
<td align="right">
   49.78
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 19:20:00
</td>
<td align="right">
   49.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-09-02 19:35:00
</td>
<td align="right">
   49.84
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-09-02 14:15:00
</td>
<td align="right">
   27.43
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-05 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-09-02 15:25:00
</td>
<td align="right">
   27.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-09-05 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 14:00:00
</td>
<td align="right">
   52.52
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-09-05 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 15:25:00
</td>
<td align="right">
   52.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-05 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 15:30:00
</td>
<td align="right">
   52.50
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-05 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 15:40:00
</td>
<td align="right">
   52.48
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-09-05 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 16:00:00
</td>
<td align="right">
   52.48
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-05 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 16:45:00
</td>
<td align="right">
   52.36
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-09-05 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 17:20:00
</td>
<td align="right">
   52.32
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-09-05 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 19:00:00
</td>
<td align="right">
   52.11
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-02 19:45:00
</td>
<td align="right">
   52.04
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-05 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-02 14:05:00
</td>
<td align="right">
   72.44
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2011-09-05 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-02 14:10:00
</td>
<td align="right">
   72.30
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-09-05 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-02 14:20:00
</td>
<td align="right">
   72.25
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-05 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-02 14:25:00
</td>
<td align="right">
   72.29
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-09-05 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-02 14:30:00
</td>
<td align="right">
   72.08
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2011-09-05 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-09-02 15:15:00
</td>
<td align="right">
   72.35
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-09-05 15:15
</td>
</tr>
</table>
<br /><hr />