<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-09-09 14:15:00
</td>
<td align="right">
   24.20
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-09-12 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-09-09 14:35:00
</td>
<td align="right">
   24.20
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2011-09-12 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-09-09 17:35:00
</td>
<td align="right">
   23.62
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-09-12 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-09-09 18:00:00
</td>
<td align="right">
   23.55
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-09-12 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-09-09 18:25:00
</td>
<td align="right">
   23.48
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-12 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-09-09 19:00:00
</td>
<td align="right">
   23.47
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-09-09 19:45:00
</td>
<td align="right">
   23.50
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 14:45:00
</td>
<td align="right">
    9.13
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-12 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 14:55:00
</td>
<td align="right">
    9.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-09-12 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 15:15:00
</td>
<td align="right">
    9.08
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-12 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 15:30:00
</td>
<td align="right">
    9.05
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-09-12 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:00:00
</td>
<td align="right">
    8.91
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-09-12 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:05:00
</td>
<td align="right">
    8.92
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-09-12 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:10:00
</td>
<td align="right">
    8.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-09-12 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:20:00
</td>
<td align="right">
    8.96
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-12 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:25:00
</td>
<td align="right">
    8.98
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-09-12 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:30:00
</td>
<td align="right">
    8.95
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-09-12 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:35:00
</td>
<td align="right">
    8.97
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-12 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:40:00
</td>
<td align="right">
    8.93
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-09-12 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:45:00
</td>
<td align="right">
    8.93
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-09-12 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:50:00
</td>
<td align="right">
    8.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-09-12 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 16:55:00
</td>
<td align="right">
    8.95
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-09-12 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 17:10:00
</td>
<td align="right">
    8.97
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-09-12 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 17:15:00
</td>
<td align="right">
    9.01
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-09-12 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 17:20:00
</td>
<td align="right">
    9.01
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-09-12 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 17:45:00
</td>
<td align="right">
    9.01
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-09-12 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 17:50:00
</td>
<td align="right">
    9.08
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-09-12 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 17:55:00
</td>
<td align="right">
    9.05
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-09-12 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 18:05:00
</td>
<td align="right">
    9.07
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-09-12 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 18:45:00
</td>
<td align="right">
    9.02
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-09-12 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 18:50:00
</td>
<td align="right">
    9.02
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-09-12 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 19:10:00
</td>
<td align="right">
    9.11
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 19:20:00
</td>
<td align="right">
    9.05
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 19:25:00
</td>
<td align="right">
    9.05
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 19:30:00
</td>
<td align="right">
    9.03
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 19:45:00
</td>
<td align="right">
    9.08
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-09-09 19:50:00
</td>
<td align="right">
    9.07
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2011-09-09 14:55:00
</td>
<td align="right">
   47.97
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2011-09-12 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2011-09-09 14:15:00
</td>
<td align="right">
   78.97
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-09-12 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2011-09-09 14:25:00
</td>
<td align="right">
   79.22
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -1.12
</td>
<td>
Mon: 2011-09-12 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-09-09 15:55:00
</td>
<td align="right">
   28.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-09-12 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-09-09 16:25:00
</td>
<td align="right">
   28.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-09-12 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-09-09 17:05:00
</td>
<td align="right">
   28.89
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-09-12 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-09-09 17:55:00
</td>
<td align="right">
   43.83
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Mon: 2011-09-12 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-09 14:00:00
</td>
<td align="right">
   66.23
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2011-09-12 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-09 19:35:00
</td>
<td align="right">
   65.84
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-09 14:10:00
</td>
<td align="right">
   55.51
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Mon: 2011-09-12 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-09 14:25:00
</td>
<td align="right">
   55.80
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-09-12 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-09 15:40:00
</td>
<td align="right">
   55.57
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-09-12 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-09 16:55:00
</td>
<td align="right">
   55.60
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-09-12 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-09 17:05:00
</td>
<td align="right">
   55.62
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-09-12 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-09 17:35:00
</td>
<td align="right">
   55.57
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2011-09-12 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-09-09 17:50:00
</td>
<td align="right">
   55.47
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-12 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 14:05:00
</td>
<td align="right">
  532.23
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    1.10
</td>
<td>
Mon: 2011-09-12 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 15:40:00
</td>
<td align="right">
  528.44
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -5.00
</td>
<td>
Mon: 2011-09-12 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 15:45:00
</td>
<td align="right">
  526.53
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -2.84
</td>
<td>
Mon: 2011-09-12 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 15:50:00
</td>
<td align="right">
  526.77
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   -3.21
</td>
<td>
Mon: 2011-09-12 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 16:00:00
</td>
<td align="right">
  526.39
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   -2.75
</td>
<td>
Mon: 2011-09-12 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 16:10:00
</td>
<td align="right">
  524.96
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-09-12 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 16:55:00
</td>
<td align="right">
  524.56
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   -2.42
</td>
<td>
Mon: 2011-09-12 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 17:00:00
</td>
<td align="right">
  523.64
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.57
</td>
<td>
Mon: 2011-09-12 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 17:05:00
</td>
<td align="right">
  524.26
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.47
</td>
<td>
Mon: 2011-09-12 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 17:15:00
</td>
<td align="right">
  524.13
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   -2.56
</td>
<td>
Mon: 2011-09-12 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 17:20:00
</td>
<td align="right">
  523.34
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   -1.14
</td>
<td>
Mon: 2011-09-12 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 17:25:00
</td>
<td align="right">
  523.97
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -2.15
</td>
<td>
Mon: 2011-09-12 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 17:45:00
</td>
<td align="right">
  523.08
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2011-09-12 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 17:55:00
</td>
<td align="right">
  522.14
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-12 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 18:05:00
</td>
<td align="right">
  522.79
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-09-12 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 18:10:00
</td>
<td align="right">
  521.54
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .78
</td>
<td>
Mon: 2011-09-12 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 18:20:00
</td>
<td align="right">
  522.20
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2011-09-12 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 18:30:00
</td>
<td align="right">
  521.68
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    2.26
</td>
<td>
Mon: 2011-09-12 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 18:40:00
</td>
<td align="right">
  523.25
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    1.83
</td>
<td>
Mon: 2011-09-12 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 18:45:00
</td>
<td align="right">
  522.54
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    2.79
</td>
<td>
Mon: 2011-09-12 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 19:05:00
</td>
<td align="right">
  522.57
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 19:25:00
</td>
<td align="right">
  522.31
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 19:35:00
</td>
<td align="right">
  525.36
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 19:45:00
</td>
<td align="right">
  525.33
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-09 19:55:00
</td>
<td align="right">
  524.50
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 14:50:00
</td>
<td align="right">
    7.91
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-12 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 15:00:00
</td>
<td align="right">
    7.92
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-09-12 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 15:25:00
</td>
<td align="right">
    7.84
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-09-12 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 15:30:00
</td>
<td align="right">
    7.84
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-09-12 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2011-09-09 14:50:00
</td>
<td align="right">
   20.18
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-09-12 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2011-09-09 17:00:00
</td>
<td align="right">
   19.93
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-09-12 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2011-09-09 17:35:00
</td>
<td align="right">
   19.86
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-12 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-09-09 17:25:00
</td>
<td align="right">
   25.51
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-09-12 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-09 15:10:00
</td>
<td align="right">
   36.46
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2011-09-12 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-09-09 18:15:00
</td>
<td align="right">
   25.66
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-09-12 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-09-09 15:50:00
</td>
<td align="right">
   11.24
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-09-12 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-09-09 16:05:00
</td>
<td align="right">
   11.40
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-09-12 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MVG">MVG</a></td>
<td>
2011-09-09 16:45:00
</td>
<td align="right">
   11.38
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-12 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 14:00:00
</td>
<td align="right">
   14.40
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-12 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 14:05:00
</td>
<td align="right">
   14.43
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-12 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 18:10:00
</td>
<td align="right">
   14.01
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-09-12 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 18:15:00
</td>
<td align="right">
   13.99
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-09-12 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 18:20:00
</td>
<td align="right">
   13.98
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-09-12 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 18:25:00
</td>
<td align="right">
   13.95
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-12 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 18:30:00
</td>
<td align="right">
   13.93
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-09-12 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 18:35:00
</td>
<td align="right">
   13.90
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-09-12 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 18:40:00
</td>
<td align="right">
   13.94
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-09-12 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:05:00
</td>
<td align="right">
   13.84
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:10:00
</td>
<td align="right">
   13.83
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:15:00
</td>
<td align="right">
   13.81
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:20:00
</td>
<td align="right">
   13.83
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:25:00
</td>
<td align="right">
   13.81
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:30:00
</td>
<td align="right">
   13.83
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:35:00
</td>
<td align="right">
   13.92
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:40:00
</td>
<td align="right">
   13.92
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:45:00
</td>
<td align="right">
   13.93
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:50:00
</td>
<td align="right">
   13.91
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2011-09-09 19:55:00
</td>
<td align="right">
   13.87
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-09-09 18:15:00
</td>
<td align="right">
  125.13
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-09-12 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 15:55:00
</td>
<td align="right">
  182.25
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.68
</td>
<td>
Mon: 2011-09-12 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-09-09 18:25:00
</td>
<td align="right">
   46.14
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-09-12 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-09-09 19:40:00
</td>
<td align="right">
   46.24
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-09-09 14:25:00
</td>
<td align="right">
   33.12
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.57
</td>
<td>
Mon: 2011-09-12 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2011-09-09 14:55:00
</td>
<td align="right">
   33.06
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.78
</td>
<td>
Mon: 2011-09-12 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2011-09-09 14:25:00
</td>
<td align="right">
   69.73
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.55
</td>
<td>
Mon: 2011-09-12 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:00:00
</td>
<td align="right">
   88.14
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-09-12 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:05:00
</td>
<td align="right">
   87.87
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-09-12 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:10:00
</td>
<td align="right">
   87.40
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .60
</td>
<td>
Mon: 2011-09-12 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:15:00
</td>
<td align="right">
   87.52
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .58
</td>
<td>
Mon: 2011-09-12 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:20:00
</td>
<td align="right">
   87.55
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Mon: 2011-09-12 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:25:00
</td>
<td align="right">
   87.83
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-09-12 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:30:00
</td>
<td align="right">
   87.51
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Mon: 2011-09-12 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:35:00
</td>
<td align="right">
   87.65
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2011-09-12 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:40:00
</td>
<td align="right">
   87.91
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2011-09-12 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:45:00
</td>
<td align="right">
   88.25
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   -1.02
</td>
<td>
Mon: 2011-09-12 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:50:00
</td>
<td align="right">
   88.20
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.97
</td>
<td>
Mon: 2011-09-12 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 14:55:00
</td>
<td align="right">
   88.05
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.96
</td>
<td>
Mon: 2011-09-12 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:00:00
</td>
<td align="right">
   88.13
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   -1.11
</td>
<td>
Mon: 2011-09-12 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:05:00
</td>
<td align="right">
   88.16
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   -1.22
</td>
<td>
Mon: 2011-09-12 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:10:00
</td>
<td align="right">
   88.00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   -1.20
</td>
<td>
Mon: 2011-09-12 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:15:00
</td>
<td align="right">
   88.10
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   -1.10
</td>
<td>
Mon: 2011-09-12 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:20:00
</td>
<td align="right">
   88.08
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   -1.09
</td>
<td>
Mon: 2011-09-12 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:25:00
</td>
<td align="right">
   87.91
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   -1.11
</td>
<td>
Mon: 2011-09-12 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:30:00
</td>
<td align="right">
   87.99
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   -1.24
</td>
<td>
Mon: 2011-09-12 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:35:00
</td>
<td align="right">
   87.92
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   -1.20
</td>
<td>
Mon: 2011-09-12 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:40:00
</td>
<td align="right">
   87.60
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.94
</td>
<td>
Mon: 2011-09-12 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:45:00
</td>
<td align="right">
   87.23
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2011-09-12 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:50:00
</td>
<td align="right">
   87.23
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.67
</td>
<td>
Mon: 2011-09-12 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 15:55:00
</td>
<td align="right">
   87.09
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-09-12 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-09-09 16:10:00
</td>
<td align="right">
   86.80
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-09-12 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-09 14:00:00
</td>
<td align="right">
   89.63
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2011-09-12 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-09 14:05:00
</td>
<td align="right">
   89.58
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2011-09-12 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WDC">WDC</a></td>
<td>
2011-09-09 19:35:00
</td>
<td align="right">
   28.46
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 17:00:00
</td>
<td align="right">
   85.47
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-09-12 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 18:25:00
</td>
<td align="right">
   85.47
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2011-09-12 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 18:45:00
</td>
<td align="right">
   85.39
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Mon: 2011-09-12 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 18:55:00
</td>
<td align="right">
   85.48
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2011-09-12 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 19:00:00
</td>
<td align="right">
   85.46
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 19:05:00
</td>
<td align="right">
   85.66
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 19:10:00
</td>
<td align="right">
   85.52
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 19:30:00
</td>
<td align="right">
   85.41
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2011-09-09 19:55:00
</td>
<td align="right">
   85.74
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-09-09 16:05:00
</td>
<td align="right">
   54.08
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-09-12 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-09-09 14:10:00
</td>
<td align="right">
   31.48
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2011-09-12 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-09-09 16:10:00
</td>
<td align="right">
   30.81
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2011-09-12 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-09-09 16:20:00
</td>
<td align="right">
   30.91
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-09-12 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-09-09 16:45:00
</td>
<td align="right">
   30.69
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2011-09-12 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-09 15:45:00
</td>
<td align="right">
   47.90
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-09-12 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-09 17:10:00
</td>
<td align="right">
   47.76
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-09-12 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-09 17:15:00
</td>
<td align="right">
   47.66
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-09-12 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-09 17:25:00
</td>
<td align="right">
   47.71
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-09-12 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-09 19:10:00
</td>
<td align="right">
   47.39
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2011-09-09 19:20:00
</td>
<td align="right">
   47.20
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-09 18:30:00
</td>
<td align="right">
   41.62
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-09-12 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-09 19:10:00
</td>
<td align="right">
   41.78
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-09-09 14:15:00
</td>
<td align="right">
   33.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-12 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-09-09 16:45:00
</td>
<td align="right">
   32.48
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-09-12 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-09-09 19:15:00
</td>
<td align="right">
   31.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 15:40:00
</td>
<td align="right">
    7.78
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-09-12 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 15:50:00
</td>
<td align="right">
    7.77
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-09-12 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 16:50:00
</td>
<td align="right">
    7.78
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-09-12 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:00:00
</td>
<td align="right">
    7.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-09-12 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:10:00
</td>
<td align="right">
    7.78
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-12 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:15:00
</td>
<td align="right">
    7.78
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-12 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:20:00
</td>
<td align="right">
    7.76
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-09-12 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:25:00
</td>
<td align="right">
    7.77
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-09-12 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:30:00
</td>
<td align="right">
    7.77
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-09-12 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:35:00
</td>
<td align="right">
    7.78
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-09-12 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:40:00
</td>
<td align="right">
    7.78
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-09-12 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-09-09 17:45:00
</td>
<td align="right">
    7.77
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-12 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-09-09 14:05:00
</td>
<td align="right">
   61.25
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-09-12 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-09-09 14:20:00
</td>
<td align="right">
   61.24
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-09-12 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-09-09 14:45:00
</td>
<td align="right">
   61.33
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2011-09-12 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-09-09 15:15:00
</td>
<td align="right">
   61.25
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   -2.28
</td>
<td>
Mon: 2011-09-12 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-09-09 15:20:00
</td>
<td align="right">
   61.25
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   -2.35
</td>
<td>
Mon: 2011-09-12 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-09 15:35:00
</td>
<td align="right">
   36.27
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-09-12 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-09 17:15:00
</td>
<td align="right">
   36.22
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-12 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-09 18:50:00
</td>
<td align="right">
   36.07
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-09-12 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-09-09 19:55:00
</td>
<td align="right">
   36.12
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-09 17:30:00
</td>
<td align="right">
   46.52
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2011-09-12 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-09 17:50:00
</td>
<td align="right">
   46.39
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-09-12 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-09 18:25:00
</td>
<td align="right">
   46.14
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-09-12 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-09 18:45:00
</td>
<td align="right">
   46.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2011-09-12 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-09 18:50:00
</td>
<td align="right">
   46.10
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Mon: 2011-09-12 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-09 19:00:00
</td>
<td align="right">
   46.14
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-09 19:10:00
</td>
<td align="right">
   46.16
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-09-09 19:30:00
</td>
<td align="right">
   46.24
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-09-09 18:00:00
</td>
<td align="right">
   64.97
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-09-12 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NEM">NEM</a></td>
<td>
2011-09-09 14:20:00
</td>
<td align="right">
   66.25
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.97
</td>
<td>
Mon: 2011-09-12 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:00:00
</td>
<td align="right">
   18.35
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-09-12 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:05:00
</td>
<td align="right">
   18.33
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-09-12 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:10:00
</td>
<td align="right">
   18.36
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-09-12 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:15:00
</td>
<td align="right">
   18.34
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-09-12 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:20:00
</td>
<td align="right">
   18.39
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-09-12 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:30:00
</td>
<td align="right">
   18.45
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-12 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:35:00
</td>
<td align="right">
   18.49
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-09-12 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:40:00
</td>
<td align="right">
   18.49
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-09-12 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:45:00
</td>
<td align="right">
   18.54
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2011-09-12 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 14:55:00
</td>
<td align="right">
   18.49
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-09-12 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 15:00:00
</td>
<td align="right">
   18.50
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-09-12 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 15:05:00
</td>
<td align="right">
   18.52
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2011-09-12 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PFE">PFE</a></td>
<td>
2011-09-09 15:10:00
</td>
<td align="right">
   18.45
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2011-09-12 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 14:10:00
</td>
<td align="right">
  181.95
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2011-09-12 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 14:15:00
</td>
<td align="right">
  181.95
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2011-09-12 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 14:25:00
</td>
<td align="right">
  181.46
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .62
</td>
<td>
Mon: 2011-09-12 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 14:30:00
</td>
<td align="right">
  181.64
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-09-12 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 15:45:00
</td>
<td align="right">
  181.70
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2011-09-12 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 17:25:00
</td>
<td align="right">
  181.42
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2011-09-12 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 18:05:00
</td>
<td align="right">
  181.78
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.78
</td>
<td>
Mon: 2011-09-12 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 18:10:00
</td>
<td align="right">
  181.71
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2011-09-12 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 18:25:00
</td>
<td align="right">
  181.75
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Mon: 2011-09-12 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 18:45:00
</td>
<td align="right">
  180.84
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2011-09-12 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 18:55:00
</td>
<td align="right">
  180.89
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Mon: 2011-09-12 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 19:05:00
</td>
<td align="right">
  181.00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 19:10:00
</td>
<td align="right">
  181.24
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 19:35:00
</td>
<td align="right">
  181.17
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 19:45:00
</td>
<td align="right">
  181.24
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-09 19:55:00
</td>
<td align="right">
  181.33
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-09-12 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-09 14:30:00
</td>
<td align="right">
   51.72
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-09-12 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-09 15:00:00
</td>
<td align="right">
   51.77
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-09-12 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-09 15:05:00
</td>
<td align="right">
   51.80
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2011-09-12 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-09 15:10:00
</td>
<td align="right">
   51.71
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2011-09-12 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-09 15:45:00
</td>
<td align="right">
   51.51
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-09-12 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-09 16:15:00
</td>
<td align="right">
   51.45
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-09-12 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-09 16:20:00
</td>
<td align="right">
   51.46
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-09-12 16:20
</td>
</tr>
</table>
<br /><hr />