<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-22 14:15:00
</td>
<td align="right">
   41.90
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Tue: 2011-08-23 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-22 14:40:00
</td>
<td align="right">
   41.85
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.94
</td>
<td>
Tue: 2011-08-23 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-22 14:45:00
</td>
<td align="right">
   41.95
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.93
</td>
<td>
Tue: 2011-08-23 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 14:15:00
</td>
<td align="right">
   32.37
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2011-08-23 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 14:20:00
</td>
<td align="right">
   32.36
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2011-08-23 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 14:25:00
</td>
<td align="right">
   32.42
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-08-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 14:30:00
</td>
<td align="right">
   32.41
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-08-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 14:35:00
</td>
<td align="right">
   32.35
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-08-23 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 14:45:00
</td>
<td align="right">
   32.36
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-08-23 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 16:05:00
</td>
<td align="right">
   32.38
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-08-23 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 16:10:00
</td>
<td align="right">
   32.38
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-08-23 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 16:15:00
</td>
<td align="right">
   32.37
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-08-23 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 16:50:00
</td>
<td align="right">
   32.40
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2011-08-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 16:55:00
</td>
<td align="right">
   32.45
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2011-08-23 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 17:00:00
</td>
<td align="right">
   32.49
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2011-08-23 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 17:05:00
</td>
<td align="right">
   32.48
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2011-08-23 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 17:10:00
</td>
<td align="right">
   32.39
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-08-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 17:15:00
</td>
<td align="right">
   32.43
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2011-08-23 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-22 17:20:00
</td>
<td align="right">
   32.41
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-08-23 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 15:00:00
</td>
<td align="right">
   11.19
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-08-23 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 15:05:00
</td>
<td align="right">
   11.20
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-08-23 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 15:10:00
</td>
<td align="right">
   11.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-08-23 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 15:15:00
</td>
<td align="right">
   11.23
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-08-23 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 15:20:00
</td>
<td align="right">
   11.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-08-23 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 15:30:00
</td>
<td align="right">
   11.23
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-08-23 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 15:35:00
</td>
<td align="right">
   11.19
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-08-23 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 17:15:00
</td>
<td align="right">
   11.42
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-08-23 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 17:20:00
</td>
<td align="right">
   11.41
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-08-23 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 17:25:00
</td>
<td align="right">
   11.36
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-08-23 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 18:05:00
</td>
<td align="right">
   11.39
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-08-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 18:20:00
</td>
<td align="right">
   11.38
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2011-08-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 18:25:00
</td>
<td align="right">
   11.40
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-08-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 18:30:00
</td>
<td align="right">
   11.38
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2011-08-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 19:45:00
</td>
<td align="right">
   11.39
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-22 19:55:00
</td>
<td align="right">
   11.39
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 14:05:00
</td>
<td align="right">
   35.88
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-08-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 14:50:00
</td>
<td align="right">
   35.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2011-08-23 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 14:55:00
</td>
<td align="right">
   35.81
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2011-08-23 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:00:00
</td>
<td align="right">
   35.86
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2011-08-23 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:05:00
</td>
<td align="right">
   35.87
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-08-23 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:10:00
</td>
<td align="right">
   35.81
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-08-23 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:15:00
</td>
<td align="right">
   35.76
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2011-08-23 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:20:00
</td>
<td align="right">
   35.71
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-08-23 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:25:00
</td>
<td align="right">
   35.77
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-08-23 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:30:00
</td>
<td align="right">
   35.71
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-08-23 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:35:00
</td>
<td align="right">
   35.63
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-08-23 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:40:00
</td>
<td align="right">
   35.59
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2011-08-23 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:45:00
</td>
<td align="right">
   35.65
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2011-08-23 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:50:00
</td>
<td align="right">
   35.57
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2011-08-23 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 15:55:00
</td>
<td align="right">
   35.56
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Tue: 2011-08-23 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:00:00
</td>
<td align="right">
   35.62
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Tue: 2011-08-23 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:05:00
</td>
<td align="right">
   35.74
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2011-08-23 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:10:00
</td>
<td align="right">
   35.75
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2011-08-23 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:15:00
</td>
<td align="right">
   35.76
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2011-08-23 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:20:00
</td>
<td align="right">
   35.72
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-08-23 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:25:00
</td>
<td align="right">
   35.72
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-08-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:30:00
</td>
<td align="right">
   35.69
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-08-23 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:35:00
</td>
<td align="right">
   35.77
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-08-23 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 16:40:00
</td>
<td align="right">
   35.80
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-08-23 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 18:35:00
</td>
<td align="right">
   35.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-08-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 18:50:00
</td>
<td align="right">
   35.83
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2011-08-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 18:55:00
</td>
<td align="right">
   35.80
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2011-08-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:00:00
</td>
<td align="right">
   35.82
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:05:00
</td>
<td align="right">
   35.83
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:15:00
</td>
<td align="right">
   35.85
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:25:00
</td>
<td align="right">
   35.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:30:00
</td>
<td align="right">
   35.85
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:35:00
</td>
<td align="right">
   35.81
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:45:00
</td>
<td align="right">
   35.78
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:50:00
</td>
<td align="right">
   35.66
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-08-22 19:55:00
</td>
<td align="right">
   35.65
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-08-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 14:15:00
</td>
<td align="right">
   74.80
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-08-23 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 14:20:00
</td>
<td align="right">
   74.76
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2011-08-23 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 14:25:00
</td>
<td align="right">
   74.70
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2011-08-23 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 14:30:00
</td>
<td align="right">
   74.73
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2011-08-23 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 14:35:00
</td>
<td align="right">
   74.68
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2011-08-23 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 14:50:00
</td>
<td align="right">
   74.77
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-08-23 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 15:05:00
</td>
<td align="right">
   74.80
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-08-23 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 15:10:00
</td>
<td align="right">
   74.83
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-08-23 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 15:15:00
</td>
<td align="right">
   74.75
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-08-23 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 15:55:00
</td>
<td align="right">
   74.84
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .95
</td>
<td>
Tue: 2011-08-23 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-22 16:10:00
</td>
<td align="right">
   74.84
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .84
</td>
<td>
Tue: 2011-08-23 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-22 14:00:00
</td>
<td align="right">
  114.20
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Tue: 2011-08-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-22 14:05:00
</td>
<td align="right">
  113.88
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2011-08-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-22 14:10:00
</td>
<td align="right">
  113.98
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Tue: 2011-08-23 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 14:40:00
</td>
<td align="right">
  130.54
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -2.82
</td>
<td>
Tue: 2011-08-23 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:10:00
</td>
<td align="right">
  128.83
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -1.10
</td>
<td>
Tue: 2011-08-23 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:15:00
</td>
<td align="right">
  129.10
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   -1.47
</td>
<td>
Tue: 2011-08-23 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:20:00
</td>
<td align="right">
  128.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Tue: 2011-08-23 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:25:00
</td>
<td align="right">
  128.85
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.89
</td>
<td>
Tue: 2011-08-23 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:30:00
</td>
<td align="right">
  128.85
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -1.64
</td>
<td>
Tue: 2011-08-23 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:10:00
</td>
<td align="right">
  127.73
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    1.22
</td>
<td>
Tue: 2011-08-23 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:15:00
</td>
<td align="right">
  127.63
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    1.16
</td>
<td>
Tue: 2011-08-23 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:20:00
</td>
<td align="right">
  127.80
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Tue: 2011-08-23 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:25:00
</td>
<td align="right">
  127.96
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2011-08-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:50:00
</td>
<td align="right">
  127.95
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -1.36
</td>
<td>
Tue: 2011-08-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:00:00
</td>
<td align="right">
  129.82
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   -2.28
</td>
<td>
Tue: 2011-08-23 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:05:00
</td>
<td align="right">
  129.51
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -2.30
</td>
<td>
Tue: 2011-08-23 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:25:00
</td>
<td align="right">
  127.60
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2011-08-23 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:30:00
</td>
<td align="right">
  127.63
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2011-08-23 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:35:00
</td>
<td align="right">
  127.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.85
</td>
<td>
Tue: 2011-08-23 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:40:00
</td>
<td align="right">
  127.88
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2011-08-23 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 18:00:00
</td>
<td align="right">
  127.54
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Tue: 2011-08-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 18:20:00
</td>
<td align="right">
  127.76
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Tue: 2011-08-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 18:25:00
</td>
<td align="right">
  127.60
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2011-08-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 14:50:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2011-08-23 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 14:55:00
</td>
<td align="right">
   38.67
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2011-08-23 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 15:00:00
</td>
<td align="right">
   38.69
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2011-08-23 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 15:05:00
</td>
<td align="right">
   38.71
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-08-23 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 15:40:00
</td>
<td align="right">
   38.30
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-08-23 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 16:10:00
</td>
<td align="right">
   38.64
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2011-08-23 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 16:15:00
</td>
<td align="right">
   38.64
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-08-23 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 16:35:00
</td>
<td align="right">
   38.63
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-08-23 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 16:45:00
</td>
<td align="right">
   38.68
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-08-23 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 17:30:00
</td>
<td align="right">
   38.68
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-08-23 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 17:35:00
</td>
<td align="right">
   38.69
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-08-23 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 17:40:00
</td>
<td align="right">
   38.69
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-08-23 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 17:45:00
</td>
<td align="right">
   38.67
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-08-23 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 17:50:00
</td>
<td align="right">
   38.62
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-08-23 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 17:55:00
</td>
<td align="right">
   38.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2011-08-23 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 18:00:00
</td>
<td align="right">
   38.63
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-08-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 18:05:00
</td>
<td align="right">
   38.70
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-08-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 18:15:00
</td>
<td align="right">
   38.69
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-08-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 18:20:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-08-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 18:25:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-08-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-22 18:30:00
</td>
<td align="right">
   38.63
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-08-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-22 15:55:00
</td>
<td align="right">
   51.09
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2011-08-23 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-22 16:00:00
</td>
<td align="right">
   51.16
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Tue: 2011-08-23 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-22 16:30:00
</td>
<td align="right">
   51.11
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2011-08-23 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-22 16:35:00
</td>
<td align="right">
   51.24
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2011-08-23 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-22 16:40:00
</td>
<td align="right">
   51.14
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2011-08-23 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-22 18:35:00
</td>
<td align="right">
   51.13
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2011-08-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 14:55:00
</td>
<td align="right">
  187.89
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2011-08-23 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 15:15:00
</td>
<td align="right">
  187.86
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-08-23 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 15:20:00
</td>
<td align="right">
  187.86
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-08-23 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 15:35:00
</td>
<td align="right">
  188.19
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-08-23 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 15:40:00
</td>
<td align="right">
  188.22
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2011-08-23 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 15:50:00
</td>
<td align="right">
  188.26
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2011-08-23 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 15:55:00
</td>
<td align="right">
  188.30
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2011-08-23 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 16:00:00
</td>
<td align="right">
  188.16
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2011-08-23 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 16:05:00
</td>
<td align="right">
  188.18
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2011-08-23 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 16:25:00
</td>
<td align="right">
  188.17
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-08-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 16:30:00
</td>
<td align="right">
  188.31
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-08-23 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 16:35:00
</td>
<td align="right">
  188.33
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-08-23 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 16:40:00
</td>
<td align="right">
  188.25
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-08-23 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 16:50:00
</td>
<td align="right">
  188.42
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-08-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 16:55:00
</td>
<td align="right">
  188.53
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-08-23 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 17:10:00
</td>
<td align="right">
  188.34
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2011-08-23 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 17:15:00
</td>
<td align="right">
  188.40
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-08-23 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 17:20:00
</td>
<td align="right">
  188.05
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Tue: 2011-08-23 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 17:35:00
</td>
<td align="right">
  188.32
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-08-23 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 17:45:00
</td>
<td align="right">
  188.40
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-08-23 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 17:50:00
</td>
<td align="right">
  188.44
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2011-08-23 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 17:55:00
</td>
<td align="right">
  188.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-08-23 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 18:00:00
</td>
<td align="right">
  188.46
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-08-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 18:05:00
</td>
<td align="right">
  188.48
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-08-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 18:10:00
</td>
<td align="right">
  188.57
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-08-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 18:15:00
</td>
<td align="right">
  188.57
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-08-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-08-22 18:55:00
</td>
<td align="right">
  188.58
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Tue: 2011-08-23 18:55
</td>
</tr>
</table>
<br /><hr />