<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-22 14:15:00
</td>
<td align="right">
   41.90
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Tue: 2011-08-23 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-22 14:40:00
</td>
<td align="right">
   41.85
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.94
</td>
<td>
Tue: 2011-08-23 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-08-22 14:45:00
</td>
<td align="right">
   41.95
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.93
</td>
<td>
Tue: 2011-08-23 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-22 14:00:00
</td>
<td align="right">
  114.20
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Tue: 2011-08-23 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-22 14:05:00
</td>
<td align="right">
  113.88
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2011-08-23 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-22 14:10:00
</td>
<td align="right">
  113.98
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Tue: 2011-08-23 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 14:40:00
</td>
<td align="right">
  130.54
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -2.82
</td>
<td>
Tue: 2011-08-23 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:10:00
</td>
<td align="right">
  128.83
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -1.10
</td>
<td>
Tue: 2011-08-23 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:15:00
</td>
<td align="right">
  129.10
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   -1.47
</td>
<td>
Tue: 2011-08-23 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:20:00
</td>
<td align="right">
  128.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Tue: 2011-08-23 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:25:00
</td>
<td align="right">
  128.85
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.89
</td>
<td>
Tue: 2011-08-23 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 15:30:00
</td>
<td align="right">
  128.85
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -1.64
</td>
<td>
Tue: 2011-08-23 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:10:00
</td>
<td align="right">
  127.73
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    1.22
</td>
<td>
Tue: 2011-08-23 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:15:00
</td>
<td align="right">
  127.63
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    1.16
</td>
<td>
Tue: 2011-08-23 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:20:00
</td>
<td align="right">
  127.80
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Tue: 2011-08-23 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:25:00
</td>
<td align="right">
  127.96
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2011-08-23 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 16:50:00
</td>
<td align="right">
  127.95
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -1.36
</td>
<td>
Tue: 2011-08-23 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:00:00
</td>
<td align="right">
  129.82
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   -2.28
</td>
<td>
Tue: 2011-08-23 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:05:00
</td>
<td align="right">
  129.51
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -2.30
</td>
<td>
Tue: 2011-08-23 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:25:00
</td>
<td align="right">
  127.60
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2011-08-23 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:30:00
</td>
<td align="right">
  127.63
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2011-08-23 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:35:00
</td>
<td align="right">
  127.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.85
</td>
<td>
Tue: 2011-08-23 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 17:40:00
</td>
<td align="right">
  127.88
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2011-08-23 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 18:00:00
</td>
<td align="right">
  127.54
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Tue: 2011-08-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 18:20:00
</td>
<td align="right">
  127.76
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Tue: 2011-08-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-08-22 18:25:00
</td>
<td align="right">
  127.60
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2011-08-23 18:25
</td>
</tr>
</table>
<br /><hr />