<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-20 14:50:00
</td>
<td align="right">
  147.36
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.36
</td>
<td>
Wed: 2011-09-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-20 15:55:00
</td>
<td align="right">
  146.85
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -2.84
</td>
<td>
Wed: 2011-09-21 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-20 19:40:00
</td>
<td align="right">
  140.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-09-21 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CDE">CDE</a></td>
<td>
2011-09-20 18:40:00
</td>
<td align="right">
   27.58
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2011-09-21 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-09-20 15:40:00
</td>
<td align="right">
  134.83
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Wed: 2011-09-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-20 14:50:00
</td>
<td align="right">
  114.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-09-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-20 15:20:00
</td>
<td align="right">
  115.04
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-09-21 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-20 15:35:00
</td>
<td align="right">
  114.91
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-09-21 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-20 15:40:00
</td>
<td align="right">
  114.89
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2011-09-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-20 15:50:00
</td>
<td align="right">
  115.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-09-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-09-20 16:15:00
</td>
<td align="right">
  114.78
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2011-09-21 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-20 14:10:00
</td>
<td align="right">
   80.98
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-09-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-20 14:15:00
</td>
<td align="right">
   81.21
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Wed: 2011-09-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-20 14:20:00
</td>
<td align="right">
   81.45
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.81
</td>
<td>
Wed: 2011-09-21 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-20 15:15:00
</td>
<td align="right">
   80.71
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Wed: 2011-09-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-09-20 15:55:00
</td>
<td align="right">
   80.64
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.74
</td>
<td>
Wed: 2011-09-21 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-09-20 15:00:00
</td>
<td align="right">
   56.10
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Wed: 2011-09-21 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-20 14:05:00
</td>
<td align="right">
   67.79
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .81
</td>
<td>
Wed: 2011-09-21 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-20 14:25:00
</td>
<td align="right">
   68.62
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-09-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-20 14:35:00
</td>
<td align="right">
   68.65
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Wed: 2011-09-21 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-09-20 15:10:00
</td>
<td align="right">
   68.78
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2011-09-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-09-20 15:10:00
</td>
<td align="right">
  121.89
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Wed: 2011-09-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-09-20 15:30:00
</td>
<td align="right">
  121.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-09-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-20 14:15:00
</td>
<td align="right">
  150.25
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   -3.59
</td>
<td>
Wed: 2011-09-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-20 15:05:00
</td>
<td align="right">
  143.41
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    1.93
</td>
<td>
Wed: 2011-09-21 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-09-20 18:35:00
</td>
<td align="right">
  143.22
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -2.90
</td>
<td>
Wed: 2011-09-21 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-20 18:45:00
</td>
<td align="right">
  338.63
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -5.69
</td>
<td>
Wed: 2011-09-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-20 19:10:00
</td>
<td align="right">
  335.63
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-09-21 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-09-20 19:15:00
</td>
<td align="right">
  334.45
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-09-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 14:15:00
</td>
<td align="right">
   42.90
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Wed: 2011-09-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 14:20:00
</td>
<td align="right">
   42.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Wed: 2011-09-21 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 14:25:00
</td>
<td align="right">
   43.02
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-09-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 14:30:00
</td>
<td align="right">
   43.09
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2011-09-21 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 16:05:00
</td>
<td align="right">
   43.10
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-09-21 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 16:10:00
</td>
<td align="right">
   43.11
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2011-09-21 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 16:35:00
</td>
<td align="right">
   43.11
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-09-21 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 16:40:00
</td>
<td align="right">
   43.10
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-09-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 16:45:00
</td>
<td align="right">
   43.12
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-09-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 17:50:00
</td>
<td align="right">
   43.09
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2011-09-21 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 18:00:00
</td>
<td align="right">
   43.04
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2011-09-21 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 18:30:00
</td>
<td align="right">
   42.96
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Wed: 2011-09-21 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 18:35:00
</td>
<td align="right">
   42.96
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Wed: 2011-09-21 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 18:40:00
</td>
<td align="right">
   42.97
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.51
</td>
<td>
Wed: 2011-09-21 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-09-20 18:45:00
</td>
<td align="right">
   42.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Wed: 2011-09-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-09-20 17:55:00
</td>
<td align="right">
   81.09
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.72
</td>
<td>
Wed: 2011-09-21 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 14:00:00
</td>
<td align="right">
   35.37
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2011-09-21 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 14:20:00
</td>
<td align="right">
   35.47
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2011-09-21 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 14:25:00
</td>
<td align="right">
   35.50
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-09-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 15:15:00
</td>
<td align="right">
   35.73
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2011-09-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 16:10:00
</td>
<td align="right">
   35.60
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-09-21 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 17:00:00
</td>
<td align="right">
   35.65
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-09-21 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 17:20:00
</td>
<td align="right">
   35.66
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-09-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 17:30:00
</td>
<td align="right">
   35.64
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-09-21 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-09-20 19:00:00
</td>
<td align="right">
   35.40
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-09-21 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-20 14:10:00
</td>
<td align="right">
   65.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2011-09-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-09-20 14:15:00
</td>
<td align="right">
   65.29
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2011-09-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-09-20 16:45:00
</td>
<td align="right">
   41.80
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-09-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 14:00:00
</td>
<td align="right">
   38.82
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2011-09-21 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 14:05:00
</td>
<td align="right">
   38.83
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2011-09-21 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 14:10:00
</td>
<td align="right">
   38.90
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2011-09-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 14:15:00
</td>
<td align="right">
   38.97
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-09-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 14:20:00
</td>
<td align="right">
   39.05
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-09-21 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 14:25:00
</td>
<td align="right">
   39.03
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-09-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 14:50:00
</td>
<td align="right">
   38.97
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-09-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 15:05:00
</td>
<td align="right">
   39.06
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-09-21 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 15:10:00
</td>
<td align="right">
   38.96
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-09-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 15:15:00
</td>
<td align="right">
   38.93
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-09-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 15:25:00
</td>
<td align="right">
   39.10
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-09-21 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 15:30:00
</td>
<td align="right">
   39.10
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2011-09-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 16:00:00
</td>
<td align="right">
   38.98
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-09-21 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-09-20 16:05:00
</td>
<td align="right">
   38.97
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-09-21 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 14:10:00
</td>
<td align="right">
   40.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-09-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 14:20:00
</td>
<td align="right">
   41.26
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Wed: 2011-09-21 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 14:50:00
</td>
<td align="right">
   40.96
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-09-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 15:30:00
</td>
<td align="right">
   41.03
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-09-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 15:45:00
</td>
<td align="right">
   41.21
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2011-09-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 15:50:00
</td>
<td align="right">
   41.29
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2011-09-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 16:00:00
</td>
<td align="right">
   41.18
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-09-21 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 16:05:00
</td>
<td align="right">
   41.04
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-09-21 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 16:35:00
</td>
<td align="right">
   40.99
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2011-09-21 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 16:40:00
</td>
<td align="right">
   40.93
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-09-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 16:45:00
</td>
<td align="right">
   40.93
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2011-09-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 17:05:00
</td>
<td align="right">
   41.08
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-09-21 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 17:10:00
</td>
<td align="right">
   41.19
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-09-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 17:20:00
</td>
<td align="right">
   41.23
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-09-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 17:25:00
</td>
<td align="right">
   41.18
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-09-21 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 17:35:00
</td>
<td align="right">
   41.17
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-09-21 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 17:55:00
</td>
<td align="right">
   41.17
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-09-21 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-09-20 18:00:00
</td>
<td align="right">
   41.21
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2011-09-21 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 15:00:00
</td>
<td align="right">
   52.73
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-09-21 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 15:20:00
</td>
<td align="right">
   52.70
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-09-21 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 15:25:00
</td>
<td align="right">
   52.70
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-09-21 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 15:45:00
</td>
<td align="right">
   52.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-09-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 15:55:00
</td>
<td align="right">
   52.67
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2011-09-21 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 16:10:00
</td>
<td align="right">
   52.61
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-09-21 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 16:30:00
</td>
<td align="right">
   52.66
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-09-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 16:45:00
</td>
<td align="right">
   52.63
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-09-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 16:50:00
</td>
<td align="right">
   52.70
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-09-21 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-20 16:55:00
</td>
<td align="right">
   52.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2011-09-21 16:55
</td>
</tr>
</table>
<br /><hr />