<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-28 15:55:00
</td>
<td align="right">
   27.86
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-29 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-28 19:00:00
</td>
<td align="right">
   27.81
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-07-28 19:05:00
</td>
<td align="right">
   27.83
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 14:20:00
</td>
<td align="right">
   54.10
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Fri: 2011-07-29 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 14:30:00
</td>
<td align="right">
   54.08
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Fri: 2011-07-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 14:35:00
</td>
<td align="right">
   54.19
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Fri: 2011-07-29 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 14:40:00
</td>
<td align="right">
   54.19
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Fri: 2011-07-29 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 15:35:00
</td>
<td align="right">
   54.53
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-07-29 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 15:40:00
</td>
<td align="right">
   54.53
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2011-07-29 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 15:45:00
</td>
<td align="right">
   54.50
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Fri: 2011-07-29 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 18:35:00
</td>
<td align="right">
   53.93
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Fri: 2011-07-29 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-28 17:00:00
</td>
<td align="right">
   48.18
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-07-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-28 17:40:00
</td>
<td align="right">
   48.16
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2011-07-29 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-28 18:00:00
</td>
<td align="right">
   58.98
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2011-07-29 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-28 19:15:00
</td>
<td align="right">
   58.76
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 14:40:00
</td>
<td align="right">
   38.30
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-29 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 14:45:00
</td>
<td align="right">
   38.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-07-29 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 14:50:00
</td>
<td align="right">
   38.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-07-29 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 14:55:00
</td>
<td align="right">
   38.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-07-29 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 15:00:00
</td>
<td align="right">
   38.29
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-29 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 15:10:00
</td>
<td align="right">
   38.36
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-07-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 16:40:00
</td>
<td align="right">
   38.36
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2011-07-29 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 19:20:00
</td>
<td align="right">
   38.12
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 19:25:00
</td>
<td align="right">
   38.05
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 19:30:00
</td>
<td align="right">
   38.03
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 19:35:00
</td>
<td align="right">
   38.03
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 19:40:00
</td>
<td align="right">
   37.99
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 19:45:00
</td>
<td align="right">
   37.99
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 19:50:00
</td>
<td align="right">
   38.05
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2011-07-28 19:55:00
</td>
<td align="right">
   38.00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 15:40:00
</td>
<td align="right">
   36.27
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-07-29 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 16:05:00
</td>
<td align="right">
   36.39
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-07-29 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 16:10:00
</td>
<td align="right">
   36.38
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2011-07-29 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 16:25:00
</td>
<td align="right">
   36.37
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2011-07-29 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 16:30:00
</td>
<td align="right">
   36.38
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-07-29 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 16:55:00
</td>
<td align="right">
   36.28
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-07-29 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 17:00:00
</td>
<td align="right">
   36.25
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-07-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 17:15:00
</td>
<td align="right">
   36.29
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-07-29 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 18:25:00
</td>
<td align="right">
   36.26
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Fri: 2011-07-29 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 18:50:00
</td>
<td align="right">
   36.25
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Fri: 2011-07-29 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 19:10:00
</td>
<td align="right">
   36.20
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-28 15:10:00
</td>
<td align="right">
   95.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2011-07-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-28 19:40:00
</td>
<td align="right">
   53.37
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-28 14:00:00
</td>
<td align="right">
   95.09
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-07-29 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-28 14:05:00
</td>
<td align="right">
   95.17
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-07-29 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-28 14:25:00
</td>
<td align="right">
   95.38
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-07-29 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-07-28 14:30:00
</td>
<td align="right">
   95.32
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2011-07-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2011-07-28 17:00:00
</td>
<td align="right">
   61.10
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-07-29 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-07-28 17:50:00
</td>
<td align="right">
   31.48
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2011-07-29 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-07-28 19:40:00
</td>
<td align="right">
   35.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-07-28 16:55:00
</td>
<td align="right">
   31.47
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-07-29 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-28 14:30:00
</td>
<td align="right">
  266.09
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-07-29 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-28 14:45:00
</td>
<td align="right">
  266.29
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .66
</td>
<td>
Fri: 2011-07-29 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-28 15:30:00
</td>
<td align="right">
  266.20
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .78
</td>
<td>
Fri: 2011-07-29 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-28 15:35:00
</td>
<td align="right">
  266.75
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2011-07-29 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-28 16:15:00
</td>
<td align="right">
  266.05
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    2.05
</td>
<td>
Fri: 2011-07-29 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-07-28 16:40:00
</td>
<td align="right">
  266.56
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    2.64
</td>
<td>
Fri: 2011-07-29 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ORCL">ORCL</a></td>
<td>
2011-07-28 16:55:00
</td>
<td align="right">
   31.00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2011-07-29 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ORCL">ORCL</a></td>
<td>
2011-07-28 17:25:00
</td>
<td align="right">
   31.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2011-07-29 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-28 18:15:00
</td>
<td align="right">
   72.34
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2011-07-29 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-07-28 19:20:00
</td>
<td align="right">
   72.31
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-28 14:15:00
</td>
<td align="right">
  102.04
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2011-07-29 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-28 15:10:00
</td>
<td align="right">
  101.85
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Fri: 2011-07-29 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-28 15:45:00
</td>
<td align="right">
  101.95
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .64
</td>
<td>
Fri: 2011-07-29 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-28 16:25:00
</td>
<td align="right">
  102.28
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Fri: 2011-07-29 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-07-28 14:15:00
</td>
<td align="right">
   71.36
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.60
</td>
<td>
Fri: 2011-07-29 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-07-28 14:20:00
</td>
<td align="right">
   71.30
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Fri: 2011-07-29 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-07-28 17:55:00
</td>
<td align="right">
   71.17
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2011-07-29 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-07-28 19:20:00
</td>
<td align="right">
   70.57
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-07-29 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLU">XLU</a></td>
<td>
2011-07-28 18:05:00
</td>
<td align="right">
   33.58
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-07-29 18:05
</td>
</tr>
</table>
<br /><hr />