<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-01 14:50:00
</td>
<td align="right">
   52.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-04 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-01 15:10:00
</td>
<td align="right">
   52.29
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-07-04 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-01 15:20:00
</td>
<td align="right">
   52.39
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-01 16:20:00
</td>
<td align="right">
   52.44
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-04 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-01 16:30:00
</td>
<td align="right">
   52.43
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-04 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-07-01 16:35:00
</td>
<td align="right">
   52.36
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-01 15:25:00
</td>
<td align="right">
  135.50
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-07-04 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-01 15:50:00
</td>
<td align="right">
  135.48
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2011-07-04 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-01 16:00:00
</td>
<td align="right">
  135.54
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2011-07-04 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-01 16:25:00
</td>
<td align="right">
  135.71
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Mon: 2011-07-04 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-01 17:05:00
</td>
<td align="right">
   60.55
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-04 17:05
</td>
</tr>
</table>
