<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 15:15:00
</td>
<td align="right">
   65.61
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Wed: 2011-10-12 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 15:20:00
</td>
<td align="right">
   65.63
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2011-10-12 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 16:05:00
</td>
<td align="right">
   65.95
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-10-12 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 16:15:00
</td>
<td align="right">
   66.00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-12 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 16:20:00
</td>
<td align="right">
   65.98
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-12 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 16:25:00
</td>
<td align="right">
   65.97
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-12 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 16:35:00
</td>
<td align="right">
   65.99
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-12 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 16:40:00
</td>
<td align="right">
   66.07
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-12 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 16:45:00
</td>
<td align="right">
   66.04
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-12 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-10-11 17:05:00
</td>
<td align="right">
   65.91
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-12 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-10-11 13:30:00
</td>
<td align="right">
   87.76
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    2.71
</td>
<td>
Wed: 2011-10-12 13:30
</td>
</tr>
</table>
<br /><hr />