<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-07-22 17:55:00
</td>
<td align="right">
   52.91
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-07-25 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-07-22 19:55:00
</td>
<td align="right">
   52.93
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-22 18:00:00
</td>
<td align="right">
   55.18
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-25 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-22 18:05:00
</td>
<td align="right">
   55.24
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-25 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-22 18:20:00
</td>
<td align="right">
   55.13
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-07-25 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-22 18:25:00
</td>
<td align="right">
   55.14
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-07-25 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-22 18:50:00
</td>
<td align="right">
   55.10
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-07-25 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-22 19:00:00
</td>
<td align="right">
   55.17
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-07-22 19:40:00
</td>
<td align="right">
   55.14
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2011-07-22 18:05:00
</td>
<td align="right">
  128.47
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-25 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2011-07-22 18:10:00
</td>
<td align="right">
  128.39
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-07-25 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2011-07-22 18:15:00
</td>
<td align="right">
  128.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-07-25 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 14:30:00
</td>
<td align="right">
   40.70
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-25 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 14:35:00
</td>
<td align="right">
   40.75
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 14:40:00
</td>
<td align="right">
   40.76
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-07-25 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 14:45:00
</td>
<td align="right">
   40.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 15:00:00
</td>
<td align="right">
   40.73
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-25 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 15:05:00
</td>
<td align="right">
   40.67
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-25 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 15:10:00
</td>
<td align="right">
   40.66
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-25 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 15:15:00
</td>
<td align="right">
   40.66
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-07-25 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 15:30:00
</td>
<td align="right">
   40.70
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-25 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 15:35:00
</td>
<td align="right">
   40.71
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-25 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 15:40:00
</td>
<td align="right">
   40.71
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-07-25 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 15:45:00
</td>
<td align="right">
   40.70
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-25 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 17:05:00
</td>
<td align="right">
   40.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-25 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 17:10:00
</td>
<td align="right">
   40.71
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-25 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 17:25:00
</td>
<td align="right">
   40.73
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 17:40:00
</td>
<td align="right">
   40.72
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-07-25 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 17:55:00
</td>
<td align="right">
   40.78
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-25 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 19:15:00
</td>
<td align="right">
   40.68
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 19:20:00
</td>
<td align="right">
   40.68
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-07-22 19:55:00
</td>
<td align="right">
   40.64
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 17:40:00
</td>
<td align="right">
   60.20
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-25 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-22 14:35:00
</td>
<td align="right">
  124.86
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-07-25 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-07-22 16:40:00
</td>
<td align="right">
  124.75
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-07-25 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-07-22 17:15:00
</td>
<td align="right">
   54.36
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-25 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-07-22 17:20:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-07-25 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-07-22 17:25:00
</td>
<td align="right">
   54.38
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-25 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-07-22 17:30:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-07-25 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-07-22 17:35:00
</td>
<td align="right">
   54.42
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-25 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-07-22 17:45:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-07-25 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-07-22 17:50:00
</td>
<td align="right">
   54.41
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-25 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-07-22 17:55:00
</td>
<td align="right">
   54.44
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-25 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 14:00:00
</td>
<td align="right">
  608.66
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-25 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 14:15:00
</td>
<td align="right">
  609.24
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Mon: 2011-07-25 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 14:20:00
</td>
<td align="right">
  609.67
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-07-25 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 14:40:00
</td>
<td align="right">
  609.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .65
</td>
<td>
Mon: 2011-07-25 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 14:45:00
</td>
<td align="right">
  609.40
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-07-25 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 14:55:00
</td>
<td align="right">
  609.05
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .81
</td>
<td>
Mon: 2011-07-25 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 16:15:00
</td>
<td align="right">
  611.90
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    5.90
</td>
<td>
Mon: 2011-07-25 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 16:20:00
</td>
<td align="right">
  611.65
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    5.98
</td>
<td>
Mon: 2011-07-25 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 16:25:00
</td>
<td align="right">
  612.25
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    5.44
</td>
<td>
Mon: 2011-07-25 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 16:35:00
</td>
<td align="right">
  614.17
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    4.38
</td>
<td>
Mon: 2011-07-25 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 16:45:00
</td>
<td align="right">
  614.79
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    3.74
</td>
<td>
Mon: 2011-07-25 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 16:50:00
</td>
<td align="right">
  616.02
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    2.59
</td>
<td>
Mon: 2011-07-25 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 16:55:00
</td>
<td align="right">
  618.68
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2011-07-25 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 17:00:00
</td>
<td align="right">
  617.16
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    1.10
</td>
<td>
Mon: 2011-07-25 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 18:40:00
</td>
<td align="right">
  616.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-07-25 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 18:45:00
</td>
<td align="right">
  617.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Mon: 2011-07-25 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 18:50:00
</td>
<td align="right">
  616.92
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Mon: 2011-07-25 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 18:55:00
</td>
<td align="right">
  616.93
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    1.17
</td>
<td>
Mon: 2011-07-25 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-07-22 19:30:00
</td>
<td align="right">
  617.01
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-07-22 16:50:00
</td>
<td align="right">
   62.88
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-07-25 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-07-22 19:00:00
</td>
<td align="right">
   62.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOYG">JOYG</a></td>
<td>
2011-07-22 15:40:00
</td>
<td align="right">
  100.53
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Mon: 2011-07-25 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NEM">NEM</a></td>
<td>
2011-07-22 17:20:00
</td>
<td align="right">
   58.92
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-07-25 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2011-07-22 19:00:00
</td>
<td align="right">
   57.61
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-07-22 15:30:00
</td>
<td align="right">
   59.16
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2011-07-25 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-07-22 15:35:00
</td>
<td align="right">
   59.21
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-07-25 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-07-22 15:40:00
</td>
<td align="right">
   59.22
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-07-25 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-07-22 15:55:00
</td>
<td align="right">
   59.25
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2011-07-25 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-07-22 19:00:00
</td>
<td align="right">
   30.29
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-07-22 19:10:00
</td>
<td align="right">
   30.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-07-22 19:15:00
</td>
<td align="right">
   30.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-07-22 19:50:00
</td>
<td align="right">
   30.34
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-07-22 16:40:00
</td>
<td align="right">
   48.94
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-25 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 14:05:00
</td>
<td align="right">
   95.97
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-07-25 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 14:35:00
</td>
<td align="right">
   95.65
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-25 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 15:05:00
</td>
<td align="right">
   95.81
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-25 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 15:25:00
</td>
<td align="right">
   95.79
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-25 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 15:30:00
</td>
<td align="right">
   95.77
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-25 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 17:05:00
</td>
<td align="right">
   95.83
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-07-25 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 18:20:00
</td>
<td align="right">
   95.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-07-25 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 18:25:00
</td>
<td align="right">
   95.95
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-07-25 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 18:30:00
</td>
<td align="right">
   95.93
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-07-25 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 18:55:00
</td>
<td align="right">
   96.03
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-25 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 19:10:00
</td>
<td align="right">
   96.01
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 19:15:00
</td>
<td align="right">
   95.99
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 19:20:00
</td>
<td align="right">
   96.04
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 19:25:00
</td>
<td align="right">
   96.06
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 19:30:00
</td>
<td align="right">
   96.07
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 19:35:00
</td>
<td align="right">
   96.08
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 19:40:00
</td>
<td align="right">
   96.03
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-07-22 19:55:00
</td>
<td align="right">
   96.05
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 15:15:00
</td>
<td align="right">
  106.47
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Mon: 2011-07-25 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 15:55:00
</td>
<td align="right">
  106.89
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-25 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 16:00:00
</td>
<td align="right">
  106.78
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2011-07-25 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 16:05:00
</td>
<td align="right">
  106.91
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-07-25 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 16:25:00
</td>
<td align="right">
  106.99
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-25 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 16:35:00
</td>
<td align="right">
  106.91
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-07-25 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 16:45:00
</td>
<td align="right">
  106.97
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-07-25 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 17:10:00
</td>
<td align="right">
  106.94
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-07-25 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 18:25:00
</td>
<td align="right">
  107.06
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-07-25 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFC">WFC</a></td>
<td>
2011-07-22 17:25:00
</td>
<td align="right">
   29.24
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-25 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 15:30:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-25 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 15:35:00
</td>
<td align="right">
   54.49
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-07-25 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 15:40:00
</td>
<td align="right">
   54.55
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-07-25 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 15:50:00
</td>
<td align="right">
   54.49
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-25 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 15:55:00
</td>
<td align="right">
   54.52
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 16:00:00
</td>
<td align="right">
   54.43
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-25 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 16:05:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-07-25 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 16:25:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-25 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 16:35:00
</td>
<td align="right">
   54.41
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-25 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 16:50:00
</td>
<td align="right">
   54.43
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-07-25 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 16:55:00
</td>
<td align="right">
   54.48
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-07-25 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 17:00:00
</td>
<td align="right">
   54.42
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-07-25 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 17:10:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-25 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 17:15:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-25 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 18:10:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-25 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 18:15:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-25 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 18:20:00
</td>
<td align="right">
   54.41
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-25 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 18:35:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 18:40:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 18:45:00
</td>
<td align="right">
   54.44
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-25 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 18:55:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-25 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:00:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:10:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:15:00
</td>
<td align="right">
   54.48
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:20:00
</td>
<td align="right">
   54.48
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:25:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:30:00
</td>
<td align="right">
   54.44
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:45:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:50:00
</td>
<td align="right">
   54.48
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-07-22 19:55:00
</td>
<td align="right">
   54.51
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-07-22 15:25:00
</td>
<td align="right">
   79.49
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-07-25 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-07-22 15:50:00
</td>
<td align="right">
   79.59
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-07-25 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-07-22 17:50:00
</td>
<td align="right">
   79.76
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-25 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-07-22 18:05:00
</td>
<td align="right">
   79.75
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-25 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-22 17:35:00
</td>
<td align="right">
  126.72
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-07-25 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-22 19:10:00
</td>
<td align="right">
  126.53
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-07-22 19:50:00
</td>
<td align="right">
  126.51
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-07-22 14:05:00
</td>
<td align="right">
   33.31
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-07-22 14:15:00
</td>
<td align="right">
   33.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-07-25 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 14:05:00
</td>
<td align="right">
   59.85
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-07-25 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 14:10:00
</td>
<td align="right">
   59.94
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-07-25 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 14:20:00
</td>
<td align="right">
   59.76
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2011-07-25 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 14:35:00
</td>
<td align="right">
   60.01
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-07-25 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 15:00:00
</td>
<td align="right">
   60.12
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-25 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 16:35:00
</td>
<td align="right">
   60.12
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-25 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 17:10:00
</td>
<td align="right">
   60.19
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-25 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 17:30:00
</td>
<td align="right">
   60.21
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-25 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 18:00:00
</td>
<td align="right">
   60.20
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-07-25 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 18:20:00
</td>
<td align="right">
   60.20
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-07-25 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 19:20:00
</td>
<td align="right">
   60.19
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 19:40:00
</td>
<td align="right">
   60.14
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-07-22 19:50:00
</td>
<td align="right">
   60.17
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-22 15:30:00
</td>
<td align="right">
  134.89
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    1.26
</td>
<td>
Mon: 2011-07-25 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-22 17:30:00
</td>
<td align="right">
  135.83
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-25 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-22 18:20:00
</td>
<td align="right">
  136.02
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-07-25 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-22 19:00:00
</td>
<td align="right">
  136.02
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-22 19:05:00
</td>
<td align="right">
  135.86
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-07-22 19:55:00
</td>
<td align="right">
  135.59
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 14:00:00
</td>
<td align="right">
  160.20
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Mon: 2011-07-25 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 14:05:00
</td>
<td align="right">
  160.03
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .72
</td>
<td>
Mon: 2011-07-25 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 14:25:00
</td>
<td align="right">
  159.51
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    1.01
</td>
<td>
Mon: 2011-07-25 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 14:55:00
</td>
<td align="right">
  160.52
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Mon: 2011-07-25 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 15:25:00
</td>
<td align="right">
  160.52
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .72
</td>
<td>
Mon: 2011-07-25 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 15:50:00
</td>
<td align="right">
  160.96
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Mon: 2011-07-25 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 16:40:00
</td>
<td align="right">
  161.13
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-25 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 17:30:00
</td>
<td align="right">
  161.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-07-25 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 18:10:00
</td>
<td align="right">
  161.48
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-25 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2011-07-22 18:15:00
</td>
<td align="right">
  161.59
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-07-25 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-07-22 16:50:00
</td>
<td align="right">
   39.02
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-07-25 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 19:25:00
</td>
<td align="right">
  106.76
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 19:40:00
</td>
<td align="right">
  106.52
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 19:50:00
</td>
<td align="right">
  106.64
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-07-22 19:55:00
</td>
<td align="right">
  106.72
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:55
</td>
</tr>
</table>
<br /><hr />