a(href="/site_map")Site Map
| >
a(href="/predictions")Predictions
| >
a(href="/predictions/us_stk")US Stock
| > New US Stock Predictions

h4 New US Stock Predictions

' A description of the data in this page is here >
a(href="#" class="data_description") Data Description
br/
br/

=render :partial => 'us_stk_new_spool'

