/
  app/views/us_stk_past/_column_help.haml

:javascript
  $(document).ready(function() {
    $("div#help4_column_help").hide();
    $("div#help4_stockticker").hide();
    $("div#help4_avgtickerpriceathour0").hide();
    $("div#help4_avgdanbotscoreathour0").hide();
    $("div#help4_sharperatio").hide();
    $("div#help4_avg1hrgain").hide();
    $("div#help4_avg24hrgain").hide();
    $("div#help4_countofpositions").hide();
    $("div#help4_sumof24hrgains").hide();
    $("div#help4_standarddeviationof24hrgains").hide();

    $("a.stockticker").click(function(event){
      $("div#help4_stockticker").dialog({ minWidth: 300 });
    });

    $("a.avgtickerpriceathour0").click(function(event){
      $("div#help4_avgtickerpriceathour0").dialog({ minWidth: 300 });
    });

    $("a.avgdanbotscoreathour0").click(function(event){
      $("div#help4_avgdanbotscoreathour0").dialog({ minWidth: 550 });
    });

    $("a.sharperatio").click(function(event){
      $("div#help4_sharperatio").dialog({ minWidth: 550 });
    });

    $("a.avg1hrgain").click(function(event){
      $("div#help4_avg1hrgain").dialog({ minWidth: 300 });
    });

    $("a.avg24hrgain").click(function(event){
      $("div#help4_avg24hrgain").dialog({ minWidth: 300 });
    });

    $("a.countofpositions").click(function(event){
      $("div#help4_countofpositions").dialog({ minWidth: 300 });
    });

    $("a.sumof24hrgains").click(function(event){
      $("div#help4_sumof24hrgains").dialog({ minWidth: 300 });
    });

    $("a.standarddeviationof24hrgains").click(function(event){
      $("div#help4_standarddeviationof24hrgains").dialog({ minWidth: 300 });
    });

  });

#help4_column_help
  %hr/
  %h4 Pop-Up Help
  If you can read this text, that means you probably have JavaScript turned off.
  %br/
  %br/
  This site mostly works okay if you have JavaScript turned off.
  %br/
  %br/
  One thing which will not work is pop-up-help messages.
  %br/
  %br/
  If you want to read the pop-up-help messages while you have JavaScript turned off,
  you will find them below this line.
  %hr/

#help4_stockticker(title="Column Help")
  %h4 Stock Ticker
  This site displays short-term predictions on about 200 different stock tickers.
  %br/
  %br/
  I have found that some stocks are more predictable than others.
  Obviously if I decide that a stock is consistently unpredictable, I will replace its ticker with another ticker.
  %br/
  %br/
  Another attribute of stocks which interests me is liquidity.
  I consider a stock liquid if the spread between bid and ask is less than 5 cents.
  %br/
  %br/
  For options on the stock, I am very pleased if the spread between bid and ask is less than 5 cents.
  I want to focus my efforts on stocks which are both highly predictable and very liquid.
  %br/
  %br/

#help4_avgtickerpriceathour0(title="Column Help")
  %h4 Avg Ticker Price at Hour 0
  Each week,
  when I collect DanBot scores, I also collect corresponding ticker prices.
  %br/
  %br/
  An average of that list of prices is displayed here.
  %br/
  %br/
  I have noticed that the ticker price averages tend to be a little higher when corresponding average DanBot scores are negative (bearish).
  %br/
  %br/
  If the DanBot is powerful enough to predict when a stock is overpriced, it seems plausible that higher average prices would correspond to bearish predictions.
  %br/
  %br/
  Most, but not all, stock prices revert-to-mean after they make a significant short-term move in one direction.
  %br/
  %br/
  I know that the DanBot has the capability to make accurate predictions based on this type of stock behavior.
  %br/
  %br/
  Also the DanBot can sense if if a stock does not usually revert-to-mean but instead "trends".
  %br/
  %br/
  When the DanBot is sensing a stock which trends, I would expect the bullish DanBot scores to correspond to higher average ticker prices.
  %br/

#help4_avgdanbotscoreathour0(title="Column Help")
  %h4 Avg DanBot Score at Hour 0
  When I collect DanBot scores for a ticker over the span of a week,
  I average them and display that average here.
  %br/
  %br/
  =render :partial => "column_help_danbot"
  %br

#help4_sharperatio(title="Column Help")
  %h4 Sharpe Ratio
  I use the Sharpe Ratio to help me measure the past effectiveness of the DanBot.
  %br/
  %br/
  First I compare the sign of the Sharpe Ratio to the sign of Avg DanBot Score.
  %br/
  %br/
  If the signs match, that indicates to me that DanBot was probably effective.
  If the signs don't match that is definitely bad; the DanBot was issuing "false positive" predictions.
  %br/
  %br/
  For example if I see that Avg DanBot Score for ADBE is -0.65,
  I want to see a Sharpe Ratio of -1.0 or less.  If it were less than -10.0, I would be very pleased.
  %br/
  %br/
  If the Sharpe Ratio is between -0.4 and 0.0, 
  that is not great but I was not losing money either.
  %br/
  %br/
  I calculate the Sharpe Ratio by taking the Avg of 24hr Gains and dividing it by Standard Deviation of 24hr Gains.
  %br/
  %br/
  If the Standard Deviation of 24hr Gains is zero, I replace it with 0.001 to avoid divide-by-zero errors.
  %br/
  %br/
  Wikipedia has an article about the Sharpe Ratio:
  %a(target="w" href="http://en.wikipedia.org/wiki/Sharpe_ratio")http://en.wikipedia.org/wiki/Sharpe_ratio
  %br/
  %br/
  For some, the article is a bit dense but the idea is simple.
  %br/
  %br/
  Simply put,
  If I am earning small gains from a stock which has large price fluctuations, that is a bad situation.
  As the situation grows worse, the Sharpe Ratio moves toward zero.
  %br/
  %br/
  Since the Sharpe Ratio can be viewed as a fraction, I see two ways it can move towards zero.
  The numerator of the fraction is the average gain and if that number is zero, then the Sharpe Ratio is zero.
  %br/
  %br/
  The denominator of the fraction is the standard deviation of the gains.
  If the gains wildly fluctuate, the standard deviation grows large and the Sharpe Ratio moves toward zero.
  %br/
  %br/
  I describe a simple example below using IBM.
  %br/
  %br/
  Suppose during week one I do only 2 IBM trades and earn gains of $10 and $30.
  The average gain for that week is $20 and the standard deviation for those 2 trades is about $14.10
  %br/
  %br/
  During week two I do another 2 IBM trades and earn gains of -$20 and $60 and again the average for that week is $20.
  %br/
  %br/
  Obviously -$20 and +$60 are spread farther apart then $10 and $30 so when I calculate the standard deviation for the second 2 trades, I expect to see a larger number.  And I do; it is about $56.60
  %br/
  %br/
  Although the average gains match, I would argue that the "quality" of the gains from week one are better because
  I endured less heartburn than during week two.
  %br/
  %br/
  This heartburn cost is quantified by the Sharpe Ratio.
  The Sharpe Ratio for week two is closer to zero than the Sharpe Ratio for week one.
  %br/
  %br/
  To calculate the Sharpe Ratio I divide the average by the standard deviation.
  For week one the Sharpe Ratio is $20 / $14.10 and for week two the Sharpe Ratio is $20 / $56.60
  %hr/
  %a(target="w" href="http://www.wolframalpha.com/input/?i=standard+deviation+of+10%2C30")Standard Deviation of(10,30)
  %br/
  %a(target="w" href="http://www.wolframalpha.com/input/?i=standard+deviation+of+-20%2C60")Standard Deviation of(-20,60)
  %br/

#help4_avg1hrgain(title="Column Help")
  %h4 Average 1 Hour Gain
  Each week,
  when I collect DanBot scores,
  I also collect corresponding ticker prices one hour after the score was issued.
  %br/
  %br/
  Next, I calculate the gain for that one hour and then average those gains over the entire week.
  %br/
  %br/
  That average of one hour gains is displayed here.
  %br/

#help4_avg24hrgain(title="Column Help")
  %h4 Average 24 Hour Gain
  Each week,
  when I collect DanBot scores,
  I also collect corresponding ticker prices exactly 24 hours after the score was issued (72 hours for Friday scores).
  %br/
  %br/
  Next, I calculate the gain for that 24 hour duration and then average those gains over the entire week.
  %br/
  %br/
  That average of 24 hour gains is displayed here.
  %br/
  %br/
  Like the Sharpe Ratio, I use the values in this column to measure the past effectiveness of the DanBot.
  %br/
  %br/
  First I compare the sign of the Avg.-24hr-Gain to the sign of Avg DanBot Score.
  %br/
  %br/
  If the signs don't match that is definitely bad; the DanBot was issuing "false positive" predictions.
  %br/
  %br/
  If the signs match, that indicates to me that DanBot was probably effective and I then compare the size of the Avg.-24hr-Gain to the size of the Avg.-Ticker-Price-at-Hour-0.
  %br/
  %br/
  I am pleased if the Avg.-24hr-Gain is more than 0.5% of Avg.-Ticker-Price-at-Hour-0.  
  %br/
  %br/
  Anytime I can earn 0.5% or more from a trade spanning 24 hours, I consider that a lucrative trade.
  %br/
  %br/

#help4_countofpositions(title="Column Help")
  %h4 Count of Positions
  Currently, the DanBot focuses on about 200 stock tickers.
  %br/
  %br/
  Every 5 minutes, when the stock market is open, the DanBot calculates a prediction score for each ticker.
  %br/
  %br/
  The values in this column indicate how many times during a week
  that the DanBot made predictions with a high degree of confidence.
  %br/
  %br/
  I measure confidence on a scale from -1 to +1.
  %br/
  %br/
  Any score less than -0.55 or greater than +0.55 is worthy of my attention
  and thus will increment the counts in this column.
  %br/

#help4_sumof24hrgains(title="Column Help")
  %h4 Sum of 24hr Gains
  The values in this column are calculated from the product of two other columns:
  %ul
    %li Avg 24hr Gains
    %li Count of Positions
  I use the values here to measure the past effectiveness of the DanBot.
  %br/
  %br/
  Like both Sharpe Ratio and Avg.-24hr-Gain,
  I want the sign of the values in this column to match the sign of the corresponding DanBot Score.
  %br/
  %br/
  If the DanBot issued many predictions, because it was confident, and if those predictions were accurate,
  then that effectiveness will appear here and in the total sum at the bottom of the table.
  %br/


#help4_standarddeviationof24hrgains(title="Column Help")
  %h4 Standard Deviation of 24hr Gains
  I use the values in this column to gain a sense of how "jumpy" the prices of a ticker were 
  during the week in question (over a typical 24 hour period).
  %br/
  %br/
  Obviously I want the ticker price to move in my favor after I open a position in that ticker.
  %br/
  %br/
  I do not want to see a ticker which has large price swings up and down.
  %br/
  %br/
  I detect that behavior by watching the Standard Deviation of the gains.
  %br/
  %br/
  Large price swings increase the value of the Standard Deviation
  and lower the value of the Sharpe Ratio since it has Standard Deviation in its denominator.
  %br/
  %br/
  Note that if all the gains of a ticker are exactly the same value,
  then the Standard Deviation of those gains is zero.
  %br/
  %br/
  In that situation I round the value up from 0.000 to 0.001
  which then allows me avoid a divide-by-zero error when I calculate the Sharpe Ratio.
  %br/
