a(href="/site_map")Site Map
| >
a(href="/predictions")Predictions
| >
a(href="/predictions/us_stk")US Stocks
| > Past US Stock Predictions

h4 Results Of Past US Stock Predictions

=render :partial => 'us_stk_past_spool'
