<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2011_06_27<h4>Week of: 2011_06_27</h4><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   50.28
</td>
<td align="right">
 -.62
</td>
<td align="right">
   50.00
</td>
<td align="right">
    .31
</td>
<td align="right">
    .50
</td>
<td align="right">
     1
</td>
<td align="right">
      .50
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  119.68
</td>
<td align="right">
 -.60
</td>
<td align="right">
   99.70
</td>
<td align="right">
    .40
</td>
<td align="right">
   1.41
</td>
<td align="right">
     2
</td>
<td align="right">
     2.82
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     3
</td>
<td align="right">
     3.32
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   53.32
</td>
<td align="right">
  .70
</td>
<td align="right">
    7.86
</td>
<td align="right">
    .19
</td>
<td align="right">
    .75
</td>
<td align="right">
     3
</td>
<td align="right">
     2.25
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   41.21
</td>
<td align="right">
  .59
</td>
<td align="right">
    8.56
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .55
</td>
<td align="right">
     4
</td>
<td align="right">
     2.19
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   65.53
</td>
<td align="right">
  .66
</td>
<td align="right">
    6.49
</td>
<td align="right">
    .31
</td>
<td align="right">
    .91
</td>
<td align="right">
     8
</td>
<td align="right">
     7.29
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   34.53
</td>
<td align="right">
  .61
</td>
<td align="right">
     .44
</td>
<td align="right">
    .06
</td>
<td align="right">
    .04
</td>
<td align="right">
     3
</td>
<td align="right">
      .12
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    18
</td>
<td align="right">
    11.85
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
COF
</td>
<td>
2011-06-27 13:40:00
</td>
<td align="right">
   50.28
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .31
</td>
<td align="right">
     .50
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .50
</td>
</tr>
<tr>
<td>
DIA
</td>
<td>
2011-06-27 13:40:00
</td>
<td align="right">
  119.53
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .53
</td>
<td align="right">
    1.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 15:15:00
</td>
<td align="right">
  119.83
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .27
</td>
<td align="right">
    1.40
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    2.82
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td>
2011-06-27 15:15:00
</td>
<td align="right">
   53.30
</td>
<td align="right">
  .71
</td>
<td align="right">
     .23
</td>
<td align="right">
     .70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 15:20:00
</td>
<td align="right">
   53.29
</td>
<td align="right">
  .71
</td>
<td align="right">
     .21
</td>
<td align="right">
     .86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 15:25:00
</td>
<td align="right">
   53.37
</td>
<td align="right">
  .67
</td>
<td align="right">
     .14
</td>
<td align="right">
     .69
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    2.25
</td>
</tr>
<tr>
<td>
MET
</td>
<td>
2011-06-27 16:20:00
</td>
<td align="right">
   41.17
</td>
<td align="right">
  .60
</td>
<td align="right">
     .08
</td>
<td align="right">
     .63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 16:25:00
</td>
<td align="right">
   41.21
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.04
</td>
<td align="right">
     .56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 16:30:00
</td>
<td align="right">
   41.20
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.04
</td>
<td align="right">
     .52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 16:35:00
</td>
<td align="right">
   41.26
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.11
</td>
<td align="right">
     .48
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    2.19
</td>
</tr>
<tr>
<td>
MON
</td>
<td>
2011-06-27 13:30:00
</td>
<td align="right">
   65.41
</td>
<td align="right">
  .65
</td>
<td align="right">
     .32
</td>
<td align="right">
     .84
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 13:40:00
</td>
<td align="right">
   65.31
</td>
<td align="right">
  .55
</td>
<td align="right">
     .44
</td>
<td align="right">
    1.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 13:45:00
</td>
<td align="right">
   65.51
</td>
<td align="right">
  .64
</td>
<td align="right">
     .23
</td>
<td align="right">
     .82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 13:50:00
</td>
<td align="right">
   65.56
</td>
<td align="right">
  .66
</td>
<td align="right">
     .29
</td>
<td align="right">
     .78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 14:05:00
</td>
<td align="right">
   65.51
</td>
<td align="right">
  .70
</td>
<td align="right">
     .40
</td>
<td align="right">
     .94
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 14:10:00
</td>
<td align="right">
   65.61
</td>
<td align="right">
  .70
</td>
<td align="right">
     .30
</td>
<td align="right">
     .93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 14:15:00
</td>
<td align="right">
   65.67
</td>
<td align="right">
  .67
</td>
<td align="right">
     .16
</td>
<td align="right">
     .77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 14:35:00
</td>
<td align="right">
   65.65
</td>
<td align="right">
  .67
</td>
<td align="right">
     .37
</td>
<td align="right">
    1.18
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    7.29
</td>
</tr>
<tr>
<td>
MRK
</td>
<td>
2011-06-27 13:40:00
</td>
<td align="right">
   34.48
</td>
<td align="right">
  .62
</td>
<td align="right">
     .12
</td>
<td align="right">
     .13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 13:55:00
</td>
<td align="right">
   34.50
</td>
<td align="right">
  .55
</td>
<td align="right">
     .08
</td>
<td align="right">
     .04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-06-27 14:00:00
</td>
<td align="right">
   34.62
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.02
</td>
<td align="right">
    -.05
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .12
</td>
</tr>
</table>
