<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2011_09_06<h4>Week of: 2011_09_06 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  215.00
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .59
</td>
<td align="right">
   -.98
</td>
<td align="right">
   1.94
</td>
<td align="right">
     8
</td>
<td align="right">
    15.50
</td>
<td align="right">
   3.28
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     8
</td>
<td align="right">
    15.50
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   72.46
</td>
<td align="right">
  .57
</td>
<td align="right">
  120.11
</td>
<td align="right">
   1.42
</td>
<td align="right">
   5.95
</td>
<td align="right">
     2
</td>
<td align="right">
    11.89
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   18.26
</td>
<td align="right">
  .70
</td>
<td align="right">
   11.83
</td>
<td align="right">
    .04
</td>
<td align="right">
    .63
</td>
<td align="right">
    12
</td>
<td align="right">
     7.52
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    14
</td>
<td align="right">
    19.41
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
NFLX
</td>
<td>
2011-09-06 13:30:00
</td>
<td align="right">
  212.39
</td>
<td align="right">
 -.89
</td>
<td align="right">
     .51
</td>
<td align="right">
    7.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:35:00
</td>
<td align="right">
  212.54
</td>
<td align="right">
 -.89
</td>
<td align="right">
     .76
</td>
<td align="right">
    6.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:40:00
</td>
<td align="right">
  215.83
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -1.89
</td>
<td align="right">
    2.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:45:00
</td>
<td align="right">
  215.37
</td>
<td align="right">
 -.76
</td>
<td align="right">
   -1.53
</td>
<td align="right">
    2.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:50:00
</td>
<td align="right">
  217.22
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.64
</td>
<td align="right">
   -1.18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:55:00
</td>
<td align="right">
  215.33
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.48
</td>
<td align="right">
     .30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:00:00
</td>
<td align="right">
  215.75
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.36
</td>
<td align="right">
    -.70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:05:00
</td>
<td align="right">
  215.59
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.21
</td>
<td align="right">
   -1.12
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   15.50
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td>
2011-09-06 14:35:00
</td>
<td align="right">
   72.44
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.72
</td>
<td align="right">
    5.91
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:45:00
</td>
<td align="right">
   72.48
</td>
<td align="right">
  .56
</td>
<td align="right">
    1.12
</td>
<td align="right">
    5.98
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   11.89
</td>
</tr>
<tr>
<td>
PFE
</td>
<td>
2011-09-06 13:30:00
</td>
<td align="right">
   18.18
</td>
<td align="right">
  .76
</td>
<td align="right">
     .05
</td>
<td align="right">
     .67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:35:00
</td>
<td align="right">
   18.23
</td>
<td align="right">
  .69
</td>
<td align="right">
     .00
</td>
<td align="right">
     .59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:40:00
</td>
<td align="right">
   18.23
</td>
<td align="right">
  .70
</td>
<td align="right">
     .00
</td>
<td align="right">
     .64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:45:00
</td>
<td align="right">
   18.19
</td>
<td align="right">
  .71
</td>
<td align="right">
     .02
</td>
<td align="right">
     .68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:50:00
</td>
<td align="right">
   18.27
</td>
<td align="right">
  .79
</td>
<td align="right">
    -.01
</td>
<td align="right">
     .59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 13:55:00
</td>
<td align="right">
   18.28
</td>
<td align="right">
  .81
</td>
<td align="right">
     .03
</td>
<td align="right">
     .61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:00:00
</td>
<td align="right">
   18.40
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.12
</td>
<td align="right">
     .54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:10:00
</td>
<td align="right">
   18.32
</td>
<td align="right">
  .62
</td>
<td align="right">
     .05
</td>
<td align="right">
     .57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:15:00
</td>
<td align="right">
   18.32
</td>
<td align="right">
  .68
</td>
<td align="right">
     .04
</td>
<td align="right">
     .58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:20:00
</td>
<td align="right">
   18.27
</td>
<td align="right">
  .73
</td>
<td align="right">
     .10
</td>
<td align="right">
     .70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:25:00
</td>
<td align="right">
   18.23
</td>
<td align="right">
  .66
</td>
<td align="right">
     .14
</td>
<td align="right">
     .67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-09-06 14:30:00
</td>
<td align="right">
   18.23
</td>
<td align="right">
  .66
</td>
<td align="right">
     .17
</td>
<td align="right">
     .68
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    7.52
</td>
</tr>
</table>
<br /><hr />
