<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2011_05_24<h4>Week of: 2011_05_24</h4><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   51.32
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.40
</td>
<td align="right">
   -.46
</td>
<td align="right">
   -.16
</td>
<td align="right">
     4
</td>
<td align="right">
     -.64
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     4
</td>
<td align="right">
     -.64
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   50.82
</td>
<td align="right">
  .77
</td>
<td align="right">
    4.04
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .86
</td>
<td align="right">
    18
</td>
<td align="right">
    15.43
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    18
</td>
<td align="right">
    15.43
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
ANR
</td>
<td>
2011-05-24 14:10:00
</td>
<td align="right">
   51.43
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.53
</td>
<td align="right">
    -.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 14:15:00
</td>
<td align="right">
   51.50
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.65
</td>
<td align="right">
    -.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 14:20:00
</td>
<td align="right">
   51.36
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.45
</td>
<td align="right">
    -.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 14:25:00
</td>
<td align="right">
   50.97
</td>
<td align="right">
 -.55
</td>
<td align="right">
    -.20
</td>
<td align="right">
     .42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 14:35:00
</td>
<td align="right">
   50.47
</td>
<td align="right">
  .64
</td>
<td align="right">
     .28
</td>
<td align="right">
     .95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 14:40:00
</td>
<td align="right">
   50.72
</td>
<td align="right">
  .59
</td>
<td align="right">
     .15
</td>
<td align="right">
     .58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 14:45:00
</td>
<td align="right">
   50.76
</td>
<td align="right">
  .70
</td>
<td align="right">
     .00
</td>
<td align="right">
     .54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 14:50:00
</td>
<td align="right">
   50.69
</td>
<td align="right">
  .79
</td>
<td align="right">
     .11
</td>
<td align="right">
     .63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 14:55:00
</td>
<td align="right">
   50.55
</td>
<td align="right">
  .85
</td>
<td align="right">
     .04
</td>
<td align="right">
     .89
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 15:00:00
</td>
<td align="right">
   50.80
</td>
<td align="right">
  .78
</td>
<td align="right">
    -.38
</td>
<td align="right">
     .61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 15:05:00
</td>
<td align="right">
   50.76
</td>
<td align="right">
  .85
</td>
<td align="right">
    -.51
</td>
<td align="right">
     .74
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 15:10:00
</td>
<td align="right">
   50.90
</td>
<td align="right">
  .82
</td>
<td align="right">
    -.83
</td>
<td align="right">
     .58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 15:15:00
</td>
<td align="right">
   50.85
</td>
<td align="right">
  .83
</td>
<td align="right">
    -.76
</td>
<td align="right">
     .77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 15:20:00
</td>
<td align="right">
   50.91
</td>
<td align="right">
  .82
</td>
<td align="right">
    -.88
</td>
<td align="right">
     .81
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 15:25:00
</td>
<td align="right">
   50.77
</td>
<td align="right">
  .79
</td>
<td align="right">
    -.77
</td>
<td align="right">
     .93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 15:30:00
</td>
<td align="right">
   50.81
</td>
<td align="right">
  .71
</td>
<td align="right">
   -1.07
</td>
<td align="right">
    1.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-24 15:35:00
</td>
<td align="right">
   50.75
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.96
</td>
<td align="right">
    1.18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-25 13:45:00
</td>
<td align="right">
   51.03
</td>
<td align="right">
  .59
</td>
<td align="right">
     .27
</td>
<td align="right">
    1.13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-25 13:50:00
</td>
<td align="right">
   51.04
</td>
<td align="right">
  .79
</td>
<td align="right">
     .28
</td>
<td align="right">
     .90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-25 13:55:00
</td>
<td align="right">
   51.03
</td>
<td align="right">
  .88
</td>
<td align="right">
     .41
</td>
<td align="right">
     .90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-25 14:00:00
</td>
<td align="right">
   50.91
</td>
<td align="right">
  .91
</td>
<td align="right">
     .50
</td>
<td align="right">
    1.09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-05-25 14:05:00
</td>
<td align="right">
   50.95
</td>
<td align="right">
  .93
</td>
<td align="right">
     .55
</td>
<td align="right">
    1.05
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   14.79
</td>
</tr>
</table>
