<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2011_10_10<h4>Week of: 2011_10_10 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   65.82
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.26
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.08
</td>
<td align="right">
    18
</td>
<td align="right">
    -1.44
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    18
</td>
<td align="right">
    -1.44
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   32.43
</td>
<td align="right">
  .65
</td>
<td align="right">
  -12.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.12
</td>
<td align="right">
     1
</td>
<td align="right">
     -.12
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     1
</td>
<td align="right">
     -.12
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
PM
</td>
<td>
2011-10-10 13:55:00
</td>
<td align="right">
   65.86
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .04
</td>
<td align="right">
    -.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:00:00
</td>
<td align="right">
   65.86
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.19
</td>
<td align="right">
    -.32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:05:00
</td>
<td align="right">
   65.87
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.24
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:10:00
</td>
<td align="right">
   65.84
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.18
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:30:00
</td>
<td align="right">
   65.88
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.18
</td>
<td align="right">
    -.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:35:00
</td>
<td align="right">
   65.89
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.27
</td>
<td align="right">
    -.19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:40:00
</td>
<td align="right">
   65.97
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.29
</td>
<td align="right">
    -.31
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:45:00
</td>
<td align="right">
   66.03
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.44
</td>
<td align="right">
    -.48
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:50:00
</td>
<td align="right">
   65.90
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.31
</td>
<td align="right">
    -.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 14:55:00
</td>
<td align="right">
   65.90
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.28
</td>
<td align="right">
    -.54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 15:25:00
</td>
<td align="right">
   65.77
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.15
</td>
<td align="right">
    -.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 16:35:00
</td>
<td align="right">
   65.63
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .38
</td>
<td align="right">
     .36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 16:40:00
</td>
<td align="right">
   65.61
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .40
</td>
<td align="right">
     .46
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 16:45:00
</td>
<td align="right">
   65.66
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .30
</td>
<td align="right">
     .38
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 16:50:00
</td>
<td align="right">
   65.74
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .24
</td>
<td align="right">
     .24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 16:55:00
</td>
<td align="right">
   65.72
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .24
</td>
<td align="right">
     .25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 17:00:00
</td>
<td align="right">
   65.82
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .15
</td>
<td align="right">
     .12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-10 17:05:00
</td>
<td align="right">
   65.87
</td>
<td align="right">
 -.71
</td>
<td align="right">
     .11
</td>
<td align="right">
     .04
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -1.44
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
MRK
</td>
<td>
2011-10-10 13:30:00
</td>
<td align="right">
   32.43
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.05
</td>
<td align="right">
    -.12
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.12
</td>
</tr>
</table>
<br /><hr />
