<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2011_10_31<h4>Week of: 2011_10_31 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   25.65
</td>
<td align="right">
 -.82
</td>
<td align="right">
 -539.52
</td>
<td align="right">
   -.59
</td>
<td align="right">
  -3.82
</td>
<td align="right">
     2
</td>
<td align="right">
    -7.63
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  141.37
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -6.28
</td>
<td align="right">
   -.80
</td>
<td align="right">
  -5.99
</td>
<td align="right">
    39
</td>
<td align="right">
  -233.53
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   46.26
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -11.12
</td>
<td align="right">
   -.52
</td>
<td align="right">
  -1.96
</td>
<td align="right">
    17
</td>
<td align="right">
   -33.28
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  104.87
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.54
</td>
<td align="right">
  -2.17
</td>
<td align="right">
  -4.31
</td>
<td align="right">
    15
</td>
<td align="right">
   -64.69
</td>
<td align="right">
   1.22
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  111.53
</td>
<td align="right">
 -.81
</td>
<td align="right">
   -5.91
</td>
<td align="right">
  -1.26
</td>
<td align="right">
  -6.61
</td>
<td align="right">
    62
</td>
<td align="right">
  -410.00
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.90
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -8.05
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.77
</td>
<td align="right">
    17
</td>
<td align="right">
   -13.09
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  130.40
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -4.22
</td>
<td align="right">
   -.60
</td>
<td align="right">
  -8.70
</td>
<td align="right">
     9
</td>
<td align="right">
   -78.30
</td>
<td align="right">
   2.06
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   52.87
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -283.00
</td>
<td align="right">
   -.69
</td>
<td align="right">
  -2.83
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.83
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    9.37
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -4.48
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.52
</td>
<td align="right">
    45
</td>
<td align="right">
   -23.62
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   24.68
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.03
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.54
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.24
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   213
</td>
<td align="right">
  -870.21
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   24.78
</td>
<td align="right">
  .56
</td>
<td align="right">
   -4.10
</td>
<td align="right">
   -.04
</td>
<td align="right">
  -2.03
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.06
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   81.36
</td>
<td align="right">
  .57
</td>
<td align="right">
 -588.00
</td>
<td align="right">
   -.67
</td>
<td align="right">
  -5.88
</td>
<td align="right">
     1
</td>
<td align="right">
    -5.88
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   65.14
</td>
<td align="right">
  .56
</td>
<td align="right">
 -152.00
</td>
<td align="right">
  -1.93
</td>
<td align="right">
  -1.52
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   64.72
</td>
<td align="right">
  .58
</td>
<td align="right">
  -11.29
</td>
<td align="right">
  -2.97
</td>
<td align="right">
  -3.15
</td>
<td align="right">
     3
</td>
<td align="right">
    -9.46
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  597.04
</td>
<td align="right">
  .57
</td>
<td align="right">
   -7.99
</td>
<td align="right">
    .18
</td>
<td align="right">
 -14.95
</td>
<td align="right">
     5
</td>
<td align="right">
   -74.74
</td>
<td align="right">
   1.87
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   47.95
</td>
<td align="right">
  .59
</td>
<td align="right">
  -11.22
</td>
<td align="right">
  -2.53
</td>
<td align="right">
  -1.66
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.98
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   73.99
</td>
<td align="right">
  .67
</td>
<td align="right">
 -251.00
</td>
<td align="right">
  -1.29
</td>
<td align="right">
  -2.51
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .66
</td>
<td align="right">
   -7.53
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.51
</td>
<td align="right">
    21
</td>
<td align="right">
   -10.73
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.87
</td>
<td align="right">
  .56
</td>
<td align="right">
   -4.33
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.71
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.41
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   38.31
</td>
<td align="right">
  .56
</td>
<td align="right">
 -181.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -1.81
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   14.21
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.65
</td>
<td align="right">
    .02
</td>
<td align="right">
    .26
</td>
<td align="right">
    13
</td>
<td align="right">
     3.34
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   43.05
</td>
<td align="right">
  .65
</td>
<td align="right">
  -43.80
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -1.82
</td>
<td align="right">
     3
</td>
<td align="right">
    -5.47
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   48.48
</td>
<td align="right">
  .56
</td>
<td align="right">
  -11.39
</td>
<td align="right">
    .01
</td>
<td align="right">
  -1.83
</td>
<td align="right">
     4
</td>
<td align="right">
    -7.33
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    60
</td>
<td align="right">
  -126.56
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
ANR
</td>
<td>
2011-10-31 13:30:00
</td>
<td align="right">
   25.60
</td>
<td align="right">
 -.83
</td>
<td align="right">
    -.55
</td>
<td align="right">
   -3.81
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 13:35:00
</td>
<td align="right">
   25.70
</td>
<td align="right">
 -.82
</td>
<td align="right">
    -.62
</td>
<td align="right">
   -3.82
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -7.63
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td>
2011-10-31 15:50:00
</td>
<td align="right">
  141.83
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.56
</td>
<td align="right">
   -7.30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:55:00
</td>
<td align="right">
  141.60
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.36
</td>
<td align="right">
   -7.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:05:00
</td>
<td align="right">
  141.84
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.73
</td>
<td align="right">
   -7.82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:10:00
</td>
<td align="right">
  141.67
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.22
</td>
<td align="right">
   -7.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
  141.75
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -7.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
  141.63
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.52
</td>
<td align="right">
   -7.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:25:00
</td>
<td align="right">
  141.35
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.85
</td>
<td align="right">
   -6.54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:30:00
</td>
<td align="right">
  141.17
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .18
</td>
<td align="right">
   -6.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:35:00
</td>
<td align="right">
  141.55
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .12
</td>
<td align="right">
   -6.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:40:00
</td>
<td align="right">
  141.46
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .41
</td>
<td align="right">
   -6.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:45:00
</td>
<td align="right">
  141.47
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .90
</td>
<td align="right">
   -6.88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:50:00
</td>
<td align="right">
  141.27
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .40
</td>
<td align="right">
   -6.57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:55:00
</td>
<td align="right">
  141.24
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .57
</td>
<td align="right">
   -6.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:00:00
</td>
<td align="right">
  141.37
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .29
</td>
<td align="right">
   -6.92
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:05:00
</td>
<td align="right">
  141.11
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .66
</td>
<td align="right">
   -6.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:10:00
</td>
<td align="right">
  141.45
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .15
</td>
<td align="right">
   -7.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:15:00
</td>
<td align="right">
  141.28
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .34
</td>
<td align="right">
   -6.90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:20:00
</td>
<td align="right">
  141.11
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .24
</td>
<td align="right">
   -6.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:25:00
</td>
<td align="right">
  140.50
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .79
</td>
<td align="right">
   -5.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:30:00
</td>
<td align="right">
  141.35
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .08
</td>
<td align="right">
   -5.70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:35:00
</td>
<td align="right">
  141.67
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.14
</td>
<td align="right">
   -5.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:40:00
</td>
<td align="right">
  141.87
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.13
</td>
<td align="right">
   -5.99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:50:00
</td>
<td align="right">
  141.67
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -5.55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:55:00
</td>
<td align="right">
  141.81
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.49
</td>
<td align="right">
   -5.90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:00:00
</td>
<td align="right">
  141.66
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -5.77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:05:00
</td>
<td align="right">
  141.77
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.19
</td>
<td align="right">
   -5.48
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:10:00
</td>
<td align="right">
  141.60
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.02
</td>
<td align="right">
   -5.31
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:15:00
</td>
<td align="right">
  141.62
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -5.74
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:20:00
</td>
<td align="right">
  141.35
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.39
</td>
<td align="right">
   -4.77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:25:00
</td>
<td align="right">
  141.29
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.36
</td>
<td align="right">
   -4.77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:30:00
</td>
<td align="right">
  141.43
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.42
</td>
<td align="right">
   -4.78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:35:00
</td>
<td align="right">
  140.53
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.44
</td>
<td align="right">
   -4.38
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:40:00
</td>
<td align="right">
  140.74
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.78
</td>
<td align="right">
   -4.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:45:00
</td>
<td align="right">
  141.25
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.27
</td>
<td align="right">
   -4.96
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:50:00
</td>
<td align="right">
  141.66
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.57
</td>
<td align="right">
   -5.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:55:00
</td>
<td align="right">
  141.32
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.18
</td>
<td align="right">
   -4.90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:00:00
</td>
<td align="right">
  141.12
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -5.50
</td>
<td align="right">
   -5.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:05:00
</td>
<td align="right">
  140.58
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -5.58
</td>
<td align="right">
   -4.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:10:00
</td>
<td align="right">
  140.58
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -5.36
</td>
<td align="right">
   -4.43
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 -233.53
</td>
</tr>
<tr>
<td>
COF
</td>
<td>
2011-10-31 16:00:00
</td>
<td align="right">
   46.19
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .22
</td>
<td align="right">
   -2.25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
   46.12
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .38
</td>
<td align="right">
   -1.96
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
   46.15
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .34
</td>
<td align="right">
   -1.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:25:00
</td>
<td align="right">
   46.07
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .39
</td>
<td align="right">
   -1.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:30:00
</td>
<td align="right">
   46.13
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .28
</td>
<td align="right">
   -1.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:10:00
</td>
<td align="right">
   46.52
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.11
</td>
<td align="right">
   -2.30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:40:00
</td>
<td align="right">
   46.63
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.28
</td>
<td align="right">
   -1.82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:45:00
</td>
<td align="right">
   46.68
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -1.88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:50:00
</td>
<td align="right">
   46.68
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -1.98
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:55:00
</td>
<td align="right">
   46.64
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.21
</td>
<td align="right">
   -2.13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:00:00
</td>
<td align="right">
   46.55
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.25
</td>
<td align="right">
   -2.00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:05:00
</td>
<td align="right">
   46.16
</td>
<td align="right">
 -.55
</td>
<td align="right">
   -1.84
</td>
<td align="right">
   -2.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:10:00
</td>
<td align="right">
   46.05
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.72
</td>
<td align="right">
   -1.72
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:20:00
</td>
<td align="right">
   45.98
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.46
</td>
<td align="right">
   -1.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:25:00
</td>
<td align="right">
   45.94
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.34
</td>
<td align="right">
   -1.78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:40:00
</td>
<td align="right">
   45.92
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.34
</td>
<td align="right">
   -1.82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:50:00
</td>
<td align="right">
   45.95
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.38
</td>
<td align="right">
   -2.19
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -33.28
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td>
2011-10-31 13:35:00
</td>
<td align="right">
  105.25
</td>
<td align="right">
 -.56
</td>
<td align="right">
    2.22
</td>
<td align="right">
   -6.46
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 13:40:00
</td>
<td align="right">
  105.11
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.08
</td>
<td align="right">
   -6.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 13:45:00
</td>
<td align="right">
  105.14
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.02
</td>
<td align="right">
   -6.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 13:50:00
</td>
<td align="right">
  105.12
</td>
<td align="right">
 -.60
</td>
<td align="right">
    2.07
</td>
<td align="right">
   -5.32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:40:00
</td>
<td align="right">
  105.20
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.30
</td>
<td align="right">
   -3.48
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:45:00
</td>
<td align="right">
  105.25
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.41
</td>
<td align="right">
   -3.57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:15:00
</td>
<td align="right">
  104.53
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -5.78
</td>
<td align="right">
   -3.32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:20:00
</td>
<td align="right">
  104.70
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -4.90
</td>
<td align="right">
   -3.94
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:25:00
</td>
<td align="right">
  104.57
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -4.74
</td>
<td align="right">
   -3.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:30:00
</td>
<td align="right">
  104.84
</td>
<td align="right">
 -.75
</td>
<td align="right">
   -4.47
</td>
<td align="right">
   -3.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:35:00
</td>
<td align="right">
  104.96
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -4.72
</td>
<td align="right">
   -3.28
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:40:00
</td>
<td align="right">
  104.90
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -4.63
</td>
<td align="right">
   -3.81
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:45:00
</td>
<td align="right">
  104.84
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -4.16
</td>
<td align="right">
   -4.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:50:00
</td>
<td align="right">
  104.72
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -3.77
</td>
<td align="right">
   -4.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:55:00
</td>
<td align="right">
  103.95
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -3.03
</td>
<td align="right">
   -3.47
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -64.69
</td>
</tr>
<tr>
<td>
GS
</td>
<td>
2011-10-31 14:50:00
</td>
<td align="right">
  111.25
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .86
</td>
<td align="right">
   -5.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 14:55:00
</td>
<td align="right">
  111.50
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .34
</td>
<td align="right">
   -6.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:00:00
</td>
<td align="right">
  111.48
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .31
</td>
<td align="right">
   -7.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:05:00
</td>
<td align="right">
  111.96
</td>
<td align="right">
 -.75
</td>
<td align="right">
    -.11
</td>
<td align="right">
   -7.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:10:00
</td>
<td align="right">
  111.63
</td>
<td align="right">
 -.84
</td>
<td align="right">
     .43
</td>
<td align="right">
   -6.49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:15:00
</td>
<td align="right">
  111.38
</td>
<td align="right">
 -.81
</td>
<td align="right">
     .43
</td>
<td align="right">
   -6.27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:20:00
</td>
<td align="right">
  111.62
</td>
<td align="right">
 -.81
</td>
<td align="right">
     .14
</td>
<td align="right">
   -6.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:25:00
</td>
<td align="right">
  111.66
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -6.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:30:00
</td>
<td align="right">
  111.47
</td>
<td align="right">
 -.80
</td>
<td align="right">
     .10
</td>
<td align="right">
   -7.00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:35:00
</td>
<td align="right">
  111.69
</td>
<td align="right">
 -.73
</td>
<td align="right">
     .05
</td>
<td align="right">
   -7.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:40:00
</td>
<td align="right">
  111.95
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -7.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:45:00
</td>
<td align="right">
  111.96
</td>
<td align="right">
 -.76
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -7.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:50:00
</td>
<td align="right">
  112.11
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.43
</td>
<td align="right">
   -7.97
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:55:00
</td>
<td align="right">
  111.84
</td>
<td align="right">
 -.77
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -7.59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:00:00
</td>
<td align="right">
  111.79
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .36
</td>
<td align="right">
   -7.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:05:00
</td>
<td align="right">
  111.85
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .27
</td>
<td align="right">
   -7.38
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:10:00
</td>
<td align="right">
  112.06
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .27
</td>
<td align="right">
   -7.88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
  111.81
</td>
<td align="right">
 -.74
</td>
<td align="right">
     .41
</td>
<td align="right">
   -8.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
  111.76
</td>
<td align="right">
 -.74
</td>
<td align="right">
     .39
</td>
<td align="right">
   -7.89
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:25:00
</td>
<td align="right">
  111.56
</td>
<td align="right">
 -.79
</td>
<td align="right">
     .43
</td>
<td align="right">
   -7.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:30:00
</td>
<td align="right">
  111.57
</td>
<td align="right">
 -.77
</td>
<td align="right">
     .40
</td>
<td align="right">
   -7.43
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:35:00
</td>
<td align="right">
  111.74
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .51
</td>
<td align="right">
   -7.35
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:40:00
</td>
<td align="right">
  111.78
</td>
<td align="right">
 -.86
</td>
<td align="right">
     .61
</td>
<td align="right">
   -7.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:45:00
</td>
<td align="right">
  111.79
</td>
<td align="right">
 -.86
</td>
<td align="right">
     .51
</td>
<td align="right">
   -7.92
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:50:00
</td>
<td align="right">
  111.68
</td>
<td align="right">
 -.90
</td>
<td align="right">
     .47
</td>
<td align="right">
   -7.90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:55:00
</td>
<td align="right">
  111.74
</td>
<td align="right">
 -.88
</td>
<td align="right">
     .41
</td>
<td align="right">
   -8.04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:00:00
</td>
<td align="right">
  112.15
</td>
<td align="right">
 -.82
</td>
<td align="right">
    -.14
</td>
<td align="right">
   -8.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:05:00
</td>
<td align="right">
  112.12
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.52
</td>
<td align="right">
   -8.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:10:00
</td>
<td align="right">
  112.33
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.64
</td>
<td align="right">
   -8.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:15:00
</td>
<td align="right">
  112.22
</td>
<td align="right">
 -.79
</td>
<td align="right">
    -.51
</td>
<td align="right">
   -7.75
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:20:00
</td>
<td align="right">
  112.15
</td>
<td align="right">
 -.79
</td>
<td align="right">
    -.62
</td>
<td align="right">
   -8.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:25:00
</td>
<td align="right">
  111.99
</td>
<td align="right">
 -.87
</td>
<td align="right">
    -.29
</td>
<td align="right">
   -7.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:30:00
</td>
<td align="right">
  111.97
</td>
<td align="right">
 -.85
</td>
<td align="right">
    -.26
</td>
<td align="right">
   -6.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:35:00
</td>
<td align="right">
  112.25
</td>
<td align="right">
 -.81
</td>
<td align="right">
    -.90
</td>
<td align="right">
   -7.19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:40:00
</td>
<td align="right">
  112.39
</td>
<td align="right">
 -.81
</td>
<td align="right">
   -1.08
</td>
<td align="right">
   -6.49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:45:00
</td>
<td align="right">
  112.30
</td>
<td align="right">
 -.80
</td>
<td align="right">
   -1.01
</td>
<td align="right">
   -6.27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:50:00
</td>
<td align="right">
  112.15
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.75
</td>
<td align="right">
   -6.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:55:00
</td>
<td align="right">
  112.15
</td>
<td align="right">
 -.81
</td>
<td align="right">
    -.75
</td>
<td align="right">
   -6.92
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:00:00
</td>
<td align="right">
  112.01
</td>
<td align="right">
 -.90
</td>
<td align="right">
    -.69
</td>
<td align="right">
   -6.58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:05:00
</td>
<td align="right">
  111.60
</td>
<td align="right">
 -.91
</td>
<td align="right">
    -.67
</td>
<td align="right">
   -5.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:10:00
</td>
<td align="right">
  111.69
</td>
<td align="right">
 -.89
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -5.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:15:00
</td>
<td align="right">
  111.71
</td>
<td align="right">
 -.90
</td>
<td align="right">
   -1.07
</td>
<td align="right">
   -5.98
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:20:00
</td>
<td align="right">
  111.53
</td>
<td align="right">
 -.92
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -4.96
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:25:00
</td>
<td align="right">
  111.70
</td>
<td align="right">
 -.91
</td>
<td align="right">
   -1.47
</td>
<td align="right">
   -5.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:30:00
</td>
<td align="right">
  111.71
</td>
<td align="right">
 -.91
</td>
<td align="right">
   -1.28
</td>
<td align="right">
   -4.85
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:35:00
</td>
<td align="right">
  111.35
</td>
<td align="right">
 -.91
</td>
<td align="right">
    -.99
</td>
<td align="right">
   -4.74
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:40:00
</td>
<td align="right">
  111.31
</td>
<td align="right">
 -.91
</td>
<td align="right">
   -1.16
</td>
<td align="right">
   -4.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:45:00
</td>
<td align="right">
  111.29
</td>
<td align="right">
 -.91
</td>
<td align="right">
   -1.52
</td>
<td align="right">
   -4.75
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:50:00
</td>
<td align="right">
  111.40
</td>
<td align="right">
 -.90
</td>
<td align="right">
   -1.17
</td>
<td align="right">
   -5.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:55:00
</td>
<td align="right">
  111.40
</td>
<td align="right">
 -.88
</td>
<td align="right">
   -1.78
</td>
<td align="right">
   -5.58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:00:00
</td>
<td align="right">
  111.32
</td>
<td align="right">
 -.90
</td>
<td align="right">
   -8.05
</td>
<td align="right">
   -5.98
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:05:00
</td>
<td align="right">
  110.93
</td>
<td align="right">
 -.89
</td>
<td align="right">
   -6.82
</td>
<td align="right">
   -5.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:10:00
</td>
<td align="right">
  110.87
</td>
<td align="right">
 -.86
</td>
<td align="right">
   -6.49
</td>
<td align="right">
   -5.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:15:00
</td>
<td align="right">
  110.64
</td>
<td align="right">
 -.84
</td>
<td align="right">
   -5.43
</td>
<td align="right">
   -5.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:20:00
</td>
<td align="right">
  110.82
</td>
<td align="right">
 -.87
</td>
<td align="right">
   -5.28
</td>
<td align="right">
   -5.99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:25:00
</td>
<td align="right">
  110.23
</td>
<td align="right">
 -.80
</td>
<td align="right">
   -4.79
</td>
<td align="right">
   -5.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:30:00
</td>
<td align="right">
  110.43
</td>
<td align="right">
 -.85
</td>
<td align="right">
   -4.99
</td>
<td align="right">
   -5.28
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:35:00
</td>
<td align="right">
  110.36
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -5.05
</td>
<td align="right">
   -4.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:40:00
</td>
<td align="right">
  110.15
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -4.51
</td>
<td align="right">
   -5.30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:45:00
</td>
<td align="right">
  109.77
</td>
<td align="right">
 -.78
</td>
<td align="right">
   -4.07
</td>
<td align="right">
   -5.54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:50:00
</td>
<td align="right">
  110.23
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.78
</td>
<td align="right">
   -6.57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:55:00
</td>
<td align="right">
  109.62
</td>
<td align="right">
 -.76
</td>
<td align="right">
   -3.51
</td>
<td align="right">
   -5.92
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 -410.00
</td>
</tr>
<tr>
<td>
MVG
</td>
<td>
2011-10-31 14:25:00
</td>
<td align="right">
    9.87
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .00
</td>
<td align="right">
    -.72
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 14:35:00
</td>
<td align="right">
    9.88
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .03
</td>
<td align="right">
    -.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 14:40:00
</td>
<td align="right">
    9.88
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .03
</td>
<td align="right">
    -.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 14:50:00
</td>
<td align="right">
    9.89
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .03
</td>
<td align="right">
    -.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 14:55:00
</td>
<td align="right">
    9.90
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:05:00
</td>
<td align="right">
    9.90
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.75
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:25:00
</td>
<td align="right">
    9.87
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.11
</td>
<td align="right">
    -.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:35:00
</td>
<td align="right">
    9.91
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.14
</td>
<td align="right">
    -.70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:40:00
</td>
<td align="right">
    9.91
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.23
</td>
<td align="right">
    -.76
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:45:00
</td>
<td align="right">
    9.91
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.26
</td>
<td align="right">
    -.76
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:50:00
</td>
<td align="right">
    9.92
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.28
</td>
<td align="right">
    -.87
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:55:00
</td>
<td align="right">
    9.92
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.28
</td>
<td align="right">
    -.82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:00:00
</td>
<td align="right">
    9.92
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.26
</td>
<td align="right">
    -.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:05:00
</td>
<td align="right">
    9.92
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.26
</td>
<td align="right">
    -.85
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:10:00
</td>
<td align="right">
    9.92
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.26
</td>
<td align="right">
    -.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
    9.92
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.26
</td>
<td align="right">
    -.89
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
    9.90
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.21
</td>
<td align="right">
    -.87
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -13.09
</td>
</tr>
<tr>
<td>
OIH
</td>
<td>
2011-10-31 13:30:00
</td>
<td align="right">
  132.10
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.96
</td>
<td align="right">
  -11.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 13:35:00
</td>
<td align="right">
  131.74
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.35
</td>
<td align="right">
  -11.54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:00:00
</td>
<td align="right">
  129.90
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.46
</td>
<td align="right">
   -9.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:05:00
</td>
<td align="right">
  129.83
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.63
</td>
<td align="right">
   -8.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:10:00
</td>
<td align="right">
  129.89
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.45
</td>
<td align="right">
   -8.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
  129.67
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -8.58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
  129.51
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.45
</td>
<td align="right">
   -8.25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:30:00
</td>
<td align="right">
  130.45
</td>
<td align="right">
 -.55
</td>
<td align="right">
    -.88
</td>
<td align="right">
   -5.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:50:00
</td>
<td align="right">
  130.53
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.99
</td>
<td align="right">
   -6.42
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -78.30
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td>
2011-10-31 15:40:00
</td>
<td align="right">
   52.87
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.69
</td>
<td align="right">
   -2.83
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -2.83
</td>
</tr>
<tr>
<td>
SVM
</td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
    9.45
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.10
</td>
<td align="right">
    -.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
    9.42
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.08
</td>
<td align="right">
    -.69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:25:00
</td>
<td align="right">
    9.37
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.04
</td>
<td align="right">
    -.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:30:00
</td>
<td align="right">
    9.41
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .01
</td>
<td align="right">
    -.66
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:35:00
</td>
<td align="right">
    9.42
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .05
</td>
<td align="right">
    -.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:40:00
</td>
<td align="right">
    9.43
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .01
</td>
<td align="right">
    -.69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:45:00
</td>
<td align="right">
    9.39
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .04
</td>
<td align="right">
    -.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:50:00
</td>
<td align="right">
    9.38
</td>
<td align="right">
 -.74
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:55:00
</td>
<td align="right">
    9.36
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.60
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:00:00
</td>
<td align="right">
    9.38
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:05:00
</td>
<td align="right">
    9.37
</td>
<td align="right">
 -.73
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:10:00
</td>
<td align="right">
    9.37
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .04
</td>
<td align="right">
    -.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:15:00
</td>
<td align="right">
    9.35
</td>
<td align="right">
 -.73
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:20:00
</td>
<td align="right">
    9.34
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .05
</td>
<td align="right">
    -.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:25:00
</td>
<td align="right">
    9.33
</td>
<td align="right">
 -.77
</td>
<td align="right">
     .04
</td>
<td align="right">
    -.55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:30:00
</td>
<td align="right">
    9.42
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.06
</td>
<td align="right">
    -.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:35:00
</td>
<td align="right">
    9.47
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.17
</td>
<td align="right">
    -.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:40:00
</td>
<td align="right">
    9.44
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.11
</td>
<td align="right">
    -.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:45:00
</td>
<td align="right">
    9.43
</td>
<td align="right">
 -.71
</td>
<td align="right">
    -.10
</td>
<td align="right">
    -.60
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:50:00
</td>
<td align="right">
    9.44
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.08
</td>
<td align="right">
    -.57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:55:00
</td>
<td align="right">
    9.42
</td>
<td align="right">
 -.71
</td>
<td align="right">
    -.07
</td>
<td align="right">
    -.56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:00:00
</td>
<td align="right">
    9.44
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.11
</td>
<td align="right">
    -.55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:05:00
</td>
<td align="right">
    9.43
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.11
</td>
<td align="right">
    -.49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:10:00
</td>
<td align="right">
    9.41
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.08
</td>
<td align="right">
    -.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:15:00
</td>
<td align="right">
    9.41
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.11
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:20:00
</td>
<td align="right">
    9.39
</td>
<td align="right">
 -.79
</td>
<td align="right">
    -.09
</td>
<td align="right">
    -.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:25:00
</td>
<td align="right">
    9.37
</td>
<td align="right">
 -.81
</td>
<td align="right">
    -.08
</td>
<td align="right">
    -.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:30:00
</td>
<td align="right">
    9.36
</td>
<td align="right">
 -.81
</td>
<td align="right">
    -.02
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:35:00
</td>
<td align="right">
    9.30
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .05
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:40:00
</td>
<td align="right">
    9.33
</td>
<td align="right">
 -.79
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.34
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:45:00
</td>
<td align="right">
    9.33
</td>
<td align="right">
 -.79
</td>
<td align="right">
    -.01
</td>
<td align="right">
    -.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:50:00
</td>
<td align="right">
    9.36
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.01
</td>
<td align="right">
    -.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:55:00
</td>
<td align="right">
    9.35
</td>
<td align="right">
 -.77
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:00:00
</td>
<td align="right">
    9.33
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.72
</td>
<td align="right">
    -.47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:05:00
</td>
<td align="right">
    9.32
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.52
</td>
<td align="right">
    -.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:10:00
</td>
<td align="right">
    9.33
</td>
<td align="right">
 -.78
</td>
<td align="right">
    -.51
</td>
<td align="right">
    -.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:15:00
</td>
<td align="right">
    9.30
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.50
</td>
<td align="right">
    -.38
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:20:00
</td>
<td align="right">
    9.30
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.41
</td>
<td align="right">
    -.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:25:00
</td>
<td align="right">
    9.29
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.46
</td>
<td align="right">
    -.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:30:00
</td>
<td align="right">
    9.34
</td>
<td align="right">
 -.77
</td>
<td align="right">
    -.56
</td>
<td align="right">
    -.46
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:35:00
</td>
<td align="right">
    9.35
</td>
<td align="right">
 -.79
</td>
<td align="right">
    -.55
</td>
<td align="right">
    -.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:40:00
</td>
<td align="right">
    9.35
</td>
<td align="right">
 -.78
</td>
<td align="right">
    -.49
</td>
<td align="right">
    -.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:45:00
</td>
<td align="right">
    9.32
</td>
<td align="right">
 -.81
</td>
<td align="right">
    -.41
</td>
<td align="right">
    -.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:50:00
</td>
<td align="right">
    9.35
</td>
<td align="right">
 -.79
</td>
<td align="right">
    -.46
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:55:00
</td>
<td align="right">
    9.37
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.46
</td>
<td align="right">
    -.53
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -23.62
</td>
</tr>
<tr>
<td>
VLO
</td>
<td>
2011-10-31 15:10:00
</td>
<td align="right">
   24.92
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.15
</td>
<td align="right">
    -.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:20:00
</td>
<td align="right">
   24.73
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.16
</td>
<td align="right">
    -.57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:05:00
</td>
<td align="right">
   24.69
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.11
</td>
<td align="right">
    -.69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
   24.53
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .09
</td>
<td align="right">
    -.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
   24.57
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .01
</td>
<td align="right">
    -.43
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:45:00
</td>
<td align="right">
   24.64
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .12
</td>
<td align="right">
    -.31
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -3.24
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
ANR
</td>
<td>
2011-10-31 13:55:00
</td>
<td align="right">
   25.10
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.19
</td>
<td align="right">
   -2.38
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:25:00
</td>
<td align="right">
   24.46
</td>
<td align="right">
  .56
</td>
<td align="right">
     .11
</td>
<td align="right">
   -1.68
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -4.06
</td>
</tr>
<tr>
<td>
APC
</td>
<td>
2011-10-31 13:30:00
</td>
<td align="right">
   81.36
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.67
</td>
<td align="right">
   -5.88
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -5.88
</td>
</tr>
<tr>
<td>
CELG
</td>
<td>
2011-10-31 19:05:00
</td>
<td align="right">
   65.14
</td>
<td align="right">
  .56
</td>
<td align="right">
   -1.93
</td>
<td align="right">
   -1.52
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -1.52
</td>
</tr>
<tr>
<td>
GD
</td>
<td>
2011-10-31 19:15:00
</td>
<td align="right">
   64.72
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.93
</td>
<td align="right">
   -3.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:20:00
</td>
<td align="right">
   64.75
</td>
<td align="right">
  .57
</td>
<td align="right">
   -3.01
</td>
<td align="right">
   -3.40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:35:00
</td>
<td align="right">
   64.68
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.97
</td>
<td align="right">
   -2.85
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -9.46
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td>
2011-10-31 14:50:00
</td>
<td align="right">
  597.20
</td>
<td align="right">
  .56
</td>
<td align="right">
    1.30
</td>
<td align="right">
  -13.05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:15:00
</td>
<td align="right">
  596.50
</td>
<td align="right">
  .57
</td>
<td align="right">
     .60
</td>
<td align="right">
  -13.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:20:00
</td>
<td align="right">
  597.23
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.60
</td>
<td align="right">
  -15.27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:25:00
</td>
<td align="right">
  597.19
</td>
<td align="right">
  .56
</td>
<td align="right">
   -1.25
</td>
<td align="right">
  -14.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
  597.10
</td>
<td align="right">
  .56
</td>
<td align="right">
     .87
</td>
<td align="right">
  -17.89
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -74.74
</td>
</tr>
<tr>
<td>
IOC
</td>
<td>
2011-10-31 19:25:00
</td>
<td align="right">
   47.91
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.64
</td>
<td align="right">
   -1.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:35:00
</td>
<td align="right">
   48.02
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.32
</td>
<td align="right">
   -1.59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:40:00
</td>
<td align="right">
   47.93
</td>
<td align="right">
  .56
</td>
<td align="right">
   -2.64
</td>
<td align="right">
   -1.56
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -4.98
</td>
</tr>
<tr>
<td>
IWM
</td>
<td>
2011-10-31 19:55:00
</td>
<td align="right">
   73.99
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.29
</td>
<td align="right">
   -2.51
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -2.51
</td>
</tr>
<tr>
<td>
MRK
</td>
<td>
2011-10-31 15:55:00
</td>
<td align="right">
   34.97
</td>
<td align="right">
  .73
</td>
<td align="right">
    -.12
</td>
<td align="right">
    -.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 16:00:00
</td>
<td align="right">
   34.93
</td>
<td align="right">
  .63
</td>
<td align="right">
     .00
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:00:00
</td>
<td align="right">
   34.93
</td>
<td align="right">
  .61
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:05:00
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.04
</td>
<td align="right">
    -.54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:10:00
</td>
<td align="right">
   34.98
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.04
</td>
<td align="right">
    -.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:15:00
</td>
<td align="right">
   34.97
</td>
<td align="right">
  .73
</td>
<td align="right">
    -.07
</td>
<td align="right">
    -.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:20:00
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.04
</td>
<td align="right">
    -.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:25:00
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .61
</td>
<td align="right">
     .00
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:30:00
</td>
<td align="right">
   34.92
</td>
<td align="right">
  .62
</td>
<td align="right">
     .00
</td>
<td align="right">
    -.40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:35:00
</td>
<td align="right">
   34.91
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.02
</td>
<td align="right">
    -.46
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:40:00
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.03
</td>
<td align="right">
    -.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:45:00
</td>
<td align="right">
   34.98
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.09
</td>
<td align="right">
    -.46
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:50:00
</td>
<td align="right">
   34.96
</td>
<td align="right">
  .73
</td>
<td align="right">
    -.03
</td>
<td align="right">
    -.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:55:00
</td>
<td align="right">
   34.99
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.08
</td>
<td align="right">
    -.55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:00:00
</td>
<td align="right">
   34.95
</td>
<td align="right">
  .73
</td>
<td align="right">
    -.10
</td>
<td align="right">
    -.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:10:00
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.14
</td>
<td align="right">
    -.55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:25:00
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.22
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:30:00
</td>
<td align="right">
   34.92
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.21
</td>
<td align="right">
    -.43
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:40:00
</td>
<td align="right">
   34.91
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.27
</td>
<td align="right">
    -.47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:50:00
</td>
<td align="right">
   34.93
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.30
</td>
<td align="right">
    -.55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:55:00
</td>
<td align="right">
   34.91
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.41
</td>
<td align="right">
    -.55
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -10.73
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td>
2011-10-31 15:15:00
</td>
<td align="right">
   26.86
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.08
</td>
<td align="right">
    -.59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:50:00
</td>
<td align="right">
   26.87
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.06
</td>
<td align="right">
    -.82
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -1.41
</td>
</tr>
<tr>
<td>
NUE
</td>
<td>
2011-10-31 13:35:00
</td>
<td align="right">
   38.31
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -1.81
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -1.81
</td>
</tr>
<tr>
<td>
SKX
</td>
<td>
2011-10-31 13:30:00
</td>
<td align="right">
   13.82
</td>
<td align="right">
  .56
</td>
<td align="right">
     .36
</td>
<td align="right">
    -.06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 13:40:00
</td>
<td align="right">
   13.93
</td>
<td align="right">
  .57
</td>
<td align="right">
     .24
</td>
<td align="right">
     .16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 13:45:00
</td>
<td align="right">
   13.99
</td>
<td align="right">
  .66
</td>
<td align="right">
     .16
</td>
<td align="right">
     .20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:20:00
</td>
<td align="right">
   14.37
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.05
</td>
<td align="right">
     .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 17:25:00
</td>
<td align="right">
   14.37
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.03
</td>
<td align="right">
     .13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:40:00
</td>
<td align="right">
   14.31
</td>
<td align="right">
  .56
</td>
<td align="right">
     .00
</td>
<td align="right">
     .41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 18:45:00
</td>
<td align="right">
   14.32
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.03
</td>
<td align="right">
     .41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:05:00
</td>
<td align="right">
   14.28
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.31
</td>
<td align="right">
     .30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:15:00
</td>
<td align="right">
   14.25
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.06
</td>
<td align="right">
     .38
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:20:00
</td>
<td align="right">
   14.30
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.05
</td>
<td align="right">
     .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:25:00
</td>
<td align="right">
   14.26
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.01
</td>
<td align="right">
     .35
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:30:00
</td>
<td align="right">
   14.28
</td>
<td align="right">
  .61
</td>
<td align="right">
     .03
</td>
<td align="right">
     .37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 19:35:00
</td>
<td align="right">
   14.31
</td>
<td align="right">
  .57
</td>
<td align="right">
     .01
</td>
<td align="right">
     .40
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    3.34
</td>
</tr>
<tr>
<td>
TKR
</td>
<td>
2011-10-31 14:10:00
</td>
<td align="right">
   43.07
</td>
<td align="right">
  .66
</td>
<td align="right">
     .06
</td>
<td align="right">
   -1.81
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 14:15:00
</td>
<td align="right">
   43.07
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.07
</td>
<td align="right">
   -1.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 14:20:00
</td>
<td align="right">
   43.00
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -1.87
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -5.47
</td>
</tr>
<tr>
<td>
UNH
</td>
<td>
2011-10-31 14:20:00
</td>
<td align="right">
   48.44
</td>
<td align="right">
  .56
</td>
<td align="right">
     .02
</td>
<td align="right">
   -1.75
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 14:25:00
</td>
<td align="right">
   48.43
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -1.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:00:00
</td>
<td align="right">
   48.52
</td>
<td align="right">
  .56
</td>
<td align="right">
     .07
</td>
<td align="right">
   -2.00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-10-31 15:30:00
</td>
<td align="right">
   48.51
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.05
</td>
<td align="right">
   -1.93
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -7.33
</td>
</tr>
</table>
<br /><hr />
