<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2011_08_08<h4>Week of: 2011_08_08</h4><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   41.77
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -5.76
</td>
<td align="right">
  -1.15
</td>
<td align="right">
  -3.18
</td>
<td align="right">
     7
</td>
<td align="right">
   -22.24
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.39
</td>
<td align="right">
   1.27
</td>
<td align="right">
   -.14
</td>
<td align="right">
     7
</td>
<td align="right">
     -.96
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    14
</td>
<td align="right">
   -23.20
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  130.62
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.71
</td>
<td align="right">
  -1.09
</td>
<td align="right">
  -1.41
</td>
<td align="right">
     5
</td>
<td align="right">
    -7.06
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   78.74
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.13
</td>
<td align="right">
   -.13
</td>
<td align="right">
  -1.88
</td>
<td align="right">
    17
</td>
<td align="right">
   -31.98
</td>
<td align="right">
   1.66
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  233.87
</td>
<td align="right">
  .61
</td>
<td align="right">
   -2.90
</td>
<td align="right">
  -1.51
</td>
<td align="right">
  -6.29
</td>
<td align="right">
     4
</td>
<td align="right">
   -25.16
</td>
<td align="right">
   2.17
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   37.65
</td>
<td align="right">
  .56
</td>
<td align="right">
  -83.00
</td>
<td align="right">
    .63
</td>
<td align="right">
   -.83
</td>
<td align="right">
     1
</td>
<td align="right">
     -.83
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   80.34
</td>
<td align="right">
  .67
</td>
<td align="right">
     .14
</td>
<td align="right">
   -.36
</td>
<td align="right">
    .03
</td>
<td align="right">
     8
</td>
<td align="right">
      .25
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    35
</td>
<td align="right">
   -64.78
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
COF
</td>
<td>
2011-08-08 13:30:00
</td>
<td align="right">
   42.41
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.82
</td>
<td align="right">
   -3.95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:35:00
</td>
<td align="right">
   41.96
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.27
</td>
<td align="right">
   -3.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:40:00
</td>
<td align="right">
   41.74
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.95
</td>
<td align="right">
   -3.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:45:00
</td>
<td align="right">
   41.71
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -3.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:50:00
</td>
<td align="right">
   41.44
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.86
</td>
<td align="right">
   -2.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:55:00
</td>
<td align="right">
   41.54
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.18
</td>
<td align="right">
   -2.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:00:00
</td>
<td align="right">
   41.60
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.14
</td>
<td align="right">
   -2.40
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -22.24
</td>
</tr>
<tr>
<td>
GDX
</td>
<td>
2011-08-08 14:05:00
</td>
<td align="right">
   55.94
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .42
</td>
<td align="right">
     .17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:10:00
</td>
<td align="right">
   56.00
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .78
</td>
<td align="right">
     .08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:15:00
</td>
<td align="right">
   55.97
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .79
</td>
<td align="right">
     .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:40:00
</td>
<td align="right">
   55.90
</td>
<td align="right">
 -.77
</td>
<td align="right">
    1.87
</td>
<td align="right">
     .12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:45:00
</td>
<td align="right">
   56.07
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.77
</td>
<td align="right">
    -.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:50:00
</td>
<td align="right">
   56.12
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.61
</td>
<td align="right">
    -.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:55:00
</td>
<td align="right">
   56.01
</td>
<td align="right">
 -.75
</td>
<td align="right">
    1.66
</td>
<td align="right">
    -.71
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.96
</td>
</tr>
<tr>
<td>
CRM
</td>
<td>
2011-08-08 14:45:00
</td>
<td align="right">
  130.84
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.74
</td>
<td align="right">
    -.99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:50:00
</td>
<td align="right">
  130.70
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.19
</td>
<td align="right">
    -.85
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 15:00:00
</td>
<td align="right">
  130.23
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.95
</td>
<td align="right">
   -1.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 15:15:00
</td>
<td align="right">
  130.84
</td>
<td align="right">
  .61
</td>
<td align="right">
   -2.07
</td>
<td align="right">
   -2.16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 15:50:00
</td>
<td align="right">
  130.51
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.50
</td>
<td align="right">
   -1.56
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -7.06
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td>
2011-08-08 13:30:00
</td>
<td align="right">
   80.13
</td>
<td align="right">
  .74
</td>
<td align="right">
   -2.80
</td>
<td align="right">
   -4.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:35:00
</td>
<td align="right">
   80.29
</td>
<td align="right">
  .74
</td>
<td align="right">
   -2.71
</td>
<td align="right">
   -3.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:40:00
</td>
<td align="right">
   79.74
</td>
<td align="right">
  .74
</td>
<td align="right">
   -1.73
</td>
<td align="right">
   -4.88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:45:00
</td>
<td align="right">
   78.89
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -3.30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:50:00
</td>
<td align="right">
   79.07
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.77
</td>
<td align="right">
   -2.91
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:55:00
</td>
<td align="right">
   79.65
</td>
<td align="right">
  .76
</td>
<td align="right">
   -1.70
</td>
<td align="right">
   -3.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:00:00
</td>
<td align="right">
   79.38
</td>
<td align="right">
  .75
</td>
<td align="right">
   -1.05
</td>
<td align="right">
   -2.48
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:05:00
</td>
<td align="right">
   79.34
</td>
<td align="right">
  .75
</td>
<td align="right">
    -.43
</td>
<td align="right">
   -2.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:10:00
</td>
<td align="right">
   78.76
</td>
<td align="right">
  .70
</td>
<td align="right">
     .53
</td>
<td align="right">
   -1.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:15:00
</td>
<td align="right">
   78.30
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.32
</td>
<td align="right">
   -1.05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:20:00
</td>
<td align="right">
   77.85
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.52
</td>
<td align="right">
    -.71
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:25:00
</td>
<td align="right">
   76.96
</td>
<td align="right">
  .70
</td>
<td align="right">
    2.50
</td>
<td align="right">
     .93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:30:00
</td>
<td align="right">
   77.33
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.13
</td>
<td align="right">
     .55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:35:00
</td>
<td align="right">
   77.58
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.49
</td>
<td align="right">
    -.28
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:45:00
</td>
<td align="right">
   78.62
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -1.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:50:00
</td>
<td align="right">
   78.30
</td>
<td align="right">
  .58
</td>
<td align="right">
     .15
</td>
<td align="right">
    -.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 15:00:00
</td>
<td align="right">
   78.33
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.22
</td>
<td align="right">
    -.65
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -31.98
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td>
2011-08-08 13:40:00
</td>
<td align="right">
  233.89
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.15
</td>
<td align="right">
   -8.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:50:00
</td>
<td align="right">
  232.77
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.52
</td>
<td align="right">
   -5.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:55:00
</td>
<td align="right">
  234.89
</td>
<td align="right">
  .56
</td>
<td align="right">
   -2.71
</td>
<td align="right">
   -7.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 14:00:00
</td>
<td align="right">
  233.92
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.67
</td>
<td align="right">
   -3.62
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -25.16
</td>
</tr>
<tr>
<td>
SLV
</td>
<td>
2011-08-08 15:00:00
</td>
<td align="right">
   37.65
</td>
<td align="right">
  .56
</td>
<td align="right">
     .63
</td>
<td align="right">
    -.83
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.83
</td>
</tr>
<tr>
<td>
V
</td>
<td>
2011-08-08 13:30:00
</td>
<td align="right">
   79.97
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.09
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 13:35:00
</td>
<td align="right">
   80.45
</td>
<td align="right">
  .68
</td>
<td align="right">
     .58
</td>
<td align="right">
     .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 16:35:00
</td>
<td align="right">
   80.50
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.63
</td>
<td align="right">
     .44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 16:40:00
</td>
<td align="right">
   80.53
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.83
</td>
<td align="right">
     .20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 16:50:00
</td>
<td align="right">
   80.56
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.80
</td>
<td align="right">
    -.09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 16:55:00
</td>
<td align="right">
   80.45
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.21
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 17:00:00
</td>
<td align="right">
   80.21
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.38
</td>
<td align="right">
    -.19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2011-08-08 17:05:00
</td>
<td align="right">
   80.07
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.73
</td>
<td align="right">
    -.08
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .25
</td>
</tr>
</table>
<br /><hr />
