
h4 Blog

hr/

a(href="/blog#b2011_0815")
  h4#b2011_0815 2011-08-15 A discussion about 1 hour gain

' I start this discussion with some background information about time series labels.
' The DanBot is designed to issue a set of prediction scores every 5 minutes.
' I assign a set of time series labels to each prediction.
' I use these labels to help me manage my reaction to each prediction.
' The names of the labels are listed below:
ul
  li Hour0 (used to track both Forex and US Stock predictions)
  li Hour1 (used to track both Forex and US Stock predictions)
  li Hour6 (used to track Forex predictions)
  li Hour24 (used to track US Stock predictions)

' Each label helps me track the state of a prediction as time passes.

' For example at Hour1, a prediction score is one hour old.

' Now I move towards the heart of this discussion about 1 hour gain.

' If I am looking at a stock prediction, at Hour1 I have two pieces of information about the prediction.

' I know the prediction score which was issued at Hour0 and I know the gain of the stock between Hour0 and Hour1.

' An obvious question arises, If at Hour1 I act on these two pieces of information, can I expect a higher rate of return than if I act at Hour0 knowing only the prediction score?

