/! views/r10/blog.html.slim
a(href="/site_map")Site Map
| > Blog

h4 Blog

hr/

h4 2011-06-28 What's in a name?

| My name is Dan.
br/
br/
| I am the Founder of RoboLuck.com 
br/
br/
| Using Open Source software and significant amount of my time, I created this site from the ground up.
br/
br/
| Currently most of my time is spent on software development.
br/
br/
| Prior to this week, most of my software efforts have been focused on setting up and operating mechanisms which pull data in every 5 minutes and then transform that data into predictions.
br/
br/
| Starting this week I will spend more of my software efforts on the software which you, the end user, will interact with.
br/
br/
| Until I have a better idea of how this site will be useful to you, I aim to keep the User Interface (UI) as simple as possible.
br/
br/
| Currently for the UI I rely on Ruby on Rails and jQuery:
br/
br/
a(href="http://www.google.com/search?q=ruby+on+rails" target="g")http://www.google.com/search?q=Ruby+on+Rails
br/
br/
a(href="http://www.google.com/search?q=jQuery" target="g")http://www.google.com/search?q=jQuery
br/
br/
| If you have some ideas about how I can enhance, or fix, the site so it is more helpful to you, please send me an e-mail.
br/
br/
| Also I am curious about what you think of the name: "RoboLuck.com"
br/
br/

| RoboLuck.com uses machine learning technology (the SVM Algorithm)
| to issue short predictions for both the stock market and the Forex market.
br/
br/
| What should I call the site?
br/
br/
| Most of my friends dislike the name "RoboLuck.com" which suggests that I should pick a better name.
br/
br/
| I would like to read your opinion, so send me e-mail:
h4 Dan@RoboLuck.com
| If you add "not-spam" to the Subject, I will assume it is HumanMail, not RoboMail.
hr/
