/! views/r10/blog.html.slim
=render :partial => 'blog'

h4 Blog

hr/

a(href="/blog#b2011_08142")
  h4#b2011_08142 2011-08-14 Bob asks about INTC
' Bob,
br/
' thanks for checking in; I'm doin good.
br/

' INTC started showing up in the predictions in July.
br/

' I started collecting info on INTC at 2011-06-08 13:30:00
br/

' So, bot4.us now has over 3,600 prediction vectors on INTC.
br/

' IBM, though, offers over 35,000 prediction vectors. 
br/

' bot4.us started collecting IBM vectors on 2009-10-28 18:10:00
br/

' So, I would trust bot4.us predictions on IBM more than I would for INTC.
br/
br/

' Anyway, I see INTC here:
br/
br/

a(href="/us_stk_past/us_stk_past_wk2011_07_18" target="b")http://bot4.us/us_stk_past/us_stk_past_wk2011_07_18
br/
a(href="/us_stk_past/us_stk_past_wk2011_08_01" target="b")http://bot4.us/us_stk_past/us_stk_past_wk2011_08_01
br/
br/

' The second URL is the week before debt-downgrade-week.
br/
br/

' bot4.us did a good job during the week of 08_01 on both us stocks and forex.
br/
br/

' During 08_01, bot4.us issued 63 bearish predictions on INTC.
br/
br/

' The Sharpe ratio was -1.67 which is acceptable; anything below -3 is excellent (for bearish predictions).
br/
br/

' For each bearish prediction, the avg price decline for INTC was -$0.39
br/
br/

' During 08_01, bot4.us issued no bullish predictions on INTC.
br/
br/

' During debt-downgrade-week (08_08), bot4.us issued only 1 high confidence prediction for INTC.
br/
br/

' It was a bearish prediction and it was wrong (a false positive).
br/
br/

' bot4.us did very poorly predicting stock prices during debt-downgrade-week:
br/
br/

a(href="/us_stk_past/us_stk_past_wk2011_08_08" target="b")http://bot4.us/us_stk_past/us_stk_past_wk2011_08_08
br/
br/

' For Forex prices it did ok:
br/
br/

a(href="/fx_past/fx_past_wk2011_08_07" target="b")http://bot4.us/fx_past/fx_past_wk2011_08_07
br/
br/

' Anyway back to INTC, personally, I would not trade INTC at all; it's price is too low.
br/
br/

' My broker charges me about $0.01 to trade 1 share (if I buy/sell 100 shares).
br/
br/

' So INTC is about 30 times more expensive to trade than GOOG.
br/
br/

' --Dan
br/
br/


' On 8/13/11, Bob wrote:
br/
' > Hi Dan,
br/
' >
br/
' > How are you? It's been a couple of months since we last talked about your
br/
' > investment app tracking INTC, how's it tracking so far? This is an
br/
' > interesting period to gauge the accuracy especially given the recent wild
br/
' > and huge market volatility.
br/
' >
br/
' > Bob
br/

hr/

a(href="/blog#b2011_0814")
  h4#b2011_0814 2011-08-14 Debt Downgrade Week confounded the DanBot

' Via e-mail today, A user asked me this:
br/
br/
'  bot4.us is very cool.  How is it working out in real world trading?
br/
br/

' My response:
'
br/
br/
' bot4.us did very poorly during debt-downgrade-week.
br/
br/

' Many us-stock predictions it issued were a "false-positive":
br/
br/
a(href="/us_stk_past/us_stk_past_wk2011_08_08" target="b")http://bot4.us/us_stk_past/us_stk_past_wk2011_08_08
br/
br/

' But...
' The week before it did an acceptable job of sensing the downturn:
br/
br/
a(href="/us_stk_past/us_stk_past_wk2011_08_01" target="b")http://bot4.us/us_stk_past/us_stk_past_wk2011_08_01
br/
br/

' And..
' I am proud to say that during debt-downgrade-week,
' bot4.us did an excellent job of predicting Forex prices:
br/
br/
a(href="/fx_past/fx_past_wk2011_08_07" target="b")http://bot4.us/fx_past/fx_past_wk2011_08_07
br/
br/


hr/

a(href="/blog#b2011_0713")
  h4#b2011_0713 2011-07-13 Why use SVM?

' Finally, I have something to blog about.
br/
br/

' A user asked me this about my choice of SVM:
br/
br/

' The question I had for you, when you've got a
' few minutes, is whether the decision to use the SVM algorithm stemmed
' from research into the success of various machine learning techniques,
' or whether your research concluded that this would be an effective
' technique for predicition in financial markets.
br/
br/

' Thanks, and I'll be following this project!
br/
br/

' --JH
br/
br/

' Here is my response:
br/
br/

' JH,
br/
br/

' About my site http://bot4.us,
' my decision to use SVM is based on its effectiveness with historical data.
br/
br/

' I've looked at a number of methods/algorithms for generating predictions.
br/

' For each one, I collected several thousands of predictions on various sets of historical data going as far back as the 80s.
br/
br/

' Then, I'd use Pearson's Correlation to see the correlation between predictions and gains.
br/
br/

' So far, SVM has done best.
br/
br/

' One idea which is worthy of a look is put to use at John F. Ehlers site:
br/
br/

a(href="http://stockspotter.com" target="s")http://stockspotter.com
br/
br/

' A study of his books at Amazon.com suggests he is using signal processing software to consume a time-series of prices and extrapolating the signal to obtain predictions.
br/
br/

' I took 2 Electrical Engineering signal-processing-classes during my undergrad days at Caltech.
br/
br/

' I think I could get reacquainted with the math again and then start writing some software.
br/
br/

' The place for me to start would be here:
br/
br/

a(href="http://en.wikipedia.org/wiki/Fourier_analysis" target="w")http://en.wikipedia.org/wiki/Fourier_analysis

br/
br/

a(href="http://en.wikipedia.org/wiki/Discrete_Fourier_transform" target="w")http://en.wikipedia.org/wiki/Discrete_Fourier_transform

br/
br/

a(href="http://en.wikipedia.org/wiki/Kalman_filter" target="w")http://en.wikipedia.org/wiki/Kalman_filter

br/
br/

' A side effect of this study might be that I start having dreams where I wake up and I am a Caltech undergrad again and all the final exams are way over my head.
br/
br/
' The image below shows that the Kalman Filter works better than smoothing for certain types of noisy signals.
br/
br/
' So it seems plausible to me that I could treat a time-series of prices as a noisy signal that can be filtered and then extrapolated.
br/
br/
' If this is a valid approach, the validity should be easy to prove or disprove using historical data and Pearson's Correlation calculation.
br/
img(src="/images/kalman_filter_tank.png" alt="kalman_filter_tank.png")
hr/

a(href="/blog#b2011_0628")
  h4#b2011_0628 2011-06-28 What's in a name?

| My name is Dan.
br/
br/
| I am the Founder of Bot4.us 
br/
br/
| Using Open Source software and significant amount of my time, I created this site from the ground up.
br/
br/
| Currently most of my time is spent on software development.
br/
br/
| Prior to this week, most of my software efforts have been focused on setting up and operating mechanisms which pull data in every 5 minutes and then transform that data into predictions.
br/
br/
| Starting this week I will spend more of my software efforts on the software which you, the end user, will interact with.
br/
br/
| Until I have a better idea of how this site will be useful to you, I aim to keep the User Interface (UI) as simple as possible.
br/
br/
| Currently for the UI I rely on Ruby on Rails and jQuery:
br/
br/
a(href="http://www.google.com/search?q=ruby+on+rails" target="g")http://www.google.com/search?q=Ruby+on+Rails
br/
br/
a(href="http://www.google.com/search?q=jQuery" target="g")http://www.google.com/search?q=jQuery
br/
br/
| If you have some ideas about how I can enhance, or fix, the site so it is more helpful to you, please send me an e-mail.
br/
br/
| Also I am curious about what you think of the name: "Bot4.us"
br/
br/

| Bot4.us uses machine learning technology (the SVM Algorithm) 
| to issue short-term predictions for both the stock market and the Forex market.
br/
br/
| What should I call the site?
br/
br/
| Most of my friends dislike the name "Bot4.us" which suggests that I should pick a better name.
br/
br/
| I would like to read your opinion, so send me e-mail:
h4 Dan@bot4.us
| If you add "not-spam" to the Subject, I will assume it is HumanMail, not BotMail.
hr/
