/! views/r10/blog.html.slim
a(href="/site_map")Site Map
| > Blog

h4 Blog

hr/

h4 2011-06-28 What's in a name?

I have a site which uses machine learning technology (the SVM Algorithm)
to issue short predictions for both the stock market and the Forex market.
br/
br/
What should I call the site?

