/! views/r10/contact.html.slim
=render :partial => 'contact'

h4 Contact

| The best way to contact Bot4.us is to send e-mail to Dan the Founder:
h4 Dan@bot4.us
br/
br/
| If you add "not-spam" to the Subject, Dan will assume it is HumanMail, not BotMail.

