/! views/r10/contact.html.slim
a(href="/site_map")Site Map
| > CONTACT

h4 Contact

| The best way to contact RoboLuck.com is to send e-mail to Dan the Founder:
h4 Dan@RoboLuck.com
br/
br/
| If you add "not-spam" to the Subject, Dan will assume it is HumanMail, not RoboMail.

