/! views/r10/disclaimer.html.slim
=render :partial => 'disclaimer'

h4 Disclaimer

' This site displays predictions which are opinions.
br/
br/
' Opinions are a protected form of speech.
br/
br/
' This site does not issue investment advice.
br/
br/

