/! views/r10/faq.html.slim
a(href="/site_map")Site Map
| > FAQ

h4 Frequently Asked Questions (FAQ)

| Q: How does RoboLuck.com work?
br/
| A: RoboLuck.com depends on predictive software I wrote.  I call this software the "DanBot".
| The DanBot dpends on an algorithm named SVM which is described in Wikipedia here ->
a(href="http://en.wikipedia.org/wiki/Support_vector_machine" target="w")http://en.wikipedia.org/wiki/Support_vector_machine
| For many, the above article is a bit dense.
| So I offer a simplistic scenario which may help you understand DanBot behavior.
br/
| Suppose that you are on vacation during a Tuesday in the middle of July.
| Your friend asks, "If I buy IBM in July and sell it a month later, should I expect a profit?".
| You don't know so you go to Yahoo and download historical data for IBM from this URL ->
a(href="http://finance.yahoo.com/q/hp?s=IBM+Historical+Prices" target="y")http://finance.yahoo.com/q/hp?s=IBM+Historical+Prices
| You analyze the downloaded data using a spreadsheet.
| You discover that on average (spanning the years 1990 to 2010), IBM goes down when it is bought in July and sold a month later.
| Then you issue a prediction, "If you buy IBM in July and sell it a month later you should not expect a profit".

