/! views/r10/faq.html.slim
a(href="/site_map")Site Map
| > FAQ

h4 Frequently Asked Questions (FAQ)

| Q: How does Bot4.us work?
br/
br/
| A: Bot4.us depends on predictive software I wrote.  I call this software the "DanBot".
| The DanBot depends on an algorithm named SVM which is described in Wikipedia at the URL listed below:
br/
br/
a(href="http://en.wikipedia.org/wiki/Support_vector_machine" target="w")http://en.wikipedia.org/wiki/Support_vector_machine
br/
br/
| For many, the above article is a bit dense.
| So I offer a simplistic scenario which may help you understand DanBot behavior.
br/
br/
| First, we assume that past behavior of a stock price can predict future behavior of a stock price better than the act of flipping a coin.
br/
br/
| If you do not believe this assumption, then you should ignore Bot4.us and study trading ideas which you think are valid.
br/
br/
| Next, imagine I have a SimpleBot and I ask it, "If I buy one share of IBM in May and sell it a month later, should I expect a profit?".
br/
br/
| SimpleBot then goes to Yahoo and downloads historical data for IBM from the URL listed below:
br/
br/
a(href="http://finance.yahoo.com/q/hp?s=IBM+Historical+Prices" target="y")http://finance.yahoo.com/q/hp?s=IBM+Historical+Prices
br/
br/
| SimpleBot loads the data into a database and then analyzes the data via SQL query:
=render :partial => 'faq_ibm_sql'
br/

| SimpleBot sees that during the 20 years between 1990 and 2010 we had a total of 443 days when IBM was traded in May.
br/
br/
| During those 443 days a share of IBM lost an average of $8.2158465 when that share was bought in May and sold 20 trading days later (due to weekends, 20 trading days is about a month).
br/
br/
| SimpleBot issues a prediction,
| "In the future, if you buy a share of IBM in May and sell it a month later you should expect a loss".
br/
br/
| SimpleBot uses 3 types of information to make the prediction:
ul
  li The name of the stock (in this case IBM)
  li A month name (in this case May)
  li 443 days of price-gain history
br/
| The above SimpleBot-scenario gives you a general idea about how the DanBot works.
br/
br/
| SimpleBot differs from DanBot in some significant ways:

ul
  li SimpleBot only gives a prediction
  li DanBot assigns a confidence level to each prediction
  li SimpleBot only looks at IBM
  li DanBot looks at many stocks (and 11 Forex-pairs)
  li SimpleBot looks at one duration of history (20 years)
  li DanBot looks at several durations of history
  li SimpleBot gives a prediction for a stock (IBM) held for 20 trading days
  li DanBot gives predictions for a stock held for 24 hours (or over the weekend)
  li DanBot gives a prediction for a Forex-pair held for 6 hours (or over the weekend)
  li SimpleBot accepts 3 inputs: "IBM", "May", "443 days of price-gain history"
  li DanBot accepts many inputs
  li DanBot is introspective; it throttles back confidence levels when recent predictions trend towards less accuracy
br/
| If you believe that past behavior of a stock can be used to predict future behavior of a stock,
| then the predictions issued by the DanBot may be of interest to you.
