/! views/r10/faq.html.slim
a(href="/site_map")Site Map
| > FAQ

h4 Frequently Asked Questions (FAQ)

| Q: How does RoboLuck.com work?
br/
| A: RoboLuck.com depends on predictive software I wrote.  I call this software the "DanBot".

