/! views/r10/glossary.html.slim
a(href="/site_map")Site Map
| > Glossary

h4 Glossary

hr/

a(href="/glossary#bot")
  h4#bot Bot

| I use the term bot to describe software which copies fresh data from the internet at frequent intervals and then processes that data into more valuable data.

br/
br/
| Wikipedia has a definition which matches my idea of a bot:
br/
br/
a(target="w" href="http://en.wikipedia.org/wiki/Internet_bot")http://en.wikipedia.org/wiki/Internet_bot
br/
br/
| This site relies on the "DanBot" which copies fresh data from the internet every 5 minutes and then issues a set of near-future-price-predictions for many stocks and 11 currency pairs:
br/
br/
a(href="/predictions")http://bot4.us/predictions
br/
br/


a(href="/glossary#scatter_plot")
  h4#scatter_plot Scatter-plot

| Wikipedia has a definition which matches my idea of a scatter-plot:
br/
br/
a(target="w" href="http://en.wikipedia.org/wiki/Scatter_plot")http://en.wikipedia.org/wiki/Scatter_plot
br/
br/
| Visualization of a scatter-plot is useful for understanding the SVM Algorithm which is at the heart of the technology behind the DanBot.


