/! views/r10/glossary.html.slim
a(href="/site_map")Site Map
| > Glossary

h4 Glossary

hr/

a(href="/glossary#bot")
  h4#bot Bot

| I use the term bot to describe software which copies fresh data from the internet at frequent intervals and then processes that data into more valuable data.

br/
br/
| Wikipedia has a definition which matches my idea of a bot:
br/
br/
a(target="w" href="http://en.wikipedia.org/wiki/Internet_bot")http://en.wikipedia.org/wiki/Internet_bot
br/
br/
| This site relies on the "DanBot" which copies fresh data from the internet every 5 minutes and then issues a set of near-future-price-predictions for many stocks and 11 currency pairs:
br/
br/
a(href="/predictions")http://bot4.us/predictions
br/
br/

a(href="/glossary#scatter_plot")
  h4#scatter_plot Scatter-plot

| Wikipedia has a definition which matches my idea of a scatter-plot:
br/
br/
a(target="w" href="http://en.wikipedia.org/wiki/Scatter_plot")http://en.wikipedia.org/wiki/Scatter_plot
br/
br/
| Visualization of a scatter-plot is useful for understanding the SVM Algorithm which is at the heart of the technology behind the DanBot.
br/
br/

| It is easy to see examples of scatter-plots at the URL below:
br/
br/

a(href="http://www.google.com/search?q=scatter+plot" target="g")http://www.google.com/search?q=scatter+plot
br/
br/

| Once you understand that a scatter-plot can be used to convey a dependence of a variable on the vertical axis to a variable on the horizontal axis, then you might ask, "How do I quantify the strength and direction of this dependence?"

br/
br/

| One answer to the above question is a statistical calculation called "Pearson's correlation" which I refer to as just "Correlation".


a(href="/glossary#correlation")
  h4#correlation Correlation

| Wikipedia has an article on Correlation:
br/
br/

a(target="w" href="http://en.wikipedia.org/wiki/Correlation_and_dependence")http://en.wikipedia.org/wiki/Correlation_and_dependence
br/
br/

| When you look at a scatter-plot of many points you can usually detect the strength and direction of their correlation.

br/
br/
| For Earth, if you plotted distance from the equator on the horizontal axis and average temperature on the vertical axis, you would see a cluster of points which leans to the left.
br/
br/
| This scatter-plot describes the fact that as a thermometer moves away from the equator, it records cooler temperatures.
br/
br/
| This situation is an example of negative correlation.
br/
br/
| If you want an example of positive correlation, create a scatter plot of average human height on the horizontal axis and average human weight on the vertical axis.


