/! views/r10/index.html.slim
=render :partial => 'index'

h1 About

| This site displays current, and a history, of short-term price predictions.
br/
br/
| This site focuses on major currencies traded in the Forex market.
br/
br/
| Also this site displays predictions on 200 stocks traded in the US stock markets.
br/
br/
| You will find the predictions here ->
a(href="/predictions")Predictions
