/! views/r10/contact.html.slim
a(href="/site_map")Site Map
| > Leadership Team

h4 Leadership Team  

| I am Dan Bikle, Founder of RoboLuck.com.
br/
br/
| I occupy the sole leadership position here.
br/
br/

| I graduated from Caltech in 1988 with a degree in Electrical Engineering.
br/
br/

| From 1988 to 2011 I filled a wide variety of technical roles mostly related to both Software Development and IT operations.
br/
br/

| As Founder of RoboLuck.com, my roles are easy to label.
br/
br/

| As Product Manager, I understand the simple desire to predict the future.
br/
br/

| I transform that desire into a UI specification which helps me see both future opportunities and past effectiveness of my technology.
br/
br/

| The UI specification has two major components:

ul
  li How the UI will look
  li How the UI will behave when given inputs from you the end-user
br/
| As Engineering Manager, I transform those UI specifications into software which tests both the UI and the back-end technology which feeds data to the UI.
br/
br/

| In addition to these software tests, I build the software which is being tested.
br/
br/

| Among many software engineers
| it is considered a best practice to build software in components which can be conceived of as modular building blocks.
| And the initial effort of building each component is actually building the tests for each component.
br/
br/

| As I build components, I eventually ask them to work in concert.
br/
br/

| Once this request is apparent, I then build more tests which guarantee to me that the components play well together.
br/
br/

| Then I write more software which choreagraphs the behavior of the components.
br/
br/

| This idea of building tests first is often referred to as "Test Driven Development".
br/
br/
