/! views/r10/contact.html.slim
a(href="/site_map")Site Map
| > Leadership Team

h4 Leadership Team  
hr/
h4 CEO

img(src="/images/danbikle.jpg" alt="danbikle.jpg")
br/
br/
| I am Dan Bikle, Founder of Bot4.us.
br/
br/

| At Bot4.us, I occupy the sole leadership position.
br/
br/

| I graduated from California Institute of Technology in 1988 with a degree in Electrical Engineering:
br/
br/
a(href="http://en.wikipedia.org/wiki/Times_Higher_Education_World_University_Rankings#Top_20_universities_in_the_2010_THE_World_University_Rankings" target="w")Caltech Ranking
br/
br/
| From 1988 to 2011 I filled a wide variety of technical roles mostly related to both Software Development and IT operations.
br/
br/

| As Founder of Bot4.us, my roles are easy to label.
br/
br/
h4 Product Manager

img(src="/images/productmgr.jpg" alt="productmgr.jpg")
br/
br/

| As Product Manager, I understand the simple desire to predict the future.
br/
br/

| I transform that desire into a UI specification which helps me see both future opportunities and past effectiveness of my technology.
br/
br/

| The UI specification has three major components:

ul
  li How the UI will look
  li How the UI will behave when given inputs from data sources
  li How the UI will behave when given inputs from you the end-user

| I use ideas from "Behavior Driven Development" to specify the behavior of Bot4.us to the Engineering Manager:
br/
br/
a(href="http://en.wikipedia.org/wiki/Behavior_driven_development" target="w")http://en.wikipedia.org/wiki/Behavior_driven_development
br/
br/

h4 Engineering Manager

img(src="/images/engmgr.jpg" alt="engmgr.jpg")
br/
br/

| As Engineering Manager, I transform those UI specifications into software which tests both the UI and the back-end technology which feeds data to the UI.
br/
br/

| In addition to these software tests, I build the software which is being tested.
br/
br/

| The software I write has a modular nature.  
| And, my initial effort to build each piece is focused on building tests for each piece. 
| After the tests are written, I use their output to help me write my modular software.  
br/
br/

| As I build modules, I eventually ask them to work in concert.
br/
br/

| Once this request is apparent, I build more tests which ensure the modules play well together.
br/
br/
| At this point I will often use the behavioral tests written by Dan the Product Manager. 
br/
br/

| Then I write the actual software which choreagraphs the behavior of the modules and implements the site behavior which allows you the end-user to interact with the site.
br/
br/

| This idea of building tests first is often referred to as "Test Driven Development":
br/
br/
a(href="http://en.wikipedia.org/wiki/Test-driven_development" target="w")http://en.wikipedia.org/wiki/Test-driven_development
br/
br/

h4 Operations Manager

| As Operations Manager I launched the site.  
| Then, each day, I ensure the site behaves as specified by the behaviorial tests written by Dan the Product Manager. 
br/
br/
| Additionally I report bugs (and enhancement requests from end-users) to Dan the Product Manager. 
br/
br/
| It is his job to code up behaviorial tests which will indicate success/failure once the bugs are fixed.  
br/
br/
| Then the behaviorial tests are sent to Dan the Engineering Manager who then enhances the software behind the site until the behaviorial tests indicate the bugs are fixed.  
br/
br/
| As Operations Manager, I ensure that this iterative process moves quickly.  

h4 Marketing Manager

img(src="/images/marketingmgr.jpg" alt="marketingmgr.jpg")
br/
br/

| As Marketing Manager I market the site to a vast supply of end-users. 
| I drive traffic to the site and ensure that the site is well known among finance speculators.  
| A secondary supply of end-users is the community of practitioners of Predictive Analytics: 
br/
br/
a(href="http://en.wikipedia.org/wiki/Predictive_analytics" target="w")http://en.wikipedia.org/wiki/Predictive_analytics

h4 Finance Manager

| As Finance Manager I optimize the flow of cash into the site to ensure that total benefits enjoyed by the investors surpass the sum of investments from the investors.  
br/
br/
