%h4 Blog

%hr/

%a(href="/blog#b2011_0920")
  %h4#b2011_0920 2011-09-20 A Search For Correlation

On September 13, 2001 I gave a presentation at the Bay Area Trading Systems Interest Group:
%br/
%br/
%a(href="http://www.meetup.com/batsig/" target="m")http://www.meetup.com/batsig
%br/
%br/

My notes from that presentation form the basis for this blog entry.

%h4 Summary

I start off with a discussion about downloading a copy of Oracle RDBMS software
and installing it on a laptop.
%br/
%br/

Next I pick a stock we love or hate and I show how to download many years of CSV data for it from 
Yahoo to a laptop.
%br/
%br/

Then I demonstrate loading that data into an Oracle table using a utility called SQL-Loader.
%br/
%br/

Next I decide on a holding-period which we want to simulate. Probably one week would be a good choice.
%br/
%br/

Then I demonstrate how to create a table from the CSV data which contains useful columns:
%br/
%ul
  %li tkr
  %li date
  %li date1week_later
  %li price1
  %li price2
  %li mvg_avg_4wk_slope
  %li gain1week

Next I demonstrate how to visualize gain1week as a distribution (hint: it will look like a bell curve).
%br/
%br/

Then I demonstrate how to visualize mvg_avg_4wk_slope as a distribution (hint: it will look like a bell curve).
%br/
%br/

Next I demonstrate how to visualize mvg_avg_4wk_slope and gain1week as points in a scatter plot.
%br/
%br/

Next I answer the question, when mvg_avg_4wk_slope, was more than two standard deviations from the mean, how did gain1week usually react? (hint: we will use Pearson's Correlation here)
%br/
%br/

Next I discuss the question, what besides mvg_avg_4wk_slope could we mix with gain1week in a scatter plot?
%br/
%br/

My goal is to find some calculated attribute of stock price which has a large correlation with gain1week (and thus be predictive).
%br/
%br/

%pre.sql
  CREATE TABLE ystk_stage(
  tkr VARCHAR2(11)
  ,ydate DATE
  ,opn NUMBER
  ,mx NUMBER
  ,mn NUMBER
  ,clse0 NUMBER
  ,vol NUMBER
  ,clse NUMBER);
