:css
  pre.sql{background-color: #EEEEEE; color: #000088;}

%h4 Blog

%hr/

%a(href="/blog#b2011_0920")
  %h4#b2011_0920 2011-09-20 A Search For Correlation

On September 13, 2001 I gave a presentation at the Bay Area Trading Systems Interest Group:
%br/
%br/
%a(href="http://www.meetup.com/batsig/" target="m")http://www.meetup.com/batsig
%br/
%br/

My notes from that presentation form the basis for this blog entry.

%pre.sql
  CREATE TABLE ystk_stage(
  tkr VARCHAR2(11)
  ,ydate DATE
  ,opn NUMBER
  ,mx NUMBER
  ,mn NUMBER
  ,clse0 NUMBER
  ,vol NUMBER
  ,clse NUMBER);
