%h4 Blog

%hr/

%a(href="/blog#b2011_0920")
  %h4#b2011_0920 2011-09-20 A Search For Correlation

On September 13, 2001 I gave a presentation at the Bay Area Trading Systems Interest Group:
%br/
%br/
%a(href="http://www.meetup.com/batsig/" target="m")http://www.meetup.com/batsig
%br/
%br/

An enhanced version of that presentation is displayed below.

%h4 Summary

I start off with a discussion about downloading a copy of Oracle RDBMS software
and installing it on a laptop.
%br/
%br/

Next I pick a stock we love or hate and I show how to download many years of CSV data for it from 
Yahoo to a laptop.
%br/
%br/

Then I demonstrate loading that data into an Oracle table using a utility called SQL-Loader.
%br/
%br/

Next I decide on a holding-period which we want to simulate. Probably one week would be a good choice.
%br/
%br/

Then I demonstrate how to create a table from the CSV data which contains useful columns:
%br/
%ul
  %li tkr
  %li date
  %li date1week_later
  %li price1
  %li price2
  %li mvg_avg_4wk_slope
  %li gain1week

Next I demonstrate how to visualize gain1week as a distribution (hint: it will look like a bell curve).
%br/
%br/

Then I demonstrate how to visualize mvg_avg_4wk_slope as a distribution (hint: it will look like a bell curve).
%br/
%br/

Next I demonstrate how to visualize mvg_avg_4wk_slope and gain1week as points in a scatter plot.
%br/
%br/

Next I answer the question, when mvg_avg_4wk_slope, was more than two standard deviations from the mean, how did gain1week usually react? (hint: we will use Pearson's Correlation here)
%br/
%br/

Next I discuss the question, what besides mvg_avg_4wk_slope could we mix with gain1week in a scatter plot?
%br/
%br/

My goal is to find some calculated attribute of stock price which has a large correlation with gain1week (and thus be predictive).
%br/
%br/

%hr/
%h4 Oracle RDBMS Software

How to Download Oracle:
%br/
%ul
  %li
    %a(href="http://oracle.com" target="o") http://oracle.com
  %li Look for: "Downloads"
  %li Then, Look for: "Database 11g Enterprise"
  %li
    Then, Look for this:
    %br/
    (11.2.0.1.0)
    %br/
    Download Microsoft Windows (32-bit)     File 1, File 2  (2GB)  See All
    %br/
    Download Microsoft Windows (x64)        File 1, File 2  (2GB)  See All
    %br/
    Download Linux x86      File 1, File 2  (2GB)  See All
    %br/
    Download Linux x86-64   File 1, File 2  (2GB)  See All 
    %br/
  %li I prefer Linux (Ubuntu 10.04) so I can drive Oracle SQL scripts with Linux Shell scripts
  %li If you only have windows, try vmware player in windows, Linux (Ubuntu 8.04) in vmware, Oracle in Linux
  %li
    %a(href="http://www.google.com/search?q=Install+ubuntu+in+vmware+player+in+windows" target="g")
      http://www.google.com/search?q=Install+ubuntu+in+vmware+player+in+windows


Installation:
%ul
  %li Oracle installation documentation is ok for windows.
  %li
    Linux:
    %br/
    %a(href="http://www.google.com/search?q=pythian+install+oracle+11g+on+ubuntu" target="g")
      http://www.google.com/search?q=pythian+install+oracle+11g+on+ubuntu
    %br/
    %a(href="http://www.pythian.com/news/13291/installing-oracle-11gr2-enterprise-edition-on-ubuntu-10-04-lucid-lynx/" target="p")
      http://www.pythian.com/news/13291/installing-oracle-11gr2-enterprise-edition-on-ubuntu-10-04-lucid-lynx/
%br/

%h4
  Pick a stock, SPY, download many years of CSV data for it

The URL for SPY:
%br/
%br/
%a(href="http://ichart.finance.yahoo.com/table.csv?s=SPY" target="y")
  http://ichart.finance.yahoo.com/table.csv?s=SPY
%br/
%br/

Demo of Linux-wget-shell-command to download CSV for SPY into SPY.csv:
%br/
%pre.bash
  :preserve
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ wget --output-document=SPY.csv http://ichart.finance.yahoo.com/table.csv?s=SPY
    --2011-09-20 23:05:46--  http://ichart.finance.yahoo.com/table.csv?s=SPY
    Resolving ichart.finance.yahoo.com... 67.195.146.181
    Connecting to ichart.finance.yahoo.com|67.195.146.181|:80... connected.
    HTTP request sent, awaiting response... 200 OK
    Length: unspecified [text/csv]
    Saving to: `SPY.csv'
    
    [    <=>                                ] 246,771      308K/s   in 0.8s    
    
    2011-09-20 23:05:47 (308 KB/s) - `SPY.csv' saved [246771]
    
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 

%br/
%br/


Add a column to SPY.csv and then inspect it:
%br/
%pre.bash
  :preserve
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ cat SPY.csv | awk  '{print "SPY,"$0}' | grep 0 > ystk_stage.csv
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ head ystk_stage.csv 
    SPY,2011-09-19,119.53,120.93,118.72,120.31,239978600,120.31
    SPY,2011-09-16,121.29,121.97,120.32,121.52,284528300,121.52
    SPY,2011-09-15,120.65,121.47,119.40,121.43,326777200,120.81
    SPY,2011-09-14,118.34,120.80,116.72,119.37,319389500,118.76
    SPY,2011-09-13,117.05,118.18,116.22,117.74,272514700,117.13
    SPY,2011-09-12,114.47,116.76,114.05,116.67,305793500,116.07
    SPY,2011-09-09,117.68,119.06,115.28,115.92,380195100,115.32
    SPY,2011-09-08,119.57,120.94,118.77,119.04,250568200,118.43
    SPY,2011-09-07,118.76,120.34,118.36,120.29,209803200,119.67
    SPY,2011-09-06,114.39,117.16,114.38,116.99,285130500,116.39
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ tail ystk_stage.csv
    SPY,1993-02-11,44.78,45.13,44.78,44.94,19500,32.21
    SPY,1993-02-10,44.66,44.75,44.53,44.72,379600,32.05
    SPY,1993-02-09,44.81,44.81,44.56,44.66,122100,32.01
    SPY,1993-02-08,44.97,45.13,44.91,44.97,596100,32.23
    SPY,1993-02-05,44.97,45.06,44.72,44.97,492100,32.23
    SPY,1993-02-04,44.97,45.09,44.47,45.00,531500,32.25
    SPY,1993-02-03,44.41,44.84,44.38,44.81,529400,32.11
    SPY,1993-02-02,44.22,44.38,44.13,44.34,201300,31.78
    SPY,1993-02-01,43.97,44.25,43.97,44.25,480500,31.71
    SPY,1993-01-29,43.97,43.97,43.75,43.94,1003200,31.49
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 


%h4
  Load that data into an Oracle table using a utility called SQL-Loader.

Create a table:
%br/

%pre.sql
  :preserve
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ which sqt
    /pt/s/bin/sqt
    oracle@z2:/pt/s/rluck/svmd/bp$ cat /pt/s/bin/sqt
    #!/bin/bash
    
    . /pt/s/oracle/.orcl
    
    sqlplus trade/t $@
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ sqt @cr_ystk_stage.sql 
    
    SQL*Plus: Release 11.2.0.1.0 Production on Tue Sep 20 23:23:09 2011
    
    Copyright (c) 1982, 2009, Oracle.  All rights reserved.
    
    
    Connected to:
    Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
    With the Partitioning, OLAP, Data Mining and Real Application Testing options
    
    23:23:09 SQL> ALTER SESSION SET NLS_DATE_FORMAT = 'YYYY-MM-DD';
    
    Session altered.
    
    Elapsed: 00:00:00.01
    23:23:09 SQL> 
    23:23:09 SQL> --
    23:23:09 SQL> -- cr_ystk_stage.sql
    23:23:09 SQL> --
    23:23:09 SQL> 
    23:23:09 SQL> DROP TABLE ystk_stage;
    
    Table dropped.
    
    Elapsed: 00:00:00.22
    23:23:09 SQL> 
    23:23:09 SQL> 
    23:23:09 SQL> CREATE TABLE ystk_stage(
    23:23:09   2  tkr VARCHAR2(11)
    23:23:09   3  ,ydate DATE
    23:23:09   4  ,opn NUMBER
    23:23:09   5  ,mx NUMBER
    23:23:09   6  ,mn NUMBER
    23:23:09   7  ,clse0 NUMBER
    23:23:09   8  ,vol NUMBER
    23:23:09   9  ,clse NUMBER)
    23:23:09  10  /
    
    Table created.
    
    Elapsed: 00:00:00.06
    23:23:09 SQL> exit
    Disconnected from Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
    With the Partitioning, OLAP, Data Mining and Real Application Testing options
    oracle@z2:/pt/s/rluck/svmd/bp$ 

%br/
%br/

Create a CTL file named ystk_stage.ctl (using editor):
%br/

%pre.sql
  :preserve
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ cat ystk_stage.ctl 
    LOAD DATA
    INFILE 'ystk_stage.csv'
    replace INTO TABLE ystk_stage
    FIELDS TERMINATED BY ','
    TRAILING NULLCOLS
    (
    tkr    CHAR             NULLIF (tkr=BLANKS)
    ,ydate DATE "YYYY-MM-DD" NULLIF (ydate=BLANKS)
    ,opn   DECIMAL EXTERNAL NULLIF (opn=BLANKS)
    ,mx    DECIMAL EXTERNAL NULLIF (mx=BLANKS)
    ,mn    DECIMAL EXTERNAL NULLIF (mn=BLANKS)
    ,clse0 DECIMAL EXTERNAL NULLIF (clse0=BLANKS)
    ,vol   DECIMAL EXTERNAL NULLIF (vol=BLANKS)
    ,clse  DECIMAL EXTERNAL NULLIF (clse=BLANKS)
    )
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ 

%br/
%br/

Call SQL*Loader:
%br/

%pre.bash
  :preserve
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ sqlldr trade/t bindsize=20971520 readsize=20971520 rows=123456 control=ystk_stage.ctl
    
    SQL*Loader: Release 11.2.0.1.0 - Production on Wed Sep 21 07:15:26 2011
    
    Copyright (c) 1982, 2009, Oracle and/or its affiliates.  All rights reserved.
    
    Commit point reached - logical record count 4696
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ grep loaded ystk_stage.log
    Table YSTK_STAGE, loaded from every logical record.
      4696 Rows successfully loaded.
      0 Rows not loaded due to data errors.
      0 Rows not loaded because all WHEN clauses were failed.
      0 Rows not loaded because all fields were null.
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ 

%br/
%br/


Inspect the data:
%br/

%pre.sql
  :preserve
    oracle@z2:/pt/s/rluck/svmd/bp$ 
    oracle@z2:/pt/s/rluck/svmd/bp$ sqt
    
    SQL*Plus: Release 11.2.0.1.0 Production on Wed Sep 21 07:17:29 2011
    
    Copyright (c) 1982, 2009, Oracle.  All rights reserved.
    
    
    Connected to:
    Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
    With the Partitioning, OLAP, Data Mining and Real Application Testing options
    
    07:17:29 SQL> ALTER SESSION SET NLS_DATE_FORMAT = 'YYYY-MM-DD';
    
    Session altered.
    
    Elapsed: 00:00:00.00
    07:17:29 SQL> 
    07:17:29 SQL> SELECT tkr,ydate,clse FROM ystk_stage WHERE ydate > sysdate - 9 ORDER BY ydate;
    
    TKR	    YDATE	     CLSE
    ----------- ---------- ----------
    SPY	    2011-09-13	   117.13
    SPY	    2011-09-14	   118.76
    SPY	    2011-09-15	   120.81
    SPY	    2011-09-16	   121.52
    SPY	    2011-09-19	   120.31
    
    Elapsed: 00:00:00.00
    07:17:42 SQL> SELECT tkr,MIN(ydate),MAX(ydate),MIN(clse),MAX(clse)FROM ystk_stage GROUP BY tkr;
    
    TKR	    MIN(YDATE) MAX(YDATE)  MIN(CLSE)  MAX(CLSE)
    ----------- ---------- ---------- ---------- ----------
    SPY	    1993-01-29 2011-09-19      31.11	  144.2
    
    Elapsed: 00:00:00.01
    07:18:01 SQL> 
    07:18:02 SQL> exit
    Disconnected from Oracle Database 11g Enterprise Edition Release 11.2.0.1.0 - 64bit Production
    With the Partitioning, OLAP, Data Mining and Real Application Testing options
    oracle@z2:/pt/s/rluck/svmd/bp$ 

%br/
%br/
Use R to plot the data.
%br/
