%h4 Blog

%hr/

%a(href="/blog#b2011_0920")
  %h4#b2011_0920 2011-09-20 A Search For Correlation

On September 13, 2001 I gave a presentation at the Bay Area Trading Systems Interest Group:
%br/
%br/
%a(href="http://www.meetup.com/batsig/" target="m")http://www.meetup.com/batsig
%br/
%br/

My notes from that presentation form the basis for this blog entry.

%h4 Summary

I start off with a discussion about downloading a copy of Oracle RDBMS software
and installing it on a laptop.
%br/
%br/

Next I pick a stock we love or hate and I show how to download many years of CSV data for it from 
Yahoo to a laptop.
%br/
%br/

Then I demonstrate loading that data into an Oracle table using a utility called SQL-Loader.
%br/
%br/

Next I decide on a holding-period which we want to simulate. Probably one week would be a good choice.
%br/
%br/

Then I demonstrate how to create a table from the CSV data which contains useful columns:
%br/
%ul
  %li tkr
  %li date
  %li date1week_later
  %li price1
  %li price2
  %li mvg_avg_4wk_slope
  %li gain1week

Next I demonstrate how to visualize gain1week as a distribution (hint: it will look like a bell curve).
%br/
%br/

Then I demonstrate how to visualize mvg_avg_4wk_slope as a distribution (hint: it will look like a bell curve).
%br/
%br/

Next I demonstrate how to visualize mvg_avg_4wk_slope and gain1week as points in a scatter plot.
%br/
%br/

Next I answer the question, when mvg_avg_4wk_slope, was more than two standard deviations from the mean, how did gain1week usually react? (hint: we will use Pearson's Correlation here)
%br/
%br/

Next I discuss the question, what besides mvg_avg_4wk_slope could we mix with gain1week in a scatter plot?
%br/
%br/

My goal is to find some calculated attribute of stock price which has a large correlation with gain1week (and thus be predictive).
%br/
%br/

%hr/
%h4 Oracle RDBMS Software

How to Download Oracle:
%br/
%ul
  %li
    %a(href="http://oracle.com" target="o") http://oracle.com
  %li Look for: "Downloads"
  %li Then, Look for: "Database 11g Enterprise"
  %li
    Then, Look for this:
    %br/
    (11.2.0.1.0)
    %br/
    Download Microsoft Windows (32-bit)     File 1, File 2  (2GB)  See All
    %br/
    Download Microsoft Windows (x64)        File 1, File 2  (2GB)  See All
    %br/
    Download Linux x86      File 1, File 2  (2GB)  See All
    %br/
    Download Linux x86-64   File 1, File 2  (2GB)  See All 
    %br/
  %li I prefer Linux (Ubuntu 10.04) so I can drive Oracle SQL scripts with Linux Shell scripts
  %li If you only have windows, try vmware player in windows, Linux (Ubuntu 8.04) in vmware, Oracle in Linux
  %li
    %a(href="http://www.google.com/search?q=Install+ubuntu+in+vmware+player+in+windows" target="g")
      http://www.google.com/search?q=Install+ubuntu+in+vmware+player+in+windows


Installation:
%ul
  %li Oracle installation documentation is ok for windows.
  %li
    Linux:
    %br/
    %a(href="http://www.google.com/search?q=pythian+install+oracle+11g+on+ubuntu" target="g")
      http://www.google.com/search?q=pythian+install+oracle+11g+on+ubuntu
    %br/
    %a(href="http://www.pythian.com/news/13291/installing-oracle-11gr2-enterprise-edition-on-ubuntu-10-04-lucid-lynx/" target="p")
      http://www.pythian.com/news/13291/installing-oracle-11gr2-enterprise-edition-on-ubuntu-10-04-lucid-lynx/
%br/

%h4
  Pick a stock, SPY, download many years of CSV data for it

The URL for SPY:
%br/
%br/
%a(href="http://ichart.finance.yahoo.com/table.csv?s=SPY" target="y")
  http://ichart.finance.yahoo.com/table.csv?s=SPY
%br/
%br/

Demo of Linux shell command to download CSV for SPY:
%br/
%pre.bash
  :preserve
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ wget --output-document=SPY.csv http://ichart.finance.yahoo.com/table.csv?s=SPY
    --2011-09-20 23:05:46--  http://ichart.finance.yahoo.com/table.csv?s=SPY
    Resolving ichart.finance.yahoo.com... 67.195.146.181
    Connecting to ichart.finance.yahoo.com|67.195.146.181|:80... connected.
    HTTP request sent, awaiting response... 200 OK
    Length: unspecified [text/csv]
    Saving to: `SPY.csv'
    
    [    <=>                                ] 246,771      308K/s   in 0.8s    
    
    2011-09-20 23:05:47 (308 KB/s) - `SPY.csv' saved [246771]
    
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 
    oracle@z2:/pt/s/rluck/svmd/bp/cf$ 

%br/
%br/


%pre.sql
  CREATE TABLE ystk_stage(
  tkr VARCHAR2(11)
  ,ydate DATE
  ,opn NUMBER
  ,mx NUMBER
  ,mn NUMBER
  ,clse0 NUMBER
  ,vol NUMBER
  ,clse NUMBER);
