/! views/r10/tos.html.slim
a(href="/site_map")Site Map
| > Terms Of Service

h4 Terms Of Service

' I have not yet hired a lawyer to write legal language to constrain your use of this site.
br/
br/
' Currently I am not convinced that you want to read a lengthy legal document.
br/
br/

' So, I ask that you act politely towards both me and the users of this site.
br/
br/
' If you are tempted to do evil, please try to instead help an animal or person who is in pain or discomfort.
br/
br/
