<h4>Week of: 2011_08_07</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -5.35
</td>
<td align="right">
  -.0044
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0267
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0267
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .61
</td>
<td align="right">
    5.94
</td>
<td align="right">
   .0068
</td>
<td align="right">
    3
</td>
<td align="right">
   .0205
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .58
</td>
<td align="right">
     .13
</td>
<td align="right">
   .0002
</td>
<td align="right">
    2
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    5
</td>
<td align="right">
   .0210
</td>
</tr>
</table>
<br /><hr />
