<h4>Week of: 2011_07_24</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.77
</td>
<td align="right">
     .30
</td>
<td align="right">
   .0006
</td>
<td align="right">
   23
</td>
<td align="right">
   .0147
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.03
</td>
<td align="right">
  -.0031
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0745
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .06
</td>
<td align="right">
   .0001
</td>
<td align="right">
   25
</td>
<td align="right">
   .0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.03
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   12
</td>
<td align="right">
  -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.50
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0218
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.91
</td>
<td align="right">
   .0014
</td>
<td align="right">
    2
</td>
<td align="right">
   .0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.43
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   73
</td>
<td align="right">
  -.1297
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.56
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   25
</td>
<td align="right">
  -.0826
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  208
</td>
<td align="right">
  -.2890
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
     .41
</td>
<td align="right">
   .0003
</td>
<td align="right">
   13
</td>
<td align="right">
   .0042
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.29
</td>
<td align="right">
  -.0007
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0047
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.23
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   67
</td>
<td align="right">
  -.0342
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.03
</td>
<td align="right">
   .0000
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .68
</td>
<td align="right">
     .23
</td>
<td align="right">
   .0003
</td>
<td align="right">
   50
</td>
<td align="right">
   .0148
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.35
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
   -2.39
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0237
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.34
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0091
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .68
</td>
<td align="right">
     .16
</td>
<td align="right">
   .0004
</td>
<td align="right">
    2
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
     .18
</td>
<td align="right">
   .0001
</td>
<td align="right">
   10
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  195
</td>
<td align="right">
  -.0528
</td>
</tr>
</table>
<br /><hr />
