<h4>Week of: 2011_06_12</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.75
</td>
<td align="right">
    -.47
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  968
</td>
<td align="right">
  -.8071
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .28
</td>
<td align="right">
   .0004
</td>
<td align="right">
  173
</td>
<td align="right">
   .0767
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.23
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  326
</td>
<td align="right">
  -.1069
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .04
</td>
<td align="right">
   .0001
</td>
<td align="right">
  270
</td>
<td align="right">
   .0236
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -52.33
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0247
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.43
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   72
</td>
<td align="right">
  -.0688
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .22
</td>
<td align="right">
   .0003
</td>
<td align="right">
   38
</td>
<td align="right">
   .0125
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.54
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  259
</td>
<td align="right">
  -.2185
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .44
</td>
<td align="right">
   .0008
</td>
<td align="right">
  112
</td>
<td align="right">
   .0880
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.31
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   72
</td>
<td align="right">
  -.0671
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.29
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0075
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 2325
</td>
<td align="right">
 -1.0998
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .68
</td>
<td align="right">
     .00
</td>
<td align="right">
   .0000
</td>
<td align="right">
  220
</td>
<td align="right">
  -.0015
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .74
</td>
<td align="right">
     .50
</td>
<td align="right">
   .0006
</td>
<td align="right">
  158
</td>
<td align="right">
   .0970
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .58
</td>
<td align="right">
########
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0142
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.23
</td>
<td align="right">
   .0025
</td>
<td align="right">
  110
</td>
<td align="right">
   .2751
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .63
</td>
<td align="right">
     .32
</td>
<td align="right">
   .0001
</td>
<td align="right">
  112
</td>
<td align="right">
   .0160
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .67
</td>
<td align="right">
     .80
</td>
<td align="right">
   .0013
</td>
<td align="right">
  135
</td>
<td align="right">
   .1779
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .72
</td>
<td align="right">
     .35
</td>
<td align="right">
   .0011
</td>
<td align="right">
  126
</td>
<td align="right">
   .1325
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.46
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  262
</td>
<td align="right">
  -.1539
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.09
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  247
</td>
<td align="right">
  -.0246
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.11
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  114
</td>
<td align="right">
  -.0143
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .69
</td>
<td align="right">
     .15
</td>
<td align="right">
   .0002
</td>
<td align="right">
  161
</td>
<td align="right">
   .0326
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 1653
</td>
<td align="right">
   .5226
</td>
</tr>
</table>
<br /><hr />
