<h4>Week of: 2011_09_11</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.11
</td>
<td align="right">
  -.0019
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0038
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.69
</td>
<td align="right">
    3.37
</td>
<td align="right">
   .0058
</td>
<td align="right">
   38
</td>
<td align="right">
   .2214
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.49
</td>
<td align="right">
  -.0074
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0149
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   42
</td>
<td align="right">
   .2027
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .83
</td>
<td align="right">
  190.73
</td>
<td align="right">
   .0048
</td>
<td align="right">
    2
</td>
<td align="right">
   .0097
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.67
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0016
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
     .35
</td>
<td align="right">
   .0011
</td>
<td align="right">
    4
</td>
<td align="right">
   .0043
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   12
</td>
<td align="right">
   .0124
</td>
</tr>
</table>
<br /><hr />
