<h4>Week of: 2011_08_07</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.97
</td>
<td align="right">
  -.0051
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0410
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.06
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   26
</td>
<td align="right">
  -.0092
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .24
</td>
<td align="right">
   .0045
</td>
<td align="right">
   23
</td>
<td align="right">
   .1025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.08
</td>
<td align="right">
  -.0034
</td>
<td align="right">
   21
</td>
<td align="right">
  -.0705
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.02
</td>
<td align="right">
   .0000
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .14
</td>
<td align="right">
   .0004
</td>
<td align="right">
   35
</td>
<td align="right">
   .0142
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.81
</td>
<td align="right">
  -.0017
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0051
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .27
</td>
<td align="right">
   .0007
</td>
<td align="right">
   21
</td>
<td align="right">
   .0139
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.69
</td>
<td align="right">
  -.0059
</td>
<td align="right">
   57
</td>
<td align="right">
  -.3353
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.04
</td>
<td align="right">
  -.0028
</td>
<td align="right">
   15
</td>
<td align="right">
  -.0425
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  219
</td>
<td align="right">
  -.3734
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.03
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   30
</td>
<td align="right">
  -.0034
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .70
</td>
<td align="right">
     .75
</td>
<td align="right">
   .0053
</td>
<td align="right">
   39
</td>
<td align="right">
   .2078
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .64
</td>
<td align="right">
     .65
</td>
<td align="right">
   .0048
</td>
<td align="right">
   24
</td>
<td align="right">
   .1145
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.12
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.21
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   52
</td>
<td align="right">
  -.0173
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
     .16
</td>
<td align="right">
   .0012
</td>
<td align="right">
   26
</td>
<td align="right">
   .0317
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .68
</td>
<td align="right">
     .42
</td>
<td align="right">
   .0016
</td>
<td align="right">
   50
</td>
<td align="right">
   .0801
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.39
</td>
<td align="right">
  -.0017
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0120
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .64
</td>
<td align="right">
     .14
</td>
<td align="right">
   .0006
</td>
<td align="right">
    7
</td>
<td align="right">
   .0042
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.14
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   39
</td>
<td align="right">
  -.0457
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  277
</td>
<td align="right">
   .3593
</td>
</tr>
</table>
<br /><hr />
