<h4>Week of: 2011_03_13</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.08
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   32
</td>
<td align="right">
  -.0082
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.58
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  649
</td>
<td align="right">
 -1.5092
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.13
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  276
</td>
<td align="right">
  -.0723
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.03
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  351
</td>
<td align="right">
 -1.0601
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.34
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   79
</td>
<td align="right">
  -.0184
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.25
</td>
<td align="right">
  -.0034
</td>
<td align="right">
   32
</td>
<td align="right">
  -.1080
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.85
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   70
</td>
<td align="right">
  -.1080
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.17
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  129
</td>
<td align="right">
  -.0666
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.41
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  467
</td>
<td align="right">
  -.2379
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.23
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  328
</td>
<td align="right">
  -.6115
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .15
</td>
<td align="right">
   .0010
</td>
<td align="right">
  667
</td>
<td align="right">
   .6666
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 3080
</td>
<td align="right">
 -3.1336
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
     .67
</td>
<td align="right">
   .0026
</td>
<td align="right">
   82
</td>
<td align="right">
   .2091
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .72
</td>
<td align="right">
     .26
</td>
<td align="right">
   .0010
</td>
<td align="right">
  502
</td>
<td align="right">
   .5124
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .72
</td>
<td align="right">
    1.12
</td>
<td align="right">
   .0024
</td>
<td align="right">
  230
</td>
<td align="right">
   .5590
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .63
</td>
<td align="right">
     .77
</td>
<td align="right">
   .0038
</td>
<td align="right">
  187
</td>
<td align="right">
   .7107
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .67
</td>
<td align="right">
     .72
</td>
<td align="right">
   .0012
</td>
<td align="right">
  419
</td>
<td align="right">
   .4832
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .68
</td>
<td align="right">
     .54
</td>
<td align="right">
   .0014
</td>
<td align="right">
  172
</td>
<td align="right">
   .2459
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
     .64
</td>
<td align="right">
   .0011
</td>
<td align="right">
  156
</td>
<td align="right">
   .1746
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.02
</td>
<td align="right">
   .0017
</td>
<td align="right">
  237
</td>
<td align="right">
   .3961
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .63
</td>
<td align="right">
     .68
</td>
<td align="right">
   .0019
</td>
<td align="right">
  408
</td>
<td align="right">
   .7696
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .63
</td>
<td align="right">
   14.24
</td>
<td align="right">
   .0037
</td>
<td align="right">
   16
</td>
<td align="right">
   .0586
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.07
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0264
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 2425
</td>
<td align="right">
  4.0928
</td>
</tr>
</table>
<br /><hr />
