<h4>Week of: 2011_04_17</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.14
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   74
</td>
<td align="right">
  -.0118
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .92
</td>
<td align="right">
   .0007
</td>
<td align="right">
   16
</td>
<td align="right">
   .0114
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.18
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0032
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .07
</td>
<td align="right">
   .0001
</td>
<td align="right">
   73
</td>
<td align="right">
   .0056
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.64
</td>
<td align="right">
   .0014
</td>
<td align="right">
   11
</td>
<td align="right">
   .0157
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.71
</td>
<td align="right">
  -.0032
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0779
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.08
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0034
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.38
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0020
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .28
</td>
<td align="right">
   .0003
</td>
<td align="right">
  106
</td>
<td align="right">
   .0334
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .92
</td>
<td align="right">
   .0004
</td>
<td align="right">
    4
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.31
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   34
</td>
<td align="right">
  -.0171
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  374
</td>
<td align="right">
  -.0475
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.24
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   94
</td>
<td align="right">
  -.0445
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .67
</td>
<td align="right">
     .32
</td>
<td align="right">
   .0008
</td>
<td align="right">
   40
</td>
<td align="right">
   .0324
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.92
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0119
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.73
</td>
<td align="right">
  -.0014
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0055
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .61
</td>
<td align="right">
     .46
</td>
<td align="right">
   .0016
</td>
<td align="right">
   24
</td>
<td align="right">
   .0380
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.09
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0050
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .73
</td>
<td align="right">
     .33
</td>
<td align="right">
   .0007
</td>
<td align="right">
  106
</td>
<td align="right">
   .0759
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .60
</td>
<td align="right">
     .43
</td>
<td align="right">
   .0010
</td>
<td align="right">
   24
</td>
<td align="right">
   .0230
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .59
</td>
<td align="right">
     .23
</td>
<td align="right">
   .0002
</td>
<td align="right">
    6
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  326
</td>
<td align="right">
   .1036
</td>
</tr>
</table>
<br /><hr />
