<h4>Week of: 2011_08_28</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -8.54
</td>
<td align="right">
  -.0040
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0080
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .64
</td>
<td align="right">
   .0009
</td>
<td align="right">
    2
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.79
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0053
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .07
</td>
<td align="right">
   .0001
</td>
<td align="right">
    6
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.58
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   13
</td>
<td align="right">
  -.0197
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.68
</td>
<td align="right">
  -.0008
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0070
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .70
</td>
<td align="right">
   .0015
</td>
<td align="right">
    7
</td>
<td align="right">
   .0107
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.25
</td>
<td align="right">
   .0019
</td>
<td align="right">
    7
</td>
<td align="right">
   .0136
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   49
</td>
<td align="right">
  -.0132
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
     .57
</td>
<td align="right">
   .0010
</td>
<td align="right">
   29
</td>
<td align="right">
   .0293
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.14
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.19
</td>
<td align="right">
   .0014
</td>
<td align="right">
    8
</td>
<td align="right">
   .0112
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .67
</td>
<td align="right">
    3.90
</td>
<td align="right">
   .0044
</td>
<td align="right">
    2
</td>
<td align="right">
   .0089
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .64
</td>
<td align="right">
     .76
</td>
<td align="right">
   .0007
</td>
<td align="right">
   40
</td>
<td align="right">
   .0283
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
     .62
</td>
<td align="right">
   .0017
</td>
<td align="right">
    6
</td>
<td align="right">
   .0099
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
     .52
</td>
<td align="right">
   .0006
</td>
<td align="right">
   54
</td>
<td align="right">
   .0342
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .69
</td>
<td align="right">
   -3.24
</td>
<td align="right">
  -.0076
</td>
<td align="right">
   13
</td>
<td align="right">
  -.0991
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  158
</td>
<td align="right">
   .0207
</td>
</tr>
</table>
<br /><hr />
