<h4>Week of: 2011_05_29</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.14
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   17
</td>
<td align="right">
  -.0037
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.52
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0004
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .70
</td>
<td align="right">
   .0014
</td>
<td align="right">
   53
</td>
<td align="right">
   .0728
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.40
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   29
</td>
<td align="right">
  -.0225
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.31
</td>
<td align="right">
   .0012
</td>
<td align="right">
   21
</td>
<td align="right">
   .0255
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .14
</td>
<td align="right">
   .0002
</td>
<td align="right">
   54
</td>
<td align="right">
   .0105
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  176
</td>
<td align="right">
   .0822
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.12
</td>
<td align="right">
   .0025
</td>
<td align="right">
    6
</td>
<td align="right">
   .0148
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .59
</td>
<td align="right">
     .51
</td>
<td align="right">
   .0008
</td>
<td align="right">
   15
</td>
<td align="right">
   .0116
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .55
</td>
<td align="right">
    2.29
</td>
<td align="right">
   .0039
</td>
<td align="right">
    3
</td>
<td align="right">
   .0118
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .67
</td>
<td align="right">
     .61
</td>
<td align="right">
   .0014
</td>
<td align="right">
    3
</td>
<td align="right">
   .0041
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.14
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   30
</td>
<td align="right">
  -.0600
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
     .21
</td>
<td align="right">
   .0007
</td>
<td align="right">
   18
</td>
<td align="right">
   .0130
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.41
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   33
</td>
<td align="right">
  -.0051
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .59
</td>
<td align="right">
     .23
</td>
<td align="right">
   .0003
</td>
<td align="right">
    5
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .58
</td>
<td align="right">
   21.90
</td>
<td align="right">
   .0017
</td>
<td align="right">
    2
</td>
<td align="right">
   .0034
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  115
</td>
<td align="right">
  -.0051
</td>
</tr>
</table>
<br /><hr />
