<h4>Week of: 2011_04_03</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
AVG_DANBOT_SCORE
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
AVG_5HR_N_GAIN
</th>
<th scope="col">
PREDICTION_COUNT
</th>
<th scope="col">
SUM_5HR_N_GAIN
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
       -.6
</td>
<td align="right">
       .69
</td>
<td align="right">
     .0013
</td>
<td align="right">
         6
</td>
<td align="right">
     .0079
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
      -.62
</td>
<td align="right">
    -43.45
</td>
<td align="right">
    -.0039
</td>
<td align="right">
         2
</td>
<td align="right">
    -.0077
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
      -.62
</td>
<td align="right">
     -1.42
</td>
<td align="right">
    -.0015
</td>
<td align="right">
         8
</td>
<td align="right">
    -.0122
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
      -.65
</td>
<td align="right">
      -.45
</td>
<td align="right">
    -.0007
</td>
<td align="right">
        25
</td>
<td align="right">
     -.017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
       -.6
</td>
<td align="right">
      -1.3
</td>
<td align="right">
    -.0005
</td>
<td align="right">
         5
</td>
<td align="right">
    -.0027
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
AVG_DANBOT_SCORE
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
AVG_5HR_N_GAIN
</th>
<th scope="col">
PREDICTION_COUNT
</th>
<th scope="col">
SUM_5HR_N_GAIN
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
       .65
</td>
<td align="right">
       .42
</td>
<td align="right">
     .0018
</td>
<td align="right">
        82
</td>
<td align="right">
     .1503
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
       .63
</td>
<td align="right">
      -.66
</td>
<td align="right">
     -.001
</td>
<td align="right">
        23
</td>
<td align="right">
     -.022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
        .6
</td>
<td align="right">
        .4
</td>
<td align="right">
     .0011
</td>
<td align="right">
         6
</td>
<td align="right">
     .0063
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
       .64
</td>
<td align="right">
     -2.22
</td>
<td align="right">
    -.0023
</td>
<td align="right">
        18
</td>
<td align="right">
    -.0416
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
       .61
</td>
<td align="right">
      1.75
</td>
<td align="right">
     .0019
</td>
<td align="right">
        43
</td>
<td align="right">
     .0832
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
       .65
</td>
<td align="right">
      2.59
</td>
<td align="right">
     .0027
</td>
<td align="right">
        13
</td>
<td align="right">
     .0357
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
       .64
</td>
<td align="right">
      -.97
</td>
<td align="right">
    -.0009
</td>
<td align="right">
        39
</td>
<td align="right">
    -.0348
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
       .68
</td>
<td align="right">
      -.52
</td>
<td align="right">
    -.0009
</td>
<td align="right">
        17
</td>
<td align="right">
    -.0145
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
       .59
</td>
<td align="right">
       .69
</td>
<td align="right">
     .0019
</td>
<td align="right">
         3
</td>
<td align="right">
     .0057
</td>
</tr>
</table>
<br /><hr />
