<h4>Week of: 2011_07_31</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.44
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  175
</td>
<td align="right">
  -.3810
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.93
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  105
</td>
<td align="right">
  -.0838
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.29
</td>
<td align="right">
   .0017
</td>
<td align="right">
   46
</td>
<td align="right">
   .0799
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.43
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  152
</td>
<td align="right">
  -.0781
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.76
</td>
<td align="right">
    -.46
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  165
</td>
<td align="right">
  -.1652
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.01
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   80
</td>
<td align="right">
  -.1270
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.75
</td>
<td align="right">
    -.49
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  311
</td>
<td align="right">
  -.3337
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.93
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   80
</td>
<td align="right">
  -.2120
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 1114
</td>
<td align="right">
 -1.3009
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .69
</td>
<td align="right">
########
</td>
<td align="right">
   .0009
</td>
<td align="right">
    8
</td>
<td align="right">
   .0074
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .70
</td>
<td align="right">
     .00
</td>
<td align="right">
   .0000
</td>
<td align="right">
   75
</td>
<td align="right">
   .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .70
</td>
<td align="right">
     .51
</td>
<td align="right">
   .0008
</td>
<td align="right">
  429
</td>
<td align="right">
   .3399
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .58
</td>
<td align="right">
########
</td>
<td align="right">
   .0039
</td>
<td align="right">
    8
</td>
<td align="right">
   .0313
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.08
</td>
<td align="right">
  -.0067
</td>
<td align="right">
   75
</td>
<td align="right">
  -.5029
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.99
</td>
<td align="right">
   .0016
</td>
<td align="right">
   80
</td>
<td align="right">
   .1255
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .57
</td>
<td align="right">
    2.99
</td>
<td align="right">
   .0029
</td>
<td align="right">
   24
</td>
<td align="right">
   .0686
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.30
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   61
</td>
<td align="right">
  -.0211
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .70
</td>
<td align="right">
    4.34
</td>
<td align="right">
   .0023
</td>
<td align="right">
   44
</td>
<td align="right">
   .0991
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  804
</td>
<td align="right">
   .1478
</td>
</tr>
</table>
<br /><hr />
