<h4>Week of: 2011_09_11</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.45
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   36
</td>
<td align="right">
  -.0869
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.19
</td>
<td align="right">
   .0014
</td>
<td align="right">
    5
</td>
<td align="right">
   .0072
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.68
</td>
<td align="right">
    2.26
</td>
<td align="right">
   .0052
</td>
<td align="right">
   45
</td>
<td align="right">
   .2355
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .74
</td>
<td align="right">
   .0010
</td>
<td align="right">
   17
</td>
<td align="right">
   .0171
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.29
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   39
</td>
<td align="right">
  -.0458
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.69
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   37
</td>
<td align="right">
  -.0319
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.90
</td>
<td align="right">
  -.0031
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0155
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.17
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   31
</td>
<td align="right">
  -.0116
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  215
</td>
<td align="right">
   .0681
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
     .34
</td>
<td align="right">
   .0006
</td>
<td align="right">
    9
</td>
<td align="right">
   .0054
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
     .74
</td>
<td align="right">
   .0025
</td>
<td align="right">
   15
</td>
<td align="right">
   .0374
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .74
</td>
<td align="right">
     .41
</td>
<td align="right">
   .0012
</td>
<td align="right">
   69
</td>
<td align="right">
   .0858
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.57
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0031
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.28
</td>
<td align="right">
   .0022
</td>
<td align="right">
   24
</td>
<td align="right">
   .0525
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .68
</td>
<td align="right">
     .16
</td>
<td align="right">
   .0006
</td>
<td align="right">
   41
</td>
<td align="right">
   .0244
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .61
</td>
<td align="right">
     .72
</td>
<td align="right">
   .0035
</td>
<td align="right">
    5
</td>
<td align="right">
   .0176
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .57
</td>
<td align="right">
    2.66
</td>
<td align="right">
   .0023
</td>
<td align="right">
    2
</td>
<td align="right">
   .0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.25
</td>
<td align="right">
  -.0007
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0022
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
     .71
</td>
<td align="right">
   .0013
</td>
<td align="right">
    8
</td>
<td align="right">
   .0103
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  184
</td>
<td align="right">
   .2328
</td>
</tr>
</table>
<br /><hr />
