<h4>Week of: 2011_07_24</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.11
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0127
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.71
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0184
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .48
</td>
<td align="right">
   .0010
</td>
<td align="right">
   15
</td>
<td align="right">
   .0147
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .34
</td>
<td align="right">
   .0010
</td>
<td align="right">
    9
</td>
<td align="right">
   .0086
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.25
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0185
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.05
</td>
<td align="right">
   .0017
</td>
<td align="right">
    2
</td>
<td align="right">
   .0033
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.22
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   52
</td>
<td align="right">
  -.0177
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.36
</td>
<td align="right">
  -.0028
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0536
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  129
</td>
<td align="right">
  -.0943
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
     .41
</td>
<td align="right">
   .0003
</td>
<td align="right">
   13
</td>
<td align="right">
   .0044
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .57
</td>
<td align="right">
    4.64
</td>
<td align="right">
   .0024
</td>
<td align="right">
    2
</td>
<td align="right">
   .0048
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.20
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   68
</td>
<td align="right">
  -.0315
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.03
</td>
<td align="right">
   .0000
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .68
</td>
<td align="right">
     .24
</td>
<td align="right">
   .0003
</td>
<td align="right">
   48
</td>
<td align="right">
   .0153
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.40
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
   -2.39
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0237
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.34
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0091
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .68
</td>
<td align="right">
     .16
</td>
<td align="right">
   .0004
</td>
<td align="right">
    2
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
     .45
</td>
<td align="right">
   .0003
</td>
<td align="right">
    7
</td>
<td align="right">
   .0024
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  186
</td>
<td align="right">
  -.0388
</td>
</tr>
</table>
<br /><hr />
