<h4>Week of: 2011_08_28</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.09
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0017
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .64
</td>
<td align="right">
   .0009
</td>
<td align="right">
    2
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.79
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0053
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.81
</td>
<td align="right">
  -.0037
</td>
<td align="right">
   34
</td>
<td align="right">
  -.1268
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.47
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   14
</td>
<td align="right">
  -.0238
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.95
</td>
<td align="right">
  -.0016
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0082
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.68
</td>
<td align="right">
  -.0008
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0070
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .70
</td>
<td align="right">
   .0015
</td>
<td align="right">
    7
</td>
<td align="right">
   .0107
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -4.19
</td>
<td align="right">
  -.0076
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0151
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .39
</td>
<td align="right">
   .0008
</td>
<td align="right">
   26
</td>
<td align="right">
   .0199
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  109
</td>
<td align="right">
  -.1555
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
     .43
</td>
<td align="right">
   .0008
</td>
<td align="right">
   38
</td>
<td align="right">
   .0299
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .60
</td>
<td align="right">
     .17
</td>
<td align="right">
   .0005
</td>
<td align="right">
    7
</td>
<td align="right">
   .0037
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.33
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   38
</td>
<td align="right">
  -.0272
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.60
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   22
</td>
<td align="right">
  -.0450
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .64
</td>
<td align="right">
     .77
</td>
<td align="right">
   .0007
</td>
<td align="right">
   41
</td>
<td align="right">
   .0291
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
     .57
</td>
<td align="right">
   .0014
</td>
<td align="right">
    7
</td>
<td align="right">
   .0101
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.08
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   78
</td>
<td align="right">
  -.0121
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .67
</td>
<td align="right">
     .05
</td>
<td align="right">
   .0000
</td>
<td align="right">
    6
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.72
</td>
<td align="right">
  -.0090
</td>
<td align="right">
   27
</td>
<td align="right">
  -.2418
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
     .97
</td>
<td align="right">
   .0004
</td>
<td align="right">
    5
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  269
</td>
<td align="right">
  -.2510
</td>
</tr>
</table>
<br /><hr />
