<h4>Week of: 2011_08_07</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.37
</td>
<td align="right">
   .0021
</td>
<td align="right">
    5
</td>
<td align="right">
   .0106
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.64
</td>
<td align="right">
  -.0082
</td>
<td align="right">
   39
</td>
<td align="right">
  -.3185
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -4.27
</td>
<td align="right">
  -.0022
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0135
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   50
</td>
<td align="right">
  -.3214
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .57
</td>
<td align="right">
  -11.40
</td>
<td align="right">
  -.0141
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0282
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .61
</td>
<td align="right">
    4.47
</td>
<td align="right">
   .0070
</td>
<td align="right">
    2
</td>
<td align="right">
   .0140
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .58
</td>
<td align="right">
     .13
</td>
<td align="right">
   .0002
</td>
<td align="right">
    2
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .64
</td>
<td align="right">
   -3.08
</td>
<td align="right">
  -.0028
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0167
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .59
</td>
<td align="right">
     .64
</td>
<td align="right">
   .0013
</td>
<td align="right">
    3
</td>
<td align="right">
   .0040
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .61
</td>
<td align="right">
    5.42
</td>
<td align="right">
   .0037
</td>
<td align="right">
    3
</td>
<td align="right">
   .0111
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0153
</td>
</tr>
</table>
<br /><hr />
