<h4>Week of: 2011_08_28</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.69
</td>
<td align="right">
  -.0019
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0037
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.93
</td>
<td align="right">
   .0030
</td>
<td align="right">
    4
</td>
<td align="right">
   .0121
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    6
</td>
<td align="right">
   .0084
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .61
</td>
<td align="right">
    3.66
</td>
<td align="right">
   .0021
</td>
<td align="right">
    4
</td>
<td align="right">
   .0083
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .65
</td>
<td align="right">
     .92
</td>
<td align="right">
   .0008
</td>
<td align="right">
   33
</td>
<td align="right">
   .0271
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
     .63
</td>
<td align="right">
   .0025
</td>
<td align="right">
    3
</td>
<td align="right">
   .0075
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.04
</td>
<td align="right">
   .0017
</td>
<td align="right">
   13
</td>
<td align="right">
   .0220
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   53
</td>
<td align="right">
   .0649
</td>
</tr>
</table>
<br /><hr />
