<h4>Week of: 2011_09_04</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -9.19
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0064
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.47
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0034
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.04
</td>
<td align="right">
   .0436
</td>
<td align="right">
    7
</td>
<td align="right">
   .3051
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.74
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0283
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.24
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   30
</td>
<td align="right">
  -.0532
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.86
</td>
<td align="right">
  -.0054
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0864
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.03
</td>
<td align="right">
  -.0036
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0143
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   74
</td>
<td align="right">
   .1131
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .63
</td>
<td align="right">
     .25
</td>
<td align="right">
   .0005
</td>
<td align="right">
   14
</td>
<td align="right">
   .0067
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .58
</td>
<td align="right">
     .74
</td>
<td align="right">
   .0358
</td>
<td align="right">
    3
</td>
<td align="right">
   .1073
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   17
</td>
<td align="right">
   .1140
</td>
</tr>
</table>
<br /><hr />
