<h4>Week of: 2011_02_27</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
  -10.85
</td>
<td align="right">
  -.0063
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0379
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.62
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   72
</td>
<td align="right">
  -.0605
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.03
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   22
</td>
<td align="right">
  -.0019
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .05
</td>
<td align="right">
   .0001
</td>
<td align="right">
   33
</td>
<td align="right">
   .0028
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.60
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0188
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.08
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   39
</td>
<td align="right">
  -.0111
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.13
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   40
</td>
<td align="right">
  -.0101
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.26
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   23
</td>
<td align="right">
  -.0078
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .72
</td>
<td align="right">
   .0005
</td>
<td align="right">
   55
</td>
<td align="right">
   .0265
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .65
</td>
<td align="right">
   .0004
</td>
<td align="right">
   10
</td>
<td align="right">
   .0036
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.96
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   31
</td>
<td align="right">
  -.0210
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  349
</td>
<td align="right">
  -.1362
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .67
</td>
<td align="right">
     .38
</td>
<td align="right">
   .0012
</td>
<td align="right">
   45
</td>
<td align="right">
   .0521
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .68
</td>
<td align="right">
     .66
</td>
<td align="right">
   .0013
</td>
<td align="right">
   74
</td>
<td align="right">
   .0991
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .67
</td>
<td align="right">
     .56
</td>
<td align="right">
   .0021
</td>
<td align="right">
  104
</td>
<td align="right">
   .2151
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .67
</td>
<td align="right">
     .36
</td>
<td align="right">
   .0011
</td>
<td align="right">
   52
</td>
<td align="right">
   .0582
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .69
</td>
<td align="right">
   13.24
</td>
<td align="right">
   .0065
</td>
<td align="right">
   15
</td>
<td align="right">
   .0980
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .69
</td>
<td align="right">
     .61
</td>
<td align="right">
   .0024
</td>
<td align="right">
   33
</td>
<td align="right">
   .0803
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .63
</td>
<td align="right">
     .68
</td>
<td align="right">
   .0012
</td>
<td align="right">
   34
</td>
<td align="right">
   .0403
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
     .62
</td>
<td align="right">
   .0013
</td>
<td align="right">
   19
</td>
<td align="right">
   .0242
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.11
</td>
<td align="right">
   .0028
</td>
<td align="right">
    7
</td>
<td align="right">
   .0199
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .65
</td>
<td align="right">
    6.81
</td>
<td align="right">
   .0055
</td>
<td align="right">
    9
</td>
<td align="right">
   .0499
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.05
</td>
<td align="right">
   .0038
</td>
<td align="right">
   10
</td>
<td align="right">
   .0381
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  402
</td>
<td align="right">
   .7752
</td>
</tr>
</table>
<br /><hr />
