<h4>Week of: 2011_07_31</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .01
</td>
<td align="right">
   .0000
</td>
<td align="right">
   19
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.66
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   27
</td>
<td align="right">
  -.0413
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .74
</td>
<td align="right">
   .0024
</td>
<td align="right">
   12
</td>
<td align="right">
   .0287
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.70
</td>
<td align="right">
  -.0032
</td>
<td align="right">
   63
</td>
<td align="right">
  -.1990
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .73
</td>
<td align="right">
   .0023
</td>
<td align="right">
    5
</td>
<td align="right">
   .0114
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.75
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   17
</td>
<td align="right">
  -.0191
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.60
</td>
<td align="right">
  -.0037
</td>
<td align="right">
   53
</td>
<td align="right">
  -.1975
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.96
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0074
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  203
</td>
<td align="right">
  -.4236
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
     .20
</td>
<td align="right">
   .0005
</td>
<td align="right">
    7
</td>
<td align="right">
   .0036
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .69
</td>
<td align="right">
     .52
</td>
<td align="right">
   .0015
</td>
<td align="right">
   45
</td>
<td align="right">
   .0690
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .62
</td>
<td align="right">
     .83
</td>
<td align="right">
   .0020
</td>
<td align="right">
    4
</td>
<td align="right">
   .0081
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .58
</td>
<td align="right">
     .89
</td>
<td align="right">
   .0011
</td>
<td align="right">
    4
</td>
<td align="right">
   .0042
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .74
</td>
<td align="right">
    -.26
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   21
</td>
<td align="right">
  -.0223
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.26
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.05
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   44
</td>
<td align="right">
  -.0125
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  136
</td>
<td align="right">
   .0493
</td>
</tr>
</table>
<br /><hr />
