<h4>Week of: 2011_05_22</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.82
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  184
</td>
<td align="right">
  -.1869
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.55
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  368
</td>
<td align="right">
  -.3147
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.06
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   56
</td>
<td align="right">
  -.0034
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.45
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  475
</td>
<td align="right">
  -.4708
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.43
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   34
</td>
<td align="right">
  -.0654
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.71
</td>
<td align="right">
    -.26
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  176
</td>
<td align="right">
  -.1510
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.35
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  152
</td>
<td align="right">
  -.1502
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.19
</td>
<td align="right">
   .0008
</td>
<td align="right">
  117
</td>
<td align="right">
   .0965
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.39
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0057
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.56
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  190
</td>
<td align="right">
  -.7683
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.30
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  192
</td>
<td align="right">
  -.5574
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 1960
</td>
<td align="right">
 -2.5773
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.00
</td>
<td align="right">
   .0025
</td>
<td align="right">
   80
</td>
<td align="right">
   .2009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .75
</td>
<td align="right">
     .61
</td>
<td align="right">
   .0010
</td>
<td align="right">
  265
</td>
<td align="right">
   .2640
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .63
</td>
<td align="right">
     .63
</td>
<td align="right">
   .0006
</td>
<td align="right">
  295
</td>
<td align="right">
   .1893
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .62
</td>
<td align="right">
     .78
</td>
<td align="right">
   .0015
</td>
<td align="right">
   43
</td>
<td align="right">
   .0649
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .61
</td>
<td align="right">
     .56
</td>
<td align="right">
   .0006
</td>
<td align="right">
  152
</td>
<td align="right">
   .0860
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .68
</td>
<td align="right">
     .38
</td>
<td align="right">
   .0007
</td>
<td align="right">
  421
</td>
<td align="right">
   .3061
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .70
</td>
<td align="right">
     .68
</td>
<td align="right">
   .0017
</td>
<td align="right">
  222
</td>
<td align="right">
   .3735
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
     .96
</td>
<td align="right">
   .0018
</td>
<td align="right">
  147
</td>
<td align="right">
   .2698
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .63
</td>
<td align="right">
     .51
</td>
<td align="right">
   .0004
</td>
<td align="right">
  304
</td>
<td align="right">
   .1232
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.37
</td>
<td align="right">
   .0009
</td>
<td align="right">
  129
</td>
<td align="right">
   .1210
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
     .21
</td>
<td align="right">
   .0001
</td>
<td align="right">
   72
</td>
<td align="right">
   .0066
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 2130
</td>
<td align="right">
  2.0053
</td>
</tr>
</table>
<br /><hr />
