<h4>Week of: 2011_09_25</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.40
</td>
<td align="right">
  -.0073
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0584
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -7.19
</td>
<td align="right">
  -.0098
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0590
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.72
</td>
<td align="right">
  -40.91
</td>
<td align="right">
  -.0026
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0052
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.55
</td>
<td align="right">
  -.0041
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0124
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   19
</td>
<td align="right">
  -.1350
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.50
</td>
<td align="right">
   .0111
</td>
<td align="right">
   12
</td>
<td align="right">
   .1338
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .68
</td>
<td align="right">
    2.91
</td>
<td align="right">
   .0089
</td>
<td align="right">
   18
</td>
<td align="right">
   .1603
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .76
</td>
<td align="right">
    3.10
</td>
<td align="right">
   .0089
</td>
<td align="right">
   15
</td>
<td align="right">
   .1331
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   45
</td>
<td align="right">
   .4272
</td>
</tr>
</table>
<br /><hr />
