<h4>Week of: 2011_09_04</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .19
</td>
<td align="right">
   .0004
</td>
<td align="right">
   11
</td>
<td align="right">
   .0040
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .96
</td>
<td align="right">
   .0019
</td>
<td align="right">
   59
</td>
<td align="right">
   .1114
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.60
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   17
</td>
<td align="right">
  -.0208
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .75
</td>
<td align="right">
   .0302
</td>
<td align="right">
   10
</td>
<td align="right">
   .3021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.54
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0617
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.27
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   38
</td>
<td align="right">
  -.0664
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .06
</td>
<td align="right">
   .0003
</td>
<td align="right">
   63
</td>
<td align="right">
   .0195
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.78
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0212
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.69
</td>
<td align="right">
  -10.27
</td>
<td align="right">
  -.0007
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .74
</td>
<td align="right">
   .0027
</td>
<td align="right">
    5
</td>
<td align="right">
   .0133
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  240
</td>
<td align="right">
   .2787
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .68
</td>
<td align="right">
    4.34
</td>
<td align="right">
   .0032
</td>
<td align="right">
   15
</td>
<td align="right">
   .0476
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .66
</td>
<td align="right">
     .80
</td>
<td align="right">
   .0013
</td>
<td align="right">
   42
</td>
<td align="right">
   .0559
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .61
</td>
<td align="right">
     .43
</td>
<td align="right">
   .0104
</td>
<td align="right">
   13
</td>
<td align="right">
   .1350
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .61
</td>
<td align="right">
     .92
</td>
<td align="right">
   .0012
</td>
<td align="right">
    4
</td>
<td align="right">
   .0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.18
</td>
<td align="right">
   .0020
</td>
<td align="right">
    5
</td>
<td align="right">
   .0098
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
     .13
</td>
<td align="right">
   .0002
</td>
<td align="right">
   14
</td>
<td align="right">
   .0031
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
     .39
</td>
<td align="right">
   .0004
</td>
<td align="right">
    6
</td>
<td align="right">
   .0025
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.00
</td>
<td align="right">
   .0013
</td>
<td align="right">
   14
</td>
<td align="right">
   .0175
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.29
</td>
<td align="right">
   .0030
</td>
<td align="right">
   10
</td>
<td align="right">
   .0301
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  123
</td>
<td align="right">
   .3063
</td>
</tr>
</table>
<br /><hr />
