<h4>Week of: 2011_09_11</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.71
</td>
<td align="right">
  -.0045
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0713
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.58
</td>
<td align="right">
    3.58
</td>
<td align="right">
   .0022
</td>
<td align="right">
    3
</td>
<td align="right">
   .0065
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.70
</td>
<td align="right">
    3.24
</td>
<td align="right">
   .0058
</td>
<td align="right">
   37
</td>
<td align="right">
   .2164
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .73
</td>
<td align="right">
   .0011
</td>
<td align="right">
   15
</td>
<td align="right">
   .0158
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.65
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   36
</td>
<td align="right">
  -.0707
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.41
</td>
<td align="right">
  -.0007
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0057
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.19
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   28
</td>
<td align="right">
  -.0126
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  143
</td>
<td align="right">
   .0784
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.51
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0005
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .59
</td>
<td align="right">
     .51
</td>
<td align="right">
   .0009
</td>
<td align="right">
    4
</td>
<td align="right">
   .0037
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .83
</td>
<td align="right">
  190.73
</td>
<td align="right">
   .0048
</td>
<td align="right">
    2
</td>
<td align="right">
   .0097
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.57
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0031
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .73
</td>
<td align="right">
     .64
</td>
<td align="right">
   .0009
</td>
<td align="right">
    8
</td>
<td align="right">
   .0075
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.05
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   29
</td>
<td align="right">
  -.0056
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .63
</td>
<td align="right">
     .12
</td>
<td align="right">
   .0009
</td>
<td align="right">
    2
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .57
</td>
<td align="right">
    2.66
</td>
<td align="right">
   .0023
</td>
<td align="right">
    2
</td>
<td align="right">
   .0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .55
</td>
<td align="right">
    6.60
</td>
<td align="right">
   .0009
</td>
<td align="right">
    2
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
     .57
</td>
<td align="right">
   .0015
</td>
<td align="right">
    4
</td>
<td align="right">
   .0062
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   63
</td>
<td align="right">
   .0262
</td>
</tr>
</table>
<br /><hr />
