<h4>Week of: 2011_03_13</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
AVG_DANBOT_SCORE
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
AVG_5HR_N_GAIN
</th>
<th scope="col">
PREDICTION_COUNT
</th>
<th scope="col">
SUM_5HR_N_GAIN
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
       -.6
</td>
<td align="right">
      -.24
</td>
<td align="right">
    -.0021
</td>
<td align="right">
         3
</td>
<td align="right">
    -.0064
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
      -.73
</td>
<td align="right">
      -.46
</td>
<td align="right">
     -.003
</td>
<td align="right">
        62
</td>
<td align="right">
    -.1851
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
      -.68
</td>
<td align="right">
       .38
</td>
<td align="right">
     .0009
</td>
<td align="right">
        63
</td>
<td align="right">
      .057
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
      -.65
</td>
<td align="right">
     -1.25
</td>
<td align="right">
    -.0048
</td>
<td align="right">
        61
</td>
<td align="right">
    -.2902
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
      -.64
</td>
<td align="right">
      -.28
</td>
<td align="right">
    -.0007
</td>
<td align="right">
         3
</td>
<td align="right">
    -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
      -.67
</td>
<td align="right">
     -2.18
</td>
<td align="right">
    -.0085
</td>
<td align="right">
        11
</td>
<td align="right">
    -.0935
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
      -.63
</td>
<td align="right">
      -.76
</td>
<td align="right">
    -.0009
</td>
<td align="right">
         3
</td>
<td align="right">
    -.0028
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
      -.62
</td>
<td align="right">
      -.61
</td>
<td align="right">
    -.0014
</td>
<td align="right">
        14
</td>
<td align="right">
    -.0203
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
      -.74
</td>
<td align="right">
     -1.18
</td>
<td align="right">
     -.002
</td>
<td align="right">
        50
</td>
<td align="right">
    -.1003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
      -.63
</td>
<td align="right">
     -1.56
</td>
<td align="right">
    -.0041
</td>
<td align="right">
        68
</td>
<td align="right">
    -.2801
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
      -.67
</td>
<td align="right">
      -.29
</td>
<td align="right">
    -.0021
</td>
<td align="right">
       173
</td>
<td align="right">
    -.3599
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
PAIR
</th>
<th scope="col">
AVG_DANBOT_SCORE
</th>
<th scope="col">
SHARPE_RATIO
</th>
<th scope="col">
AVG_5HR_N_GAIN
</th>
<th scope="col">
PREDICTION_COUNT
</th>
<th scope="col">
SUM_5HR_N_GAIN
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
       .66
</td>
<td align="right">
       .07
</td>
<td align="right">
     .0006
</td>
<td align="right">
        43
</td>
<td align="right">
      .026
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
       .74
</td>
<td align="right">
      1.08
</td>
<td align="right">
     .0062
</td>
<td align="right">
        74
</td>
<td align="right">
     .4625
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
       .67
</td>
<td align="right">
      1.09
</td>
<td align="right">
     .0051
</td>
<td align="right">
        29
</td>
<td align="right">
     .1473
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
       .63
</td>
<td align="right">
       .63
</td>
<td align="right">
     .0047
</td>
<td align="right">
        20
</td>
<td align="right">
     .0935
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
       .65
</td>
<td align="right">
       .38
</td>
<td align="right">
      .001
</td>
<td align="right">
        49
</td>
<td align="right">
     .0504
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
       .67
</td>
<td align="right">
       .51
</td>
<td align="right">
     .0012
</td>
<td align="right">
        35
</td>
<td align="right">
     .0421
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
       .63
</td>
<td align="right">
       .35
</td>
<td align="right">
      .001
</td>
<td align="right">
        28
</td>
<td align="right">
     .0293
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
       .67
</td>
<td align="right">
      1.32
</td>
<td align="right">
     .0027
</td>
<td align="right">
        20
</td>
<td align="right">
     .0542
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
       .62
</td>
<td align="right">
       .85
</td>
<td align="right">
      .004
</td>
<td align="right">
        45
</td>
<td align="right">
     .1793
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
       .61
</td>
<td align="right">
      -.39
</td>
<td align="right">
    -.0009
</td>
<td align="right">
         2
</td>
<td align="right">
    -.0018
</td>
</tr>
</table>
<br /><hr />
