<h4>Week of: 2011_10_23</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.14
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0277
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.85
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0124
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.30
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   12
</td>
<td align="right">
  -.0191
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -5.84
</td>
<td align="right">
  -.0019
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0037
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.83
</td>
<td align="right">
   .0011
</td>
<td align="right">
    2
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   51
</td>
<td align="right">
  -.0608
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .72
</td>
<td align="right">
     .77
</td>
<td align="right">
   .0009
</td>
<td align="right">
   15
</td>
<td align="right">
   .0128
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.12
</td>
<td align="right">
   .0013
</td>
<td align="right">
   13
</td>
<td align="right">
   .0173
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.02
</td>
<td align="right">
   .0038
</td>
<td align="right">
   21
</td>
<td align="right">
   .0793
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
     .66
</td>
<td align="right">
   .0007
</td>
<td align="right">
   26
</td>
<td align="right">
   .0181
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.61
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0004
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   77
</td>
<td align="right">
   .1271
</td>
</tr>
</table>
<br /><hr />
