<h4>Week of: 2011_07_31</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.05
</td>
<td align="right">
  -.0006
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0018
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.51
</td>
<td align="right">
  -.0074
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0441
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .01
</td>
<td align="right">
   .0000
</td>
<td align="right">
   19
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.67
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   28
</td>
<td align="right">
  -.0422
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.71
</td>
<td align="right">
     .81
</td>
<td align="right">
   .0038
</td>
<td align="right">
   14
</td>
<td align="right">
   .0536
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.70
</td>
<td align="right">
  -.0032
</td>
<td align="right">
   63
</td>
<td align="right">
  -.1992
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .86
</td>
<td align="right">
   .0022
</td>
<td align="right">
    7
</td>
<td align="right">
   .0154
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .59
</td>
<td align="right">
   .0019
</td>
<td align="right">
   39
</td>
<td align="right">
   .0739
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.60
</td>
<td align="right">
  -.0040
</td>
<td align="right">
   84
</td>
<td align="right">
  -.3328
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.96
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0074
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  270
</td>
<td align="right">
  -.4840
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
     .21
</td>
<td align="right">
   .0005
</td>
<td align="right">
    8
</td>
<td align="right">
   .0041
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .69
</td>
<td align="right">
     .53
</td>
<td align="right">
   .0015
</td>
<td align="right">
   50
</td>
<td align="right">
   .0750
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.00
</td>
<td align="right">
   .0019
</td>
<td align="right">
    8
</td>
<td align="right">
   .0149
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.51
</td>
<td align="right">
   .0038
</td>
<td align="right">
   10
</td>
<td align="right">
   .0375
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .74
</td>
<td align="right">
    -.26
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   21
</td>
<td align="right">
  -.0220
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.29
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.15
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   51
</td>
<td align="right">
  -.0373
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  159
</td>
<td align="right">
   .0713
</td>
</tr>
</table>
<br /><hr />
