<h4>Week of: 2011_08_21</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -5.13
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0107
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .37
</td>
<td align="right">
   .0010
</td>
<td align="right">
   20
</td>
<td align="right">
   .0202
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.97
</td>
<td align="right">
  -.0020
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0176
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .71
</td>
<td align="right">
   .0003
</td>
<td align="right">
    4
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.72
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   26
</td>
<td align="right">
  -.0170
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   64
</td>
<td align="right">
  -.0239
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.52
</td>
<td align="right">
   .0005
</td>
<td align="right">
    8
</td>
<td align="right">
   .0039
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    8
</td>
<td align="right">
   .0039
</td>
</tr>
</table>
<br /><hr />
