<h4>Week of: 2011_06_20</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   30.54
</td>
<td align="right">
 -.57
</td>
<td align="right">
    1.95
</td>
<td align="right">
    .08
</td>
<td align="right">
    .71
</td>
<td align="right">
    11
</td>
<td align="right">
     7.78
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   28.64
</td>
<td align="right">
 -.68
</td>
<td align="right">
    3.06
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .59
</td>
<td align="right">
     2
</td>
<td align="right">
     1.17
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   29.32
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.25
</td>
<td align="right">
    .05
</td>
<td align="right">
    .53
</td>
<td align="right">
    26
</td>
<td align="right">
    13.83
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   58.09
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.29
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.16
</td>
<td align="right">
    12
</td>
<td align="right">
    -1.93
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
AMX
</td>
<td align="right">
   50.82
</td>
<td align="right">
 -.65
</td>
<td align="right">
-2355.69
</td>
<td align="right">
 -23.73
</td>
<td align="right">
 -23.56
</td>
<td align="right">
     1
</td>
<td align="right">
   -23.56
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   42.29
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.61
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.46
</td>
<td align="right">
    57
</td>
<td align="right">
   -26.30
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.93
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .64
</td>
<td align="right">
    .04
</td>
<td align="right">
    .17
</td>
<td align="right">
    28
</td>
<td align="right">
     4.70
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   32.44
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.37
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.31
</td>
<td align="right">
    16
</td>
<td align="right">
    -4.96
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  126.24
</td>
<td align="right">
 -.58
</td>
<td align="right">
  386.00
</td>
<td align="right">
   1.13
</td>
<td align="right">
   3.86
</td>
<td align="right">
     1
</td>
<td align="right">
     3.86
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   31.65
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.36
</td>
<td align="right">
    .23
</td>
<td align="right">
    .61
</td>
<td align="right">
    12
</td>
<td align="right">
     7.29
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   39.72
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.36
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.31
</td>
<td align="right">
    33
</td>
<td align="right">
   -10.09
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  232.39
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.52
</td>
<td align="right">
   -.55
</td>
<td align="right">
  -1.95
</td>
<td align="right">
    49
</td>
<td align="right">
   -95.35
</td>
<td align="right">
   3.73
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   28.72
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.20
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.12
</td>
<td align="right">
     3
</td>
<td align="right">
     -.36
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   82.66
</td>
<td align="right">
 -.71
</td>
<td align="right">
  178.00
</td>
<td align="right">
   1.58
</td>
<td align="right">
   1.78
</td>
<td align="right">
     1
</td>
<td align="right">
     1.78
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   50.36
</td>
<td align="right">
 -.64
</td>
<td align="right">
  -16.97
</td>
<td align="right">
   -.56
</td>
<td align="right">
   -.24
</td>
<td align="right">
     2
</td>
<td align="right">
     -.48
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.41
</td>
<td align="right">
 -.57
</td>
<td align="right">
    7.78
</td>
<td align="right">
    .09
</td>
<td align="right">
    .06
</td>
<td align="right">
     2
</td>
<td align="right">
      .11
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   34.09
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.52
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.30
</td>
<td align="right">
    29
</td>
<td align="right">
    -8.56
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   38.14
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .61
</td>
<td align="right">
    .04
</td>
<td align="right">
    .31
</td>
<td align="right">
    36
</td>
<td align="right">
    11.06
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   38.82
</td>
<td align="right">
 -.68
</td>
<td align="right">
    1.79
</td>
<td align="right">
    .63
</td>
<td align="right">
    .40
</td>
<td align="right">
     9
</td>
<td align="right">
     3.59
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   36.02
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.43
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.28
</td>
<td align="right">
    14
</td>
<td align="right">
    -3.91
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   47.80
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .73
</td>
<td align="right">
    .10
</td>
<td align="right">
    .50
</td>
<td align="right">
     6
</td>
<td align="right">
     2.98
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   77.11
</td>
<td align="right">
 -.57
</td>
<td align="right">
    6.15
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .77
</td>
<td align="right">
     3
</td>
<td align="right">
     2.32
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   71.31
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.91
</td>
<td align="right">
   -.41
</td>
<td align="right">
  -1.48
</td>
<td align="right">
    10
</td>
<td align="right">
   -14.78
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    7.84
</td>
<td align="right">
 -.66
</td>
<td align="right">
    2.84
</td>
<td align="right">
    .06
</td>
<td align="right">
    .54
</td>
<td align="right">
    75
</td>
<td align="right">
    40.40
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   98.15
</td>
<td align="right">
 -.62
</td>
<td align="right">
   27.77
</td>
<td align="right">
   1.58
</td>
<td align="right">
   4.81
</td>
<td align="right">
     4
</td>
<td align="right">
    19.24
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  119.46
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.48
</td>
<td align="right">
    .11
</td>
<td align="right">
  -1.76
</td>
<td align="right">
    26
</td>
<td align="right">
   -45.67
</td>
<td align="right">
   1.19
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  483.63
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.24
</td>
<td align="right">
   -.10
</td>
<td align="right">
  -1.96
</td>
<td align="right">
    51
</td>
<td align="right">
  -100.01
</td>
<td align="right">
   8.16
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   35.07
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.11
</td>
<td align="right">
    .07
</td>
<td align="right">
    .30
</td>
<td align="right">
    35
</td>
<td align="right">
    10.56
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  165.63
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .09
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .13
</td>
<td align="right">
    27
</td>
<td align="right">
     3.38
</td>
<td align="right">
   1.43
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   21.43
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.08
</td>
<td align="right">
    49
</td>
<td align="right">
    -3.80
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   52.59
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.27
</td>
<td align="right">
    28
</td>
<td align="right">
    -7.59
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   79.37
</td>
<td align="right">
 -.55
</td>
<td align="right">
   34.00
</td>
<td align="right">
   -.24
</td>
<td align="right">
    .34
</td>
<td align="right">
     1
</td>
<td align="right">
      .34
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  270.12
</td>
<td align="right">
 -.57
</td>
<td align="right">
    6.15
</td>
<td align="right">
   -.28
</td>
<td align="right">
   3.25
</td>
<td align="right">
     3
</td>
<td align="right">
     9.75
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   38.37
</td>
<td align="right">
 -.56
</td>
<td align="right">
    1.60
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .22
</td>
<td align="right">
     5
</td>
<td align="right">
     1.08
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  170.68
</td>
<td align="right">
 -.64
</td>
<td align="right">
    9.03
</td>
<td align="right">
    .35
</td>
<td align="right">
   2.96
</td>
<td align="right">
    43
</td>
<td align="right">
   127.26
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   65.39
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.20
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.08
</td>
<td align="right">
   103
</td>
<td align="right">
    -7.97
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   35.60
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.52
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.76
</td>
<td align="right">
    11
</td>
<td align="right">
    -8.41
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  259.42
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.04
</td>
<td align="right">
   -.69
</td>
<td align="right">
  -3.16
</td>
<td align="right">
     2
</td>
<td align="right">
    -6.32
</td>
<td align="right">
   3.03
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   15.74
</td>
<td align="right">
 -.56
</td>
<td align="right">
    1.46
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .17
</td>
<td align="right">
    33
</td>
<td align="right">
     5.68
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  143.66
</td>
<td align="right">
 -.67
</td>
<td align="right">
   12.07
</td>
<td align="right">
   1.23
</td>
<td align="right">
   2.48
</td>
<td align="right">
     2
</td>
<td align="right">
     4.95
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   33.15
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -141.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
  -1.41
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.41
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   68.58
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.45
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .45
</td>
<td align="right">
     5
</td>
<td align="right">
     2.27
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   68.28
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -5.52
</td>
<td align="right">
   -.20
</td>
<td align="right">
  -1.16
</td>
<td align="right">
    10
</td>
<td align="right">
   -11.59
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   52.79
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.94
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.21
</td>
<td align="right">
     3
</td>
<td align="right">
     -.62
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   59.11
</td>
<td align="right">
 -.61
</td>
<td align="right">
   11.08
</td>
<td align="right">
    .12
</td>
<td align="right">
   1.18
</td>
<td align="right">
     2
</td>
<td align="right">
     2.35
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   53.33
</td>
<td align="right">
 -.60
</td>
<td align="right">
    4.19
</td>
<td align="right">
    .30
</td>
<td align="right">
   1.15
</td>
<td align="right">
    25
</td>
<td align="right">
    28.68
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   54.44
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.04
</td>
<td align="right">
    .00
</td>
<td align="right">
    .56
</td>
<td align="right">
    52
</td>
<td align="right">
    28.87
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   33.94
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.13
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.03
</td>
<td align="right">
    70
</td>
<td align="right">
    -2.34
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   88.24
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.07
</td>
<td align="right">
   3.08
</td>
<td align="right">
   2.40
</td>
<td align="right">
     5
</td>
<td align="right">
    11.99
</td>
<td align="right">
   2.25
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   32.43
</td>
<td align="right">
 -.56
</td>
<td align="right">
   89.00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .89
</td>
<td align="right">
     1
</td>
<td align="right">
      .89
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   42.53
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -2.57
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.35
</td>
<td align="right">
     2
</td>
<td align="right">
     -.69
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   69.25
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.61
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.81
</td>
<td align="right">
    41
</td>
<td align="right">
   -33.07
</td>
<td align="right">
   1.32
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   74.86
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.24
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.16
</td>
<td align="right">
    52
</td>
<td align="right">
    -8.17
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   92.87
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.15
</td>
<td align="right">
   -.05
</td>
<td align="right">
   1.84
</td>
<td align="right">
    37
</td>
<td align="right">
    67.97
</td>
<td align="right">
   1.60
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.04
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.46
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.27
</td>
<td align="right">
     3
</td>
<td align="right">
     -.81
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  132.36
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .50
</td>
<td align="right">
    .73
</td>
<td align="right">
   1.92
</td>
<td align="right">
     8
</td>
<td align="right">
    15.33
</td>
<td align="right">
   3.80
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   73.60
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.07
</td>
<td align="right">
    .19
</td>
<td align="right">
  -1.69
</td>
<td align="right">
     4
</td>
<td align="right">
    -6.76
</td>
<td align="right">
   1.58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1182
</td>
<td align="right">
     5.95
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   43.33
</td>
<td align="right">
  .60
</td>
<td align="right">
  -35.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.35
</td>
<td align="right">
     1
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   28.31
</td>
<td align="right">
  .59
</td>
<td align="right">
   33.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .33
</td>
<td align="right">
     1
</td>
<td align="right">
      .33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   29.27
</td>
<td align="right">
  .56
</td>
<td align="right">
   29.00
</td>
<td align="right">
   -.19
</td>
<td align="right">
    .29
</td>
<td align="right">
     1
</td>
<td align="right">
      .29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMX
</td>
<td align="right">
   51.26
</td>
<td align="right">
  .57
</td>
<td align="right">
  -52.33
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.74
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.48
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  193.99
</td>
<td align="right">
  .66
</td>
<td align="right">
   -3.16
</td>
<td align="right">
   -.92
</td>
<td align="right">
  -2.40
</td>
<td align="right">
     4
</td>
<td align="right">
    -9.58
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   41.94
</td>
<td align="right">
  .57
</td>
<td align="right">
    4.10
</td>
<td align="right">
    .37
</td>
<td align="right">
    .15
</td>
<td align="right">
     2
</td>
<td align="right">
      .29
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   48.74
</td>
<td align="right">
  .56
</td>
<td align="right">
   84.00
</td>
<td align="right">
    .25
</td>
<td align="right">
    .84
</td>
<td align="right">
     1
</td>
<td align="right">
      .84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.41
</td>
<td align="right">
  .56
</td>
<td align="right">
  -51.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.51
</td>
<td align="right">
     1
</td>
<td align="right">
     -.51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  128.59
</td>
<td align="right">
  .61
</td>
<td align="right">
    5.32
</td>
<td align="right">
    .84
</td>
<td align="right">
   4.66
</td>
<td align="right">
     6
</td>
<td align="right">
    27.94
</td>
<td align="right">
    .87
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   55.73
</td>
<td align="right">
  .59
</td>
<td align="right">
    3.24
</td>
<td align="right">
    .77
</td>
<td align="right">
   1.74
</td>
<td align="right">
     2
</td>
<td align="right">
     3.48
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   60.19
</td>
<td align="right">
  .58
</td>
<td align="right">
 -122.00
</td>
<td align="right">
    .14
</td>
<td align="right">
  -1.22
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.22
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  269.29
</td>
<td align="right">
  .87
</td>
<td align="right">
   17.16
</td>
<td align="right">
   4.17
</td>
<td align="right">
  11.19
</td>
<td align="right">
     3
</td>
<td align="right">
    33.57
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   50.35
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.01
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .34
</td>
<td align="right">
    21
</td>
<td align="right">
     7.15
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  143.01
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.45
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.43
</td>
<td align="right">
     2
</td>
<td align="right">
     -.86
</td>
<td align="right">
    .96
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   71.95
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.35
</td>
<td align="right">
    .19
</td>
<td align="right">
    .14
</td>
<td align="right">
     4
</td>
<td align="right">
      .55
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   36.81
</td>
<td align="right">
  .64
</td>
<td align="right">
  -49.00
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.49
</td>
<td align="right">
     1
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  121.46
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.75
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.99
</td>
<td align="right">
    41
</td>
<td align="right">
   -40.65
</td>
<td align="right">
   1.33
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   38.44
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.12
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.02
</td>
<td align="right">
     9
</td>
<td align="right">
     -.19
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   47.40
</td>
<td align="right">
  .65
</td>
<td align="right">
     .39
</td>
<td align="right">
    .04
</td>
<td align="right">
    .20
</td>
<td align="right">
    39
</td>
<td align="right">
     7.70
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   57.27
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.19
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.12
</td>
<td align="right">
    13
</td>
<td align="right">
    -1.61
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   53.29
</td>
<td align="right">
  .66
</td>
<td align="right">
    3.49
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .22
</td>
<td align="right">
    10
</td>
<td align="right">
     2.15
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   69.69
</td>
<td align="right">
  .61
</td>
<td align="right">
     .84
</td>
<td align="right">
    .07
</td>
<td align="right">
    .37
</td>
<td align="right">
    22
</td>
<td align="right">
     8.05
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.55
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.44
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.21
</td>
<td align="right">
    15
</td>
<td align="right">
    -3.10
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   48.10
</td>
<td align="right">
  .59
</td>
<td align="right">
    3.88
</td>
<td align="right">
   -.23
</td>
<td align="right">
    .49
</td>
<td align="right">
     3
</td>
<td align="right">
     1.48
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  122.92
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.35
</td>
<td align="right">
   -.76
</td>
<td align="right">
  -2.51
</td>
<td align="right">
    11
</td>
<td align="right">
   -27.66
</td>
<td align="right">
   1.07
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   41.93
</td>
<td align="right">
  .60
</td>
<td align="right">
  -13.81
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.41
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.65
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   53.98
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.20
</td>
<td align="right">
    88
</td>
<td align="right">
   -17.24
</td>
<td align="right">
   1.30
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   46.82
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.28
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.03
</td>
<td align="right">
     9
</td>
<td align="right">
     -.29
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   39.80
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.27
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .30
</td>
<td align="right">
     3
</td>
<td align="right">
      .90
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  478.78
</td>
<td align="right">
  .81
</td>
<td align="right">
 -306.00
</td>
<td align="right">
  -1.66
</td>
<td align="right">
  -3.06
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  132.53
</td>
<td align="right">
  .61
</td>
<td align="right">
   -6.83
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.93
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.78
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   21.25
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.12
</td>
<td align="right">
    .04
</td>
<td align="right">
    .13
</td>
<td align="right">
     9
</td>
<td align="right">
     1.21
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   80.58
</td>
<td align="right">
  .68
</td>
<td align="right">
   -3.48
</td>
<td align="right">
    .06
</td>
<td align="right">
  -1.64
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.91
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   60.47
</td>
<td align="right">
  .56
</td>
<td align="right">
 -110.00
</td>
<td align="right">
  -1.37
</td>
<td align="right">
  -1.10
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.10
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   88.74
</td>
<td align="right">
  .62
</td>
<td align="right">
   45.00
</td>
<td align="right">
   -.55
</td>
<td align="right">
    .45
</td>
<td align="right">
     1
</td>
<td align="right">
      .45
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  270.37
</td>
<td align="right">
  .60
</td>
<td align="right">
     .97
</td>
<td align="right">
    .14
</td>
<td align="right">
   2.75
</td>
<td align="right">
    11
</td>
<td align="right">
    30.30
</td>
<td align="right">
   2.84
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   38.48
</td>
<td align="right">
  .57
</td>
<td align="right">
  -33.00
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.33
</td>
<td align="right">
     1
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   34.86
</td>
<td align="right">
  .65
</td>
<td align="right">
     .46
</td>
<td align="right">
    .10
</td>
<td align="right">
    .11
</td>
<td align="right">
    23
</td>
<td align="right">
     2.59
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.18
</td>
<td align="right">
  .71
</td>
<td align="right">
   13.13
</td>
<td align="right">
    .08
</td>
<td align="right">
    .70
</td>
<td align="right">
    14
</td>
<td align="right">
     9.85
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  252.08
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.38
</td>
<td align="right">
   1.48
</td>
<td align="right">
   7.01
</td>
<td align="right">
     7
</td>
<td align="right">
    49.07
</td>
<td align="right">
   5.08
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   29.86
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.07
</td>
<td align="right">
    .34
</td>
<td align="right">
   -.36
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.08
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.85
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.05
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.54
</td>
<td align="right">
    29
</td>
<td align="right">
   -44.64
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   67.34
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.86
</td>
<td align="right">
   -.15
</td>
<td align="right">
  -1.10
</td>
<td align="right">
    23
</td>
<td align="right">
   -25.24
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   51.81
</td>
<td align="right">
  .60
</td>
<td align="right">
    7.14
</td>
<td align="right">
    .49
</td>
<td align="right">
    .79
</td>
<td align="right">
     7
</td>
<td align="right">
     5.52
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  167.96
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.66
</td>
<td align="right">
   -.56
</td>
<td align="right">
  -1.16
</td>
<td align="right">
    12
</td>
<td align="right">
   -13.93
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   36.51
</td>
<td align="right">
  .58
</td>
<td align="right">
   53.00
</td>
<td align="right">
    .28
</td>
<td align="right">
    .53
</td>
<td align="right">
     1
</td>
<td align="right">
      .53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   77.80
</td>
<td align="right">
  .58
</td>
<td align="right">
 -155.00
</td>
<td align="right">
  -1.45
</td>
<td align="right">
  -1.55
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.55
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   34.64
</td>
<td align="right">
  .87
</td>
<td align="right">
  -64.00
</td>
<td align="right">
   -.48
</td>
<td align="right">
   -.64
</td>
<td align="right">
     1
</td>
<td align="right">
     -.64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   30.83
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.20
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.07
</td>
<td align="right">
    26
</td>
<td align="right">
    -1.85
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   94.26
</td>
<td align="right">
  .71
</td>
<td align="right">
    2.13
</td>
<td align="right">
    .27
</td>
<td align="right">
    .70
</td>
<td align="right">
    43
</td>
<td align="right">
    30.00
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   42.86
</td>
<td align="right">
  .59
</td>
<td align="right">
  -43.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.43
</td>
<td align="right">
     1
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.07
</td>
<td align="right">
  .56
</td>
<td align="right">
   40.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .40
</td>
<td align="right">
     1
</td>
<td align="right">
      .40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  135.75
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -.54
</td>
<td align="right">
  -3.63
</td>
<td align="right">
    24
</td>
<td align="right">
   -87.13
</td>
<td align="right">
   2.75
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   37.79
</td>
<td align="right">
  .55
</td>
<td align="right">
   -8.00
</td>
<td align="right">
   -.93
</td>
<td align="right">
   -.08
</td>
<td align="right">
     1
</td>
<td align="right">
     -.08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   32.67
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.24
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .27
</td>
<td align="right">
    10
</td>
<td align="right">
     2.65
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   577
</td>
<td align="right">
   -68.34
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
