<h4>Week of: 2011_03_14</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   32.38
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.99
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.36
</td>
<td align="right">
    59
</td>
<td align="right">
   -21.12
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   53.50
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.34
</td>
<td align="right">
   -.43
</td>
<td align="right">
   -.53
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.06
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   26.83
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .91
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .14
</td>
<td align="right">
     2
</td>
<td align="right">
      .27
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  124.04
</td>
<td align="right">
 -.76
</td>
<td align="right">
   -1.90
</td>
<td align="right">
  -1.29
</td>
<td align="right">
  -2.16
</td>
<td align="right">
    49
</td>
<td align="right">
  -105.98
</td>
<td align="right">
   1.14
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   51.18
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.51
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.26
</td>
<td align="right">
    50
</td>
<td align="right">
   -13.14
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  124.63
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.63
</td>
<td align="right">
   -.85
</td>
<td align="right">
  -1.37
</td>
<td align="right">
    10
</td>
<td align="right">
   -13.66
</td>
<td align="right">
   2.18
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   35.68
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.86
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.80
</td>
<td align="right">
    17
</td>
<td align="right">
   -13.56
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  117.46
</td>
<td align="right">
 -.82
</td>
<td align="right">
    9.28
</td>
<td align="right">
    .25
</td>
<td align="right">
   1.44
</td>
<td align="right">
     3
</td>
<td align="right">
     4.32
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   41.44
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.86
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .31
</td>
<td align="right">
    24
</td>
<td align="right">
     7.45
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   34.31
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.46
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.44
</td>
<td align="right">
    65
</td>
<td align="right">
   -28.78
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   45.36
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.10
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.26
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.82
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   30.65
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.24
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.10
</td>
<td align="right">
    71
</td>
<td align="right">
    -7.31
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   52.14
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .02
</td>
<td align="right">
   -.30
</td>
<td align="right">
    .01
</td>
<td align="right">
    12
</td>
<td align="right">
      .16
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  152.38
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -.52
</td>
<td align="right">
  -1.24
</td>
<td align="right">
   106
</td>
<td align="right">
  -131.85
</td>
<td align="right">
   2.35
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.36
</td>
<td align="right">
 -.56
</td>
<td align="right">
    7.53
</td>
<td align="right">
    .45
</td>
<td align="right">
   1.23
</td>
<td align="right">
     2
</td>
<td align="right">
     2.45
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  564.12
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .29
</td>
<td align="right">
   -.30
</td>
<td align="right">
   2.50
</td>
<td align="right">
   156
</td>
<td align="right">
   390.38
</td>
<td align="right">
   8.51
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   36.07
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.03
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.01
</td>
<td align="right">
    52
</td>
<td align="right">
     -.37
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   41.40
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.72
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.18
</td>
<td align="right">
     4
</td>
<td align="right">
     -.70
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   74.68
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.73
</td>
<td align="right">
    .36
</td>
<td align="right">
   1.99
</td>
<td align="right">
    14
</td>
<td align="right">
    27.83
</td>
<td align="right">
   1.15
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   79.69
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -128.00
</td>
<td align="right">
    .31
</td>
<td align="right">
  -1.28
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.28
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   37.31
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .33
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .15
</td>
<td align="right">
    33
</td>
<td align="right">
     4.96
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   56.15
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.77
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.13
</td>
<td align="right">
     2
</td>
<td align="right">
     -.25
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   89.60
</td>
<td align="right">
 -.61
</td>
<td align="right">
  120.00
</td>
<td align="right">
    .14
</td>
<td align="right">
   1.20
</td>
<td align="right">
     1
</td>
<td align="right">
     1.20
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   76.88
</td>
<td align="right">
 -.71
</td>
<td align="right">
    -.04
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.03
</td>
<td align="right">
    46
</td>
<td align="right">
    -1.41
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.25
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.02
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.61
</td>
<td align="right">
     8
</td>
<td align="right">
    -4.88
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   30.98
</td>
<td align="right">
 -.74
</td>
<td align="right">
  -57.00
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.57
</td>
<td align="right">
     1
</td>
<td align="right">
     -.57
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   39.69
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.77
</td>
<td align="right">
   -.55
</td>
<td align="right">
   -.50
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.52
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   53.08
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -3.81
</td>
<td align="right">
   -.05
</td>
<td align="right">
  -1.94
</td>
<td align="right">
    24
</td>
<td align="right">
   -46.66
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   55.35
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -3.03
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.81
</td>
<td align="right">
     7
</td>
<td align="right">
    -5.65
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   78.08
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -13.35
</td>
<td align="right">
    .26
</td>
<td align="right">
  -1.51
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.02
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  127.77
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .03
</td>
<td align="right">
    .03
</td>
<td align="right">
    .03
</td>
<td align="right">
    49
</td>
<td align="right">
     1.71
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   92.61
</td>
<td align="right">
 -.58
</td>
<td align="right">
   60.00
</td>
<td align="right">
    .04
</td>
<td align="right">
    .60
</td>
<td align="right">
     1
</td>
<td align="right">
      .60
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   42.13
</td>
<td align="right">
 -.59
</td>
<td align="right">
   24.00
</td>
<td align="right">
    .18
</td>
<td align="right">
    .24
</td>
<td align="right">
     1
</td>
<td align="right">
      .24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   61.20
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.40
</td>
<td align="right">
  -1.03
</td>
<td align="right">
   -.09
</td>
<td align="right">
     2
</td>
<td align="right">
     -.17
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   31.33
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.46
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.15
</td>
<td align="right">
    10
</td>
<td align="right">
    -1.47
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   79.44
</td>
<td align="right">
 -.62
</td>
<td align="right">
  175.00
</td>
<td align="right">
   1.20
</td>
<td align="right">
   1.75
</td>
<td align="right">
     1
</td>
<td align="right">
     1.75
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   899
</td>
<td align="right">
    36.09
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   32.05
</td>
<td align="right">
  .62
</td>
<td align="right">
    4.88
</td>
<td align="right">
    .33
</td>
<td align="right">
    .31
</td>
<td align="right">
    18
</td>
<td align="right">
     5.64
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   53.19
</td>
<td align="right">
  .57
</td>
<td align="right">
    2.25
</td>
<td align="right">
    .29
</td>
<td align="right">
    .18
</td>
<td align="right">
     2
</td>
<td align="right">
      .35
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.68
</td>
<td align="right">
  .73
</td>
<td align="right">
    2.46
</td>
<td align="right">
    .07
</td>
<td align="right">
    .27
</td>
<td align="right">
    37
</td>
<td align="right">
     9.81
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  121.40
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.14
</td>
<td align="right">
    .77
</td>
<td align="right">
   1.85
</td>
<td align="right">
   134
</td>
<td align="right">
   248.37
</td>
<td align="right">
   1.63
</td>
</tr>
<tr>
<td>
BUCY
</td>
<td align="right">
   90.98
</td>
<td align="right">
  .63
</td>
<td align="right">
     .44
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .03
</td>
<td align="right">
     3
</td>
<td align="right">
      .10
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   50.49
</td>
<td align="right">
  .57
</td>
<td align="right">
    2.65
</td>
<td align="right">
    .34
</td>
<td align="right">
   1.08
</td>
<td align="right">
    10
</td>
<td align="right">
    10.80
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  124.50
</td>
<td align="right">
  .65
</td>
<td align="right">
     .28
</td>
<td align="right">
    .00
</td>
<td align="right">
    .66
</td>
<td align="right">
    83
</td>
<td align="right">
    54.70
</td>
<td align="right">
   2.39
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   37.07
</td>
<td align="right">
  .69
</td>
<td align="right">
    3.08
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .82
</td>
<td align="right">
    27
</td>
<td align="right">
    22.01
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   40.99
</td>
<td align="right">
  .55
</td>
<td align="right">
   58.00
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .58
</td>
<td align="right">
     1
</td>
<td align="right">
      .58
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   86.13
</td>
<td align="right">
  .58
</td>
<td align="right">
    2.91
</td>
<td align="right">
   -.39
</td>
<td align="right">
   1.96
</td>
<td align="right">
     5
</td>
<td align="right">
     9.79
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   29.89
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.56
</td>
<td align="right">
    .57
</td>
<td align="right">
    .51
</td>
<td align="right">
     3
</td>
<td align="right">
     1.53
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   57.10
</td>
<td align="right">
  .59
</td>
<td align="right">
    5.86
</td>
<td align="right">
    .03
</td>
<td align="right">
    .70
</td>
<td align="right">
    16
</td>
<td align="right">
    11.27
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  154.20
</td>
<td align="right">
  .73
</td>
<td align="right">
     .17
</td>
<td align="right">
    .15
</td>
<td align="right">
    .51
</td>
<td align="right">
    71
</td>
<td align="right">
    36.30
</td>
<td align="right">
   3.06
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   57.54
</td>
<td align="right">
  .56
</td>
<td align="right">
   -3.97
</td>
<td align="right">
   -.08
</td>
<td align="right">
  -2.06
</td>
<td align="right">
     3
</td>
<td align="right">
    -6.17
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  136.81
</td>
<td align="right">
  .63
</td>
<td align="right">
    5.33
</td>
<td align="right">
    .35
</td>
<td align="right">
   1.72
</td>
<td align="right">
     5
</td>
<td align="right">
     8.62
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  556.92
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.01
</td>
<td align="right">
   3.17
</td>
<td align="right">
   7.14
</td>
<td align="right">
    11
</td>
<td align="right">
    78.58
</td>
<td align="right">
   2.37
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   36.43
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.32
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.12
</td>
<td align="right">
    46
</td>
<td align="right">
    -5.65
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   76.89
</td>
<td align="right">
  .56
</td>
<td align="right">
   17.60
</td>
<td align="right">
    .30
</td>
<td align="right">
   2.96
</td>
<td align="right">
     3
</td>
<td align="right">
     8.88
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   36.99
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.10
</td>
<td align="right">
    .14
</td>
<td align="right">
    .28
</td>
<td align="right">
    54
</td>
<td align="right">
    14.91
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  171.98
</td>
<td align="right">
  .58
</td>
<td align="right">
   -4.74
</td>
<td align="right">
   -.50
</td>
<td align="right">
  -2.28
</td>
<td align="right">
     3
</td>
<td align="right">
    -6.83
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   88.33
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.26
</td>
<td align="right">
    .27
</td>
<td align="right">
    .80
</td>
<td align="right">
    42
</td>
<td align="right">
    33.64
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   66.99
</td>
<td align="right">
  .62
</td>
<td align="right">
     .17
</td>
<td align="right">
    .28
</td>
<td align="right">
    .10
</td>
<td align="right">
    46
</td>
<td align="right">
     4.69
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   75.83
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.06
</td>
<td align="right">
    .08
</td>
<td align="right">
    .78
</td>
<td align="right">
    49
</td>
<td align="right">
    38.00
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.01
</td>
<td align="right">
  .61
</td>
<td align="right">
    3.72
</td>
<td align="right">
    .04
</td>
<td align="right">
    .39
</td>
<td align="right">
    79
</td>
<td align="right">
    30.69
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   45.52
</td>
<td align="right">
  .58
</td>
<td align="right">
   -5.42
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.12
</td>
<td align="right">
     2
</td>
<td align="right">
     -.23
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  155.00
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.23
</td>
<td align="right">
   -.48
</td>
<td align="right">
   -.19
</td>
<td align="right">
     4
</td>
<td align="right">
     -.75
</td>
<td align="right">
    .82
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   30.67
</td>
<td align="right">
  .61
</td>
<td align="right">
   23.00
</td>
<td align="right">
    .06
</td>
<td align="right">
    .23
</td>
<td align="right">
     1
</td>
<td align="right">
      .23
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   39.21
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.13
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.05
</td>
<td align="right">
    83
</td>
<td align="right">
    -4.41
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   61.85
</td>
<td align="right">
  .80
</td>
<td align="right">
    1.20
</td>
<td align="right">
    .56
</td>
<td align="right">
    .89
</td>
<td align="right">
    26
</td>
<td align="right">
    23.11
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  169.42
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.13
</td>
<td align="right">
   -.31
</td>
<td align="right">
   1.35
</td>
<td align="right">
    23
</td>
<td align="right">
    31.14
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   59.05
</td>
<td align="right">
  .59
</td>
<td align="right">
     .79
</td>
<td align="right">
    .42
</td>
<td align="right">
   1.06
</td>
<td align="right">
    29
</td>
<td align="right">
    30.78
</td>
<td align="right">
   1.34
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   76.63
</td>
<td align="right">
  .64
</td>
<td align="right">
    4.42
</td>
<td align="right">
   -.05
</td>
<td align="right">
   1.13
</td>
<td align="right">
    32
</td>
<td align="right">
    36.18
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   33.59
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.06
</td>
<td align="right">
    .06
</td>
<td align="right">
    .45
</td>
<td align="right">
    47
</td>
<td align="right">
    21.25
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  127.35
</td>
<td align="right">
  .63
</td>
<td align="right">
     .46
</td>
<td align="right">
    .32
</td>
<td align="right">
    .36
</td>
<td align="right">
     8
</td>
<td align="right">
     2.88
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   12.92
</td>
<td align="right">
  .69
</td>
<td align="right">
    3.60
</td>
<td align="right">
    .16
</td>
<td align="right">
    .65
</td>
<td align="right">
    33
</td>
<td align="right">
    21.57
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   42.40
</td>
<td align="right">
  .77
</td>
<td align="right">
    3.66
</td>
<td align="right">
    .13
</td>
<td align="right">
    .58
</td>
<td align="right">
    76
</td>
<td align="right">
    44.35
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   77.83
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.87
</td>
<td align="right">
    .36
</td>
<td align="right">
   -.39
</td>
<td align="right">
     2
</td>
<td align="right">
     -.77
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   59.18
</td>
<td align="right">
  .75
</td>
<td align="right">
    1.25
</td>
<td align="right">
    .14
</td>
<td align="right">
   1.11
</td>
<td align="right">
   116
</td>
<td align="right">
   128.93
</td>
<td align="right">
    .89
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   74.26
</td>
<td align="right">
  .56
</td>
<td align="right">
  163.00
</td>
<td align="right">
   -.53
</td>
<td align="right">
   1.63
</td>
<td align="right">
     1
</td>
<td align="right">
     1.63
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1234
</td>
<td align="right">
   946.50
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
