<h4>Week of: 2011_07_25</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   50.65
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -6.17
</td>
<td align="right">
   -.23
</td>
<td align="right">
  -1.07
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.21
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   59.32
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -127.00
</td>
<td align="right">
   -.47
</td>
<td align="right">
  -1.27
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.27
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   49.32
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.76
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.71
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.14
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   16.32
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -6.29
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.55
</td>
<td align="right">
    35
</td>
<td align="right">
   -19.15
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   40.44
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -8.21
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.36
</td>
<td align="right">
     8
</td>
<td align="right">
    -2.85
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  124.92
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -131.00
</td>
<td align="right">
    .25
</td>
<td align="right">
  -1.31
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   40.72
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.84
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.35
</td>
<td align="right">
    38
</td>
<td align="right">
   -13.18
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   34.45
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -94.00
</td>
<td align="right">
   -.70
</td>
<td align="right">
   -.94
</td>
<td align="right">
     1
</td>
<td align="right">
     -.94
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   42.66
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.56
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.62
</td>
<td align="right">
    18
</td>
<td align="right">
   -11.13
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   54.55
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -5.74
</td>
<td align="right">
   -.44
</td>
<td align="right">
  -1.38
</td>
<td align="right">
    17
</td>
<td align="right">
   -23.38
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   63.68
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -574.00
</td>
<td align="right">
    .86
</td>
<td align="right">
  -5.74
</td>
<td align="right">
     1
</td>
<td align="right">
    -5.74
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   69.05
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.21
</td>
<td align="right">
   -.26
</td>
<td align="right">
  -1.40
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.19
</td>
<td align="right">
   1.16
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   71.26
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -224.00
</td>
<td align="right">
    .49
</td>
<td align="right">
  -2.24
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.53
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -7.20
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.35
</td>
<td align="right">
     6
</td>
<td align="right">
    -2.10
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   81.73
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .60
</td>
<td align="right">
    .95
</td>
<td align="right">
   1.00
</td>
<td align="right">
     6
</td>
<td align="right">
     5.97
</td>
<td align="right">
   1.65
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   64.10
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.58
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.23
</td>
<td align="right">
     2
</td>
<td align="right">
     -.46
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   44.56
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -2.61
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.44
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.76
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   88.30
</td>
<td align="right">
 -.57
</td>
<td align="right">
   95.00
</td>
<td align="right">
    .85
</td>
<td align="right">
    .95
</td>
<td align="right">
     1
</td>
<td align="right">
      .95
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   47.33
</td>
<td align="right">
 -.59
</td>
<td align="right">
 -174.00
</td>
<td align="right">
    .02
</td>
<td align="right">
  -1.74
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.74
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   95.66
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .16
</td>
<td align="right">
    .02
</td>
<td align="right">
    .05
</td>
<td align="right">
    11
</td>
<td align="right">
      .57
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  101.09
</td>
<td align="right">
 -.56
</td>
<td align="right">
   96.00
</td>
<td align="right">
   -.44
</td>
<td align="right">
    .96
</td>
<td align="right">
     1
</td>
<td align="right">
      .96
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   40.15
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -22.00
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.22
</td>
<td align="right">
     1
</td>
<td align="right">
     -.22
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   163
</td>
<td align="right">
   -88.56
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   49.68
</td>
<td align="right">
  .58
</td>
<td align="right">
  -18.38
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.52
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.04
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   29.99
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.11
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -3.57
</td>
<td align="right">
     5
</td>
<td align="right">
   -17.85
</td>
<td align="right">
   3.21
</td>
</tr>
<tr>
<td>
AMT
</td>
<td align="right">
   52.75
</td>
<td align="right">
  .58
</td>
<td align="right">
   -9.81
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.91
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.72
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   60.83
</td>
<td align="right">
  .66
</td>
<td align="right">
   -3.43
</td>
<td align="right">
    .04
</td>
<td align="right">
  -1.12
</td>
<td align="right">
    32
</td>
<td align="right">
   -35.94
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   32.84
</td>
<td align="right">
  .63
</td>
<td align="right">
  -28.08
</td>
<td align="right">
   -.08
</td>
<td align="right">
  -1.55
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.64
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   40.02
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.45
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.23
</td>
<td align="right">
    28
</td>
<td align="right">
    -6.35
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   80.90
</td>
<td align="right">
  .56
</td>
<td align="right">
  -13.93
</td>
<td align="right">
    .34
</td>
<td align="right">
  -1.68
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.35
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  125.62
</td>
<td align="right">
  .63
</td>
<td align="right">
   -3.83
</td>
<td align="right">
    .04
</td>
<td align="right">
  -1.14
</td>
<td align="right">
    40
</td>
<td align="right">
   -45.79
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   59.96
</td>
<td align="right">
  .60
</td>
<td align="right">
  -33.94
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.48
</td>
<td align="right">
     2
</td>
<td align="right">
     -.96
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   71.68
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.89
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.79
</td>
<td align="right">
    26
</td>
<td align="right">
   -20.60
</td>
<td align="right">
    .89
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.70
</td>
<td align="right">
  .60
</td>
<td align="right">
  -22.68
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.60
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.80
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   42.82
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.90
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.30
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.77
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   36.50
</td>
<td align="right">
  .60
</td>
<td align="right">
  -78.00
</td>
<td align="right">
   -.41
</td>
<td align="right">
   -.78
</td>
<td align="right">
     1
</td>
<td align="right">
     -.78
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   58.88
</td>
<td align="right">
  .65
</td>
<td align="right">
    2.31
</td>
<td align="right">
    .29
</td>
<td align="right">
   1.51
</td>
<td align="right">
    51
</td>
<td align="right">
    76.91
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   81.05
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.19
</td>
<td align="right">
    .31
</td>
<td align="right">
  -1.15
</td>
<td align="right">
     5
</td>
<td align="right">
    -5.77
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   62.15
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.84
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.23
</td>
<td align="right">
    17
</td>
<td align="right">
    -3.97
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   38.43
</td>
<td align="right">
  .59
</td>
<td align="right">
     .22
</td>
<td align="right">
    .33
</td>
<td align="right">
    .01
</td>
<td align="right">
     5
</td>
<td align="right">
      .06
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   46.26
</td>
<td align="right">
  .62
</td>
<td align="right">
  129.00
</td>
<td align="right">
   1.63
</td>
<td align="right">
   1.29
</td>
<td align="right">
     1
</td>
<td align="right">
     1.29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  177.65
</td>
<td align="right">
  .65
</td>
<td align="right">
   -8.94
</td>
<td align="right">
    .32
</td>
<td align="right">
  -3.84
</td>
<td align="right">
    11
</td>
<td align="right">
   -42.29
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   40.21
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.81
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.23
</td>
<td align="right">
     2
</td>
<td align="right">
     -.46
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   67.31
</td>
<td align="right">
  .65
</td>
<td align="right">
    2.69
</td>
<td align="right">
    .83
</td>
<td align="right">
   4.35
</td>
<td align="right">
    21
</td>
<td align="right">
    91.45
</td>
<td align="right">
   1.62
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   72.25
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.17
</td>
<td align="right">
   -.15
</td>
<td align="right">
  -1.16
</td>
<td align="right">
     7
</td>
<td align="right">
    -8.13
</td>
<td align="right">
    .99
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.14
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.35
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.39
</td>
<td align="right">
    26
</td>
<td align="right">
   -10.07
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  261.67
</td>
<td align="right">
  .67
</td>
<td align="right">
     .91
</td>
<td align="right">
   1.86
</td>
<td align="right">
   7.58
</td>
<td align="right">
    36
</td>
<td align="right">
   272.97
</td>
<td align="right">
   8.32
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  162.24
</td>
<td align="right">
  .69
</td>
<td align="right">
   -5.73
</td>
<td align="right">
    .04
</td>
<td align="right">
  -3.34
</td>
<td align="right">
    30
</td>
<td align="right">
  -100.22
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   31.03
</td>
<td align="right">
  .61
</td>
<td align="right">
   -2.63
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.17
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.03
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   80.67
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.31
</td>
<td align="right">
    .13
</td>
<td align="right">
   1.98
</td>
<td align="right">
    31
</td>
<td align="right">
    61.40
</td>
<td align="right">
   1.51
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   34.18
</td>
<td align="right">
  .69
</td>
<td align="right">
     .61
</td>
<td align="right">
    .19
</td>
<td align="right">
    .35
</td>
<td align="right">
    11
</td>
<td align="right">
     3.89
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   60.22
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.06
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -1.57
</td>
<td align="right">
     7
</td>
<td align="right">
   -11.00
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   56.46
</td>
<td align="right">
  .62
</td>
<td align="right">
   -3.01
</td>
<td align="right">
   -.17
</td>
<td align="right">
  -1.43
</td>
<td align="right">
    13
</td>
<td align="right">
   -18.65
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   59.61
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.52
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.25
</td>
<td align="right">
    78
</td>
<td align="right">
   -19.34
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   35.40
</td>
<td align="right">
  .66
</td>
<td align="right">
   15.00
</td>
<td align="right">
    .10
</td>
<td align="right">
    .15
</td>
<td align="right">
     1
</td>
<td align="right">
      .15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   35.95
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.66
</td>
<td align="right">
    .18
</td>
<td align="right">
   -.08
</td>
<td align="right">
     3
</td>
<td align="right">
     -.25
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   95.01
</td>
<td align="right">
  .67
</td>
<td align="right">
   -4.29
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.84
</td>
<td align="right">
    23
</td>
<td align="right">
   -19.30
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   84.17
</td>
<td align="right">
  .58
</td>
<td align="right">
  317.00
</td>
<td align="right">
    .88
</td>
<td align="right">
   3.17
</td>
<td align="right">
     1
</td>
<td align="right">
     3.17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   16.97
</td>
<td align="right">
  .80
</td>
<td align="right">
   -5.10
</td>
<td align="right">
   -.36
</td>
<td align="right">
   -.49
</td>
<td align="right">
    10
</td>
<td align="right">
    -4.89
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  102.61
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.48
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.95
</td>
<td align="right">
    18
</td>
<td align="right">
   -17.06
</td>
<td align="right">
   1.98
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.72
</td>
<td align="right">
  .56
</td>
<td align="right">
   -1.44
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.23
</td>
<td align="right">
     4
</td>
<td align="right">
     -.92
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   571
</td>
<td align="right">
   104.35
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
