<h4>Week of: 2011_06_06</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   51.07
</td>
<td align="right">
 -.57
</td>
<td align="right">
    5.57
</td>
<td align="right">
    .03
</td>
<td align="right">
    .47
</td>
<td align="right">
    13
</td>
<td align="right">
     6.08
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   32.38
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -66.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.66
</td>
<td align="right">
     1
</td>
<td align="right">
     -.66
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   27.43
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .15
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .05
</td>
<td align="right">
     2
</td>
<td align="right">
      .09
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   48.89
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -55.37
</td>
<td align="right">
   -.29
</td>
<td align="right">
  -1.39
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.18
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.42
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.65
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.15
</td>
<td align="right">
   112
</td>
<td align="right">
   -16.72
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   56.08
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.03
</td>
<td align="right">
   -.08
</td>
<td align="right">
  -1.17
</td>
<td align="right">
    68
</td>
<td align="right">
   -79.30
</td>
<td align="right">
   1.13
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  241.73
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.99
</td>
<td align="right">
   -.29
</td>
<td align="right">
  -1.60
</td>
<td align="right">
    50
</td>
<td align="right">
   -79.99
</td>
<td align="right">
   1.62
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   29.78
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.35
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.43
</td>
<td align="right">
    10
</td>
<td align="right">
    -4.33
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   50.49
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.62
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.32
</td>
<td align="right">
     2
</td>
<td align="right">
     -.64
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   16.07
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.33
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.17
</td>
<td align="right">
    12
</td>
<td align="right">
    -2.00
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   34.77
</td>
<td align="right">
 -.77
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.47
</td>
<td align="right">
    79
</td>
<td align="right">
   -37.21
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   50.64
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -17.32
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.49
</td>
<td align="right">
     2
</td>
<td align="right">
     -.98
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   81.95
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -29.60
</td>
<td align="right">
   -.54
</td>
<td align="right">
  -1.68
</td>
<td align="right">
     3
</td>
<td align="right">
    -5.05
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  121.38
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -4.92
</td>
<td align="right">
   -.32
</td>
<td align="right">
  -1.69
</td>
<td align="right">
    35
</td>
<td align="right">
   -59.16
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   80.89
</td>
<td align="right">
 -.59
</td>
<td align="right">
  120.00
</td>
<td align="right">
    .14
</td>
<td align="right">
   1.20
</td>
<td align="right">
     1
</td>
<td align="right">
     1.20
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   60.48
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.59
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.53
</td>
<td align="right">
    40
</td>
<td align="right">
   -21.23
</td>
<td align="right">
    .89
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   14.72
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -4.75
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.54
</td>
<td align="right">
    28
</td>
<td align="right">
   -15.17
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   73.43
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -8.53
</td>
<td align="right">
   -.24
</td>
<td align="right">
  -1.22
</td>
<td align="right">
     9
</td>
<td align="right">
   -11.02
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.61
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.44
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.12
</td>
<td align="right">
    67
</td>
<td align="right">
    -8.33
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  111.47
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.91
</td>
<td align="right">
   -.25
</td>
<td align="right">
  -1.45
</td>
<td align="right">
    23
</td>
<td align="right">
   -33.26
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  117.36
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.65
</td>
<td align="right">
   -.03
</td>
<td align="right">
  -1.10
</td>
<td align="right">
    95
</td>
<td align="right">
  -104.57
</td>
<td align="right">
   1.68
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   43.85
</td>
<td align="right">
 -.78
</td>
<td align="right">
   -3.22
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.49
</td>
<td align="right">
    72
</td>
<td align="right">
   -34.99
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   54.33
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.31
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -1.16
</td>
<td align="right">
    82
</td>
<td align="right">
   -94.83
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   47.04
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.07
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.64
</td>
<td align="right">
     8
</td>
<td align="right">
    -5.12
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   34.58
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -5.87
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.44
</td>
<td align="right">
    27
</td>
<td align="right">
   -11.94
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   56.61
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -95.00
</td>
<td align="right">
   -.95
</td>
<td align="right">
   -.95
</td>
<td align="right">
     1
</td>
<td align="right">
     -.95
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   21.86
</td>
<td align="right">
 -.78
</td>
<td align="right">
   -2.59
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.37
</td>
<td align="right">
    59
</td>
<td align="right">
   -21.54
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   78.43
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -34.00
</td>
<td align="right">
   -.54
</td>
<td align="right">
   -.34
</td>
<td align="right">
     1
</td>
<td align="right">
     -.34
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   60.89
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.85
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.07
</td>
<td align="right">
    10
</td>
<td align="right">
     -.68
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
JCP
</td>
<td align="right">
   30.75
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.20
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.47
</td>
<td align="right">
    61
</td>
<td align="right">
   -28.70
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
KO
</td>
<td align="right">
   65.73
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -19.00
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.19
</td>
<td align="right">
     1
</td>
<td align="right">
     -.19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   37.45
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.18
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.20
</td>
<td align="right">
    26
</td>
<td align="right">
    -5.22
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   39.03
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.38
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.32
</td>
<td align="right">
    19
</td>
<td align="right">
    -6.10
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  171.43
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.23
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -1.46
</td>
<td align="right">
    25
</td>
<td align="right">
   -36.41
</td>
<td align="right">
   1.19
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   67.24
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.03
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.05
</td>
<td align="right">
    13
</td>
<td align="right">
     -.71
</td>
<td align="right">
   1.74
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   36.24
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -7.08
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.73
</td>
<td align="right">
     6
</td>
<td align="right">
    -4.36
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.05
</td>
<td align="right">
   189
</td>
<td align="right">
    -9.85
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   32.77
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.46
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.34
</td>
<td align="right">
    38
</td>
<td align="right">
   -12.74
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    8.69
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.06
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.03
</td>
<td align="right">
     5
</td>
<td align="right">
     -.15
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   63.68
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.11
</td>
<td align="right">
   -.35
</td>
<td align="right">
   -.66
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.32
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   50.03
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.83
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.25
</td>
<td align="right">
     8
</td>
<td align="right">
    -2.01
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   40.05
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.63
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.25
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.75
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   18.36
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -3.02
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.24
</td>
<td align="right">
    34
</td>
<td align="right">
    -8.19
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  148.17
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .12
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .30
</td>
<td align="right">
     6
</td>
<td align="right">
     1.80
</td>
<td align="right">
   2.41
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   31.91
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.80
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.38
</td>
<td align="right">
    41
</td>
<td align="right">
   -15.38
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   80.04
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.30
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.24
</td>
<td align="right">
    24
</td>
<td align="right">
    -5.77
</td>
<td align="right">
    .79
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   69.16
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -3.43
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.40
</td>
<td align="right">
    23
</td>
<td align="right">
    -9.25
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   65.26
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.78
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.44
</td>
<td align="right">
    18
</td>
<td align="right">
    -7.87
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   68.36
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -1.63
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.67
</td>
<td align="right">
    54
</td>
<td align="right">
   -36.29
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  180.97
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.42
</td>
<td align="right">
    .05
</td>
<td align="right">
   1.26
</td>
<td align="right">
    45
</td>
<td align="right">
    56.62
</td>
<td align="right">
    .89
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   59.55
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.65
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.07
</td>
<td align="right">
     3
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   36.06
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.05
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.32
</td>
<td align="right">
   111
</td>
<td align="right">
   -35.05
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   13.71
</td>
<td align="right">
 -.55
</td>
<td align="right">
    2.00
</td>
<td align="right">
    .16
</td>
<td align="right">
    .02
</td>
<td align="right">
     1
</td>
<td align="right">
      .02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   43.18
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.33
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.41
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.64
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   30.48
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.40
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   118
</td>
<td align="right">
    -5.69
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   95.42
</td>
<td align="right">
 -.81
</td>
<td align="right">
    7.65
</td>
<td align="right">
    .25
</td>
<td align="right">
   1.11
</td>
<td align="right">
    56
</td>
<td align="right">
    62.05
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   33.46
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.52
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.08
</td>
<td align="right">
     9
</td>
<td align="right">
     -.76
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   50.51
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -79.00
</td>
<td align="right">
   -.75
</td>
<td align="right">
   -.79
</td>
<td align="right">
     1
</td>
<td align="right">
     -.79
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   75.18
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -59.00
</td>
<td align="right">
   -.52
</td>
<td align="right">
   -.59
</td>
<td align="right">
     1
</td>
<td align="right">
     -.59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   31.40
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -5.02
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.52
</td>
<td align="right">
     8
</td>
<td align="right">
    -4.12
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   94.26
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.01
</td>
<td align="right">
    .24
</td>
<td align="right">
   -.75
</td>
<td align="right">
    18
</td>
<td align="right">
   -13.51
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   43.28
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .33
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .14
</td>
<td align="right">
    62
</td>
<td align="right">
     8.59
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   55.07
</td>
<td align="right">
 -.71
</td>
<td align="right">
    -.60
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.61
</td>
<td align="right">
    24
</td>
<td align="right">
   -14.55
</td>
<td align="right">
   1.01
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   73.89
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.18
</td>
<td align="right">
   -.41
</td>
<td align="right">
   -.14
</td>
<td align="right">
     6
</td>
<td align="right">
     -.85
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   38.23
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -12.02
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.51
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.04
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1986
</td>
<td align="right">
  -789.80
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   51.54
</td>
<td align="right">
  .64
</td>
<td align="right">
   -4.77
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.21
</td>
<td align="right">
    12
</td>
<td align="right">
    -2.50
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  186.56
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.62
</td>
<td align="right">
    .07
</td>
<td align="right">
   2.37
</td>
<td align="right">
    19
</td>
<td align="right">
    45.11
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   11.69
</td>
<td align="right">
  .59
</td>
<td align="right">
     .15
</td>
<td align="right">
    .02
</td>
<td align="right">
    .03
</td>
<td align="right">
    28
</td>
<td align="right">
      .77
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.15
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.41
</td>
<td align="right">
    .03
</td>
<td align="right">
    .14
</td>
<td align="right">
     2
</td>
<td align="right">
      .28
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
BA
</td>
<td align="right">
   74.37
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.84
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.36
</td>
<td align="right">
     6
</td>
<td align="right">
    -2.13
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   25.69
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.30
</td>
<td align="right">
    .11
</td>
<td align="right">
    .36
</td>
<td align="right">
     5
</td>
<td align="right">
     1.80
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   50.08
</td>
<td align="right">
  .65
</td>
<td align="right">
     .96
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .30
</td>
<td align="right">
    37
</td>
<td align="right">
    10.94
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
COST
</td>
<td align="right">
   78.61
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.02
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .53
</td>
<td align="right">
    13
</td>
<td align="right">
     6.89
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   34.82
</td>
<td align="right">
  .66
</td>
<td align="right">
   -4.21
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.61
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.67
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   37.41
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.04
</td>
<td align="right">
     3
</td>
<td align="right">
     -.11
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  120.03
</td>
<td align="right">
  .69
</td>
<td align="right">
     .08
</td>
<td align="right">
    .01
</td>
<td align="right">
    .05
</td>
<td align="right">
    65
</td>
<td align="right">
     2.93
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   60.13
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.39
</td>
<td align="right">
    .01
</td>
<td align="right">
    .29
</td>
<td align="right">
    15
</td>
<td align="right">
     4.35
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   14.11
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.18
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.03
</td>
<td align="right">
    39
</td>
<td align="right">
    -1.25
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   73.72
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.95
</td>
<td align="right">
    .22
</td>
<td align="right">
   -.61
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.63
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.08
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.74
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.22
</td>
<td align="right">
     2
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  108.35
</td>
<td align="right">
  .77
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .61
</td>
<td align="right">
    34
</td>
<td align="right">
    20.60
</td>
<td align="right">
   2.81
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  112.45
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.58
</td>
<td align="right">
   1.95
</td>
<td align="right">
   2.18
</td>
<td align="right">
     6
</td>
<td align="right">
    13.10
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   43.41
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.87
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.26
</td>
<td align="right">
    28
</td>
<td align="right">
    -7.34
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   53.09
</td>
<td align="right">
  .62
</td>
<td align="right">
     .86
</td>
<td align="right">
    .32
</td>
<td align="right">
    .70
</td>
<td align="right">
    13
</td>
<td align="right">
     9.05
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   48.20
</td>
<td align="right">
  .58
</td>
<td align="right">
 -114.00
</td>
<td align="right">
    .20
</td>
<td align="right">
  -1.14
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   40.98
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.41
</td>
<td align="right">
    .00
</td>
<td align="right">
    .15
</td>
<td align="right">
    23
</td>
<td align="right">
     3.38
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  150.41
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.06
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.68
</td>
<td align="right">
     8
</td>
<td align="right">
    -5.46
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   60.62
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.52
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.57
</td>
<td align="right">
    15
</td>
<td align="right">
    -8.59
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   65.85
</td>
<td align="right">
  .62
</td>
<td align="right">
     .89
</td>
<td align="right">
    .06
</td>
<td align="right">
    .66
</td>
<td align="right">
    25
</td>
<td align="right">
    16.48
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   38.30
</td>
<td align="right">
  .63
</td>
<td align="right">
     .37
</td>
<td align="right">
    .00
</td>
<td align="right">
    .08
</td>
<td align="right">
     7
</td>
<td align="right">
      .57
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   67.22
</td>
<td align="right">
  .64
</td>
<td align="right">
 -164.00
</td>
<td align="right">
   -.44
</td>
<td align="right">
  -1.64
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   35.54
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.20
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.13
</td>
<td align="right">
    29
</td>
<td align="right">
    -3.81
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   23.86
</td>
<td align="right">
  .59
</td>
<td align="right">
    4.71
</td>
<td align="right">
    .20
</td>
<td align="right">
    .20
</td>
<td align="right">
     2
</td>
<td align="right">
      .40
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   17.25
</td>
<td align="right">
  .57
</td>
<td align="right">
   -2.47
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.12
</td>
<td align="right">
     3
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   80.23
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.51
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.70
</td>
<td align="right">
     5
</td>
<td align="right">
    -3.50
</td>
<td align="right">
   1.38
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   68.86
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.21
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.09
</td>
<td align="right">
     5
</td>
<td align="right">
     -.45
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   67.65
</td>
<td align="right">
  .75
</td>
<td align="right">
   -1.04
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.35
</td>
<td align="right">
    88
</td>
<td align="right">
   -30.93
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  179.72
</td>
<td align="right">
  .59
</td>
<td align="right">
   11.39
</td>
<td align="right">
    .02
</td>
<td align="right">
   1.89
</td>
<td align="right">
    12
</td>
<td align="right">
    22.69
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   59.75
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.21
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.09
</td>
<td align="right">
    43
</td>
<td align="right">
    -3.78
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   56.86
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.01
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.58
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.50
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   76.71
</td>
<td align="right">
  .59
</td>
<td align="right">
     .96
</td>
<td align="right">
    .74
</td>
<td align="right">
    .90
</td>
<td align="right">
     3
</td>
<td align="right">
     2.71
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   43.06
</td>
<td align="right">
  .69
</td>
<td align="right">
   -6.08
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.60
</td>
<td align="right">
    26
</td>
<td align="right">
   -15.65
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   20.08
</td>
<td align="right">
  .74
</td>
<td align="right">
  -73.00
</td>
<td align="right">
   -.47
</td>
<td align="right">
   -.73
</td>
<td align="right">
     1
</td>
<td align="right">
     -.73
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   95.59
</td>
<td align="right">
  .55
</td>
<td align="right">
  -37.00
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.37
</td>
<td align="right">
     1
</td>
<td align="right">
     -.37
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   48.25
</td>
<td align="right">
  .64
</td>
<td align="right">
     .53
</td>
<td align="right">
    .03
</td>
<td align="right">
    .49
</td>
<td align="right">
    19
</td>
<td align="right">
     9.37
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   77.31
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.49
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.99
</td>
<td align="right">
   110
</td>
<td align="right">
  -109.35
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   31.32
</td>
<td align="right">
  .68
</td>
<td align="right">
     .45
</td>
<td align="right">
    .06
</td>
<td align="right">
    .06
</td>
<td align="right">
    47
</td>
<td align="right">
     2.83
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   93.11
</td>
<td align="right">
  .60
</td>
<td align="right">
     .10
</td>
<td align="right">
    .41
</td>
<td align="right">
    .13
</td>
<td align="right">
     9
</td>
<td align="right">
     1.21
</td>
<td align="right">
   1.41
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   55.54
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.17
</td>
<td align="right">
   -.52
</td>
<td align="right">
   -.47
</td>
<td align="right">
     8
</td>
<td align="right">
    -3.73
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   74.57
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.00
</td>
<td align="right">
    .20
</td>
<td align="right">
   -.02
</td>
<td align="right">
     1
</td>
<td align="right">
     -.02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.31
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.36
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.25
</td>
<td align="right">
    14
</td>
<td align="right">
    -3.45
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  143.98
</td>
<td align="right">
  .60
</td>
<td align="right">
   -4.17
</td>
<td align="right">
    .14
</td>
<td align="right">
  -4.13
</td>
<td align="right">
     5
</td>
<td align="right">
   -20.65
</td>
<td align="right">
    .99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   856
</td>
<td align="right">
   -62.71
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
