<h4>Week of: 2011_02_28</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   52.27
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.36
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.32
</td>
<td align="right">
    11
</td>
<td align="right">
    -3.53
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   27.31
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -10.96
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.31
</td>
<td align="right">
     2
</td>
<td align="right">
     -.62
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   32.92
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.84
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.56
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.68
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
BUCY
</td>
<td align="right">
   91.90
</td>
<td align="right">
 -.64
</td>
<td align="right">
  -26.63
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.90
</td>
<td align="right">
    11
</td>
<td align="right">
    -9.85
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   53.43
</td>
<td align="right">
 -.56
</td>
<td align="right">
    2.81
</td>
<td align="right">
    .20
</td>
<td align="right">
    .59
</td>
<td align="right">
     8
</td>
<td align="right">
     4.71
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   49.04
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -1.23
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.65
</td>
<td align="right">
    50
</td>
<td align="right">
   -32.37
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  130.76
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.59
</td>
<td align="right">
    .71
</td>
<td align="right">
  -1.56
</td>
<td align="right">
     5
</td>
<td align="right">
    -7.78
</td>
<td align="right">
    .98
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   76.76
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -28.99
</td>
<td align="right">
    .22
</td>
<td align="right">
   -.62
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.23
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   32.02
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -6.58
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.62
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.70
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  147.57
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -1.20
</td>
<td align="right">
   -.68
</td>
<td align="right">
  -1.99
</td>
<td align="right">
   123
</td>
<td align="right">
  -244.66
</td>
<td align="right">
   1.65
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  595.67
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -2.95
</td>
<td align="right">
   -.50
</td>
<td align="right">
  -7.82
</td>
<td align="right">
    68
</td>
<td align="right">
  -531.88
</td>
<td align="right">
   2.65
</td>
</tr>
<tr>
<td>
MAR
</td>
<td align="right">
   37.96
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .48
</td>
<td align="right">
    .12
</td>
<td align="right">
    .36
</td>
<td align="right">
     4
</td>
<td align="right">
     1.44
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   86.12
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -47.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.47
</td>
<td align="right">
     1
</td>
<td align="right">
     -.47
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   66.87
</td>
<td align="right">
 -.73
</td>
<td align="right">
  -65.67
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.66
</td>
<td align="right">
     1
</td>
<td align="right">
     -.66
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   31.89
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .90
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .34
</td>
<td align="right">
    16
</td>
<td align="right">
     5.45
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  182.33
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -9.41
</td>
<td align="right">
    .07
</td>
<td align="right">
  -1.51
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.52
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   20.52
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -1.87
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.29
</td>
<td align="right">
    34
</td>
<td align="right">
    -9.82
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   81.64
</td>
<td align="right">
 -.67
</td>
<td align="right">
  -10.36
</td>
<td align="right">
    .07
</td>
<td align="right">
  -2.39
</td>
<td align="right">
     8
</td>
<td align="right">
   -19.14
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   44.25
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.80
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.34
</td>
<td align="right">
    17
</td>
<td align="right">
    -5.74
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   28.40
</td>
<td align="right">
 -.76
</td>
<td align="right">
    -.42
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.23
</td>
<td align="right">
     4
</td>
<td align="right">
     -.91
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   377
</td>
<td align="right">
  -866.96
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   48.16
</td>
<td align="right">
  .61
</td>
<td align="right">
    3.82
</td>
<td align="right">
    .04
</td>
<td align="right">
    .49
</td>
<td align="right">
     5
</td>
<td align="right">
     2.43
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  117.83
</td>
<td align="right">
  .70
</td>
<td align="right">
    4.27
</td>
<td align="right">
    .77
</td>
<td align="right">
   2.39
</td>
<td align="right">
    22
</td>
<td align="right">
    52.51
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
BUCY
</td>
<td align="right">
   91.01
</td>
<td align="right">
  .63
</td>
<td align="right">
     .00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .00
</td>
<td align="right">
     3
</td>
<td align="right">
      .00
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   48.26
</td>
<td align="right">
  .76
</td>
<td align="right">
    1.25
</td>
<td align="right">
    .15
</td>
<td align="right">
    .52
</td>
<td align="right">
    71
</td>
<td align="right">
    37.20
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  133.34
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.87
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -4.09
</td>
<td align="right">
     7
</td>
<td align="right">
   -28.60
</td>
<td align="right">
   4.69
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   32.66
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.58
</td>
<td align="right">
   -.45
</td>
<td align="right">
   -.62
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.46
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   55.91
</td>
<td align="right">
  .60
</td>
<td align="right">
   -7.57
</td>
<td align="right">
   -.07
</td>
<td align="right">
  -1.43
</td>
<td align="right">
    29
</td>
<td align="right">
   -41.39
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  145.87
</td>
<td align="right">
  .69
</td>
<td align="right">
    2.53
</td>
<td align="right">
    .43
</td>
<td align="right">
    .85
</td>
<td align="right">
    14
</td>
<td align="right">
    11.92
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   59.85
</td>
<td align="right">
  .58
</td>
<td align="right">
     .64
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .60
</td>
<td align="right">
    54
</td>
<td align="right">
    32.57
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   38.56
</td>
<td align="right">
  .58
</td>
<td align="right">
    7.35
</td>
<td align="right">
    .69
</td>
<td align="right">
    .52
</td>
<td align="right">
     2
</td>
<td align="right">
     1.04
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  137.81
</td>
<td align="right">
  .57
</td>
<td align="right">
    4.35
</td>
<td align="right">
    .08
</td>
<td align="right">
    .93
</td>
<td align="right">
    17
</td>
<td align="right">
    15.87
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  592.01
</td>
<td align="right">
  .69
</td>
<td align="right">
     .93
</td>
<td align="right">
   1.48
</td>
<td align="right">
  10.09
</td>
<td align="right">
    60
</td>
<td align="right">
   605.37
</td>
<td align="right">
  10.86
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   60.67
</td>
<td align="right">
  .65
</td>
<td align="right">
    2.73
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .30
</td>
<td align="right">
    25
</td>
<td align="right">
     7.51
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   79.01
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.16
</td>
<td align="right">
    .20
</td>
<td align="right">
    .11
</td>
<td align="right">
    11
</td>
<td align="right">
     1.19
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   85.22
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.79
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.94
</td>
<td align="right">
    18
</td>
<td align="right">
   -16.91
</td>
<td align="right">
   1.19
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   66.05
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.14
</td>
<td align="right">
    .21
</td>
<td align="right">
    .87
</td>
<td align="right">
    14
</td>
<td align="right">
    12.19
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   32.17
</td>
<td align="right">
  .75
</td>
<td align="right">
    2.15
</td>
<td align="right">
    .06
</td>
<td align="right">
    .71
</td>
<td align="right">
    32
</td>
<td align="right">
    22.76
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   81.06
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.35
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.34
</td>
<td align="right">
   175
</td>
<td align="right">
   -59.57
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   63.00
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.08
</td>
<td align="right">
    .13
</td>
<td align="right">
    .50
</td>
<td align="right">
    28
</td>
<td align="right">
    14.01
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  181.74
</td>
<td align="right">
  .59
</td>
<td align="right">
     .69
</td>
<td align="right">
    .73
</td>
<td align="right">
   1.19
</td>
<td align="right">
    12
</td>
<td align="right">
    14.30
</td>
<td align="right">
   1.72
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   43.59
</td>
<td align="right">
  .63
</td>
<td align="right">
   19.00
</td>
<td align="right">
    .09
</td>
<td align="right">
    .19
</td>
<td align="right">
     1
</td>
<td align="right">
      .19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   84.55
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.11
</td>
<td align="right">
    .24
</td>
<td align="right">
    .78
</td>
<td align="right">
     6
</td>
<td align="right">
     4.68
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   610
</td>
<td align="right">
   686.81
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
