<h4>Week of: 2011_09_26</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   31.54
</td>
<td align="right">
 -.57
</td>
<td align="right">
    6.24
</td>
<td align="right">
    .13
</td>
<td align="right">
   2.26
</td>
<td align="right">
    12
</td>
<td align="right">
    27.08
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    12
</td>
<td align="right">
    27.08
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   54.90
</td>
<td align="right">
  .59
</td>
<td align="right">
   27.70
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.39
</td>
<td align="right">
     4
</td>
<td align="right">
     5.54
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   36.19
</td>
<td align="right">
  .73
</td>
<td align="right">
   10.05
</td>
<td align="right">
    .06
</td>
<td align="right">
   1.94
</td>
<td align="right">
    31
</td>
<td align="right">
    60.15
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   62.29
</td>
<td align="right">
  .64
</td>
<td align="right">
   10.77
</td>
<td align="right">
    .36
</td>
<td align="right">
   5.22
</td>
<td align="right">
    23
</td>
<td align="right">
   120.12
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   52.99
</td>
<td align="right">
  .56
</td>
<td align="right">
   12.32
</td>
<td align="right">
    .25
</td>
<td align="right">
   3.29
</td>
<td align="right">
    13
</td>
<td align="right">
    42.77
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   74.08
</td>
<td align="right">
  .65
</td>
<td align="right">
    5.92
</td>
<td align="right">
    .33
</td>
<td align="right">
   4.66
</td>
<td align="right">
    49
</td>
<td align="right">
   228.19
</td>
<td align="right">
    .79
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   45.49
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.30
</td>
<td align="right">
    .75
</td>
<td align="right">
   1.42
</td>
<td align="right">
    29
</td>
<td align="right">
    41.10
</td>
<td align="right">
   1.09
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   63.59
</td>
<td align="right">
  .61
</td>
<td align="right">
   27.43
</td>
<td align="right">
   1.03
</td>
<td align="right">
   7.66
</td>
<td align="right">
    14
</td>
<td align="right">
   107.20
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   63.63
</td>
<td align="right">
  .67
</td>
<td align="right">
   10.83
</td>
<td align="right">
    .27
</td>
<td align="right">
   3.13
</td>
<td align="right">
    25
</td>
<td align="right">
    78.25
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   31.04
</td>
<td align="right">
  .57
</td>
<td align="right">
  107.00
</td>
<td align="right">
    .43
</td>
<td align="right">
   1.07
</td>
<td align="right">
     1
</td>
<td align="right">
     1.07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   17.46
</td>
<td align="right">
  .82
</td>
<td align="right">
   10.37
</td>
<td align="right">
    .10
</td>
<td align="right">
    .54
</td>
<td align="right">
    19
</td>
<td align="right">
    10.25
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   64.04
</td>
<td align="right">
  .57
</td>
<td align="right">
  131.00
</td>
<td align="right">
   -.15
</td>
<td align="right">
   1.31
</td>
<td align="right">
     1
</td>
<td align="right">
     1.31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   45.12
</td>
<td align="right">
  .56
</td>
<td align="right">
  222.00
</td>
<td align="right">
   2.69
</td>
<td align="right">
   2.22
</td>
<td align="right">
     1
</td>
<td align="right">
     2.22
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   50.22
</td>
<td align="right">
  .60
</td>
<td align="right">
    4.59
</td>
<td align="right">
    .19
</td>
<td align="right">
   1.92
</td>
<td align="right">
    22
</td>
<td align="right">
    42.16
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  114.54
</td>
<td align="right">
  .61
</td>
<td align="right">
   15.93
</td>
<td align="right">
    .25
</td>
<td align="right">
   4.54
</td>
<td align="right">
    20
</td>
<td align="right">
    90.81
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   85.41
</td>
<td align="right">
  .70
</td>
<td align="right">
    4.80
</td>
<td align="right">
    .38
</td>
<td align="right">
   4.21
</td>
<td align="right">
    59
</td>
<td align="right">
   248.67
</td>
<td align="right">
    .88
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   51.74
</td>
<td align="right">
  .56
</td>
<td align="right">
   60.00
</td>
<td align="right">
    .94
</td>
<td align="right">
    .60
</td>
<td align="right">
     1
</td>
<td align="right">
      .60
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   312
</td>
<td align="right">
  1080.41
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
