<h4>Week of: 2011_07_11</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AAPL
</td>
<td align="right">
  355.07
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.07
</td>
<td align="right">
    .16
</td>
<td align="right">
   2.02
</td>
<td align="right">
     7
</td>
<td align="right">
    14.14
</td>
<td align="right">
   1.89
</td>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   47.73
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .65
</td>
<td align="right">
    .79
</td>
<td align="right">
    .73
</td>
<td align="right">
     2
</td>
<td align="right">
     1.46
</td>
<td align="right">
   1.13
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   89.42
</td>
<td align="right">
 -.61
</td>
<td align="right">
 -158.00
</td>
<td align="right">
   -.10
</td>
<td align="right">
  -1.58
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.58
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   31.25
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.14
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.47
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.30
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    8.21
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .58
</td>
<td align="right">
    .08
</td>
<td align="right">
    .15
</td>
<td align="right">
    65
</td>
<td align="right">
    10.00
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  144.53
</td>
<td align="right">
 -.55
</td>
<td align="right">
  171.00
</td>
<td align="right">
    .33
</td>
<td align="right">
   1.71
</td>
<td align="right">
     1
</td>
<td align="right">
     1.71
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   33.30
</td>
<td align="right">
 -.56
</td>
<td align="right">
    8.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .08
</td>
<td align="right">
     1
</td>
<td align="right">
      .08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  230.54
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.27
</td>
<td align="right">
  -2.08
</td>
<td align="right">
   -.72
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.89
</td>
<td align="right">
   2.71
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   50.47
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -5.35
</td>
<td align="right">
    .13
</td>
<td align="right">
  -1.40
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.19
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.72
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.10
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.09
</td>
<td align="right">
    68
</td>
<td align="right">
    -6.31
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   37.21
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.71
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .78
</td>
<td align="right">
    11
</td>
<td align="right">
     8.62
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   39.10
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -2.70
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.61
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.22
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   51.93
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -1.21
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.27
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.36
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   70.56
</td>
<td align="right">
 -.59
</td>
<td align="right">
 -120.00
</td>
<td align="right">
    .10
</td>
<td align="right">
  -1.20
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.20
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.05
</td>
<td align="right">
 -.61
</td>
<td align="right">
   64.00
</td>
<td align="right">
    .32
</td>
<td align="right">
    .64
</td>
<td align="right">
     1
</td>
<td align="right">
      .64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  123.86
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .26
</td>
<td align="right">
    .10
</td>
<td align="right">
    .35
</td>
<td align="right">
    34
</td>
<td align="right">
    11.91
</td>
<td align="right">
   1.37
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  561.37
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .40
</td>
<td align="right">
    .75
</td>
<td align="right">
   6.95
</td>
<td align="right">
    11
</td>
<td align="right">
    76.46
</td>
<td align="right">
  17.30
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   35.45
</td>
<td align="right">
 -.61
</td>
<td align="right">
   23.33
</td>
<td align="right">
    .01
</td>
<td align="right">
    .33
</td>
<td align="right">
     2
</td>
<td align="right">
      .66
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   22.37
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -11.00
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.11
</td>
<td align="right">
     1
</td>
<td align="right">
     -.11
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   59.73
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .44
</td>
<td align="right">
    .02
</td>
<td align="right">
    .26
</td>
<td align="right">
    13
</td>
<td align="right">
     3.42
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   39.66
</td>
<td align="right">
 -.58
</td>
<td align="right">
   41.00
</td>
<td align="right">
    .02
</td>
<td align="right">
    .41
</td>
<td align="right">
     1
</td>
<td align="right">
      .41
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   79.62
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -49.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.49
</td>
<td align="right">
     1
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   44.67
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -.28
</td>
<td align="right">
   -.09
</td>
<td align="right">
     2
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  307.86
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.76
</td>
<td align="right">
   -.37
</td>
<td align="right">
  -1.06
</td>
<td align="right">
    50
</td>
<td align="right">
   -52.99
</td>
<td align="right">
   1.39
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   37.81
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.19
</td>
<td align="right">
    34
</td>
<td align="right">
    -6.34
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   42.28
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.84
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.39
</td>
<td align="right">
    10
</td>
<td align="right">
    -3.92
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   96.52
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.18
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.26
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   74.45
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .29
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .16
</td>
<td align="right">
    12
</td>
<td align="right">
     1.94
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   36.01
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .53
</td>
<td align="right">
    .25
</td>
<td align="right">
    .18
</td>
<td align="right">
     8
</td>
<td align="right">
     1.45
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.86
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -5.35
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.23
</td>
<td align="right">
     4
</td>
<td align="right">
     -.93
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   33.12
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.83
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.59
</td>
<td align="right">
    19
</td>
<td align="right">
   -11.29
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.31
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .03
</td>
<td align="right">
    .11
</td>
<td align="right">
    .01
</td>
<td align="right">
    31
</td>
<td align="right">
      .23
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   54.89
</td>
<td align="right">
 -.56
</td>
<td align="right">
   34.57
</td>
<td align="right">
    .30
</td>
<td align="right">
   2.42
</td>
<td align="right">
     3
</td>
<td align="right">
     7.26
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   52.45
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -67.88
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.96
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.92
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.84
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -1.26
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.24
</td>
<td align="right">
    11
</td>
<td align="right">
    -2.68
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  151.68
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.15
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.46
</td>
<td align="right">
    48
</td>
<td align="right">
   -21.92
</td>
<td align="right">
   3.11
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   64.64
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.65
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .24
</td>
<td align="right">
    30
</td>
<td align="right">
     7.22
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   67.34
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.03
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.40
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.59
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   62.29
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.78
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.31
</td>
<td align="right">
    61
</td>
<td align="right">
   -18.63
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   58.36
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -5.78
</td>
<td align="right">
   -.05
</td>
<td align="right">
  -1.26
</td>
<td align="right">
     8
</td>
<td align="right">
   -10.10
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   61.26
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.33
</td>
<td align="right">
    .14
</td>
<td align="right">
    .48
</td>
<td align="right">
    17
</td>
<td align="right">
     8.24
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   27.22
</td>
<td align="right">
 -.62
</td>
<td align="right">
   41.72
</td>
<td align="right">
    .26
</td>
<td align="right">
    .30
</td>
<td align="right">
     2
</td>
<td align="right">
      .59
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   35.07
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .84
</td>
<td align="right">
    .37
</td>
<td align="right">
    .27
</td>
<td align="right">
     9
</td>
<td align="right">
     2.41
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   14.75
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -3.40
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.22
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.09
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   35.04
</td>
<td align="right">
 -.61
</td>
<td align="right">
   13.60
</td>
<td align="right">
    .70
</td>
<td align="right">
   2.11
</td>
<td align="right">
     3
</td>
<td align="right">
     6.34
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   37.78
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .72
</td>
<td align="right">
    .17
</td>
<td align="right">
    .73
</td>
<td align="right">
    22
</td>
<td align="right">
    16.11
</td>
<td align="right">
   1.01
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   76.46
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.61
</td>
<td align="right">
    .51
</td>
<td align="right">
   2.27
</td>
<td align="right">
     5
</td>
<td align="right">
    11.37
</td>
<td align="right">
   1.41
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   11.03
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.15
</td>
<td align="right">
    44
</td>
<td align="right">
    -6.77
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   51.17
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.14
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.12
</td>
<td align="right">
    25
</td>
<td align="right">
    -2.94
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   49.35
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.00
</td>
<td align="right">
   -.54
</td>
<td align="right">
   -.54
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.63
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   32.78
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -5.92
</td>
<td align="right">
   -.26
</td>
<td align="right">
  -1.66
</td>
<td align="right">
     8
</td>
<td align="right">
   -13.27
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   73.80
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -49.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.49
</td>
<td align="right">
     1
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   27.57
</td>
<td align="right">
 -.56
</td>
<td align="right">
    1.53
</td>
<td align="right">
    .06
</td>
<td align="right">
    .12
</td>
<td align="right">
    10
</td>
<td align="right">
     1.20
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.94
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.41
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.08
</td>
<td align="right">
    27
</td>
<td align="right">
    -2.17
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  160.38
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.21
</td>
<td align="right">
    .60
</td>
<td align="right">
   2.68
</td>
<td align="right">
     9
</td>
<td align="right">
    24.08
</td>
<td align="right">
   1.21
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   44.40
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.24
</td>
<td align="right">
   -.04
</td>
<td align="right">
  -1.34
</td>
<td align="right">
    47
</td>
<td align="right">
   -63.01
</td>
<td align="right">
   1.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   823
</td>
<td align="right">
   -29.82
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   48.02
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.34
</td>
<td align="right">
    .19
</td>
<td align="right">
    .64
</td>
<td align="right">
     2
</td>
<td align="right">
     1.27
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   28.70
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.60
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.19
</td>
<td align="right">
    10
</td>
<td align="right">
    -1.91
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   30.69
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.02
</td>
<td align="right">
    .10
</td>
<td align="right">
    .32
</td>
<td align="right">
    16
</td>
<td align="right">
     5.17
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
ALL
</td>
<td align="right">
   30.17
</td>
<td align="right">
  .63
</td>
<td align="right">
   -3.30
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.36
</td>
<td align="right">
    11
</td>
<td align="right">
    -3.92
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  211.43
</td>
<td align="right">
  .55
</td>
<td align="right">
  -69.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.69
</td>
<td align="right">
     1
</td>
<td align="right">
     -.69
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   25.68
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.17
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .12
</td>
<td align="right">
    24
</td>
<td align="right">
     2.92
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  140.03
</td>
<td align="right">
  .59
</td>
<td align="right">
    9.83
</td>
<td align="right">
   2.02
</td>
<td align="right">
   5.30
</td>
<td align="right">
     5
</td>
<td align="right">
    26.51
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   39.15
</td>
<td align="right">
  .58
</td>
<td align="right">
   -8.59
</td>
<td align="right">
    .33
</td>
<td align="right">
   -.78
</td>
<td align="right">
     9
</td>
<td align="right">
    -7.03
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   30.14
</td>
<td align="right">
  .62
</td>
<td align="right">
   21.00
</td>
<td align="right">
   -.21
</td>
<td align="right">
    .21
</td>
<td align="right">
     1
</td>
<td align="right">
      .21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   49.56
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.01
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.56
</td>
<td align="right">
    32
</td>
<td align="right">
   -17.98
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  154.07
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.18
</td>
<td align="right">
  -1.04
</td>
<td align="right">
  -1.61
</td>
<td align="right">
    21
</td>
<td align="right">
   -33.91
</td>
<td align="right">
   1.37
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.48
</td>
<td align="right">
  .67
</td>
<td align="right">
     .69
</td>
<td align="right">
    .04
</td>
<td align="right">
    .08
</td>
<td align="right">
    38
</td>
<td align="right">
     2.95
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  124.23
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.57
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.84
</td>
<td align="right">
    15
</td>
<td align="right">
   -12.56
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   39.64
</td>
<td align="right">
  .60
</td>
<td align="right">
     .03
</td>
<td align="right">
    .05
</td>
<td align="right">
    .01
</td>
<td align="right">
     6
</td>
<td align="right">
      .03
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   52.54
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.38
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.49
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.46
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   32.65
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.11
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.06
</td>
<td align="right">
     3
</td>
<td align="right">
     -.17
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   58.17
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.19
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.07
</td>
<td align="right">
    30
</td>
<td align="right">
    -2.02
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   53.43
</td>
<td align="right">
  .55
</td>
<td align="right">
  -11.00
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.11
</td>
<td align="right">
     1
</td>
<td align="right">
     -.11
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   69.89
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.64
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.33
</td>
<td align="right">
    19
</td>
<td align="right">
    -6.18
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.08
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.29
</td>
<td align="right">
    .23
</td>
<td align="right">
    .30
</td>
<td align="right">
     8
</td>
<td align="right">
     2.37
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  112.51
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.33
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.79
</td>
<td align="right">
    21
</td>
<td align="right">
   -16.58
</td>
<td align="right">
   2.37
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  125.44
</td>
<td align="right">
  .59
</td>
<td align="right">
 -115.00
</td>
<td align="right">
  -2.09
</td>
<td align="right">
  -1.15
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   40.94
</td>
<td align="right">
  .60
</td>
<td align="right">
    5.45
</td>
<td align="right">
    .06
</td>
<td align="right">
    .75
</td>
<td align="right">
    15
</td>
<td align="right">
    11.23
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   55.52
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.01
</td>
<td align="right">
    .30
</td>
<td align="right">
   1.87
</td>
<td align="right">
    19
</td>
<td align="right">
    35.44
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   41.43
</td>
<td align="right">
  .57
</td>
<td align="right">
  -58.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.58
</td>
<td align="right">
     1
</td>
<td align="right">
     -.58
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  577.29
</td>
<td align="right">
  .62
</td>
<td align="right">
     .76
</td>
<td align="right">
    .97
</td>
<td align="right">
  19.84
</td>
<td align="right">
    12
</td>
<td align="right">
   238.13
</td>
<td align="right">
  26.10
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   35.49
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.90
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.24
</td>
<td align="right">
    46
</td>
<td align="right">
   -10.83
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  175.07
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.16
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.19
</td>
<td align="right">
     3
</td>
<td align="right">
     -.57
</td>
<td align="right">
   1.18
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   22.54
</td>
<td align="right">
  .56
</td>
<td align="right">
   -5.30
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.15
</td>
<td align="right">
     2
</td>
<td align="right">
     -.30
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   59.12
</td>
<td align="right">
  .79
</td>
<td align="right">
    3.17
</td>
<td align="right">
    .36
</td>
<td align="right">
    .83
</td>
<td align="right">
    38
</td>
<td align="right">
    31.50
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   44.52
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.25
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.17
</td>
<td align="right">
     3
</td>
<td align="right">
     -.52
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  307.15
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.99
</td>
<td align="right">
   1.30
</td>
<td align="right">
   -.42
</td>
<td align="right">
     2
</td>
<td align="right">
     -.83
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
MAR
</td>
<td align="right">
   36.43
</td>
<td align="right">
  .62
</td>
<td align="right">
    4.43
</td>
<td align="right">
    .02
</td>
<td align="right">
    .48
</td>
<td align="right">
    15
</td>
<td align="right">
     7.23
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   36.41
</td>
<td align="right">
  .63
</td>
<td align="right">
  -51.00
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.51
</td>
<td align="right">
     1
</td>
<td align="right">
     -.51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.78
</td>
<td align="right">
  .57
</td>
<td align="right">
  -19.00
</td>
<td align="right">
   -.36
</td>
<td align="right">
   -.19
</td>
<td align="right">
     1
</td>
<td align="right">
     -.19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   32.07
</td>
<td align="right">
  .56
</td>
<td align="right">
  -92.00
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.92
</td>
<td align="right">
     1
</td>
<td align="right">
     -.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   56.75
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.22
</td>
<td align="right">
    .19
</td>
<td align="right">
   1.01
</td>
<td align="right">
     5
</td>
<td align="right">
     5.07
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   64.18
</td>
<td align="right">
  .73
</td>
<td align="right">
    4.57
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .16
</td>
<td align="right">
     6
</td>
<td align="right">
      .93
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
  102.84
</td>
<td align="right">
  .57
</td>
<td align="right">
   61.00
</td>
<td align="right">
    .38
</td>
<td align="right">
    .61
</td>
<td align="right">
     1
</td>
<td align="right">
      .61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   67.97
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.33
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.76
</td>
<td align="right">
    37
</td>
<td align="right">
   -28.18
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   58.76
</td>
<td align="right">
  .65
</td>
<td align="right">
     .30
</td>
<td align="right">
   -.29
</td>
<td align="right">
    .10
</td>
<td align="right">
     3
</td>
<td align="right">
      .29
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  174.28
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.12
</td>
<td align="right">
    .26
</td>
<td align="right">
   1.23
</td>
<td align="right">
    64
</td>
<td align="right">
    78.67
</td>
<td align="right">
   1.10
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   28.23
</td>
<td align="right">
  .62
</td>
<td align="right">
  -49.65
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.86
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.58
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   11.25
</td>
<td align="right">
  .63
</td>
<td align="right">
    3.39
</td>
<td align="right">
    .09
</td>
<td align="right">
    .44
</td>
<td align="right">
    32
</td>
<td align="right">
    14.03
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   50.67
</td>
<td align="right">
  .63
</td>
<td align="right">
     .04
</td>
<td align="right">
    .06
</td>
<td align="right">
    .01
</td>
<td align="right">
     6
</td>
<td align="right">
      .04
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   50.90
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.50
</td>
<td align="right">
   -.58
</td>
<td align="right">
   -.63
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.25
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   77.95
</td>
<td align="right">
  .65
</td>
<td align="right">
   -3.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.03
</td>
<td align="right">
     1
</td>
<td align="right">
     -.03
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   73.30
</td>
<td align="right">
  .82
</td>
<td align="right">
   -2.00
</td>
<td align="right">
    .60
</td>
<td align="right">
   -.02
</td>
<td align="right">
     1
</td>
<td align="right">
     -.02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   88.70
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.81
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.53
</td>
<td align="right">
    13
</td>
<td align="right">
    -6.93
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  101.84
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.75
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.36
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.44
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.79
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.68
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.35
</td>
<td align="right">
     8
</td>
<td align="right">
    -2.80
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  157.12
</td>
<td align="right">
  .68
</td>
<td align="right">
  192.00
</td>
<td align="right">
    .45
</td>
<td align="right">
   1.92
</td>
<td align="right">
     1
</td>
<td align="right">
     1.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   39.39
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.71
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.18
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.27
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   634
</td>
<td align="right">
   299.10
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
