<h4>Week of: 2011_10_17</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   22.99
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -5.27
</td>
<td align="right">
   -.48
</td>
<td align="right">
   -.64
</td>
<td align="right">
     5
</td>
<td align="right">
    -3.20
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   21.09
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -7.67
</td>
<td align="right">
   -.75
</td>
<td align="right">
  -1.32
</td>
<td align="right">
     5
</td>
<td align="right">
    -6.61
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  135.67
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -4.68
</td>
<td align="right">
   -.24
</td>
<td align="right">
  -5.82
</td>
<td align="right">
    43
</td>
<td align="right">
  -250.47
</td>
<td align="right">
   1.24
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   78.41
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -3.26
</td>
<td align="right">
  -1.15
</td>
<td align="right">
  -2.29
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.57
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   31.65
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -60.00
</td>
<td align="right">
   -.59
</td>
<td align="right">
   -.60
</td>
<td align="right">
     1
</td>
<td align="right">
     -.60
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   32.41
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.77
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .32
</td>
<td align="right">
    11
</td>
<td align="right">
     3.52
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   37.80
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.94
</td>
<td align="right">
    .05
</td>
<td align="right">
    .94
</td>
<td align="right">
    54
</td>
<td align="right">
    50.57
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   18.93
</td>
<td align="right">
 -.66
</td>
<td align="right">
  -29.00
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.29
</td>
<td align="right">
     1
</td>
<td align="right">
     -.29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   53.48
</td>
<td align="right">
 -.56
</td>
<td align="right">
   48.00
</td>
<td align="right">
    .18
</td>
<td align="right">
    .48
</td>
<td align="right">
     1
</td>
<td align="right">
      .48
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    8.47
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -8.72
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.56
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.11
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   89.53
</td>
<td align="right">
 -.61
</td>
<td align="right">
   16.92
</td>
<td align="right">
   1.47
</td>
<td align="right">
   6.92
</td>
<td align="right">
    12
</td>
<td align="right">
    83.04
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   137
</td>
<td align="right">
  -129.24
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
   16.41
</td>
<td align="right">
  .56
</td>
<td align="right">
    3.13
</td>
<td align="right">
    .16
</td>
<td align="right">
    .16
</td>
<td align="right">
     2
</td>
<td align="right">
      .31
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   39.94
</td>
<td align="right">
  .57
</td>
<td align="right">
   10.37
</td>
<td align="right">
   -.80
</td>
<td align="right">
   1.78
</td>
<td align="right">
     5
</td>
<td align="right">
     8.90
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
ALL
</td>
<td align="right">
   24.62
</td>
<td align="right">
  .60
</td>
<td align="right">
  -30.00
</td>
<td align="right">
   -.35
</td>
<td align="right">
   -.30
</td>
<td align="right">
     1
</td>
<td align="right">
     -.30
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   74.73
</td>
<td align="right">
  .56
</td>
<td align="right">
     .80
</td>
<td align="right">
   -.93
</td>
<td align="right">
    .64
</td>
<td align="right">
    11
</td>
<td align="right">
     7.07
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   40.39
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.95
</td>
<td align="right">
    .01
</td>
<td align="right">
    .63
</td>
<td align="right">
    34
</td>
<td align="right">
    21.47
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   33.68
</td>
<td align="right">
  .56
</td>
<td align="right">
   -2.08
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.30
</td>
<td align="right">
    17
</td>
<td align="right">
    -5.03
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   51.18
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.58
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.23
</td>
<td align="right">
    43
</td>
<td align="right">
   -10.06
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   35.14
</td>
<td align="right">
  .69
</td>
<td align="right">
   -5.29
</td>
<td align="right">
   -.02
</td>
<td align="right">
  -1.24
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.47
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.95
</td>
<td align="right">
  .56
</td>
<td align="right">
  -12.92
</td>
<td align="right">
   -.38
</td>
<td align="right">
  -1.22
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.89
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  589.60
</td>
<td align="right">
  .59
</td>
<td align="right">
   -5.41
</td>
<td align="right">
  -4.82
</td>
<td align="right">
  -8.86
</td>
<td align="right">
     6
</td>
<td align="right">
   -53.17
</td>
<td align="right">
   1.64
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   54.27
</td>
<td align="right">
  .57
</td>
<td align="right">
    5.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .05
</td>
<td align="right">
     1
</td>
<td align="right">
      .05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   18.78
</td>
<td align="right">
  .60
</td>
<td align="right">
     .63
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .12
</td>
<td align="right">
     6
</td>
<td align="right">
      .71
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  154.00
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.70
</td>
<td align="right">
   -.33
</td>
<td align="right">
  -2.15
</td>
<td align="right">
    21
</td>
<td align="right">
   -45.15
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    8.19
</td>
<td align="right">
  .60
</td>
<td align="right">
  -14.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   23.62
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.24
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.52
</td>
<td align="right">
    49
</td>
<td align="right">
   -25.37
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   55.57
</td>
<td align="right">
  .56
</td>
<td align="right">
 -155.00
</td>
<td align="right">
    .06
</td>
<td align="right">
  -1.55
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.55
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   23.49
</td>
<td align="right">
  .56
</td>
<td align="right">
   -2.18
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.91
</td>
<td align="right">
     7
</td>
<td align="right">
    -6.36
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   211
</td>
<td align="right">
  -115.98
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
