<h4>Week of: 2011_07_05</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   87.41
</td>
<td align="right">
 -.59
</td>
<td align="right">
  154.00
</td>
<td align="right">
    .29
</td>
<td align="right">
   1.54
</td>
<td align="right">
     1
</td>
<td align="right">
     1.54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   30.22
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -5.66
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.50
</td>
<td align="right">
    18
</td>
<td align="right">
    -9.00
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   31.37
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.36
</td>
<td align="right">
   -.31
</td>
<td align="right">
   -.45
</td>
<td align="right">
     8
</td>
<td align="right">
    -3.61
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   57.81
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -29.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.29
</td>
<td align="right">
     1
</td>
<td align="right">
     -.29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMT
</td>
<td align="right">
   53.69
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.31
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.45
</td>
<td align="right">
    14
</td>
<td align="right">
    -6.31
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   52.42
</td>
<td align="right">
 -.59
</td>
<td align="right">
   86.97
</td>
<td align="right">
    .39
</td>
<td align="right">
   1.23
</td>
<td align="right">
     2
</td>
<td align="right">
     2.46
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  133.45
</td>
<td align="right">
 -.58
</td>
<td align="right">
   11.64
</td>
<td align="right">
    .37
</td>
<td align="right">
   3.47
</td>
<td align="right">
     3
</td>
<td align="right">
    10.41
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  146.21
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.26
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.80
</td>
<td align="right">
    13
</td>
<td align="right">
   -10.38
</td>
<td align="right">
   3.06
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   60.72
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.65
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.53
</td>
<td align="right">
    55
</td>
<td align="right">
   -28.89
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   53.62
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.26
</td>
<td align="right">
   181
</td>
<td align="right">
   -46.24
</td>
<td align="right">
    .96
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.73
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -1.83
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.17
</td>
<td align="right">
   125
</td>
<td align="right">
   -21.75
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   38.10
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -3.46
</td>
<td align="right">
   -.19
</td>
<td align="right">
  -1.04
</td>
<td align="right">
     6
</td>
<td align="right">
    -6.23
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  125.95
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.43
</td>
<td align="right">
    .05
</td>
<td align="right">
    .90
</td>
<td align="right">
    29
</td>
<td align="right">
    26.02
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   39.98
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.38
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.38
</td>
<td align="right">
    10
</td>
<td align="right">
    -3.75
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   41.67
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -3.36
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.19
</td>
<td align="right">
     4
</td>
<td align="right">
     -.77
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   36.41
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .49
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .16
</td>
<td align="right">
    24
</td>
<td align="right">
     3.93
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   33.38
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -3.24
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.51
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.59
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   60.00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    3.03
</td>
<td align="right">
    .06
</td>
<td align="right">
    .44
</td>
<td align="right">
     4
</td>
<td align="right">
     1.77
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   16.10
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.12
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.11
</td>
<td align="right">
     2
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   53.79
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .18
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .08
</td>
<td align="right">
     9
</td>
<td align="right">
      .70
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   72.90
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -11.15
</td>
<td align="right">
   -.43
</td>
<td align="right">
  -1.88
</td>
<td align="right">
     8
</td>
<td align="right">
   -15.05
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.56
</td>
<td align="right">
 -.58
</td>
<td align="right">
    2.67
</td>
<td align="right">
    .09
</td>
<td align="right">
    .30
</td>
<td align="right">
     3
</td>
<td align="right">
      .91
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   42.85
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -6.19
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.82
</td>
<td align="right">
    16
</td>
<td align="right">
   -13.13
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.73
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -3.97
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.37
</td>
<td align="right">
     2
</td>
<td align="right">
     -.73
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   42.08
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.80
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.54
</td>
<td align="right">
    38
</td>
<td align="right">
   -20.49
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  149.72
</td>
<td align="right">
 -.61
</td>
<td align="right">
    4.55
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .23
</td>
<td align="right">
     2
</td>
<td align="right">
      .45
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  134.15
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .10
</td>
<td align="right">
    .17
</td>
<td align="right">
    .23
</td>
<td align="right">
     2
</td>
<td align="right">
      .46
</td>
<td align="right">
   2.40
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   37.10
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -67.00
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.67
</td>
<td align="right">
     1
</td>
<td align="right">
     -.67
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   36.45
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -8.47
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.47
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.40
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   61.08
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -305.00
</td>
<td align="right">
    .42
</td>
<td align="right">
  -3.05
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   37.47
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .79
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .18
</td>
<td align="right">
    33
</td>
<td align="right">
     5.95
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   81.59
</td>
<td align="right">
 -.64
</td>
<td align="right">
  -24.01
</td>
<td align="right">
   -.11
</td>
<td align="right">
  -1.13
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.53
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   44.18
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.60
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.28
</td>
<td align="right">
    47
</td>
<td align="right">
   -13.09
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  182.24
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -15.28
</td>
<td align="right">
  -2.27
</td>
<td align="right">
  -3.89
</td>
<td align="right">
     2
</td>
<td align="right">
    -7.78
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   43.66
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.24
</td>
<td align="right">
   187
</td>
<td align="right">
   -45.69
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   74.77
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .47
</td>
<td align="right">
    .01
</td>
<td align="right">
    .12
</td>
<td align="right">
    11
</td>
<td align="right">
     1.30
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   68.06
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.26
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.33
</td>
<td align="right">
    54
</td>
<td align="right">
   -17.96
</td>
<td align="right">
   1.27
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   36.05
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -36.00
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.36
</td>
<td align="right">
     1
</td>
<td align="right">
     -.36
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.76
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.40
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.11
</td>
<td align="right">
     3
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   34.89
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.52
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.49
</td>
<td align="right">
    14
</td>
<td align="right">
    -6.87
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.97
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -4.99
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.47
</td>
<td align="right">
     9
</td>
<td align="right">
    -4.26
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   41.31
</td>
<td align="right">
 -.68
</td>
<td align="right">
  -88.00
</td>
<td align="right">
    .21
</td>
<td align="right">
   -.88
</td>
<td align="right">
     1
</td>
<td align="right">
     -.88
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   33.96
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -4.51
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.47
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.37
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   64.74
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .50
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .10
</td>
<td align="right">
     9
</td>
<td align="right">
      .94
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   60.35
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -10.40
</td>
<td align="right">
    .25
</td>
<td align="right">
   -.69
</td>
<td align="right">
     8
</td>
<td align="right">
    -5.52
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   57.24
</td>
<td align="right">
 -.63
</td>
<td align="right">
   11.55
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .93
</td>
<td align="right">
    10
</td>
<td align="right">
     9.32
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  171.95
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.23
</td>
<td align="right">
    81
</td>
<td align="right">
   -18.31
</td>
<td align="right">
    .82
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   63.77
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.09
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.54
</td>
<td align="right">
    56
</td>
<td align="right">
   -30.21
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   58.81
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.52
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.83
</td>
<td align="right">
     9
</td>
<td align="right">
    -7.43
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   35.29
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -3.03
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.96
</td>
<td align="right">
    11
</td>
<td align="right">
   -10.51
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   62.12
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.79
</td>
<td align="right">
   -.06
</td>
<td align="right">
  -1.23
</td>
<td align="right">
    26
</td>
<td align="right">
   -32.01
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   33.76
</td>
<td align="right">
 -.60
</td>
<td align="right">
   14.25
</td>
<td align="right">
    .29
</td>
<td align="right">
    .57
</td>
<td align="right">
     3
</td>
<td align="right">
     1.71
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  135.39
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -8.81
</td>
<td align="right">
   -.35
</td>
<td align="right">
  -1.48
</td>
<td align="right">
     4
</td>
<td align="right">
    -5.92
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   46.76
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -72.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.72
</td>
<td align="right">
     1
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   41.59
</td>
<td align="right">
 -.55
</td>
<td align="right">
  109.00
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.09
</td>
<td align="right">
     1
</td>
<td align="right">
     1.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   10.68
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -3.07
</td>
<td align="right">
   -.38
</td>
<td align="right">
   -.47
</td>
<td align="right">
    12
</td>
<td align="right">
    -5.62
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   30.84
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .23
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .02
</td>
<td align="right">
     7
</td>
<td align="right">
      .11
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   47.68
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.50
</td>
<td align="right">
    .10
</td>
<td align="right">
    .67
</td>
<td align="right">
    49
</td>
<td align="right">
    33.02
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   32.78
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -9.99
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -1.53
</td>
<td align="right">
     6
</td>
<td align="right">
    -9.15
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   73.54
</td>
<td align="right">
 -.58
</td>
<td align="right">
   38.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .38
</td>
<td align="right">
     1
</td>
<td align="right">
      .38
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   88.24
</td>
<td align="right">
 -.87
</td>
<td align="right">
   93.57
</td>
<td align="right">
   1.62
</td>
<td align="right">
   1.99
</td>
<td align="right">
     2
</td>
<td align="right">
     3.97
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   33.21
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.44
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.30
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.77
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   27.91
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.21
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.06
</td>
<td align="right">
    14
</td>
<td align="right">
     -.90
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   64.81
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -37.95
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.81
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.61
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.60
</td>
<td align="right">
 -.61
</td>
<td align="right">
   80.00
</td>
<td align="right">
    .05
</td>
<td align="right">
    .80
</td>
<td align="right">
     1
</td>
<td align="right">
      .80
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   76.22
</td>
<td align="right">
 -.60
</td>
<td align="right">
   93.00
</td>
<td align="right">
    .10
</td>
<td align="right">
    .93
</td>
<td align="right">
     1
</td>
<td align="right">
      .93
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   82.08
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -1.64
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.11
</td>
<td align="right">
     3
</td>
<td align="right">
     -.32
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1286
</td>
<td align="right">
  -321.49
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   46.42
</td>
<td align="right">
  .63
</td>
<td align="right">
     .06
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .04
</td>
<td align="right">
     5
</td>
<td align="right">
      .19
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   31.54
</td>
<td align="right">
  .63
</td>
<td align="right">
   77.00
</td>
<td align="right">
    .30
</td>
<td align="right">
    .77
</td>
<td align="right">
     1
</td>
<td align="right">
      .77
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   29.60
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.40
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.41
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.05
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   30.70
</td>
<td align="right">
  .63
</td>
<td align="right">
     .69
</td>
<td align="right">
    .10
</td>
<td align="right">
    .18
</td>
<td align="right">
    13
</td>
<td align="right">
     2.38
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   57.79
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.87
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.45
</td>
<td align="right">
     2
</td>
<td align="right">
     -.90
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   25.69
</td>
<td align="right">
  .71
</td>
<td align="right">
    2.01
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .13
</td>
<td align="right">
    18
</td>
<td align="right">
     2.27
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   60.16
</td>
<td align="right">
  .60
</td>
<td align="right">
   -9.59
</td>
<td align="right">
  -1.32
</td>
<td align="right">
  -1.96
</td>
<td align="right">
     4
</td>
<td align="right">
    -7.83
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   41.92
</td>
<td align="right">
  .63
</td>
<td align="right">
    9.36
</td>
<td align="right">
    .06
</td>
<td align="right">
    .85
</td>
<td align="right">
     6
</td>
<td align="right">
     5.07
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  236.13
</td>
<td align="right">
  .68
</td>
<td align="right">
   -3.03
</td>
<td align="right">
   -.42
</td>
<td align="right">
  -2.19
</td>
<td align="right">
     4
</td>
<td align="right">
    -8.74
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   94.53
</td>
<td align="right">
  .56
</td>
<td align="right">
  199.00
</td>
<td align="right">
   2.18
</td>
<td align="right">
   1.99
</td>
<td align="right">
     1
</td>
<td align="right">
     1.99
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   52.04
</td>
<td align="right">
  .56
</td>
<td align="right">
    3.11
</td>
<td align="right">
    .46
</td>
<td align="right">
    .37
</td>
<td align="right">
     5
</td>
<td align="right">
     1.85
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.59
</td>
<td align="right">
  .61
</td>
<td align="right">
   -6.73
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.19
</td>
<td align="right">
    11
</td>
<td align="right">
    -2.08
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   37.61
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.93
</td>
<td align="right">
    .12
</td>
<td align="right">
    .23
</td>
<td align="right">
     8
</td>
<td align="right">
     1.86
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   41.46
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.87
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.53
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.06
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   36.91
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.50
</td>
<td align="right">
   -.33
</td>
<td align="right">
   -.37
</td>
<td align="right">
    10
</td>
<td align="right">
    -3.71
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   54.60
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.09
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.24
</td>
<td align="right">
    13
</td>
<td align="right">
    -3.06
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   72.13
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.60
</td>
<td align="right">
   -.44
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.10
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.11
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.54
</td>
<td align="right">
    .11
</td>
<td align="right">
    .53
</td>
<td align="right">
    58
</td>
<td align="right">
    30.87
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   53.46
</td>
<td align="right">
  .59
</td>
<td align="right">
  216.00
</td>
<td align="right">
    .01
</td>
<td align="right">
   2.16
</td>
<td align="right">
     1
</td>
<td align="right">
     2.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  110.27
</td>
<td align="right">
  .58
</td>
<td align="right">
  196.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   1.96
</td>
<td align="right">
     1
</td>
<td align="right">
     1.96
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   42.19
</td>
<td align="right">
  .61
</td>
<td align="right">
   -7.21
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.88
</td>
<td align="right">
     7
</td>
<td align="right">
    -6.18
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   55.45
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.91
</td>
<td align="right">
    .27
</td>
<td align="right">
   1.71
</td>
<td align="right">
    21
</td>
<td align="right">
    35.87
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  149.07
</td>
<td align="right">
  .64
</td>
<td align="right">
    6.38
</td>
<td align="right">
    .37
</td>
<td align="right">
   1.25
</td>
<td align="right">
     9
</td>
<td align="right">
    11.22
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
HL
</td>
<td align="right">
    7.98
</td>
<td align="right">
  .59
</td>
<td align="right">
   29.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .29
</td>
<td align="right">
     1
</td>
<td align="right">
      .29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   36.55
</td>
<td align="right">
  .59
</td>
<td align="right">
   -7.42
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.11
</td>
<td align="right">
     3
</td>
<td align="right">
     -.34
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  176.43
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.25
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -1.01
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.03
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   84.30
</td>
<td align="right">
  .71
</td>
<td align="right">
   28.49
</td>
<td align="right">
    .13
</td>
<td align="right">
   1.53
</td>
<td align="right">
    22
</td>
<td align="right">
    33.76
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   44.97
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.09
</td>
<td align="right">
    .22
</td>
<td align="right">
   -.06
</td>
<td align="right">
     3
</td>
<td align="right">
     -.17
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  181.98
</td>
<td align="right">
  .58
</td>
<td align="right">
     .16
</td>
<td align="right">
    .56
</td>
<td align="right">
    .57
</td>
<td align="right">
     2
</td>
<td align="right">
     1.14
</td>
<td align="right">
   3.49
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   68.52
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.95
</td>
<td align="right">
   -.49
</td>
<td align="right">
   -.31
</td>
<td align="right">
     2
</td>
<td align="right">
     -.62
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   35.50
</td>
<td align="right">
  .57
</td>
<td align="right">
    2.99
</td>
<td align="right">
    .03
</td>
<td align="right">
    .33
</td>
<td align="right">
     5
</td>
<td align="right">
     1.65
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.31
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.35
</td>
<td align="right">
    .10
</td>
<td align="right">
    .35
</td>
<td align="right">
    59
</td>
<td align="right">
    20.79
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.57
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.76
</td>
<td align="right">
    .19
</td>
<td align="right">
    .33
</td>
<td align="right">
    23
</td>
<td align="right">
     7.54
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   54.48
</td>
<td align="right">
  .62
</td>
<td align="right">
    9.28
</td>
<td align="right">
    .56
</td>
<td align="right">
    .76
</td>
<td align="right">
     3
</td>
<td align="right">
     2.28
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   64.73
</td>
<td align="right">
  .63
</td>
<td align="right">
  -21.00
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.21
</td>
<td align="right">
     1
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  172.15
</td>
<td align="right">
  .55
</td>
<td align="right">
  -19.00
</td>
<td align="right">
    .51
</td>
<td align="right">
   -.19
</td>
<td align="right">
     1
</td>
<td align="right">
     -.19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   63.71
</td>
<td align="right">
  .64
</td>
<td align="right">
     .72
</td>
<td align="right">
    .44
</td>
<td align="right">
    .76
</td>
<td align="right">
    21
</td>
<td align="right">
    15.92
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   58.22
</td>
<td align="right">
  .62
</td>
<td align="right">
    6.26
</td>
<td align="right">
    .09
</td>
<td align="right">
    .91
</td>
<td align="right">
     5
</td>
<td align="right">
     4.55
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   64.11
</td>
<td align="right">
  .59
</td>
<td align="right">
   -8.67
</td>
<td align="right">
    .01
</td>
<td align="right">
  -2.32
</td>
<td align="right">
     6
</td>
<td align="right">
   -13.92
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   76.25
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.21
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.05
</td>
<td align="right">
     9
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   14.93
</td>
<td align="right">
  .66
</td>
<td align="right">
   -3.07
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.16
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.24
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   77.30
</td>
<td align="right">
  .61
</td>
<td align="right">
     .45
</td>
<td align="right">
    .03
</td>
<td align="right">
    .48
</td>
<td align="right">
    24
</td>
<td align="right">
    11.42
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  133.87
</td>
<td align="right">
  .57
</td>
<td align="right">
 -158.00
</td>
<td align="right">
    .27
</td>
<td align="right">
  -1.58
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.58
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   45.40
</td>
<td align="right">
  .58
</td>
<td align="right">
     .31
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .27
</td>
<td align="right">
    10
</td>
<td align="right">
     2.69
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   10.67
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.67
</td>
<td align="right">
    .05
</td>
<td align="right">
    .08
</td>
<td align="right">
     3
</td>
<td align="right">
      .24
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   23.76
</td>
<td align="right">
  .56
</td>
<td align="right">
   -4.71
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.40
</td>
<td align="right">
     2
</td>
<td align="right">
     -.80
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   51.52
</td>
<td align="right">
  .59
</td>
<td align="right">
   -2.72
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.68
</td>
<td align="right">
     9
</td>
<td align="right">
    -6.09
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   33.06
</td>
<td align="right">
  .65
</td>
<td align="right">
     .18
</td>
<td align="right">
    .13
</td>
<td align="right">
    .12
</td>
<td align="right">
    20
</td>
<td align="right">
     2.46
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   74.10
</td>
<td align="right">
  .63
</td>
<td align="right">
   93.00
</td>
<td align="right">
    .51
</td>
<td align="right">
    .93
</td>
<td align="right">
     1
</td>
<td align="right">
      .93
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   89.77
</td>
<td align="right">
  .84
</td>
<td align="right">
    -.94
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.18
</td>
<td align="right">
    22
</td>
<td align="right">
    -3.98
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   32.39
</td>
<td align="right">
  .55
</td>
<td align="right">
    7.00
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .07
</td>
<td align="right">
     1
</td>
<td align="right">
      .07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   28.24
</td>
<td align="right">
  .59
</td>
<td align="right">
   -3.01
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.32
</td>
<td align="right">
    13
</td>
<td align="right">
    -4.10
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.25
</td>
<td align="right">
  .69
</td>
<td align="right">
    4.07
</td>
<td align="right">
    .12
</td>
<td align="right">
    .46
</td>
<td align="right">
     7
</td>
<td align="right">
     3.25
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   39.90
</td>
<td align="right">
  .66
</td>
<td align="right">
   11.00
</td>
<td align="right">
    .37
</td>
<td align="right">
    .66
</td>
<td align="right">
     3
</td>
<td align="right">
     1.98
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   505
</td>
<td align="right">
   134.01
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
