<h4>Week of: 2011_08_15</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  319.12
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.67
</td>
<td align="right">
  -2.40
</td>
<td align="right">
  -3.67
</td>
<td align="right">
    11
</td>
<td align="right">
   -40.36
</td>
<td align="right">
   1.38
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   30.72
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -3.38
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.40
</td>
<td align="right">
    28
</td>
<td align="right">
   -11.13
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.81
</td>
<td align="right">
 -.61
</td>
<td align="right">
    2.09
</td>
<td align="right">
    .00
</td>
<td align="right">
    .21
</td>
<td align="right">
     4
</td>
<td align="right">
      .83
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   83.03
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.86
</td>
<td align="right">
   -.58
</td>
<td align="right">
  -3.89
</td>
<td align="right">
    68
</td>
<td align="right">
  -264.46
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   27.21
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .79
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .17
</td>
<td align="right">
     9
</td>
<td align="right">
     1.54
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   62.06
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.73
</td>
<td align="right">
   -.43
</td>
<td align="right">
  -1.49
</td>
<td align="right">
    10
</td>
<td align="right">
   -14.89
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   130
</td>
<td align="right">
  -328.47
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   83.26
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.30
</td>
<td align="right">
    .39
</td>
<td align="right">
   -.31
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.57
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.48
</td>
<td align="right">
  .65
</td>
<td align="right">
    6.84
</td>
<td align="right">
    .10
</td>
<td align="right">
    .15
</td>
<td align="right">
     2
</td>
<td align="right">
      .29
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  314.27
</td>
<td align="right">
  .61
</td>
<td align="right">
  217.00
</td>
<td align="right">
   2.38
</td>
<td align="right">
   2.17
</td>
<td align="right">
     1
</td>
<td align="right">
     2.17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   45.49
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.20
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.78
</td>
<td align="right">
    15
</td>
<td align="right">
   -11.73
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   63.18
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.22
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.56
</td>
<td align="right">
    21
</td>
<td align="right">
   -11.79
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   60.28
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.73
</td>
<td align="right">
    .32
</td>
<td align="right">
    .92
</td>
<td align="right">
     4
</td>
<td align="right">
     3.67
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   51.08
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.75
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.25
</td>
<td align="right">
    35
</td>
<td align="right">
    -8.63
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  135.52
</td>
<td align="right">
  .69
</td>
<td align="right">
    3.60
</td>
<td align="right">
   -.27
</td>
<td align="right">
   1.28
</td>
<td align="right">
     3
</td>
<td align="right">
     3.84
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.03
</td>
<td align="right">
  .59
</td>
<td align="right">
   17.62
</td>
<td align="right">
    .15
</td>
<td align="right">
    .89
</td>
<td align="right">
     3
</td>
<td align="right">
     2.66
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   67.14
</td>
<td align="right">
  .68
</td>
<td align="right">
    6.99
</td>
<td align="right">
    .21
</td>
<td align="right">
   1.02
</td>
<td align="right">
    19
</td>
<td align="right">
    19.31
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   81.20
</td>
<td align="right">
  .68
</td>
<td align="right">
  -33.00
</td>
<td align="right">
   1.78
</td>
<td align="right">
   -.33
</td>
<td align="right">
     1
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   49.57
</td>
<td align="right">
  .58
</td>
<td align="right">
   12.64
</td>
<td align="right">
    .11
</td>
<td align="right">
   2.26
</td>
<td align="right">
     9
</td>
<td align="right">
    20.33
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  146.57
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.90
</td>
<td align="right">
    .71
</td>
<td align="right">
   1.56
</td>
<td align="right">
     6
</td>
<td align="right">
     9.35
</td>
<td align="right">
    .82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   124
</td>
<td align="right">
    27.57
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
