<h4>Week of: 2011_05_23</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   51.88
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -35.00
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.35
</td>
<td align="right">
     1
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   51.32
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.40
</td>
<td align="right">
   -.46
</td>
<td align="right">
   -.16
</td>
<td align="right">
     4
</td>
<td align="right">
     -.64
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   45.04
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -6.32
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.56
</td>
<td align="right">
    12
</td>
<td align="right">
    -6.69
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   12.56
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.63
</td>
<td align="right">
    .04
</td>
<td align="right">
    .17
</td>
<td align="right">
    14
</td>
<td align="right">
     2.44
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.91
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .28
</td>
<td align="right">
    .01
</td>
<td align="right">
    .06
</td>
<td align="right">
    19
</td>
<td align="right">
     1.14
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   26.63
</td>
<td align="right">
 -.63
</td>
<td align="right">
    5.09
</td>
<td align="right">
    .06
</td>
<td align="right">
    .19
</td>
<td align="right">
     4
</td>
<td align="right">
      .75
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   31.81
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -5.10
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.46
</td>
<td align="right">
    12
</td>
<td align="right">
    -5.57
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  130.97
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.47
</td>
<td align="right">
   -.45
</td>
<td align="right">
  -1.99
</td>
<td align="right">
     5
</td>
<td align="right">
    -9.96
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   33.06
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .04
</td>
<td align="right">
    .10
</td>
<td align="right">
    .01
</td>
<td align="right">
    26
</td>
<td align="right">
      .17
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   40.23
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.78
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .21
</td>
<td align="right">
     3
</td>
<td align="right">
      .63
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   53.23
</td>
<td align="right">
 -.57
</td>
<td align="right">
   54.00
</td>
<td align="right">
   -.37
</td>
<td align="right">
    .54
</td>
<td align="right">
     1
</td>
<td align="right">
      .54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  146.70
</td>
<td align="right">
 -.82
</td>
<td align="right">
    2.18
</td>
<td align="right">
    .48
</td>
<td align="right">
   3.24
</td>
<td align="right">
   100
</td>
<td align="right">
   323.67
</td>
<td align="right">
   1.49
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   16.28
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .35
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .04
</td>
<td align="right">
    69
</td>
<td align="right">
     2.50
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   35.87
</td>
<td align="right">
 -.59
</td>
<td align="right">
    7.20
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .33
</td>
<td align="right">
     3
</td>
<td align="right">
      .99
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   36.41
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -72.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.72
</td>
<td align="right">
     1
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.74
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -92.00
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.92
</td>
<td align="right">
     1
</td>
<td align="right">
     -.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   82.20
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.39
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .21
</td>
<td align="right">
     5
</td>
<td align="right">
     1.04
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   60.44
</td>
<td align="right">
 -.63
</td>
<td align="right">
    5.90
</td>
<td align="right">
    .05
</td>
<td align="right">
    .34
</td>
<td align="right">
    10
</td>
<td align="right">
     3.35
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   72.17
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .66
</td>
<td align="right">
    .02
</td>
<td align="right">
    .20
</td>
<td align="right">
    45
</td>
<td align="right">
     9.10
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.65
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.67
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .46
</td>
<td align="right">
    40
</td>
<td align="right">
    18.45
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  104.83
</td>
<td align="right">
 -.60
</td>
<td align="right">
  157.00
</td>
<td align="right">
   -.07
</td>
<td align="right">
   1.57
</td>
<td align="right">
     1
</td>
<td align="right">
     1.57
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  119.47
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -.67
</td>
<td align="right">
   -.34
</td>
<td align="right">
    27
</td>
<td align="right">
    -9.16
</td>
<td align="right">
   3.49
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   43.41
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .35
</td>
<td align="right">
    .01
</td>
<td align="right">
    .07
</td>
<td align="right">
    11
</td>
<td align="right">
      .82
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   55.87
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.24
</td>
<td align="right">
   -.44
</td>
<td align="right">
    .55
</td>
<td align="right">
    12
</td>
<td align="right">
     6.54
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
   13.55
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.10
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.18
</td>
<td align="right">
    42
</td>
<td align="right">
    -7.72
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   61.13
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.45
</td>
<td align="right">
   -.26
</td>
<td align="right">
    .51
</td>
<td align="right">
     9
</td>
<td align="right">
     4.59
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
JCP
</td>
<td align="right">
   35.96
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .16
</td>
<td align="right">
    .05
</td>
<td align="right">
    .06
</td>
<td align="right">
    31
</td>
<td align="right">
     1.82
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   38.14
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.16
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.27
</td>
<td align="right">
    34
</td>
<td align="right">
    -9.15
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  178.07
</td>
<td align="right">
 -.58
</td>
<td align="right">
    4.49
</td>
<td align="right">
    .59
</td>
<td align="right">
   1.97
</td>
<td align="right">
     2
</td>
<td align="right">
     3.94
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   66.41
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .95
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .82
</td>
<td align="right">
    16
</td>
<td align="right">
    13.05
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   67.56
</td>
<td align="right">
 -.57
</td>
<td align="right">
    2.16
</td>
<td align="right">
    .77
</td>
<td align="right">
   1.15
</td>
<td align="right">
     2
</td>
<td align="right">
     2.29
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.25
</td>
<td align="right">
 -.64
</td>
<td align="right">
   53.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .53
</td>
<td align="right">
     1
</td>
<td align="right">
      .53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   32.46
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.01
</td>
<td align="right">
    .07
</td>
<td align="right">
    .00
</td>
<td align="right">
     6
</td>
<td align="right">
     -.01
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.21
</td>
<td align="right">
 -.57
</td>
<td align="right">
    3.79
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .23
</td>
<td align="right">
    12
</td>
<td align="right">
     2.71
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   55.57
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.88
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.42
</td>
<td align="right">
    52
</td>
<td align="right">
   -21.97
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  146.25
</td>
<td align="right">
 -.60
</td>
<td align="right">
    5.40
</td>
<td align="right">
   -.34
</td>
<td align="right">
   2.37
</td>
<td align="right">
    10
</td>
<td align="right">
    23.71
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   73.47
</td>
<td align="right">
 -.72
</td>
<td align="right">
    2.31
</td>
<td align="right">
    .20
</td>
<td align="right">
    .50
</td>
<td align="right">
    54
</td>
<td align="right">
    27.23
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   65.96
</td>
<td align="right">
 -.55
</td>
<td align="right">
   24.00
</td>
<td align="right">
    .24
</td>
<td align="right">
    .24
</td>
<td align="right">
     1
</td>
<td align="right">
      .24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  176.87
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -6.65
</td>
<td align="right">
  -1.12
</td>
<td align="right">
   -.94
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.88
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   36.40
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.46
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.05
</td>
<td align="right">
   103
</td>
<td align="right">
    -5.62
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   35.69
</td>
<td align="right">
 -.55
</td>
<td align="right">
    3.05
</td>
<td align="right">
    .64
</td>
<td align="right">
   1.02
</td>
<td align="right">
     2
</td>
<td align="right">
     2.03
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   17.75
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.54
</td>
<td align="right">
    .04
</td>
<td align="right">
    .09
</td>
<td align="right">
     4
</td>
<td align="right">
      .34
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   35.27
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.80
</td>
<td align="right">
   -.61
</td>
<td align="right">
    .31
</td>
<td align="right">
     7
</td>
<td align="right">
     2.15
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   45.22
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -18.00
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.18
</td>
<td align="right">
     1
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   10.76
</td>
<td align="right">
 -.61
</td>
<td align="right">
    9.23
</td>
<td align="right">
    .20
</td>
<td align="right">
    .35
</td>
<td align="right">
     9
</td>
<td align="right">
     3.11
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   96.04
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -6.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.06
</td>
<td align="right">
     1
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   47.25
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.98
</td>
<td align="right">
    .12
</td>
<td align="right">
    .69
</td>
<td align="right">
     7
</td>
<td align="right">
     4.86
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   78.51
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .46
</td>
<td align="right">
    .18
</td>
<td align="right">
    .37
</td>
<td align="right">
    44
</td>
<td align="right">
    16.25
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   36.96
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -3.88
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.54
</td>
<td align="right">
    26
</td>
<td align="right">
   -13.99
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   44.09
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.37
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.28
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.65
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   60.73
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.06
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.31
</td>
<td align="right">
    18
</td>
<td align="right">
    -5.49
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  143.25
</td>
<td align="right">
 -.60
</td>
<td align="right">
    5.16
</td>
<td align="right">
    .36
</td>
<td align="right">
   2.73
</td>
<td align="right">
     5
</td>
<td align="right">
    13.66
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   933
</td>
<td align="right">
   394.48
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMT
</td>
<td align="right">
   54.51
</td>
<td align="right">
  .58
</td>
<td align="right">
   39.00
</td>
<td align="right">
    .50
</td>
<td align="right">
    .39
</td>
<td align="right">
     1
</td>
<td align="right">
      .39
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   50.82
</td>
<td align="right">
  .77
</td>
<td align="right">
    4.04
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .86
</td>
<td align="right">
    18
</td>
<td align="right">
    15.43
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   44.75
</td>
<td align="right">
  .59
</td>
<td align="right">
   23.33
</td>
<td align="right">
    .20
</td>
<td align="right">
    .33
</td>
<td align="right">
     2
</td>
<td align="right">
      .66
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   12.59
</td>
<td align="right">
  .65
</td>
<td align="right">
     .13
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .01
</td>
<td align="right">
    34
</td>
<td align="right">
      .28
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   26.20
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.10
</td>
<td align="right">
    .04
</td>
<td align="right">
    .29
</td>
<td align="right">
     5
</td>
<td align="right">
     1.46
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   31.29
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.61
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.12
</td>
<td align="right">
     9
</td>
<td align="right">
    -1.08
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  129.41
</td>
<td align="right">
  .58
</td>
<td align="right">
    2.32
</td>
<td align="right">
   1.14
</td>
<td align="right">
    .98
</td>
<td align="right">
    10
</td>
<td align="right">
     9.77
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   58.76
</td>
<td align="right">
  .56
</td>
<td align="right">
  208.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
   2.08
</td>
<td align="right">
     1
</td>
<td align="right">
     2.08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   59.28
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.15
</td>
<td align="right">
    19
</td>
<td align="right">
    -2.94
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   52.35
</td>
<td align="right">
  .61
</td>
<td align="right">
  -40.00
</td>
<td align="right">
    .24
</td>
<td align="right">
   -.40
</td>
<td align="right">
     1
</td>
<td align="right">
     -.40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   41.57
</td>
<td align="right">
  .66
</td>
<td align="right">
  194.00
</td>
<td align="right">
    .25
</td>
<td align="right">
   1.94
</td>
<td align="right">
     1
</td>
<td align="right">
     1.94
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  151.57
</td>
<td align="right">
  .68
</td>
<td align="right">
     .76
</td>
<td align="right">
    .27
</td>
<td align="right">
    .51
</td>
<td align="right">
    50
</td>
<td align="right">
    25.61
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   35.80
</td>
<td align="right">
  .61
</td>
<td align="right">
     .85
</td>
<td align="right">
    .22
</td>
<td align="right">
    .41
</td>
<td align="right">
    12
</td>
<td align="right">
     4.88
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   41.10
</td>
<td align="right">
  .65
</td>
<td align="right">
     .81
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .24
</td>
<td align="right">
     2
</td>
<td align="right">
      .48
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.10
</td>
<td align="right">
  .62
</td>
<td align="right">
     .98
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .50
</td>
<td align="right">
    19
</td>
<td align="right">
     9.51
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   59.57
</td>
<td align="right">
  .71
</td>
<td align="right">
    1.24
</td>
<td align="right">
    .05
</td>
<td align="right">
    .36
</td>
<td align="right">
   127
</td>
<td align="right">
    45.50
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   72.44
</td>
<td align="right">
  .61
</td>
<td align="right">
  206.00
</td>
<td align="right">
    .15
</td>
<td align="right">
   2.06
</td>
<td align="right">
     1
</td>
<td align="right">
     2.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  103.40
</td>
<td align="right">
  .62
</td>
<td align="right">
   11.55
</td>
<td align="right">
    .98
</td>
<td align="right">
   1.98
</td>
<td align="right">
     4
</td>
<td align="right">
     7.92
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.62
</td>
<td align="right">
  .73
</td>
<td align="right">
    2.01
</td>
<td align="right">
    .09
</td>
<td align="right">
    .88
</td>
<td align="right">
   116
</td>
<td align="right">
   102.29
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   40.53
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.80
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.11
</td>
<td align="right">
    18
</td>
<td align="right">
    -2.06
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  148.53
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.60
</td>
<td align="right">
    .10
</td>
<td align="right">
    .28
</td>
<td align="right">
    30
</td>
<td align="right">
     8.38
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   36.55
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.77
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.24
</td>
<td align="right">
    44
</td>
<td align="right">
   -10.50
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
   13.42
</td>
<td align="right">
  .57
</td>
<td align="right">
  -14.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   20.82
</td>
<td align="right">
  .60
</td>
<td align="right">
   -4.95
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.32
</td>
<td align="right">
     2
</td>
<td align="right">
     -.63
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   61.06
</td>
<td align="right">
  .56
</td>
<td align="right">
   33.00
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .33
</td>
<td align="right">
     1
</td>
<td align="right">
      .33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   60.46
</td>
<td align="right">
  .69
</td>
<td align="right">
     .54
</td>
<td align="right">
    .07
</td>
<td align="right">
    .14
</td>
<td align="right">
    78
</td>
<td align="right">
    10.87
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
JCP
</td>
<td align="right">
   36.10
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.19
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.43
</td>
<td align="right">
     8
</td>
<td align="right">
    -3.40
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   65.29
</td>
<td align="right">
  .62
</td>
<td align="right">
  126.00
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.26
</td>
<td align="right">
     1
</td>
<td align="right">
     1.26
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   38.26
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.60
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.08
</td>
<td align="right">
    17
</td>
<td align="right">
    -1.36
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  176.19
</td>
<td align="right">
  .57
</td>
<td align="right">
    2.98
</td>
<td align="right">
    .46
</td>
<td align="right">
    .97
</td>
<td align="right">
     3
</td>
<td align="right">
     2.91
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   67.23
</td>
<td align="right">
  .60
</td>
<td align="right">
  126.00
</td>
<td align="right">
    .10
</td>
<td align="right">
   1.26
</td>
<td align="right">
     2
</td>
<td align="right">
     2.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   36.36
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.74
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.08
</td>
<td align="right">
     9
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.14
</td>
<td align="right">
  .56
</td>
<td align="right">
    2.71
</td>
<td align="right">
    .08
</td>
<td align="right">
    .10
</td>
<td align="right">
     6
</td>
<td align="right">
      .60
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.01
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.78
</td>
<td align="right">
    .22
</td>
<td align="right">
    .59
</td>
<td align="right">
    24
</td>
<td align="right">
    14.26
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   69.40
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.45
</td>
<td align="right">
    .08
</td>
<td align="right">
    .59
</td>
<td align="right">
    71
</td>
<td align="right">
    41.72
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   61.23
</td>
<td align="right">
  .58
</td>
<td align="right">
  132.00
</td>
<td align="right">
    .28
</td>
<td align="right">
   1.32
</td>
<td align="right">
     2
</td>
<td align="right">
     2.64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  175.32
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.78
</td>
<td align="right">
    .54
</td>
<td align="right">
   1.82
</td>
<td align="right">
    24
</td>
<td align="right">
    43.68
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   62.79
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.28
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.61
</td>
<td align="right">
    28
</td>
<td align="right">
   -16.99
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   56.74
</td>
<td align="right">
  .63
</td>
<td align="right">
    4.08
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .12
</td>
<td align="right">
     4
</td>
<td align="right">
      .48
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   17.65
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.74
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.05
</td>
<td align="right">
    10
</td>
<td align="right">
     -.48
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   34.46
</td>
<td align="right">
  .59
</td>
<td align="right">
  130.00
</td>
<td align="right">
   1.04
</td>
<td align="right">
   1.30
</td>
<td align="right">
     1
</td>
<td align="right">
     1.30
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   45.02
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.48
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .20
</td>
<td align="right">
     8
</td>
<td align="right">
     1.56
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   18.70
</td>
<td align="right">
  .59
</td>
<td align="right">
   73.00
</td>
<td align="right">
    .08
</td>
<td align="right">
    .73
</td>
<td align="right">
     1
</td>
<td align="right">
      .73
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   31.07
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.05
</td>
<td align="right">
    .00
</td>
<td align="right">
    .08
</td>
<td align="right">
    96
</td>
<td align="right">
     7.80
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   95.94
</td>
<td align="right">
  .64
</td>
<td align="right">
     .75
</td>
<td align="right">
    .16
</td>
<td align="right">
    .20
</td>
<td align="right">
     3
</td>
<td align="right">
      .61
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   34.29
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.81
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .32
</td>
<td align="right">
    20
</td>
<td align="right">
     6.31
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   77.09
</td>
<td align="right">
  .77
</td>
<td align="right">
     .65
</td>
<td align="right">
    .04
</td>
<td align="right">
    .60
</td>
<td align="right">
   114
</td>
<td align="right">
    68.90
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   94.54
</td>
<td align="right">
  .56
</td>
<td align="right">
   14.14
</td>
<td align="right">
    .67
</td>
<td align="right">
   2.20
</td>
<td align="right">
     2
</td>
<td align="right">
     4.40
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   36.56
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.92
</td>
<td align="right">
    .08
</td>
<td align="right">
    .17
</td>
<td align="right">
    17
</td>
<td align="right">
     2.94
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   44.36
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.27
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.06
</td>
<td align="right">
    62
</td>
<td align="right">
    -3.64
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   59.73
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.30
</td>
<td align="right">
    .17
</td>
<td align="right">
    .57
</td>
<td align="right">
    10
</td>
<td align="right">
     5.71
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   55.21
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.90
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.19
</td>
<td align="right">
    11
</td>
<td align="right">
    -2.13
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  141.60
</td>
<td align="right">
  .75
</td>
<td align="right">
    1.04
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.12
</td>
<td align="right">
   103
</td>
<td align="right">
   115.23
</td>
<td align="right">
   1.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1263
</td>
<td align="right">
   528.93
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
