<h4>Week of: 2011_04_04</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   37.34
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.49
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.16
</td>
<td align="right">
   128
</td>
<td align="right">
   -20.59
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   54.23
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.41
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.37
</td>
<td align="right">
    19
</td>
<td align="right">
    -6.99
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
AMX
</td>
<td align="right">
   58.68
</td>
<td align="right">
 -.59
</td>
<td align="right">
    8.00
</td>
<td align="right">
    .15
</td>
<td align="right">
    .08
</td>
<td align="right">
     1
</td>
<td align="right">
      .08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  184.62
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.37
</td>
<td align="right">
   -.31
</td>
<td align="right">
   -.87
</td>
<td align="right">
    20
</td>
<td align="right">
   -17.44
</td>
<td align="right">
   2.39
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  134.20
</td>
<td align="right">
 -.74
</td>
<td align="right">
   -1.75
</td>
<td align="right">
   -.75
</td>
<td align="right">
  -1.31
</td>
<td align="right">
    16
</td>
<td align="right">
   -21.02
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   81.75
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -2.80
</td>
<td align="right">
   -.38
</td>
<td align="right">
  -1.07
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.14
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   40.11
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .32
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .05
</td>
<td align="right">
    15
</td>
<td align="right">
      .80
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  123.92
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .14
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .04
</td>
<td align="right">
     2
</td>
<td align="right">
      .07
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   31.78
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.28
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.05
</td>
<td align="right">
    14
</td>
<td align="right">
     -.75
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   60.93
</td>
<td align="right">
 -.72
</td>
<td align="right">
   60.00
</td>
<td align="right">
    .04
</td>
<td align="right">
    .60
</td>
<td align="right">
     1
</td>
<td align="right">
      .60
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   57.11
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.21
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.44
</td>
<td align="right">
    18
</td>
<td align="right">
    -7.95
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  150.85
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.31
</td>
<td align="right">
   -.23
</td>
<td align="right">
  -2.62
</td>
<td align="right">
   106
</td>
<td align="right">
  -277.84
</td>
<td align="right">
   2.01
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   46.11
</td>
<td align="right">
 -.77
</td>
<td align="right">
   -1.53
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.24
</td>
<td align="right">
    84
</td>
<td align="right">
   -19.91
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   62.69
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.76
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.22
</td>
<td align="right">
     2
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   48.69
</td>
<td align="right">
 -.76
</td>
<td align="right">
   -2.54
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.60
</td>
<td align="right">
    22
</td>
<td align="right">
   -13.25
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   59.79
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.80
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.12
</td>
<td align="right">
    34
</td>
<td align="right">
    -4.08
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   66.92
</td>
<td align="right">
 -.55
</td>
<td align="right">
    1.80
</td>
<td align="right">
   -.41
</td>
<td align="right">
    .45
</td>
<td align="right">
     2
</td>
<td align="right">
      .89
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   79.89
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -7.85
</td>
<td align="right">
   -.51
</td>
<td align="right">
  -1.39
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.16
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   33.31
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.14
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.03
</td>
<td align="right">
     8
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   78.90
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.29
</td>
<td align="right">
    .15
</td>
<td align="right">
  -1.21
</td>
<td align="right">
    18
</td>
<td align="right">
   -21.77
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   65.37
</td>
<td align="right">
 -.58
</td>
<td align="right">
    2.44
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .37
</td>
<td align="right">
     5
</td>
<td align="right">
     1.85
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   65.64
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.11
</td>
<td align="right">
    .28
</td>
<td align="right">
    .47
</td>
<td align="right">
     2
</td>
<td align="right">
      .94
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  179.48
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.59
</td>
<td align="right">
   -.11
</td>
<td align="right">
  -1.67
</td>
<td align="right">
    68
</td>
<td align="right">
  -113.30
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   64.17
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.43
</td>
<td align="right">
   -.56
</td>
<td align="right">
   -.50
</td>
<td align="right">
     2
</td>
<td align="right">
     -.99
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   57.67
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -52.00
</td>
<td align="right">
   -.34
</td>
<td align="right">
   -.52
</td>
<td align="right">
     1
</td>
<td align="right">
     -.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   55.06
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.64
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.24
</td>
<td align="right">
   127
</td>
<td align="right">
   -30.30
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   50.93
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -11.63
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.89
</td>
<td align="right">
    24
</td>
<td align="right">
   -21.30
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   91.03
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -1.82
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.51
</td>
<td align="right">
   165
</td>
<td align="right">
   -83.59
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   52.86
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .60
</td>
<td align="right">
    .08
</td>
<td align="right">
    .13
</td>
<td align="right">
    28
</td>
<td align="right">
     3.76
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   937
</td>
<td align="right">
  -659.54
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   54.00
</td>
<td align="right">
  .59
</td>
<td align="right">
    5.00
</td>
<td align="right">
    .19
</td>
<td align="right">
    .05
</td>
<td align="right">
     1
</td>
<td align="right">
      .05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMX
</td>
<td align="right">
   59.00
</td>
<td align="right">
  .65
</td>
<td align="right">
     .61
</td>
<td align="right">
    .10
</td>
<td align="right">
    .12
</td>
<td align="right">
     5
</td>
<td align="right">
      .61
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  181.88
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.84
</td>
<td align="right">
    .63
</td>
<td align="right">
   2.93
</td>
<td align="right">
    58
</td>
<td align="right">
   169.66
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   28.37
</td>
<td align="right">
  .56
</td>
<td align="right">
    6.95
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .36
</td>
<td align="right">
    20
</td>
<td align="right">
     7.12
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  132.74
</td>
<td align="right">
  .68
</td>
<td align="right">
     .66
</td>
<td align="right">
    .63
</td>
<td align="right">
    .72
</td>
<td align="right">
    87
</td>
<td align="right">
    62.37
</td>
<td align="right">
   1.09
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   79.98
</td>
<td align="right">
  .56
</td>
<td align="right">
   35.00
</td>
<td align="right">
   1.03
</td>
<td align="right">
    .35
</td>
<td align="right">
     1
</td>
<td align="right">
      .35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  123.81
</td>
<td align="right">
  .65
</td>
<td align="right">
     .24
</td>
<td align="right">
    .03
</td>
<td align="right">
    .07
</td>
<td align="right">
    20
</td>
<td align="right">
     1.30
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   41.88
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.89
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.13
</td>
<td align="right">
    13
</td>
<td align="right">
    -1.68
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   46.43
</td>
<td align="right">
  .64
</td>
<td align="right">
     .60
</td>
<td align="right">
    .05
</td>
<td align="right">
    .07
</td>
<td align="right">
    17
</td>
<td align="right">
     1.24
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   60.75
</td>
<td align="right">
  .59
</td>
<td align="right">
   24.00
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .24
</td>
<td align="right">
     1
</td>
<td align="right">
      .24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   56.66
</td>
<td align="right">
  .59
</td>
<td align="right">
     .17
</td>
<td align="right">
    .36
</td>
<td align="right">
    .06
</td>
<td align="right">
    13
</td>
<td align="right">
      .77
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   79.68
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.04
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.52
</td>
<td align="right">
    64
</td>
<td align="right">
   -33.55
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  148.25
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.41
</td>
<td align="right">
   1.07
</td>
<td align="right">
  -2.00
</td>
<td align="right">
     8
</td>
<td align="right">
   -16.00
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   61.12
</td>
<td align="right">
  .67
</td>
<td align="right">
    2.31
</td>
<td align="right">
    .25
</td>
<td align="right">
   1.75
</td>
<td align="right">
    95
</td>
<td align="right">
   166.72
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  142.34
</td>
<td align="right">
  .62
</td>
<td align="right">
     .83
</td>
<td align="right">
    .10
</td>
<td align="right">
    .42
</td>
<td align="right">
    23
</td>
<td align="right">
     9.58
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  588.78
</td>
<td align="right">
  .58
</td>
<td align="right">
   -6.89
</td>
<td align="right">
   -.92
</td>
<td align="right">
 -14.50
</td>
<td align="right">
     3
</td>
<td align="right">
   -43.51
</td>
<td align="right">
   2.10
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   85.00
</td>
<td align="right">
  .61
</td>
<td align="right">
     .38
</td>
<td align="right">
    .06
</td>
<td align="right">
    .20
</td>
<td align="right">
    44
</td>
<td align="right">
     8.68
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   59.30
</td>
<td align="right">
  .61
</td>
<td align="right">
   21.00
</td>
<td align="right">
    .46
</td>
<td align="right">
    .21
</td>
<td align="right">
     1
</td>
<td align="right">
      .21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   45.00
</td>
<td align="right">
  .56
</td>
<td align="right">
   -4.95
</td>
<td align="right">
    .40
</td>
<td align="right">
   -.25
</td>
<td align="right">
     2
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   80.43
</td>
<td align="right">
  .65
</td>
<td align="right">
     .12
</td>
<td align="right">
    .02
</td>
<td align="right">
    .10
</td>
<td align="right">
   165
</td>
<td align="right">
    17.05
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.81
</td>
<td align="right">
  .75
</td>
<td align="right">
    2.77
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .75
</td>
<td align="right">
    41
</td>
<td align="right">
    30.71
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   46.55
</td>
<td align="right">
  .57
</td>
<td align="right">
   29.00
</td>
<td align="right">
    .33
</td>
<td align="right">
    .29
</td>
<td align="right">
     1
</td>
<td align="right">
      .29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   77.61
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.27
</td>
<td align="right">
    .04
</td>
<td align="right">
    .91
</td>
<td align="right">
    82
</td>
<td align="right">
    74.60
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   40.44
</td>
<td align="right">
  .61
</td>
<td align="right">
     .59
</td>
<td align="right">
    .06
</td>
<td align="right">
    .14
</td>
<td align="right">
    31
</td>
<td align="right">
     4.47
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   65.59
</td>
<td align="right">
  .66
</td>
<td align="right">
     .09
</td>
<td align="right">
    .07
</td>
<td align="right">
    .06
</td>
<td align="right">
    10
</td>
<td align="right">
      .61
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  177.58
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.46
</td>
<td align="right">
    .16
</td>
<td align="right">
    .96
</td>
<td align="right">
   149
</td>
<td align="right">
   142.35
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   63.18
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.04
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.02
</td>
<td align="right">
    75
</td>
<td align="right">
    -1.13
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   55.46
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.23
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.35
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.04
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   15.09
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.15
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .30
</td>
<td align="right">
    36
</td>
<td align="right">
    10.91
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   90.04
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.05
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.01
</td>
<td align="right">
     1
</td>
<td align="right">
     -.01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   33.63
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.29
</td>
<td align="right">
    .05
</td>
<td align="right">
    .18
</td>
<td align="right">
    34
</td>
<td align="right">
     6.17
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   64.90
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.44
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.88
</td>
<td align="right">
    52
</td>
<td align="right">
   -45.71
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   52.16
</td>
<td align="right">
  .55
</td>
<td align="right">
   61.00
</td>
<td align="right">
    .38
</td>
<td align="right">
    .61
</td>
<td align="right">
     1
</td>
<td align="right">
      .61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   85.30
</td>
<td align="right">
  .61
</td>
<td align="right">
     .57
</td>
<td align="right">
    .34
</td>
<td align="right">
    .40
</td>
<td align="right">
     2
</td>
<td align="right">
      .80
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1159
</td>
<td align="right">
   574.35
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
