<h4>Week of: 2011_08_15</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.58
</td>
<td align="right">
 -.68
</td>
<td align="right">
  -18.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.18
</td>
<td align="right">
     1
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  318.15
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.24
</td>
<td align="right">
  -2.52
</td>
<td align="right">
  -9.54
</td>
<td align="right">
    18
</td>
<td align="right">
  -171.75
</td>
<td align="right">
   7.69
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   44.99
</td>
<td align="right">
 -.58
</td>
<td align="right">
 -238.00
</td>
<td align="right">
    .21
</td>
<td align="right">
  -2.38
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.38
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   34.36
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -8.58
</td>
<td align="right">
    .01
</td>
<td align="right">
  -2.47
</td>
<td align="right">
    27
</td>
<td align="right">
   -66.70
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.94
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.30
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.20
</td>
<td align="right">
     4
</td>
<td align="right">
     -.80
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   36.10
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .69
</td>
<td align="right">
    .43
</td>
<td align="right">
    .40
</td>
<td align="right">
     2
</td>
<td align="right">
      .80
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   47.15
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .81
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .27
</td>
<td align="right">
     4
</td>
<td align="right">
     1.09
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   30.68
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.94
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.58
</td>
<td align="right">
    35
</td>
<td align="right">
   -20.41
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   61.07
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.11
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.88
</td>
<td align="right">
     8
</td>
<td align="right">
    -7.03
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   51.23
</td>
<td align="right">
 -.67
</td>
<td align="right">
 -134.00
</td>
<td align="right">
   -.79
</td>
<td align="right">
  -1.34
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.34
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.81
</td>
<td align="right">
 -.61
</td>
<td align="right">
    2.09
</td>
<td align="right">
    .00
</td>
<td align="right">
    .21
</td>
<td align="right">
     4
</td>
<td align="right">
      .83
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  231.23
</td>
<td align="right">
 -.67
</td>
<td align="right">
 -694.00
</td>
<td align="right">
  -1.21
</td>
<td align="right">
  -6.94
</td>
<td align="right">
     1
</td>
<td align="right">
    -6.94
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  136.98
</td>
<td align="right">
 -.68
</td>
<td align="right">
 -926.00
</td>
<td align="right">
  -1.31
</td>
<td align="right">
  -9.26
</td>
<td align="right">
     1
</td>
<td align="right">
    -9.26
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   67.86
</td>
<td align="right">
 -.59
</td>
<td align="right">
  132.00
</td>
<td align="right">
   1.58
</td>
<td align="right">
   1.32
</td>
<td align="right">
     1
</td>
<td align="right">
     1.32
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   33.20
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.24
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.07
</td>
<td align="right">
     2
</td>
<td align="right">
     -.13
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   75.00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.34
</td>
<td align="right">
    .24
</td>
<td align="right">
    .34
</td>
<td align="right">
    12
</td>
<td align="right">
     4.03
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   15.64
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -4.24
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.18
</td>
<td align="right">
     2
</td>
<td align="right">
     -.36
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   38.21
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -40.00
</td>
<td align="right">
   -.35
</td>
<td align="right">
   -.40
</td>
<td align="right">
     1
</td>
<td align="right">
     -.40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   82.91
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.78
</td>
<td align="right">
   -.57
</td>
<td align="right">
  -3.86
</td>
<td align="right">
    70
</td>
<td align="right">
  -270.19
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  120.02
</td>
<td align="right">
 -.67
</td>
<td align="right">
  -20.38
</td>
<td align="right">
   -.22
</td>
<td align="right">
  -5.05
</td>
<td align="right">
     2
</td>
<td align="right">
   -10.09
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   27.21
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .79
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .17
</td>
<td align="right">
     9
</td>
<td align="right">
     1.54
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   62.06
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.73
</td>
<td align="right">
   -.43
</td>
<td align="right">
  -1.49
</td>
<td align="right">
    10
</td>
<td align="right">
   -14.89
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   216
</td>
<td align="right">
  -573.24
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   83.26
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.30
</td>
<td align="right">
    .39
</td>
<td align="right">
   -.31
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.57
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.48
</td>
<td align="right">
  .65
</td>
<td align="right">
    6.84
</td>
<td align="right">
    .10
</td>
<td align="right">
    .15
</td>
<td align="right">
     2
</td>
<td align="right">
      .29
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  314.14
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.15
</td>
<td align="right">
   2.12
</td>
<td align="right">
  -4.25
</td>
<td align="right">
    12
</td>
<td align="right">
   -51.01
</td>
<td align="right">
   3.70
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   44.81
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.49
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.27
</td>
<td align="right">
    52
</td>
<td align="right">
   -13.84
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   36.08
</td>
<td align="right">
  .61
</td>
<td align="right">
    9.90
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .14
</td>
<td align="right">
     2
</td>
<td align="right">
      .28
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   33.81
</td>
<td align="right">
  .58
</td>
<td align="right">
   31.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .31
</td>
<td align="right">
     1
</td>
<td align="right">
      .31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   63.18
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.22
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.56
</td>
<td align="right">
    21
</td>
<td align="right">
   -11.79
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   60.46
</td>
<td align="right">
  .65
</td>
<td align="right">
     .87
</td>
<td align="right">
    .10
</td>
<td align="right">
    .34
</td>
<td align="right">
    37
</td>
<td align="right">
    12.70
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   51.12
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.15
</td>
<td align="right">
    50
</td>
<td align="right">
    -7.64
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   86.29
</td>
<td align="right">
  .67
</td>
<td align="right">
   61.00
</td>
<td align="right">
    .25
</td>
<td align="right">
    .61
</td>
<td align="right">
     1
</td>
<td align="right">
      .61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  154.74
</td>
<td align="right">
  .55
</td>
<td align="right">
  -95.00
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.95
</td>
<td align="right">
     1
</td>
<td align="right">
     -.95
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.17
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.21
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.07
</td>
<td align="right">
     4
</td>
<td align="right">
     -.28
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.01
</td>
<td align="right">
  .60
</td>
<td align="right">
     .37
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .02
</td>
<td align="right">
     8
</td>
<td align="right">
      .19
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  134.10
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.49
</td>
<td align="right">
    .59
</td>
<td align="right">
    .91
</td>
<td align="right">
    29
</td>
<td align="right">
    26.42
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.79
</td>
<td align="right">
  .63
</td>
<td align="right">
    4.07
</td>
<td align="right">
    .50
</td>
<td align="right">
   1.96
</td>
<td align="right">
    33
</td>
<td align="right">
    64.54
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   67.45
</td>
<td align="right">
  .66
</td>
<td align="right">
     .98
</td>
<td align="right">
    .08
</td>
<td align="right">
    .77
</td>
<td align="right">
    23
</td>
<td align="right">
    17.61
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   79.91
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.35
</td>
<td align="right">
   -.04
</td>
<td align="right">
  -2.06
</td>
<td align="right">
     3
</td>
<td align="right">
    -6.18
</td>
<td align="right">
   1.52
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  119.46
</td>
<td align="right">
  .65
</td>
<td align="right">
    4.60
</td>
<td align="right">
   -.62
</td>
<td align="right">
    .26
</td>
<td align="right">
     2
</td>
<td align="right">
      .52
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    9.06
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.48
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.06
</td>
<td align="right">
    17
</td>
<td align="right">
    -1.08
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   49.57
</td>
<td align="right">
  .58
</td>
<td align="right">
   12.64
</td>
<td align="right">
    .11
</td>
<td align="right">
   2.26
</td>
<td align="right">
     9
</td>
<td align="right">
    20.33
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  147.20
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.28
</td>
<td align="right">
    .32
</td>
<td align="right">
  -1.73
</td>
<td align="right">
     8
</td>
<td align="right">
   -13.84
</td>
<td align="right">
   6.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   320
</td>
<td align="right">
    35.62
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
