<h4>Week of: 2011_09_26</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AAPL
</td>
<td align="right">
  406.14
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.50
</td>
<td align="right">
    .15
</td>
<td align="right">
  -4.31
</td>
<td align="right">
     4
</td>
<td align="right">
   -17.25
</td>
<td align="right">
   1.72
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   34.85
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -71.00
</td>
<td align="right">
    .28
</td>
<td align="right">
   -.71
</td>
<td align="right">
     1
</td>
<td align="right">
     -.71
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   47.46
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.05
</td>
<td align="right">
    .25
</td>
<td align="right">
   -.85
</td>
<td align="right">
     7
</td>
<td align="right">
    -5.95
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   37.23
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -29.00
</td>
<td align="right">
   -.42
</td>
<td align="right">
   -.29
</td>
<td align="right">
     1
</td>
<td align="right">
     -.29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  166.11
</td>
<td align="right">
 -.60
</td>
<td align="right">
  176.00
</td>
<td align="right">
   1.51
</td>
<td align="right">
   1.76
</td>
<td align="right">
     1
</td>
<td align="right">
     1.76
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  324.72
</td>
<td align="right">
 -.58
</td>
<td align="right">
-1896.00
</td>
<td align="right">
  -2.33
</td>
<td align="right">
 -18.96
</td>
<td align="right">
     1
</td>
<td align="right">
   -18.96
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  113.23
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -35.73
</td>
<td align="right">
  -1.38
</td>
<td align="right">
  -2.31
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.61
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   44.62
</td>
<td align="right">
 -.57
</td>
<td align="right">
    1.48
</td>
<td align="right">
    .00
</td>
<td align="right">
    .30
</td>
<td align="right">
     3
</td>
<td align="right">
      .89
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   50.13
</td>
<td align="right">
 -.71
</td>
<td align="right">
 -116.00
</td>
<td align="right">
   -.50
</td>
<td align="right">
  -1.16
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   68.59
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -375.00
</td>
<td align="right">
  -1.49
</td>
<td align="right">
  -3.75
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.75
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   45.08
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -14.24
</td>
<td align="right">
   -.34
</td>
<td align="right">
   -.71
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.41
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   40.99
</td>
<td align="right">
 -.57
</td>
<td align="right">
  277.00
</td>
<td align="right">
   1.36
</td>
<td align="right">
   2.77
</td>
<td align="right">
     1
</td>
<td align="right">
     2.77
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
JCP
</td>
<td align="right">
   27.27
</td>
<td align="right">
 -.59
</td>
<td align="right">
   66.00
</td>
<td align="right">
    .76
</td>
<td align="right">
    .66
</td>
<td align="right">
     1
</td>
<td align="right">
      .66
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   30.05
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -2.85
</td>
<td align="right">
   -.05
</td>
<td align="right">
  -1.37
</td>
<td align="right">
     5
</td>
<td align="right">
    -6.84
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   63.51
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.71
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.52
</td>
<td align="right">
    19
</td>
<td align="right">
   -28.86
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  124.94
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.36
</td>
<td align="right">
  -1.65
</td>
<td align="right">
  -4.48
</td>
<td align="right">
     2
</td>
<td align="right">
    -8.95
</td>
<td align="right">
   3.29
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   52.10
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.54
</td>
<td align="right">
    .06
</td>
<td align="right">
  -1.41
</td>
<td align="right">
    10
</td>
<td align="right">
   -14.13
</td>
<td align="right">
    .92
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   28.93
</td>
<td align="right">
 -.55
</td>
<td align="right">
   73.00
</td>
<td align="right">
    .25
</td>
<td align="right">
    .73
</td>
<td align="right">
     1
</td>
<td align="right">
      .73
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   31.54
</td>
<td align="right">
 -.57
</td>
<td align="right">
    6.24
</td>
<td align="right">
    .13
</td>
<td align="right">
   2.26
</td>
<td align="right">
    12
</td>
<td align="right">
    27.08
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   28.89
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -15.00
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.15
</td>
<td align="right">
     1
</td>
<td align="right">
     -.15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   73.85
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.62
</td>
<td align="right">
   -.73
</td>
<td align="right">
   -.69
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.38
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    78
</td>
<td align="right">
   -80.51
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   54.90
</td>
<td align="right">
  .59
</td>
<td align="right">
   27.70
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.39
</td>
<td align="right">
     4
</td>
<td align="right">
     5.54
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
AMT
</td>
<td align="right">
   54.17
</td>
<td align="right">
  .65
</td>
<td align="right">
   -3.83
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.85
</td>
<td align="right">
    38
</td>
<td align="right">
   -32.34
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   36.19
</td>
<td align="right">
  .73
</td>
<td align="right">
   10.05
</td>
<td align="right">
    .06
</td>
<td align="right">
   1.94
</td>
<td align="right">
    31
</td>
<td align="right">
    60.15
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   62.29
</td>
<td align="right">
  .64
</td>
<td align="right">
   10.77
</td>
<td align="right">
    .36
</td>
<td align="right">
   5.22
</td>
<td align="right">
    23
</td>
<td align="right">
   120.12
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  109.36
</td>
<td align="right">
  .64
</td>
<td align="right">
  374.00
</td>
<td align="right">
    .85
</td>
<td align="right">
   3.74
</td>
<td align="right">
     1
</td>
<td align="right">
     3.74
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   52.99
</td>
<td align="right">
  .56
</td>
<td align="right">
   12.32
</td>
<td align="right">
    .25
</td>
<td align="right">
   3.29
</td>
<td align="right">
    13
</td>
<td align="right">
    42.77
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   74.27
</td>
<td align="right">
  .65
</td>
<td align="right">
    3.03
</td>
<td align="right">
    .29
</td>
<td align="right">
   4.41
</td>
<td align="right">
    51
</td>
<td align="right">
   224.90
</td>
<td align="right">
   1.46
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   66.22
</td>
<td align="right">
  .57
</td>
<td align="right">
 -206.00
</td>
<td align="right">
   2.08
</td>
<td align="right">
  -2.06
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.52
</td>
<td align="right">
  .65
</td>
<td align="right">
    3.00
</td>
<td align="right">
  -1.15
</td>
<td align="right">
   2.33
</td>
<td align="right">
     2
</td>
<td align="right">
     4.66
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   45.49
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.31
</td>
<td align="right">
    .75
</td>
<td align="right">
   1.41
</td>
<td align="right">
    29
</td>
<td align="right">
    41.00
</td>
<td align="right">
   1.08
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   46.70
</td>
<td align="right">
  .60
</td>
<td align="right">
 -531.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
  -5.31
</td>
<td align="right">
     1
</td>
<td align="right">
    -5.31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   63.59
</td>
<td align="right">
  .61
</td>
<td align="right">
   27.43
</td>
<td align="right">
   1.03
</td>
<td align="right">
   7.66
</td>
<td align="right">
    14
</td>
<td align="right">
   107.20
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   90.14
</td>
<td align="right">
  .55
</td>
<td align="right">
  -72.00
</td>
<td align="right">
    .27
</td>
<td align="right">
   -.72
</td>
<td align="right">
     1
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   28.34
</td>
<td align="right">
  .58
</td>
<td align="right">
   55.00
</td>
<td align="right">
    .28
</td>
<td align="right">
    .55
</td>
<td align="right">
     1
</td>
<td align="right">
      .55
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   72.74
</td>
<td align="right">
  .60
</td>
<td align="right">
   -6.17
</td>
<td align="right">
    .26
</td>
<td align="right">
  -1.38
</td>
<td align="right">
    13
</td>
<td align="right">
   -17.88
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   63.63
</td>
<td align="right">
  .67
</td>
<td align="right">
   10.83
</td>
<td align="right">
    .27
</td>
<td align="right">
   3.13
</td>
<td align="right">
    25
</td>
<td align="right">
    78.25
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   61.28
</td>
<td align="right">
  .64
</td>
<td align="right">
   -9.75
</td>
<td align="right">
   -.80
</td>
<td align="right">
  -3.77
</td>
<td align="right">
     6
</td>
<td align="right">
   -22.63
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   31.04
</td>
<td align="right">
  .57
</td>
<td align="right">
  107.00
</td>
<td align="right">
    .43
</td>
<td align="right">
   1.07
</td>
<td align="right">
     1
</td>
<td align="right">
     1.07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.78
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.08
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .17
</td>
<td align="right">
     3
</td>
<td align="right">
      .51
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   17.84
</td>
<td align="right">
  .77
</td>
<td align="right">
     .00
</td>
<td align="right">
    .01
</td>
<td align="right">
    .00
</td>
<td align="right">
    68
</td>
<td align="right">
      .07
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   64.91
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.99
</td>
<td align="right">
   -.36
</td>
<td align="right">
   -.85
</td>
<td align="right">
    10
</td>
<td align="right">
    -8.53
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   47.30
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.88
</td>
<td align="right">
    .35
</td>
<td align="right">
  -1.25
</td>
<td align="right">
     8
</td>
<td align="right">
   -10.04
</td>
<td align="right">
   1.43
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   50.78
</td>
<td align="right">
  .62
</td>
<td align="right">
     .48
</td>
<td align="right">
    .09
</td>
<td align="right">
    .80
</td>
<td align="right">
    34
</td>
<td align="right">
    27.08
</td>
<td align="right">
   1.66
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   31.13
</td>
<td align="right">
  .55
</td>
<td align="right">
 -102.00
</td>
<td align="right">
   -.48
</td>
<td align="right">
  -1.02
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  114.54
</td>
<td align="right">
  .61
</td>
<td align="right">
   15.93
</td>
<td align="right">
    .25
</td>
<td align="right">
   4.54
</td>
<td align="right">
    20
</td>
<td align="right">
    90.81
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   28.78
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.00
</td>
<td align="right">
    .18
</td>
<td align="right">
    .01
</td>
<td align="right">
     1
</td>
<td align="right">
      .01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   63.71
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .38
</td>
<td align="right">
     5
</td>
<td align="right">
     1.90
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   85.57
</td>
<td align="right">
  .68
</td>
<td align="right">
     .53
</td>
<td align="right">
    .09
</td>
<td align="right">
   1.75
</td>
<td align="right">
    95
</td>
<td align="right">
   166.05
</td>
<td align="right">
   3.28
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   35.91
</td>
<td align="right">
  .57
</td>
<td align="right">
   15.11
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.01
</td>
<td align="right">
     4
</td>
<td align="right">
     4.04
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   51.74
</td>
<td align="right">
  .56
</td>
<td align="right">
   60.00
</td>
<td align="right">
    .94
</td>
<td align="right">
    .60
</td>
<td align="right">
     1
</td>
<td align="right">
      .60
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   505
</td>
<td align="right">
   880.49
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
