<h4>Week of: 2011_08_15</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   23.01
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .38
</td>
<td align="right">
    .08
</td>
<td align="right">
    .14
</td>
<td align="right">
     3
</td>
<td align="right">
      .42
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   97.37
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.90
</td>
<td align="right">
    .21
</td>
<td align="right">
   -.37
</td>
<td align="right">
     2
</td>
<td align="right">
     -.74
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   73.33
</td>
<td align="right">
 -.79
</td>
<td align="right">
 -493.00
</td>
<td align="right">
  -1.09
</td>
<td align="right">
  -4.93
</td>
<td align="right">
     1
</td>
<td align="right">
    -4.93
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ARG
</td>
<td align="right">
   62.19
</td>
<td align="right">
 -.59
</td>
<td align="right">
 -236.00
</td>
<td align="right">
   -.24
</td>
<td align="right">
  -2.36
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.36
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   31.99
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -6.09
</td>
<td align="right">
   -.20
</td>
<td align="right">
  -1.83
</td>
<td align="right">
     8
</td>
<td align="right">
   -14.63
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   75.77
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.05
</td>
<td align="right">
    .68
</td>
<td align="right">
   -.36
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.43
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   43.73
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.90
</td>
<td align="right">
   -.11
</td>
<td align="right">
  -1.74
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.47
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   34.61
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -2.77
</td>
<td align="right">
   -.44
</td>
<td align="right">
  -2.86
</td>
<td align="right">
    42
</td>
<td align="right">
  -119.99
</td>
<td align="right">
   1.03
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.94
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.30
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.20
</td>
<td align="right">
     4
</td>
<td align="right">
     -.80
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   36.29
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.99
</td>
<td align="right">
    .11
</td>
<td align="right">
  -1.54
</td>
<td align="right">
     6
</td>
<td align="right">
    -9.22
</td>
<td align="right">
   1.56
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   46.55
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .66
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .21
</td>
<td align="right">
     5
</td>
<td align="right">
     1.06
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   33.09
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.95
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.35
</td>
<td align="right">
    32
</td>
<td align="right">
   -11.14
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
   95.44
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.67
</td>
<td align="right">
  -1.01
</td>
<td align="right">
  -4.50
</td>
<td align="right">
    11
</td>
<td align="right">
   -49.47
</td>
<td align="right">
   2.69
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.70
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -18.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.18
</td>
<td align="right">
     1
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   97.23
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -30.40
</td>
<td align="right">
   -.92
</td>
<td align="right">
  -4.86
</td>
<td align="right">
     7
</td>
<td align="right">
   -34.03
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   57.63
</td>
<td align="right">
 -.58
</td>
<td align="right">
   74.00
</td>
<td align="right">
   1.17
</td>
<td align="right">
    .74
</td>
<td align="right">
     1
</td>
<td align="right">
      .74
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   61.30
</td>
<td align="right">
 -.60
</td>
<td align="right">
    3.56
</td>
<td align="right">
    .23
</td>
<td align="right">
   2.19
</td>
<td align="right">
     6
</td>
<td align="right">
    13.12
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   38.56
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -4.77
</td>
<td align="right">
   -.19
</td>
<td align="right">
  -1.21
</td>
<td align="right">
    10
</td>
<td align="right">
   -12.06
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  502.47
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.53
</td>
<td align="right">
    .83
</td>
<td align="right">
  -2.71
</td>
<td align="right">
    29
</td>
<td align="right">
   -78.73
</td>
<td align="right">
   5.15
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  171.10
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.30
</td>
<td align="right">
    .89
</td>
<td align="right">
   -.76
</td>
<td align="right">
     6
</td>
<td align="right">
    -4.57
</td>
<td align="right">
   2.56
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   20.69
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -14.00
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   64.09
</td>
<td align="right">
 -.57
</td>
<td align="right">
    2.86
</td>
<td align="right">
   2.58
</td>
<td align="right">
   3.01
</td>
<td align="right">
     2
</td>
<td align="right">
     6.03
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   76.07
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.69
</td>
<td align="right">
    .14
</td>
<td align="right">
  -1.32
</td>
<td align="right">
    15
</td>
<td align="right">
   -19.76
</td>
<td align="right">
   1.90
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   31.60
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -8.71
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.68
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.04
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   69.27
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -3.21
</td>
<td align="right">
   -.86
</td>
<td align="right">
  -2.72
</td>
<td align="right">
     2
</td>
<td align="right">
    -5.44
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.06
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.79
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.04
</td>
<td align="right">
     3
</td>
<td align="right">
     -.11
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.86
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .63
</td>
<td align="right">
    .07
</td>
<td align="right">
    .16
</td>
<td align="right">
    22
</td>
<td align="right">
     3.57
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  216.35
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.16
</td>
<td align="right">
  -2.91
</td>
<td align="right">
  -8.54
</td>
<td align="right">
    46
</td>
<td align="right">
  -392.73
</td>
<td align="right">
   3.95
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  129.39
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.40
</td>
<td align="right">
   -.03
</td>
<td align="right">
  -5.16
</td>
<td align="right">
     3
</td>
<td align="right">
   -15.47
</td>
<td align="right">
   3.68
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   24.91
</td>
<td align="right">
 -.55
</td>
<td align="right">
   20.00
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .20
</td>
<td align="right">
     1
</td>
<td align="right">
      .20
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   61.57
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .87
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .19
</td>
<td align="right">
     3
</td>
<td align="right">
      .58
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   69.52
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.42
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.49
</td>
<td align="right">
    13
</td>
<td align="right">
    -6.40
</td>
<td align="right">
   1.16
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   47.72
</td>
<td align="right">
 -.62
</td>
<td align="right">
 -205.00
</td>
<td align="right">
   -.31
</td>
<td align="right">
  -2.05
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   47.74
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.51
</td>
<td align="right">
    .27
</td>
<td align="right">
   -.45
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.81
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   51.16
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.92
</td>
<td align="right">
    .01
</td>
<td align="right">
  -1.36
</td>
<td align="right">
     7
</td>
<td align="right">
    -9.50
</td>
<td align="right">
   1.47
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   50.31
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.04
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.01
</td>
<td align="right">
     2
</td>
<td align="right">
     -.01
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   33.40
</td>
<td align="right">
 -.78
</td>
<td align="right">
 -159.00
</td>
<td align="right">
   -.15
</td>
<td align="right">
  -1.59
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   26.48
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -7.88
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.56
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.22
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   31.21
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -10.40
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.80
</td>
<td align="right">
     4
</td>
<td align="right">
    -3.21
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   14.89
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .37
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .08
</td>
<td align="right">
    20
</td>
<td align="right">
     1.69
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   39.25
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.91
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .32
</td>
<td align="right">
    18
</td>
<td align="right">
     5.73
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   38.00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.27
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.42
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.66
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   79.20
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.54
</td>
<td align="right">
   -.76
</td>
<td align="right">
  -4.07
</td>
<td align="right">
   134
</td>
<td align="right">
  -545.94
</td>
<td align="right">
   1.60
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   32.81
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -75.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.75
</td>
<td align="right">
     1
</td>
<td align="right">
     -.75
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    9.06
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -3.13
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.53
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.11
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   79.21
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.67
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.79
</td>
<td align="right">
    80
</td>
<td align="right">
   -62.84
</td>
<td align="right">
   1.16
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   61.63
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.59
</td>
<td align="right">
   -.36
</td>
<td align="right">
  -1.38
</td>
<td align="right">
    11
</td>
<td align="right">
   -15.14
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  135.57
</td>
<td align="right">
 -.55
</td>
<td align="right">
   -1.71
</td>
<td align="right">
  -2.27
</td>
<td align="right">
  -5.17
</td>
<td align="right">
     2
</td>
<td align="right">
   -10.33
</td>
<td align="right">
   3.02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   592
</td>
<td align="right">
 -1415.86
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AAPL
</td>
<td align="right">
  379.16
</td>
<td align="right">
  .58
</td>
<td align="right">
  -29.23
</td>
<td align="right">
    .12
</td>
<td align="right">
 -13.64
</td>
<td align="right">
     2
</td>
<td align="right">
   -27.28
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   50.09
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.22
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .65
</td>
<td align="right">
     2
</td>
<td align="right">
     1.29
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   83.26
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.30
</td>
<td align="right">
    .39
</td>
<td align="right">
   -.31
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.57
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   20.89
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.50
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.43
</td>
<td align="right">
    34
</td>
<td align="right">
   -14.60
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   51.13
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.81
</td>
<td align="right">
    .57
</td>
<td align="right">
   1.33
</td>
<td align="right">
     2
</td>
<td align="right">
     2.66
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  187.67
</td>
<td align="right">
  .56
</td>
<td align="right">
  189.00
</td>
<td align="right">
   -.86
</td>
<td align="right">
   1.89
</td>
<td align="right">
     1
</td>
<td align="right">
     1.89
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   33.04
</td>
<td align="right">
  .57
</td>
<td align="right">
     .85
</td>
<td align="right">
    .45
</td>
<td align="right">
    .16
</td>
<td align="right">
     5
</td>
<td align="right">
      .79
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.39
</td>
<td align="right">
  .65
</td>
<td align="right">
     .44
</td>
<td align="right">
    .05
</td>
<td align="right">
    .08
</td>
<td align="right">
    58
</td>
<td align="right">
     4.39
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   20.71
</td>
<td align="right">
  .59
</td>
<td align="right">
   18.00
</td>
<td align="right">
    .13
</td>
<td align="right">
    .18
</td>
<td align="right">
     1
</td>
<td align="right">
      .18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  313.77
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.88
</td>
<td align="right">
    .86
</td>
<td align="right">
  -5.80
</td>
<td align="right">
    13
</td>
<td align="right">
   -75.38
</td>
<td align="right">
   6.61
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   44.28
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.75
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.77
</td>
<td align="right">
    85
</td>
<td align="right">
   -65.53
</td>
<td align="right">
   1.03
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  123.13
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.26
</td>
<td align="right">
  -2.07
</td>
<td align="right">
  -6.97
</td>
<td align="right">
    24
</td>
<td align="right">
  -167.26
</td>
<td align="right">
   5.54
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.10
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.20
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.06
</td>
<td align="right">
     3
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   62.66
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.48
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.46
</td>
<td align="right">
    38
</td>
<td align="right">
   -17.63
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   36.08
</td>
<td align="right">
  .61
</td>
<td align="right">
    9.90
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .14
</td>
<td align="right">
     2
</td>
<td align="right">
      .28
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  114.21
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.85
</td>
<td align="right">
   -.57
</td>
<td align="right">
  -1.81
</td>
<td align="right">
    49
</td>
<td align="right">
   -88.91
</td>
<td align="right">
   2.14
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   32.10
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.03
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .09
</td>
<td align="right">
     6
</td>
<td align="right">
      .52
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   27.70
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.83
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.34
</td>
<td align="right">
     2
</td>
<td align="right">
     -.68
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   53.86
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.94
</td>
<td align="right">
   -.35
</td>
<td align="right">
  -1.41
</td>
<td align="right">
    26
</td>
<td align="right">
   -36.75
</td>
<td align="right">
   1.51
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   47.74
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.83
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.25
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.96
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   63.18
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.21
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.56
</td>
<td align="right">
    21
</td>
<td align="right">
   -11.79
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.52
</td>
<td align="right">
  .69
</td>
<td align="right">
   10.00
</td>
<td align="right">
    .28
</td>
<td align="right">
    .10
</td>
<td align="right">
     1
</td>
<td align="right">
      .10
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   36.85
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.35
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.08
</td>
<td align="right">
    15
</td>
<td align="right">
    -1.24
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   60.37
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.50
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .72
</td>
<td align="right">
    76
</td>
<td align="right">
    54.58
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  540.05
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.54
</td>
<td align="right">
  -2.70
</td>
<td align="right">
 -14.76
</td>
<td align="right">
    86
</td>
<td align="right">
 -1269.62
</td>
<td align="right">
   9.59
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  116.72
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.36
</td>
<td align="right">
   -.18
</td>
<td align="right">
  -1.09
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.28
</td>
<td align="right">
   3.01
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   80.35
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.90
</td>
<td align="right">
    .23
</td>
<td align="right">
  -1.37
</td>
<td align="right">
    31
</td>
<td align="right">
   -42.40
</td>
<td align="right">
   1.52
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   36.08
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.50
</td>
<td align="right">
    .12
</td>
<td align="right">
    .63
</td>
<td align="right">
    21
</td>
<td align="right">
    13.28
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
KO
</td>
<td align="right">
   67.69
</td>
<td align="right">
  .56
</td>
<td align="right">
  -23.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.23
</td>
<td align="right">
     1
</td>
<td align="right">
     -.23
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   86.29
</td>
<td align="right">
  .67
</td>
<td align="right">
   61.00
</td>
<td align="right">
    .25
</td>
<td align="right">
    .61
</td>
<td align="right">
     1
</td>
<td align="right">
      .61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.87
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.78
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.20
</td>
<td align="right">
    19
</td>
<td align="right">
    -3.82
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.98
</td>
<td align="right">
  .60
</td>
<td align="right">
     .42
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .03
</td>
<td align="right">
     9
</td>
<td align="right">
      .23
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   59.18
</td>
<td align="right">
  .63
</td>
<td align="right">
     .44
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .30
</td>
<td align="right">
     4
</td>
<td align="right">
     1.20
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  241.44
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.67
</td>
<td align="right">
   -.03
</td>
<td align="right">
  -1.61
</td>
<td align="right">
    23
</td>
<td align="right">
   -37.02
</td>
<td align="right">
   2.41
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   12.79
</td>
<td align="right">
  .60
</td>
<td align="right">
  -38.00
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.76
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.28
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   29.76
</td>
<td align="right">
  .67
</td>
<td align="right">
    5.51
</td>
<td align="right">
    .91
</td>
<td align="right">
    .67
</td>
<td align="right">
    13
</td>
<td align="right">
     8.77
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.76
</td>
<td align="right">
  .64
</td>
<td align="right">
     .61
</td>
<td align="right">
    .32
</td>
<td align="right">
    .93
</td>
<td align="right">
    78
</td>
<td align="right">
    72.66
</td>
<td align="right">
   1.52
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   68.01
</td>
<td align="right">
  .67
</td>
<td align="right">
     .37
</td>
<td align="right">
    .02
</td>
<td align="right">
    .44
</td>
<td align="right">
    41
</td>
<td align="right">
    17.96
</td>
<td align="right">
   1.18
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   53.05
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.30
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.23
</td>
<td align="right">
    76
</td>
<td align="right">
   -17.42
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  185.03
</td>
<td align="right">
  .66
</td>
<td align="right">
   13.10
</td>
<td align="right">
    .36
</td>
<td align="right">
   2.99
</td>
<td align="right">
    49
</td>
<td align="right">
   146.46
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   26.52
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.25
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.10
</td>
<td align="right">
     7
</td>
<td align="right">
     -.67
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
  103.82
</td>
<td align="right">
  .58
</td>
<td align="right">
   -3.65
</td>
<td align="right">
    .48
</td>
<td align="right">
  -6.17
</td>
<td align="right">
    25
</td>
<td align="right">
  -154.18
</td>
<td align="right">
   1.69
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   69.52
</td>
<td align="right">
  .59
</td>
<td align="right">
 -157.00
</td>
<td align="right">
   -.79
</td>
<td align="right">
  -1.57
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.57
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    8.67
</td>
<td align="right">
  .67
</td>
<td align="right">
     .39
</td>
<td align="right">
    .00
</td>
<td align="right">
    .05
</td>
<td align="right">
    74
</td>
<td align="right">
     3.45
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   49.64
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.28
</td>
<td align="right">
    .10
</td>
<td align="right">
    .57
</td>
<td align="right">
    15
</td>
<td align="right">
     8.48
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   84.21
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.00
</td>
<td align="right">
    .47
</td>
<td align="right">
  -1.82
</td>
<td align="right">
     6
</td>
<td align="right">
   -10.90
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   20.86
</td>
<td align="right">
  .59
</td>
<td align="right">
 -118.00
</td>
<td align="right">
    .14
</td>
<td align="right">
  -1.18
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   93.03
</td>
<td align="right">
  .71
</td>
<td align="right">
   -1.60
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -2.90
</td>
<td align="right">
    24
</td>
<td align="right">
   -69.55
</td>
<td align="right">
   1.81
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   59.15
</td>
<td align="right">
  .60
</td>
<td align="right">
   -3.72
</td>
<td align="right">
   -.78
</td>
<td align="right">
  -1.49
</td>
<td align="right">
     5
</td>
<td align="right">
    -7.43
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   49.58
</td>
<td align="right">
  .58
</td>
<td align="right">
   12.94
</td>
<td align="right">
    .03
</td>
<td align="right">
   2.24
</td>
<td align="right">
    17
</td>
<td align="right">
    38.13
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  147.20
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.28
</td>
<td align="right">
    .32
</td>
<td align="right">
  -1.73
</td>
<td align="right">
     8
</td>
<td align="right">
   -13.84
</td>
<td align="right">
   6.14
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   34.32
</td>
<td align="right">
  .68
</td>
<td align="right">
   23.00
</td>
<td align="right">
    .25
</td>
<td align="right">
    .23
</td>
<td align="right">
     1
</td>
<td align="right">
      .23
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1121
</td>
<td align="right">
 -1768.01
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
