<h4>Week of: 2011_07_18</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   52.92
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.54
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.24
</td>
<td align="right">
     2
</td>
<td align="right">
     -.48
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   29.72
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -6.84
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.15
</td>
<td align="right">
     2
</td>
<td align="right">
     -.29
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   29.12
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.58
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.13
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.00
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    8.68
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -5.18
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.32
</td>
<td align="right">
    12
</td>
<td align="right">
    -3.78
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   24.94
</td>
<td align="right">
 -.57
</td>
<td align="right">
   55.00
</td>
<td align="right">
    .08
</td>
<td align="right">
    .55
</td>
<td align="right">
     1
</td>
<td align="right">
      .55
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  153.11
</td>
<td align="right">
 -.58
</td>
<td align="right">
    2.13
</td>
<td align="right">
    .35
</td>
<td align="right">
   2.04
</td>
<td align="right">
     5
</td>
<td align="right">
    10.18
</td>
<td align="right">
    .96
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  231.65
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.65
</td>
<td align="right">
  -1.29
</td>
<td align="right">
  -7.66
</td>
<td align="right">
    41
</td>
<td align="right">
  -314.14
</td>
<td align="right">
   2.89
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   49.74
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.54
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.50
</td>
<td align="right">
    11
</td>
<td align="right">
    -5.54
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  151.88
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.25
</td>
<td align="right">
   -.44
</td>
<td align="right">
  -1.06
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.24
</td>
<td align="right">
   4.27
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.77
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.43
</td>
<td align="right">
    .02
</td>
<td align="right">
    .30
</td>
<td align="right">
    33
</td>
<td align="right">
     9.82
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   39.15
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .26
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .05
</td>
<td align="right">
    13
</td>
<td align="right">
      .68
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   80.75
</td>
<td align="right">
 -.64
</td>
<td align="right">
    4.00
</td>
<td align="right">
   -.43
</td>
<td align="right">
    .04
</td>
<td align="right">
     1
</td>
<td align="right">
      .04
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  127.08
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.39
</td>
<td align="right">
     6
</td>
<td align="right">
    -2.35
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   40.71
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.79
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.08
</td>
<td align="right">
    19
</td>
<td align="right">
    -1.56
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   38.76
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .57
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .30
</td>
<td align="right">
     6
</td>
<td align="right">
     1.79
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   34.07
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.43
</td>
<td align="right">
   -.41
</td>
<td align="right">
   -.66
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.31
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   69.50
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.15
</td>
<td align="right">
    .15
</td>
<td align="right">
    .63
</td>
<td align="right">
     3
</td>
<td align="right">
     1.89
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  117.19
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -3.70
</td>
<td align="right">
   -.15
</td>
<td align="right">
  -4.78
</td>
<td align="right">
     9
</td>
<td align="right">
   -43.06
</td>
<td align="right">
   1.29
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   54.41
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -5.03
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.81
</td>
<td align="right">
     8
</td>
<td align="right">
    -6.50
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  127.83
</td>
<td align="right">
 -.69
</td>
<td align="right">
   16.81
</td>
<td align="right">
   1.49
</td>
<td align="right">
   5.57
</td>
<td align="right">
     4
</td>
<td align="right">
    22.27
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.56
</td>
<td align="right">
    1.38
</td>
<td align="right">
    .09
</td>
<td align="right">
    .49
</td>
<td align="right">
    13
</td>
<td align="right">
     6.31
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   64.00
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .90
</td>
<td align="right">
    .08
</td>
<td align="right">
    .30
</td>
<td align="right">
    18
</td>
<td align="right">
     5.48
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   83.81
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .71
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .28
</td>
<td align="right">
    17
</td>
<td align="right">
     4.68
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   62.89
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -3.91
</td>
<td align="right">
   -.43
</td>
<td align="right">
   -.53
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.05
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   38.19
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .54
</td>
<td align="right">
    .04
</td>
<td align="right">
    .23
</td>
<td align="right">
   137
</td>
<td align="right">
    30.93
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  179.67
</td>
<td align="right">
 -.57
</td>
<td align="right">
   59.00
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .59
</td>
<td align="right">
     1
</td>
<td align="right">
      .59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   68.34
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.76
</td>
<td align="right">
    .52
</td>
<td align="right">
   1.61
</td>
<td align="right">
    27
</td>
<td align="right">
    43.51
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   35.48
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.50
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.09
</td>
<td align="right">
     3
</td>
<td align="right">
     -.27
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   27.13
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .10
</td>
<td align="right">
    .06
</td>
<td align="right">
    .03
</td>
<td align="right">
     7
</td>
<td align="right">
      .18
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.60
</td>
<td align="right">
 -.57
</td>
<td align="right">
    2.40
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .12
</td>
<td align="right">
     7
</td>
<td align="right">
      .81
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   50.20
</td>
<td align="right">
 -.60
</td>
<td align="right">
    3.29
</td>
<td align="right">
    .16
</td>
<td align="right">
   1.18
</td>
<td align="right">
     3
</td>
<td align="right">
     3.55
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   39.51
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.01
</td>
<td align="right">
    .11
</td>
<td align="right">
    .55
</td>
<td align="right">
     8
</td>
<td align="right">
     4.41
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   80.12
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.28
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.10
</td>
<td align="right">
    12
</td>
<td align="right">
    -1.15
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   61.46
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -9.19
</td>
<td align="right">
   -.03
</td>
<td align="right">
  -1.37
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.73
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   57.13
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .00
</td>
<td align="right">
   -.31
</td>
<td align="right">
   -.01
</td>
<td align="right">
     2
</td>
<td align="right">
     -.01
</td>
<td align="right">
   1.04
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   59.11
</td>
<td align="right">
 -.61
</td>
<td align="right">
    2.41
</td>
<td align="right">
    .19
</td>
<td align="right">
    .33
</td>
<td align="right">
     5
</td>
<td align="right">
     1.64
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   36.03
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.00
</td>
<td align="right">
    .14
</td>
<td align="right">
  -1.03
</td>
<td align="right">
    21
</td>
<td align="right">
   -21.58
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   62.36
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.76
</td>
<td align="right">
    .35
</td>
<td align="right">
    .87
</td>
<td align="right">
    21
</td>
<td align="right">
    18.21
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   36.54
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.33
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.31
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.57
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   82.50
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .19
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .53
</td>
<td align="right">
     9
</td>
<td align="right">
     4.77
</td>
<td align="right">
   2.73
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  131.75
</td>
<td align="right">
 -.60
</td>
<td align="right">
    7.25
</td>
<td align="right">
    .05
</td>
<td align="right">
   1.04
</td>
<td align="right">
     6
</td>
<td align="right">
     6.21
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   11.76
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.32
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.23
</td>
<td align="right">
    79
</td>
<td align="right">
   -18.27
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   16.49
</td>
<td align="right">
 -.60
</td>
<td align="right">
    4.78
</td>
<td align="right">
    .18
</td>
<td align="right">
    .19
</td>
<td align="right">
     4
</td>
<td align="right">
      .74
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   47.72
</td>
<td align="right">
 -.56
</td>
<td align="right">
   10.48
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .88
</td>
<td align="right">
     4
</td>
<td align="right">
     3.50
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   95.93
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.33
</td>
<td align="right">
   -.42
</td>
<td align="right">
   -.75
</td>
<td align="right">
    21
</td>
<td align="right">
   -15.84
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   31.09
</td>
<td align="right">
 -.60
</td>
<td align="right">
   14.00
</td>
<td align="right">
    .07
</td>
<td align="right">
    .14
</td>
<td align="right">
     1
</td>
<td align="right">
      .14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  106.80
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.33
</td>
<td align="right">
   -.58
</td>
<td align="right">
    19
</td>
<td align="right">
   -11.03
</td>
<td align="right">
   1.24
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   54.49
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.33
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.20
</td>
<td align="right">
    67
</td>
<td align="right">
   -13.64
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   79.31
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .59
</td>
<td align="right">
    .07
</td>
<td align="right">
    .31
</td>
<td align="right">
     5
</td>
<td align="right">
     1.57
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   716
</td>
<td align="right">
  -286.94
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   29.18
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.79
</td>
<td align="right">
    .04
</td>
<td align="right">
    .17
</td>
<td align="right">
     8
</td>
<td align="right">
     1.36
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
AMT
</td>
<td align="right">
   52.51
</td>
<td align="right">
  .58
</td>
<td align="right">
    8.69
</td>
<td align="right">
    .06
</td>
<td align="right">
    .58
</td>
<td align="right">
     4
</td>
<td align="right">
     2.33
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
ARG
</td>
<td align="right">
   70.09
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.16
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.11
</td>
<td align="right">
     3
</td>
<td align="right">
     -.34
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    8.61
</td>
<td align="right">
  .64
</td>
<td align="right">
     .70
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .04
</td>
<td align="right">
    13
</td>
<td align="right">
      .49
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   25.33
</td>
<td align="right">
  .65
</td>
<td align="right">
    5.83
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .26
</td>
<td align="right">
     4
</td>
<td align="right">
     1.05
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  153.89
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.01
</td>
<td align="right">
  -1.08
</td>
<td align="right">
  -1.03
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.06
</td>
<td align="right">
   1.02
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   60.72
</td>
<td align="right">
  .68
</td>
<td align="right">
     .90
</td>
<td align="right">
    .11
</td>
<td align="right">
    .29
</td>
<td align="right">
   157
</td>
<td align="right">
    46.09
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  220.88
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.03
</td>
<td align="right">
    .57
</td>
<td align="right">
   -.09
</td>
<td align="right">
     7
</td>
<td align="right">
     -.64
</td>
<td align="right">
   3.27
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  328.34
</td>
<td align="right">
  .75
</td>
<td align="right">
   12.99
</td>
<td align="right">
   3.60
</td>
<td align="right">
   7.66
</td>
<td align="right">
     7
</td>
<td align="right">
    53.62
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   49.38
</td>
<td align="right">
  .68
</td>
<td align="right">
     .47
</td>
<td align="right">
    .05
</td>
<td align="right">
    .30
</td>
<td align="right">
   102
</td>
<td align="right">
    30.23
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  153.75
</td>
<td align="right">
  .58
</td>
<td align="right">
 -274.00
</td>
<td align="right">
    .76
</td>
<td align="right">
  -2.74
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.74
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.48
</td>
<td align="right">
  .79
</td>
<td align="right">
    1.73
</td>
<td align="right">
    .03
</td>
<td align="right">
    .21
</td>
<td align="right">
   111
</td>
<td align="right">
    23.33
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   39.63
</td>
<td align="right">
  .72
</td>
<td align="right">
    1.86
</td>
<td align="right">
    .01
</td>
<td align="right">
    .31
</td>
<td align="right">
    44
</td>
<td align="right">
    13.46
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   36.87
</td>
<td align="right">
  .61
</td>
<td align="right">
    7.27
</td>
<td align="right">
    .01
</td>
<td align="right">
   1.35
</td>
<td align="right">
    10
</td>
<td align="right">
    13.48
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  125.61
</td>
<td align="right">
  .59
</td>
<td align="right">
     .47
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .39
</td>
<td align="right">
     9
</td>
<td align="right">
     3.53
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   39.66
</td>
<td align="right">
  .63
</td>
<td align="right">
   44.00
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .44
</td>
<td align="right">
     1
</td>
<td align="right">
      .44
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   33.32
</td>
<td align="right">
  .58
</td>
<td align="right">
    7.37
</td>
<td align="right">
    .00
</td>
<td align="right">
    .37
</td>
<td align="right">
     2
</td>
<td align="right">
      .73
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   59.94
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.16
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.03
</td>
<td align="right">
     5
</td>
<td align="right">
     -.15
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   68.74
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.62
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .62
</td>
<td align="right">
    25
</td>
<td align="right">
    15.50
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.41
</td>
<td align="right">
  .65
</td>
<td align="right">
   44.00
</td>
<td align="right">
    .35
</td>
<td align="right">
    .44
</td>
<td align="right">
     1
</td>
<td align="right">
      .44
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   55.91
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.82
</td>
<td align="right">
    .17
</td>
<td align="right">
   -.43
</td>
<td align="right">
    13
</td>
<td align="right">
    -5.60
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  112.74
</td>
<td align="right">
  .60
</td>
<td align="right">
  -18.82
</td>
<td align="right">
   -.17
</td>
<td align="right">
 -10.82
</td>
<td align="right">
    14
</td>
<td align="right">
  -151.42
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  154.61
</td>
<td align="right">
  .64
</td>
<td align="right">
    4.62
</td>
<td align="right">
   -.25
</td>
<td align="right">
    .93
</td>
<td align="right">
     7
</td>
<td align="right">
     6.54
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   35.96
</td>
<td align="right">
  .60
</td>
<td align="right">
  109.00
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.09
</td>
<td align="right">
     1
</td>
<td align="right">
     1.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HL
</td>
<td align="right">
    8.13
</td>
<td align="right">
  .56
</td>
<td align="right">
   30.00
</td>
<td align="right">
    .06
</td>
<td align="right">
    .30
</td>
<td align="right">
     1
</td>
<td align="right">
      .30
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
   14.26
</td>
<td align="right">
  .59
</td>
<td align="right">
   -4.24
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.12
</td>
<td align="right">
     2
</td>
<td align="right">
     -.24
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   22.66
</td>
<td align="right">
  .65
</td>
<td align="right">
    5.96
</td>
<td align="right">
    .10
</td>
<td align="right">
    .48
</td>
<td align="right">
    26
</td>
<td align="right">
    12.59
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   63.91
</td>
<td align="right">
  .58
</td>
<td align="right">
  -23.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.23
</td>
<td align="right">
     1
</td>
<td align="right">
     -.23
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   41.88
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.76
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.19
</td>
<td align="right">
    12
</td>
<td align="right">
    -2.29
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.60
</td>
<td align="right">
  .56
</td>
<td align="right">
  135.06
</td>
<td align="right">
    .50
</td>
<td align="right">
    .96
</td>
<td align="right">
     2
</td>
<td align="right">
     1.91
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.57
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.48
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.21
</td>
<td align="right">
     2
</td>
<td align="right">
     -.42
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   64.28
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.12
</td>
<td align="right">
    .23
</td>
<td align="right">
    .37
</td>
<td align="right">
    12
</td>
<td align="right">
     4.48
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   40.68
</td>
<td align="right">
  .56
</td>
<td align="right">
   59.00
</td>
<td align="right">
    .14
</td>
<td align="right">
    .59
</td>
<td align="right">
     1
</td>
<td align="right">
      .59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  159.24
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.76
</td>
<td align="right">
    .27
</td>
<td align="right">
   2.06
</td>
<td align="right">
    36
</td>
<td align="right">
    74.12
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   78.59
</td>
<td align="right">
  .59
</td>
<td align="right">
  120.00
</td>
<td align="right">
    .27
</td>
<td align="right">
   1.20
</td>
<td align="right">
     1
</td>
<td align="right">
     1.20
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   32.28
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.84
</td>
<td align="right">
    .27
</td>
<td align="right">
   -.07
</td>
<td align="right">
     2
</td>
<td align="right">
     -.13
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   67.70
</td>
<td align="right">
  .65
</td>
<td align="right">
   16.79
</td>
<td align="right">
    .19
</td>
<td align="right">
   3.32
</td>
<td align="right">
    13
</td>
<td align="right">
    43.17
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   56.07
</td>
<td align="right">
  .62
</td>
<td align="right">
     .96
</td>
<td align="right">
    .11
</td>
<td align="right">
    .13
</td>
<td align="right">
     6
</td>
<td align="right">
      .75
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  175.30
</td>
<td align="right">
  .60
</td>
<td align="right">
   64.00
</td>
<td align="right">
    .06
</td>
<td align="right">
    .64
</td>
<td align="right">
     1
</td>
<td align="right">
      .64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   60.22
</td>
<td align="right">
  .60
</td>
<td align="right">
     .62
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .35
</td>
<td align="right">
    33
</td>
<td align="right">
    11.50
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   55.12
</td>
<td align="right">
  .61
</td>
<td align="right">
    9.19
</td>
<td align="right">
   -.17
</td>
<td align="right">
   1.30
</td>
<td align="right">
     2
</td>
<td align="right">
     2.60
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   58.59
</td>
<td align="right">
  .56
</td>
<td align="right">
   51.00
</td>
<td align="right">
    .14
</td>
<td align="right">
    .51
</td>
<td align="right">
     1
</td>
<td align="right">
      .51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   34.69
</td>
<td align="right">
  .58
</td>
<td align="right">
   -6.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.06
</td>
<td align="right">
     1
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   36.14
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.57
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.31
</td>
<td align="right">
    16
</td>
<td align="right">
    -5.00
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   82.66
</td>
<td align="right">
  .61
</td>
<td align="right">
     .47
</td>
<td align="right">
    .30
</td>
<td align="right">
    .50
</td>
<td align="right">
    11
</td>
<td align="right">
     5.51
</td>
<td align="right">
   1.06
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   11.47
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.30
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.23
</td>
<td align="right">
    28
</td>
<td align="right">
    -6.42
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   16.70
</td>
<td align="right">
  .59
</td>
<td align="right">
     .18
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .04
</td>
<td align="right">
     9
</td>
<td align="right">
      .37
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   95.34
</td>
<td align="right">
  .61
</td>
<td align="right">
     .98
</td>
<td align="right">
    .08
</td>
<td align="right">
    .70
</td>
<td align="right">
    31
</td>
<td align="right">
    21.60
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   84.07
</td>
<td align="right">
  .66
</td>
<td align="right">
   -6.00
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.06
</td>
<td align="right">
     1
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   26.78
</td>
<td align="right">
  .64
</td>
<td align="right">
   27.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .27
</td>
<td align="right">
     1
</td>
<td align="right">
      .27
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  105.13
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.11
</td>
<td align="right">
    .16
</td>
<td align="right">
   1.95
</td>
<td align="right">
     8
</td>
<td align="right">
    15.57
</td>
<td align="right">
   1.76
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.64
</td>
<td align="right">
  .58
</td>
<td align="right">
    3.33
</td>
<td align="right">
    .17
</td>
<td align="right">
    .52
</td>
<td align="right">
     3
</td>
<td align="right">
     1.57
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   33.34
</td>
<td align="right">
  .59
</td>
<td align="right">
   25.98
</td>
<td align="right">
    .05
</td>
<td align="right">
    .45
</td>
<td align="right">
     3
</td>
<td align="right">
     1.35
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   817
</td>
<td align="right">
   236.51
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
