<h4>Week of: 2011_05_09</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   35.78
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -6.36
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.36
</td>
<td align="right">
     2
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   45.65
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -2.99
</td>
<td align="right">
   -.26
</td>
<td align="right">
  -1.26
</td>
<td align="right">
    13
</td>
<td align="right">
   -16.36
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   11.94
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.94
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.08
</td>
<td align="right">
     4
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    8.16
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.26
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.27
</td>
<td align="right">
    48
</td>
<td align="right">
   -13.10
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   30.60
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.25
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .41
</td>
<td align="right">
    17
</td>
<td align="right">
     6.96
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  142.02
</td>
<td align="right">
 -.79
</td>
<td align="right">
   -5.25
</td>
<td align="right">
   -.43
</td>
<td align="right">
  -3.89
</td>
<td align="right">
    45
</td>
<td align="right">
  -175.16
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   33.80
</td>
<td align="right">
 -.60
</td>
<td align="right">
   46.00
</td>
<td align="right">
    .48
</td>
<td align="right">
    .46
</td>
<td align="right">
     1
</td>
<td align="right">
      .46
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   44.25
</td>
<td align="right">
 -.79
</td>
<td align="right">
   -3.51
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.81
</td>
<td align="right">
    34
</td>
<td align="right">
   -27.58
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   52.64
</td>
<td align="right">
 -.63
</td>
<td align="right">
   53.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .53
</td>
<td align="right">
     1
</td>
<td align="right">
      .53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   40.96
</td>
<td align="right">
 -.56
</td>
<td align="right">
   99.00
</td>
<td align="right">
   -.51
</td>
<td align="right">
    .99
</td>
<td align="right">
     1
</td>
<td align="right">
      .99
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  133.53
</td>
<td align="right">
 -.60
</td>
<td align="right">
    2.39
</td>
<td align="right">
   -.24
</td>
<td align="right">
   1.41
</td>
<td align="right">
     3
</td>
<td align="right">
     4.22
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   17.12
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -1.41
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.36
</td>
<td align="right">
    22
</td>
<td align="right">
    -7.85
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   35.18
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.55
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.32
</td>
<td align="right">
    31
</td>
<td align="right">
   -10.02
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   39.13
</td>
<td align="right">
 -.77
</td>
<td align="right">
    -.51
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.29
</td>
<td align="right">
   113
</td>
<td align="right">
   -32.43
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   33.12
</td>
<td align="right">
 -.55
</td>
<td align="right">
    1.02
</td>
<td align="right">
    .23
</td>
<td align="right">
    .64
</td>
<td align="right">
     3
</td>
<td align="right">
     1.91
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   59.22
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.57
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .31
</td>
<td align="right">
    20
</td>
<td align="right">
     6.26
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.94
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.55
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.28
</td>
<td align="right">
   127
</td>
<td align="right">
   -35.49
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  130.09
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.72
</td>
<td align="right">
   -.70
</td>
<td align="right">
  -3.28
</td>
<td align="right">
    35
</td>
<td align="right">
  -114.92
</td>
<td align="right">
   1.91
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   43.91
</td>
<td align="right">
 -.84
</td>
<td align="right">
    2.23
</td>
<td align="right">
    .06
</td>
<td align="right">
    .33
</td>
<td align="right">
    38
</td>
<td align="right">
    12.62
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   54.64
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.33
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.23
</td>
<td align="right">
    22
</td>
<td align="right">
    -4.96
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   50.01
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -41.25
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.88
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.75
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   41.38
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.56
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.50
</td>
<td align="right">
    28
</td>
<td align="right">
   -13.96
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   37.10
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -30.00
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.30
</td>
<td align="right">
     1
</td>
<td align="right">
     -.30
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   40.97
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -6.26
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.62
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.24
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   20.13
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.68
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.16
</td>
<td align="right">
    24
</td>
<td align="right">
    -3.81
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   61.23
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.65
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.22
</td>
<td align="right">
    48
</td>
<td align="right">
   -10.49
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   43.38
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .97
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .48
</td>
<td align="right">
    46
</td>
<td align="right">
    22.20
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  280.96
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.31
</td>
<td align="right">
    .56
</td>
<td align="right">
   -.80
</td>
<td align="right">
     7
</td>
<td align="right">
    -5.60
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   45.01
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.07
</td>
<td align="right">
    20
</td>
<td align="right">
    -1.45
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   65.59
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.79
</td>
<td align="right">
   -.36
</td>
<td align="right">
   -.52
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.14
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   69.99
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.68
</td>
<td align="right">
   -.38
</td>
<td align="right">
   -.89
</td>
<td align="right">
    63
</td>
<td align="right">
   -56.37
</td>
<td align="right">
   1.31
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   36.56
</td>
<td align="right">
 -.58
</td>
<td align="right">
    7.78
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .11
</td>
<td align="right">
     2
</td>
<td align="right">
      .22
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.51
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.12
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.17
</td>
<td align="right">
    79
</td>
<td align="right">
   -13.67
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.42
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -3.96
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.53
</td>
<td align="right">
    34
</td>
<td align="right">
   -17.88
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   71.93
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .94
</td>
<td align="right">
    .08
</td>
<td align="right">
    .72
</td>
<td align="right">
    14
</td>
<td align="right">
    10.09
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   51.27
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.91
</td>
<td align="right">
    .25
</td>
<td align="right">
    .82
</td>
<td align="right">
     3
</td>
<td align="right">
     2.45
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   64.12
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.25
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.20
</td>
<td align="right">
   143
</td>
<td align="right">
   -28.20
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   57.40
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.91
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.32
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.29
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   36.26
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.04
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.30
</td>
<td align="right">
    74
</td>
<td align="right">
   -21.93
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   35.97
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -6.28
</td>
<td align="right">
   -.31
</td>
<td align="right">
  -1.01
</td>
<td align="right">
    14
</td>
<td align="right">
   -14.09
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   37.05
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -20.93
</td>
<td align="right">
   -.36
</td>
<td align="right">
  -3.09
</td>
<td align="right">
    21
</td>
<td align="right">
   -64.98
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   10.41
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -8.06
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.29
</td>
<td align="right">
     2
</td>
<td align="right">
     -.57
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   31.61
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.12
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.31
</td>
<td align="right">
    34
</td>
<td align="right">
   -10.61
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   50.72
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.39
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .56
</td>
<td align="right">
    43
</td>
<td align="right">
    24.25
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   94.78
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -51.00
</td>
<td align="right">
    .22
</td>
<td align="right">
   -.51
</td>
<td align="right">
     1
</td>
<td align="right">
     -.51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   35.42
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.64
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.09
</td>
<td align="right">
    36
</td>
<td align="right">
    -3.38
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   31.27
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .78
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .02
</td>
<td align="right">
     4
</td>
<td align="right">
      .06
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   94.86
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -3.48
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -2.95
</td>
<td align="right">
    15
</td>
<td align="right">
   -44.21
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   37.33
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.05
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.29
</td>
<td align="right">
    37
</td>
<td align="right">
   -10.77
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   62.90
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .09
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .03
</td>
<td align="right">
    16
</td>
<td align="right">
      .53
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   55.56
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.14
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.04
</td>
<td align="right">
    57
</td>
<td align="right">
    -2.16
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  147.41
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -3.00
</td>
<td align="right">
   1.71
</td>
<td align="right">
   -.89
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.78
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   81.95
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.49
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.51
</td>
<td align="right">
    11
</td>
<td align="right">
    -5.59
</td>
<td align="right">
   1.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1473
</td>
<td align="right">
  -684.90
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   59.16
</td>
<td align="right">
  .58
</td>
<td align="right">
     .54
</td>
<td align="right">
    .04
</td>
<td align="right">
    .73
</td>
<td align="right">
     3
</td>
<td align="right">
     2.19
</td>
<td align="right">
   1.36
</td>
</tr>
<tr>
<td>
AMT
</td>
<td align="right">
   52.89
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.79
</td>
<td align="right">
    .14
</td>
<td align="right">
    .52
</td>
<td align="right">
    31
</td>
<td align="right">
    16.04
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   45.72
</td>
<td align="right">
  .76
</td>
<td align="right">
   -2.76
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.74
</td>
<td align="right">
    15
</td>
<td align="right">
   -11.03
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   11.84
</td>
<td align="right">
  .71
</td>
<td align="right">
    1.08
</td>
<td align="right">
    .03
</td>
<td align="right">
    .10
</td>
<td align="right">
    55
</td>
<td align="right">
     5.42
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.93
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.22
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.07
</td>
<td align="right">
    44
</td>
<td align="right">
    -3.25
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   30.68
</td>
<td align="right">
  .64
</td>
<td align="right">
     .62
</td>
<td align="right">
    .12
</td>
<td align="right">
    .29
</td>
<td align="right">
    10
</td>
<td align="right">
     2.92
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  138.72
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.60
</td>
<td align="right">
    .05
</td>
<td align="right">
  -2.37
</td>
<td align="right">
    72
</td>
<td align="right">
  -170.60
</td>
<td align="right">
   1.48
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   44.01
</td>
<td align="right">
  .79
</td>
<td align="right">
    1.46
</td>
<td align="right">
    .22
</td>
<td align="right">
    .16
</td>
<td align="right">
    21
</td>
<td align="right">
     3.37
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  234.71
</td>
<td align="right">
  .56
</td>
<td align="right">
  153.00
</td>
<td align="right">
  -1.68
</td>
<td align="right">
   1.53
</td>
<td align="right">
     1
</td>
<td align="right">
     1.53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   71.33
</td>
<td align="right">
  .58
</td>
<td align="right">
    8.00
</td>
<td align="right">
    .17
</td>
<td align="right">
    .08
</td>
<td align="right">
     1
</td>
<td align="right">
      .08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  134.57
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.41
</td>
<td align="right">
    .09
</td>
<td align="right">
  -1.33
</td>
<td align="right">
     4
</td>
<td align="right">
    -5.30
</td>
<td align="right">
   3.23
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   17.46
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.05
</td>
<td align="right">
    .04
</td>
<td align="right">
    .16
</td>
<td align="right">
    50
</td>
<td align="right">
     8.15
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   77.44
</td>
<td align="right">
  .56
</td>
<td align="right">
   -6.48
</td>
<td align="right">
    .41
</td>
<td align="right">
   -.51
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.04
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   34.37
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.78
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.17
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.34
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   41.47
</td>
<td align="right">
  .68
</td>
<td align="right">
     .14
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .06
</td>
<td align="right">
    27
</td>
<td align="right">
     1.66
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   39.90
</td>
<td align="right">
  .81
</td>
<td align="right">
     .08
</td>
<td align="right">
    .02
</td>
<td align="right">
    .08
</td>
<td align="right">
    61
</td>
<td align="right">
     4.62
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   48.50
</td>
<td align="right">
  .62
</td>
<td align="right">
   44.24
</td>
<td align="right">
    .54
</td>
<td align="right">
   1.11
</td>
<td align="right">
     3
</td>
<td align="right">
     3.34
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   33.83
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.38
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.59
</td>
<td align="right">
     7
</td>
<td align="right">
    -4.10
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   59.22
</td>
<td align="right">
  .64
</td>
<td align="right">
     .50
</td>
<td align="right">
    .12
</td>
<td align="right">
    .28
</td>
<td align="right">
     8
</td>
<td align="right">
     2.21
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   72.52
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.12
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.12
</td>
<td align="right">
    32
</td>
<td align="right">
    -3.81
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.91
</td>
<td align="right">
  .71
</td>
<td align="right">
     .86
</td>
<td align="right">
    .06
</td>
<td align="right">
    .19
</td>
<td align="right">
    55
</td>
<td align="right">
    10.47
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   43.43
</td>
<td align="right">
  .64
</td>
<td align="right">
     .56
</td>
<td align="right">
    .00
</td>
<td align="right">
    .18
</td>
<td align="right">
    49
</td>
<td align="right">
     8.75
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   55.71
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.70
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.69
</td>
<td align="right">
    69
</td>
<td align="right">
   -47.77
</td>
<td align="right">
    .99
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   15.99
</td>
<td align="right">
  .57
</td>
<td align="right">
   -2.12
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.11
</td>
<td align="right">
     2
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   49.84
</td>
<td align="right">
  .66
</td>
<td align="right">
   -3.48
</td>
<td align="right">
    .08
</td>
<td align="right">
  -1.15
</td>
<td align="right">
    13
</td>
<td align="right">
   -14.98
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   41.01
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.36
</td>
<td align="right">
    .10
</td>
<td align="right">
    .34
</td>
<td align="right">
     3
</td>
<td align="right">
     1.01
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  145.62
</td>
<td align="right">
  .60
</td>
<td align="right">
     .21
</td>
<td align="right">
    .24
</td>
<td align="right">
    .14
</td>
<td align="right">
    30
</td>
<td align="right">
     4.20
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  541.54
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.66
</td>
<td align="right">
  -2.37
</td>
<td align="right">
  -5.48
</td>
<td align="right">
     5
</td>
<td align="right">
   -27.38
</td>
<td align="right">
   3.29
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   36.98
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.38
</td>
<td align="right">
    .04
</td>
<td align="right">
    .18
</td>
<td align="right">
    43
</td>
<td align="right">
     7.86
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
   13.05
</td>
<td align="right">
  .60
</td>
<td align="right">
    6.57
</td>
<td align="right">
    .02
</td>
<td align="right">
    .32
</td>
<td align="right">
     2
</td>
<td align="right">
      .65
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   41.20
</td>
<td align="right">
  .61
</td>
<td align="right">
   -2.70
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.48
</td>
<td align="right">
    13
</td>
<td align="right">
    -6.25
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   19.97
</td>
<td align="right">
  .73
</td>
<td align="right">
    1.11
</td>
<td align="right">
    .10
</td>
<td align="right">
    .14
</td>
<td align="right">
    35
</td>
<td align="right">
     4.80
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   61.18
</td>
<td align="right">
  .68
</td>
<td align="right">
     .37
</td>
<td align="right">
    .06
</td>
<td align="right">
    .31
</td>
<td align="right">
    29
</td>
<td align="right">
     8.97
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
JCP
</td>
<td align="right">
   37.61
</td>
<td align="right">
  .62
</td>
<td align="right">
     .62
</td>
<td align="right">
    .04
</td>
<td align="right">
    .35
</td>
<td align="right">
   252
</td>
<td align="right">
    88.37
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   43.22
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.24
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.20
</td>
<td align="right">
    92
</td>
<td align="right">
   -18.01
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  278.58
</td>
<td align="right">
  .63
</td>
<td align="right">
     .94
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.99
</td>
<td align="right">
    67
</td>
<td align="right">
   133.43
</td>
<td align="right">
   2.12
</td>
</tr>
<tr>
<td>
MAR
</td>
<td align="right">
   36.37
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.16
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.21
</td>
<td align="right">
    13
</td>
<td align="right">
    -2.67
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   42.45
</td>
<td align="right">
  .58
</td>
<td align="right">
  -31.11
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.44
</td>
<td align="right">
     2
</td>
<td align="right">
     -.88
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   44.77
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.39
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.05
</td>
<td align="right">
     8
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   66.63
</td>
<td align="right">
  .56
</td>
<td align="right">
   18.93
</td>
<td align="right">
   -.41
</td>
<td align="right">
   1.21
</td>
<td align="right">
     2
</td>
<td align="right">
     2.41
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   63.94
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.08
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.30
</td>
<td align="right">
    18
</td>
<td align="right">
    -5.43
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   70.64
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.38
</td>
<td align="right">
    .15
</td>
<td align="right">
  -1.63
</td>
<td align="right">
     4
</td>
<td align="right">
    -6.50
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   36.56
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.38
</td>
<td align="right">
    .03
</td>
<td align="right">
    .16
</td>
<td align="right">
    21
</td>
<td align="right">
     3.36
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.10
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.30
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.26
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.80
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.58
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.20
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.38
</td>
<td align="right">
    12
</td>
<td align="right">
    -4.50
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   19.72
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.53
</td>
<td align="right">
    .01
</td>
<td align="right">
    .36
</td>
<td align="right">
    45
</td>
<td align="right">
    16.03
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  147.56
</td>
<td align="right">
  .61
</td>
<td align="right">
     .15
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .28
</td>
<td align="right">
    68
</td>
<td align="right">
    18.99
</td>
<td align="right">
   1.87
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   70.36
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.00
</td>
<td align="right">
    .24
</td>
<td align="right">
    .57
</td>
<td align="right">
    16
</td>
<td align="right">
     9.14
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   63.56
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.01
</td>
<td align="right">
    11
</td>
<td align="right">
     -.09
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   58.59
</td>
<td align="right">
  .58
</td>
<td align="right">
     .30
</td>
<td align="right">
    .12
</td>
<td align="right">
    .19
</td>
<td align="right">
     4
</td>
<td align="right">
      .74
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   36.17
</td>
<td align="right">
  .75
</td>
<td align="right">
    -.52
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.16
</td>
<td align="right">
    63
</td>
<td align="right">
   -10.11
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   34.32
</td>
<td align="right">
  .62
</td>
<td align="right">
     .02
</td>
<td align="right">
   -.25
</td>
<td align="right">
    .02
</td>
<td align="right">
    16
</td>
<td align="right">
      .29
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   47.54
</td>
<td align="right">
  .58
</td>
<td align="right">
    4.53
</td>
<td align="right">
    .13
</td>
<td align="right">
    .96
</td>
<td align="right">
     2
</td>
<td align="right">
     1.92
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   94.21
</td>
<td align="right">
  .79
</td>
<td align="right">
   -1.23
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -3.08
</td>
<td align="right">
   137
</td>
<td align="right">
  -421.57
</td>
<td align="right">
   2.49
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   10.43
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.49
</td>
<td align="right">
    .09
</td>
<td align="right">
    .25
</td>
<td align="right">
    15
</td>
<td align="right">
     3.71
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   31.30
</td>
<td align="right">
  .63
</td>
<td align="right">
     .26
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .07
</td>
<td align="right">
     3
</td>
<td align="right">
      .20
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   51.61
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.18
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.39
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.18
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   94.78
</td>
<td align="right">
  .63
</td>
<td align="right">
     .12
</td>
<td align="right">
    .05
</td>
<td align="right">
    .07
</td>
<td align="right">
     9
</td>
<td align="right">
      .63
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   35.33
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.87
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.31
</td>
<td align="right">
    48
</td>
<td align="right">
   -14.87
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   79.50
</td>
<td align="right">
  .75
</td>
<td align="right">
    4.63
</td>
<td align="right">
    .12
</td>
<td align="right">
    .76
</td>
<td align="right">
    57
</td>
<td align="right">
    43.15
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   30.35
</td>
<td align="right">
  .62
</td>
<td align="right">
  -51.00
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.51
</td>
<td align="right">
     1
</td>
<td align="right">
     -.51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   37.17
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.72
</td>
<td align="right">
    .03
</td>
<td align="right">
    .26
</td>
<td align="right">
    73
</td>
<td align="right">
    19.05
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   62.32
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.06
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.64
</td>
<td align="right">
    42
</td>
<td align="right">
   -27.00
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   55.15
</td>
<td align="right">
  .71
</td>
<td align="right">
    2.18
</td>
<td align="right">
    .13
</td>
<td align="right">
    .38
</td>
<td align="right">
    39
</td>
<td align="right">
    14.79
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  144.62
</td>
<td align="right">
  .60
</td>
<td align="right">
  225.00
</td>
<td align="right">
   1.11
</td>
<td align="right">
   2.25
</td>
<td align="right">
     1
</td>
<td align="right">
     2.25
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   73.82
</td>
<td align="right">
  .57
</td>
<td align="right">
     .44
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .19
</td>
<td align="right">
    24
</td>
<td align="right">
     4.60
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   81.18
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.72
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.53
</td>
<td align="right">
     9
</td>
<td align="right">
    -4.79
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1989
</td>
<td align="right">
  -357.10
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
