<h4>Week of: 2011_10_31</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   23.29
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .49
</td>
<td align="right">
    .19
</td>
<td align="right">
    .51
</td>
<td align="right">
    44
</td>
<td align="right">
    22.42
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   45.65
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -25.00
</td>
<td align="right">
    .37
</td>
<td align="right">
   -.25
</td>
<td align="right">
     1
</td>
<td align="right">
     -.25
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  141.37
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -6.28
</td>
<td align="right">
   -.80
</td>
<td align="right">
  -5.99
</td>
<td align="right">
    39
</td>
<td align="right">
  -233.53
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   28.94
</td>
<td align="right">
 -.69
</td>
<td align="right">
   85.00
</td>
<td align="right">
   1.29
</td>
<td align="right">
    .85
</td>
<td align="right">
     1
</td>
<td align="right">
      .85
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   46.26
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -11.12
</td>
<td align="right">
   -.52
</td>
<td align="right">
  -1.96
</td>
<td align="right">
    17
</td>
<td align="right">
   -33.28
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   44.86
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .69
</td>
<td align="right">
    .12
</td>
<td align="right">
    .49
</td>
<td align="right">
     2
</td>
<td align="right">
      .98
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   36.88
</td>
<td align="right">
 -.67
</td>
<td align="right">
  297.00
</td>
<td align="right">
   1.89
</td>
<td align="right">
   2.97
</td>
<td align="right">
     1
</td>
<td align="right">
     2.97
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  104.87
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.54
</td>
<td align="right">
  -2.17
</td>
<td align="right">
  -4.31
</td>
<td align="right">
    15
</td>
<td align="right">
   -64.69
</td>
<td align="right">
   1.22
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   47.38
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.17
</td>
<td align="right">
    .17
</td>
<td align="right">
   -.11
</td>
<td align="right">
    18
</td>
<td align="right">
    -2.03
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  580.76
</td>
<td align="right">
 -.56
</td>
<td align="right">
  556.00
</td>
<td align="right">
   2.03
</td>
<td align="right">
   5.56
</td>
<td align="right">
     1
</td>
<td align="right">
     5.56
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  111.53
</td>
<td align="right">
 -.81
</td>
<td align="right">
   -5.91
</td>
<td align="right">
  -1.26
</td>
<td align="right">
  -6.61
</td>
<td align="right">
    62
</td>
<td align="right">
  -409.99
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   51.97
</td>
<td align="right">
 -.57
</td>
<td align="right">
   49.00
</td>
<td align="right">
   -.64
</td>
<td align="right">
    .49
</td>
<td align="right">
     1
</td>
<td align="right">
      .49
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   32.78
</td>
<td align="right">
 -.57
</td>
<td align="right">
   49.00
</td>
<td align="right">
    .22
</td>
<td align="right">
    .49
</td>
<td align="right">
     1
</td>
<td align="right">
      .49
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   33.32
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.88
</td>
<td align="right">
    .17
</td>
<td align="right">
    .90
</td>
<td align="right">
    24
</td>
<td align="right">
    21.70
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.90
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -8.05
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.77
</td>
<td align="right">
    17
</td>
<td align="right">
   -13.09
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   37.26
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.87
</td>
<td align="right">
    .12
</td>
<td align="right">
    .69
</td>
<td align="right">
    11
</td>
<td align="right">
     7.57
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  125.11
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.15
</td>
<td align="right">
    .50
</td>
<td align="right">
   -.91
</td>
<td align="right">
    26
</td>
<td align="right">
   -23.69
</td>
<td align="right">
   5.93
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   52.87
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -283.00
</td>
<td align="right">
   -.69
</td>
<td align="right">
  -2.83
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.83
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   59.50
</td>
<td align="right">
 -.57
</td>
<td align="right">
  112.00
</td>
<td align="right">
   1.42
</td>
<td align="right">
   1.12
</td>
<td align="right">
     1
</td>
<td align="right">
     1.12
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    9.35
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -2.73
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.50
</td>
<td align="right">
    47
</td>
<td align="right">
   -23.29
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   24.68
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.03
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.54
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.24
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   96.79
</td>
<td align="right">
 -.62
</td>
<td align="right">
    5.00
</td>
<td align="right">
    .09
</td>
<td align="right">
    .05
</td>
<td align="right">
     1
</td>
<td align="right">
      .05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   56.52
</td>
<td align="right">
 -.61
</td>
<td align="right">
    5.52
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .59
</td>
<td align="right">
     2
</td>
<td align="right">
     1.17
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   339
</td>
<td align="right">
  -744.54
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   48.43
</td>
<td align="right">
  .61
</td>
<td align="right">
   25.26
</td>
<td align="right">
    .10
</td>
<td align="right">
   2.33
</td>
<td align="right">
     4
</td>
<td align="right">
     9.31
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   24.78
</td>
<td align="right">
  .56
</td>
<td align="right">
   -4.10
</td>
<td align="right">
   -.04
</td>
<td align="right">
  -2.03
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.06
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   81.36
</td>
<td align="right">
  .57
</td>
<td align="right">
 -588.00
</td>
<td align="right">
   -.67
</td>
<td align="right">
  -5.88
</td>
<td align="right">
     1
</td>
<td align="right">
    -5.88
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   29.31
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.55
</td>
<td align="right">
    .25
</td>
<td align="right">
    .52
</td>
<td align="right">
     4
</td>
<td align="right">
     2.07
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   65.14
</td>
<td align="right">
  .56
</td>
<td align="right">
 -152.00
</td>
<td align="right">
  -1.93
</td>
<td align="right">
  -1.52
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  117.09
</td>
<td align="right">
  .67
</td>
<td align="right">
  122.00
</td>
<td align="right">
   -.54
</td>
<td align="right">
   1.22
</td>
<td align="right">
     1
</td>
<td align="right">
     1.22
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   64.72
</td>
<td align="right">
  .58
</td>
<td align="right">
  -11.29
</td>
<td align="right">
  -2.97
</td>
<td align="right">
  -3.15
</td>
<td align="right">
     3
</td>
<td align="right">
    -9.46
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   58.25
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.75
</td>
<td align="right">
    .66
</td>
<td align="right">
   1.50
</td>
<td align="right">
     5
</td>
<td align="right">
     7.48
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   49.07
</td>
<td align="right">
  .55
</td>
<td align="right">
  106.00
</td>
<td align="right">
    .09
</td>
<td align="right">
   1.06
</td>
<td align="right">
     1
</td>
<td align="right">
     1.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  594.39
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.68
</td>
<td align="right">
    .40
</td>
<td align="right">
 -12.10
</td>
<td align="right">
     6
</td>
<td align="right">
   -72.58
</td>
<td align="right">
   7.18
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  105.41
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.07
</td>
<td align="right">
   -.65
</td>
<td align="right">
    .93
</td>
<td align="right">
     5
</td>
<td align="right">
     4.65
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   25.72
</td>
<td align="right">
  .68
</td>
<td align="right">
   53.00
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .53
</td>
<td align="right">
     1
</td>
<td align="right">
      .53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   47.95
</td>
<td align="right">
  .59
</td>
<td align="right">
  -11.22
</td>
<td align="right">
  -2.53
</td>
<td align="right">
  -1.66
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.98
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   72.91
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.41
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.93
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.85
</td>
<td align="right">
   2.24
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   56.25
</td>
<td align="right">
  .66
</td>
<td align="right">
   11.00
</td>
<td align="right">
    .24
</td>
<td align="right">
    .11
</td>
<td align="right">
     1
</td>
<td align="right">
      .11
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .66
</td>
<td align="right">
   -7.53
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.51
</td>
<td align="right">
    21
</td>
<td align="right">
   -10.73
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.87
</td>
<td align="right">
  .56
</td>
<td align="right">
   -4.33
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.71
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.41
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.12
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.57
</td>
<td align="right">
    .11
</td>
<td align="right">
    .61
</td>
<td align="right">
    29
</td>
<td align="right">
    17.61
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   38.31
</td>
<td align="right">
  .56
</td>
<td align="right">
 -181.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -1.81
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.08
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.83
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.33
</td>
<td align="right">
    16
</td>
<td align="right">
    -5.21
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   27.16
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.62
</td>
<td align="right">
    .30
</td>
<td align="right">
   1.30
</td>
<td align="right">
     3
</td>
<td align="right">
     3.90
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   14.29
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.70
</td>
<td align="right">
    .07
</td>
<td align="right">
    .26
</td>
<td align="right">
    50
</td>
<td align="right">
    12.91
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   33.60
</td>
<td align="right">
  .73
</td>
<td align="right">
    2.34
</td>
<td align="right">
    .46
</td>
<td align="right">
   1.24
</td>
<td align="right">
    23
</td>
<td align="right">
    28.54
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    8.89
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.12
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.02
</td>
<td align="right">
     8
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   51.87
</td>
<td align="right">
  .66
</td>
<td align="right">
    5.70
</td>
<td align="right">
    .14
</td>
<td align="right">
   1.87
</td>
<td align="right">
     7
</td>
<td align="right">
    13.07
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   43.05
</td>
<td align="right">
  .65
</td>
<td align="right">
  -43.80
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -1.82
</td>
<td align="right">
     3
</td>
<td align="right">
    -5.47
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   47.61
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.08
</td>
<td align="right">
    .00
</td>
<td align="right">
  -1.06
</td>
<td align="right">
     7
</td>
<td align="right">
    -7.41
</td>
<td align="right">
    .98
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   90.99
</td>
<td align="right">
  .58
</td>
<td align="right">
    5.45
</td>
<td align="right">
   -.41
</td>
<td align="right">
   1.62
</td>
<td align="right">
     2
</td>
<td align="right">
     3.24
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   24.58
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.32
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .44
</td>
<td align="right">
     6
</td>
<td align="right">
     2.64
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   218
</td>
<td align="right">
   -24.17
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
