<h4>Week of: 2011_07_25</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   49.40
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -11.31
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.48
</td>
<td align="right">
     2
</td>
<td align="right">
     -.96
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   40.77
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.34
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.09
</td>
<td align="right">
    25
</td>
<td align="right">
    -2.30
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    27
</td>
<td align="right">
    -3.26
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   60.82
</td>
<td align="right">
  .68
</td>
<td align="right">
   -3.19
</td>
<td align="right">
    .04
</td>
<td align="right">
  -1.10
</td>
<td align="right">
    28
</td>
<td align="right">
   -30.82
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  126.02
</td>
<td align="right">
  .60
</td>
<td align="right">
   -9.65
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.94
</td>
<td align="right">
    22
</td>
<td align="right">
   -20.64
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   42.81
</td>
<td align="right">
  .63
</td>
<td align="right">
   -3.31
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.24
</td>
<td align="right">
     4
</td>
<td align="right">
     -.96
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   62.15
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.84
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.23
</td>
<td align="right">
    17
</td>
<td align="right">
    -3.97
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   38.43
</td>
<td align="right">
  .59
</td>
<td align="right">
     .20
</td>
<td align="right">
    .33
</td>
<td align="right">
    .01
</td>
<td align="right">
     5
</td>
<td align="right">
      .06
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   59.24
</td>
<td align="right">
  .63
</td>
<td align="right">
   25.06
</td>
<td align="right">
    .20
</td>
<td align="right">
    .34
</td>
<td align="right">
     2
</td>
<td align="right">
      .68
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    78
</td>
<td align="right">
   -55.65
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
