<h4>Week of: 2011_08_01</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   49.08
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -43.00
</td>
<td align="right">
   1.18
</td>
<td align="right">
   -.43
</td>
<td align="right">
     1
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   85.06
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.47
</td>
<td align="right">
  -1.04
</td>
<td align="right">
  -2.76
</td>
<td align="right">
     5
</td>
<td align="right">
   -13.82
</td>
<td align="right">
   1.87
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   23.16
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.21
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .36
</td>
<td align="right">
     2
</td>
<td align="right">
      .72
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   53.84
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -52.00
</td>
<td align="right">
    .37
</td>
<td align="right">
   -.52
</td>
<td align="right">
     1
</td>
<td align="right">
     -.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ARG
</td>
<td align="right">
   63.23
</td>
<td align="right">
 -.58
</td>
<td align="right">
 -456.00
</td>
<td align="right">
  -1.23
</td>
<td align="right">
  -4.56
</td>
<td align="right">
     1
</td>
<td align="right">
    -4.56
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   47.33
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.67
</td>
<td align="right">
    .04
</td>
<td align="right">
  -1.19
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.37
</td>
<td align="right">
   1.77
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.58
</td>
<td align="right">
 -.87
</td>
<td align="right">
    1.56
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .09
</td>
<td align="right">
    26
</td>
<td align="right">
     2.24
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  125.60
</td>
<td align="right">
 -.66
</td>
<td align="right">
 -263.00
</td>
<td align="right">
   -.48
</td>
<td align="right">
  -2.63
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.63
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  223.37
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -5.96
</td>
<td align="right">
   -.78
</td>
<td align="right">
  -8.52
</td>
<td align="right">
     8
</td>
<td align="right">
   -68.17
</td>
<td align="right">
   1.43
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  312.49
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -4.15
</td>
<td align="right">
  -2.14
</td>
<td align="right">
 -13.63
</td>
<td align="right">
    34
</td>
<td align="right">
  -463.26
</td>
<td align="right">
   3.28
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   44.38
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.23
</td>
<td align="right">
   -.25
</td>
<td align="right">
  -1.79
</td>
<td align="right">
    82
</td>
<td align="right">
  -146.45
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   33.12
</td>
<td align="right">
 -.76
</td>
<td align="right">
   -1.92
</td>
<td align="right">
   -.17
</td>
<td align="right">
  -1.19
</td>
<td align="right">
    60
</td>
<td align="right">
   -71.17
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.37
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -5.11
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.33
</td>
<td align="right">
     2
</td>
<td align="right">
     -.65
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   69.06
</td>
<td align="right">
 -.69
</td>
<td align="right">
 -340.00
</td>
<td align="right">
  -1.64
</td>
<td align="right">
  -3.40
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   37.56
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -3.35
</td>
<td align="right">
   -.15
</td>
<td align="right">
  -1.27
</td>
<td align="right">
    31
</td>
<td align="right">
   -39.22
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   34.53
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -3.16
</td>
<td align="right">
   -.40
</td>
<td align="right">
  -1.19
</td>
<td align="right">
     6
</td>
<td align="right">
    -7.14
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   48.57
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.97
</td>
<td align="right">
   -.77
</td>
<td align="right">
  -2.61
</td>
<td align="right">
     9
</td>
<td align="right">
   -23.53
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   78.21
</td>
<td align="right">
 -.69
</td>
<td align="right">
 -262.00
</td>
<td align="right">
   -.46
</td>
<td align="right">
  -2.62
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.62
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   34.89
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -116.00
</td>
<td align="right">
   -.45
</td>
<td align="right">
  -1.16
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   37.03
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -4.88
</td>
<td align="right">
   -.69
</td>
<td align="right">
  -2.80
</td>
<td align="right">
     2
</td>
<td align="right">
    -5.59
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.48
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -1.65
</td>
<td align="right">
   -.12
</td>
<td align="right">
  -1.68
</td>
<td align="right">
    85
</td>
<td align="right">
  -142.79
</td>
<td align="right">
   1.02
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
   98.34
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -3.25
</td>
<td align="right">
  -1.18
</td>
<td align="right">
  -5.77
</td>
<td align="right">
     4
</td>
<td align="right">
   -23.08
</td>
<td align="right">
   1.77
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   62.36
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -7.44
</td>
<td align="right">
  -1.04
</td>
<td align="right">
  -5.21
</td>
<td align="right">
     2
</td>
<td align="right">
   -10.41
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.11
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.26
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.29
</td>
<td align="right">
    64
</td>
<td align="right">
   -18.61
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   82.80
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -470.00
</td>
<td align="right">
   -.72
</td>
<td align="right">
  -4.70
</td>
<td align="right">
     1
</td>
<td align="right">
    -4.70
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  116.64
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.56
</td>
<td align="right">
  -2.14
</td>
<td align="right">
  -5.12
</td>
<td align="right">
    21
</td>
<td align="right">
  -107.48
</td>
<td align="right">
   2.00
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   37.94
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -3.26
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.95
</td>
<td align="right">
    50
</td>
<td align="right">
   -47.29
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  598.23
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.51
</td>
<td align="right">
  -1.81
</td>
<td align="right">
  -4.01
</td>
<td align="right">
    29
</td>
<td align="right">
  -116.33
</td>
<td align="right">
   7.81
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   59.60
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -7.15
</td>
<td align="right">
  -2.54
</td>
<td align="right">
  -5.08
</td>
<td align="right">
     6
</td>
<td align="right">
   -30.46
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   21.90
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.67
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.39
</td>
<td align="right">
    63
</td>
<td align="right">
   -24.58
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   63.35
</td>
<td align="right">
 -.65
</td>
<td align="right">
    3.36
</td>
<td align="right">
   -.90
</td>
<td align="right">
    .55
</td>
<td align="right">
     6
</td>
<td align="right">
     3.32
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   76.70
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.44
</td>
<td align="right">
   -.29
</td>
<td align="right">
  -3.06
</td>
<td align="right">
    43
</td>
<td align="right">
  -131.44
</td>
<td align="right">
   1.25
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   80.46
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -17.11
</td>
<td align="right">
  -1.12
</td>
<td align="right">
  -7.04
</td>
<td align="right">
     3
</td>
<td align="right">
   -21.12
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   72.61
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.60
</td>
<td align="right">
    .68
</td>
<td align="right">
   -.61
</td>
<td align="right">
    10
</td>
<td align="right">
    -6.10
</td>
<td align="right">
   1.02
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   45.36
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -4.80
</td>
<td align="right">
   -.87
</td>
<td align="right">
  -3.45
</td>
<td align="right">
     6
</td>
<td align="right">
   -20.67
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  304.96
</td>
<td align="right">
 -.61
</td>
<td align="right">
    7.45
</td>
<td align="right">
   -.44
</td>
<td align="right">
  19.80
</td>
<td align="right">
    13
</td>
<td align="right">
   257.41
</td>
<td align="right">
   2.66
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   69.52
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -117.00
</td>
<td align="right">
   -.51
</td>
<td align="right">
  -1.17
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   84.34
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.68
</td>
<td align="right">
  -1.68
</td>
<td align="right">
  -2.04
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.08
</td>
<td align="right">
   3.01
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   70.48
</td>
<td align="right">
 -.67
</td>
<td align="right">
 -310.00
</td>
<td align="right">
   -.30
</td>
<td align="right">
  -3.10
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.10
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   32.50
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.54
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.40
</td>
<td align="right">
    16
</td>
<td align="right">
    -6.47
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.96
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.34
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.76
</td>
<td align="right">
    40
</td>
<td align="right">
   -30.33
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.05
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.24
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.54
</td>
<td align="right">
    31
</td>
<td align="right">
   -16.73
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.36
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.48
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.68
</td>
<td align="right">
    14
</td>
<td align="right">
    -9.48
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  146.62
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.73
</td>
<td align="right">
  -1.05
</td>
<td align="right">
  -7.13
</td>
<td align="right">
    93
</td>
<td align="right">
  -662.79
</td>
<td align="right">
   4.13
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   60.23
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .60
</td>
<td align="right">
    .25
</td>
<td align="right">
    .54
</td>
<td align="right">
    16
</td>
<td align="right">
     8.65
</td>
<td align="right">
    .90
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   68.29
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .12
</td>
<td align="right">
    .08
</td>
<td align="right">
    .16
</td>
<td align="right">
    12
</td>
<td align="right">
     1.96
</td>
<td align="right">
   1.42
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   51.20
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -3.50
</td>
<td align="right">
   -.05
</td>
<td align="right">
  -3.03
</td>
<td align="right">
     3
</td>
<td align="right">
    -9.09
</td>
<td align="right">
    .87
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   57.53
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.52
</td>
<td align="right">
   -.54
</td>
<td align="right">
  -1.26
</td>
<td align="right">
    15
</td>
<td align="right">
   -18.88
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   53.90
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.73
</td>
<td align="right">
   -.12
</td>
<td align="right">
  -3.82
</td>
<td align="right">
     7
</td>
<td align="right">
   -26.73
</td>
<td align="right">
   1.40
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   54.89
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -4.56
</td>
<td align="right">
   -.75
</td>
<td align="right">
  -1.20
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.80
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   56.59
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.41
</td>
<td align="right">
   -.34
</td>
<td align="right">
  -1.03
</td>
<td align="right">
    23
</td>
<td align="right">
   -23.70
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   34.19
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -81.00
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.81
</td>
<td align="right">
     1
</td>
<td align="right">
     -.81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   90.56
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.85
</td>
<td align="right">
  -1.02
</td>
<td align="right">
  -5.07
</td>
<td align="right">
    16
</td>
<td align="right">
   -81.16
</td>
<td align="right">
   1.32
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   15.85
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.01
</td>
<td align="right">
     4
</td>
<td align="right">
     -.04
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   34.99
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.29
</td>
<td align="right">
   -.42
</td>
<td align="right">
  -1.29
</td>
<td align="right">
    49
</td>
<td align="right">
   -63.29
</td>
<td align="right">
   1.00
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   75.34
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.63
</td>
<td align="right">
  -1.02
</td>
<td align="right">
  -3.17
</td>
<td align="right">
    37
</td>
<td align="right">
  -117.46
</td>
<td align="right">
   1.95
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   38.51
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.84
</td>
<td align="right">
   -.13
</td>
<td align="right">
  -2.01
</td>
<td align="right">
    10
</td>
<td align="right">
   -20.09
</td>
<td align="right">
   1.09
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    9.51
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.29
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.71
</td>
<td align="right">
    78
</td>
<td align="right">
   -55.03
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   14.90
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.87
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.44
</td>
<td align="right">
    20
</td>
<td align="right">
    -8.81
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   41.61
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -110.00
</td>
<td align="right">
    .21
</td>
<td align="right">
  -1.10
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.10
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   51.16
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.94
</td>
<td align="right">
   -.59
</td>
<td align="right">
  -1.68
</td>
<td align="right">
     7
</td>
<td align="right">
   -11.73
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   40.41
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.11
</td>
<td align="right">
   -.33
</td>
<td align="right">
  -1.82
</td>
<td align="right">
    10
</td>
<td align="right">
   -18.15
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   64.99
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.69
</td>
<td align="right">
   -.72
</td>
<td align="right">
  -4.80
</td>
<td align="right">
    15
</td>
<td align="right">
   -71.96
</td>
<td align="right">
   2.84
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   46.50
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.30
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.84
</td>
<td align="right">
    80
</td>
<td align="right">
   -67.16
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   66.90
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -132.00
</td>
<td align="right">
    .34
</td>
<td align="right">
  -1.32
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.32
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   25.13
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -18.00
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.18
</td>
<td align="right">
     1
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   63.74
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -281.00
</td>
<td align="right">
   -.34
</td>
<td align="right">
  -2.81
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   66.39
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -4.19
</td>
<td align="right">
  -1.11
</td>
<td align="right">
  -5.64
</td>
<td align="right">
    13
</td>
<td align="right">
   -73.34
</td>
<td align="right">
   1.35
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  143.85
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.05
</td>
<td align="right">
   -.45
</td>
<td align="right">
  -3.51
</td>
<td align="right">
    18
</td>
<td align="right">
   -63.22
</td>
<td align="right">
   3.36
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   72.24
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.65
</td>
<td align="right">
   -.56
</td>
<td align="right">
  -3.81
</td>
<td align="right">
     2
</td>
<td align="right">
    -7.61
</td>
<td align="right">
   1.44
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   33.07
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -9.66
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.41
</td>
<td align="right">
     2
</td>
<td align="right">
     -.82
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1326
</td>
<td align="right">
 -2770.89
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   45.80
</td>
<td align="right">
  .71
</td>
<td align="right">
    8.09
</td>
<td align="right">
    .43
</td>
<td align="right">
    .52
</td>
<td align="right">
     2
</td>
<td align="right">
     1.03
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   79.72
</td>
<td align="right">
  .56
</td>
<td align="right">
 -283.00
</td>
<td align="right">
   2.45
</td>
<td align="right">
  -2.83
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.83
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   23.59
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.21
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.33
</td>
<td align="right">
   114
</td>
<td align="right">
   -37.65
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   52.88
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.35
</td>
<td align="right">
    .22
</td>
<td align="right">
    .32
</td>
<td align="right">
    27
</td>
<td align="right">
     8.67
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  208.85
</td>
<td align="right">
  .56
</td>
<td align="right">
 -284.00
</td>
<td align="right">
   1.05
</td>
<td align="right">
  -2.84
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.96
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.77
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.20
</td>
<td align="right">
    10
</td>
<td align="right">
    -2.00
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   25.08
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.39
</td>
<td align="right">
   -.32
</td>
<td align="right">
   -.74
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.47
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   27.69
</td>
<td align="right">
  .56
</td>
<td align="right">
  -84.00
</td>
<td align="right">
   -.61
</td>
<td align="right">
   -.84
</td>
<td align="right">
     1
</td>
<td align="right">
     -.84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  214.03
</td>
<td align="right">
  .57
</td>
<td align="right">
 -754.00
</td>
<td align="right">
   1.23
</td>
<td align="right">
  -7.54
</td>
<td align="right">
     1
</td>
<td align="right">
    -7.54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   30.78
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.70
</td>
<td align="right">
   -.64
</td>
<td align="right">
  -2.22
</td>
<td align="right">
    10
</td>
<td align="right">
   -22.15
</td>
<td align="right">
    .82
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  322.50
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.48
</td>
<td align="right">
   -.45
</td>
<td align="right">
  -3.68
</td>
<td align="right">
    42
</td>
<td align="right">
  -154.74
</td>
<td align="right">
   7.69
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   45.43
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.49
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.82
</td>
<td align="right">
    16
</td>
<td align="right">
   -13.18
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   32.49
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.01
</td>
<td align="right">
    .21
</td>
<td align="right">
   -.60
</td>
<td align="right">
    22
</td>
<td align="right">
   -13.20
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  119.54
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.13
</td>
<td align="right">
    .01
</td>
<td align="right">
  -1.21
</td>
<td align="right">
   111
</td>
<td align="right">
  -133.81
</td>
<td align="right">
   1.07
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   35.86
</td>
<td align="right">
  .63
</td>
<td align="right">
   -3.09
</td>
<td align="right">
   -.17
</td>
<td align="right">
  -1.22
</td>
<td align="right">
    10
</td>
<td align="right">
   -12.22
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   57.25
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.81
</td>
<td align="right">
   -.32
</td>
<td align="right">
  -1.20
</td>
<td align="right">
    10
</td>
<td align="right">
   -12.03
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   91.03
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.38
</td>
<td align="right">
   -.69
</td>
<td align="right">
  -1.09
</td>
<td align="right">
    23
</td>
<td align="right">
   -25.13
</td>
<td align="right">
   2.90
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  109.03
</td>
<td align="right">
  .60
</td>
<td align="right">
   -5.59
</td>
<td align="right">
    .16
</td>
<td align="right">
  -2.72
</td>
<td align="right">
     3
</td>
<td align="right">
    -8.16
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   38.49
</td>
<td align="right">
  .64
</td>
<td align="right">
   -3.89
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.01
</td>
<td align="right">
    11
</td>
<td align="right">
   -11.10
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   55.45
</td>
<td align="right">
  .66
</td>
<td align="right">
     .52
</td>
<td align="right">
    .30
</td>
<td align="right">
    .97
</td>
<td align="right">
    11
</td>
<td align="right">
    10.66
</td>
<td align="right">
   1.85
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   40.03
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.81
</td>
<td align="right">
   -.20
</td>
<td align="right">
  -1.27
</td>
<td align="right">
    11
</td>
<td align="right">
   -13.93
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  578.90
</td>
<td align="right">
  .68
</td>
<td align="right">
   -2.57
</td>
<td align="right">
  -1.53
</td>
<td align="right">
 -20.92
</td>
<td align="right">
    27
</td>
<td align="right">
  -564.83
</td>
<td align="right">
   8.13
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  130.91
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.40
</td>
<td align="right">
   -.79
</td>
<td align="right">
  -3.25
</td>
<td align="right">
     9
</td>
<td align="right">
   -29.21
</td>
<td align="right">
   2.32
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   59.84
</td>
<td align="right">
  .65
</td>
<td align="right">
   -2.15
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -1.70
</td>
<td align="right">
    43
</td>
<td align="right">
   -72.98
</td>
<td align="right">
    .79
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   78.13
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.46
</td>
<td align="right">
   -.42
</td>
<td align="right">
  -1.61
</td>
<td align="right">
     9
</td>
<td align="right">
   -14.53
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   59.28
</td>
<td align="right">
  .61
</td>
<td align="right">
 -254.00
</td>
<td align="right">
   -.65
</td>
<td align="right">
  -2.54
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
KO
</td>
<td align="right">
   67.21
</td>
<td align="right">
  .56
</td>
<td align="right">
  -36.00
</td>
<td align="right">
   -.50
</td>
<td align="right">
   -.36
</td>
<td align="right">
     1
</td>
<td align="right">
     -.36
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   84.59
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.99
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.68
</td>
<td align="right">
    15
</td>
<td align="right">
   -10.16
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.85
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.73
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.45
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.78
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   28.39
</td>
<td align="right">
  .61
</td>
<td align="right">
   -5.23
</td>
<td align="right">
  -1.08
</td>
<td align="right">
  -2.20
</td>
<td align="right">
     5
</td>
<td align="right">
   -11.01
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.88
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.78
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.16
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.29
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  251.31
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.92
</td>
<td align="right">
  -1.43
</td>
<td align="right">
  -8.83
</td>
<td align="right">
    72
</td>
<td align="right">
  -635.69
</td>
<td align="right">
   4.60
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.61
</td>
<td align="right">
  .58
</td>
<td align="right">
   13.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .13
</td>
<td align="right">
     1
</td>
<td align="right">
      .13
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   81.98
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.57
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.67
</td>
<td align="right">
    18
</td>
<td align="right">
   -12.02
</td>
<td align="right">
   1.18
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   64.13
</td>
<td align="right">
  .60
</td>
<td align="right">
   63.00
</td>
<td align="right">
   -.79
</td>
<td align="right">
    .63
</td>
<td align="right">
     1
</td>
<td align="right">
      .63
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   56.02
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.51
</td>
<td align="right">
    .57
</td>
<td align="right">
  -1.69
</td>
<td align="right">
    10
</td>
<td align="right">
   -16.92
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  176.82
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.11
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -4.24
</td>
<td align="right">
    20
</td>
<td align="right">
   -84.82
</td>
<td align="right">
   2.01
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   33.99
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.50
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.21
</td>
<td align="right">
    12
</td>
<td align="right">
    -2.46
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   24.16
</td>
<td align="right">
  .57
</td>
<td align="right">
  116.00
</td>
<td align="right">
    .04
</td>
<td align="right">
   1.16
</td>
<td align="right">
     1
</td>
<td align="right">
     1.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   75.65
</td>
<td align="right">
  .57
</td>
<td align="right">
 -130.00
</td>
<td align="right">
   -.18
</td>
<td align="right">
  -1.30
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.30
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   50.95
</td>
<td align="right">
  .58
</td>
<td align="right">
   -5.75
</td>
<td align="right">
   -.34
</td>
<td align="right">
  -1.59
</td>
<td align="right">
    10
</td>
<td align="right">
   -15.92
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   42.11
</td>
<td align="right">
  .56
</td>
<td align="right">
  -41.00
</td>
<td align="right">
   -.54
</td>
<td align="right">
   -.41
</td>
<td align="right">
     1
</td>
<td align="right">
     -.41
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   96.49
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.09
</td>
<td align="right">
   -.23
</td>
<td align="right">
  -1.56
</td>
<td align="right">
    22
</td>
<td align="right">
   -34.22
</td>
<td align="right">
   1.43
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   64.77
</td>
<td align="right">
  .59
</td>
<td align="right">
 -153.00
</td>
<td align="right">
   -.34
</td>
<td align="right">
  -1.53
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   51.15
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.09
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.65
</td>
<td align="right">
    15
</td>
<td align="right">
    -9.76
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   79.20
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.60
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.16
</td>
<td align="right">
    15
</td>
<td align="right">
    -2.45
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   761
</td>
<td align="right">
 -1978.73
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
