<h4>Week of: 2011_10_03</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   50.19
</td>
<td align="right">
 -.63
</td>
<td align="right">
   79.00
</td>
<td align="right">
    .46
</td>
<td align="right">
    .79
</td>
<td align="right">
     1
</td>
<td align="right">
      .79
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   23.78
</td>
<td align="right">
 -.56
</td>
<td align="right">
   98.00
</td>
<td align="right">
    .28
</td>
<td align="right">
    .98
</td>
<td align="right">
     1
</td>
<td align="right">
      .98
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   35.64
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.26
</td>
<td align="right">
    .60
</td>
<td align="right">
   1.67
</td>
<td align="right">
     7
</td>
<td align="right">
    11.72
</td>
<td align="right">
   1.33
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   22.20
</td>
<td align="right">
 -.57
</td>
<td align="right">
    3.97
</td>
<td align="right">
    .22
</td>
<td align="right">
    .65
</td>
<td align="right">
     2
</td>
<td align="right">
     1.29
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  107.65
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .90
</td>
<td align="right">
   -.32
</td>
<td align="right">
   4.14
</td>
<td align="right">
    37
</td>
<td align="right">
   153.15
</td>
<td align="right">
   4.60
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   31.16
</td>
<td align="right">
 -.59
</td>
<td align="right">
    5.99
</td>
<td align="right">
    .82
</td>
<td align="right">
   3.82
</td>
<td align="right">
     4
</td>
<td align="right">
    15.29
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  296.53
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.16
</td>
<td align="right">
   -.58
</td>
<td align="right">
  -1.81
</td>
<td align="right">
    53
</td>
<td align="right">
   -95.97
</td>
<td align="right">
   1.56
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   38.17
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.05
</td>
<td align="right">
   -.48
</td>
<td align="right">
   -.87
</td>
<td align="right">
    36
</td>
<td align="right">
   -31.26
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  116.12
</td>
<td align="right">
 -.65
</td>
<td align="right">
    7.94
</td>
<td align="right">
   1.00
</td>
<td align="right">
   4.88
</td>
<td align="right">
    18
</td>
<td align="right">
    87.92
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.28
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -4.72
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.25
</td>
<td align="right">
     3
</td>
<td align="right">
     -.75
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   62.08
</td>
<td align="right">
 -.60
</td>
<td align="right">
   28.46
</td>
<td align="right">
   -.04
</td>
<td align="right">
   1.28
</td>
<td align="right">
     3
</td>
<td align="right">
     3.85
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  106.79
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.22
</td>
<td align="right">
    .87
</td>
<td align="right">
   2.31
</td>
<td align="right">
     3
</td>
<td align="right">
     6.93
</td>
<td align="right">
   1.89
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   34.65
</td>
<td align="right">
 -.59
</td>
<td align="right">
  104.00
</td>
<td align="right">
   1.35
</td>
<td align="right">
   1.04
</td>
<td align="right">
     1
</td>
<td align="right">
     1.04
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.30
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.39
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.14
</td>
<td align="right">
    14
</td>
<td align="right">
    -1.91
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   59.76
</td>
<td align="right">
 -.73
</td>
<td align="right">
     .84
</td>
<td align="right">
    .43
</td>
<td align="right">
   1.28
</td>
<td align="right">
    77
</td>
<td align="right">
    98.43
</td>
<td align="right">
   1.52
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   15.34
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -63.00
</td>
<td align="right">
   -.55
</td>
<td align="right">
   -.63
</td>
<td align="right">
     1
</td>
<td align="right">
     -.63
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   46.03
</td>
<td align="right">
 -.70
</td>
<td align="right">
    1.33
</td>
<td align="right">
    .37
</td>
<td align="right">
   1.02
</td>
<td align="right">
    12
</td>
<td align="right">
    12.23
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   58.14
</td>
<td align="right">
 -.60
</td>
<td align="right">
  748.00
</td>
<td align="right">
   -.46
</td>
<td align="right">
   7.48
</td>
<td align="right">
     1
</td>
<td align="right">
     7.48
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   38.22
</td>
<td align="right">
 -.59
</td>
<td align="right">
  314.00
</td>
<td align="right">
    .66
</td>
<td align="right">
   3.14
</td>
<td align="right">
     1
</td>
<td align="right">
     3.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   66.55
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .95
</td>
<td align="right">
    .26
</td>
<td align="right">
   2.10
</td>
<td align="right">
    17
</td>
<td align="right">
    35.65
</td>
<td align="right">
   2.20
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   46.14
</td>
<td align="right">
 -.63
</td>
<td align="right">
    6.46
</td>
<td align="right">
    .50
</td>
<td align="right">
   4.35
</td>
<td align="right">
    20
</td>
<td align="right">
    87.06
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   31.33
</td>
<td align="right">
 -.56
</td>
<td align="right">
   51.00
</td>
<td align="right">
    .46
</td>
<td align="right">
    .51
</td>
<td align="right">
     1
</td>
<td align="right">
      .51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    7.50
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .18
</td>
<td align="right">
    .03
</td>
<td align="right">
    .10
</td>
<td align="right">
    54
</td>
<td align="right">
     5.59
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   30.27
</td>
<td align="right">
 -.55
</td>
<td align="right">
  178.00
</td>
<td align="right">
    .55
</td>
<td align="right">
   1.78
</td>
<td align="right">
     1
</td>
<td align="right">
     1.78
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   25.94
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.75
</td>
<td align="right">
    .18
</td>
<td align="right">
   1.28
</td>
<td align="right">
     7
</td>
<td align="right">
     8.95
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   17.84
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.89
</td>
<td align="right">
    .01
</td>
<td align="right">
    .28
</td>
<td align="right">
    53
</td>
<td align="right">
    14.65
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   45.77
</td>
<td align="right">
 -.60
</td>
<td align="right">
   59.00
</td>
<td align="right">
   -.27
</td>
<td align="right">
    .59
</td>
<td align="right">
     1
</td>
<td align="right">
      .59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   48.23
</td>
<td align="right">
 -.61
</td>
<td align="right">
    9.15
</td>
<td align="right">
   -.17
</td>
<td align="right">
   2.36
</td>
<td align="right">
     5
</td>
<td align="right">
    11.81
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   51.81
</td>
<td align="right">
 -.55
</td>
<td align="right">
   98.00
</td>
<td align="right">
   -.49
</td>
<td align="right">
    .98
</td>
<td align="right">
     1
</td>
<td align="right">
      .98
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   29.94
</td>
<td align="right">
 -.68
</td>
<td align="right">
    3.25
</td>
<td align="right">
    .02
</td>
<td align="right">
    .30
</td>
<td align="right">
    73
</td>
<td align="right">
    22.11
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   40.23
</td>
<td align="right">
 -.57
</td>
<td align="right">
  113.00
</td>
<td align="right">
   -.07
</td>
<td align="right">
   1.13
</td>
<td align="right">
     1
</td>
<td align="right">
     1.13
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   77.89
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.26
</td>
<td align="right">
   1.33
</td>
<td align="right">
  -4.16
</td>
<td align="right">
     5
</td>
<td align="right">
   -20.82
</td>
<td align="right">
   1.84
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   13.64
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.47
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.35
</td>
<td align="right">
    17
</td>
<td align="right">
    -6.00
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   28.95
</td>
<td align="right">
 -.72
</td>
<td align="right">
  148.00
</td>
<td align="right">
    .47
</td>
<td align="right">
   1.48
</td>
<td align="right">
     1
</td>
<td align="right">
     1.48
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   28.02
</td>
<td align="right">
 -.64
</td>
<td align="right">
    5.58
</td>
<td align="right">
   -.27
</td>
<td align="right">
   1.80
</td>
<td align="right">
    11
</td>
<td align="right">
    19.76
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   48.87
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.15
</td>
<td align="right">
    .70
</td>
<td align="right">
   1.77
</td>
<td align="right">
    21
</td>
<td align="right">
    37.25
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  111.26
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.36
</td>
<td align="right">
   1.06
</td>
<td align="right">
   3.26
</td>
<td align="right">
    38
</td>
<td align="right">
   123.85
</td>
<td align="right">
   1.38
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   66.27
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -3.69
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.25
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.25
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   22.36
</td>
<td align="right">
 -.60
</td>
<td align="right">
    6.85
</td>
<td align="right">
    .14
</td>
<td align="right">
   1.11
</td>
<td align="right">
     6
</td>
<td align="right">
     6.64
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   79.46
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .65
</td>
<td align="right">
    .38
</td>
<td align="right">
   1.80
</td>
<td align="right">
    59
</td>
<td align="right">
   106.14
</td>
<td align="right">
   2.78
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   35.86
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.19
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.02
</td>
<td align="right">
     2
</td>
<td align="right">
     -.03
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   63.32
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.81
</td>
<td align="right">
   -.46
</td>
<td align="right">
  -1.26
</td>
<td align="right">
    15
</td>
<td align="right">
   -18.88
</td>
<td align="right">
   1.56
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  116.15
</td>
<td align="right">
 -.60
</td>
<td align="right">
   10.28
</td>
<td align="right">
   1.69
</td>
<td align="right">
  11.29
</td>
<td align="right">
     7
</td>
<td align="right">
    79.03
</td>
<td align="right">
   1.10
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   73.22
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .67
</td>
<td align="right">
    .12
</td>
<td align="right">
    .37
</td>
<td align="right">
    61
</td>
<td align="right">
    22.65
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   757
</td>
<td align="right">
   814.35
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AEM
</td>
<td align="right">
   56.62
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.23
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.07
</td>
<td align="right">
     3
</td>
<td align="right">
     -.22
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   20.19
</td>
<td align="right">
  .59
</td>
<td align="right">
  188.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
   1.88
</td>
<td align="right">
     1
</td>
<td align="right">
     1.88
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   41.78
</td>
<td align="right">
  .59
</td>
<td align="right">
    4.41
</td>
<td align="right">
    .04
</td>
<td align="right">
   1.06
</td>
<td align="right">
     2
</td>
<td align="right">
     2.12
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  120.64
</td>
<td align="right">
  .65
</td>
<td align="right">
     .18
</td>
<td align="right">
    .26
</td>
<td align="right">
    .28
</td>
<td align="right">
    34
</td>
<td align="right">
     9.61
</td>
<td align="right">
   1.58
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  108.62
</td>
<td align="right">
  .63
</td>
<td align="right">
   -3.99
</td>
<td align="right">
   -.96
</td>
<td align="right">
  -3.25
</td>
<td align="right">
    17
</td>
<td align="right">
   -55.17
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.06
</td>
<td align="right">
  .60
</td>
<td align="right">
    3.69
</td>
<td align="right">
    .00
</td>
<td align="right">
    .97
</td>
<td align="right">
     2
</td>
<td align="right">
     1.93
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   73.68
</td>
<td align="right">
  .62
</td>
<td align="right">
    7.39
</td>
<td align="right">
   2.15
</td>
<td align="right">
   5.30
</td>
<td align="right">
     6
</td>
<td align="right">
    31.77
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   14.75
</td>
<td align="right">
  .67
</td>
<td align="right">
     .81
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .13
</td>
<td align="right">
    37
</td>
<td align="right">
     4.93
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   43.26
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.82
</td>
<td align="right">
   -.12
</td>
<td align="right">
   1.71
</td>
<td align="right">
    45
</td>
<td align="right">
    77.09
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  156.43
</td>
<td align="right">
  .58
</td>
<td align="right">
  305.00
</td>
<td align="right">
    .99
</td>
<td align="right">
   3.05
</td>
<td align="right">
     1
</td>
<td align="right">
     3.05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   19.82
</td>
<td align="right">
  .63
</td>
<td align="right">
   -7.82
</td>
<td align="right">
   -.19
</td>
<td align="right">
  -2.00
</td>
<td align="right">
    18
</td>
<td align="right">
   -35.95
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   37.88
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.84
</td>
<td align="right">
   -.08
</td>
<td align="right">
   1.09
</td>
<td align="right">
     5
</td>
<td align="right">
     5.45
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.62
</td>
<td align="right">
  .59
</td>
<td align="right">
   10.04
</td>
<td align="right">
    .23
</td>
<td align="right">
   1.30
</td>
<td align="right">
     5
</td>
<td align="right">
     6.49
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   17.97
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.78
</td>
<td align="right">
    .06
</td>
<td align="right">
    .38
</td>
<td align="right">
    24
</td>
<td align="right">
     9.16
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   63.50
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.71
</td>
<td align="right">
    .28
</td>
<td align="right">
   1.10
</td>
<td align="right">
    38
</td>
<td align="right">
    41.98
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   47.07
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.00
</td>
<td align="right">
   -.33
</td>
<td align="right">
  -1.27
</td>
<td align="right">
     7
</td>
<td align="right">
    -8.86
</td>
<td align="right">
   1.27
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   29.43
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.01
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.35
</td>
<td align="right">
    20
</td>
<td align="right">
    -6.98
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   29.27
</td>
<td align="right">
  .57
</td>
<td align="right">
  -51.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.51
</td>
<td align="right">
     1
</td>
<td align="right">
     -.51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   24.20
</td>
<td align="right">
  .62
</td>
<td align="right">
 -122.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
  -1.22
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.22
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   52.62
</td>
<td align="right">
  .69
</td>
<td align="right">
   -3.15
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.43
</td>
<td align="right">
    26
</td>
<td align="right">
   -11.29
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   70.39
</td>
<td align="right">
  .62
</td>
<td align="right">
    4.83
</td>
<td align="right">
    .16
</td>
<td align="right">
   2.65
</td>
<td align="right">
    11
</td>
<td align="right">
    29.19
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   304
</td>
<td align="right">
   104.45
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
