<h4>Week of: 2011_09_12</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   30.89
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.66
</td>
<td align="right">
    .22
</td>
<td align="right">
    .54
</td>
<td align="right">
    24
</td>
<td align="right">
    12.92
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   70.46
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.37
</td>
<td align="right">
   -.49
</td>
<td align="right">
   -.28
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.10
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   57.20
</td>
<td align="right">
 -.55
</td>
<td align="right">
   -1.25
</td>
<td align="right">
   -.82
</td>
<td align="right">
   -.30
</td>
<td align="right">
     2
</td>
<td align="right">
     -.60
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   50.83
</td>
<td align="right">
 -.57
</td>
<td align="right">
    3.71
</td>
<td align="right">
    .07
</td>
<td align="right">
   1.01
</td>
<td align="right">
    15
</td>
<td align="right">
    15.21
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    45
</td>
<td align="right">
    26.43
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   65.69
</td>
<td align="right">
  .59
</td>
<td align="right">
    5.97
</td>
<td align="right">
   -.06
</td>
<td align="right">
   1.54
</td>
<td align="right">
    21
</td>
<td align="right">
    32.30
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   68.99
</td>
<td align="right">
  .61
</td>
<td align="right">
    5.18
</td>
<td align="right">
   -.47
</td>
<td align="right">
    .74
</td>
<td align="right">
     7
</td>
<td align="right">
     5.16
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   39.32
</td>
<td align="right">
  .73
</td>
<td align="right">
   12.02
</td>
<td align="right">
   -.97
</td>
<td align="right">
    .09
</td>
<td align="right">
     2
</td>
<td align="right">
      .17
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    30
</td>
<td align="right">
    37.63
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
