<h4>Week of: 2011_08_29</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   45.50
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.31
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .61
</td>
<td align="right">
     3
</td>
<td align="right">
     1.84
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.80
</td>
<td align="right">
 -.56
</td>
<td align="right">
    8.77
</td>
<td align="right">
   -.17
</td>
<td align="right">
   1.90
</td>
<td align="right">
    11
</td>
<td align="right">
    20.88
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   18.80
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.28
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.18
</td>
<td align="right">
    14
</td>
<td align="right">
    -2.56
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    8.09
</td>
<td align="right">
 -.62
</td>
<td align="right">
    3.54
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .46
</td>
<td align="right">
    26
</td>
<td align="right">
    11.99
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   29.43
</td>
<td align="right">
 -.64
</td>
<td align="right">
   19.56
</td>
<td align="right">
    .06
</td>
<td align="right">
    .42
</td>
<td align="right">
     2
</td>
<td align="right">
      .83
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    56
</td>
<td align="right">
    32.98
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.88
</td>
<td align="right">
  .57
</td>
<td align="right">
    8.01
</td>
<td align="right">
    .00
</td>
<td align="right">
    .51
</td>
<td align="right">
     6
</td>
<td align="right">
     3.08
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   34.33
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.11
</td>
<td align="right">
    .00
</td>
<td align="right">
    .86
</td>
<td align="right">
    58
</td>
<td align="right">
    49.77
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
   90.01
</td>
<td align="right">
  .57
</td>
<td align="right">
   27.32
</td>
<td align="right">
    .22
</td>
<td align="right">
   1.55
</td>
<td align="right">
     3
</td>
<td align="right">
     4.66
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   62.13
</td>
<td align="right">
  .66
</td>
<td align="right">
   59.00
</td>
<td align="right">
    .53
</td>
<td align="right">
    .59
</td>
<td align="right">
     1
</td>
<td align="right">
      .59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   56.26
</td>
<td align="right">
  .56
</td>
<td align="right">
    2.79
</td>
<td align="right">
   -.38
</td>
<td align="right">
    .56
</td>
<td align="right">
     5
</td>
<td align="right">
     2.80
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   32.41
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.59
</td>
<td align="right">
    .02
</td>
<td align="right">
    .15
</td>
<td align="right">
    26
</td>
<td align="right">
     3.85
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   30.61
</td>
<td align="right">
  .68
</td>
<td align="right">
   11.43
</td>
<td align="right">
    .39
</td>
<td align="right">
   2.06
</td>
<td align="right">
    23
</td>
<td align="right">
    47.27
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   32.07
</td>
<td align="right">
  .57
</td>
<td align="right">
   10.48
</td>
<td align="right">
    .04
</td>
<td align="right">
   1.53
</td>
<td align="right">
     6
</td>
<td align="right">
     9.16
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   50.88
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.00
</td>
<td align="right">
    .20
</td>
<td align="right">
   -.01
</td>
<td align="right">
     1
</td>
<td align="right">
     -.01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   27.42
</td>
<td align="right">
  .73
</td>
<td align="right">
    2.81
</td>
<td align="right">
    .03
</td>
<td align="right">
    .35
</td>
<td align="right">
    78
</td>
<td align="right">
    27.65
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   34.79
</td>
<td align="right">
  .60
</td>
<td align="right">
    4.65
</td>
<td align="right">
    .08
</td>
<td align="right">
    .42
</td>
<td align="right">
    19
</td>
<td align="right">
     8.07
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   226
</td>
<td align="right">
   156.89
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
