<h4>Week of: 2011_08_01</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   53.84
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -52.00
</td>
<td align="right">
    .37
</td>
<td align="right">
   -.52
</td>
<td align="right">
     1
</td>
<td align="right">
     -.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMT
</td>
<td align="right">
   52.35
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.61
</td>
<td align="right">
    .41
</td>
<td align="right">
   -.54
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.07
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
ARG
</td>
<td align="right">
   68.77
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -61.00
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.61
</td>
<td align="right">
     1
</td>
<td align="right">
     -.61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.52
</td>
<td align="right">
 -.89
</td>
<td align="right">
    2.06
</td>
<td align="right">
    .01
</td>
<td align="right">
    .12
</td>
<td align="right">
    78
</td>
<td align="right">
     9.08
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  125.60
</td>
<td align="right">
 -.66
</td>
<td align="right">
 -263.00
</td>
<td align="right">
   -.48
</td>
<td align="right">
  -2.63
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.63
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   55.81
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.42
</td>
<td align="right">
   -.43
</td>
<td align="right">
  -2.03
</td>
<td align="right">
    17
</td>
<td align="right">
   -34.56
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  223.30
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.11
</td>
<td align="right">
   -.41
</td>
<td align="right">
  -7.14
</td>
<td align="right">
    17
</td>
<td align="right">
  -121.32
</td>
<td align="right">
   3.39
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   46.85
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -12.86
</td>
<td align="right">
   -.34
</td>
<td align="right">
  -1.79
</td>
<td align="right">
    17
</td>
<td align="right">
   -30.37
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  144.90
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.36
</td>
<td align="right">
   1.76
</td>
<td align="right">
   -.54
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.08
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   78.25
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -6.95
</td>
<td align="right">
   -.56
</td>
<td align="right">
  -2.38
</td>
<td align="right">
     3
</td>
<td align="right">
    -7.15
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   32.90
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -85.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.85
</td>
<td align="right">
     1
</td>
<td align="right">
     -.85
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   91.78
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -214.00
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -2.14
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  115.15
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -25.93
</td>
<td align="right">
  -3.22
</td>
<td align="right">
  -7.29
</td>
<td align="right">
     5
</td>
<td align="right">
   -36.44
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   40.91
</td>
<td align="right">
 -.63
</td>
<td align="right">
 -168.00
</td>
<td align="right">
   -.96
</td>
<td align="right">
  -1.68
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.68
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   59.05
</td>
<td align="right">
 -.61
</td>
<td align="right">
 -311.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
  -3.11
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.11
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   48.66
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.08
</td>
<td align="right">
    60
</td>
<td align="right">
    -4.80
</td>
<td align="right">
    .92
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  597.26
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.20
</td>
<td align="right">
   2.13
</td>
<td align="right">
  -9.57
</td>
<td align="right">
     3
</td>
<td align="right">
   -28.71
</td>
<td align="right">
   8.00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   63.35
</td>
<td align="right">
 -.65
</td>
<td align="right">
    3.36
</td>
<td align="right">
   -.90
</td>
<td align="right">
    .55
</td>
<td align="right">
     6
</td>
<td align="right">
     3.32
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   77.81
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.20
</td>
<td align="right">
   -.42
</td>
<td align="right">
  -2.56
</td>
<td align="right">
    25
</td>
<td align="right">
   -64.04
</td>
<td align="right">
   1.16
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  165.57
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -13.29
</td>
<td align="right">
  -3.03
</td>
<td align="right">
  -8.41
</td>
<td align="right">
     5
</td>
<td align="right">
   -42.04
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.41
</td>
<td align="right">
 -.59
</td>
<td align="right">
   50.00
</td>
<td align="right">
    .14
</td>
<td align="right">
    .50
</td>
<td align="right">
     1
</td>
<td align="right">
      .50
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  267.16
</td>
<td align="right">
 -.72
</td>
<td align="right">
  -41.00
</td>
<td align="right">
  -1.69
</td>
<td align="right">
   -.41
</td>
<td align="right">
     1
</td>
<td align="right">
     -.41
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  154.13
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.80
</td>
<td align="right">
  -1.16
</td>
<td align="right">
  -5.51
</td>
<td align="right">
    31
</td>
<td align="right">
  -170.95
</td>
<td align="right">
   1.97
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   30.65
</td>
<td align="right">
 -.59
</td>
<td align="right">
   24.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .24
</td>
<td align="right">
     1
</td>
<td align="right">
      .24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   79.43
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -4.32
</td>
<td align="right">
   -.29
</td>
<td align="right">
  -3.07
</td>
<td align="right">
    11
</td>
<td align="right">
   -33.78
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   70.08
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.84
</td>
<td align="right">
    .11
</td>
<td align="right">
  -1.11
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.21
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  178.12
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.63
</td>
<td align="right">
   -.28
</td>
<td align="right">
   -.84
</td>
<td align="right">
     4
</td>
<td align="right">
    -3.37
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   54.89
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -4.56
</td>
<td align="right">
   -.75
</td>
<td align="right">
  -1.20
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.80
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   56.62
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -.41
</td>
<td align="right">
  -1.03
</td>
<td align="right">
    20
</td>
<td align="right">
   -20.67
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   34.19
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -81.00
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.81
</td>
<td align="right">
     1
</td>
<td align="right">
     -.81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   15.85
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.01
</td>
<td align="right">
     4
</td>
<td align="right">
     -.04
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   81.24
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.56
</td>
<td align="right">
    .02
</td>
<td align="right">
  -3.87
</td>
<td align="right">
     6
</td>
<td align="right">
   -23.21
</td>
<td align="right">
   1.51
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   10.43
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.74
</td>
<td align="right">
   -.06
</td>
<td align="right">
  -1.11
</td>
<td align="right">
    24
</td>
<td align="right">
   -26.53
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   14.92
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.40
</td>
<td align="right">
    19
</td>
<td align="right">
    -7.64
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   99.09
</td>
<td align="right">
 -.64
</td>
<td align="right">
  279.00
</td>
<td align="right">
    .31
</td>
<td align="right">
   2.79
</td>
<td align="right">
     1
</td>
<td align="right">
     2.79
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   47.35
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.15
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.49
</td>
<td align="right">
    27
</td>
<td align="right">
   -13.22
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  100.29
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -226.00
</td>
<td align="right">
  -1.50
</td>
<td align="right">
  -2.26
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.26
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   63.74
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -281.00
</td>
<td align="right">
   -.34
</td>
<td align="right">
  -2.81
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   66.06
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .01
</td>
<td align="right">
   -.55
</td>
<td align="right">
    .01
</td>
<td align="right">
     8
</td>
<td align="right">
      .05
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  145.14
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .64
</td>
<td align="right">
    .48
</td>
<td align="right">
   1.19
</td>
<td align="right">
     3
</td>
<td align="right">
     3.58
</td>
<td align="right">
   1.88
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   33.07
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -9.66
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.41
</td>
<td align="right">
     2
</td>
<td align="right">
     -.82
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   419
</td>
<td align="right">
  -677.09
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   50.39
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.61
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.43
</td>
<td align="right">
    24
</td>
<td align="right">
   -10.39
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   52.90
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.07
</td>
<td align="right">
    .22
</td>
<td align="right">
    .29
</td>
<td align="right">
    25
</td>
<td align="right">
     7.18
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  214.65
</td>
<td align="right">
  .64
</td>
<td align="right">
   -4.10
</td>
<td align="right">
    .84
</td>
<td align="right">
  -7.62
</td>
<td align="right">
    12
</td>
<td align="right">
   -91.41
</td>
<td align="right">
   1.86
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  322.50
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.48
</td>
<td align="right">
   -.45
</td>
<td align="right">
  -3.68
</td>
<td align="right">
    42
</td>
<td align="right">
  -154.74
</td>
<td align="right">
   7.69
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   45.43
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.51
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.83
</td>
<td align="right">
    16
</td>
<td align="right">
   -13.23
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  120.16
</td>
<td align="right">
  .67
</td>
<td align="right">
   -2.05
</td>
<td align="right">
    .05
</td>
<td align="right">
  -1.72
</td>
<td align="right">
    36
</td>
<td align="right">
   -62.04
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   57.34
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.44
</td>
<td align="right">
   -.18
</td>
<td align="right">
  -1.03
</td>
<td align="right">
     9
</td>
<td align="right">
    -9.31
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   90.27
</td>
<td align="right">
  .68
</td>
<td align="right">
  302.00
</td>
<td align="right">
    .63
</td>
<td align="right">
   3.02
</td>
<td align="right">
     1
</td>
<td align="right">
     3.02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   41.30
</td>
<td align="right">
  .62
</td>
<td align="right">
  -11.47
</td>
<td align="right">
   -.20
</td>
<td align="right">
  -1.77
</td>
<td align="right">
     6
</td>
<td align="right">
   -10.60
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  160.02
</td>
<td align="right">
  .58
</td>
<td align="right">
    3.69
</td>
<td align="right">
    .51
</td>
<td align="right">
   2.00
</td>
<td align="right">
    11
</td>
<td align="right">
    22.04
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   61.41
</td>
<td align="right">
  .64
</td>
<td align="right">
   -3.30
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -1.87
</td>
<td align="right">
    15
</td>
<td align="right">
   -27.98
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   78.41
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.15
</td>
<td align="right">
   -.23
</td>
<td align="right">
  -1.85
</td>
<td align="right">
     4
</td>
<td align="right">
    -7.41
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   59.28
</td>
<td align="right">
  .61
</td>
<td align="right">
 -254.00
</td>
<td align="right">
   -.65
</td>
<td align="right">
  -2.54
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   26.85
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.73
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.45
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.78
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  261.14
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.14
</td>
<td align="right">
   -.52
</td>
<td align="right">
  -4.43
</td>
<td align="right">
    19
</td>
<td align="right">
   -84.16
</td>
<td align="right">
   3.88
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   81.98
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.57
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.67
</td>
<td align="right">
    18
</td>
<td align="right">
   -12.02
</td>
<td align="right">
   1.18
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  176.94
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.56
</td>
<td align="right">
    .14
</td>
<td align="right">
  -3.29
</td>
<td align="right">
    12
</td>
<td align="right">
   -39.47
</td>
<td align="right">
   2.11
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   57.17
</td>
<td align="right">
  .61
</td>
<td align="right">
   -4.46
</td>
<td align="right">
    .12
</td>
<td align="right">
  -1.00
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.01
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   53.76
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.01
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.29
</td>
<td align="right">
    59
</td>
<td align="right">
   -17.09
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   57.16
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.39
</td>
<td align="right">
    .23
</td>
<td align="right">
   -.12
</td>
<td align="right">
     2
</td>
<td align="right">
     -.24
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   75.65
</td>
<td align="right">
  .57
</td>
<td align="right">
 -130.00
</td>
<td align="right">
   -.18
</td>
<td align="right">
  -1.30
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.30
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   15.49
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.33
</td>
<td align="right">
    .28
</td>
<td align="right">
   -.08
</td>
<td align="right">
     9
</td>
<td align="right">
     -.73
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
  102.00
</td>
<td align="right">
  .65
</td>
<td align="right">
    3.07
</td>
<td align="right">
    .02
</td>
<td align="right">
   2.07
</td>
<td align="right">
    10
</td>
<td align="right">
    20.70
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   96.49
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.09
</td>
<td align="right">
   -.23
</td>
<td align="right">
  -1.56
</td>
<td align="right">
    22
</td>
<td align="right">
   -34.22
</td>
<td align="right">
   1.43
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   64.77
</td>
<td align="right">
  .59
</td>
<td align="right">
 -153.00
</td>
<td align="right">
   -.34
</td>
<td align="right">
  -1.53
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   52.22
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.94
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.54
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.08
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   79.32
</td>
<td align="right">
  .73
</td>
<td align="right">
   -1.31
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.63
</td>
<td align="right">
    37
</td>
<td align="right">
   -23.47
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   401
</td>
<td align="right">
  -556.81
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
