<h4>Week of: 2011_08_29</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   50.74
</td>
<td align="right">
 -.64
</td>
<td align="right">
    6.00
</td>
<td align="right">
    .20
</td>
<td align="right">
    .42
</td>
<td align="right">
     3
</td>
<td align="right">
     1.26
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
AMT
</td>
<td align="right">
   52.57
</td>
<td align="right">
 -.56
</td>
<td align="right">
  177.00
</td>
<td align="right">
    .13
</td>
<td align="right">
   1.77
</td>
<td align="right">
     1
</td>
<td align="right">
     1.77
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   48.73
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.11
</td>
<td align="right">
    .24
</td>
<td align="right">
    .73
</td>
<td align="right">
     6
</td>
<td align="right">
     4.37
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   45.50
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.31
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .61
</td>
<td align="right">
     3
</td>
<td align="right">
     1.84
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   74.23
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.09
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.03
</td>
<td align="right">
     8
</td>
<td align="right">
     -.26
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   70.03
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.51
</td>
<td align="right">
    .48
</td>
<td align="right">
   -.63
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.90
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.80
</td>
<td align="right">
 -.56
</td>
<td align="right">
    8.77
</td>
<td align="right">
   -.17
</td>
<td align="right">
   1.90
</td>
<td align="right">
    11
</td>
<td align="right">
    20.88
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   18.78
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .04
</td>
<td align="right">
    .00
</td>
<td align="right">
    .01
</td>
<td align="right">
    23
</td>
<td align="right">
      .21
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   63.50
</td>
<td align="right">
 -.57
</td>
<td align="right">
   19.00
</td>
<td align="right">
    .37
</td>
<td align="right">
    .19
</td>
<td align="right">
     1
</td>
<td align="right">
      .19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   70.31
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.02
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.48
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.33
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   58.62
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -79.00
</td>
<td align="right">
    .86
</td>
<td align="right">
   -.79
</td>
<td align="right">
     1
</td>
<td align="right">
     -.79
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    8.09
</td>
<td align="right">
 -.62
</td>
<td align="right">
    3.54
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .46
</td>
<td align="right">
    26
</td>
<td align="right">
    11.99
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   29.43
</td>
<td align="right">
 -.64
</td>
<td align="right">
   19.56
</td>
<td align="right">
    .06
</td>
<td align="right">
    .42
</td>
<td align="right">
     2
</td>
<td align="right">
      .83
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   53.09
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .35
</td>
<td align="right">
    .15
</td>
<td align="right">
    .04
</td>
<td align="right">
     8
</td>
<td align="right">
      .29
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   53.81
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.86
</td>
<td align="right">
    .32
</td>
<td align="right">
    .67
</td>
<td align="right">
     5
</td>
<td align="right">
     3.34
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   108
</td>
<td align="right">
    40.69
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.88
</td>
<td align="right">
  .57
</td>
<td align="right">
    8.01
</td>
<td align="right">
    .00
</td>
<td align="right">
    .51
</td>
<td align="right">
     6
</td>
<td align="right">
     3.08
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BA
</td>
<td align="right">
   66.08
</td>
<td align="right">
  .57
</td>
<td align="right">
   13.44
</td>
<td align="right">
   -.39
</td>
<td align="right">
    .76
</td>
<td align="right">
     2
</td>
<td align="right">
     1.52
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  198.82
</td>
<td align="right">
  .64
</td>
<td align="right">
    5.48
</td>
<td align="right">
    .28
</td>
<td align="right">
   5.31
</td>
<td align="right">
    12
</td>
<td align="right">
    63.72
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  309.53
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.24
</td>
<td align="right">
   1.28
</td>
<td align="right">
   3.15
</td>
<td align="right">
    14
</td>
<td align="right">
    44.15
</td>
<td align="right">
   1.41
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   34.33
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.11
</td>
<td align="right">
    .00
</td>
<td align="right">
    .86
</td>
<td align="right">
    58
</td>
<td align="right">
    49.77
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   80.39
</td>
<td align="right">
  .61
</td>
<td align="right">
     .64
</td>
<td align="right">
    .34
</td>
<td align="right">
    .72
</td>
<td align="right">
    10
</td>
<td align="right">
     7.21
</td>
<td align="right">
   1.13
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
   91.01
</td>
<td align="right">
  .57
</td>
<td align="right">
    4.52
</td>
<td align="right">
    .50
</td>
<td align="right">
   1.67
</td>
<td align="right">
     5
</td>
<td align="right">
     8.37
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   62.13
</td>
<td align="right">
  .66
</td>
<td align="right">
   59.00
</td>
<td align="right">
    .53
</td>
<td align="right">
    .59
</td>
<td align="right">
     1
</td>
<td align="right">
      .59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   56.26
</td>
<td align="right">
  .56
</td>
<td align="right">
    2.79
</td>
<td align="right">
   -.38
</td>
<td align="right">
    .56
</td>
<td align="right">
     5
</td>
<td align="right">
     2.80
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   37.43
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.15
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.04
</td>
<td align="right">
    30
</td>
<td align="right">
    -1.07
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   71.75
</td>
<td align="right">
  .60
</td>
<td align="right">
   -3.02
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.80
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.41
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   32.38
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.26
</td>
<td align="right">
    .07
</td>
<td align="right">
    .41
</td>
<td align="right">
    46
</td>
<td align="right">
    19.04
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   84.96
</td>
<td align="right">
  .62
</td>
<td align="right">
   23.01
</td>
<td align="right">
   -.06
</td>
<td align="right">
   2.16
</td>
<td align="right">
     5
</td>
<td align="right">
    10.78
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   77.12
</td>
<td align="right">
  .63
</td>
<td align="right">
    4.57
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .84
</td>
<td align="right">
     2
</td>
<td align="right">
     1.68
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   53.95
</td>
<td align="right">
  .61
</td>
<td align="right">
   12.30
</td>
<td align="right">
    .35
</td>
<td align="right">
   1.74
</td>
<td align="right">
     2
</td>
<td align="right">
     3.48
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   30.61
</td>
<td align="right">
  .68
</td>
<td align="right">
   11.43
</td>
<td align="right">
    .39
</td>
<td align="right">
   2.06
</td>
<td align="right">
    23
</td>
<td align="right">
    47.27
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   32.07
</td>
<td align="right">
  .57
</td>
<td align="right">
   10.48
</td>
<td align="right">
    .04
</td>
<td align="right">
   1.53
</td>
<td align="right">
     6
</td>
<td align="right">
     9.16
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   50.83
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.13
</td>
<td align="right">
    .20
</td>
<td align="right">
    .65
</td>
<td align="right">
     3
</td>
<td align="right">
     1.94
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   37.61
</td>
<td align="right">
  .62
</td>
<td align="right">
    4.04
</td>
<td align="right">
    .30
</td>
<td align="right">
   2.29
</td>
<td align="right">
     5
</td>
<td align="right">
    11.46
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   66.56
</td>
<td align="right">
  .67
</td>
<td align="right">
    6.58
</td>
<td align="right">
    .38
</td>
<td align="right">
   1.68
</td>
<td align="right">
     7
</td>
<td align="right">
    11.78
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   27.42
</td>
<td align="right">
  .73
</td>
<td align="right">
    2.81
</td>
<td align="right">
    .03
</td>
<td align="right">
    .35
</td>
<td align="right">
    78
</td>
<td align="right">
    27.65
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   64.05
</td>
<td align="right">
  .58
</td>
<td align="right">
   -3.99
</td>
<td align="right">
   -.29
</td>
<td align="right">
  -2.13
</td>
<td align="right">
     6
</td>
<td align="right">
   -12.79
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   52.48
</td>
<td align="right">
  .64
</td>
<td align="right">
   83.00
</td>
<td align="right">
    .30
</td>
<td align="right">
    .83
</td>
<td align="right">
     1
</td>
<td align="right">
      .83
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   29.91
</td>
<td align="right">
  .68
</td>
<td align="right">
    2.12
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .50
</td>
<td align="right">
    21
</td>
<td align="right">
    10.44
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   34.79
</td>
<td align="right">
  .60
</td>
<td align="right">
    4.65
</td>
<td align="right">
    .08
</td>
<td align="right">
    .42
</td>
<td align="right">
    19
</td>
<td align="right">
     8.07
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   370
</td>
<td align="right">
   328.52
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
