<h4>Week of: 2011_11_07</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  107.31
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -3.56
</td>
<td align="right">
    .50
</td>
<td align="right">
  -2.80
</td>
<td align="right">
     2
</td>
<td align="right">
    -5.59
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   79.26
</td>
<td align="right">
 -.55
</td>
<td align="right">
 -381.00
</td>
<td align="right">
    .71
</td>
<td align="right">
  -3.81
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  142.61
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -43.31
</td>
<td align="right">
  -1.95
</td>
<td align="right">
  -2.45
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.90
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  195.82
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.26
</td>
<td align="right">
   -.83
</td>
<td align="right">
  -1.77
</td>
<td align="right">
    13
</td>
<td align="right">
   -23.01
</td>
<td align="right">
   1.40
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   46.03
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.30
</td>
<td align="right">
    .41
</td>
<td align="right">
   -.65
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.92
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   30.29
</td>
<td align="right">
 -.88
</td>
<td align="right">
     .01
</td>
<td align="right">
    .08
</td>
<td align="right">
    .01
</td>
<td align="right">
    69
</td>
<td align="right">
      .45
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   65.21
</td>
<td align="right">
 -.58
</td>
<td align="right">
   11.72
</td>
<td align="right">
    .79
</td>
<td align="right">
   2.18
</td>
<td align="right">
     8
</td>
<td align="right">
    17.45
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
  100.50
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.40
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.37
</td>
<td align="right">
    77
</td>
<td align="right">
   -28.16
</td>
<td align="right">
    .92
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  109.07
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -4.08
</td>
<td align="right">
   -.75
</td>
<td align="right">
  -2.33
</td>
<td align="right">
    15
</td>
<td align="right">
   -34.91
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   48.38
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.49
</td>
<td align="right">
  -1.30
</td>
<td align="right">
  -1.41
</td>
<td align="right">
    10
</td>
<td align="right">
   -14.09
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  608.41
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.73
</td>
<td align="right">
  -1.21
</td>
<td align="right">
  -2.08
</td>
<td align="right">
    13
</td>
<td align="right">
   -27.02
</td>
<td align="right">
   2.86
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   87.89
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.94
</td>
<td align="right">
   -.23
</td>
<td align="right">
  -1.42
</td>
<td align="right">
    50
</td>
<td align="right">
   -70.96
</td>
<td align="right">
   1.50
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   34.70
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -12.48
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.46
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.31
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   27.08
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -53.00
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.53
</td>
<td align="right">
     1
</td>
<td align="right">
     -.53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   43.68
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -2.60
</td>
<td align="right">
    .02
</td>
<td align="right">
  -1.29
</td>
<td align="right">
    31
</td>
<td align="right">
   -40.02
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   39.34
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -102.00
</td>
<td align="right">
   -.24
</td>
<td align="right">
  -1.02
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   28.36
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -7.68
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.37
</td>
<td align="right">
    11
</td>
<td align="right">
   -15.11
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   70.08
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .02
</td>
<td align="right">
    .13
</td>
<td align="right">
    .01
</td>
<td align="right">
     3
</td>
<td align="right">
      .04
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   53.94
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -3.69
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.87
</td>
<td align="right">
     7
</td>
<td align="right">
    -6.07
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   49.32
</td>
<td align="right">
 -.58
</td>
<td align="right">
 -199.00
</td>
<td align="right">
    .13
</td>
<td align="right">
  -1.99
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.99
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   44.17
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -113.00
</td>
<td align="right">
    .06
</td>
<td align="right">
  -1.13
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.13
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   14.34
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.98
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.11
</td>
<td align="right">
     4
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   33.96
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -17.68
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.25
</td>
<td align="right">
     2
</td>
<td align="right">
     -.50
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   37.00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.74
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.87
</td>
<td align="right">
    29
</td>
<td align="right">
   -25.12
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   51.42
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.08
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.26
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.83
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   59.87
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -215.00
</td>
<td align="right">
    .11
</td>
<td align="right">
  -2.15
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    9.62
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.88
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.30
</td>
<td align="right">
    14
</td>
<td align="right">
    -4.26
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   45.32
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .93
</td>
<td align="right">
    .14
</td>
<td align="right">
    .24
</td>
<td align="right">
    10
</td>
<td align="right">
     2.41
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   28.62
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.33
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.71
</td>
<td align="right">
     9
</td>
<td align="right">
    -6.37
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   99.77
</td>
<td align="right">
 -.55
</td>
<td align="right">
   -1.11
</td>
<td align="right">
  -1.42
</td>
<td align="right">
   -.74
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.48
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   68.25
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.07
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.04
</td>
<td align="right">
    10
</td>
<td align="right">
     -.39
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   35.12
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -19.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.19
</td>
<td align="right">
     1
</td>
<td align="right">
     -.19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   78.98
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -87.00
</td>
<td align="right">
    .24
</td>
<td align="right">
   -.87
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.74
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   418
</td>
<td align="right">
  -308.67
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
   17.88
</td>
<td align="right">
  .60
</td>
<td align="right">
  -95.46
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.68
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.35
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   23.76
</td>
<td align="right">
  .62
</td>
<td align="right">
   -4.95
</td>
<td align="right">
   -.29
</td>
<td align="right">
   -.66
</td>
<td align="right">
     7
</td>
<td align="right">
    -4.64
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   29.85
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.39
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.37
</td>
<td align="right">
    19
</td>
<td align="right">
    -6.99
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   57.96
</td>
<td align="right">
  .58
</td>
<td align="right">
     .36
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .06
</td>
<td align="right">
     6
</td>
<td align="right">
      .36
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  131.22
</td>
<td align="right">
  .57
</td>
<td align="right">
    4.40
</td>
<td align="right">
   -.13
</td>
<td align="right">
   1.84
</td>
<td align="right">
     6
</td>
<td align="right">
    11.03
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   17.99
</td>
<td align="right">
  .55
</td>
<td align="right">
  -12.00
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.12
</td>
<td align="right">
     1
</td>
<td align="right">
     -.12
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   34.75
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.81
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.24
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.92
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   45.69
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.16
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.30
</td>
<td align="right">
    11
</td>
<td align="right">
    -3.33
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   32.77
</td>
<td align="right">
  .56
</td>
<td align="right">
   -4.77
</td>
<td align="right">
   -.40
</td>
<td align="right">
   -.81
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.62
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   46.98
</td>
<td align="right">
  .65
</td>
<td align="right">
   -5.34
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.86
</td>
<td align="right">
     4
</td>
<td align="right">
    -3.44
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   38.14
</td>
<td align="right">
  .57
</td>
<td align="right">
   -4.89
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.91
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.72
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  594.38
</td>
<td align="right">
  .60
</td>
<td align="right">
    5.04
</td>
<td align="right">
   1.07
</td>
<td align="right">
  13.96
</td>
<td align="right">
    35
</td>
<td align="right">
   488.51
</td>
<td align="right">
   2.77
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  107.50
</td>
<td align="right">
  .62
</td>
<td align="right">
   -7.68
</td>
<td align="right">
   -.60
</td>
<td align="right">
  -4.97
</td>
<td align="right">
     3
</td>
<td align="right">
   -14.90
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   63.19
</td>
<td align="right">
  .55
</td>
<td align="right">
   -2.32
</td>
<td align="right">
    .45
</td>
<td align="right">
   -.48
</td>
<td align="right">
     2
</td>
<td align="right">
     -.95
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   27.50
</td>
<td align="right">
  .69
</td>
<td align="right">
   -7.50
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.80
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.59
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   51.10
</td>
<td align="right">
  .56
</td>
<td align="right">
   20.00
</td>
<td align="right">
   -.23
</td>
<td align="right">
    .20
</td>
<td align="right">
     1
</td>
<td align="right">
      .20
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   74.01
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.57
</td>
<td align="right">
    .30
</td>
<td align="right">
  -1.01
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.04
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   37.66
</td>
<td align="right">
  .56
</td>
<td align="right">
   20.15
</td>
<td align="right">
    .18
</td>
<td align="right">
   1.03
</td>
<td align="right">
     4
</td>
<td align="right">
     4.13
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   47.31
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.57
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.55
</td>
<td align="right">
    25
</td>
<td align="right">
   -13.66
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   39.26
</td>
<td align="right">
  .59
</td>
<td align="right">
 -104.65
</td>
<td align="right">
    .25
</td>
<td align="right">
  -1.48
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.96
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.71
</td>
<td align="right">
  .65
</td>
<td align="right">
     .18
</td>
<td align="right">
    .03
</td>
<td align="right">
    .06
</td>
<td align="right">
    83
</td>
<td align="right">
     4.66
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   30.06
</td>
<td align="right">
  .63
</td>
<td align="right">
   -8.84
</td>
<td align="right">
    .23
</td>
<td align="right">
  -2.00
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.00
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   78.17
</td>
<td align="right">
  .63
</td>
<td align="right">
  -71.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.71
</td>
<td align="right">
     1
</td>
<td align="right">
     -.71
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   34.29
</td>
<td align="right">
  .61
</td>
<td align="right">
   -8.09
</td>
<td align="right">
   -.30
</td>
<td align="right">
  -1.03
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.06
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   45.57
</td>
<td align="right">
  .65
</td>
<td align="right">
   21.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .21
</td>
<td align="right">
     1
</td>
<td align="right">
      .21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   92.70
</td>
<td align="right">
  .61
</td>
<td align="right">
  128.00
</td>
<td align="right">
   -.80
</td>
<td align="right">
   1.28
</td>
<td align="right">
     1
</td>
<td align="right">
     1.28
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   26.34
</td>
<td align="right">
  .57
</td>
<td align="right">
  -54.00
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.54
</td>
<td align="right">
     1
</td>
<td align="right">
     -.54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   32.63
</td>
<td align="right">
  .58
</td>
<td align="right">
  -16.39
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.51
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.03
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   68.41
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.98
</td>
<td align="right">
    .11
</td>
<td align="right">
  -1.13
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.51
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   51.20
</td>
<td align="right">
  .60
</td>
<td align="right">
    3.86
</td>
<td align="right">
    .19
</td>
<td align="right">
   1.29
</td>
<td align="right">
    24
</td>
<td align="right">
    31.01
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   57.63
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.22
</td>
<td align="right">
    .28
</td>
<td align="right">
   1.28
</td>
<td align="right">
    27
</td>
<td align="right">
    34.65
</td>
<td align="right">
   1.06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   296
</td>
<td align="right">
   498.96
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
