<h4>Week of: 2011_08_22</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   41.90
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -.81
</td>
<td align="right">
   -.01
</td>
<td align="right">
     3
</td>
<td align="right">
     -.04
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   70.56
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .64
</td>
<td align="right">
   -.39
</td>
<td align="right">
    .77
</td>
<td align="right">
     8
</td>
<td align="right">
     6.17
</td>
<td align="right">
   1.20
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   63.34
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.14
</td>
<td align="right">
    .21
</td>
<td align="right">
  -1.16
</td>
<td align="right">
    23
</td>
<td align="right">
   -26.69
</td>
<td align="right">
   1.02
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.13
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.85
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.31
</td>
<td align="right">
    49
</td>
<td align="right">
   -15.30
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.77
</td>
<td align="right">
 -.61
</td>
<td align="right">
   15.09
</td>
<td align="right">
    .23
</td>
<td align="right">
    .80
</td>
<td align="right">
    11
</td>
<td align="right">
     8.85
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   68.97
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.76
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .66
</td>
<td align="right">
    24
</td>
<td align="right">
    15.76
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   40.23
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.95
</td>
<td align="right">
   -.39
</td>
<td align="right">
  -1.24
</td>
<td align="right">
     7
</td>
<td align="right">
    -8.67
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  114.34
</td>
<td align="right">
 -.83
</td>
<td align="right">
   -1.22
</td>
<td align="right">
   -.56
</td>
<td align="right">
   -.98
</td>
<td align="right">
     9
</td>
<td align="right">
    -8.79
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   134
</td>
<td align="right">
   -28.71
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  128.34
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.53
</td>
<td align="right">
   -.67
</td>
<td align="right">
   5.30
</td>
<td align="right">
    20
</td>
<td align="right">
   106.05
</td>
<td align="right">
   1.50
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   67.15
</td>
<td align="right">
  .66
</td>
<td align="right">
  -91.92
</td>
<td align="right">
   -.66
</td>
<td align="right">
  -1.30
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.60
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   65.30
</td>
<td align="right">
  .55
</td>
<td align="right">
  312.00
</td>
<td align="right">
   -.08
</td>
<td align="right">
   3.12
</td>
<td align="right">
     1
</td>
<td align="right">
     3.12
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   63.07
</td>
<td align="right">
  .56
</td>
<td align="right">
   10.19
</td>
<td align="right">
   1.05
</td>
<td align="right">
   2.15
</td>
<td align="right">
     3
</td>
<td align="right">
     6.46
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   51.15
</td>
<td align="right">
  .59
</td>
<td align="right">
    6.18
</td>
<td align="right">
    .34
</td>
<td align="right">
   2.41
</td>
<td align="right">
     6
</td>
<td align="right">
    14.47
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   69.21
</td>
<td align="right">
  .62
</td>
<td align="right">
    4.32
</td>
<td align="right">
   1.06
</td>
<td align="right">
   4.98
</td>
<td align="right">
     8
</td>
<td align="right">
    39.85
</td>
<td align="right">
   1.15
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   25.93
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .00
</td>
<td align="right">
     6
</td>
<td align="right">
     -.02
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   52.25
</td>
<td align="right">
  .59
</td>
<td align="right">
   81.00
</td>
<td align="right">
    .38
</td>
<td align="right">
    .81
</td>
<td align="right">
     1
</td>
<td align="right">
      .81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    47
</td>
<td align="right">
   168.14
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
