<h4>Week of: 2011_08_08</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AAPL
</td>
<td align="right">
  374.65
</td>
<td align="right">
 -.59
</td>
<td align="right">
  219.00
</td>
<td align="right">
   2.42
</td>
<td align="right">
   2.19
</td>
<td align="right">
     1
</td>
<td align="right">
     2.19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   21.62
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .17
</td>
<td align="right">
    .06
</td>
<td align="right">
    .07
</td>
<td align="right">
     7
</td>
<td align="right">
      .51
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   50.08
</td>
<td align="right">
 -.60
</td>
<td align="right">
    3.42
</td>
<td align="right">
    .10
</td>
<td align="right">
   1.12
</td>
<td align="right">
    21
</td>
<td align="right">
    23.55
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   43.96
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.13
</td>
<td align="right">
   -.24
</td>
<td align="right">
    .48
</td>
<td align="right">
    11
</td>
<td align="right">
     5.24
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  143.17
</td>
<td align="right">
 -.62
</td>
<td align="right">
    9.13
</td>
<td align="right">
   -.41
</td>
<td align="right">
   7.23
</td>
<td align="right">
     7
</td>
<td align="right">
    50.58
</td>
<td align="right">
    .79
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   40.13
</td>
<td align="right">
 -.73
</td>
<td align="right">
   21.32
</td>
<td align="right">
   1.21
</td>
<td align="right">
   1.37
</td>
<td align="right">
     4
</td>
<td align="right">
     5.46
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   33.71
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.14
</td>
<td align="right">
    .18
</td>
<td align="right">
    .78
</td>
<td align="right">
    18
</td>
<td align="right">
    13.98
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  187.04
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .78
</td>
<td align="right">
    .41
</td>
<td align="right">
   3.76
</td>
<td align="right">
    38
</td>
<td align="right">
   142.89
</td>
<td align="right">
   4.80
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   73.77
</td>
<td align="right">
 -.62
</td>
<td align="right">
    4.42
</td>
<td align="right">
    .63
</td>
<td align="right">
   3.57
</td>
<td align="right">
     8
</td>
<td align="right">
    28.52
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  301.34
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .79
</td>
<td align="right">
    .78
</td>
<td align="right">
   6.33
</td>
<td align="right">
    55
</td>
<td align="right">
   348.11
</td>
<td align="right">
   8.06
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   42.16
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.82
</td>
<td align="right">
    .75
</td>
<td align="right">
   1.85
</td>
<td align="right">
     7
</td>
<td align="right">
    12.94
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   34.38
</td>
<td align="right">
 -.66
</td>
<td align="right">
    2.57
</td>
<td align="right">
    .26
</td>
<td align="right">
   1.46
</td>
<td align="right">
    57
</td>
<td align="right">
    83.09
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   15.95
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.11
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.01
</td>
<td align="right">
     3
</td>
<td align="right">
     -.04
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   62.11
</td>
<td align="right">
 -.61
</td>
<td align="right">
    2.94
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .29
</td>
<td align="right">
     3
</td>
<td align="right">
      .87
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   35.34
</td>
<td align="right">
 -.61
</td>
<td align="right">
    3.50
</td>
<td align="right">
    .83
</td>
<td align="right">
   1.15
</td>
<td align="right">
     7
</td>
<td align="right">
     8.06
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   32.63
</td>
<td align="right">
 -.58
</td>
<td align="right">
   79.00
</td>
<td align="right">
    .05
</td>
<td align="right">
    .79
</td>
<td align="right">
     1
</td>
<td align="right">
      .79
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   33.46
</td>
<td align="right">
 -.76
</td>
<td align="right">
    -.43
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.42
</td>
<td align="right">
    92
</td>
<td align="right">
   -38.78
</td>
<td align="right">
    .98
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   42.24
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.22
</td>
<td align="right">
    .03
</td>
<td align="right">
    .87
</td>
<td align="right">
     4
</td>
<td align="right">
     3.48
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
   93.90
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .47
</td>
<td align="right">
  -1.27
</td>
<td align="right">
   1.03
</td>
<td align="right">
    11
</td>
<td align="right">
    11.37
</td>
<td align="right">
   2.18
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.77
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .64
</td>
<td align="right">
    .02
</td>
<td align="right">
    .24
</td>
<td align="right">
   230
</td>
<td align="right">
    55.97
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  103.71
</td>
<td align="right">
 -.63
</td>
<td align="right">
  208.00
</td>
<td align="right">
    .98
</td>
<td align="right">
   2.08
</td>
<td align="right">
     1
</td>
<td align="right">
     2.08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   36.31
</td>
<td align="right">
 -.59
</td>
<td align="right">
    3.78
</td>
<td align="right">
    .15
</td>
<td align="right">
   1.01
</td>
<td align="right">
    24
</td>
<td align="right">
    24.15
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  564.31
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.51
</td>
<td align="right">
   1.11
</td>
<td align="right">
  -4.44
</td>
<td align="right">
     5
</td>
<td align="right">
   -22.21
</td>
<td align="right">
   8.64
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   54.55
</td>
<td align="right">
 -.58
</td>
<td align="right">
  269.00
</td>
<td align="right">
   1.06
</td>
<td align="right">
   2.69
</td>
<td align="right">
     1
</td>
<td align="right">
     2.69
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   45.02
</td>
<td align="right">
 -.58
</td>
<td align="right">
  187.00
</td>
<td align="right">
    .01
</td>
<td align="right">
   1.87
</td>
<td align="right">
     1
</td>
<td align="right">
     1.87
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  165.46
</td>
<td align="right">
 -.55
</td>
<td align="right">
   91.00
</td>
<td align="right">
  -1.90
</td>
<td align="right">
    .91
</td>
<td align="right">
     1
</td>
<td align="right">
      .91
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   19.86
</td>
<td align="right">
 -.60
</td>
<td align="right">
   61.00
</td>
<td align="right">
    .25
</td>
<td align="right">
    .61
</td>
<td align="right">
     1
</td>
<td align="right">
      .61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   55.59
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.92
</td>
<td align="right">
    .56
</td>
<td align="right">
   4.49
</td>
<td align="right">
     5
</td>
<td align="right">
    22.46
</td>
<td align="right">
   2.34
</td>
</tr>
<tr>
<td>
JOYG
</td>
<td align="right">
   79.79
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .53
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .99
</td>
<td align="right">
     4
</td>
<td align="right">
     3.94
</td>
<td align="right">
   1.84
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  324.00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  288.00
</td>
<td align="right">
   3.87
</td>
<td align="right">
   2.88
</td>
<td align="right">
     1
</td>
<td align="right">
     2.88
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   31.16
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.86
</td>
<td align="right">
    .12
</td>
<td align="right">
    .46
</td>
<td align="right">
    18
</td>
<td align="right">
     8.30
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   33.64
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.08
</td>
<td align="right">
   105
</td>
<td align="right">
    -8.58
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   66.74
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -2.00
</td>
<td align="right">
    .34
</td>
<td align="right">
   -.02
</td>
<td align="right">
     1
</td>
<td align="right">
     -.02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   78.78
</td>
<td align="right">
 -.62
</td>
<td align="right">
    6.66
</td>
<td align="right">
    .61
</td>
<td align="right">
   2.79
</td>
<td align="right">
    13
</td>
<td align="right">
    36.30
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   66.68
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -6.41
</td>
<td align="right">
  -1.69
</td>
<td align="right">
  -3.33
</td>
<td align="right">
     3
</td>
<td align="right">
    -9.99
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   30.19
</td>
<td align="right">
 -.61
</td>
<td align="right">
    3.40
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .99
</td>
<td align="right">
     6
</td>
<td align="right">
     5.93
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.74
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .80
</td>
<td align="right">
    .09
</td>
<td align="right">
    .25
</td>
<td align="right">
    58
</td>
<td align="right">
    14.51
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.42
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .39
</td>
<td align="right">
    .02
</td>
<td align="right">
    .15
</td>
<td align="right">
    36
</td>
<td align="right">
     5.24
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  227.67
</td>
<td align="right">
 -.61
</td>
<td align="right">
    2.70
</td>
<td align="right">
   3.61
</td>
<td align="right">
   7.38
</td>
<td align="right">
     2
</td>
<td align="right">
    14.75
</td>
<td align="right">
   2.74
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   51.37
</td>
<td align="right">
 -.59
</td>
<td align="right">
   54.00
</td>
<td align="right">
    .16
</td>
<td align="right">
    .54
</td>
<td align="right">
     1
</td>
<td align="right">
      .54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   12.71
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.13
</td>
<td align="right">
    .04
</td>
<td align="right">
    .49
</td>
<td align="right">
    64
</td>
<td align="right">
    31.29
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  127.30
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .70
</td>
<td align="right">
   -.16
</td>
<td align="right">
   1.97
</td>
<td align="right">
    28
</td>
<td align="right">
    55.25
</td>
<td align="right">
   2.82
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   28.29
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.60
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.04
</td>
<td align="right">
     4
</td>
<td align="right">
     -.17
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   65.76
</td>
<td align="right">
 -.66
</td>
<td align="right">
    6.03
</td>
<td align="right">
    .32
</td>
<td align="right">
    .87
</td>
<td align="right">
     3
</td>
<td align="right">
     2.61
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   46.78
</td>
<td align="right">
 -.63
</td>
<td align="right">
    8.84
</td>
<td align="right">
    .32
</td>
<td align="right">
    .84
</td>
<td align="right">
     4
</td>
<td align="right">
     3.37
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   53.47
</td>
<td align="right">
 -.63
</td>
<td align="right">
  217.08
</td>
<td align="right">
    .43
</td>
<td align="right">
   1.54
</td>
<td align="right">
     2
</td>
<td align="right">
     3.07
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   51.57
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .31
</td>
<td align="right">
    .03
</td>
<td align="right">
    .24
</td>
<td align="right">
    58
</td>
<td align="right">
    13.79
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   48.15
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .68
</td>
<td align="right">
    .20
</td>
<td align="right">
    .75
</td>
<td align="right">
    27
</td>
<td align="right">
    20.28
</td>
<td align="right">
   1.10
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   51.61
</td>
<td align="right">
 -.59
</td>
<td align="right">
  135.00
</td>
<td align="right">
    .71
</td>
<td align="right">
   1.35
</td>
<td align="right">
     1
</td>
<td align="right">
     1.35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   23.23
</td>
<td align="right">
 -.57
</td>
<td align="right">
    4.34
</td>
<td align="right">
    .31
</td>
<td align="right">
    .95
</td>
<td align="right">
     7
</td>
<td align="right">
     6.63
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   15.32
</td>
<td align="right">
 -.69
</td>
<td align="right">
    1.70
</td>
<td align="right">
    .06
</td>
<td align="right">
    .36
</td>
<td align="right">
    52
</td>
<td align="right">
    18.62
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   37.81
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .08
</td>
<td align="right">
    27
</td>
<td align="right">
     2.29
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   36.09
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.78
</td>
<td align="right">
    .20
</td>
<td align="right">
    .89
</td>
<td align="right">
    55
</td>
<td align="right">
    49.21
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   77.51
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.73
</td>
<td align="right">
    .20
</td>
<td align="right">
   2.46
</td>
<td align="right">
    33
</td>
<td align="right">
    81.18
</td>
<td align="right">
   1.42
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   34.64
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .38
</td>
<td align="right">
    .09
</td>
<td align="right">
    .47
</td>
<td align="right">
     2
</td>
<td align="right">
      .93
</td>
<td align="right">
   1.22
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    8.87
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .81
</td>
<td align="right">
    .00
</td>
<td align="right">
    .24
</td>
<td align="right">
    30
</td>
<td align="right">
     7.13
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   47.53
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -5.00
</td>
<td align="right">
    .41
</td>
<td align="right">
   -.05
</td>
<td align="right">
     1
</td>
<td align="right">
     -.05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   58.47
</td>
<td align="right">
 -.55
</td>
<td align="right">
  197.00
</td>
<td align="right">
   1.03
</td>
<td align="right">
   1.97
</td>
<td align="right">
     1
</td>
<td align="right">
     1.97
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   43.34
</td>
<td align="right">
 -.60
</td>
<td align="right">
    7.92
</td>
<td align="right">
    .32
</td>
<td align="right">
   1.68
</td>
<td align="right">
     2
</td>
<td align="right">
     3.36
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   19.70
</td>
<td align="right">
 -.58
</td>
<td align="right">
    3.27
</td>
<td align="right">
    .02
</td>
<td align="right">
    .62
</td>
<td align="right">
     3
</td>
<td align="right">
     1.87
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   90.52
</td>
<td align="right">
 -.64
</td>
<td align="right">
    6.40
</td>
<td align="right">
    .82
</td>
<td align="right">
   3.46
</td>
<td align="right">
    18
</td>
<td align="right">
    62.20
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   54.60
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .43
</td>
<td align="right">
    .27
</td>
<td align="right">
    .31
</td>
<td align="right">
    14
</td>
<td align="right">
     4.35
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   62.88
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.14
</td>
<td align="right">
   -.38
</td>
<td align="right">
   -.03
</td>
<td align="right">
     3
</td>
<td align="right">
     -.10
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   49.69
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.33
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.16
</td>
<td align="right">
    26
</td>
<td align="right">
    -4.28
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  139.68
</td>
<td align="right">
 -.63
</td>
<td align="right">
    5.93
</td>
<td align="right">
    .27
</td>
<td align="right">
   5.85
</td>
<td align="right">
     7
</td>
<td align="right">
    40.96
</td>
<td align="right">
    .99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1344
</td>
<td align="right">
  1272.25
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   77.74
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.65
</td>
<td align="right">
    .00
</td>
<td align="right">
   2.50
</td>
<td align="right">
     5
</td>
<td align="right">
    12.51
</td>
<td align="right">
   1.52
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   22.50
</td>
<td align="right">
  .64
</td>
<td align="right">
   80.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .80
</td>
<td align="right">
     2
</td>
<td align="right">
     1.60
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   43.72
</td>
<td align="right">
  .60
</td>
<td align="right">
   29.90
</td>
<td align="right">
    .45
</td>
<td align="right">
   1.37
</td>
<td align="right">
     3
</td>
<td align="right">
     4.11
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.36
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.34
</td>
<td align="right">
    .05
</td>
<td align="right">
    .24
</td>
<td align="right">
    11
</td>
<td align="right">
     2.64
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   80.63
</td>
<td align="right">
  .63
</td>
<td align="right">
  305.00
</td>
<td align="right">
   2.65
</td>
<td align="right">
   3.05
</td>
<td align="right">
     1
</td>
<td align="right">
     3.05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  303.89
</td>
<td align="right">
  .59
</td>
<td align="right">
     .73
</td>
<td align="right">
   4.62
</td>
<td align="right">
   8.15
</td>
<td align="right">
     2
</td>
<td align="right">
    16.29
</td>
<td align="right">
  11.15
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   36.49
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.43
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.14
</td>
<td align="right">
     4
</td>
<td align="right">
     -.55
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  129.40
</td>
<td align="right">
  .59
</td>
<td align="right">
     .22
</td>
<td align="right">
    .68
</td>
<td align="right">
    .69
</td>
<td align="right">
    10
</td>
<td align="right">
     6.85
</td>
<td align="right">
   3.09
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   16.02
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.06
</td>
<td align="right">
     6
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   32.48
</td>
<td align="right">
  .60
</td>
<td align="right">
     .90
</td>
<td align="right">
    .43
</td>
<td align="right">
   1.59
</td>
<td align="right">
     6
</td>
<td align="right">
     9.56
</td>
<td align="right">
   1.76
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  112.64
</td>
<td align="right">
  .59
</td>
<td align="right">
   18.05
</td>
<td align="right">
    .63
</td>
<td align="right">
   1.92
</td>
<td align="right">
     2
</td>
<td align="right">
     3.83
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   28.88
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.75
</td>
<td align="right">
    .40
</td>
<td align="right">
    .75
</td>
<td align="right">
     3
</td>
<td align="right">
     2.26
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.55
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.52
</td>
<td align="right">
    .28
</td>
<td align="right">
    .39
</td>
<td align="right">
    12
</td>
<td align="right">
     4.70
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   45.50
</td>
<td align="right">
  .61
</td>
<td align="right">
     .08
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .08
</td>
<td align="right">
     3
</td>
<td align="right">
      .24
</td>
<td align="right">
    .96
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   78.89
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.97
</td>
<td align="right">
    .05
</td>
<td align="right">
  -1.72
</td>
<td align="right">
    18
</td>
<td align="right">
   -31.01
</td>
<td align="right">
   1.78
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   99.22
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.51
</td>
<td align="right">
    .16
</td>
<td align="right">
  -1.28
</td>
<td align="right">
    77
</td>
<td align="right">
   -98.58
</td>
<td align="right">
   2.53
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.48
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.77
</td>
<td align="right">
    .51
</td>
<td align="right">
   2.91
</td>
<td align="right">
     6
</td>
<td align="right">
    17.43
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   16.08
</td>
<td align="right">
  .57
</td>
<td align="right">
   17.00
</td>
<td align="right">
    .25
</td>
<td align="right">
    .17
</td>
<td align="right">
     1
</td>
<td align="right">
      .17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   37.38
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.55
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.39
</td>
<td align="right">
    14
</td>
<td align="right">
    -5.45
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  560.24
</td>
<td align="right">
  .69
</td>
<td align="right">
     .13
</td>
<td align="right">
   -.21
</td>
<td align="right">
   1.13
</td>
<td align="right">
    47
</td>
<td align="right">
    53.20
</td>
<td align="right">
   8.80
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  115.88
</td>
<td align="right">
  .58
</td>
<td align="right">
    9.96
</td>
<td align="right">
   -.29
</td>
<td align="right">
   3.10
</td>
<td align="right">
     2
</td>
<td align="right">
     6.20
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  167.71
</td>
<td align="right">
  .65
</td>
<td align="right">
   -4.45
</td>
<td align="right">
   -.43
</td>
<td align="right">
  -2.48
</td>
<td align="right">
     6
</td>
<td align="right">
   -14.85
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
KO
</td>
<td align="right">
   64.79
</td>
<td align="right">
  .58
</td>
<td align="right">
    3.91
</td>
<td align="right">
   -.08
</td>
<td align="right">
   1.15
</td>
<td align="right">
     3
</td>
<td align="right">
     3.44
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   39.62
</td>
<td align="right">
  .67
</td>
<td align="right">
  -99.00
</td>
<td align="right">
   -.99
</td>
<td align="right">
   -.99
</td>
<td align="right">
     1
</td>
<td align="right">
     -.99
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  316.23
</td>
<td align="right">
  .57
</td>
<td align="right">
  -16.31
</td>
<td align="right">
    .46
</td>
<td align="right">
  -6.46
</td>
<td align="right">
     2
</td>
<td align="right">
   -12.92
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   85.51
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.35
</td>
<td align="right">
    .09
</td>
<td align="right">
    .77
</td>
<td align="right">
    13
</td>
<td align="right">
    10.02
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   29.81
</td>
<td align="right">
  .56
</td>
<td align="right">
  133.00
</td>
<td align="right">
    .63
</td>
<td align="right">
   1.33
</td>
<td align="right">
     1
</td>
<td align="right">
     1.33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.96
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.38
</td>
<td align="right">
    .17
</td>
<td align="right">
    .34
</td>
<td align="right">
    13
</td>
<td align="right">
     4.40
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.56
</td>
<td align="right">
  .65
</td>
<td align="right">
    4.05
</td>
<td align="right">
    .02
</td>
<td align="right">
    .36
</td>
<td align="right">
     3
</td>
<td align="right">
     1.08
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  234.53
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.44
</td>
<td align="right">
   -.83
</td>
<td align="right">
  -1.79
</td>
<td align="right">
    13
</td>
<td align="right">
   -23.28
</td>
<td align="right">
   4.11
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   12.40
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.76
</td>
<td align="right">
    .27
</td>
<td align="right">
    .65
</td>
<td align="right">
     3
</td>
<td align="right">
     1.96
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   72.24
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.71
</td>
<td align="right">
    .41
</td>
<td align="right">
    .53
</td>
<td align="right">
     9
</td>
<td align="right">
     4.77
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   65.88
</td>
<td align="right">
  .65
</td>
<td align="right">
     .03
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .03
</td>
<td align="right">
    77
</td>
<td align="right">
     2.20
</td>
<td align="right">
    .93
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   53.33
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.01
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.14
</td>
<td align="right">
    10
</td>
<td align="right">
    11.40
</td>
<td align="right">
   1.13
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   32.44
</td>
<td align="right">
  .63
</td>
<td align="right">
    9.78
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .79
</td>
<td align="right">
     6
</td>
<td align="right">
     4.73
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   37.29
</td>
<td align="right">
  .58
</td>
<td align="right">
   86.00
</td>
<td align="right">
    .49
</td>
<td align="right">
    .86
</td>
<td align="right">
     1
</td>
<td align="right">
      .86
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   38.33
</td>
<td align="right">
  .59
</td>
<td align="right">
  132.00
</td>
<td align="right">
   -.13
</td>
<td align="right">
   1.32
</td>
<td align="right">
     1
</td>
<td align="right">
     1.32
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   79.69
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.25
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.23
</td>
<td align="right">
    29
</td>
<td align="right">
    -6.78
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   19.40
</td>
<td align="right">
  .60
</td>
<td align="right">
   75.00
</td>
<td align="right">
    .16
</td>
<td align="right">
    .75
</td>
<td align="right">
     1
</td>
<td align="right">
      .75
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   50.12
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.70
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.19
</td>
<td align="right">
    26
</td>
<td align="right">
    -4.92
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   453
</td>
<td align="right">
    -6.76
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
