<h4>Week of: 2011_05_23</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   51.70
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .48
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .26
</td>
<td align="right">
     3
</td>
<td align="right">
      .77
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   28.78
</td>
<td align="right">
 -.73
</td>
<td align="right">
  -51.00
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.51
</td>
<td align="right">
     1
</td>
<td align="right">
     -.51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ALL
</td>
<td align="right">
   31.22
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .54
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .06
</td>
<td align="right">
     4
</td>
<td align="right">
      .24
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   50.97
</td>
<td align="right">
 -.55
</td>
<td align="right">
   42.00
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .42
</td>
<td align="right">
     1
</td>
<td align="right">
      .42
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   40.02
</td>
<td align="right">
 -.74
</td>
<td align="right">
    1.77
</td>
<td align="right">
    .02
</td>
<td align="right">
    .42
</td>
<td align="right">
    41
</td>
<td align="right">
    17.36
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   45.04
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -6.32
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.56
</td>
<td align="right">
    12
</td>
<td align="right">
    -6.69
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   12.56
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.63
</td>
<td align="right">
    .04
</td>
<td align="right">
    .17
</td>
<td align="right">
    14
</td>
<td align="right">
     2.44
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   31.81
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -5.10
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.46
</td>
<td align="right">
    12
</td>
<td align="right">
    -5.57
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  131.09
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.01
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.05
</td>
<td align="right">
     7
</td>
<td align="right">
     -.33
</td>
<td align="right">
   3.39
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   40.23
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.78
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .21
</td>
<td align="right">
     3
</td>
<td align="right">
      .63
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   53.23
</td>
<td align="right">
 -.57
</td>
<td align="right">
   54.00
</td>
<td align="right">
   -.37
</td>
<td align="right">
    .54
</td>
<td align="right">
     1
</td>
<td align="right">
      .54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  144.69
</td>
<td align="right">
 -.83
</td>
<td align="right">
    4.43
</td>
<td align="right">
   1.04
</td>
<td align="right">
   4.03
</td>
<td align="right">
    11
</td>
<td align="right">
    44.33
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   35.87
</td>
<td align="right">
 -.59
</td>
<td align="right">
    7.20
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .33
</td>
<td align="right">
     3
</td>
<td align="right">
      .99
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   39.70
</td>
<td align="right">
 -.60
</td>
<td align="right">
    2.99
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .80
</td>
<td align="right">
     7
</td>
<td align="right">
     5.58
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   82.20
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.39
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .21
</td>
<td align="right">
     5
</td>
<td align="right">
     1.04
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   72.17
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .66
</td>
<td align="right">
    .02
</td>
<td align="right">
    .20
</td>
<td align="right">
    45
</td>
<td align="right">
     9.10
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.65
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.67
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .46
</td>
<td align="right">
    40
</td>
<td align="right">
    18.45
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  112.45
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .66
</td>
<td align="right">
    .19
</td>
<td align="right">
    .23
</td>
<td align="right">
    23
</td>
<td align="right">
     5.19
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
  119.59
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .47
</td>
<td align="right">
    .12
</td>
<td align="right">
   1.89
</td>
<td align="right">
    51
</td>
<td align="right">
    96.28
</td>
<td align="right">
   3.98
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   70.65
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.06
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.06
</td>
<td align="right">
    27
</td>
<td align="right">
    -1.50
</td>
<td align="right">
    .87
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  518.01
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .67
</td>
<td align="right">
    .58
</td>
<td align="right">
   2.62
</td>
<td align="right">
    87
</td>
<td align="right">
   228.01
</td>
<td align="right">
   3.92
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  135.96
</td>
<td align="right">
 -.60
</td>
<td align="right">
    8.11
</td>
<td align="right">
    .01
</td>
<td align="right">
    .89
</td>
<td align="right">
     3
</td>
<td align="right">
     2.68
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
   13.55
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.10
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.18
</td>
<td align="right">
    42
</td>
<td align="right">
    -7.72
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   61.42
</td>
<td align="right">
 -.70
</td>
<td align="right">
    4.04
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .57
</td>
<td align="right">
    24
</td>
<td align="right">
    13.67
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   38.15
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .56
</td>
<td align="right">
    .06
</td>
<td align="right">
    .18
</td>
<td align="right">
    10
</td>
<td align="right">
     1.76
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   40.31
</td>
<td align="right">
 -.64
</td>
<td align="right">
  107.00
</td>
<td align="right">
    .46
</td>
<td align="right">
   1.07
</td>
<td align="right">
     1
</td>
<td align="right">
     1.07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  274.88
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .42
</td>
<td align="right">
  -1.27
</td>
<td align="right">
   1.44
</td>
<td align="right">
     8
</td>
<td align="right">
    11.51
</td>
<td align="right">
   3.41
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   40.21
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .53
</td>
<td align="right">
    .04
</td>
<td align="right">
    .07
</td>
<td align="right">
    26
</td>
<td align="right">
     1.74
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   66.41
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .95
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .82
</td>
<td align="right">
    16
</td>
<td align="right">
    13.05
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   66.85
</td>
<td align="right">
 -.74
</td>
<td align="right">
    2.82
</td>
<td align="right">
    .39
</td>
<td align="right">
    .82
</td>
<td align="right">
    14
</td>
<td align="right">
    11.42
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.25
</td>
<td align="right">
 -.64
</td>
<td align="right">
   53.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .53
</td>
<td align="right">
     1
</td>
<td align="right">
      .53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.56
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.26
</td>
<td align="right">
    .06
</td>
<td align="right">
    .22
</td>
<td align="right">
    77
</td>
<td align="right">
    17.12
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   55.48
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -1.14
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.48
</td>
<td align="right">
    72
</td>
<td align="right">
   -34.81
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   72.69
</td>
<td align="right">
 -.86
</td>
<td align="right">
   46.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .46
</td>
<td align="right">
     1
</td>
<td align="right">
      .46
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   65.93
</td>
<td align="right">
 -.58
</td>
<td align="right">
    2.06
</td>
<td align="right">
    .10
</td>
<td align="right">
    .37
</td>
<td align="right">
     2
</td>
<td align="right">
      .73
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   53.42
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.50
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.11
</td>
<td align="right">
     5
</td>
<td align="right">
     -.56
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   63.54
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.55
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.09
</td>
<td align="right">
     8
</td>
<td align="right">
     -.74
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   43.44
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .06
</td>
<td align="right">
    .03
</td>
<td align="right">
    .03
</td>
<td align="right">
    28
</td>
<td align="right">
      .71
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   36.42
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .03
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .00
</td>
<td align="right">
   145
</td>
<td align="right">
      .71
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   36.50
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.97
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.82
</td>
<td align="right">
    13
</td>
<td align="right">
   -10.66
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   17.84
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.60
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.15
</td>
<td align="right">
    40
</td>
<td align="right">
    -5.94
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   45.71
</td>
<td align="right">
 -.56
</td>
<td align="right">
   72.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .72
</td>
<td align="right">
     1
</td>
<td align="right">
      .72
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   80.82
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .48
</td>
<td align="right">
    .08
</td>
<td align="right">
    .35
</td>
<td align="right">
     7
</td>
<td align="right">
     2.44
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  132.08
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.29
</td>
<td align="right">
    .23
</td>
<td align="right">
   1.07
</td>
<td align="right">
     9
</td>
<td align="right">
     9.61
</td>
<td align="right">
    .82
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
   10.76
</td>
<td align="right">
 -.61
</td>
<td align="right">
    9.23
</td>
<td align="right">
    .20
</td>
<td align="right">
    .35
</td>
<td align="right">
     9
</td>
<td align="right">
     3.11
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   49.19
</td>
<td align="right">
 -.63
</td>
<td align="right">
   17.00
</td>
<td align="right">
    .26
</td>
<td align="right">
    .17
</td>
<td align="right">
     1
</td>
<td align="right">
      .17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
   96.04
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -6.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.06
</td>
<td align="right">
     1
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   34.67
</td>
<td align="right">
 -.60
</td>
<td align="right">
    5.12
</td>
<td align="right">
    .04
</td>
<td align="right">
    .39
</td>
<td align="right">
    12
</td>
<td align="right">
     4.66
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   78.53
</td>
<td align="right">
 -.66
</td>
<td align="right">
    3.06
</td>
<td align="right">
    .22
</td>
<td align="right">
   1.21
</td>
<td align="right">
    25
</td>
<td align="right">
    30.13
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   60.70
</td>
<td align="right">
 -.71
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.03
</td>
<td align="right">
    81
</td>
<td align="right">
    -2.48
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   74.55
</td>
<td align="right">
 -.55
</td>
<td align="right">
   10.01
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.35
</td>
<td align="right">
     2
</td>
<td align="right">
     2.69
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1082
</td>
<td align="right">
   484.49
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ALL
</td>
<td align="right">
   31.37
</td>
<td align="right">
  .62
</td>
<td align="right">
  -21.00
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.21
</td>
<td align="right">
     1
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   59.89
</td>
<td align="right">
  .58
</td>
<td align="right">
   -3.67
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.16
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.27
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   51.32
</td>
<td align="right">
  .69
</td>
<td align="right">
    2.32
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .57
</td>
<td align="right">
    17
</td>
<td align="right">
     9.70
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   44.75
</td>
<td align="right">
  .59
</td>
<td align="right">
   23.33
</td>
<td align="right">
    .20
</td>
<td align="right">
    .33
</td>
<td align="right">
     2
</td>
<td align="right">
      .66
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   12.59
</td>
<td align="right">
  .66
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .01
</td>
<td align="right">
    32
</td>
<td align="right">
      .42
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   26.04
</td>
<td align="right">
  .76
</td>
<td align="right">
   53.00
</td>
<td align="right">
    .01
</td>
<td align="right">
    .53
</td>
<td align="right">
     1
</td>
<td align="right">
      .53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   31.30
</td>
<td align="right">
  .63
</td>
<td align="right">
     .06
</td>
<td align="right">
    .08
</td>
<td align="right">
    .02
</td>
<td align="right">
    11
</td>
<td align="right">
      .22
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  129.41
</td>
<td align="right">
  .58
</td>
<td align="right">
    2.32
</td>
<td align="right">
   1.14
</td>
<td align="right">
    .98
</td>
<td align="right">
    10
</td>
<td align="right">
     9.77
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   58.76
</td>
<td align="right">
  .56
</td>
<td align="right">
  208.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
   2.08
</td>
<td align="right">
     1
</td>
<td align="right">
     2.08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   59.23
</td>
<td align="right">
  .74
</td>
<td align="right">
     .20
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .04
</td>
<td align="right">
     5
</td>
<td align="right">
      .21
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   52.35
</td>
<td align="right">
  .61
</td>
<td align="right">
  -40.00
</td>
<td align="right">
    .24
</td>
<td align="right">
   -.40
</td>
<td align="right">
     1
</td>
<td align="right">
     -.40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   41.45
</td>
<td align="right">
  .71
</td>
<td align="right">
    8.78
</td>
<td align="right">
    .21
</td>
<td align="right">
   2.11
</td>
<td align="right">
     2
</td>
<td align="right">
     4.22
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  152.04
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.38
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.45
</td>
<td align="right">
   108
</td>
<td align="right">
   -49.06
</td>
<td align="right">
   1.19
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   35.88
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.00
</td>
<td align="right">
    .30
</td>
<td align="right">
    .46
</td>
<td align="right">
    14
</td>
<td align="right">
     6.49
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  123.56
</td>
<td align="right">
  .60
</td>
<td align="right">
     .90
</td>
<td align="right">
   -.19
</td>
<td align="right">
    .31
</td>
<td align="right">
     5
</td>
<td align="right">
     1.57
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.10
</td>
<td align="right">
  .62
</td>
<td align="right">
     .98
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .50
</td>
<td align="right">
    19
</td>
<td align="right">
     9.51
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   59.58
</td>
<td align="right">
  .71
</td>
<td align="right">
    2.21
</td>
<td align="right">
    .08
</td>
<td align="right">
    .45
</td>
<td align="right">
   100
</td>
<td align="right">
    44.84
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
  105.27
</td>
<td align="right">
  .60
</td>
<td align="right">
   11.81
</td>
<td align="right">
    .77
</td>
<td align="right">
   1.67
</td>
<td align="right">
     2
</td>
<td align="right">
     3.34
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   73.70
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.00
</td>
<td align="right">
    .06
</td>
<td align="right">
    .96
</td>
<td align="right">
     3
</td>
<td align="right">
     2.87
</td>
<td align="right">
    .96
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.84
</td>
<td align="right">
  .71
</td>
<td align="right">
    1.36
</td>
<td align="right">
    .08
</td>
<td align="right">
    .72
</td>
<td align="right">
   141
</td>
<td align="right">
   101.98
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   40.53
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.35
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.11
</td>
<td align="right">
    13
</td>
<td align="right">
    -1.44
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  520.20
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.05
</td>
<td align="right">
   -.85
</td>
<td align="right">
   -.21
</td>
<td align="right">
     3
</td>
<td align="right">
     -.62
</td>
<td align="right">
   4.03
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   20.81
</td>
<td align="right">
  .61
</td>
<td align="right">
   -4.02
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.25
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.74
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   60.47
</td>
<td align="right">
  .71
</td>
<td align="right">
     .73
</td>
<td align="right">
    .14
</td>
<td align="right">
    .12
</td>
<td align="right">
     4
</td>
<td align="right">
      .47
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   65.76
</td>
<td align="right">
  .65
</td>
<td align="right">
    2.07
</td>
<td align="right">
    .03
</td>
<td align="right">
    .61
</td>
<td align="right">
    11
</td>
<td align="right">
     6.73
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  274.71
</td>
<td align="right">
  .61
</td>
<td align="right">
     .47
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.33
</td>
<td align="right">
    17
</td>
<td align="right">
    22.65
</td>
<td align="right">
   2.82
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   40.48
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.67
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.21
</td>
<td align="right">
    13
</td>
<td align="right">
    -2.74
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   36.34
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.15
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.02
</td>
<td align="right">
    11
</td>
<td align="right">
     -.26
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.14
</td>
<td align="right">
  .56
</td>
<td align="right">
    2.71
</td>
<td align="right">
    .08
</td>
<td align="right">
    .10
</td>
<td align="right">
     6
</td>
<td align="right">
      .60
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   18.30
</td>
<td align="right">
  .72
</td>
<td align="right">
    2.25
</td>
<td align="right">
    .04
</td>
<td align="right">
    .32
</td>
<td align="right">
    60
</td>
<td align="right">
    19.35
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   74.01
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.78
</td>
<td align="right">
    .22
</td>
<td align="right">
    .59
</td>
<td align="right">
    24
</td>
<td align="right">
    14.26
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   69.40
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.45
</td>
<td align="right">
    .08
</td>
<td align="right">
    .59
</td>
<td align="right">
    71
</td>
<td align="right">
    41.72
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   61.23
</td>
<td align="right">
  .58
</td>
<td align="right">
  132.00
</td>
<td align="right">
    .28
</td>
<td align="right">
   1.32
</td>
<td align="right">
     2
</td>
<td align="right">
     2.64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   52.25
</td>
<td align="right">
  .63
</td>
<td align="right">
    4.84
</td>
<td align="right">
    .01
</td>
<td align="right">
    .98
</td>
<td align="right">
    17
</td>
<td align="right">
    16.66
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  174.88
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.75
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.61
</td>
<td align="right">
    55
</td>
<td align="right">
    88.66
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   62.47
</td>
<td align="right">
  .63
</td>
<td align="right">
  -11.19
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -1.28
</td>
<td align="right">
     6
</td>
<td align="right">
    -7.68
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   56.81
</td>
<td align="right">
  .66
</td>
<td align="right">
     .50
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .02
</td>
<td align="right">
     8
</td>
<td align="right">
      .16
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   68.97
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.19
</td>
<td align="right">
    .42
</td>
<td align="right">
    .34
</td>
<td align="right">
     2
</td>
<td align="right">
      .68
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   36.36
</td>
<td align="right">
  .58
</td>
<td align="right">
    3.36
</td>
<td align="right">
    .11
</td>
<td align="right">
    .29
</td>
<td align="right">
     5
</td>
<td align="right">
     1.43
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   79.25
</td>
<td align="right">
  .61
</td>
<td align="right">
     .22
</td>
<td align="right">
    .00
</td>
<td align="right">
    .11
</td>
<td align="right">
    35
</td>
<td align="right">
     3.89
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  133.46
</td>
<td align="right">
  .59
</td>
<td align="right">
    3.65
</td>
<td align="right">
    .23
</td>
<td align="right">
    .85
</td>
<td align="right">
    11
</td>
<td align="right">
     9.33
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   45.05
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.96
</td>
<td align="right">
    .09
</td>
<td align="right">
    .28
</td>
<td align="right">
    12
</td>
<td align="right">
     3.36
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   34.28
</td>
<td align="right">
  .58
</td>
<td align="right">
     .32
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .11
</td>
<td align="right">
     4
</td>
<td align="right">
      .42
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   77.09
</td>
<td align="right">
  .77
</td>
<td align="right">
     .65
</td>
<td align="right">
    .04
</td>
<td align="right">
    .60
</td>
<td align="right">
   114
</td>
<td align="right">
    68.90
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   44.31
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.32
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.07
</td>
<td align="right">
    68
</td>
<td align="right">
    -4.68
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   59.73
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.30
</td>
<td align="right">
    .17
</td>
<td align="right">
    .57
</td>
<td align="right">
    10
</td>
<td align="right">
     5.71
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   55.21
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.90
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.19
</td>
<td align="right">
    11
</td>
<td align="right">
    -2.13
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  141.67
</td>
<td align="right">
  .77
</td>
<td align="right">
    1.54
</td>
<td align="right">
    .18
</td>
<td align="right">
   1.54
</td>
<td align="right">
    58
</td>
<td align="right">
    89.58
</td>
<td align="right">
   1.00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1141
</td>
<td align="right">
   523.38
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
