<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-10
09:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 110.1293
</td>
<td align="right">
 110.0236
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-10 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-10
11:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0337
</td>
<td align="right">
   1.0275
</td>
<td align="right">
 -.0060
</td>
<td>
2011-08-10 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-10
11:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0341
</td>
<td align="right">
   1.0288
</td>
<td align="right">
 -.0051
</td>
<td>
2011-08-10 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-10
11:55:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0343
</td>
<td align="right">
   1.0284
</td>
<td align="right">
 -.0057
</td>
<td>
2011-08-10 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-10
12:00:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.0331
</td>
<td align="right">
   1.0272
</td>
<td align="right">
 -.0057
</td>
<td>
2011-08-10 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-10
09:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 110.1278
</td>
<td align="right">
 110.0273
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-10 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-10
10:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 109.9762
</td>
<td align="right">
 109.8574
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-10 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-10
10:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 110.0716
</td>
<td align="right">
 109.8916
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-10 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-10
11:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 109.9220
</td>
<td align="right">
 109.8520
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-10 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-10
12:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4331
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-10
13:00:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4256
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 19:00:00
</td>
</tr>
</table>
<br /><hr />