<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-09
03:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0363
</td>
<td align="right">
   1.0356
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-09 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
07:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3341
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-09 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
02:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 107.3870
</td>
<td align="right">
 107.2847
</td>
<td align="right">
 -.0010
</td>
<td>
2011-11-09 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
02:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 107.3550
</td>
<td align="right">
 107.3188
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-09 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
05:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 107.3444
</td>
<td align="right">
 107.2257
</td>
<td align="right">
 -.0011
</td>
<td>
2011-11-09 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-09
05:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.3211
</td>
<td align="right">
  80.4175
</td>
<td align="right">
  .0012
</td>
<td>
2011-11-09 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
02:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3342
</td>
<td align="right">
   1.3360
</td>
<td align="right">
  .0014
</td>
<td>
2011-11-09 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
02:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3344
</td>
<td align="right">
   1.3351
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-09 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
02:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3341
</td>
<td align="right">
   1.3355
</td>
<td align="right">
  .0011
</td>
<td>
2011-11-09 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
03:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3350
</td>
<td align="right">
   1.3352
</td>
<td align="right">
  .0002
</td>
<td>
2011-11-09 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
03:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3351
</td>
<td align="right">
   1.3353
</td>
<td align="right">
  .0002
</td>
<td>
2011-11-09 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
03:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3351
</td>
<td align="right">
   1.3356
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-09 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
04:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3353
</td>
<td align="right">
   1.3354
</td>
<td align="right">
  .0001
</td>
<td>
2011-11-09 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
04:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3352
</td>
<td align="right">
   1.3358
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-09 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-09
05:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3354
</td>
<td align="right">
   1.3348
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-09 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
05:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 107.2433
</td>
<td align="right">
 107.2580
</td>
<td align="right">
  .0001
</td>
<td>
2011-11-09 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
05:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 107.2569
</td>
<td align="right">
 107.2233
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-09 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
05:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 107.2302
</td>
<td align="right">
 107.2113
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-09 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
06:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 107.2233
</td>
<td align="right">
 107.1357
</td>
<td align="right">
 -.0008
</td>
<td>
2011-11-09 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
06:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 107.2113
</td>
<td align="right">
 107.1758
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-09 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
06:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 107.2419
</td>
<td align="right">
 107.1328
</td>
<td align="right">
 -.0010
</td>
<td>
2011-11-09 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
06:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 107.2673
</td>
<td align="right">
 107.0675
</td>
<td align="right">
 -.0019
</td>
<td>
2011-11-09 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
06:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 107.2658
</td>
<td align="right">
 107.0203
</td>
<td align="right">
 -.0023
</td>
<td>
2011-11-09 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
06:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 107.2716
</td>
<td align="right">
 107.0335
</td>
<td align="right">
 -.0022
</td>
<td>
2011-11-09 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
07:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 107.1845
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-09 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
07:30:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 107.1328
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-09 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
07:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 107.0203
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-09 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
07:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 107.0133
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-09 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
07:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 107.0335
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-09 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
08:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 106.9574
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-09 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-09
08:05:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 106.9503
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-09 14:05:00
</td>
</tr>
</table>
<br /><hr />