<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
18:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3823
</td>
<td align="right">
   1.3793
</td>
<td align="right">
 -.0022
</td>
<td>
2011-10-13 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
18:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3816
</td>
<td align="right">
   1.3801
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-13 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
18:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3791
</td>
<td align="right">
   1.3792
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
19:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3793
</td>
<td align="right">
   1.3794
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
19:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3792
</td>
<td align="right">
   1.3783
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-13 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
19:20:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3793
</td>
<td align="right">
   1.3786
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-13 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
19:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3801
</td>
<td align="right">
   1.3784
</td>
<td align="right">
 -.0012
</td>
<td>
2011-10-13 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
19:50:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3794
</td>
<td align="right">
   1.3787
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-13 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
19:55:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3792
</td>
<td align="right">
   1.3792
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
20:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3794
</td>
<td align="right">
   1.3787
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-13 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-12
19:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  77.2975
</td>
<td align="right">
  77.2850
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-13 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-12
20:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.2650
</td>
<td align="right">
  77.2500
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-13 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-12
23:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0147
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-13 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
18:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8753
</td>
<td align="right">
    .8754
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
19:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8755
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
19:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8756
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-13 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
19:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8753
</td>
<td align="right">
    .8755
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-13 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
21:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8752
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
21:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8753
</td>
<td align="right">
    .8754
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-13 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
21:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8754
</td>
<td align="right">
    .8755
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-13 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
22:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8753
</td>
<td align="right">
    .8752
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-13 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
22:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8756
</td>
<td align="right">
    .8754
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-13 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
22:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8756
</td>
<td align="right">
    .8755
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-13 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
22:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8756
</td>
<td align="right">
    .8758
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-13 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
22:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8756
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-13 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
22:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8754
</td>
<td align="right">
    .8759
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-13 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
22:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8755
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
22:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8754
</td>
<td align="right">
    .8756
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-13 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:00:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8757
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-13 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8757
</td>
<td align="right">
    .8755
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-13 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8754
</td>
<td align="right">
    .8754
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8755
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-13 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8758
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-13 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8759
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-13 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:45:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8755
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-13 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8754
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-13 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-12
23:55:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8756
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-13 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
20:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3784
</td>
<td align="right">
   1.3784
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
21:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3784
</td>
<td align="right">
   1.3786
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-13 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-12
23:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3787
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-13 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-12
23:00:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
  77.2300
</td>
<td align="right">
  77.1575
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-13 05:00:00
</td>
</tr>
</table>
<br /><hr />