<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  79.8873
</td>
<td align="right">
  79.6041
</td>
<td align="right">
 -.0035
</td>
<td>
2011-10-17 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  79.8281
</td>
<td align="right">
  79.6282
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-17 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  79.8429
</td>
<td align="right">
  79.6109
</td>
<td align="right">
 -.0029
</td>
<td>
2011-10-17 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  79.9003
</td>
<td align="right">
  79.7213
</td>
<td align="right">
 -.0022
</td>
<td>
2011-10-17 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-14
20:40:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  77.2425
</td>
<td align="right">
  77.1458
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-17 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-14
20:45:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  77.2375
</td>
<td align="right">
  77.1813
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-17 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-14
20:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  77.2025
</td>
<td align="right">
  77.1804
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-17 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-14
20:55:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  77.2225
</td>
<td align="right">
  77.1788
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-17 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
21:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  77.1335
</td>
<td align="right">
  77.2175
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
21:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.1458
</td>
<td align="right">
  77.2356
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-17 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.1813
</td>
<td align="right">
  77.2347
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  77.1804
</td>
<td align="right">
  77.2098
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:10:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  77.1788
</td>
<td align="right">
  77.2290
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  77.1884
</td>
<td align="right">
  77.2156
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:20:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.2065
</td>
<td align="right">
  77.2181
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-17 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:25:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  77.2063
</td>
<td align="right">
  77.2021
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.2072
</td>
<td align="right">
  77.2044
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-17 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:35:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
  77.2275
</td>
<td align="right">
  77.1796
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-17 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  77.2175
</td>
<td align="right">
  77.2104
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:45:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.2329
</td>
<td align="right">
  77.2044
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-17 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:50:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.2369
</td>
<td align="right">
  77.2066
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-17 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:55:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  77.2356
</td>
<td align="right">
  77.2244
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:00:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  77.2347
</td>
<td align="right">
  77.2210
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-17 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:05:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  77.2098
</td>
<td align="right">
  77.2003
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:10:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  77.2290
</td>
<td align="right">
  77.2262
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-17 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.2156
</td>
<td align="right">
  77.2673
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  77.2181
</td>
<td align="right">
  77.2428
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:25:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  77.2021
</td>
<td align="right">
  77.2460
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.2044
</td>
<td align="right">
  77.2519
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.2104
</td>
<td align="right">
  77.2697
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.2044
</td>
<td align="right">
  77.2874
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.2066
</td>
<td align="right">
  77.2856
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-17 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.2244
</td>
<td align="right">
  77.2850
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-17
00:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.2210
</td>
<td align="right">
  77.2700
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-17
00:05:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  77.2003
</td>
<td align="right">
  77.2850
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-17
00:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.2262
</td>
<td align="right">
  77.2725
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
21:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.5912
</td>
<td align="right">
  79.7449
</td>
<td align="right">
  .0019
</td>
<td>
2011-10-17 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
21:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  79.5785
</td>
<td align="right">
  79.7816
</td>
<td align="right">
  .0026
</td>
<td>
2011-10-17 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
21:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.6282
</td>
<td align="right">
  79.7488
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-17 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
21:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.6564
</td>
<td align="right">
  79.7855
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-17 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
23:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.7444
</td>
<td align="right">
  79.7444
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-17 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
23:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.6461
</td>
<td align="right">
  79.7307
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
23:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.6234
</td>
<td align="right">
  79.7394
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-17 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:00:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  79.6939
</td>
<td align="right">
  79.6750
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-17 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-16
22:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0103
</td>
<td align="right">
   1.0094
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-17 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-16
22:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0099
</td>
<td align="right">
   1.0111
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-16
21:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8917
</td>
<td align="right">
    .8919
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-16
23:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8915
</td>
<td align="right">
    .8929
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-17 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-16
23:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8922
</td>
<td align="right">
    .8931
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-17 05:55:00
</td>
</tr>
</table>
<br /><hr />