<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
20:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3521
</td>
<td align="right">
   1.3527
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-31 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
20:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3520
</td>
<td align="right">
   1.3524
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-31 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
20:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.4443
</td>
<td align="right">
   1.4441
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-31 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
20:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4443
</td>
<td align="right">
   1.4437
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-31 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
20:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4444
</td>
<td align="right">
   1.4441
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-31 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
20:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4439
</td>
<td align="right">
   1.4440
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-31 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
20:55:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.4442
</td>
<td align="right">
   1.4440
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-31 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
00:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4437
</td>
<td align="right">
   1.4426
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-31 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-30
23:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8204
</td>
<td align="right">
    .8191
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-31 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
00:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  76.6825
</td>
<td align="right">
  76.6250
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-31 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
00:35:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  76.6900
</td>
<td align="right">
  76.6275
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-31 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
00:40:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  76.6800
</td>
<td align="right">
  76.6350
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-31 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
00:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  76.6725
</td>
<td align="right">
  76.6100
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-31 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
00:50:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  76.6988
</td>
<td align="right">
  76.6188
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-31 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
00:55:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  76.6825
</td>
<td align="right">
  76.6450
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-31 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
01:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.6650
</td>
<td align="right">
  76.6350
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-31 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
02:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  76.6188
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
02:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  76.5800
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
21:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  81.9240
</td>
<td align="right">
  81.9701
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-31 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
21:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  81.8874
</td>
<td align="right">
  81.9617
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-31 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
21:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  81.8699
</td>
<td align="right">
  81.8927
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-31 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
22:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.9120
</td>
<td align="right">
  81.8963
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-31 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
22:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.9073
</td>
<td align="right">
  81.8825
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-31 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
22:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  81.9112
</td>
<td align="right">
  81.9156
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-31 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
00:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  81.7125
</td>
<td align="right">
  81.7199
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-31 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
00:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  81.7685
</td>
<td align="right">
  81.7359
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-31 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
00:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  81.7602
</td>
<td align="right">
  81.7251
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-31 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
00:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  81.7827
</td>
<td align="right">
  81.6912
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-31 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
00:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7550
</td>
<td align="right">
  81.7496
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-31 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  81.7364
</td>
<td align="right">
  81.7504
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-31 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  81.7619
</td>
<td align="right">
  81.7560
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-31 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  81.7246
</td>
<td align="right">
  81.7434
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-31 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  81.7199
</td>
<td align="right">
  81.7768
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-31 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  81.7049
</td>
<td align="right">
  81.7759
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-31 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:30:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
  81.7359
</td>
<td align="right">
  81.7656
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-31 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  81.7251
</td>
<td align="right">
  81.7526
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-31 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  81.7351
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  81.6912
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:50:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
  81.7014
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
01:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  81.7496
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
02:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7504
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
02:05:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  81.7560
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
02:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  81.7433
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
02:20:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  81.7768
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
02:25:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
  81.7759
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
02:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  81.7656
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
02:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  81.7526
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-30
21:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8858
</td>
<td align="right">
    .8857
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-31 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-30
23:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8853
</td>
<td align="right">
    .8852
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-31 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-31
02:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8852
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-31
02:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8853
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
02:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4435
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
02:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4436
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-31
01:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8190
</td>
<td align="right">
    .8190
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-31 07:25:00
</td>
</tr>
</table>
<br /><hr />