<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
23:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8835
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-26 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-26
00:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8829
</td>
<td align="right">
    .8834
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-26 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
23:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 112.5915
</td>
<td align="right">
 112.5824
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-26 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
23:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 112.5757
</td>
<td align="right">
 112.6035
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-26 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
23:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 112.5589
</td>
<td align="right">
 112.5621
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-26 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-26
02:15:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 112.8089
</td>
<td align="right">
 113.0756
</td>
<td align="right">
  .0024
</td>
<td>
2011-07-26 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
23:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  78.3150
</td>
<td align="right">
  78.3100
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-26 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
00:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  78.3325
</td>
<td align="right">
  78.1325
</td>
<td align="right">
 -.0026
</td>
<td>
2011-07-26 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-25
23:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3253
</td>
<td align="right">
   1.3262
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-26 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
00:10:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3267
</td>
<td align="right">
   1.3266
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-26 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
00:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3268
</td>
<td align="right">
   1.3259
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-26 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-26
04:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 112.9746
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-26
04:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 112.9977
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-26
04:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 113.0075
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
02:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  78.2200
</td>
<td align="right">
  78.0788
</td>
<td align="right">
 -.0018
</td>
<td>
2011-07-26 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
02:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  78.2225
</td>
<td align="right">
  78.0975
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-26 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
04:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  78.1300
</td>
<td align="right">
  78.0800
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-26 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
04:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  78.0600
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
04:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  78.0600
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 10:50:00
</td>
</tr>
</table>
<br /><hr />