<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
04:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3773
</td>
<td align="right">
   1.3828
</td>
<td align="right">
  .0040
</td>
<td>
2011-09-26 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
04:20:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.3782
</td>
<td align="right">
   1.3827
</td>
<td align="right">
  .0033
</td>
<td>
2011-09-26 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
03:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9743
</td>
<td align="right">
    .9717
</td>
<td align="right">
 -.0027
</td>
<td>
2011-09-26 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
03:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9732
</td>
<td align="right">
    .9719
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-26 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
04:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9734
</td>
<td align="right">
    .9712
</td>
<td align="right">
 -.0023
</td>
<td>
2011-09-26 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
04:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9737
</td>
<td align="right">
    .9699
</td>
<td align="right">
 -.0039
</td>
<td>
2011-09-26 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
05:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9690
</td>
<td align="right">
    .9645
</td>
<td align="right">
 -.0046
</td>
<td>
2011-09-26 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
05:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9681
</td>
<td align="right">
    .9634
</td>
<td align="right">
 -.0048
</td>
<td>
2011-09-26 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
05:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9685
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
05:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9684
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
05:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9681
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
05:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9669
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
06:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9641
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
01:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3744
</td>
<td align="right">
   1.3736
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-26 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
01:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3730
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-26 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
01:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3723
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-26 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
01:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3728
</td>
<td align="right">
   1.3727
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-26 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
01:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3727
</td>
<td align="right">
   1.3730
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-26 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
01:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3728
</td>
<td align="right">
   1.3737
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-26 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:00:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3733
</td>
<td align="right">
   1.3742
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-26 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3739
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-26 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3739
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-26 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3730
</td>
<td align="right">
   1.3746
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-26 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3723
</td>
<td align="right">
   1.3753
</td>
<td align="right">
  .0022
</td>
<td>
2011-09-26 08:20:00
</td>
</tr>
</table>
<br /><hr />