<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-05
13:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4121
</td>
<td align="right">
   1.4076
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-05 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-05
13:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4116
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-05 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-05
14:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4109
</td>
<td align="right">
  .0025
</td>
<td>
2011-09-05 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-05
16:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4115
</td>
<td align="right">
   1.4091
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-05 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-05
18:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4092
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
12:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3354
</td>
<td align="right">
   1.3376
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-05 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
12:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3356
</td>
<td align="right">
   1.3362
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-05 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
12:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3351
</td>
<td align="right">
   1.3369
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-05 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
13:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3352
</td>
<td align="right">
   1.3371
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-05 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
15:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3355
</td>
<td align="right">
   1.3360
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-05 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
15:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3350
</td>
<td align="right">
   1.3359
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-05 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
15:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3352
</td>
<td align="right">
   1.3360
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-05 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
16:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3363
</td>
<td align="right">
   1.3349
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-05 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
17:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3349
</td>
<td align="right">
   1.3362
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-05 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
17:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3345
</td>
<td align="right">
   1.3359
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-05 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
17:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3352
</td>
<td align="right">
   1.3356
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-05 23:25:00
</td>
</tr>
</table>
<br /><hr />