<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
15:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1317
</td>
<td align="right">
   1.1346
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-22 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
14:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.7725
</td>
<td align="right">
  76.7800
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-22 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-22
16:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.0367
</td>
<td align="right">
  80.0486
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-22 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
14:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 110.6925
</td>
<td align="right">
 110.3750
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-22 20:20:00
</td>
</tr>
</table>
<br /><hr />