<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-12
00:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  77.5425
</td>
<td align="right">
  77.5350
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-12 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-12
00:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.5304
</td>
<td align="right">
  77.5338
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-12 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-12
00:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.5650
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-12 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-12
00:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  77.5475
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-12 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
21:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3043
</td>
<td align="right">
  .0032
</td>
<td>
2011-09-12 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
21:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3016
</td>
<td align="right">
   1.3037
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-12 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
21:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3014
</td>
<td align="right">
   1.3041
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-12 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
21:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3035
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-12 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
21:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3018
</td>
<td align="right">
   1.3030
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-12 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
21:45:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.3032
</td>
<td align="right">
   1.3025
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-12 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
21:50:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3024
</td>
<td align="right">
   1.3027
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-12 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
21:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3029
</td>
<td align="right">
   1.3034
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-12 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
22:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3028
</td>
<td align="right">
   1.3046
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-12 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
22:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3035
</td>
<td align="right">
   1.3047
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-12 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
22:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3030
</td>
<td align="right">
   1.3045
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-12 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
22:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3025
</td>
<td align="right">
   1.3040
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-12 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-11
22:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3027
</td>
<td align="right">
   1.3050
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-12 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
19:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2068
</td>
<td align="right">
   1.2076
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-12 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
19:20:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.2066
</td>
<td align="right">
   1.2075
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-12 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
19:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2067
</td>
<td align="right">
   1.2074
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-12 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
19:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2067
</td>
<td align="right">
   1.2068
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-12 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
19:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.2066
</td>
<td align="right">
   1.2069
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-12 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
19:45:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.2066
</td>
<td align="right">
   1.2069
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-12 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
19:55:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.2068
</td>
<td align="right">
   1.2070
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-12 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:00:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.2072
</td>
<td align="right">
   1.2060
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-12 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.2075
</td>
<td align="right">
   1.2057
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-12 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:10:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.2076
</td>
<td align="right">
   1.2058
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-12 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2076
</td>
<td align="right">
   1.2065
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-12 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.2075
</td>
<td align="right">
   1.2062
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-12 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:30:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.2074
</td>
<td align="right">
   1.2066
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-12 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.2068
</td>
<td align="right">
   1.2063
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-12 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2069
</td>
<td align="right">
   1.2064
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-12 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
20:45:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2069
</td>
<td align="right">
   1.2064
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-12 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-11
21:15:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.2060
</td>
<td align="right">
   1.2061
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-12 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-11
21:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2057
</td>
<td align="right">
   1.2062
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-12 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-11
21:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2063
</td>
<td align="right">
   1.2063
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-12 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-11
23:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2076
</td>
<td align="right">
   1.2065
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-12 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-12
00:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2060
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-12 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-09
19:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9959
</td>
<td align="right">
    .9969
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-12 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-11
23:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8859
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-12 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-11
23:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8858
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-12 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-11
23:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8866
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-12 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-12
01:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8872
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-12 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-11
21:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  77.5173
</td>
<td align="right">
  77.4926
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-12 03:30:00
</td>
</tr>
</table>
<br /><hr />