<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
01:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  86.0314
</td>
<td align="right">
  85.8572
</td>
<td align="right">
 -.0020
</td>
<td>
2011-07-28 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
00:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8799
</td>
<td align="right">
    .8799
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-28 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
00:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8800
</td>
<td align="right">
    .8798
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-28 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
00:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .8801
</td>
<td align="right">
    .8800
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-28 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
00:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8802
</td>
<td align="right">
    .8798
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-28 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
23:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8015
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-28 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
23:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8015
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-28 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
23:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8014
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-28 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
23:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8015
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-28 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
23:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8015
</td>
<td align="right">
    .8014
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-28 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
00:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8016
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-28 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
00:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8020
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-28 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
00:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8015
</td>
<td align="right">
    .8019
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-28 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
01:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8017
</td>
<td align="right">
    .8018
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-28 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
01:50:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8017
</td>
<td align="right">
    .8019
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-28 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
01:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8015
</td>
<td align="right">
    .8014
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-28 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
00:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.9935
</td>
<td align="right">
  86.0529
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-28 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
00:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  85.9292
</td>
<td align="right">
  86.0120
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-28 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
03:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.9000
</td>
<td align="right">
  85.9851
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-28 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
00:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.1513
</td>
<td align="right">
   1.1519
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-28 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
00:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.1518
</td>
<td align="right">
   1.1522
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-28 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
01:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.1517
</td>
<td align="right">
   1.1499
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-28 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
01:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.1517
</td>
<td align="right">
   1.1500
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-28 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
02:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1499
</td>
<td align="right">
   1.1512
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-28 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
02:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.1500
</td>
<td align="right">
   1.1513
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-28 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
03:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1504
</td>
<td align="right">
   1.1519
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-28 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
03:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1505
</td>
<td align="right">
   1.1522
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-28 09:15:00
</td>
</tr>
</table>
<br /><hr />