<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
16:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.7900
</td>
<td align="right">
  76.7638
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-04 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
16:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7950
</td>
<td align="right">
  76.7750
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-04 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
16:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.8050
</td>
<td align="right">
  76.7863
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-04 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
16:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7625
</td>
<td align="right">
  76.7338
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-04 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
17:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.7800
</td>
<td align="right">
  76.7275
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-04 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
14:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 109.1676
</td>
<td align="right">
 109.1205
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
16:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 109.0977
</td>
<td align="right">
 109.0852
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-04 22:00:00
</td>
</tr>
</table>
<br /><hr />