<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
13:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3669
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-29 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
14:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3676
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
10:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4513
</td>
<td align="right">
   1.4504
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-29 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
15:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9776
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
15:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9774
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9781
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9784
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9783
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
10:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8846
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-29 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
11:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8848
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-29 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
11:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8845
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-29 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
11:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8844
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-29 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
11:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8845
</td>
<td align="right">
    .8850
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-29 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
12:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8845
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-29 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
14:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8838
</td>
<td align="right">
    .8849
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-29 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
11:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4497
</td>
<td align="right">
   1.4529
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-29 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
12:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4489
</td>
<td align="right">
   1.4527
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-29 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
12:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4493
</td>
<td align="right">
   1.4533
</td>
<td align="right">
  .0028
</td>
<td>
2011-08-29 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
13:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4531
</td>
<td align="right">
   1.4531
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
13:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4538
</td>
<td align="right">
   1.4536
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-29 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
15:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.4512
</td>
<td align="right">
   1.4502
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-29 21:30:00
</td>
</tr>
</table>
<br /><hr />