<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
16:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0611
</td>
<td align="right">
   1.0626
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-07 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
18:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0639
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-08 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
18:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0650
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-08 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
16:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3240
</td>
<td align="right">
   1.3230
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-07 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
16:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3239
</td>
<td align="right">
   1.3229
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-07 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
16:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3242
</td>
<td align="right">
   1.3235
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-07 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
17:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3235
</td>
<td align="right">
   1.3241
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-07 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
18:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3237
</td>
<td align="right">
   1.3243
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-08 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
21:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3226
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-07
19:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8821
</td>
<td align="right">
    .8818
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-08 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-07
19:45:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8820
</td>
<td align="right">
    .8817
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-08 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-07
19:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8822
</td>
<td align="right">
    .8816
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-08 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-07
20:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8816
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
15:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 108.7262
</td>
<td align="right">
 108.9085
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-07 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
17:00:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
 108.7648
</td>
<td align="right">
 108.9161
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-07 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
17:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 108.7576
</td>
<td align="right">
 108.9072
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-07 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
17:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 108.7601
</td>
<td align="right">
 108.9727
</td>
<td align="right">
  .0020
</td>
<td>
2011-09-07 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-07
16:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8592
</td>
<td align="right">
    .8603
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-07 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-07
19:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8579
</td>
<td align="right">
    .8586
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-08 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-07
18:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2094
</td>
<td align="right">
   1.2089
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-08 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
19:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9855
</td>
<td align="right">
    .9833
</td>
<td align="right">
 -.0023
</td>
<td>
2011-09-08 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
20:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9854
</td>
<td align="right">
    .9840
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-08 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
20:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9854
</td>
<td align="right">
    .9839
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-08 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
20:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9847
</td>
<td align="right">
    .9838
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-08 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
20:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9850
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
20:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .9843
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-07
20:00:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8584
</td>
<td align="right">
    .8577
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-08 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-07
20:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8583
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 02:30:00
</td>
</tr>
</table>
<br /><hr />