<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-24
04:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2283
</td>
<td align="right">
   1.2282
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-24 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-24
04:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2283
</td>
<td align="right">
   1.2283
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-24 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-24
04:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2291
</td>
<td align="right">
   1.2287
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-24 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-24
04:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.2288
</td>
<td align="right">
   1.2289
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-24 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-24
04:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2290
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-24 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-24
04:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2292
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-24 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-24
04:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2294
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-24 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-24
04:45:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2296
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-24 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-24
04:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8838
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-24 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-24
00:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3394
</td>
<td align="right">
   1.3396
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-24 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-24
00:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3401
</td>
<td align="right">
   1.3399
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-24 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-24
00:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3396
</td>
<td align="right">
   1.3395
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-24 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
01:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3857
</td>
<td align="right">
   1.3865
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-24 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
02:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3866
</td>
<td align="right">
   1.3877
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-24 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
03:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3874
</td>
<td align="right">
   1.3889
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-24 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
03:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3877
</td>
<td align="right">
   1.3902
</td>
<td align="right">
  .0018
</td>
<td>
2011-10-24 09:10:00
</td>
</tr>
</table>
<br /><hr />