<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-24
19:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0477
</td>
<td align="right">
   1.0475
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-25 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
17:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8716
</td>
<td align="right">
    .8714
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-24 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
18:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8708
</td>
<td align="right">
    .8716
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-25 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
18:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8712
</td>
<td align="right">
    .8716
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-25 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
18:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8714
</td>
<td align="right">
    .8716
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-25 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
18:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8716
</td>
<td align="right">
    .8711
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-25 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
19:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8717
</td>
<td align="right">
    .8710
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-25 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
19:30:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8716
</td>
<td align="right">
    .8710
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-25 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
20:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8710
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-25 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
23:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8704
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-25 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
17:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 105.9303
</td>
<td align="right">
 106.0555
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-24 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
17:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 105.9798
</td>
<td align="right">
 105.9396
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-24 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
17:20:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
 105.9849
</td>
<td align="right">
 105.9459
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-24 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
17:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 105.9744
</td>
<td align="right">
 105.9491
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-24 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
17:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 105.9519
</td>
<td align="right">
 105.9833
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-24 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
18:35:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
 105.9659
</td>
<td align="right">
 105.8920
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-25 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
18:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 106.0226
</td>
<td align="right">
 105.8460
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-25 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
18:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 106.0061
</td>
<td align="right">
 105.9243
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-25 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
19:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 106.0004
</td>
<td align="right">
 105.9314
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-25 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
19:20:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 105.9579
</td>
<td align="right">
 105.9110
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-25 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
20:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 105.9554
</td>
<td align="right">
 106.0542
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-25 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
20:50:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
 105.9867
</td>
<td align="right">
 105.9444
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-25 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
20:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 105.9997
</td>
<td align="right">
 105.9501
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-25 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
21:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 105.9693
</td>
<td align="right">
 105.9514
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-25 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
21:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 106.0542
</td>
<td align="right">
 106.0129
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-25 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
22:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 105.9444
</td>
<td align="right">
 106.0357
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-25 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-24
22:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 105.8569
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-25 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
17:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3948
</td>
<td align="right">
   1.3946
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-24 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
18:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3939
</td>
<td align="right">
   1.3941
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-25 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
18:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3948
</td>
<td align="right">
   1.3926
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-25 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
19:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3950
</td>
<td align="right">
   1.3927
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-25 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
19:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3947
</td>
<td align="right">
   1.3929
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-25 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-24
22:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-25 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
21:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3931
</td>
<td align="right">
   1.3925
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-25 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
22:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3919
</td>
<td align="right">
   1.3923
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-25 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
22:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3916
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-25 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
22:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3906
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-25 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
22:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3922
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-25 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-24
22:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3927
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-25 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-24
17:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8796
</td>
<td align="right">
    .8802
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-24 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-24
18:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8803
</td>
<td align="right">
    .8813
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-25 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-24
19:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8806
</td>
<td align="right">
    .8810
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-25 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-24
19:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8809
</td>
<td align="right">
    .8811
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-25 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-24
21:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8803
</td>
<td align="right">
    .8807
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-25 03:55:00
</td>
</tr>
</table>
<br /><hr />