<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
11:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9924
</td>
<td align="right">
    .9920
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-27 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
12:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9916
</td>
<td align="right">
    .9942
</td>
<td align="right">
  .0026
</td>
<td>
2011-09-27 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
14:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9949
</td>
<td align="right">
    .9957
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
14:25:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9953
</td>
<td align="right">
    .9957
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-27 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
12:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 103.8605
</td>
<td align="right">
 104.0186
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-27 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
13:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3628
</td>
<td align="right">
   1.3619
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-27 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
15:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3614
</td>
<td align="right">
   1.3593
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-27 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
16:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3606
</td>
<td align="right">
   1.3609
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-27 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-27
12:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.5618
</td>
<td align="right">
   1.5642
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-27 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
17:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  76.1952
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
17:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  76.2128
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-27
17:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2196
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-27
17:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8689
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 104.3234
</td>
<td align="right">
 104.2033
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-27 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 104.3040
</td>
<td align="right">
 104.2153
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-27 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 104.2545
</td>
<td align="right">
 104.2124
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-27 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 104.0895
</td>
<td align="right">
 104.3504
</td>
<td align="right">
  .0025
</td>
<td>
2011-09-27 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 104.2111
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 104.1456
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
17:00:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 104.1446
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
11:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0193
</td>
<td align="right">
   1.0214
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-27 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
11:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0210
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-27 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
13:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0209
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-27 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
13:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0210
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-27 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
13:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0215
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-27 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
13:25:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.0199
</td>
<td align="right">
   1.0201
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-27 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
13:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0201
</td>
<td align="right">
   1.0171
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-27 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
17:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0188
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
17:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0181
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
12:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9006
</td>
<td align="right">
    .8950
</td>
<td align="right">
 -.0062
</td>
<td>
2011-09-27 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
13:25:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8946
</td>
<td align="right">
    .8953
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
13:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8951
</td>
<td align="right">
    .8951
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-27 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
13:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8947
</td>
<td align="right">
    .8953
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-27 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
13:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8950
</td>
<td align="right">
    .8952
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-27 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
13:50:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8941
</td>
<td align="right">
    .8948
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
13:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8942
</td>
<td align="right">
    .8936
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-27 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
14:00:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8949
</td>
<td align="right">
    .8943
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-27 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
14:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8936
</td>
<td align="right">
    .8960
</td>
<td align="right">
  .0027
</td>
<td>
2011-09-27 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8944
</td>
<td align="right">
    .8953
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-27 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:10:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8949
</td>
<td align="right">
    .8956
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8949
</td>
<td align="right">
    .8956
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-27 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8949
</td>
<td align="right">
    .8960
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-27 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8943
</td>
<td align="right">
    .8965
</td>
<td align="right">
  .0025
</td>
<td>
2011-09-27 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8950
</td>
<td align="right">
    .8962
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-27 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8952
</td>
<td align="right">
    .8972
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-27 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
16:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8960
</td>
<td align="right">
    .8962
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-27 22:25:00
</td>
</tr>
</table>
<br /><hr />