<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.1380
</td>
<td align="right">
  78.8500
</td>
<td align="right">
 -.0036
</td>
<td>
2011-10-17 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:15:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
  79.0578
</td>
<td align="right">
  78.6598
</td>
<td align="right">
 -.0050
</td>
<td>
2011-10-17 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.0244
</td>
<td align="right">
  78.5517
</td>
<td align="right">
 -.0060
</td>
<td>
2011-10-17 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.0777
</td>
<td align="right">
  78.5811
</td>
<td align="right">
 -.0063
</td>
<td>
2011-10-17 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.1335
</td>
<td align="right">
  78.5287
</td>
<td align="right">
 -.0076
</td>
<td>
2011-10-17 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  79.0841
</td>
<td align="right">
  78.5424
</td>
<td align="right">
 -.0068
</td>
<td>
2011-10-17 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  78.9737
</td>
<td align="right">
  78.5562
</td>
<td align="right">
 -.0053
</td>
<td>
2011-10-17 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  78.9153
</td>
<td align="right">
  78.6246
</td>
<td align="right">
 -.0037
</td>
<td>
2011-10-17 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:00:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  78.8500
</td>
<td align="right">
  78.6166
</td>
<td align="right">
 -.0030
</td>
<td>
2011-10-17 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:05:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
  78.7956
</td>
<td align="right">
  78.6175
</td>
<td align="right">
 -.0023
</td>
<td>
2011-10-17 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:10:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
  78.7530
</td>
<td align="right">
  78.6367
</td>
<td align="right">
 -.0015
</td>
<td>
2011-10-17 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:15:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  78.6598
</td>
<td align="right">
  78.6006
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-17 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  78.5517
</td>
<td align="right">
  78.6738
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-17 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:25:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
  78.5165
</td>
<td align="right">
  78.7532
</td>
<td align="right">
  .0030
</td>
<td>
2011-10-17 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  78.4839
</td>
<td align="right">
  78.8115
</td>
<td align="right">
  .0042
</td>
<td>
2011-10-17 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:35:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  78.5811
</td>
<td align="right">
  78.8045
</td>
<td align="right">
  .0028
</td>
<td>
2011-10-17 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:40:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
  78.5287
</td>
<td align="right">
  78.7091
</td>
<td align="right">
  .0023
</td>
<td>
2011-10-17 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  78.5424
</td>
<td align="right">
  78.6410
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-17 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:50:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  78.5562
</td>
<td align="right">
  78.6496
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-17 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  78.6246
</td>
<td align="right">
  78.6547
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  78.6166
</td>
<td align="right">
  78.6086
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  78.6367
</td>
<td align="right">
  78.4678
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-17 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  78.6006
</td>
<td align="right">
  78.5555
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-17 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  78.6738
</td>
<td align="right">
  78.5091
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-17 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  78.8045
</td>
<td align="right">
  78.4864
</td>
<td align="right">
 -.0040
</td>
<td>
2011-10-17 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  78.7091
</td>
<td align="right">
  78.5677
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-17 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  78.6410
</td>
<td align="right">
  78.4781
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-17 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:50:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  78.6496
</td>
<td align="right">
  78.4494
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-17 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  78.6547
</td>
<td align="right">
  78.4321
</td>
<td align="right">
 -.0028
</td>
<td>
2011-10-17 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:00:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  78.6086
</td>
<td align="right">
  78.4097
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-17 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  78.5696
</td>
<td align="right">
  78.4743
</td>
<td align="right">
 -.0012
</td>
<td>
2011-10-17 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:10:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
  78.4678
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:15:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
  78.5555
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
  78.5091
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:25:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
  78.5178
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  78.5254
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:35:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  78.4864
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:40:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
  78.5677
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:45:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
  78.4781
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:50:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
  78.4494
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:55:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
  78.4321
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
17:00:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  78.4097
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
17:05:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
  78.4743
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
12:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3417
</td>
<td align="right">
   1.3435
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-17 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
11:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 106.3828
</td>
<td align="right">
 106.4716
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
13:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 106.2965
</td>
<td align="right">
 105.4883
</td>
<td align="right">
 -.0076
</td>
<td>
2011-10-17 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
13:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 106.2078
</td>
<td align="right">
 105.5289
</td>
<td align="right">
 -.0064
</td>
<td>
2011-10-17 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
13:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 106.0939
</td>
<td align="right">
 105.5500
</td>
<td align="right">
 -.0051
</td>
<td>
2011-10-17 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
13:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 105.9669
</td>
<td align="right">
 105.5967
</td>
<td align="right">
 -.0035
</td>
<td>
2011-10-17 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 105.7568
</td>
<td align="right">
 105.7354
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-17 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 105.6891
</td>
<td align="right">
 105.8249
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-17 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 105.6750
</td>
<td align="right">
 105.7572
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 105.6865
</td>
<td align="right">
 105.7046
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-17 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 105.7505
</td>
<td align="right">
 105.6955
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-17 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
16:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 105.7075
</td>
<td align="right">
 105.6620
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-17 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
16:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 105.6926
</td>
<td align="right">
 105.6720
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-17 22:05:00
</td>
</tr>
</table>
<br /><hr />