<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
05:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 105.0388
</td>
<td align="right">
 105.1960
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-19 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
06:05:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
 105.0016
</td>
<td align="right">
 105.1637
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-19 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
06:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 105.0614
</td>
<td align="right">
 105.1539
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-19 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
06:50:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
 105.2759
</td>
<td align="right">
 105.1513
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-19 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
07:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 105.2282
</td>
<td align="right">
 105.2249
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-19 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-19
03:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3331
</td>
<td align="right">
   1.3345
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-19 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-19
03:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3327
</td>
<td align="right">
   1.3347
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-19 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-19
07:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  76.8263
</td>
<td align="right">
  76.8225
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-19 13:30:00
</td>
</tr>
</table>
<br /><hr />