<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-29
02:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.6704
</td>
<td align="right">
  76.7425
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-29 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-29
03:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.6675
</td>
<td align="right">
  76.7300
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-29 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-29
03:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  76.6700
</td>
<td align="right">
  76.7300
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-29 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-29
03:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  76.7100
</td>
<td align="right">
  76.7075
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-29
03:25:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  76.6997
</td>
<td align="right">
  76.7150
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-29 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-29
03:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  76.7250
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-29
03:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  76.7050
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-29
03:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  76.7200
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
03:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3638
</td>
<td align="right">
   1.3637
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
03:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3639
</td>
<td align="right">
   1.3637
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-29 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
03:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3638
</td>
<td align="right">
   1.3636
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-29 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
03:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3640
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-28
23:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4478
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-29 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
01:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4469
</td>
<td align="right">
   1.4487
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-29 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
01:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4487
</td>
<td align="right">
   1.4483
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-29 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
01:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4484
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-29 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
01:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4481
</td>
<td align="right">
   1.4483
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-29 07:35:00
</td>
</tr>
</table>
<br /><hr />