<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
08:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9023
</td>
<td align="right">
    .9022
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-18 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
08:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9016
</td>
<td align="right">
    .9022
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-18 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
09:05:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .9031
</td>
<td align="right">
    .9018
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-18 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
09:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9029
</td>
<td align="right">
    .9017
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-18 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
09:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9018
</td>
<td align="right">
    .9022
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-18 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
09:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9022
</td>
<td align="right">
    .9010
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-18 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
09:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9022
</td>
<td align="right">
    .9010
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-18 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
09:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9020
</td>
<td align="right">
    .9013
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-18 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
09:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9020
</td>
<td align="right">
    .9014
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-18 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
09:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9022
</td>
<td align="right">
    .9012
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-18 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
11:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9028
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-18 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-18
09:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  77.7272
</td>
<td align="right">
  77.8772
</td>
<td align="right">
  .0019
</td>
<td>
2011-10-18 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-18
10:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  77.9269
</td>
<td align="right">
  77.7893
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-18 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-18
11:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  77.8438
</td>
<td align="right">
  77.8206
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-18 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-18
10:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0164
</td>
<td align="right">
   1.0153
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-18 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-18
11:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0160
</td>
<td align="right">
   1.0133
</td>
<td align="right">
 -.0027
</td>
<td>
2011-10-18 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
07:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3707
</td>
<td align="right">
   1.3691
</td>
<td align="right">
 -.0012
</td>
<td>
2011-10-18 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
08:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3723
</td>
<td align="right">
   1.3685
</td>
<td align="right">
 -.0027
</td>
<td>
2011-10-18 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
08:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3701
</td>
<td align="right">
   1.3684
</td>
<td align="right">
 -.0012
</td>
<td>
2011-10-18 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
08:35:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   1.3676
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-18 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
08:40:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3691
</td>
<td align="right">
   1.3677
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-18 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
08:45:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3680
</td>
<td align="right">
   1.3678
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-18 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
08:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3674
</td>
<td align="right">
   1.3679
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-18 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
09:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3659
</td>
<td align="right">
   1.3687
</td>
<td align="right">
  .0021
</td>
<td>
2011-10-18 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
09:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3685
</td>
<td align="right">
   1.3680
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-18 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
09:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3690
</td>
<td align="right">
   1.3686
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-18 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
09:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3699
</td>
<td align="right">
  .0017
</td>
<td>
2011-10-18 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
09:40:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   1.3700
</td>
<td align="right">
  .0017
</td>
<td>
2011-10-18 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
09:45:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3678
</td>
<td align="right">
   1.3695
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-18 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
09:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3679
</td>
<td align="right">
   1.3695
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-18 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
09:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3683
</td>
<td align="right">
   1.3698
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-18 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
10:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3687
</td>
<td align="right">
   1.3696
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-18 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
10:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3687
</td>
<td align="right">
   1.3682
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-18 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-18
11:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3674
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-18 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-18
08:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.5740
</td>
<td align="right">
   1.5723
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-18 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-18
08:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.5717
</td>
<td align="right">
   1.5719
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-18 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-18
08:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.5728
</td>
<td align="right">
   1.5718
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-18 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-18
09:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.5723
</td>
<td align="right">
   1.5739
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-18 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-18
11:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.5732
</td>
<td align="right">
   1.5716
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-18 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-18
11:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.5716
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-18 17:45:00
</td>
</tr>
</table>
<br /><hr />