<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
05:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0668
</td>
<td align="right">
   1.0655
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-30 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0652
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9772
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
04:20:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  81.9968
</td>
<td align="right">
  81.9693
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
04:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  81.9511
</td>
<td align="right">
  81.9574
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
05:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  81.9686
</td>
<td align="right">
  81.9470
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  81.9470
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  81.8199
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  81.7841
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7771
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3595
</td>
<td align="right">
   1.3605
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-30 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3596
</td>
<td align="right">
   1.3609
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-30 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3598
</td>
<td align="right">
   1.3609
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-30 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.5888
</td>
<td align="right">
 111.6712
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-30 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6498
</td>
<td align="right">
 111.6601
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6191
</td>
<td align="right">
 111.6582
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-30 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 111.6597
</td>
<td align="right">
 111.6050
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-30 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.6712
</td>
<td align="right">
 111.5946
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-30 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 111.6436
</td>
<td align="right">
 111.5734
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-30 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
04:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 111.6155
</td>
<td align="right">
 111.5516
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-30 10:05:00
</td>
</tr>
</table>
<br /><hr />