<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
15:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1546
</td>
<td align="right">
   1.1534
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-27 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
16:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1534
</td>
<td align="right">
   1.1528
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-27 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
16:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1528
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
16:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1536
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
16:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1534
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
17:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1526
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
17:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.1533
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
17:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.1530
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
11:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8017
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-27 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
11:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8019
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-27 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
11:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8018
</td>
<td align="right">
    .8019
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-27 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
12:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8016
</td>
<td align="right">
    .8015
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
12:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8020
</td>
<td align="right">
    .8015
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-27 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
11:30:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  77.8650
</td>
<td align="right">
  77.7875
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-27 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
11:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  77.8200
</td>
<td align="right">
  77.8050
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
11:50:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  77.8275
</td>
<td align="right">
  77.8125
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:05:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  77.8275
</td>
<td align="right">
  77.8225
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  77.8475
</td>
<td align="right">
  77.8225
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:20:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  77.8275
</td>
<td align="right">
  77.8525
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:25:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  77.8563
</td>
<td align="right">
  77.8475
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:30:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  77.7875
</td>
<td align="right">
  77.8200
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:35:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
  77.8100
</td>
<td align="right">
  77.8088
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  77.8050
</td>
<td align="right">
  77.8125
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-27 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.8275
</td>
<td align="right">
  77.7825
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-27 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:50:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  77.8125
</td>
<td align="right">
  77.7938
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.8025
</td>
<td align="right">
  77.8275
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
13:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  77.8025
</td>
<td align="right">
  77.8375
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
13:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.8225
</td>
<td align="right">
  77.8575
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
13:20:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  77.8525
</td>
<td align="right">
  77.8338
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
13:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.8475
</td>
<td align="right">
  77.8425
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
13:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.8200
</td>
<td align="right">
  77.8525
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
13:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  77.8088
</td>
<td align="right">
  77.8400
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
14:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  77.8375
</td>
<td align="right">
  77.9513
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-27 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
14:05:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  77.8575
</td>
<td align="right">
  77.9550
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-27 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
14:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.8600
</td>
<td align="right">
  77.9550
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-27 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
14:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.8575
</td>
<td align="right">
  77.9588
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-27 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
14:25:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.8425
</td>
<td align="right">
  77.9800
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-27 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
14:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.8525
</td>
<td align="right">
  78.0100
</td>
<td align="right">
  .0020
</td>
<td>
2011-07-27 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
14:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.8400
</td>
<td align="right">
  77.9675
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-27 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
14:40:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  77.8925
</td>
<td align="right">
  77.9825
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-27 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
15:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  77.9550
</td>
<td align="right">
  78.0925
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-27 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
16:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  78.1063
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-27
12:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  85.9060
</td>
<td align="right">
  86.0765
</td>
<td align="right">
  .0020
</td>
<td>
2011-07-27 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
13:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.1590
</td>
<td align="right">
   1.1581
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-27 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
15:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8795
</td>
<td align="right">
    .8779
</td>
<td align="right">
 -.0018
</td>
<td>
2011-07-27 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
15:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8786
</td>
<td align="right">
    .8785
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
15:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8788
</td>
<td align="right">
    .8789
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-27 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
16:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8781
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
16:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8788
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
16:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8788
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-27
14:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 112.1383
</td>
<td align="right">
 112.1025
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
12:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.6373
</td>
<td align="right">
   1.6373
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
13:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.6381
</td>
<td align="right">
   1.6385
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-27 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
13:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.6381
</td>
<td align="right">
   1.6340
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-27 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
14:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.6376
</td>
<td align="right">
   1.6340
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-27 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
14:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.6374
</td>
<td align="right">
   1.6352
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-27 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
14:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.6340
</td>
<td align="right">
   1.6356
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-27 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
15:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.6333
</td>
<td align="right">
   1.6357
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-27 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
15:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.6334
</td>
<td align="right">
   1.6345
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-27
16:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.6332
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 22:45:00
</td>
</tr>
</table>
<br /><hr />