<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
13:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3669
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-29 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
14:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3676
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
15:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9776
</td>
<td align="right">
    .9795
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-29 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
15:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9774
</td>
<td align="right">
    .9795
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-29 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9781
</td>
<td align="right">
    .9790
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-29 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9784
</td>
<td align="right">
    .9790
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-29 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9783
</td>
<td align="right">
    .9793
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-29 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9789
</td>
<td align="right">
    .9798
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-29 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:40:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    .9792
</td>
<td align="right">
    .9792
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-29 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9795
</td>
<td align="right">
    .9795
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
16:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9791
</td>
<td align="right">
    .9790
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-29 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
17:00:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9791
</td>
<td align="right">
    .9790
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-29 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
17:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9790
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
17:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9788
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-29 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
17:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9785
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-29 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-29
18:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9790
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
14:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8838
</td>
<td align="right">
    .8849
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-29 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-29
14:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 111.8725
</td>
<td align="right">
 111.7342
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-29 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
13:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4531
</td>
<td align="right">
   1.4531
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
13:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4538
</td>
<td align="right">
   1.4536
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-29 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
15:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.4512
</td>
<td align="right">
   1.4502
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-29 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
16:25:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.4502
</td>
<td align="right">
   1.4497
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-29 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
16:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.4502
</td>
<td align="right">
   1.4496
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-29 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
16:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4506
</td>
<td align="right">
   1.4496
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-29 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
16:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4513
</td>
<td align="right">
   1.4495
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-29 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
16:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4509
</td>
<td align="right">
   1.4495
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-29 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
16:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4505
</td>
<td align="right">
   1.4495
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-29 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
17:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4503
</td>
<td align="right">
   1.4507
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-29 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
18:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.4499
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
18:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.4502
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
18:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.4507
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
18:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4507
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
18:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4508
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 00:20:00
</td>
</tr>
</table>
<br /><hr />