<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
10:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0567
</td>
<td align="right">
   1.0575
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-09 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
10:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0587
</td>
<td align="right">
   1.0570
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-09 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
10:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0581
</td>
<td align="right">
   1.0595
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-09 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
10:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0565
</td>
<td align="right">
   1.0602
</td>
<td align="right">
  .0035
</td>
<td>
2011-08-09 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
10:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0589
</td>
<td align="right">
   1.0583
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-09 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
10:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0581
</td>
<td align="right">
   1.0599
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-09 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
10:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0577
</td>
<td align="right">
   1.0599
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-09 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
11:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0575
</td>
<td align="right">
   1.0604
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-09 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
11:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0590
</td>
<td align="right">
   1.0577
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-09 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
11:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0603
</td>
<td align="right">
   1.0577
</td>
<td align="right">
 -.0025
</td>
<td>
2011-08-09 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
10:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7414
</td>
<td align="right">
    .7431
</td>
<td align="right">
  .0024
</td>
<td>
2011-08-09 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
11:00:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.0650
</td>
<td align="right">
  77.2975
</td>
<td align="right">
  .0030
</td>
<td>
2011-08-09 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
11:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  77.0700
</td>
<td align="right">
  77.2825
</td>
<td align="right">
  .0028
</td>
<td>
2011-08-09 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
11:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  77.1725
</td>
<td align="right">
  77.2263
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-09 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
12:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  77.2263
</td>
<td align="right">
  77.2300
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-09 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
15:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.2750
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
15:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  77.2950
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
15:10:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  77.2625
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
15:15:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  77.2900
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
13:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7384
</td>
<td align="right">
    .7403
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-09 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
14:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .7382
</td>
<td align="right">
    .7386
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-09 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
14:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .7384
</td>
<td align="right">
    .7383
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-09 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
14:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7381
</td>
<td align="right">
    .7383
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-09 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7382
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 21:10:00
</td>
</tr>
</table>
<br /><hr />