<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-19
17:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3774
</td>
<td align="right">
   1.3749
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-19 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-19
17:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3768
</td>
<td align="right">
   1.3746
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-19 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-19
17:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3771
</td>
<td align="right">
   1.3762
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-19 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-19
18:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3747
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-20 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-19
21:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  76.8300
</td>
<td align="right">
  76.8100
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-20 03:40:00
</td>
</tr>
</table>
<br /><hr />