<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
04:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2986
</td>
<td align="right">
   1.3036
</td>
<td align="right">
  .0038
</td>
<td>
2011-08-02 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
04:30:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3036
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-02 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
04:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3046
</td>
<td align="right">
   1.3036
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-02 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
04:50:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
   1.3036
</td>
<td align="right">
   1.3038
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-02 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
05:10:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.3041
</td>
<td align="right">
   1.3050
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-02 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
05:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3037
</td>
<td align="right">
   1.3052
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-02 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
05:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3036
</td>
<td align="right">
   1.3054
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-02 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
05:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3037
</td>
<td align="right">
   1.3049
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-02 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
05:45:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3034
</td>
<td align="right">
   1.3039
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-02 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3046
</td>
<td align="right">
   1.3029
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-02 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:10:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3050
</td>
<td align="right">
   1.3017
</td>
<td align="right">
 -.0025
</td>
<td>
2011-08-02 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3052
</td>
<td align="right">
   1.3023
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-02 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:20:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
   1.3054
</td>
<td align="right">
   1.3035
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-02 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:25:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3055
</td>
<td align="right">
   1.3032
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-02 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3050
</td>
<td align="right">
   1.3043
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-02 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:35:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.3049
</td>
<td align="right">
   1.3046
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-02 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:45:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.3039
</td>
<td align="right">
   1.3044
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-02 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3038
</td>
<td align="right">
   1.3043
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-02 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
06:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3031
</td>
<td align="right">
   1.3044
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-02 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
07:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3034
</td>
<td align="right">
   1.3045
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-02 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
07:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.3042
</td>
<td align="right">
   1.3053
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-02 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
07:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3043
</td>
<td align="right">
   1.3053
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-02 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
07:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3044
</td>
<td align="right">
   1.3054
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-02 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
08:10:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3049
</td>
<td align="right">
   1.3058
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-02 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
09:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3058
</td>
<td align="right">
   1.3058
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-02 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
09:15:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3058
</td>
<td align="right">
   1.3055
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-02 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
09:30:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3050
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-02
09:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3052
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-02
04:50:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
   1.4256
</td>
<td align="right">
   1.4245
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-02 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-02
04:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.4254
</td>
<td align="right">
   1.4249
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-02 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-02
04:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7825
</td>
<td align="right">
    .7808
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-02 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-02
04:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .7823
</td>
<td align="right">
    .7810
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-02 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-02
06:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7820
</td>
<td align="right">
    .7787
</td>
<td align="right">
 -.0042
</td>
<td>
2011-08-02 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-02
08:35:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .7776
</td>
<td align="right">
    .7803
</td>
<td align="right">
  .0035
</td>
<td>
2011-08-02 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-02
09:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .7794
</td>
<td align="right">
    .7792
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-02 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-02
09:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7789
</td>
<td align="right">
    .7793
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-02 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-02
10:05:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    .7790
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-02
05:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0921
</td>
<td align="right">
   1.0904
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-02 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-02
08:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4215
</td>
<td align="right">
   1.4190
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-02 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-02
09:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4177
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-02
09:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .7803
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 15:45:00
</td>
</tr>
</table>
<br /><hr />