<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-22
14:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8751
</td>
<td align="right">
    .8764
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-22 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-22
15:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3464
</td>
<td align="right">
   1.3464
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-22 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-22
14:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  74.5739
</td>
<td align="right">
  74.6585
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-22 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-22
11:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9828
</td>
<td align="right">
    .9801
</td>
<td align="right">
 -.0028
</td>
<td>
2011-09-22 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-22
12:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9778
</td>
<td align="right">
    .9767
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-22
13:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9740
</td>
<td align="right">
    .9793
</td>
<td align="right">
  .0054
</td>
<td>
2011-09-22 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-22
15:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9778
</td>
<td align="right">
    .9752
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-22 21:10:00
</td>
</tr>
</table>
<br /><hr />