<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-04
00:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0747
</td>
<td align="right">
   1.0708
</td>
<td align="right">
 -.0037
</td>
<td>
2011-08-04 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-04
00:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3356
</td>
<td align="right">
   1.3369
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-04 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-04
00:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3361
</td>
<td align="right">
   1.3381
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-04 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-04
01:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3385
</td>
<td align="right">
   1.3375
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-04 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-04
02:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3384
</td>
<td align="right">
   1.3361
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-04 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-04
00:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8737
</td>
<td align="right">
    .8725
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-04 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-04
01:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8731
</td>
<td align="right">
    .8731
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-04 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-03
23:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 110.7609
</td>
<td align="right">
 110.6152
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-04 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
00:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 110.7363
</td>
<td align="right">
 112.1366
</td>
<td align="right">
  .0126
</td>
<td>
2011-08-04 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
01:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 112.2173
</td>
<td align="right">
 112.4080
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-04 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
00:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .7707
</td>
<td align="right">
    .7748
</td>
<td align="right">
  .0053
</td>
<td>
2011-08-04 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
01:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7722
</td>
<td align="right">
    .7748
</td>
<td align="right">
  .0034
</td>
<td>
2011-08-04 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
01:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .7739
</td>
<td align="right">
    .7749
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-04 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
01:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7739
</td>
<td align="right">
    .7751
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-04 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
01:15:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .7745
</td>
<td align="right">
    .7761
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-04 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
01:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7741
</td>
<td align="right">
    .7759
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-04 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
01:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7739
</td>
<td align="right">
    .7746
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-04 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
01:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .7748
</td>
<td align="right">
    .7760
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
02:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7748
</td>
<td align="right">
    .7760
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-04 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
02:20:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .7759
</td>
<td align="right">
    .7774
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-04 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
02:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7756
</td>
<td align="right">
    .7778
</td>
<td align="right">
  .0028
</td>
<td>
2011-08-04 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
02:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7746
</td>
<td align="right">
    .7772
</td>
<td align="right">
  .0035
</td>
<td>
2011-08-04 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
02:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7749
</td>
<td align="right">
    .7770
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-04 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
03:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .7763
</td>
<td align="right">
    .7769
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-04 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-03
23:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.1350
</td>
<td align="right">
  77.1225
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-04 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-04
00:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  77.0750
</td>
<td align="right">
  77.7925
</td>
<td align="right">
  .0093
</td>
<td>
2011-08-04 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-04
00:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.0450
</td>
<td align="right">
  78.3025
</td>
<td align="right">
  .0163
</td>
<td>
2011-08-04 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-04
03:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8727
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
03:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 112.9983
</td>
<td align="right">
 113.0507
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-04 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
03:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 112.8680
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
03:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 112.8804
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
03:55:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 112.9281
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 112.8734
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 112.9389
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 113.0307
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 113.0583
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 113.0507
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 10:20:00
</td>
</tr>
</table>
<br /><hr />