<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
06:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3820
</td>
<td align="right">
   1.3812
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-22 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
06:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3825
</td>
<td align="right">
   1.3819
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-22 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
07:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3817
</td>
<td align="right">
   1.3819
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-22 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
07:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3822
</td>
<td align="right">
   1.3817
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-22 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
07:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3814
</td>
<td align="right">
   1.3819
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-22 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
07:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3819
</td>
<td align="right">
   1.3818
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-22 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
07:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3818
</td>
<td align="right">
   1.3818
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-22 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
08:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3811
</td>
<td align="right">
   1.3803
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-22 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
08:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3818
</td>
<td align="right">
   1.3798
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-22 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
06:30:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.1291
</td>
<td align="right">
   1.1310
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-22 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
06:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1312
</td>
<td align="right">
   1.1323
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-22 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
07:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1312
</td>
<td align="right">
   1.1328
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-22 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
07:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1300
</td>
<td align="right">
   1.1320
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-22 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
08:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1329
</td>
<td align="right">
   1.1332
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-22 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
08:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.1333
</td>
<td align="right">
   1.1346
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-22 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
08:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1334
</td>
<td align="right">
   1.1339
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-22 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1347
</td>
<td align="right">
   1.1335
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-22 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:05:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.1332
</td>
<td align="right">
   1.1334
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-22 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1342
</td>
<td align="right">
   1.1337
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-22 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1335
</td>
<td align="right">
   1.1322
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-22 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:20:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.1337
</td>
<td align="right">
   1.1321
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-22 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:25:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
   1.1334
</td>
<td align="right">
   1.1326
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-22 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:30:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1332
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-22 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:35:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
   1.1348
</td>
<td align="right">
   1.1331
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-22 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:40:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.1346
</td>
<td align="right">
   1.1356
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-22 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
09:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1339
</td>
<td align="right">
   1.1354
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-22 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
10:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1342
</td>
<td align="right">
   1.1351
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-22 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
11:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1340
</td>
<td align="right">
   1.1349
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-22 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
11:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1350
</td>
<td align="right">
   1.1345
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-22 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
11:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1339
</td>
<td align="right">
   1.1338
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-22 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
11:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1337
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
11:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1340
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-22
11:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1340
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
07:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 110.2112
</td>
<td align="right">
 110.6609
</td>
<td align="right">
  .0041
</td>
<td>
2011-08-22 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
07:10:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
 110.2550
</td>
<td align="right">
 110.6830
</td>
<td align="right">
  .0039
</td>
<td>
2011-08-22 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
09:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 110.6537
</td>
<td align="right">
 110.8116
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-22 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
10:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 110.6422
</td>
<td align="right">
 110.8078
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-22 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
10:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 110.6321
</td>
<td align="right">
 110.7979
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-22 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
10:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 110.6863
</td>
<td align="right">
 110.7792
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-22 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
10:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 110.7338
</td>
<td align="right">
 110.7907
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-22 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
10:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 110.6945
</td>
<td align="right">
 110.7794
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-22 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
10:45:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
 110.8308
</td>
<td align="right">
 110.7264
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-22 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
07:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.7375
</td>
<td align="right">
  76.7125
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-22 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
07:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.7413
</td>
<td align="right">
  76.6975
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-22 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
07:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.7225
</td>
<td align="right">
  76.6988
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-22 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
07:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  76.7275
</td>
<td align="right">
  76.7275
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-22 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
07:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7400
</td>
<td align="right">
  76.7325
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-22 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
08:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.7700
</td>
<td align="right">
  76.7225
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-22 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
08:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  76.8150
</td>
<td align="right">
  76.7325
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-22 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
09:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.7325
</td>
<td align="right">
  76.8038
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-22 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
09:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.7500
</td>
<td align="right">
  76.7775
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-22 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
09:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.8063
</td>
<td align="right">
  76.7925
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-22 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
09:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.7913
</td>
<td align="right">
  76.7925
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-22 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
10:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7925
</td>
<td align="right">
  76.7875
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-22 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
10:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7925
</td>
<td align="right">
  76.7688
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-22 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
10:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.7775
</td>
<td align="right">
  76.7800
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-22 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
10:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.7925
</td>
<td align="right">
  76.7750
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-22 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
11:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.7875
</td>
<td align="right">
  76.7275
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-22 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
11:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.7900
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
11:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.7900
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
11:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  76.7875
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
11:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.7750
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
11:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  76.7688
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
11:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.7800
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-22
12:00:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  76.7513
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-22 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
11:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3788
</td>
<td align="right">
   1.3776
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-22 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
06:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 110.1660
</td>
<td align="right">
 110.4233
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-22 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-22
06:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 110.0492
</td>
<td align="right">
 110.5125
</td>
<td align="right">
  .0042
</td>
<td>
2011-08-22 12:50:00
</td>
</tr>
</table>
<br /><hr />