<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-27
04:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8730
</td>
<td align="right">
    .8744
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-27 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-27
05:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8732
</td>
<td align="right">
    .8746
</td>
<td align="right">
  .0017
</td>
<td>
2011-10-27 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-27
05:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8730
</td>
<td align="right">
    .8748
</td>
<td align="right">
  .0021
</td>
<td>
2011-10-27 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
03:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 106.1493
</td>
<td align="right">
 106.1862
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-27 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
03:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 106.1944
</td>
<td align="right">
 106.2217
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-27 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
03:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 106.2096
</td>
<td align="right">
 106.3195
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-27 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
03:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 106.2384
</td>
<td align="right">
 106.2994
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-27 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
03:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 106.2399
</td>
<td align="right">
 106.2995
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-27 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
04:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 106.2724
</td>
<td align="right">
 106.3551
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-27 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
04:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 106.3409
</td>
<td align="right">
 106.3247
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-27 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
04:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 106.3517
</td>
<td align="right">
 106.3433
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-27 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
04:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
 106.2343
</td>
<td align="right">
 106.2019
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-27 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
04:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 106.3195
</td>
<td align="right">
 106.2943
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-27 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
04:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 106.2994
</td>
<td align="right">
 106.2730
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-27 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
04:55:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
 106.2995
</td>
<td align="right">
 106.2516
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-27 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
05:00:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
 106.3551
</td>
<td align="right">
 106.3035
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-27 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
05:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 106.3247
</td>
<td align="right">
 106.2959
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-27 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
05:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 106.3420
</td>
<td align="right">
 106.3703
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-27 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
08:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 106.2794
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
05:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3992
</td>
<td align="right">
   1.4009
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-27 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
05:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3990
</td>
<td align="right">
   1.4002
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-27 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
05:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3994
</td>
<td align="right">
   1.4009
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-27 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-27
07:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9989
</td>
<td align="right">
    .9962
</td>
<td align="right">
 -.0027
</td>
<td>
2011-10-27 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
04:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.1550
</td>
<td align="right">
  75.9925
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-27 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
04:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.1575
</td>
<td align="right">
  75.9075
</td>
<td align="right">
 -.0033
</td>
<td>
2011-10-27 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
08:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 106.4312
</td>
<td align="right">
 106.1833
</td>
<td align="right">
 -.0023
</td>
<td>
2011-10-27 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
06:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  75.9175
</td>
<td align="right">
  75.8550
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-27 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
07:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  75.8700
</td>
<td align="right">
  75.9000
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-27 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
07:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  75.8850
</td>
<td align="right">
  75.8475
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-27 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
07:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  75.9125
</td>
<td align="right">
  75.8375
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-27 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
07:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  75.8724
</td>
<td align="right">
  75.9050
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-27 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
08:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  75.9000
</td>
<td align="right">
  75.8625
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-27 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
08:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  75.8350
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 14:30:00
</td>
</tr>
</table>
<br /><hr />