<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
22:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-16 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
22:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.8625
</td>
<td align="right">
  76.8500
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-16 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0491
</td>
<td align="right">
   1.0492
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-16 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:30:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0492
</td>
<td align="right">
   1.0487
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-16 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0493
</td>
<td align="right">
   1.0487
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-16 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0494
</td>
<td align="right">
   1.0487
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-16 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0487
</td>
<td align="right">
   1.0487
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-16 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
23:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0492
</td>
<td align="right">
   1.0478
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-16 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
23:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0487
</td>
<td align="right">
   1.0485
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-16 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
23:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0487
</td>
<td align="right">
   1.0484
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-16 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
23:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0488
</td>
<td align="right">
   1.0479
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-16 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
01:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0468
</td>
<td align="right">
   1.0495
</td>
<td align="right">
  .0025
</td>
<td>
2011-08-16 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
02:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0495
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
20:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.1330
</td>
<td align="right">
   1.1330
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-16 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
20:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.1330
</td>
<td align="right">
   1.1331
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-16 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
22:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.1331
</td>
<td align="right">
   1.1321
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-16 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
23:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.1323
</td>
<td align="right">
   1.1329
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-16 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
23:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.1324
</td>
<td align="right">
   1.1335
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-16 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
23:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1321
</td>
<td align="right">
   1.1341
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-16 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
23:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1321
</td>
<td align="right">
   1.1346
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-16 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
23:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1320
</td>
<td align="right">
   1.1333
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-16 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
23:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1321
</td>
<td align="right">
   1.1333
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-16 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-16
00:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1335
</td>
<td align="right">
   1.1331
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-16 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-16
00:50:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.1333
</td>
<td align="right">
   1.1322
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-16 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-16
00:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.1333
</td>
<td align="right">
   1.1322
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-16 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
21:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8813
</td>
<td align="right">
    .8813
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-16 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
22:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8815
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-16 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
22:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8815
</td>
<td align="right">
    .8816
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-16 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
22:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8809
</td>
<td align="right">
    .8815
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-16 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
23:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8815
</td>
<td align="right">
    .8814
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-16 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
23:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8816
</td>
<td align="right">
    .8814
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-16 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-16
00:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8814
</td>
<td align="right">
    .8823
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-16 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
20:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  76.8400
</td>
<td align="right">
  76.8525
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-16 02:20:00
</td>
</tr>
</table>
<br /><hr />