<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-13
22:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  79.3957
</td>
<td align="right">
  79.4137
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-14 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-13
23:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  79.4137
</td>
<td align="right">
  79.7127
</td>
<td align="right">
  .0038
</td>
<td>
2011-09-14 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-13
23:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.9675
</td>
<td align="right">
  76.9150
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-14 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-13
23:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.9550
</td>
<td align="right">
  76.9075
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-14 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
00:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.9150
</td>
<td align="right">
  76.9225
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-14 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
00:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.9150
</td>
<td align="right">
  76.9175
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
00:35:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  76.9050
</td>
<td align="right">
  76.9250
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-14 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
00:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  76.9075
</td>
<td align="right">
  76.9300
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-14 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
00:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  76.9125
</td>
<td align="right">
  76.9250
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-14 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
01:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.8850
</td>
<td align="right">
  76.9200
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-14 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
01:05:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  76.8950
</td>
<td align="right">
  76.9100
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-14 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
01:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  76.9100
</td>
<td align="right">
  76.9125
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
01:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  76.9225
</td>
<td align="right">
  76.9200
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-14
02:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.0905
</td>
<td align="right">
  78.7000
</td>
<td align="right">
 -.0049
</td>
<td>
2011-09-14 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-14
03:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  78.7000
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
23:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8666
</td>
<td align="right">
    .8673
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-14 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
00:30:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8671
</td>
<td align="right">
    .8666
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-14 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
00:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8672
</td>
<td align="right">
    .8668
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-14 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
00:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8671
</td>
<td align="right">
    .8662
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-14 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
00:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8670
</td>
<td align="right">
    .8661
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-14 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
01:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8668
</td>
<td align="right">
    .8658
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-14 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
01:45:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
    .8662
</td>
<td align="right">
    .8659
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-14 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
01:50:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8662
</td>
<td align="right">
    .8657
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-14 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
01:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8661
</td>
<td align="right">
    .8656
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-14 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
02:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8662
</td>
<td align="right">
    .8655
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-14 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
02:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8659
</td>
<td align="right">
    .8648
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-14 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
03:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8652
</td>
<td align="right">
    .8653
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-14 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
03:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8649
</td>
<td align="right">
    .8654
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-14 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
03:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8650
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
03:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8650
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
04:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8649
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-13
22:55:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 105.3005
</td>
<td align="right">
 105.2937
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-14 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-13
23:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 105.2903
</td>
<td align="right">
 105.3708
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-14 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-13
23:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 105.2918
</td>
<td align="right">
 105.3466
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-14 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-13
23:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 105.2881
</td>
<td align="right">
 105.3528
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-14 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:25:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 105.3708
</td>
<td align="right">
 105.3347
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-14 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 105.3466
</td>
<td align="right">
 105.2924
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-14 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:35:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
 105.3541
</td>
<td align="right">
 105.3180
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-14 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:40:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
 105.3344
</td>
<td align="right">
 105.3249
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-14 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 105.3528
</td>
<td align="right">
 105.1969
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-14 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 105.3274
</td>
<td align="right">
 105.1250
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-14 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
01:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
 105.3206
</td>
<td align="right">
 105.1625
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-14 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
01:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 105.3300
</td>
<td align="right">
 105.1343
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-14 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
01:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 105.1250
</td>
<td align="right">
 105.1269
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
02:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 104.9998
</td>
<td align="right">
 104.8897
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-14 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
02:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 105.0539
</td>
<td align="right">
 104.8679
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-14 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 105.0293
</td>
<td align="right">
 104.8864
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-14 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 105.0528
</td>
<td align="right">
 104.8267
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-14 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 104.9251
</td>
<td align="right">
 104.8220
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-14 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 104.8943
</td>
<td align="right">
 104.9295
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-14 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 104.8897
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 104.9164
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 104.8867
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 104.8679
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 104.8649
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:00:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 104.8655
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 104.8864
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 104.8267
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-13
23:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3684
</td>
<td align="right">
   1.3691
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-14 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-14
03:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3628
</td>
<td align="right">
   1.3637
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-14 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-14
03:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3631
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-14
03:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3634
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 09:55:00
</td>
</tr>
</table>
<br /><hr />