<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
18:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9799
</td>
<td align="right">
    .9799
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-19 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
18:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9799
</td>
<td align="right">
    .9799
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-19 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
18:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9799
</td>
<td align="right">
    .9800
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-19 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
18:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9799
</td>
<td align="right">
    .9800
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-19 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
19:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.6210
</td>
<td align="right">
  79.6518
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-19 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
19:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.6210
</td>
<td align="right">
  79.6518
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-19 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.6518
</td>
<td align="right">
  79.5855
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-19 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.6518
</td>
<td align="right">
  79.5855
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-19 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.6499
</td>
<td align="right">
  79.5898
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-19 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.6499
</td>
<td align="right">
  79.5898
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-19 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.5899
</td>
<td align="right">
  79.5652
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-19 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.5899
</td>
<td align="right">
  79.5652
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-19 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  79.6123
</td>
<td align="right">
  79.5673
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-19 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  79.6123
</td>
<td align="right">
  79.5673
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-19 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.5600
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.5600
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.5911
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.5911
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-16
20:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0360
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-16
20:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0360
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
19:30:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3296
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-19 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
19:30:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3296
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-19 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
19:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3312
</td>
<td align="right">
   1.3293
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-19 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
19:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3312
</td>
<td align="right">
   1.3293
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-19 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
19:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3308
</td>
<td align="right">
   1.3301
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-19 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
19:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3308
</td>
<td align="right">
   1.3301
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-19 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
19:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3302
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-19 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
19:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3302
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-19 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
20:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3307
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
20:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3307
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
20:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3307
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
20:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3307
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
20:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3315
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
20:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3315
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-19 02:50:00
</td>
</tr>
</table>
<br /><hr />