<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
09:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  80.3072
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
05:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3747
</td>
<td align="right">
   1.3755
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
05:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3746
</td>
<td align="right">
   1.3764
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-24 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
05:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3743
</td>
<td align="right">
   1.3760
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-24 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3749
</td>
<td align="right">
   1.3767
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-24 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3747
</td>
<td align="right">
   1.3778
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-24 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3749
</td>
<td align="right">
   1.3776
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-24 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3777
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-24 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3755
</td>
<td align="right">
   1.3763
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3756
</td>
<td align="right">
   1.3769
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-24 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3764
</td>
<td align="right">
   1.3773
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3760
</td>
<td align="right">
   1.3774
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-24 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3759
</td>
<td align="right">
   1.3771
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-24 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
06:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3762
</td>
<td align="right">
   1.3769
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:00:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.3767
</td>
<td align="right">
   1.3770
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-24 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:05:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3778
</td>
<td align="right">
   1.3763
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-24 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:10:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.3776
</td>
<td align="right">
   1.3771
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-24 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3777
</td>
<td align="right">
   1.3775
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-24 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:20:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3775
</td>
<td align="right">
   1.3776
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-24 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3771
</td>
<td align="right">
   1.3780
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3769
</td>
<td align="right">
   1.3782
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-24 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3773
</td>
<td align="right">
   1.3779
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-24 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:45:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.3774
</td>
<td align="right">
   1.3779
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-24 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3771
</td>
<td align="right">
   1.3779
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:00:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
   1.3770
</td>
<td align="right">
   1.3777
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3771
</td>
<td align="right">
   1.3780
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:15:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3775
</td>
<td align="right">
   1.3786
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-24 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:20:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.3776
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:25:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.3780
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3782
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:40:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:45:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:50:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3777
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-24
07:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8741
</td>
<td align="right">
    .8744
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-24 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-24
08:35:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8747
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
04:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 110.5117
</td>
<td align="right">
 110.4443
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-24 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
04:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 110.4955
</td>
<td align="right">
 110.3774
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-24 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
05:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 110.4766
</td>
<td align="right">
 110.3706
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-24 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
05:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 110.4982
</td>
<td align="right">
 110.4271
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-24 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
05:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 110.5058
</td>
<td align="right">
 110.4705
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
08:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 110.5150
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
09:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 110.6389
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-24
04:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9885
</td>
<td align="right">
    .9888
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-24 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-24
04:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9883
</td>
<td align="right">
    .9888
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
04:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.6325
</td>
<td align="right">
  76.6550
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-24 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
04:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  76.6750
</td>
<td align="right">
  76.6400
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-24 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
04:30:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.6725
</td>
<td align="right">
  76.6350
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-24 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
05:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.6550
</td>
<td align="right">
  76.6150
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-24 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
05:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.6525
</td>
<td align="right">
  76.5975
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-24 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
05:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.6575
</td>
<td align="right">
  76.5988
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-24 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
07:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.6688
</td>
<td align="right">
  76.5825
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-24 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
07:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.6825
</td>
<td align="right">
  76.5575
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-24 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
07:40:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  76.6775
</td>
<td align="right">
  76.5525
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-24 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
08:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.6525
</td>
<td align="right">
  76.5075
</td>
<td align="right">
 -.0019
</td>
<td>
2011-08-24 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
08:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  80.1710
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
03:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.1426
</td>
<td align="right">
   1.1429
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-24 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
03:35:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.1425
</td>
<td align="right">
   1.1432
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
03:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.1426
</td>
<td align="right">
   1.1437
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-24 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
04:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1430
</td>
<td align="right">
   1.1443
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-24 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
05:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.1426
</td>
<td align="right">
   1.1412
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-24 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
05:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1416
</td>
<td align="right">
   1.1419
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-24 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
06:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.1409
</td>
<td align="right">
   1.1410
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-24 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
06:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.1412
</td>
<td align="right">
   1.1415
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-24 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
06:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.1408
</td>
<td align="right">
   1.1423
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-24 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
06:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.1409
</td>
<td align="right">
   1.1415
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
06:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1414
</td>
<td align="right">
   1.1415
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-24 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
06:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1413
</td>
<td align="right">
   1.1413
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-24 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-24
06:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.1413
</td>
<td align="right">
   1.1418
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
06:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4428
</td>
<td align="right">
   1.4397
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-24 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
07:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4423
</td>
<td align="right">
   1.4412
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-24 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
07:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4412
</td>
<td align="right">
   1.4444
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-24 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4412
</td>
<td align="right">
   1.4468
</td>
<td align="right">
  .0039
</td>
<td>
2011-08-24 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.4432
</td>
<td align="right">
   1.4469
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-24 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4444
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4432
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4433
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4436
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4435
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4437
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
09:00:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.4458
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 15:00:00
</td>
</tr>
</table>
<br /><hr />