<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-04
18:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0403
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-07 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-04
18:20:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.0404
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-07 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-04
13:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3267
</td>
<td align="right">
   1.3293
</td>
<td align="right">
  .0019
</td>
<td>
2011-11-04 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-04
14:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3284
</td>
<td align="right">
   1.3291
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-04 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-04
14:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3299
</td>
<td align="right">
   1.3291
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-04 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-04
14:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3292
</td>
<td align="right">
   1.3288
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-04 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-04
17:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3276
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-06 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
17:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0181
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-06 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
14:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8894
</td>
<td align="right">
    .8894
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-04 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
14:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8896
</td>
<td align="right">
    .8892
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-04 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
14:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8896
</td>
<td align="right">
    .8892
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-04 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
14:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8901
</td>
<td align="right">
    .8879
</td>
<td align="right">
 -.0024
</td>
<td>
2011-11-04 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
14:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8897
</td>
<td align="right">
    .8873
</td>
<td align="right">
 -.0027
</td>
<td>
2011-11-04 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
14:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8897
</td>
<td align="right">
    .8871
</td>
<td align="right">
 -.0029
</td>
<td>
2011-11-04 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
14:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8898
</td>
<td align="right">
    .8877
</td>
<td align="right">
 -.0024
</td>
<td>
2011-11-04 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
14:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8898
</td>
<td align="right">
    .8880
</td>
<td align="right">
 -.0020
</td>
<td>
2011-11-04 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
15:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8894
</td>
<td align="right">
    .8877
</td>
<td align="right">
 -.0019
</td>
<td>
2011-11-06 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
12:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.2213
</td>
<td align="right">
   1.2221
</td>
<td align="right">
  .0007
</td>
<td>
2011-11-04 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
12:35:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.2219
</td>
<td align="right">
   1.2221
</td>
<td align="right">
  .0002
</td>
<td>
2011-11-04 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
12:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.2220
</td>
<td align="right">
   1.2219
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-04 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
12:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2218
</td>
<td align="right">
   1.2212
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-04 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.2226
</td>
<td align="right">
   1.2213
</td>
<td align="right">
 -.0010
</td>
<td>
2011-11-04 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2224
</td>
<td align="right">
   1.2217
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-04 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2218
</td>
<td align="right">
   1.2213
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-04 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2216
</td>
<td align="right">
   1.2209
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-04 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2213
</td>
<td align="right">
   1.2215
</td>
<td align="right">
  .0002
</td>
<td>
2011-11-04 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:25:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2221
</td>
<td align="right">
   1.2216
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-04 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2222
</td>
<td align="right">
   1.2219
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-04 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:35:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.2221
</td>
<td align="right">
   1.2214
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-04 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.2217
</td>
<td align="right">
   1.2218
</td>
<td align="right">
  .0001
</td>
<td>
2011-11-04 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:45:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.2219
</td>
<td align="right">
   1.2227
</td>
<td align="right">
  .0007
</td>
<td>
2011-11-04 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
13:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.2219
</td>
<td align="right">
   1.2219
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-04 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
14:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2217
</td>
<td align="right">
   1.2217
</td>
<td align="right">
  .0000
</td>
<td>
2011-11-04 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
14:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2209
</td>
<td align="right">
   1.2214
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-04 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-04
14:20:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.2215
</td>
<td align="right">
   1.2214
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-04 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
13:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 107.3142
</td>
<td align="right">
 107.4261
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-04 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
14:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 107.3927
</td>
<td align="right">
 107.4511
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-04 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
14:10:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 107.3573
</td>
<td align="right">
 107.4605
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-04 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
14:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.3810
</td>
<td align="right">
 107.3744
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-04 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
14:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 107.3994
</td>
<td align="right">
 107.3803
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-04 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
14:40:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 107.3646
</td>
<td align="right">
 107.4746
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-04 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
14:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 107.3892
</td>
<td align="right">
 107.5377
</td>
<td align="right">
  .0014
</td>
<td>
2011-11-04 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
14:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 107.4261
</td>
<td align="right">
 107.5295
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-04 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
15:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 107.4850
</td>
<td align="right">
 107.5928
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-06 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
15:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 107.4511
</td>
<td align="right">
 107.5597
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-06 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
15:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 107.4605
</td>
<td align="right">
 107.5645
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-06 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
15:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 107.4087
</td>
<td align="right">
 107.5793
</td>
<td align="right">
  .0016
</td>
<td>
2011-11-06 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
15:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 107.4722
</td>
<td align="right">
 107.6020
</td>
<td align="right">
  .0012
</td>
<td>
2011-11-06 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
15:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.4746
</td>
<td align="right">
 107.5375
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-06 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
16:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 107.5793
</td>
<td align="right">
 107.8005
</td>
<td align="right">
  .0021
</td>
<td>
2011-11-06 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-04
16:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.5375
</td>
<td align="right">
 107.8546
</td>
<td align="right">
  .0029
</td>
<td>
2011-11-06 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-04
13:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3759
</td>
<td align="right">
   1.3722
</td>
<td align="right">
 -.0027
</td>
<td>
2011-11-04 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-04
15:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3748
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-06 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-04
16:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3762
</td>
<td align="right">
   1.3748
</td>
<td align="right">
 -.0010
</td>
<td>
2011-11-06 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-04
17:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3791
</td>
<td align="right">
   1.3786
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-06 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-04
17:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3787
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-06 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-04
17:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3782
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-06 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-04
17:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3785
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-06 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-04
17:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3797
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-06 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
14:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0190
</td>
<td align="right">
   1.0194
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-04 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
14:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0182
</td>
<td align="right">
   1.0188
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-04 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
14:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0194
</td>
<td align="right">
   1.0199
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-04 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
14:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0222
</td>
<td align="right">
   1.0189
</td>
<td align="right">
 -.0032
</td>
<td>
2011-11-04 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
14:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0209
</td>
<td align="right">
   1.0190
</td>
<td align="right">
 -.0018
</td>
<td>
2011-11-04 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
14:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0202
</td>
<td align="right">
   1.0184
</td>
<td align="right">
 -.0018
</td>
<td>
2011-11-04 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
14:55:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0181
</td>
<td align="right">
 -.0017
</td>
<td>
2011-11-04 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
15:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0195
</td>
<td align="right">
   1.0184
</td>
<td align="right">
 -.0011
</td>
<td>
2011-11-06 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
15:10:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.0188
</td>
<td align="right">
   1.0186
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-06 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
15:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0189
</td>
<td align="right">
   1.0188
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-06 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
15:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0188
</td>
<td align="right">
   1.0195
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-06 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
16:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0185
</td>
<td align="right">
   1.0181
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-06 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
16:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.0188
</td>
<td align="right">
   1.0181
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-06 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
16:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0164
</td>
<td align="right">
 -.0033
</td>
<td>
2011-11-06 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
17:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0196
</td>
<td align="right">
   1.0172
</td>
<td align="right">
 -.0023
</td>
<td>
2011-11-06 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-04
17:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0188
</td>
<td align="right">
   1.0168
</td>
<td align="right">
 -.0020
</td>
<td>
2011-11-06 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-04
17:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8858
</td>
<td align="right">
    .8851
</td>
<td align="right">
 -.0008
</td>
<td>
2011-11-06 23:20:00
</td>
</tr>
</table>
<br /><hr />