<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
06:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0767
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
03:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.4224
</td>
<td align="right">
   1.4229
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-09 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
04:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4217
</td>
<td align="right">
   1.4236
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-09 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
04:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4222
</td>
<td align="right">
   1.4239
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-09 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
04:25:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.4223
</td>
<td align="right">
   1.4238
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-09 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
04:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4239
</td>
<td align="right">
   1.4245
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-09 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
04:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4226
</td>
<td align="right">
   1.4244
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-09 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
05:35:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.4245
</td>
<td align="right">
   1.4238
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-09 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
05:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.4244
</td>
<td align="right">
   1.4243
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-09 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
05:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4237
</td>
<td align="right">
   1.4272
</td>
<td align="right">
  .0025
</td>
<td>
2011-08-09 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
05:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4232
</td>
<td align="right">
   1.4270
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-09 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4241
</td>
<td align="right">
   1.4272
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-09 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.4231
</td>
<td align="right">
   1.4271
</td>
<td align="right">
  .0028
</td>
<td>
2011-08-09 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.4218
</td>
<td align="right">
   1.4273
</td>
<td align="right">
  .0039
</td>
<td>
2011-08-09 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:20:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.4212
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:25:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.4231
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4237
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4238
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.4243
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
06:55:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.4270
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
07:05:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.4280
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
05:50:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    .7546
</td>
<td align="right">
    .7569
</td>
<td align="right">
  .0030
</td>
<td>
2011-08-09 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
06:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .7543
</td>
<td align="right">
    .7563
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-09 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
06:15:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .7548
</td>
<td align="right">
    .7579
</td>
<td align="right">
  .0042
</td>
<td>
2011-08-09 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
06:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7561
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
07:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7579
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
02:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.4450
</td>
<td align="right">
  77.2000
</td>
<td align="right">
 -.0032
</td>
<td>
2011-08-09 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
06:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.3788
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
07:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.4700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-09
06:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9941
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-09
07:05:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9925
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-09
07:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9918
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
01:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .7513
</td>
<td align="right">
    .7491
</td>
<td align="right">
 -.0030
</td>
<td>
2011-08-09 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
01:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .7517
</td>
<td align="right">
    .7495
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-09 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
01:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .7518
</td>
<td align="right">
    .7507
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-09 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
01:55:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    .7512
</td>
<td align="right">
    .7503
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-09 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:00:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    .7512
</td>
<td align="right">
    .7498
</td>
<td align="right">
 -.0019
</td>
<td>
2011-08-09 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .7513
</td>
<td align="right">
    .7500
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-09 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .7492
</td>
<td align="right">
    .7499
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-09 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .7493
</td>
<td align="right">
    .7498
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-09 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .7493
</td>
<td align="right">
    .7498
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-09 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .7496
</td>
<td align="right">
    .7502
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-09 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .7496
</td>
<td align="right">
    .7513
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-09 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .7499
</td>
<td align="right">
    .7529
</td>
<td align="right">
  .0039
</td>
<td>
2011-08-09 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .7491
</td>
<td align="right">
    .7545
</td>
<td align="right">
  .0072
</td>
<td>
2011-08-09 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .7495
</td>
<td align="right">
    .7535
</td>
<td align="right">
  .0054
</td>
<td>
2011-08-09 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .7507
</td>
<td align="right">
    .7509
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-09 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
02:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .7503
</td>
<td align="right">
    .7524
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-09 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
03:00:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .7498
</td>
<td align="right">
    .7523
</td>
<td align="right">
  .0033
</td>
<td>
2011-08-09 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
03:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .7500
</td>
<td align="right">
    .7515
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-09 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
03:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .7499
</td>
<td align="right">
    .7501
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-09 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
03:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .7498
</td>
<td align="right">
    .7510
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-09 09:20:00
</td>
</tr>
</table>
<br /><hr />