<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-24
00:05:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .7925
</td>
<td align="right">
    .7941
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-24 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
00:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  76.7850
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-24 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
00:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
19:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0518
</td>
<td align="right">
   1.0526
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
19:35:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.0521
</td>
<td align="right">
   1.0529
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-24 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
20:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0520
</td>
<td align="right">
   1.0526
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
22:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0518
</td>
<td align="right">
   1.0514
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-24 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
22:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0520
</td>
<td align="right">
   1.0517
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
22:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0521
</td>
<td align="right">
   1.0516
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-24 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
23:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0514
</td>
<td align="right">
   1.0512
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-24 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
23:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0517
</td>
<td align="right">
   1.0500
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-24 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-23
19:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3727
</td>
<td align="right">
   1.3723
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-23
20:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3713
</td>
<td align="right">
   1.3711
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-24 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-23
20:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3711
</td>
<td align="right">
   1.3721
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-23
21:30:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3710
</td>
<td align="right">
   1.3717
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-23
19:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4442
</td>
<td align="right">
   1.4439
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-24 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-23
19:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4442
</td>
<td align="right">
   1.4434
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-24 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-24
01:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7942
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-24
01:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7941
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 07:35:00
</td>
</tr>
</table>
<br /><hr />