<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-11
22:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  79.4891
</td>
<td align="right">
  79.5647
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-12 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-11
23:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  79.4343
</td>
<td align="right">
  79.3458
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-12 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-11
23:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  79.4597
</td>
<td align="right">
  79.3703
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-12 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-11
23:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  79.5034
</td>
<td align="right">
  79.5305
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-12 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
00:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  79.5616
</td>
<td align="right">
  79.2659
</td>
<td align="right">
 -.0037
</td>
<td>
2011-08-12 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
22:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.4231
</td>
<td align="right">
   1.4222
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-12 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
23:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4217
</td>
<td align="right">
   1.4197
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-12 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
04:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4181
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
01:30:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9874
</td>
<td align="right">
    .9869
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-12 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
01:35:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9875
</td>
<td align="right">
    .9870
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-12 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
01:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9875
</td>
<td align="right">
    .9862
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-12 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
03:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9874
</td>
<td align="right">
    .9870
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-12 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
03:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9872
</td>
<td align="right">
    .9870
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-12 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
03:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9872
</td>
<td align="right">
    .9877
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-12 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
03:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9874
</td>
<td align="right">
    .9877
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-12 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
03:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9874
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
04:05:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .9875
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
04:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9875
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
00:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.3063
</td>
<td align="right">
  79.2800
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-12 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
00:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.3703
</td>
<td align="right">
  79.3147
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-12 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
01:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.3380
</td>
<td align="right">
  79.3944
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-12 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
01:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  79.2800
</td>
<td align="right">
  79.4187
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-12 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
01:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  79.3553
</td>
<td align="right">
  79.3354
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-12 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
01:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  79.2665
</td>
<td align="right">
  79.2687
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-12 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
01:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  79.2659
</td>
<td align="right">
  79.3559
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-12 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
01:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.3120
</td>
<td align="right">
  79.4286
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-12 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
02:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  79.3771
</td>
<td align="right">
  79.3745
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-12 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
02:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.4187
</td>
<td align="right">
  79.2460
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-12 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
02:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  79.3463
</td>
<td align="right">
  79.2304
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-12 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
02:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.3533
</td>
<td align="right">
  79.2451
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-12 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
02:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.3354
</td>
<td align="right">
  79.2086
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-12 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
02:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.2687
</td>
<td align="right">
  79.0581
</td>
<td align="right">
 -.0027
</td>
<td>
2011-08-12 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
02:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.4286
</td>
<td align="right">
  79.0895
</td>
<td align="right">
 -.0043
</td>
<td>
2011-08-12 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.3745
</td>
<td align="right">
  78.9427
</td>
<td align="right">
 -.0054
</td>
<td>
2011-08-12 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.3171
</td>
<td align="right">
  78.9356
</td>
<td align="right">
 -.0048
</td>
<td>
2011-08-12 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.2460
</td>
<td align="right">
  79.0102
</td>
<td align="right">
 -.0030
</td>
<td>
2011-08-12 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  79.2304
</td>
<td align="right">
  79.0573
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-12 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:30:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
  79.2451
</td>
<td align="right">
  79.0171
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-12 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.2086
</td>
<td align="right">
  79.0228
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-12 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:40:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.0581
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  79.0921
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.0697
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
03:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  79.0895
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
04:00:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  78.9789
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-11
23:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8760
</td>
<td align="right">
    .8750
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-12 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
00:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8749
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-12 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
00:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8751
</td>
<td align="right">
    .8752
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-12 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
00:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8753
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-12 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
01:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8749
</td>
<td align="right">
    .8753
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-12 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
01:30:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8749
</td>
<td align="right">
    .8756
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-12 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
01:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8754
</td>
<td align="right">
    .8755
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-12 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
03:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8755
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-12 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
03:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8756
</td>
<td align="right">
    .8752
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-12 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
03:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8757
</td>
<td align="right">
    .8754
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-12 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
03:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8753
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
22:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 109.3444
</td>
<td align="right">
 109.3773
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-12 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
23:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 109.3315
</td>
<td align="right">
 109.1805
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-12 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
01:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 109.1621
</td>
<td align="right">
 109.0968
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-12 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
01:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 109.1751
</td>
<td align="right">
 109.1967
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-12 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
02:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 109.1020
</td>
<td align="right">
 109.1081
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-12 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
03:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 109.1096
</td>
<td align="right">
 108.9686
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-12 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
03:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 109.0598
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
04:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 108.8977
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
22:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4224
</td>
<td align="right">
   1.4215
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-12 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
23:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4219
</td>
<td align="right">
   1.4194
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-12 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
01:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4187
</td>
<td align="right">
   1.4196
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-12 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
01:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4187
</td>
<td align="right">
   1.4198
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-12 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
02:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4197
</td>
<td align="right">
   1.4192
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-12 08:15:00
</td>
</tr>
</table>
<br /><hr />