<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
13:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0127
</td>
<td align="right">
   1.0122
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-02 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
15:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0114
</td>
<td align="right">
   1.0129
</td>
<td align="right">
  .0014
</td>
<td>
2011-11-02 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
16:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0138
</td>
<td align="right">
   1.0148
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-02 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
16:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0135
</td>
<td align="right">
   1.0166
</td>
<td align="right">
  .0030
</td>
<td>
2011-11-02 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
17:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0153
</td>
<td align="right">
   1.0160
</td>
<td align="right">
  .0007
</td>
<td>
2011-11-02 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
17:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0156
</td>
<td align="right">
   1.0159
</td>
<td align="right">
  .0003
</td>
<td>
2011-11-02 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
17:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0161
</td>
<td align="right">
   1.0158
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-02 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-02
17:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0334
</td>
<td align="right">
  .0011
</td>
<td>
2011-11-02 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
14:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 107.6502
</td>
<td align="right">
 107.7011
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-02 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
14:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 107.6434
</td>
<td align="right">
 107.6795
</td>
<td align="right">
  .0003
</td>
<td>
2011-11-02 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
14:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 107.6705
</td>
<td align="right">
 107.6739
</td>
<td align="right">
  .0000
</td>
<td>
2011-11-02 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
15:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.7182
</td>
<td align="right">
 107.4933
</td>
<td align="right">
 -.0021
</td>
<td>
2011-11-02 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 107.1932
</td>
<td align="right">
 107.4420
</td>
<td align="right">
  .0023
</td>
<td>
2011-11-02 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 107.2265
</td>
<td align="right">
 107.3073
</td>
<td align="right">
  .0008
</td>
<td>
2011-11-02 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.2468
</td>
<td align="right">
 107.4341
</td>
<td align="right">
  .0017
</td>
<td>
2011-11-02 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 107.2740
</td>
<td align="right">
 107.4038
</td>
<td align="right">
  .0012
</td>
<td>
2011-11-02 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 107.3440
</td>
<td align="right">
 107.3929
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-02 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.3597
</td>
<td align="right">
 107.4277
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-02 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.5333
</td>
<td align="right">
 107.3926
</td>
<td align="right">
 -.0013
</td>
<td>
2011-11-03 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 107.4085
</td>
<td align="right">
 107.3664
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-03 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 107.4303
</td>
<td align="right">
 107.3914
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-03 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
 107.3591
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.4341
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.4038
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 107.3673
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 107.3929
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 107.4277
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 107.3926
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-02
17:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8856
</td>
<td align="right">
    .8838
</td>
<td align="right">
 -.0021
</td>
<td>
2011-11-02 23:15:00
</td>
</tr>
</table>
<br /><hr />