<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
20:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2998
</td>
<td align="right">
   1.2991
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-02 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
20:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2996
</td>
<td align="right">
   1.2997
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-02 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
20:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2990
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
21:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2990
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
21:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2992
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
21:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2991
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
21:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2996
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-02 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
15:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9592
</td>
<td align="right">
    .9570
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-01 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
15:55:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9594
</td>
<td align="right">
    .9573
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-01 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
16:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9587
</td>
<td align="right">
    .9572
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-01 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
16:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9592
</td>
<td align="right">
    .9576
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-01 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
16:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9594
</td>
<td align="right">
    .9576
</td>
<td align="right">
 -.0019
</td>
<td>
2011-08-01 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
16:25:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9589
</td>
<td align="right">
    .9580
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-01 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
16:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9583
</td>
<td align="right">
    .9584
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-01 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
16:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9580
</td>
<td align="right">
    .9578
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-01 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9572
</td>
<td align="right">
    .9575
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-01 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9575
</td>
<td align="right">
    .9573
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-01 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9576
</td>
<td align="right">
    .9574
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-01 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9576
</td>
<td align="right">
    .9574
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-01 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:20:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    .9578
</td>
<td align="right">
    .9572
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-01 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:25:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    .9580
</td>
<td align="right">
    .9572
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-01 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:30:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .9584
</td>
<td align="right">
    .9569
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-01 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:35:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    .9578
</td>
<td align="right">
    .9569
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-01 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9572
</td>
<td align="right">
    .9569
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-01 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9577
</td>
<td align="right">
    .9564
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-01 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
17:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9574
</td>
<td align="right">
    .9564
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-01 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
18:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9573
</td>
<td align="right">
    .9564
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-02 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
18:20:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .9572
</td>
<td align="right">
    .9561
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-02 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
18:30:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .9569
</td>
<td align="right">
    .9562
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-02 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
18:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9566
</td>
<td align="right">
    .9562
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-02 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
18:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9564
</td>
<td align="right">
    .9564
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-02 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
19:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9562
</td>
<td align="right">
    .9567
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-02 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
19:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9557
</td>
<td align="right">
    .9570
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-02 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
20:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9561
</td>
<td align="right">
    .9568
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-02 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
19:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .7827
</td>
<td align="right">
    .7836
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-02 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
15:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.2991
</td>
<td align="right">
   1.2997
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-01 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
15:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   1.2995
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-01 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
15:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   1.3008
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-01 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.2995
</td>
<td align="right">
   1.3013
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-01 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   1.3012
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-01 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2987
</td>
<td align="right">
   1.3011
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-01 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   1.3009
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-01 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:25:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2993
</td>
<td align="right">
   1.3009
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-01 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2986
</td>
<td align="right">
   1.3015
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-01 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   1.3015
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-01 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:40:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.2995
</td>
<td align="right">
   1.3019
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-01 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:45:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.2997
</td>
<td align="right">
   1.3018
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-01 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2995
</td>
<td align="right">
   1.3013
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-01 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
16:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3008
</td>
<td align="right">
   1.3008
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-01 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3013
</td>
<td align="right">
   1.3007
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-01 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3006
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-01 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3015
</td>
<td align="right">
   1.3006
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-01 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3009
</td>
<td align="right">
   1.3005
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-01 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:25:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3009
</td>
<td align="right">
   1.3004
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-01 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3015
</td>
<td align="right">
   1.2999
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-01 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3015
</td>
<td align="right">
   1.3001
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-01 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3018
</td>
<td align="right">
   1.3008
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-01 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3013
</td>
<td align="right">
   1.3010
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-01 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
17:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3008
</td>
<td align="right">
   1.3020
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-01 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
18:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   1.3012
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-02 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
18:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3005
</td>
<td align="right">
   1.3012
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-02 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
18:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   1.3012
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-02 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
18:30:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.3013
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-02 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
18:35:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3006
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-02 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
18:40:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3008
</td>
<td align="right">
   1.3001
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-02 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
18:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3008
</td>
<td align="right">
   1.3002
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-02 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
18:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3010
</td>
<td align="right">
   1.3002
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-02 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
19:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.2998
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-02 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
19:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   1.2993
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-02 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
19:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.2990
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-02 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
19:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2990
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-02 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
19:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2990
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-02 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
19:55:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.2989
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-02 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
20:00:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2990
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-02 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
20:05:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.2992
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-02 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
20:10:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2996
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-02 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-01
20:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.2990
</td>
<td align="right">
   1.2996
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-02 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
20:05:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .9560
</td>
<td align="right">
    .9565
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-02 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-01
20:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .9567
</td>
<td align="right">
    .9561
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-02 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
15:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7811
</td>
<td align="right">
    .7805
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-01 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
17:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .7815
</td>
<td align="right">
    .7816
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-01 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
18:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .7821
</td>
<td align="right">
    .7827
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-02 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
18:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .7818
</td>
<td align="right">
    .7831
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-02 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
18:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7833
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-02 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
19:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7837
</td>
<td align="right">
  .0025
</td>
<td>
2011-08-02 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
19:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .7819
</td>
<td align="right">
    .7834
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-02 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-01
19:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .7820
</td>
<td align="right">
    .7836
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-02 01:15:00
</td>
</tr>
</table>
<br /><hr />