<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-13
13:50:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  79.4800
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-13 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-13
14:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  79.4977
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-13 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-13
14:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  79.5145
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-13 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
09:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8625
</td>
<td align="right">
    .8615
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-13 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
09:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8627
</td>
<td align="right">
    .8633
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-13 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
10:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8633
</td>
<td align="right">
    .8635
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-13 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
11:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8647
</td>
<td align="right">
    .8643
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-13 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
13:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8649
</td>
<td align="right">
    .8655
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-13 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
13:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8652
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-13 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-13
08:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0295
</td>
<td align="right">
   1.0281
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-13 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
09:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8616
</td>
<td align="right">
    .8621
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-13 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
09:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8615
</td>
<td align="right">
    .8621
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-13 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
09:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8616
</td>
<td align="right">
    .8628
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-13 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
09:55:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8613
</td>
<td align="right">
    .8619
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-13 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
10:00:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8611
</td>
<td align="right">
    .8625
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-13 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-13
12:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8631
</td>
<td align="right">
    .8641
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-13 18:15:00
</td>
</tr>
</table>
<br /><hr />