<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
13:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0127
</td>
<td align="right">
   1.0122
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-02 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-02
09:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8832
</td>
<td align="right">
    .8837
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-02 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-02
10:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8837
</td>
<td align="right">
 -.0014
</td>
<td>
2011-11-02 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-02
12:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8825
</td>
<td align="right">
    .8814
</td>
<td align="right">
 -.0012
</td>
<td>
2011-11-02 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
09:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  80.9496
</td>
<td align="right">
  80.9152
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-02 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
09:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  80.9146
</td>
<td align="right">
  80.8742
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-02 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
10:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  80.8120
</td>
<td align="right">
  80.7037
</td>
<td align="right">
 -.0013
</td>
<td>
2011-11-02 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
10:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  80.7690
</td>
<td align="right">
  80.7153
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-02 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
10:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  80.7520
</td>
<td align="right">
  80.7805
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-02 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
10:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.7144
</td>
<td align="right">
  80.8078
</td>
<td align="right">
  .0012
</td>
<td>
2011-11-02 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
11:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  80.8137
</td>
<td align="right">
  80.9404
</td>
<td align="right">
  .0016
</td>
<td>
2011-11-02 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
11:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  80.8429
</td>
<td align="right">
  80.8906
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-02 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
11:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  80.9084
</td>
<td align="right">
  80.9165
</td>
<td align="right">
  .0001
</td>
<td>
2011-11-02 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
11:55:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  80.8078
</td>
<td align="right">
  80.9475
</td>
<td align="right">
  .0017
</td>
<td>
2011-11-02 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
12:00:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  80.8622
</td>
<td align="right">
  81.0696
</td>
<td align="right">
  .0026
</td>
<td>
2011-11-02 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
12:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  80.9242
</td>
<td align="right">
  81.0290
</td>
<td align="right">
  .0013
</td>
<td>
2011-11-02 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
12:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  80.9144
</td>
<td align="right">
  81.0478
</td>
<td align="right">
  .0016
</td>
<td>
2011-11-02 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
12:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  80.9508
</td>
<td align="right">
  81.0280
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-02 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
12:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  80.8906
</td>
<td align="right">
  81.0078
</td>
<td align="right">
  .0014
</td>
<td>
2011-11-02 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
12:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  80.9227
</td>
<td align="right">
  81.0276
</td>
<td align="right">
  .0013
</td>
<td>
2011-11-02 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
13:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 107.7567
</td>
<td align="right">
 107.7395
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-02 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
14:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 107.6502
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-02 20:25:00
</td>
</tr>
</table>
<br /><hr />