<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
14:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8702
</td>
<td align="right">
    .8705
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-21 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
15:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8703
</td>
<td align="right">
    .8704
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-23 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
15:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8702
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-23 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
15:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8701
</td>
<td align="right">
    .8704
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-23 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
16:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8701
</td>
<td align="right">
    .8694
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-23 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
16:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8695
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-23 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
16:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8702
</td>
<td align="right">
    .8695
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-23 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
16:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8694
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-23 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
16:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8702
</td>
<td align="right">
    .8694
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-23 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
16:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8703
</td>
<td align="right">
    .8691
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-23 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
16:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8704
</td>
<td align="right">
    .8694
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-23 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
17:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8694
</td>
<td align="right">
    .8690
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-23 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
18:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8691
</td>
<td align="right">
    .8696
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-24 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
18:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8697
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-24 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-21
13:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3876
</td>
<td align="right">
   1.3876
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-21 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-21
15:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3889
</td>
<td align="right">
   1.3870
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-23 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-21
16:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3878
</td>
<td align="right">
   1.3845
</td>
<td align="right">
 -.0024
</td>
<td>
2011-10-23 22:10:00
</td>
</tr>
</table>
<br /><hr />