<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-08
20:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4184
</td>
<td align="right">
   1.4176
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-09 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-08
20:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4175
</td>
<td align="right">
   1.4175
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-09 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-08
20:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.4182
</td>
<td align="right">
   1.4174
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-09 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-08
20:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4179
</td>
<td align="right">
   1.4171
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-09 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-08
21:50:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.4171
</td>
<td align="right">
   1.4163
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-09 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-08
22:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4175
</td>
<td align="right">
   1.4180
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-09 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-08
22:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4174
</td>
<td align="right">
   1.4182
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-09 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
00:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4176
</td>
<td align="right">
   1.4171
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-09 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
19:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9897
</td>
<td align="right">
    .9927
</td>
<td align="right">
  .0030
</td>
<td>
2011-08-09 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
20:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9922
</td>
<td align="right">
    .9931
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-09 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-08
22:25:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.6300
</td>
<td align="right">
  77.6350
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-09 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-08
22:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.6400
</td>
<td align="right">
  77.6150
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-09 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-08
23:30:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  77.6375
</td>
<td align="right">
  77.4450
</td>
<td align="right">
 -.0025
</td>
<td>
2011-08-09 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-08
23:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  77.6438
</td>
<td align="right">
  77.4775
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-09 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
19:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7547
</td>
<td align="right">
    .7545
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-09 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
22:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .7545
</td>
<td align="right">
    .7551
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-09 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
22:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .7545
</td>
<td align="right">
    .7549
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-09 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
22:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .7544
</td>
<td align="right">
    .7549
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-09 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
22:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .7545
</td>
<td align="right">
    .7547
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-09 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .7542
</td>
<td align="right">
    .7547
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-09 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .7548
</td>
<td align="right">
    .7548
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-09 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7550
</td>
<td align="right">
    .7542
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-09 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .7546
</td>
<td align="right">
    .7547
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-09 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:25:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .7550
</td>
<td align="right">
    .7545
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-09 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:30:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .7550
</td>
<td align="right">
    .7539
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-09 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .7551
</td>
<td align="right">
    .7542
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-09 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .7549
</td>
<td align="right">
    .7540
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-09 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:45:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .7549
</td>
<td align="right">
    .7543
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-09 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:50:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .7547
</td>
<td align="right">
    .7543
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-09 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
23:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .7543
</td>
<td align="right">
    .7542
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-09 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
00:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .7544
</td>
<td align="right">
    .7540
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-09 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
00:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .7547
</td>
<td align="right">
    .7538
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-09 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
00:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .7548
</td>
<td align="right">
    .7535
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-09 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
00:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .7540
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
00:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .7543
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
00:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .7542
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-09 06:55:00
</td>
</tr>
</table>
<br /><hr />