<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-26
15:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0578
</td>
<td align="right">
   1.0581
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-28 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
14:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3758
</td>
<td align="right">
   1.3637
</td>
<td align="right">
 -.0088
</td>
<td>
2011-08-26 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
14:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9912
</td>
<td align="right">
    .9854
</td>
<td align="right">
 -.0059
</td>
<td>
2011-08-26 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
14:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9884
</td>
<td align="right">
    .9852
</td>
<td align="right">
 -.0033
</td>
<td>
2011-08-26 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
15:05:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9873
</td>
<td align="right">
    .9846
</td>
<td align="right">
 -.0027
</td>
<td>
2011-08-28 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
15:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9858
</td>
<td align="right">
    .9841
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-28 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
15:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9854
</td>
<td align="right">
    .9834
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-28 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
15:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3620
</td>
<td align="right">
   1.3665
</td>
<td align="right">
  .0033
</td>
<td>
2011-08-28 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
16:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3685
</td>
<td align="right">
   1.3707
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-28 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
17:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3689
</td>
<td align="right">
   1.3712
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-28 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
17:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3689
</td>
<td align="right">
   1.3713
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-28 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8857
</td>
<td align="right">
    .8844
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-26 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8843
</td>
<td align="right">
    .8845
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-26 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:35:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8840
</td>
<td align="right">
    .8860
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-26 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8845
</td>
<td align="right">
    .8858
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-26 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
16:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8860
</td>
<td align="right">
    .8859
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-28 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
16:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8864
</td>
<td align="right">
    .8863
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-28 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
18:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8858
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 00:05:00
</td>
</tr>
</table>
<br /><hr />