<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-29
23:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0678
</td>
<td align="right">
   1.0668
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-30 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-29
23:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0677
</td>
<td align="right">
   1.0673
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-30 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-29
23:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0675
</td>
<td align="right">
   1.0674
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-30 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3594
</td>
<td align="right">
   1.3607
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-30 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3595
</td>
<td align="right">
   1.3605
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-30 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3596
</td>
<td align="right">
   1.3609
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-30 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3598
</td>
<td align="right">
   1.3610
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-30 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
22:35:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8847
</td>
<td align="right">
    .8849
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-30 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
22:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8848
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-30 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.5926
</td>
<td align="right">
 111.6654
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-30 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6498
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6191
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 111.6597
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.6654
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
21:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4516
</td>
<td align="right">
   1.4522
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-30 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
21:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4515
</td>
<td align="right">
   1.4523
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-30 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
21:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4515
</td>
<td align="right">
   1.4524
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-30 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
22:05:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4519
</td>
<td align="right">
   1.4520
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
22:10:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4520
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
22:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4518
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-30 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
22:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.4524
</td>
<td align="right">
   1.4517
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-30 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
22:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4525
</td>
<td align="right">
   1.4518
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-30 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4518
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-30 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4522
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-30 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4517
</td>
<td align="right">
   1.4522
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-30 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4522
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4518
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-30 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4516
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-30 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4516
</td>
<td align="right">
   1.4514
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-30 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
00:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4513
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-30 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
00:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   1.4513
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-30 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
00:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   1.4512
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-30 06:35:00
</td>
</tr>
</table>
<br /><hr />