<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-15
19:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3758
</td>
<td align="right">
   1.3753
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-16 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
22:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-16 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
22:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.8625
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
17:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0481
</td>
<td align="right">
   1.0489
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-15 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
17:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0477
</td>
<td align="right">
   1.0487
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-15 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
17:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0477
</td>
<td align="right">
   1.0493
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-15 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
17:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0479
</td>
<td align="right">
   1.0493
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-15 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0491
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:30:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0492
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0493
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0494
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
22:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0487
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-15
18:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3771
</td>
<td align="right">
   1.3757
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-16 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
21:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8813
</td>
<td align="right">
    .8813
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-16 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
22:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8812
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
22:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8815
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
22:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8809
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
23:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8815
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-15
23:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8816
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
17:40:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
   1.4446
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-15 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
17:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4439
</td>
<td align="right">
   1.4450
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-15 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
18:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4449
</td>
<td align="right">
   1.4447
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-16 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
18:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.4446
</td>
<td align="right">
   1.4444
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-16 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
18:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4450
</td>
<td align="right">
   1.4441
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-16 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
19:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.4453
</td>
<td align="right">
   1.4447
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-16 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
19:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4451
</td>
<td align="right">
   1.4442
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-16 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
19:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4449
</td>
<td align="right">
   1.4441
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-16 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
19:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4441
</td>
<td align="right">
   1.4445
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-16 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:05:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4447
</td>
<td align="right">
   1.4446
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-16 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4442
</td>
<td align="right">
   1.4447
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-16 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.4441
</td>
<td align="right">
   1.4448
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-16 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4441
</td>
<td align="right">
   1.4447
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-16 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:25:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
   1.4446
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-16 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:30:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
   1.4447
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-16 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:35:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.4443
</td>
<td align="right">
   1.4449
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-16 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
   1.4449
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-16 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:45:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
   1.4441
</td>
<td align="right">
   1.4447
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-16 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
20:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4445
</td>
<td align="right">
   1.4443
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-16 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
21:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4444
</td>
<td align="right">
   1.4443
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-16 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
21:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4446
</td>
<td align="right">
   1.4443
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-16 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
21:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4448
</td>
<td align="right">
   1.4438
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-16 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
21:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.4447
</td>
<td align="right">
   1.4442
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-16 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
21:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4446
</td>
<td align="right">
   1.4441
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-16 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
21:45:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.4447
</td>
<td align="right">
   1.4442
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-16 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:10:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.4443
</td>
<td align="right">
   1.4439
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-16 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4443
</td>
<td align="right">
   1.4440
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-16 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4443
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4438
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:35:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.4442
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4441
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4442
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4442
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
22:55:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.4433
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
23:00:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
18:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9826
</td>
<td align="right">
    .9810
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-16 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
18:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9817
</td>
<td align="right">
    .9806
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-16 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
18:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9817
</td>
<td align="right">
    .9805
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-16 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
19:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9807
</td>
<td align="right">
    .9802
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-16 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
19:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  76.8050
</td>
<td align="right">
  76.8650
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-16 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
19:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  76.8100
</td>
<td align="right">
  76.8625
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-16 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
19:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  76.8200
</td>
<td align="right">
  76.8650
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-16 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
19:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  76.8163
</td>
<td align="right">
  76.8800
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-16 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
19:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  76.8150
</td>
<td align="right">
  76.8750
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-16 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
20:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  76.8000
</td>
<td align="right">
  76.8625
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-16 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
20:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  76.8400
</td>
<td align="right">
  76.8525
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-16 02:20:00
</td>
</tr>
</table>
<br /><hr />