<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-23
19:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9759
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-23
15:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 103.1684
</td>
<td align="right">
 102.9978
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-25 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-23
18:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 103.3446
</td>
<td align="right">
 103.5658
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-26 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-23
14:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9025
</td>
<td align="right">
    .9027
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-23 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-23
14:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9032
</td>
<td align="right">
    .9034
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-23 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-23
15:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9024
</td>
<td align="right">
    .9056
</td>
<td align="right">
  .0036
</td>
<td>
2011-09-25 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-23
15:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9023
</td>
<td align="right">
    .9049
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-25 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-23
15:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9034
</td>
<td align="right">
    .9060
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-25 21:55:00
</td>
</tr>
</table>
<br /><hr />