<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
12:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2036
</td>
<td align="right">
   1.2027
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-06 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
12:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 109.1526
</td>
<td align="right">
 108.9970
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-06 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
12:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 109.1177
</td>
<td align="right">
 108.9984
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-06 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
12:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 109.0681
</td>
<td align="right">
 108.9159
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-06 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
13:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 108.9708
</td>
<td align="right">
 108.8320
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-06 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
11:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.4128
</td>
<td align="right">
   1.4050
</td>
<td align="right">
 -.0056
</td>
<td>
2011-09-06 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3356
</td>
<td align="right">
   1.3342
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-06 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3355
</td>
<td align="right">
   1.3345
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-06 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3338
</td>
<td align="right">
   1.3333
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-06 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3340
</td>
<td align="right">
   1.3344
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-06 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3346
</td>
<td align="right">
   1.3349
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-06 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
13:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3336
</td>
<td align="right">
   1.3348
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-06 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
13:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3333
</td>
<td align="right">
   1.3342
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-06 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
14:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3348
</td>
<td align="right">
   1.3318
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-06 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
14:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3345
</td>
<td align="right">
   1.3307
</td>
<td align="right">
 -.0028
</td>
<td>
2011-09-06 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3330
</td>
<td align="right">
   1.3323
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-06 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3319
</td>
<td align="right">
   1.3318
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-06 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3321
</td>
<td align="right">
   1.3308
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-06 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3318
</td>
<td align="right">
   1.3304
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-06 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3306
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-06 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3304
</td>
<td align="right">
   1.3306
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-06 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3316
</td>
<td align="right">
   1.3304
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-06 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3316
</td>
<td align="right">
   1.3306
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-06 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:50:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3311
</td>
<td align="right">
   1.3305
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-06 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
15:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3321
</td>
<td align="right">
   1.3309
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-06 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3323
</td>
<td align="right">
   1.3302
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-06 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3323
</td>
<td align="right">
   1.3300
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-06 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3308
</td>
<td align="right">
   1.3302
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-06 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3304
</td>
<td align="right">
   1.3308
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-06 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3309
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-06 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3304
</td>
<td align="right">
   1.3318
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-06 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3322
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-06 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:45:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3304
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:50:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3305
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
16:55:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3309
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
17:00:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3302
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
17:05:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
   1.3300
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
17:10:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3296
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
17:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3302
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
17:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3308
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
17:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3309
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
12:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2031
</td>
<td align="right">
   1.2026
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-06 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
13:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2022
</td>
<td align="right">
   1.2023
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-06 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
14:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2023
</td>
<td align="right">
   1.2023
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-06 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
15:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2012
</td>
<td align="right">
   1.2037
</td>
<td align="right">
  .0020
</td>
<td>
2011-09-06 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
14:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8774
</td>
<td align="right">
    .8777
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-06 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
16:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8773
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
14:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4044
</td>
<td align="right">
   1.3996
</td>
<td align="right">
 -.0034
</td>
<td>
2011-09-06 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
14:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4039
</td>
<td align="right">
   1.3998
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-06 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
15:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3981
</td>
<td align="right">
   1.3990
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-06 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
15:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3987
</td>
<td align="right">
   1.3987
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-06 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
15:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3997
</td>
<td align="right">
   1.3991
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-06 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
15:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4014
</td>
<td align="right">
   1.3989
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-06 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
17:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3978
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
14:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.6016
</td>
<td align="right">
   1.5949
</td>
<td align="right">
 -.0042
</td>
<td>
2011-09-06 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
15:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.5968
</td>
<td align="right">
   1.5941
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-06 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
15:10:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.5939
</td>
<td align="right">
   1.5934
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-06 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
15:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.5953
</td>
<td align="right">
   1.5933
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-06 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
15:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.5952
</td>
<td align="right">
   1.5946
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-06 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
16:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.5933
</td>
<td align="right">
   1.5940
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-06 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
16:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.5940
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 22:50:00
</td>
</tr>
</table>
<br /><hr />