<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-07
12:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  75.7067
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-07
13:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  75.6231
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-07
13:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  75.6093
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-07
13:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  75.6193
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
08:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9779
</td>
<td align="right">
    .9790
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-07 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
09:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9783
</td>
<td align="right">
    .9782
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-07 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
09:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9789
</td>
<td align="right">
    .9774
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-07 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
10:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9787
</td>
<td align="right">
    .9789
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-07 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
12:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9859
</td>
<td align="right">
    .9833
</td>
<td align="right">
 -.0026
</td>
<td>
2011-10-07 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
12:45:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    .9857
</td>
<td align="right">
    .9827
</td>
<td align="right">
 -.0030
</td>
<td>
2011-10-07 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
12:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9854
</td>
<td align="right">
    .9838
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-07 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
13:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9844
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
08:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3710
</td>
<td align="right">
   1.3727
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-07 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
08:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3723
</td>
<td align="right">
   1.3714
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-07 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
08:45:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3733
</td>
<td align="right">
   1.3710
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-07 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
08:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3732
</td>
<td align="right">
   1.3718
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-07 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
08:55:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3734
</td>
<td align="right">
   1.3715
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-07 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
09:00:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.3735
</td>
<td align="right">
   1.3716
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-07 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
09:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3724
</td>
<td align="right">
   1.3726
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-07 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
10:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3726
</td>
<td align="right">
   1.3731
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-07 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
10:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3732
</td>
<td align="right">
   1.3732
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-07 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
10:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3737
</td>
<td align="right">
   1.3733
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-07 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
10:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3735
</td>
<td align="right">
   1.3733
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-07 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
10:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3735
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-07 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
10:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3738
</td>
<td align="right">
   1.3730
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-07 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
11:30:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.3732
</td>
<td align="right">
   1.3689
</td>
<td align="right">
 -.0031
</td>
<td>
2011-10-07 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
11:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3733
</td>
<td align="right">
   1.3693
</td>
<td align="right">
 -.0029
</td>
<td>
2011-10-07 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-07
11:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3733
</td>
<td align="right">
   1.3685
</td>
<td align="right">
 -.0035
</td>
<td>
2011-10-07 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-07
08:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2381
</td>
<td align="right">
   1.2365
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-07 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
08:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8661
</td>
<td align="right">
    .8647
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-07 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
08:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8666
</td>
<td align="right">
    .8648
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-07 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
08:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8663
</td>
<td align="right">
    .8647
</td>
<td align="right">
 -.0019
</td>
<td>
2011-10-07 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
10:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8658
</td>
<td align="right">
    .8647
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-07 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
10:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8658
</td>
<td align="right">
    .8650
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-07 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
10:35:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8658
</td>
<td align="right">
    .8649
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-07 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
10:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8656
</td>
<td align="right">
    .8649
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-07 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
10:45:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8660
</td>
<td align="right">
    .8649
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-07 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
10:50:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .8656
</td>
<td align="right">
    .8644
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-07 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
10:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8658
</td>
<td align="right">
    .8651
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-07 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:00:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8658
</td>
<td align="right">
    .8653
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-07 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:05:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .8656
</td>
<td align="right">
    .8650
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-07 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8652
</td>
<td align="right">
    .8646
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-07 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .8652
</td>
<td align="right">
    .8647
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-07 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:20:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8647
</td>
<td align="right">
    .8654
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-07 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8647
</td>
<td align="right">
    .8650
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-07 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8650
</td>
<td align="right">
    .8658
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-07 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8649
</td>
<td align="right">
    .8667
</td>
<td align="right">
  .0021
</td>
<td>
2011-10-07 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
11:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8651
</td>
<td align="right">
    .8662
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-07 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8653
</td>
<td align="right">
    .8654
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-07 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8650
</td>
<td align="right">
    .8663
</td>
<td align="right">
  .0014
</td>
<td>
2011-10-07 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8646
</td>
<td align="right">
    .8666
</td>
<td align="right">
  .0023
</td>
<td>
2011-10-07 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:20:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .8654
</td>
<td align="right">
    .8663
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-07 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:25:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8650
</td>
<td align="right">
    .8659
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-07 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:30:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8658
</td>
<td align="right">
    .8659
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-07 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8665
</td>
<td align="right">
    .8653
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-07 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:45:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8662
</td>
<td align="right">
    .8652
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-07 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:50:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .8663
</td>
<td align="right">
    .8650
</td>
<td align="right">
 -.0015
</td>
<td>
2011-10-07 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
12:55:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    .8662
</td>
<td align="right">
    .8649
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-07 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:00:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8654
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:05:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8663
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:10:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .8666
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8665
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:20:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8663
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:25:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .8659
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:30:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8659
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:35:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8655
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-07
13:40:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    .8653
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-07 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
08:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 103.0569
</td>
<td align="right">
 102.9618
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-07 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
08:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 103.0272
</td>
<td align="right">
 102.9477
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-07 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
08:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 103.0693
</td>
<td align="right">
 102.8964
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-07 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
08:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 103.0258
</td>
<td align="right">
 102.9180
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-07 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
08:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 103.0165
</td>
<td align="right">
 102.9237
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-07 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
10:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 102.9803
</td>
<td align="right">
 103.0608
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-07 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
11:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 103.0526
</td>
<td align="right">
 103.7639
</td>
<td align="right">
  .0069
</td>
<td>
2011-10-07 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
11:40:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
 103.0128
</td>
<td align="right">
 103.6896
</td>
<td align="right">
  .0066
</td>
<td>
2011-10-07 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
11:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 103.0608
</td>
<td align="right">
 103.6347
</td>
<td align="right">
  .0056
</td>
<td>
2011-10-07 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
11:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 103.0301
</td>
<td align="right">
 103.5836
</td>
<td align="right">
  .0054
</td>
<td>
2011-10-07 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
12:00:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 103.0598
</td>
<td align="right">
 103.4934
</td>
<td align="right">
  .0042
</td>
<td>
2011-10-07 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-07
12:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 103.0433
</td>
<td align="right">
 103.5240
</td>
<td align="right">
  .0047
</td>
<td>
2011-10-07 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-07
10:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0396
</td>
<td align="right">
   1.0337
</td>
<td align="right">
 -.0057
</td>
<td>
2011-10-07 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-07
10:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  74.9645
</td>
<td align="right">
  75.0430
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-07 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-07
10:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  74.9476
</td>
<td align="right">
  75.0383
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-07 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-07
10:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  74.9552
</td>
<td align="right">
  75.0108
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-07 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
10:00:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9796
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-07 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
10:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9775
</td>
<td align="right">
    .9786
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-07 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
12:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9787
</td>
<td align="right">
    .9844
</td>
<td align="right">
  .0059
</td>
<td>
2011-10-07 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
12:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9794
</td>
<td align="right">
    .9844
</td>
<td align="right">
  .0051
</td>
<td>
2011-10-07 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-07
12:20:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .9787
</td>
<td align="right">
    .9845
</td>
<td align="right">
  .0058
</td>
<td>
2011-10-07 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-07
11:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0342
</td>
<td align="right">
   1.0355
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-07 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-07
11:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0336
</td>
<td align="right">
   1.0285
</td>
<td align="right">
 -.0050
</td>
<td>
2011-10-07 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-07
11:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0338
</td>
<td align="right">
   1.0268
</td>
<td align="right">
 -.0068
</td>
<td>
2011-10-07 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-07
12:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0257
</td>
<td align="right">
   1.0302
</td>
<td align="right">
  .0044
</td>
<td>
2011-10-07 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-07
08:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9202
</td>
<td align="right">
    .9208
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-07 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-07
08:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9198
</td>
<td align="right">
    .9209
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-07 14:30:00
</td>
</tr>
</table>
<br /><hr />