<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-11
08:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  76.7000
</td>
<td align="right">
  76.6975
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-11 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-11
08:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  76.7050
</td>
<td align="right">
  76.6625
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-11 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-11
08:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  76.7075
</td>
<td align="right">
  76.6600
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-11 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-11
08:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  76.7163
</td>
<td align="right">
  76.6650
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-11 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-11
09:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  76.6975
</td>
<td align="right">
  76.6425
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-11 15:05:00
</td>
</tr>
</table>
<br /><hr />