<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-16
02:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0324
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-16 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-16
05:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8714
</td>
<td align="right">
    .8710
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-16 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
02:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.2655
</td>
<td align="right">
  79.3888
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-16 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
01:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3427
</td>
<td align="right">
   1.3421
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-16 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
02:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3419
</td>
<td align="right">
   1.3412
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-16 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
02:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3421
</td>
<td align="right">
   1.3415
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-16 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
02:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3421
</td>
<td align="right">
   1.3419
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-16 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
02:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3420
</td>
<td align="right">
   1.3408
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-16 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
04:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3411
</td>
<td align="right">
   1.3391
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-16 10:00:00
</td>
</tr>
</table>
<br /><hr />