<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
08:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3248
</td>
<td align="right">
   1.3237
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-26 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
09:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3249
</td>
<td align="right">
   1.3227
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-26 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
07:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  78.0625
</td>
<td align="right">
  78.1150
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-26 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
10:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  85.3734
</td>
<td align="right">
  85.4620
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-26 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
10:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  85.4402
</td>
<td align="right">
  85.4887
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-26 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
10:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  85.4234
</td>
<td align="right">
  85.4929
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-26 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
10:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  85.4271
</td>
<td align="right">
  85.5101
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-26 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
10:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  85.4347
</td>
<td align="right">
  85.5023
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-26 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
10:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  85.4238
</td>
<td align="right">
  85.4835
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-26 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
10:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.4359
</td>
<td align="right">
  85.4954
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-26 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
11:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.4476
</td>
<td align="right">
  85.5518
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-26 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
11:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  85.4650
</td>
<td align="right">
  85.6085
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-26 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
11:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  85.4978
</td>
<td align="right">
  85.5819
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-26 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
11:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  85.5101
</td>
<td align="right">
  85.5236
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-26 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
11:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  85.5023
</td>
<td align="right">
  85.4947
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-26 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
12:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  85.6085
</td>
<td align="right">
  85.4078
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-26 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
12:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.5627
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
12:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  85.4947
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
13:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  85.4078
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-26
13:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  85.4370
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
10:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3223
</td>
<td align="right">
   1.3226
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-26 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
11:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3232
</td>
<td align="right">
   1.3211
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-26 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
11:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3228
</td>
<td align="right">
   1.3216
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-26 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
11:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
   1.3215
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-26 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
11:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3218
</td>
<td align="right">
   1.3219
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-26 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
12:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3212
</td>
<td align="right">
   1.3213
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-26 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
12:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3211
</td>
<td align="right">
   1.3215
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-26 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
12:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3212
</td>
<td align="right">
   1.3214
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-26 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
12:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3216
</td>
<td align="right">
   1.3214
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-26 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
12:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3213
</td>
<td align="right">
   1.3218
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-26 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
12:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3213
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
12:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3215
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
12:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3219
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
13:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3213
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
13:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3212
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
13:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3215
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-26
13:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3214
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-26 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
09:35:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  78.1225
</td>
<td align="right">
  78.0550
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-26 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-26
10:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  78.0375
</td>
<td align="right">
  78.0725
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-26 16:10:00
</td>
</tr>
</table>
<br /><hr />