<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
15:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3630
</td>
<td align="right">
   1.3640
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-07 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
15:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3624
</td>
<td align="right">
   1.3632
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-07 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
16:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3623
</td>
<td align="right">
   1.3581
</td>
<td align="right">
 -.0031
</td>
<td>
2011-08-07 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
16:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3646
</td>
<td align="right">
   1.3570
</td>
<td align="right">
 -.0056
</td>
<td>
2011-08-07 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
20:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3661
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
20:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3667
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
16:45:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8712
</td>
<td align="right">
    .8715
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-07 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
17:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8712
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-07 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
17:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8719
</td>
<td align="right">
    .8726
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-07 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
18:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8726
</td>
<td align="right">
    .8719
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-08 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
16:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .7665
</td>
<td align="right">
    .7681
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-07 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7673
</td>
<td align="right">
    .7681
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-07 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .7687
</td>
<td align="right">
    .7683
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-07 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7686
</td>
<td align="right">
    .7679
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-07 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7679
</td>
<td align="right">
    .7662
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-07 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7681
</td>
<td align="right">
    .7670
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-07 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
18:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7668
</td>
<td align="right">
    .7655
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-08 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
18:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .7664
</td>
<td align="right">
    .7657
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-08 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
18:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .7668
</td>
<td align="right">
    .7654
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-08 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
18:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .7669
</td>
<td align="right">
    .7655
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-08 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
18:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7670
</td>
<td align="right">
    .7656
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-08 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
19:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .7663
</td>
<td align="right">
    .7647
</td>
<td align="right">
 -.0020
</td>
<td>
2011-08-08 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
19:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7657
</td>
<td align="right">
    .7658
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-08 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
19:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .7659
</td>
<td align="right">
    .7664
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-08 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
20:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7662
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
20:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .7676
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
20:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .7674
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-05
20:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  82.0525
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-05
20:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  82.0515
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-05
20:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  81.8699
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:15:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3581
</td>
<td align="right">
   1.3605
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-07 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3570
</td>
<td align="right">
   1.3602
</td>
<td align="right">
  .0024
</td>
<td>
2011-08-07 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3576
</td>
<td align="right">
   1.3609
</td>
<td align="right">
  .0025
</td>
<td>
2011-08-07 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3577
</td>
<td align="right">
   1.3605
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-07 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3595
</td>
<td align="right">
   1.3613
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-07 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3580
</td>
<td align="right">
   1.3623
</td>
<td align="right">
  .0032
</td>
<td>
2011-08-07 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
18:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3585
</td>
<td align="right">
   1.3631
</td>
<td align="right">
  .0034
</td>
<td>
2011-08-08 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
18:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3591
</td>
<td align="right">
   1.3645
</td>
<td align="right">
  .0040
</td>
<td>
2011-08-08 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
18:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3609
</td>
<td align="right">
   1.3640
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-08 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
18:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3605
</td>
<td align="right">
   1.3642
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-08 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
18:55:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3623
</td>
<td align="right">
   1.3646
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-08 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
19:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3631
</td>
<td align="right">
   1.3657
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-08 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
19:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3648
</td>
<td align="right">
   1.3667
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-08 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
19:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3646
</td>
<td align="right">
   1.3677
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-08 01:55:00
</td>
</tr>
</table>
<br /><hr />