<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
23:25:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3821
</td>
<td align="right">
   1.3809
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-23 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-22
23:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3822
</td>
<td align="right">
   1.3807
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-23 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-23
05:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9888
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-23 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-08-23
01:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.6473
</td>
<td align="right">
   1.6468
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-23 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-08-23
01:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.6467
</td>
<td align="right">
   1.6481
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-23 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-23
00:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9905
</td>
<td align="right">
    .9896
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-23 06:10:00
</td>
</tr>
</table>
<br /><hr />