<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
19:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3281
</td>
<td align="right">
   1.3299
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-02 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
20:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3301
</td>
<td align="right">
   1.3296
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
20:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3300
</td>
<td align="right">
   1.3299
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-02 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
21:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3295
</td>
<td align="right">
   1.3303
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-02 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
22:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3299
</td>
<td align="right">
   1.3301
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-02 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
22:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3293
</td>
<td align="right">
   1.3304
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-02 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
22:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3298
</td>
<td align="right">
   1.3302
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-02 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
22:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3297
</td>
<td align="right">
   1.3304
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
23:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3309
</td>
<td align="right">
   1.3308
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-02 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1344
</td>
<td align="right">
   1.1340
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
20:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 109.7396
</td>
<td align="right">
 109.6751
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-02 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
21:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 109.6758
</td>
<td align="right">
 109.6342
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
21:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 109.6535
</td>
<td align="right">
 109.6213
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
21:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 109.6797
</td>
<td align="right">
 109.6140
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-02 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
21:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 109.6751
</td>
<td align="right">
 109.6224
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-02 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
23:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.8850
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
18:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  82.5208
</td>
<td align="right">
  82.5642
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
19:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  82.4578
</td>
<td align="right">
  82.4723
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-02 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
19:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  82.5596
</td>
<td align="right">
  82.5602
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
19:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  82.5456
</td>
<td align="right">
  82.4534
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-02 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
19:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  82.5251
</td>
<td align="right">
  82.4845
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-02 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
19:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  82.4805
</td>
<td align="right">
  82.4778
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
20:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  82.4943
</td>
<td align="right">
  82.5317
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
23:30:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
  82.4198
</td>
<td align="right">
  82.4951
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-02 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
23:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  82.3965
</td>
<td align="right">
  82.5047
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-02 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
18:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1340
</td>
<td align="right">
   1.1334
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-02 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
19:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.1348
</td>
<td align="right">
   1.1335
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-02 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
20:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1339
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-02 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
20:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.1347
</td>
<td align="right">
   1.1340
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-02 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
20:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.1346
</td>
<td align="right">
   1.1339
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-02 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
20:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.1346
</td>
<td align="right">
   1.1334
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-02 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
20:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1339
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
20:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.1341
</td>
<td align="right">
   1.1337
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
20:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.1344
</td>
<td align="right">
   1.1339
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
21:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.1347
</td>
<td align="right">
   1.1341
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-02 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
21:25:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.1344
</td>
<td align="right">
   1.1340
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
21:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.1342
</td>
<td align="right">
   1.1342
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
21:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.1337
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
21:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.1339
</td>
<td align="right">
   1.1347
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-02 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
21:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.1334
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-02 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
22:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.1337
</td>
<td align="right">
   1.1344
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-02 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
22:10:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.1339
</td>
<td align="right">
   1.1341
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-02 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
22:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.1341
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-02 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
22:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.1340
</td>
<td align="right">
   1.1344
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-02 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
22:45:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1341
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-02 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1336
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-02 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:20:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.1344
</td>
<td align="right">
   1.1338
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-02 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1344
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-02 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.1340
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-02 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.1341
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-02 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-01
18:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7940
</td>
<td align="right">
    .7947
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-02 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-01
19:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7953
</td>
<td align="right">
    .7943
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-02 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-01
19:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .7951
</td>
<td align="right">
    .7944
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-02 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-01
19:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .7946
</td>
<td align="right">
    .7953
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-02 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-01
21:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7956
</td>
<td align="right">
    .7954
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-02 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
18:35:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  76.8100
</td>
<td align="right">
  76.8125
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
18:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  76.8100
</td>
<td align="right">
  76.8200
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-02 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
18:45:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  76.8275
</td>
<td align="right">
  76.8063
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
18:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  76.8213
</td>
<td align="right">
  76.8050
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-02 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
18:55:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
  76.8125
</td>
<td align="right">
  76.8100
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
19:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  76.8150
</td>
<td align="right">
  76.8850
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-02 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
19:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  76.8150
</td>
<td align="right">
  76.8875
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-02 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
19:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  76.8175
</td>
<td align="right">
  76.8950
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-02 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
19:40:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  76.8200
</td>
<td align="right">
  76.8650
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-02 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
19:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  76.8063
</td>
<td align="right">
  76.8850
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-02 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
19:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  76.8050
</td>
<td align="right">
  76.9050
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-02 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-01
19:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  76.8100
</td>
<td align="right">
  76.9275
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-02 01:55:00
</td>
</tr>
</table>
<br /><hr />