<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
17:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  79.6853
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-18 23:55:00
</td>
</tr>
</table>
<br /><hr />