<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
19:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0171
</td>
<td align="right">
   1.0351
</td>
<td align="right">
  .0177
</td>
<td>
2011-08-10 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
19:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0223
</td>
<td align="right">
   1.0357
</td>
<td align="right">
  .0131
</td>
<td>
2011-08-10 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
18:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7141
</td>
<td align="right">
    .7183
</td>
<td align="right">
  .0058
</td>
<td>
2011-08-10 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
19:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7149
</td>
<td align="right">
    .7219
</td>
<td align="right">
  .0098
</td>
<td>
2011-08-10 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
20:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7219
</td>
<td align="right">
    .7228
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-10 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
20:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7199
</td>
<td align="right">
    .7240
</td>
<td align="right">
  .0056
</td>
<td>
2011-08-10 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
20:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .7198
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
15:20:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  77.3050
</td>
<td align="right">
  77.1750
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-09 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
15:25:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  77.3075
</td>
<td align="right">
  77.1488
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-09 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
15:30:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  77.2750
</td>
<td align="right">
  77.1475
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-09 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
15:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  77.2400
</td>
<td align="right">
  77.1250
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-09 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7379
</td>
<td align="right">
    .7294
</td>
<td align="right">
 -.0115
</td>
<td>
2011-08-09 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .7371
</td>
<td align="right">
    .7297
</td>
<td align="right">
 -.0100
</td>
<td>
2011-08-09 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .7333
</td>
<td align="right">
    .7296
</td>
<td align="right">
 -.0050
</td>
<td>
2011-08-09 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .7316
</td>
<td align="right">
    .7299
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-09 21:55:00
</td>
</tr>
</table>
<br /><hr />