<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-27
09:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3229
</td>
<td align="right">
   1.3211
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-27 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-27
09:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3226
</td>
<td align="right">
   1.3200
</td>
<td align="right">
 -.0020
</td>
<td>
2011-10-27 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-27
10:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3207
</td>
<td align="right">
   1.3190
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-27 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
08:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 106.3021
</td>
<td align="right">
 106.2221
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-27 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
10:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4019
</td>
<td align="right">
   1.4022
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-27 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
11:10:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.4022
</td>
<td align="right">
   1.4037
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-27 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
11:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4023
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
11:30:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.4024
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
11:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.4027
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
11:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4022
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
11:50:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.4026
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
11:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4030
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
12:00:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.4043
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-27
12:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4038
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-27
07:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9989
</td>
<td align="right">
    .9962
</td>
<td align="right">
 -.0027
</td>
<td>
2011-10-27 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-27
10:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2253
</td>
<td align="right">
   1.2232
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-27 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-27
11:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2232
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
08:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 106.4292
</td>
<td align="right">
 106.1833
</td>
<td align="right">
 -.0023
</td>
<td>
2011-10-27 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-27
10:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9944
</td>
<td align="right">
    .9959
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-27 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
07:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  75.8700
</td>
<td align="right">
  75.9000
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-27 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
07:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  75.8850
</td>
<td align="right">
  75.8475
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-27 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
07:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  75.9125
</td>
<td align="right">
  75.8375
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-27 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
07:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  75.8725
</td>
<td align="right">
  75.9050
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-27 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
08:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  75.9000
</td>
<td align="right">
  75.8625
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-27 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-27
08:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  75.8350
</td>
<td align="right">
  75.8650
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-27 14:30:00
</td>
</tr>
</table>
<br /><hr />