<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-26
09:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0364
</td>
<td align="right">
   1.0350
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-26 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-26
07:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3425
</td>
<td align="right">
   1.3456
</td>
<td align="right">
  .0023
</td>
<td>
2011-10-26 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-26
07:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.2215
</td>
<td align="right">
   1.2177
</td>
<td align="right">
 -.0032
</td>
<td>
2011-10-26 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-26
09:10:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.2192
</td>
<td align="right">
   1.2184
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-26 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-26
09:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.2192
</td>
<td align="right">
   1.2171
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-26 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-26
09:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2197
</td>
<td align="right">
   1.2181
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-26 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-26
10:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2193
</td>
<td align="right">
   1.2200
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-26 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-26
11:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2197
</td>
<td align="right">
   1.2199
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-26 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-10-26
11:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2194
</td>
<td align="right">
   1.2200
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-26 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
08:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8707
</td>
<td align="right">
    .8713
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-26 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
08:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8715
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-26 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
09:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8708
</td>
<td align="right">
    .8717
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-26 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
09:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8711
</td>
<td align="right">
    .8711
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-26 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
09:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8713
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-26 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
09:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8709
</td>
<td align="right">
    .8711
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-26 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
09:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8709
</td>
<td align="right">
    .8710
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-26 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
09:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8713
</td>
<td align="right">
    .8709
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-26 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
09:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8715
</td>
<td align="right">
    .8705
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-26 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
10:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8717
</td>
<td align="right">
    .8705
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-26 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
10:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8711
</td>
<td align="right">
    .8716
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-26 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
10:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8712
</td>
<td align="right">
    .8720
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-26 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
11:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8719
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-26 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
11:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 105.7308
</td>
<td align="right">
 105.6526
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-26 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
11:25:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 105.7387
</td>
<td align="right">
 105.6591
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-26 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
11:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 105.7236
</td>
<td align="right">
 105.5936
</td>
<td align="right">
 -.0012
</td>
<td>
2011-10-26 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
07:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3925
</td>
<td align="right">
   1.3928
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-26 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
08:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3935
</td>
<td align="right">
   1.3937
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-26 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
08:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3935
</td>
<td align="right">
   1.3931
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-26 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
09:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3935
</td>
<td align="right">
   1.3934
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-26 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
09:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3933
</td>
<td align="right">
   1.3927
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-26 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
07:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 105.7082
</td>
<td align="right">
 105.7020
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-26 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
08:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 105.7020
</td>
<td align="right">
 105.7825
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-26 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
08:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 105.6382
</td>
<td align="right">
 105.7673
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-26 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
08:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 105.6822
</td>
<td align="right">
 105.7732
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-26 14:40:00
</td>
</tr>
</table>
<br /><hr />