<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-04
21:55:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.3483
</td>
<td align="right">
   1.3487
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-05 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-04
22:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3470
</td>
<td align="right">
   1.3479
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-05 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-04
23:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3487
</td>
<td align="right">
   1.3494
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-05 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
02:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3452
</td>
<td align="right">
   1.3470
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-05 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
02:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3452
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
02:35:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3453
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
03:00:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3466
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-04
23:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8660
</td>
<td align="right">
    .8671
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-05 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
21:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .7653
</td>
<td align="right">
    .7659
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-05 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
21:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .7657
</td>
<td align="right">
    .7658
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-05 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
22:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .7649
</td>
<td align="right">
    .7659
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-05 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
22:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7651
</td>
<td align="right">
    .7638
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-05 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
22:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .7656
</td>
<td align="right">
    .7638
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-05 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
23:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .7661
</td>
<td align="right">
    .7654
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-05 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
23:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .7638
</td>
<td align="right">
    .7650
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-05 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
23:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .7643
</td>
<td align="right">
    .7635
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-05 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
23:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .7638
</td>
<td align="right">
    .7637
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-05 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
23:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .7640
</td>
<td align="right">
    .7642
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-05 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
23:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .7639
</td>
<td align="right">
    .7639
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-05 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
23:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .7639
</td>
<td align="right">
    .7650
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-05 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
00:00:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .7654
</td>
<td align="right">
    .7644
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-05 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
00:10:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .7650
</td>
<td align="right">
    .7642
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-05 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
00:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .7641
</td>
<td align="right">
    .7643
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-05 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
00:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .7635
</td>
<td align="right">
    .7645
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-05 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
00:30:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .7642
</td>
<td align="right">
    .7654
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-05 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
00:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7639
</td>
<td align="right">
    .7652
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-05 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
01:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .7642
</td>
<td align="right">
    .7650
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-05 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
01:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .7643
</td>
<td align="right">
    .7650
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-05 07:15:00
</td>
</tr>
</table>
<br /><hr />