<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
12:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.4450
</td>
<td align="right">
   1.4436
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-31 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
13:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4440
</td>
<td align="right">
   1.4415
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-31 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
11:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  81.7320
</td>
<td align="right">
  81.7214
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-31 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
11:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  81.7327
</td>
<td align="right">
  81.8142
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-31 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
11:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  81.7258
</td>
<td align="right">
  81.8096
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-31 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
11:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  81.7860
</td>
<td align="right">
  81.7481
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-31 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
11:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  81.7924
</td>
<td align="right">
  81.7605
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-31 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
12:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  81.7866
</td>
<td align="right">
  81.8071
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-31 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
13:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  81.8071
</td>
<td align="right">
  82.1059
</td>
<td align="right">
  .0037
</td>
<td>
2011-08-31 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
16:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3453
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
16:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3449
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
14:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4417
</td>
<td align="right">
   1.4425
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-31 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
14:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4406
</td>
<td align="right">
   1.4431
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-31 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
14:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4398
</td>
<td align="right">
   1.4419
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-31 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
14:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4398
</td>
<td align="right">
   1.4406
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-31 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
15:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4416
</td>
<td align="right">
   1.4408
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-31 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
15:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.4414
</td>
<td align="right">
   1.4412
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-31 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
15:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4423
</td>
<td align="right">
   1.4413
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-31 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
15:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.4419
</td>
<td align="right">
   1.4412
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-31 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
16:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4408
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-31 22:15:00
</td>
</tr>
</table>
<br /><hr />