<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
04:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.1315
</td>
<td align="right">
   1.1310
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
04:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.1310
</td>
<td align="right">
   1.1297
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-02 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
05:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1308
</td>
<td align="right">
   1.1293
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-02 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
06:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1283
</td>
<td align="right">
   1.1179
</td>
<td align="right">
 -.0093
</td>
<td>
2011-09-02 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
06:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1287
</td>
<td align="right">
   1.1147
</td>
<td align="right">
 -.0125
</td>
<td>
2011-09-02 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
06:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1241
</td>
<td align="right">
   1.1192
</td>
<td align="right">
 -.0044
</td>
<td>
2011-09-02 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
06:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1242
</td>
<td align="right">
   1.1191
</td>
<td align="right">
 -.0045
</td>
<td>
2011-09-02 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
07:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1185
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
07:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1192
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1207
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:10:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.1192
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.1194
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
03:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 109.5894
</td>
<td align="right">
 109.6402
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
03:30:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 109.6342
</td>
<td align="right">
 109.6647
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-02 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
03:05:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  76.8750
</td>
<td align="right">
  76.8850
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-02 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
05:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  76.8250
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
05:20:00
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  76.8250
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
05:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.8438
</td>
<td align="right">
  76.8325
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-02 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
07:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7700
</td>
<td align="right">
  76.8075
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
07:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  76.8275
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-02
03:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0698
</td>
<td align="right">
   1.0703
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
04:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 109.6320
</td>
<td align="right">
 109.5011
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-02 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
05:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 109.6419
</td>
<td align="right">
 109.4822
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-02 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
06:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 109.3691
</td>
<td align="right">
 109.1876
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-02 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .7935
</td>
<td align="right">
    .7933
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .7929
</td>
<td align="right">
    .7930
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-02 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .7934
</td>
<td align="right">
    .7931
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .7933
</td>
<td align="right">
    .7931
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-02 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7937
</td>
<td align="right">
    .7929
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-02 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
04:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7929
</td>
<td align="right">
    .7928
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-02 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
06:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7927
</td>
<td align="right">
    .7863
</td>
<td align="right">
 -.0081
</td>
<td>
2011-09-02 12:40:00
</td>
</tr>
</table>
<br /><hr />