<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
04:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.1315
</td>
<td align="right">
   1.1310
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
04:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.1310
</td>
<td align="right">
   1.1297
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-02 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
05:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1308
</td>
<td align="right">
   1.1293
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-02 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
06:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1283
</td>
<td align="right">
   1.1179
</td>
<td align="right">
 -.0093
</td>
<td>
2011-09-02 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
06:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1287
</td>
<td align="right">
   1.1147
</td>
<td align="right">
 -.0125
</td>
<td>
2011-09-02 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
06:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1241
</td>
<td align="right">
   1.1192
</td>
<td align="right">
 -.0044
</td>
<td>
2011-09-02 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
06:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1242
</td>
<td align="right">
   1.1191
</td>
<td align="right">
 -.0045
</td>
<td>
2011-09-02 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
07:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1185
</td>
<td align="right">
   1.1156
</td>
<td align="right">
 -.0027
</td>
<td>
2011-09-02 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
07:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1192
</td>
<td align="right">
   1.1135
</td>
<td align="right">
 -.0051
</td>
<td>
2011-09-02 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1207
</td>
<td align="right">
   1.1088
</td>
<td align="right">
 -.0107
</td>
<td>
2011-09-02 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:10:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.1192
</td>
<td align="right">
   1.1109
</td>
<td align="right">
 -.0074
</td>
<td>
2011-09-02 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.1194
</td>
<td align="right">
   1.1088
</td>
<td align="right">
 -.0094
</td>
<td>
2011-09-02 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1179
</td>
<td align="right">
   1.1111
</td>
<td align="right">
 -.0061
</td>
<td>
2011-09-02 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1192
</td>
<td align="right">
   1.1114
</td>
<td align="right">
 -.0070
</td>
<td>
2011-09-02 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
08:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.1156
</td>
<td align="right">
   1.1110
</td>
<td align="right">
 -.0041
</td>
<td>
2011-09-02 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
09:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.1103
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
09:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1088
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
09:20:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.1097
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
09:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 109.4093
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
05:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  76.8250
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
05:20:00
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
  76.8250
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
05:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.8438
</td>
<td align="right">
  76.8325
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-02 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
07:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7700
</td>
<td align="right">
  76.8075
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
07:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  76.8275
</td>
<td align="right">
  76.8075
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
08:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.8100
</td>
<td align="right">
  76.8000
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-02 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
08:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.8188
</td>
<td align="right">
  76.7925
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
08:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.8275
</td>
<td align="right">
  76.7925
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-02 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
08:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.8575
</td>
<td align="right">
  76.7950
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-02 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
08:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  76.8313
</td>
<td align="right">
  76.8025
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
08:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.8100
</td>
<td align="right">
  76.7875
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
08:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.8075
</td>
<td align="right">
  76.7975
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-02 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
08:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.8075
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
09:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.8075
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
04:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 109.6320
</td>
<td align="right">
 109.5011
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-02 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
05:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 109.6419
</td>
<td align="right">
 109.4822
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-02 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
06:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 109.3691
</td>
<td align="right">
 109.1876
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-02 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7937
</td>
<td align="right">
    .7929
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-02 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
04:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7929
</td>
<td align="right">
    .7928
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-02 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
06:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7927
</td>
<td align="right">
    .7863
</td>
<td align="right">
 -.0081
</td>
<td>
2011-09-02 12:40:00
</td>
</tr>
</table>
<br /><hr />