<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
09:15:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.2019
</td>
<td align="right">
   1.2034
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-06 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
09:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.2011
</td>
<td align="right">
   1.2031
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-06 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
10:30:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2034
</td>
<td align="right">
   1.2037
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-06 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
11:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2037
</td>
<td align="right">
   1.2030
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-06 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
12:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2036
</td>
<td align="right">
   1.2027
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-06 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
08:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8792
</td>
<td align="right">
    .8808
</td>
<td align="right">
  .0019
</td>
<td>
2011-09-06 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
08:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8797
</td>
<td align="right">
    .8813
</td>
<td align="right">
  .0018
</td>
<td>
2011-09-06 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
08:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8786
</td>
<td align="right">
    .8811
</td>
<td align="right">
  .0030
</td>
<td>
2011-09-06 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
08:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8790
</td>
<td align="right">
    .8812
</td>
<td align="right">
  .0026
</td>
<td>
2011-09-06 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
08:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8794
</td>
<td align="right">
    .8802
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-06 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
08:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8791
</td>
<td align="right">
    .8799
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-06 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8793
</td>
<td align="right">
    .8799
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-06 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8799
</td>
<td align="right">
    .8789
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-06 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8810
</td>
<td align="right">
    .8795
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-06 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8796
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-06 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8800
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-06 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8813
</td>
<td align="right">
    .8801
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-06 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:30:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8804
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-06 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8803
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-06 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
09:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8799
</td>
<td align="right">
    .8808
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-06 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-06
10:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8786
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-06 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
07:40:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
 108.2019
</td>
<td align="right">
 109.5773
</td>
<td align="right">
  .0127
</td>
<td>
2011-09-06 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
07:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 108.2486
</td>
<td align="right">
 109.8264
</td>
<td align="right">
  .0146
</td>
<td>
2011-09-06 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
07:50:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
 108.2743
</td>
<td align="right">
 109.6701
</td>
<td align="right">
  .0129
</td>
<td>
2011-09-06 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
08:00:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
 109.0544
</td>
<td align="right">
 109.7437
</td>
<td align="right">
  .0063
</td>
<td>
2011-09-06 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
08:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 109.3675
</td>
<td align="right">
 109.7977
</td>
<td align="right">
  .0039
</td>
<td>
2011-09-06 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
08:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 109.3432
</td>
<td align="right">
 109.7252
</td>
<td align="right">
  .0035
</td>
<td>
2011-09-06 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
08:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 109.2391
</td>
<td align="right">
 109.7136
</td>
<td align="right">
  .0043
</td>
<td>
2011-09-06 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
08:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 109.5773
</td>
<td align="right">
 109.5833
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-06 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
08:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 109.8264
</td>
<td align="right">
 109.3579
</td>
<td align="right">
 -.0043
</td>
<td>
2011-09-06 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
08:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 109.6701
</td>
<td align="right">
 109.3967
</td>
<td align="right">
 -.0025
</td>
<td>
2011-09-06 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
09:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 109.7437
</td>
<td align="right">
 109.2685
</td>
<td align="right">
 -.0043
</td>
<td>
2011-09-06 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
09:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 109.7839
</td>
<td align="right">
 109.4307
</td>
<td align="right">
 -.0032
</td>
<td>
2011-09-06 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
09:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 109.7252
</td>
<td align="right">
 109.4130
</td>
<td align="right">
 -.0028
</td>
<td>
2011-09-06 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
09:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 109.3579
</td>
<td align="right">
 109.4012
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-06 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
09:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 109.2907
</td>
<td align="right">
 109.4618
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-06 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
10:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 109.2685
</td>
<td align="right">
 109.5531
</td>
<td align="right">
  .0026
</td>
<td>
2011-09-06 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
12:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 109.1526
</td>
<td align="right">
 108.9970
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-06 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
12:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 109.1170
</td>
<td align="right">
 108.9984
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-06 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
12:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 109.0817
</td>
<td align="right">
 108.9141
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-06 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-06
13:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 108.9708
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
07:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.4111
</td>
<td align="right">
   1.4187
</td>
<td align="right">
  .0053
</td>
<td>
2011-09-06 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
08:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.4200
</td>
<td align="right">
   1.4183
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-06 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
08:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.4226
</td>
<td align="right">
   1.4191
</td>
<td align="right">
 -.0025
</td>
<td>
2011-09-06 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
08:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4219
</td>
<td align="right">
   1.4220
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-06 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
08:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4186
</td>
<td align="right">
   1.4228
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-06 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
08:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4190
</td>
<td align="right">
   1.4223
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-06 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
08:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4170
</td>
<td align="right">
   1.4174
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-06 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
08:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4180
</td>
<td align="right">
   1.4177
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-06 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
08:55:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4187
</td>
<td align="right">
   1.4180
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-06 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
09:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4183
</td>
<td align="right">
   1.4180
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-06 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
10:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4176
</td>
<td align="right">
   1.4170
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-06 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
10:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4186
</td>
<td align="right">
   1.4162
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-06 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
10:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.4188
</td>
<td align="right">
   1.4131
</td>
<td align="right">
 -.0040
</td>
<td>
2011-09-06 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
10:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.4184
</td>
<td align="right">
   1.4131
</td>
<td align="right">
 -.0037
</td>
<td>
2011-09-06 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
11:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.4162
</td>
<td align="right">
   1.4099
</td>
<td align="right">
 -.0045
</td>
<td>
2011-09-06 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
11:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4162
</td>
<td align="right">
   1.4086
</td>
<td align="right">
 -.0054
</td>
<td>
2011-09-06 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
11:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4137
</td>
<td align="right">
   1.4082
</td>
<td align="right">
 -.0039
</td>
<td>
2011-09-06 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
11:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4131
</td>
<td align="right">
   1.4050
</td>
<td align="right">
 -.0057
</td>
<td>
2011-09-06 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-06
11:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.4128
</td>
<td align="right">
   1.4050
</td>
<td align="right">
 -.0055
</td>
<td>
2011-09-06 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
08:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.6146
</td>
<td align="right">
   1.6154
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-06 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-06
09:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.6124
</td>
<td align="right">
   1.6117
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-06 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-06
09:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  77.2575
</td>
<td align="right">
  77.1513
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-06 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-06
11:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.2638
</td>
<td align="right">
  77.3338
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-06 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-06
11:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  77.2500
</td>
<td align="right">
  77.4575
</td>
<td align="right">
  .0027
</td>
<td>
2011-09-06 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3356
</td>
<td align="right">
   1.3342
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-06 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3355
</td>
<td align="right">
   1.3345
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-06 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3338
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3340
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
12:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3346
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-06
13:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3337
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-06 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-06
12:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2030
</td>
<td align="right">
   1.2026
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-06 18:20:00
</td>
</tr>
</table>
<br /><hr />