<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
20:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8993
</td>
<td align="right">
    .8990
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-18 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
21:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8990
</td>
<td align="right">
    .8987
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-18 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
21:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8993
</td>
<td align="right">
    .8989
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-18 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
21:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8994
</td>
<td align="right">
    .8987
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-18 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
22:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8990
</td>
<td align="right">
    .8984
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-18 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
23:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8985
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-18 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-17
21:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0161
</td>
<td align="right">
   1.0167
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-18 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-17
22:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0170
</td>
<td align="right">
   1.0182
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-18 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-17
23:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3745
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-18 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-17
23:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3748
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-18 05:35:00
</td>
</tr>
</table>
<br /><hr />