<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-19
08:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3347
</td>
<td align="right">
   1.3331
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-19 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
06:50:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
 105.2759
</td>
<td align="right">
 105.1513
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-19 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
07:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 105.2282
</td>
<td align="right">
 105.2249
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-19 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
08:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 105.1698
</td>
<td align="right">
 104.8079
</td>
<td align="right">
 -.0034
</td>
<td>
2011-09-19 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
08:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 105.1479
</td>
<td align="right">
 104.8377
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-19 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
08:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 105.1190
</td>
<td align="right">
 104.8032
</td>
<td align="right">
 -.0030
</td>
<td>
2011-09-19 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
08:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 105.0858
</td>
<td align="right">
 104.7626
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-19 14:40:00
</td>
</tr>
</table>
<br /><hr />