<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-25
02:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3792
</td>
<td align="right">
   1.3786
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-25 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-25
02:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3791
</td>
<td align="right">
   1.3790
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-25 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-25
05:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3807
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-25 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-25
02:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7949
</td>
<td align="right">
    .7952
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-25 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-25
03:05:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .7955
</td>
<td align="right">
    .7950
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-25 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-25
03:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7953
</td>
<td align="right">
    .7954
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-25 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-25
03:15:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .7953
</td>
<td align="right">
    .7954
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-25 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-25
03:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .7947
</td>
<td align="right">
    .7956
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-25 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-25
04:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7948
</td>
<td align="right">
    .7955
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-25 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-25
04:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7954
</td>
<td align="right">
    .7953
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-25 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-25
04:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  76.9700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-25 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-25
05:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.9700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-25 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-25
05:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  76.9750
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-25 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-25
03:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0449
</td>
<td align="right">
   1.0456
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-25 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-25
01:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8797
</td>
<td align="right">
    .8800
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-25 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-25
01:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8797
</td>
<td align="right">
    .8800
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-25 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-25
03:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8796
</td>
<td align="right">
    .8800
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-25 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-25
03:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8797
</td>
<td align="right">
    .8798
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-25 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-25
03:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8798
</td>
<td align="right">
    .8800
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-25 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
23:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4411
</td>
<td align="right">
   1.4413
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-25 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
23:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4408
</td>
<td align="right">
   1.4405
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-25 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-25
00:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4411
</td>
<td align="right">
   1.4399
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-25 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-25
00:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4413
</td>
<td align="right">
   1.4395
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-25 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-25
00:20:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.4412
</td>
<td align="right">
   1.4400
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-25 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-25
04:10:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4407
</td>
<td align="right">
   1.4403
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-25 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-08-25
02:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.6373
</td>
<td align="right">
   1.6372
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-25 08:40:00
</td>
</tr>
</table>
<br /><hr />