<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-25
07:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3280
</td>
<td align="right">
   1.3284
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-25 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
04:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 112.7189
</td>
<td align="right">
 112.6823
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-25 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
05:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 112.5953
</td>
<td align="right">
 112.7039
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-25 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
05:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 112.6148
</td>
<td align="right">
 112.6482
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-25 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:20:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  78.3975
</td>
<td align="right">
  78.3850
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:25:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
  78.3975
</td>
<td align="right">
  78.3875
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:30:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  78.3875
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-25 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  78.3850
</td>
<td align="right">
  78.4225
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-25 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.3888
</td>
<td align="right">
  78.4925
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-25 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:45:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.4900
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-25 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:55:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.4800
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:00:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  78.3900
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  78.3825
</td>
<td align="right">
  78.4650
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  78.3800
</td>
<td align="right">
  78.4588
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-25 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  78.3850
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:25:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  78.3875
</td>
<td align="right">
  78.4713
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.5025
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-25 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  78.4925
</td>
<td align="right">
  78.4663
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-25 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  78.5200
</td>
<td align="right">
  78.4675
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-25 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  78.4800
</td>
<td align="right">
  78.4675
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:00:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  78.4675
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  78.5000
</td>
<td align="right">
  78.4100
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-25 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  78.3975
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-25 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  78.4713
</td>
<td align="right">
  78.3875
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-25 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  78.5025
</td>
<td align="right">
  78.3788
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-25 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  78.4800
</td>
<td align="right">
  78.3750
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-25 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:40:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
  78.4663
</td>
<td align="right">
  78.3975
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-25 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  78.3775
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-25 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  78.4675
</td>
<td align="right">
  78.3625
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-25 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  78.4675
</td>
<td align="right">
  78.3450
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-25 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
06:00:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  78.4675
</td>
<td align="right">
  78.3650
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-25 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
06:05:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  78.4300
</td>
<td align="right">
  78.3650
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-25 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
06:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  78.3775
</td>
<td align="right">
  78.2425
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-25 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
03:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8822
</td>
<td align="right">
    .8823
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-25 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
04:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8822
</td>
<td align="right">
    .8813
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-25 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
04:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8823
</td>
<td align="right">
    .8812
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-25 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
05:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8813
</td>
<td align="right">
    .8811
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
05:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8810
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
05:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8814
</td>
<td align="right">
    .8809
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-25 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
05:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8816
</td>
<td align="right">
    .8809
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-25 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
05:55:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8807
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-25 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
06:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8802
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-25 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
06:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8813
</td>
<td align="right">
    .8805
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-25 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
06:10:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8810
</td>
<td align="right">
    .8810
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-25 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
06:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8806
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
06:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8808
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-25 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
06:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8808
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-25 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
07:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8815
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
07:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8818
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
07:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 112.5008
</td>
<td align="right">
 112.4527
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-25 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
07:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 112.2604
</td>
<td align="right">
 112.3718
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-25 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
07:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 112.1704
</td>
<td align="right">
 112.3903
</td>
<td align="right">
  .0020
</td>
<td>
2011-07-25 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
07:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 112.2506
</td>
<td align="right">
 112.4467
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-25 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
08:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 112.3436
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-25
07:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4343
</td>
<td align="right">
   1.4371
</td>
<td align="right">
  .0020
</td>
<td>
2011-07-25 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-25
07:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4338
</td>
<td align="right">
   1.4381
</td>
<td align="right">
  .0030
</td>
<td>
2011-07-25 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-25
07:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4339
</td>
<td align="right">
   1.4379
</td>
<td align="right">
  .0028
</td>
<td>
2011-07-25 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-25
07:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4347
</td>
<td align="right">
   1.4381
</td>
<td align="right">
  .0024
</td>
<td>
2011-07-25 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
03:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9523
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
03:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9521
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-25 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9524
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9524
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9523
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9523
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9522
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9522
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
06:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9517
</td>
<td align="right">
    .9518
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-25 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
06:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9512
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-25 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
06:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9513
</td>
<td align="right">
    .9511
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
07:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9507
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-25 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
07:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9501
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-25 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
07:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9512
</td>
<td align="right">
    .9499
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-25 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
07:55:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .9511
</td>
<td align="right">
    .9501
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-25 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
08:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9507
</td>
<td align="right">
    .9500
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-25 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
08:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9509
</td>
<td align="right">
    .9501
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-25 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
08:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9512
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
08:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9505
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
08:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9504
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
08:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9504
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
08:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9499
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
08:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9501
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
09:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9499
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
09:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9500
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
09:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9501
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 15:10:00
</td>
</tr>
</table>
<br /><hr />