<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
12:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  82.9488
</td>
<td align="right">
  82.7050
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-03 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
13:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  82.8935
</td>
<td align="right">
  82.5113
</td>
<td align="right">
 -.0046
</td>
<td>
2011-08-03 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
13:25:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  82.8108
</td>
<td align="right">
  82.3360
</td>
<td align="right">
 -.0057
</td>
<td>
2011-08-03 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
18:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  82.6606
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
18:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  82.5753
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
13:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3313
</td>
<td align="right">
   1.3344
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-03 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
13:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3346
</td>
<td align="right">
  .0030
</td>
<td>
2011-08-03 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
13:35:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3353
</td>
<td align="right">
  .0034
</td>
<td>
2011-08-03 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
13:40:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3300
</td>
<td align="right">
   1.3364
</td>
<td align="right">
  .0048
</td>
<td>
2011-08-03 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
13:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3303
</td>
<td align="right">
   1.3362
</td>
<td align="right">
  .0045
</td>
<td>
2011-08-03 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
15:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3343
</td>
<td align="right">
   1.3345
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-03 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
17:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3356
</td>
<td align="right">
   1.3326
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-03 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
18:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3326
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-03
12:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8739
</td>
<td align="right">
    .8721
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-03 18:45:00
</td>
</tr>
</table>
<br /><hr />