<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.5597
</td>
<td align="right">
  79.2553
</td>
<td align="right">
 -.0038
</td>
<td>
2011-09-19 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
20:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.5922
</td>
<td align="right">
  79.1995
</td>
<td align="right">
 -.0049
</td>
<td>
2011-09-19 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.2489
</td>
<td align="right">
  79.1616
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-19 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.2816
</td>
<td align="right">
  79.1642
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-19 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.3303
</td>
<td align="right">
  79.2220
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-19 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  79.3161
</td>
<td align="right">
  79.3567
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-19 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  79.3123
</td>
<td align="right">
  79.3766
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-19 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.2277
</td>
<td align="right">
  79.3682
</td>
<td align="right">
  .0018
</td>
<td>
2011-09-19 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  79.2553
</td>
<td align="right">
  79.3258
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-19 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.1995
</td>
<td align="right">
  79.3008
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-19 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
21:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  79.1796
</td>
<td align="right">
  79.2969
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-19 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
22:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.2586
</td>
<td align="right">
  79.2873
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-19 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
22:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  79.1745
</td>
<td align="right">
  79.2827
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-19 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
22:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.1404
</td>
<td align="right">
  79.2153
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-19 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
22:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.1616
</td>
<td align="right">
  79.2134
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-19 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
22:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  79.1642
</td>
<td align="right">
  79.1890
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-19 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
22:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  79.2220
</td>
<td align="right">
  79.0954
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-19 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
22:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.3258
</td>
<td align="right">
  79.2623
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-19 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.2873
</td>
<td align="right">
  79.2097
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-19 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  79.2827
</td>
<td align="right">
  79.2507
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-19 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.2153
</td>
<td align="right">
  79.2431
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-19 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  79.2134
</td>
<td align="right">
  79.2803
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-19 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.1890
</td>
<td align="right">
  79.2572
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-19 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.0954
</td>
<td align="right">
  79.2380
</td>
<td align="right">
  .0018
</td>
<td>
2011-09-19 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  79.0942
</td>
<td align="right">
  79.2277
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-19 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  79.1738
</td>
<td align="right">
  79.2290
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-19 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.2417
</td>
<td align="right">
  79.1944
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-19 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-18
23:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  79.1841
</td>
<td align="right">
  79.1565
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-19 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-19
00:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.2097
</td>
<td align="right">
  79.1065
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-19 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-19
00:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.2507
</td>
<td align="right">
  79.1020
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-19 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-19
00:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  79.2277
</td>
<td align="right">
  78.9411
</td>
<td align="right">
 -.0036
</td>
<td>
2011-09-19 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-19
00:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.2213
</td>
<td align="right">
  78.8372
</td>
<td align="right">
 -.0048
</td>
<td>
2011-09-19 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-19
01:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.1065
</td>
<td align="right">
  78.8436
</td>
<td align="right">
 -.0033
</td>
<td>
2011-09-19 07:00:00
</td>
</tr>
</table>
<br /><hr />