<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-23
07:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9813
</td>
<td align="right">
    .9848
</td>
<td align="right">
  .0035
</td>
<td>
2011-09-23 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-23
09:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9835
</td>
<td align="right">
    .9786
</td>
<td align="right">
 -.0050
</td>
<td>
2011-09-23 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-23
07:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2219
</td>
<td align="right">
   1.2196
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-23 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-23
08:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2217
</td>
<td align="right">
   1.2213
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-23 14:00:00
</td>
</tr>
</table>
<br /><hr />