<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
13:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0622
</td>
<td align="right">
   1.0624
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-08 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
13:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0623
</td>
<td align="right">
   1.0629
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-08 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
13:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0630
</td>
<td align="right">
   1.0634
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-08 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
13:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0638
</td>
<td align="right">
   1.0635
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-08 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
13:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0635
</td>
<td align="right">
   1.0648
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-08 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-08
14:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2145
</td>
<td align="right">
   1.2149
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-08 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-08
14:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.2176
</td>
<td align="right">
   1.2155
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-08 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-08
15:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2149
</td>
<td align="right">
   1.2145
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-08 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
12:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9858
</td>
<td align="right">
    .9841
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-08 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
12:50:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9857
</td>
<td align="right">
    .9845
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-08 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
13:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9857
</td>
<td align="right">
    .9848
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-08 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
15:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9845
</td>
<td align="right">
    .9855
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-08 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
15:45:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9853
</td>
<td align="right">
    .9865
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-08 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
15:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9856
</td>
<td align="right">
    .9863
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-08 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
15:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9858
</td>
<td align="right">
    .9863
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-08 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9861
</td>
<td align="right">
    .9865
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-08 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9857
</td>
<td align="right">
    .9864
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-08 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:10:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9856
</td>
<td align="right">
    .9871
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-08 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9856
</td>
<td align="right">
    .9873
</td>
<td align="right">
  .0018
</td>
<td>
2011-09-08 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:25:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .9862
</td>
<td align="right">
    .9870
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-08 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:30:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    .9866
</td>
<td align="right">
    .9878
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-08 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9865
</td>
<td align="right">
    .9871
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-08 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9866
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9865
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9863
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
16:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9863
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
17:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9865
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
17:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9871
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-08
17:30:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .9878
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-08
16:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  82.2647
</td>
<td align="right">
  82.3534
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-08 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-08
16:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  82.3162
</td>
<td align="right">
  82.2673
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
12:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3163
</td>
<td align="right">
   1.3162
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-08 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
12:50:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.3163
</td>
<td align="right">
   1.3160
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-08 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
12:55:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3161
</td>
<td align="right">
   1.3157
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-08 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:00:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3162
</td>
<td align="right">
   1.3156
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-08 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:05:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.3157
</td>
<td align="right">
   1.3156
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-08 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:10:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3155
</td>
<td align="right">
   1.3161
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-08 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3162
</td>
<td align="right">
   1.3154
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:20:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3163
</td>
<td align="right">
   1.3152
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-08 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:25:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3152
</td>
<td align="right">
   1.3151
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-08 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3151
</td>
<td align="right">
   1.3159
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-08 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3164
</td>
<td align="right">
   1.3157
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-08 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3149
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-08 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:45:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
   1.3162
</td>
<td align="right">
   1.3154
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-08 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3160
</td>
<td align="right">
   1.3152
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
13:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3157
</td>
<td align="right">
   1.3147
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-08 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3156
</td>
<td align="right">
   1.3146
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-08 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3156
</td>
<td align="right">
   1.3143
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-08 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3161
</td>
<td align="right">
   1.3134
</td>
<td align="right">
 -.0021
</td>
<td>
2011-09-08 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   1.3137
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-08 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3152
</td>
<td align="right">
   1.3137
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-08 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3151
</td>
<td align="right">
   1.3133
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-08 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3157
</td>
<td align="right">
   1.3129
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-08 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:40:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3149
</td>
<td align="right">
   1.3122
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-08 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:45:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   1.3112
</td>
<td align="right">
 -.0032
</td>
<td>
2011-09-08 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
14:55:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3147
</td>
<td align="right">
   1.3121
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-08 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3146
</td>
<td align="right">
   1.3118
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-08 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:05:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3143
</td>
<td align="right">
   1.3123
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-08 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3134
</td>
<td align="right">
   1.3114
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-08 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3120
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-08 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3133
</td>
<td align="right">
   1.3119
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-08 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:30:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3120
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-08 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3119
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-08 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3112
</td>
<td align="right">
   1.3103
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-08 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3114
</td>
<td align="right">
   1.3108
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-08 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
15:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3121
</td>
<td align="right">
   1.3112
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:00:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3118
</td>
<td align="right">
   1.3109
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3123
</td>
<td align="right">
   1.3107
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-08 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3114
</td>
<td align="right">
   1.3115
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-08 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3121
</td>
<td align="right">
   1.3110
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-08 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3119
</td>
<td align="right">
   1.3116
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-08 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3119
</td>
<td align="right">
   1.3111
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3103
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:50:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3108
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
16:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3112
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
17:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3109
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
17:05:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
   1.3107
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
17:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3110
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
11:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8766
</td>
<td align="right">
    .8743
</td>
<td align="right">
 -.0027
</td>
<td>
2011-09-08 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
11:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8765
</td>
<td align="right">
    .8726
</td>
<td align="right">
 -.0045
</td>
<td>
2011-09-08 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
12:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8764
</td>
<td align="right">
    .8726
</td>
<td align="right">
 -.0043
</td>
<td>
2011-09-08 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
13:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8725
</td>
<td align="right">
    .8721
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-08 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
13:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8722
</td>
<td align="right">
    .8726
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-08 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
14:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8717
</td>
<td align="right">
    .8712
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
14:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8705
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-08
11:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 108.3730
</td>
<td align="right">
 108.0410
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-08 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-08
12:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 108.3906
</td>
<td align="right">
 108.0387
</td>
<td align="right">
 -.0032
</td>
<td>
2011-09-08 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-08
12:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 108.4211
</td>
<td align="right">
 108.0738
</td>
<td align="right">
 -.0032
</td>
<td>
2011-09-08 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-08
12:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 108.3066
</td>
<td align="right">
 108.0925
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-08 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-08
12:35:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 108.2161
</td>
<td align="right">
 108.2518
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-08 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
15:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3970
</td>
<td align="right">
   1.3922
</td>
<td align="right">
 -.0034
</td>
<td>
2011-09-08 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
15:50:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3943
</td>
<td align="right">
   1.3930
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-08 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
16:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3946
</td>
<td align="right">
   1.3923
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-08 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
16:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3953
</td>
<td align="right">
   1.3918
</td>
<td align="right">
 -.0025
</td>
<td>
2011-09-08 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
16:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3948
</td>
<td align="right">
   1.3930
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-08 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
17:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3927
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
17:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3913
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 23:30:00
</td>
</tr>
</table>
<br /><hr />