<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-09
14:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8822
</td>
<td align="right">
    .8837
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-09 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-09
15:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8835
</td>
<td align="right">
    .8862
</td>
<td align="right">
  .0031
</td>
<td>
2011-09-11 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-09
16:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8843
</td>
<td align="right">
    .8823
</td>
<td align="right">
 -.0023
</td>
<td>
2011-09-11 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-09
14:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.7526
</td>
<td align="right">
  77.6675
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-09 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2141
</td>
<td align="right">
   1.2124
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-09 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2115
</td>
<td align="right">
   1.2120
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-09 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2118
</td>
<td align="right">
   1.2112
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-09 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2117
</td>
<td align="right">
   1.2112
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-09 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2101
</td>
<td align="right">
   1.2116
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-09 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2119
</td>
<td align="right">
   1.2109
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-09 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2122
</td>
<td align="right">
   1.2117
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-09 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2114
</td>
<td align="right">
   1.2098
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-09 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.2106
</td>
<td align="right">
   1.2079
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-09 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2120
</td>
<td align="right">
   1.2080
</td>
<td align="right">
 -.0033
</td>
<td>
2011-09-09 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2129
</td>
<td align="right">
   1.2074
</td>
<td align="right">
 -.0046
</td>
<td>
2011-09-09 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2095
</td>
<td align="right">
   1.2072
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-11 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.2079
</td>
<td align="right">
   1.2082
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-11 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:25:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
   1.2080
</td>
<td align="right">
   1.2078
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-11 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:35:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.2073
</td>
<td align="right">
   1.2085
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-11 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:40:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.2060
</td>
<td align="right">
   1.2080
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-11 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:45:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.2059
</td>
<td align="right">
   1.2081
</td>
<td align="right">
  .0018
</td>
<td>
2011-09-11 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:50:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.2065
</td>
<td align="right">
   1.2084
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-11 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.2082
</td>
<td align="right">
   1.2089
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-11 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:00:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.2078
</td>
<td align="right">
   1.2072
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-11 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.2074
</td>
<td align="right">
   1.2079
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-11 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2072
</td>
<td align="right">
   1.2076
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-11 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.2082
</td>
<td align="right">
   1.2083
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-11 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2082
</td>
<td align="right">
   1.2073
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-11 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.2078
</td>
<td align="right">
   1.2079
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-11 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2080
</td>
<td align="right">
   1.2075
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-11 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.2081
</td>
<td align="right">
   1.2074
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-11 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
16:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2084
</td>
<td align="right">
   1.2073
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-11 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2079
</td>
<td align="right">
   1.2072
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-11 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:10:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.2076
</td>
<td align="right">
   1.2073
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-11 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.2073
</td>
<td align="right">
   1.2068
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-11 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:25:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.2079
</td>
<td align="right">
   1.2064
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-11 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2072
</td>
<td align="right">
   1.2065
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-11 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:35:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.2077
</td>
<td align="right">
   1.2066
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-11 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.2075
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.2074
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2073
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
17:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2072
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
18:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2072
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-12 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
18:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.2073
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-12 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
18:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2068
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-12 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
18:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2064
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-12 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-09
14:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9961
</td>
<td align="right">
    .9963
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-09 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-09
15:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  77.3735
</td>
<td align="right">
  77.3749
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-11 21:30:00
</td>
</tr>
</table>
<br /><hr />