<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
14:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3758
</td>
<td align="right">
   1.3637
</td>
<td align="right">
 -.0088
</td>
<td>
2011-08-26 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
09:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4439
</td>
<td align="right">
   1.4433
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-26 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
10:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4438
</td>
<td align="right">
   1.4409
</td>
<td align="right">
 -.0020
</td>
<td>
2011-08-26 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
11:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9880
</td>
<td align="right">
    .9913
</td>
<td align="right">
  .0034
</td>
<td>
2011-08-26 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
14:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9912
</td>
<td align="right">
    .9854
</td>
<td align="right">
 -.0059
</td>
<td>
2011-08-26 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
14:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9884
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-26 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
09:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3747
</td>
<td align="right">
   1.3750
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-26 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
10:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3745
</td>
<td align="right">
   1.3739
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-26 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
15:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3620
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-28 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
10:25:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8837
</td>
<td align="right">
    .8845
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-26 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
11:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8839
</td>
<td align="right">
    .8853
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-26 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
11:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8843
</td>
<td align="right">
    .8858
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-26 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8857
</td>
<td align="right">
    .8844
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-26 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8843
</td>
<td align="right">
    .8845
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-26 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:35:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8840
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-26 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8845
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-26 20:40:00
</td>
</tr>
</table>
<br /><hr />