<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:00:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2992
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-28 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:10:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2991
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-28 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:15:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.2987
</td>
<td align="right">
   1.2993
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-28 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2987
</td>
<td align="right">
   1.2996
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-28 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:25:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.2986
</td>
<td align="right">
   1.2997
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-28 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:30:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   1.3001
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-28 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:35:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   1.2998
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-28 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:40:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.2988
</td>
<td align="right">
   1.3000
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-28 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:45:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.2988
</td>
<td align="right">
   1.3003
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-28 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:50:00
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   1.3000
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-28 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
16:55:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   1.3001
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-28 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:00:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
   1.2992
</td>
<td align="right">
   1.3001
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-28 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:05:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.2990
</td>
<td align="right">
   1.3002
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-28 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:10:00
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
   1.2991
</td>
<td align="right">
   1.3002
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-28 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2993
</td>
<td align="right">
   1.3001
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-28 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:20:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.2996
</td>
<td align="right">
   1.3003
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-28 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:25:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
   1.2997
</td>
<td align="right">
   1.3007
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-28 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:30:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3008
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-28 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:35:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.2998
</td>
<td align="right">
   1.3018
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-28 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:40:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   1.3014
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-28 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:45:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3016
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-28 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:50:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   1.3014
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-28 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
17:55:00
</td>
<td align="right">
 -.95
</td>
<td>
Sell
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3019
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-28 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:00:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3024
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-29 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:05:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3026
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-29 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:10:00
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3028
</td>
<td align="right">
  .0020
</td>
<td>
2011-07-29 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:15:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3027
</td>
<td align="right">
  .0020
</td>
<td>
2011-07-29 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:20:00
</td>
<td align="right">
 -.95
</td>
<td>
Sell
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3026
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-29 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:25:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
   1.3007
</td>
<td align="right">
   1.3028
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-29 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:30:00
</td>
<td align="right">
 -.96
</td>
<td>
Sell
</td>
<td align="right">
   1.3008
</td>
<td align="right">
   1.3028
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-29 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:35:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
   1.3018
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:40:00
</td>
<td align="right">
 -.96
</td>
<td>
Sell
</td>
<td align="right">
   1.3014
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:45:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
   1.3016
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:50:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
   1.3014
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
18:55:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
   1.3019
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
19:00:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
   1.3024
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
19:05:00
</td>
<td align="right">
 -.96
</td>
<td>
Sell
</td>
<td align="right">
   1.3026
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
19:10:00
</td>
<td align="right">
 -.96
</td>
<td>
Sell
</td>
<td align="right">
   1.3028
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
19:15:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.3027
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
19:20:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
   1.3026
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
19:25:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
   1.3028
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
19:30:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
   1.3028
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
13:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8017
</td>
<td align="right">
    .8031
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-28 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
14:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8025
</td>
<td align="right">
    .8028
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-28 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
14:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8027
</td>
<td align="right">
    .8040
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-28 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
14:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8029
</td>
<td align="right">
    .8041
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-28 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
14:45:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8032
</td>
<td align="right">
    .8042
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-28 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
14:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8037
</td>
<td align="right">
    .8041
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-28 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8025
</td>
<td align="right">
    .8038
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-28 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8031
</td>
<td align="right">
    .8037
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-28 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8029
</td>
<td align="right">
    .8037
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-28 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:25:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8037
</td>
<td align="right">
    .8033
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-28 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:30:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8040
</td>
<td align="right">
    .8032
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-28 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8041
</td>
<td align="right">
    .8033
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-28 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:45:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8042
</td>
<td align="right">
    .8035
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-28 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8041
</td>
<td align="right">
    .8035
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-28 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
15:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8042
</td>
<td align="right">
    .8035
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-28 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:00:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8038
</td>
<td align="right">
    .8036
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-28 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8037
</td>
<td align="right">
    .8034
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-28 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8037
</td>
<td align="right">
    .8034
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-28 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8033
</td>
<td align="right">
    .8034
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-28 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8033
</td>
<td align="right">
    .8026
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-28 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8032
</td>
<td align="right">
    .8025
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-28 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8031
</td>
<td align="right">
    .8025
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-28 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8033
</td>
<td align="right">
    .8026
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-28 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:45:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8035
</td>
<td align="right">
    .8024
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-28 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8035
</td>
<td align="right">
    .8025
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-28 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
16:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8035
</td>
<td align="right">
    .8026
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-28 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
17:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8036
</td>
<td align="right">
    .8022
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-28 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
17:20:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8031
</td>
<td align="right">
    .8013
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-28 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
18:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8018
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
18:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8018
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
19:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8018
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
19:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8017
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-29 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-28
17:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.1015
</td>
<td align="right">
   1.0998
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-28 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-28
17:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1014
</td>
<td align="right">
   1.0992
</td>
<td align="right">
 -.0020
</td>
<td>
2011-07-28 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-28
18:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.1012
</td>
<td align="right">
   1.0988
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-29 00:00:00
</td>
</tr>
</table>
<br /><hr />