<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-08
11:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0332
</td>
<td align="right">
  .0008
</td>
<td>
2011-11-08 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-08
15:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0337
</td>
<td align="right">
   1.0330
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-08 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-08
15:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.0333
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-08
15:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.0324
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-08
15:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0335
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
10:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3349
</td>
<td align="right">
   1.3345
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-08 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
10:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3345
</td>
<td align="right">
   1.3343
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-08 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
10:35:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3345
</td>
<td align="right">
   1.3340
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-08 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
11:05:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3348
</td>
<td align="right">
   1.3343
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-08 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
11:10:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.3347
</td>
<td align="right">
   1.3343
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-08 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
14:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3355
</td>
<td align="right">
   1.3349
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-08 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
14:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3358
</td>
<td align="right">
   1.3351
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-08 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
14:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3366
</td>
<td align="right">
   1.3350
</td>
<td align="right">
 -.0012
</td>
<td>
2011-11-08 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
14:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3359
</td>
<td align="right">
   1.3353
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-08 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-08
15:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3361
</td>
<td align="right">
   1.3346
</td>
<td align="right">
 -.0011
</td>
<td>
2011-11-08 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-11-08
14:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8588
</td>
<td align="right">
    .8580
</td>
<td align="right">
 -.0009
</td>
<td>
2011-11-08 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-08
13:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 107.4575
</td>
<td align="right">
 107.4595
</td>
<td align="right">
  .0000
</td>
<td>
2011-11-08 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-08
12:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8970
</td>
<td align="right">
    .8973
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-08 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-08
13:05:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8971
</td>
<td align="right">
    .8969
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-08 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-08
13:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8975
</td>
<td align="right">
    .8940
</td>
<td align="right">
 -.0039
</td>
<td>
2011-11-08 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-08
15:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8965
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-08
15:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8958
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-08
10:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0324
</td>
<td align="right">
   1.0316
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-08 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-08
10:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0320
</td>
<td align="right">
   1.0323
</td>
<td align="right">
  .0003
</td>
<td>
2011-11-08 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
10:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.2353
</td>
<td align="right">
   1.2350
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-08 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
11:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2367
</td>
<td align="right">
  .0011
</td>
<td>
2011-11-08 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
11:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2374
</td>
<td align="right">
  .0008
</td>
<td>
2011-11-08 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
11:30:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.2348
</td>
<td align="right">
   1.2374
</td>
<td align="right">
  .0021
</td>
<td>
2011-11-08 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
11:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2338
</td>
<td align="right">
   1.2378
</td>
<td align="right">
  .0033
</td>
<td>
2011-11-08 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
11:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2346
</td>
<td align="right">
   1.2372
</td>
<td align="right">
  .0022
</td>
<td>
2011-11-08 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
11:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2350
</td>
<td align="right">
   1.2376
</td>
<td align="right">
  .0021
</td>
<td>
2011-11-08 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
11:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2371
</td>
<td align="right">
  .0008
</td>
<td>
2011-11-08 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
15:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2355
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
15:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2358
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-08
15:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2361
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-08
10:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 107.4995
</td>
<td align="right">
 107.4579
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-08 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-08
11:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8966
</td>
<td align="right">
    .8983
</td>
<td align="right">
  .0019
</td>
<td>
2011-11-08 17:30:00
</td>
</tr>
</table>
<br /><hr />