<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-18
23:55:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 105.2997
</td>
<td align="right">
 105.3279
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-19 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 105.3496
</td>
<td align="right">
 105.1975
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-19 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 105.3394
</td>
<td align="right">
 105.1605
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-19 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:15:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 105.3339
</td>
<td align="right">
 105.1470
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-19 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 105.3569
</td>
<td align="right">
 105.0808
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-19 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 105.3377
</td>
<td align="right">
 105.0475
</td>
<td align="right">
 -.0028
</td>
<td>
2011-09-19 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 105.3317
</td>
<td align="right">
 105.0292
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-19 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:35:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 105.3437
</td>
<td align="right">
 105.0668
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-19 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 105.3091
</td>
<td align="right">
 105.0394
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-19 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 105.3399
</td>
<td align="right">
 105.0176
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-19 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
00:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 105.3279
</td>
<td align="right">
 105.0151
</td>
<td align="right">
 -.0030
</td>
<td>
2011-09-19 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 105.1975
</td>
<td align="right">
 105.0093
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-19 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 105.1605
</td>
<td align="right">
 104.9967
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-19 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 105.0808
</td>
<td align="right">
 105.0087
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-19 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 105.0475
</td>
<td align="right">
 105.0211
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-19 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 105.0292
</td>
<td align="right">
 105.0492
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-19 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 105.0668
</td>
<td align="right">
 105.0742
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-19 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 105.0394
</td>
<td align="right">
 105.0800
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-19 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 105.0311
</td>
<td align="right">
 105.0537
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-19 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
01:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 105.0151
</td>
<td align="right">
 105.0634
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-19 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-19
02:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 105.0377
</td>
<td align="right">
 105.0681
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-19 08:00:00
</td>
</tr>
</table>
<br /><hr />