<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-16
02:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0324
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-16 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
00:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9847
</td>
<td align="right">
    .9850
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-16 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
00:15:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9850
</td>
<td align="right">
    .9844
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-16 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
00:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9855
</td>
<td align="right">
    .9847
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-16 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
01:00:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .9852
</td>
<td align="right">
    .9838
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-16 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
01:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9850
</td>
<td align="right">
    .9839
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-16 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
01:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9845
</td>
<td align="right">
    .9844
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-16 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
01:30:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .9849
</td>
<td align="right">
    .9843
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-16 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
01:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9851
</td>
<td align="right">
    .9843
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-16 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
01:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9847
</td>
<td align="right">
    .9841
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-16 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-16
02:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9844
</td>
<td align="right">
    .9838
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-16 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-16
00:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  76.7375
</td>
<td align="right">
  76.7750
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-16 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
23:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.2516
</td>
<td align="right">
  79.0970
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-16 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
01:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.1410
</td>
<td align="right">
  79.2671
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-16 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
01:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.1947
</td>
<td align="right">
  79.2395
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-16 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-16
02:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.2655
</td>
<td align="right">
  79.3888
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-16 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-15
23:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0334
</td>
<td align="right">
   1.0308
</td>
<td align="right">
 -.0025
</td>
<td>
2011-09-16 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-15
23:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0336
</td>
<td align="right">
   1.0303
</td>
<td align="right">
 -.0032
</td>
<td>
2011-09-16 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-15
23:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0334
</td>
<td align="right">
   1.0298
</td>
<td align="right">
 -.0035
</td>
<td>
2011-09-16 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
23:35:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3427
</td>
<td align="right">
   1.3445
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-16 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
23:40:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3428
</td>
<td align="right">
   1.3448
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-16 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
23:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3426
</td>
<td align="right">
   1.3441
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-16 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
23:50:00
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
   1.3432
</td>
<td align="right">
   1.3448
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-16 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
23:55:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.3432
</td>
<td align="right">
   1.3448
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-16 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
00:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3426
</td>
<td align="right">
   1.3438
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-16 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
00:05:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3427
</td>
<td align="right">
   1.3440
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-16 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
00:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3438
</td>
<td align="right">
   1.3439
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-16 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
00:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3438
</td>
<td align="right">
   1.3427
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-16 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
00:25:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.3434
</td>
<td align="right">
   1.3431
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-16 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
00:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3440
</td>
<td align="right">
   1.3428
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-16 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
00:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3441
</td>
<td align="right">
   1.3435
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-16 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
01:00:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.3438
</td>
<td align="right">
   1.3425
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-16 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
01:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3440
</td>
<td align="right">
   1.3421
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-16 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
01:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3427
</td>
<td align="right">
   1.3419
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-16 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
01:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3425
</td>
<td align="right">
   1.3421
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-16 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
01:25:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.3431
</td>
<td align="right">
   1.3422
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-16 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
01:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3433
</td>
<td align="right">
   1.3421
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-16 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
01:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3427
</td>
<td align="right">
   1.3421
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-16 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
02:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3419
</td>
<td align="right">
   1.3412
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-16 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
02:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3421
</td>
<td align="right">
   1.3415
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-16 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
02:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3421
</td>
<td align="right">
   1.3419
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-16 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
02:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3420
</td>
<td align="right">
   1.3408
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-16 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
04:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3411
</td>
<td align="right">
   1.3391
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-16 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-16
05:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3390
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 11:10:00
</td>
</tr>
</table>
<br /><hr />