<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-10-03 18:10:00
</td>
<td align="right">
  499.23
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.96
</td>
<td>
Tue: 2011-10-04 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-10-03 18:15:00
</td>
<td align="right">
  499.23
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2011-10-04 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-10-03 18:20:00
</td>
<td align="right">
  499.31
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -2.31
</td>
<td>
Tue: 2011-10-04 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-10-03 18:25:00
</td>
<td align="right">
  499.02
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -1.26
</td>
<td>
Tue: 2011-10-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-10-03 18:30:00
</td>
<td align="right">
  498.73
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -1.35
</td>
<td>
Tue: 2011-10-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-10-03 19:10:00
</td>
<td align="right">
  498.27
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-10-03 19:15:00
</td>
<td align="right">
  499.00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-10-03 19:25:00
</td>
<td align="right">
  497.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-04 19:25
</td>
</tr>
</table>
<br /><hr />