<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-12 19:40:00
</td>
<td align="right">
   40.08
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-12 19:45:00
</td>
<td align="right">
   40.13
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-12 19:50:00
</td>
<td align="right">
   40.13
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-08-12 19:55:00
</td>
<td align="right">
   40.18
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 15:35:00
</td>
<td align="right">
   33.76
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-15 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 15:40:00
</td>
<td align="right">
   33.77
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-15 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 15:50:00
</td>
<td align="right">
   33.89
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-15 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 15:55:00
</td>
<td align="right">
   33.89
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-15 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 16:30:00
</td>
<td align="right">
   33.90
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-15 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 16:40:00
</td>
<td align="right">
   33.85
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-08-15 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 17:40:00
</td>
<td align="right">
   34.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-08-15 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 17:55:00
</td>
<td align="right">
   34.01
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-15 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 18:40:00
</td>
<td align="right">
   33.85
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-15 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 18:50:00
</td>
<td align="right">
   33.86
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-15 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 19:15:00
</td>
<td align="right">
   33.81
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 19:30:00
</td>
<td align="right">
   33.76
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 19:45:00
</td>
<td align="right">
   33.79
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BRCM">BRCM</a></td>
<td>
2011-08-12 19:55:00
</td>
<td align="right">
   33.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-08-12 15:25:00
</td>
<td align="right">
   33.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:00:00
</td>
<td align="right">
   10.28
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:05:00
</td>
<td align="right">
   10.27
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-15 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:10:00
</td>
<td align="right">
   10.37
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-15 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:15:00
</td>
<td align="right">
   10.26
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-15 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:20:00
</td>
<td align="right">
   10.24
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-15 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:25:00
</td>
<td align="right">
   10.28
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-15 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:30:00
</td>
<td align="right">
   10.28
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-15 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:35:00
</td>
<td align="right">
   10.25
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-08-15 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:40:00
</td>
<td align="right">
   10.19
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-08-15 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:45:00
</td>
<td align="right">
   10.16
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2011-08-15 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:50:00
</td>
<td align="right">
   10.27
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-15 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 14:55:00
</td>
<td align="right">
   10.28
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-08-15 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:00:00
</td>
<td align="right">
   10.27
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-08-15 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:05:00
</td>
<td align="right">
   10.28
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-08-15 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:10:00
</td>
<td align="right">
   10.28
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-15 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:15:00
</td>
<td align="right">
   10.32
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-15 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:20:00
</td>
<td align="right">
   10.30
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-15 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:25:00
</td>
<td align="right">
   10.32
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-08-15 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:30:00
</td>
<td align="right">
   10.36
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-08-15 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:35:00
</td>
<td align="right">
   10.39
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-15 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:40:00
</td>
<td align="right">
   10.39
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-08-15 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:45:00
</td>
<td align="right">
   10.42
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-15 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:50:00
</td>
<td align="right">
   10.43
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-15 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 15:55:00
</td>
<td align="right">
   10.42
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-15 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:00:00
</td>
<td align="right">
   10.47
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:05:00
</td>
<td align="right">
   10.45
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-15 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:10:00
</td>
<td align="right">
   10.44
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:15:00
</td>
<td align="right">
   10.48
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:20:00
</td>
<td align="right">
   10.48
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:25:00
</td>
<td align="right">
   10.47
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:35:00
</td>
<td align="right">
   10.47
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:40:00
</td>
<td align="right">
   10.49
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:45:00
</td>
<td align="right">
   10.43
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:50:00
</td>
<td align="right">
   10.44
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 16:55:00
</td>
<td align="right">
   10.43
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-08-15 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:00:00
</td>
<td align="right">
   10.44
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-08-15 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:05:00
</td>
<td align="right">
   10.45
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-08-15 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:10:00
</td>
<td align="right">
   10.41
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-08-15 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:15:00
</td>
<td align="right">
   10.47
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:20:00
</td>
<td align="right">
   10.45
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-15 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:25:00
</td>
<td align="right">
   10.46
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-15 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:30:00
</td>
<td align="right">
   10.44
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-15 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:35:00
</td>
<td align="right">
   10.46
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-08-15 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:40:00
</td>
<td align="right">
   10.48
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:45:00
</td>
<td align="right">
   10.50
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-15 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:50:00
</td>
<td align="right">
   10.51
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-15 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 17:55:00
</td>
<td align="right">
   10.55
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-15 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:00:00
</td>
<td align="right">
   10.54
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-15 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:05:00
</td>
<td align="right">
   10.57
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-15 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:10:00
</td>
<td align="right">
   10.52
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:20:00
</td>
<td align="right">
   10.50
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-08-15 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:25:00
</td>
<td align="right">
   10.51
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-15 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:30:00
</td>
<td align="right">
   10.52
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-15 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:45:00
</td>
<td align="right">
   10.52
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-15 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:50:00
</td>
<td align="right">
   10.53
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 18:55:00
</td>
<td align="right">
   10.53
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-15 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 19:00:00
</td>
<td align="right">
   10.50
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 19:10:00
</td>
<td align="right">
   10.51
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 19:15:00
</td>
<td align="right">
   10.52
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 19:20:00
</td>
<td align="right">
   10.53
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 19:25:00
</td>
<td align="right">
   10.52
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 19:40:00
</td>
<td align="right">
   10.51
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 19:50:00
</td>
<td align="right">
   10.50
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-08-12 19:55:00
</td>
<td align="right">
   10.53
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 16:50:00
</td>
<td align="right">
   59.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-15 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 17:45:00
</td>
<td align="right">
   59.12
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2011-08-15 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 17:50:00
</td>
<td align="right">
   59.13
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2011-08-15 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 17:55:00
</td>
<td align="right">
   59.25
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-08-15 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 18:15:00
</td>
<td align="right">
   59.23
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-15 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 18:20:00
</td>
<td align="right">
   59.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 18:25:00
</td>
<td align="right">
   59.27
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-15 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 18:35:00
</td>
<td align="right">
   59.26
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-15 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 18:45:00
</td>
<td align="right">
   59.37
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-08-12 14:00:00
</td>
<td align="right">
   50.15
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2011-08-15 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-08-12 17:40:00
</td>
<td align="right">
   49.49
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Mon: 2011-08-15 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-08-12 19:00:00
</td>
<td align="right">
   49.90
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-08-12 19:15:00
</td>
<td align="right">
   49.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-08-12 19:40:00
</td>
<td align="right">
   49.99
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 14:15:00
</td>
<td align="right">
   33.68
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-08-15 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 14:30:00
</td>
<td align="right">
   33.69
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-15 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 14:40:00
</td>
<td align="right">
   33.29
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Mon: 2011-08-15 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 14:50:00
</td>
<td align="right">
   33.32
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .73
</td>
<td>
Mon: 2011-08-15 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 15:20:00
</td>
<td align="right">
   33.42
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Mon: 2011-08-15 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 15:35:00
</td>
<td align="right">
   33.79
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 15:45:00
</td>
<td align="right">
   33.86
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-15 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 15:50:00
</td>
<td align="right">
   34.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-15 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 15:55:00
</td>
<td align="right">
   33.99
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-15 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 16:00:00
</td>
<td align="right">
   33.98
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-15 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 16:10:00
</td>
<td align="right">
   33.91
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-15 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 16:25:00
</td>
<td align="right">
   33.99
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-15 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 16:35:00
</td>
<td align="right">
   33.86
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-15 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 16:50:00
</td>
<td align="right">
   33.93
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-08-15 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 17:00:00
</td>
<td align="right">
   34.03
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-08-15 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 17:05:00
</td>
<td align="right">
   33.93
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-15 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 17:10:00
</td>
<td align="right">
   33.97
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2011-08-15 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 17:15:00
</td>
<td align="right">
   33.91
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2011-08-15 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 17:20:00
</td>
<td align="right">
   33.85
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2011-08-15 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 17:25:00
</td>
<td align="right">
   33.89
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2011-08-15 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 18:05:00
</td>
<td align="right">
   33.83
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2011-08-15 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 18:10:00
</td>
<td align="right">
   33.66
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-08-15 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 18:35:00
</td>
<td align="right">
   33.34
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-15 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 18:40:00
</td>
<td align="right">
   33.49
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-08-15 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 19:15:00
</td>
<td align="right">
   33.36
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-08-12 19:20:00
</td>
<td align="right">
   33.50
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 15:00:00
</td>
<td align="right">
   64.43
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .72
</td>
<td>
Mon: 2011-08-15 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 15:05:00
</td>
<td align="right">
   64.70
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2011-08-15 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 17:00:00
</td>
<td align="right">
   64.74
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-08-15 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 17:15:00
</td>
<td align="right">
   64.45
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2011-08-15 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 17:35:00
</td>
<td align="right">
   64.77
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2011-08-15 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 18:20:00
</td>
<td align="right">
   64.63
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-15 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 18:45:00
</td>
<td align="right">
   64.41
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2011-08-15 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 19:35:00
</td>
<td align="right">
   64.66
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-08-12 19:50:00
</td>
<td align="right">
   64.79
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-12 14:40:00
</td>
<td align="right">
   73.50
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-15 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:00:00
</td>
<td align="right">
   51.63
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2011-08-15 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:05:00
</td>
<td align="right">
   51.26
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-08-15 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:10:00
</td>
<td align="right">
   51.64
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2011-08-15 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:15:00
</td>
<td align="right">
   51.50
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-08-15 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:25:00
</td>
<td align="right">
   51.52
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-15 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:30:00
</td>
<td align="right">
   51.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-08-15 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:40:00
</td>
<td align="right">
   51.20
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .75
</td>
<td>
Mon: 2011-08-15 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:45:00
</td>
<td align="right">
   50.98
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    1.04
</td>
<td>
Mon: 2011-08-15 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 14:50:00
</td>
<td align="right">
   51.07
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.22
</td>
<td>
Mon: 2011-08-15 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:00:00
</td>
<td align="right">
   51.09
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    1.20
</td>
<td>
Mon: 2011-08-15 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:05:00
</td>
<td align="right">
   51.41
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .86
</td>
<td>
Mon: 2011-08-15 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:10:00
</td>
<td align="right">
   51.36
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Mon: 2011-08-15 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:15:00
</td>
<td align="right">
   51.36
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .93
</td>
<td>
Mon: 2011-08-15 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:20:00
</td>
<td align="right">
   51.27
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .93
</td>
<td>
Mon: 2011-08-15 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:25:00
</td>
<td align="right">
   51.42
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .86
</td>
<td>
Mon: 2011-08-15 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:35:00
</td>
<td align="right">
   51.88
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:40:00
</td>
<td align="right">
   51.95
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-08-15 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:50:00
</td>
<td align="right">
   52.29
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-08-15 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 15:55:00
</td>
<td align="right">
   52.24
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-15 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:00:00
</td>
<td align="right">
   52.29
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-08-15 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:05:00
</td>
<td align="right">
   52.27
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2011-08-15 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:10:00
</td>
<td align="right">
   52.12
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-08-15 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:15:00
</td>
<td align="right">
   52.29
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2011-08-15 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:20:00
</td>
<td align="right">
   52.20
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Mon: 2011-08-15 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:25:00
</td>
<td align="right">
   52.28
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Mon: 2011-08-15 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:30:00
</td>
<td align="right">
   52.17
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Mon: 2011-08-15 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:45:00
</td>
<td align="right">
   51.79
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-08-15 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:50:00
</td>
<td align="right">
   52.00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-15 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 16:55:00
</td>
<td align="right">
   52.12
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-08-15 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 17:00:00
</td>
<td align="right">
   52.15
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-15 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 17:15:00
</td>
<td align="right">
   51.92
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2011-08-15 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 17:20:00
</td>
<td align="right">
   51.78
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2011-08-15 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 17:30:00
</td>
<td align="right">
   51.73
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2011-08-15 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 17:40:00
</td>
<td align="right">
   51.97
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.58
</td>
<td>
Mon: 2011-08-15 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 17:45:00
</td>
<td align="right">
   51.94
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Mon: 2011-08-15 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 17:50:00
</td>
<td align="right">
   51.91
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2011-08-15 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 17:55:00
</td>
<td align="right">
   51.96
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2011-08-15 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:00:00
</td>
<td align="right">
   52.05
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.58
</td>
<td>
Mon: 2011-08-15 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:05:00
</td>
<td align="right">
   51.99
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.72
</td>
<td>
Mon: 2011-08-15 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:10:00
</td>
<td align="right">
   51.75
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Mon: 2011-08-15 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:15:00
</td>
<td align="right">
   51.57
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2011-08-15 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:30:00
</td>
<td align="right">
   51.35
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Mon: 2011-08-15 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:35:00
</td>
<td align="right">
   51.17
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-08-15 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:45:00
</td>
<td align="right">
   51.33
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2011-08-15 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:50:00
</td>
<td align="right">
   51.42
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2011-08-15 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 18:55:00
</td>
<td align="right">
   51.41
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Mon: 2011-08-15 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 19:00:00
</td>
<td align="right">
   51.47
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 19:10:00
</td>
<td align="right">
   51.24
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 19:20:00
</td>
<td align="right">
   51.32
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 19:25:00
</td>
<td align="right">
   51.05
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 19:40:00
</td>
<td align="right">
   50.90
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 19:45:00
</td>
<td align="right">
   50.85
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-08-12 19:50:00
</td>
<td align="right">
   50.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-08-12 14:20:00
</td>
<td align="right">
   33.02
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-15 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-08-12 14:25:00
</td>
<td align="right">
   33.14
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-08-15 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-08-12 14:30:00
</td>
<td align="right">
   33.16
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-08-15 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-08-12 14:45:00
</td>
<td align="right">
   33.14
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-08-15 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-08-12 16:35:00
</td>
<td align="right">
   33.11
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-08-15 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-08-12 18:20:00
</td>
<td align="right">
   33.08
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-08-15 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-08-12 18:35:00
</td>
<td align="right">
   33.13
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-15 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 14:10:00
</td>
<td align="right">
   15.30
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-15 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 14:15:00
</td>
<td align="right">
   15.28
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 14:20:00
</td>
<td align="right">
   15.25
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-15 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 14:25:00
</td>
<td align="right">
   15.30
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-15 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 14:30:00
</td>
<td align="right">
   15.28
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 14:35:00
</td>
<td align="right">
   15.34
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-15 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 15:05:00
</td>
<td align="right">
   15.14
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2011-08-15 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 15:15:00
</td>
<td align="right">
   15.27
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-15 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 15:20:00
</td>
<td align="right">
   15.19
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-08-15 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 15:35:00
</td>
<td align="right">
   15.29
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-15 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 15:40:00
</td>
<td align="right">
   15.35
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 15:45:00
</td>
<td align="right">
   15.40
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-08-15 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 15:50:00
</td>
<td align="right">
   15.49
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-08-15 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:00:00
</td>
<td align="right">
   15.48
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-15 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:05:00
</td>
<td align="right">
   15.47
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-15 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:10:00
</td>
<td align="right">
   15.42
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:15:00
</td>
<td align="right">
   15.45
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:20:00
</td>
<td align="right">
   15.43
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-08-15 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:25:00
</td>
<td align="right">
   15.42
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-15 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:35:00
</td>
<td align="right">
   15.35
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-15 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:40:00
</td>
<td align="right">
   15.42
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-15 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:45:00
</td>
<td align="right">
   15.33
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-08-15 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 16:50:00
</td>
<td align="right">
   15.38
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-15 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:00:00
</td>
<td align="right">
   15.48
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:10:00
</td>
<td align="right">
   15.39
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-15 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:15:00
</td>
<td align="right">
   15.42
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-08-15 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:20:00
</td>
<td align="right">
   15.36
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-15 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:25:00
</td>
<td align="right">
   15.37
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-08-15 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:30:00
</td>
<td align="right">
   15.35
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-15 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:35:00
</td>
<td align="right">
   15.39
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-15 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:40:00
</td>
<td align="right">
   15.40
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-15 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:50:00
</td>
<td align="right">
   15.44
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 17:55:00
</td>
<td align="right">
   15.46
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 18:00:00
</td>
<td align="right">
   15.55
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-15 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 18:05:00
</td>
<td align="right">
   15.58
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-08-15 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 18:15:00
</td>
<td align="right">
   15.45
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-15 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 18:20:00
</td>
<td align="right">
   15.36
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-08-15 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 18:30:00
</td>
<td align="right">
   15.36
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-08-15 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 18:35:00
</td>
<td align="right">
   15.29
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-08-15 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 19:10:00
</td>
<td align="right">
   15.39
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 19:15:00
</td>
<td align="right">
   15.41
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 19:20:00
</td>
<td align="right">
   15.44
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 19:40:00
</td>
<td align="right">
   15.46
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 19:45:00
</td>
<td align="right">
   15.41
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-08-12 19:55:00
</td>
<td align="right">
   15.47
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 14:00:00
</td>
<td align="right">
   36.93
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-08-15 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 14:15:00
</td>
<td align="right">
   36.57
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-15 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 14:45:00
</td>
<td align="right">
   36.25
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .77
</td>
<td>
Mon: 2011-08-15 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 15:45:00
</td>
<td align="right">
   37.02
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-15 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 16:15:00
</td>
<td align="right">
   37.16
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-15 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 17:10:00
</td>
<td align="right">
   37.20
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-08-15 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 17:20:00
</td>
<td align="right">
   37.24
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-15 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 17:30:00
</td>
<td align="right">
   37.15
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-08-15 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 17:50:00
</td>
<td align="right">
   37.35
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 17:55:00
</td>
<td align="right">
   37.39
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-15 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 18:00:00
</td>
<td align="right">
   37.34
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-15 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 18:10:00
</td>
<td align="right">
   37.26
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 18:15:00
</td>
<td align="right">
   37.31
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-08-15 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 18:30:00
</td>
<td align="right">
   37.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-15 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 18:55:00
</td>
<td align="right">
   37.27
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-08-15 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2011-08-12 19:00:00
</td>
<td align="right">
   37.32
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-08-12 14:00:00
</td>
<td align="right">
   78.92
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-08-15 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-08-12 15:00:00
</td>
<td align="right">
   78.80
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    1.41
</td>
<td>
Mon: 2011-08-15 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-08-12 16:25:00
</td>
<td align="right">
   79.75
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Mon: 2011-08-15 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-08-12 16:30:00
</td>
<td align="right">
   79.75
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Mon: 2011-08-15 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-08-12 16:35:00
</td>
<td align="right">
   79.43
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-08-15 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-08-12 16:40:00
</td>
<td align="right">
   79.54
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-08-15 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-08-12 16:45:00
</td>
<td align="right">
   79.12
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2011-08-15 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2011-08-12 16:55:00
</td>
<td align="right">
   79.41
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-08-15 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2011-08-12 18:00:00
</td>
<td align="right">
  118.83
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2011-08-15 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-08-12 14:50:00
</td>
<td align="right">
    8.89
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-08-15 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-08-12 15:30:00
</td>
<td align="right">
    8.99
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-15 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-08-12 15:35:00
</td>
<td align="right">
    9.01
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-08-15 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-08-12 15:40:00
</td>
<td align="right">
    9.02
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-08-15 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-08-12 17:45:00
</td>
<td align="right">
    9.20
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-08-15 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-08-12 17:50:00
</td>
<td align="right">
    9.20
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-08-15 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-08-12 18:15:00
</td>
<td align="right">
    9.21
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-08-15 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-08-12 19:55:00
</td>
<td align="right">
    9.16
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2011-08-12 15:05:00
</td>
<td align="right">
   36.50
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2011-08-15 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-08-12 16:10:00
</td>
<td align="right">
   62.95
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-08-12 17:30:00
</td>
<td align="right">
   62.76
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Mon: 2011-08-15 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2011-08-12 17:35:00
</td>
<td align="right">
   62.93
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.79
</td>
<td>
Mon: 2011-08-15 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-12 14:55:00
</td>
<td align="right">
   72.37
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Mon: 2011-08-15 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-12 15:10:00
</td>
<td align="right">
   72.34
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Mon: 2011-08-15 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-12 15:20:00
</td>
<td align="right">
   72.29
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2011-08-15 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-12 15:25:00
</td>
<td align="right">
   72.37
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2011-08-15 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-12 16:20:00
</td>
<td align="right">
   72.65
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-08-15 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-12 16:30:00
</td>
<td align="right">
   72.65
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-08-15 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-12 19:15:00
</td>
<td align="right">
   71.91
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-08-12 19:20:00
</td>
<td align="right">
   72.01
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-08-12 17:50:00
</td>
<td align="right">
   22.50
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-15 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-08-12 17:55:00
</td>
<td align="right">
   22.50
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-08-15 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CREE">CREE</a></td>
<td>
2011-08-12 14:55:00
</td>
<td align="right">
   36.43
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-08-15 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CREE">CREE</a></td>
<td>
2011-08-12 15:55:00
</td>
<td align="right">
   36.54
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-08-15 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CREE">CREE</a></td>
<td>
2011-08-12 16:00:00
</td>
<td align="right">
   36.48
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-08-15 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CREE">CREE</a></td>
<td>
2011-08-12 16:15:00
</td>
<td align="right">
   36.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-15 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-08-12 19:40:00
</td>
<td align="right">
   59.31
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2011-08-12 18:35:00
</td>
<td align="right">
   86.23
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-08-15 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-08-12 19:55:00
</td>
<td align="right">
   73.98
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PBR">PBR</a></td>
<td>
2011-08-12 18:45:00
</td>
<td align="right">
   28.14
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-08-15 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-12 15:05:00
</td>
<td align="right">
   66.10
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-08-15 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-12 17:05:00
</td>
<td align="right">
   66.39
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2011-08-15 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-12 18:10:00
</td>
<td align="right">
   66.54
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-08-15 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-12 18:20:00
</td>
<td align="right">
   66.34
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2011-08-15 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-12 18:45:00
</td>
<td align="right">
   66.47
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-08-15 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-12 18:50:00
</td>
<td align="right">
   66.52
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-08-15 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-12 19:10:00
</td>
<td align="right">
   66.59
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-08-12 19:45:00
</td>
<td align="right">
   66.50
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-12 15:40:00
</td>
<td align="right">
   55.04
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-08-15 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-12 15:50:00
</td>
<td align="right">
   55.17
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2011-08-15 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-12 18:30:00
</td>
<td align="right">
   54.42
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-15 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-12 18:35:00
</td>
<td align="right">
   54.24
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-08-15 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-08-12 19:30:00
</td>
<td align="right">
   54.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-08-12 15:20:00
</td>
<td align="right">
   26.52
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-08-15 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2011-08-12 18:45:00
</td>
<td align="right">
   26.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-08-15 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-08-12 15:15:00
</td>
<td align="right">
   49.47
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Mon: 2011-08-15 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-08-12 19:35:00
</td>
<td align="right">
   49.62
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-08-12 19:50:00
</td>
<td align="right">
   49.66
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-08-15 19:50
</td>
</tr>
</table>
<br /><hr />