<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-01 19:05:00
</td>
<td align="right">
   54.17
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-01 19:10:00
</td>
<td align="right">
   54.23
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-01 19:50:00
</td>
<td align="right">
   54.30
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-09-01 19:55:00
</td>
<td align="right">
   54.23
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-01 18:35:00
</td>
<td align="right">
  533.21
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Fri: 2011-09-02 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-09-01 19:45:00
</td>
<td align="right">
  533.35
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:30:00
</td>
<td align="right">
   70.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-09-02 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:35:00
</td>
<td align="right">
   70.91
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2011-09-02 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:40:00
</td>
<td align="right">
   70.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-09-02 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:45:00
</td>
<td align="right">
   71.10
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Fri: 2011-09-02 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:50:00
</td>
<td align="right">
   71.01
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-09-02 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 18:55:00
</td>
<td align="right">
   71.05
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-09-02 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-09-01 19:10:00
</td>
<td align="right">
   70.84
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2011-09-01 18:10:00
</td>
<td align="right">
  183.61
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2011-09-02 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-01 19:05:00
</td>
<td align="right">
   28.28
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-01 19:20:00
</td>
<td align="right">
   28.32
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-01 19:40:00
</td>
<td align="right">
   28.30
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-01 19:50:00
</td>
<td align="right">
   28.29
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-09-01 19:55:00
</td>
<td align="right">
   28.27
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-01 19:00:00
</td>
<td align="right">
   52.92
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-09-01 19:05:00
</td>
<td align="right">
   52.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-01 18:50:00
</td>
<td align="right">
   68.44
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-09-02 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-01 19:10:00
</td>
<td align="right">
   68.40
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-09-01 19:15:00
</td>
<td align="right">
   68.41
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-09-01 19:05:00
</td>
<td align="right">
   55.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-09-02 19:05
</td>
</tr>
</table>
<br /><hr />