<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:05:00
</td>
<td align="right">
  317.18
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    2.26
</td>
<td>
Wed: 2011-10-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:15:00
</td>
<td align="right">
  316.91
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    3.73
</td>
<td>
Wed: 2011-10-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:20:00
</td>
<td align="right">
  317.59
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    2.69
</td>
<td>
Wed: 2011-10-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:25:00
</td>
<td align="right">
  317.59
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    1.84
</td>
<td>
Wed: 2011-10-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:30:00
</td>
<td align="right">
  318.74
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2011-10-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:40:00
</td>
<td align="right">
  318.15
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    1.56
</td>
<td>
Wed: 2011-10-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:45:00
</td>
<td align="right">
  318.49
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Wed: 2011-10-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:50:00
</td>
<td align="right">
  317.73
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    2.53
</td>
<td>
Wed: 2011-10-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 18:55:00
</td>
<td align="right">
  318.02
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    1.83
</td>
<td>
Wed: 2011-10-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:00:00
</td>
<td align="right">
  319.66
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:05:00
</td>
<td align="right">
  319.44
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:10:00
</td>
<td align="right">
  319.37
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:20:00
</td>
<td align="right">
  320.28
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:25:00
</td>
<td align="right">
  319.43
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:30:00
</td>
<td align="right">
  318.55
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:35:00
</td>
<td align="right">
  319.49
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:40:00
</td>
<td align="right">
  319.71
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:45:00
</td>
<td align="right">
  318.97
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:50:00
</td>
<td align="right">
  320.26
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-10-18 19:55:00
</td>
<td align="right">
  319.85
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-10-18 18:05:00
</td>
<td align="right">
  128.27
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    1.44
</td>
<td>
Wed: 2011-10-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-10-18 18:20:00
</td>
<td align="right">
  115.00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .73
</td>
<td>
Wed: 2011-10-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-10-18 18:00:00
</td>
<td align="right">
   57.59
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2011-10-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-10-18 18:15:00
</td>
<td align="right">
   57.60
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2011-10-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-18 18:55:00
</td>
<td align="right">
   34.87
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Wed: 2011-10-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-18 19:00:00
</td>
<td align="right">
   35.24
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-18 19:10:00
</td>
<td align="right">
   35.47
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-18 19:15:00
</td>
<td align="right">
   35.27
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-18 19:35:00
</td>
<td align="right">
   35.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-10-18 19:55:00
</td>
<td align="right">
   35.36
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-10-18 18:10:00
</td>
<td align="right">
   87.84
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    1.16
</td>
<td>
Wed: 2011-10-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-10-18 18:55:00
</td>
<td align="right">
   87.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .74
</td>
<td>
Wed: 2011-10-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-10-18 19:20:00
</td>
<td align="right">
   88.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-10-18 19:25:00
</td>
<td align="right">
   88.71
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-10-18 19:30:00
</td>
<td align="right">
   88.33
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-10-18 18:10:00
</td>
<td align="right">
   55.12
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2011-10-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-10-18 18:15:00
</td>
<td align="right">
   54.98
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Wed: 2011-10-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-10-18 18:20:00
</td>
<td align="right">
   54.79
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Wed: 2011-10-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-10-18 18:25:00
</td>
<td align="right">
   54.76
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .64
</td>
<td>
Wed: 2011-10-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-10-18 18:40:00
</td>
<td align="right">
   54.57
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .97
</td>
<td>
Wed: 2011-10-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-10-18 18:45:00
</td>
<td align="right">
   54.59
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    1.04
</td>
<td>
Wed: 2011-10-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-10-18 18:50:00
</td>
<td align="right">
   54.73
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    1.09
</td>
<td>
Wed: 2011-10-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-10-18 19:05:00
</td>
<td align="right">
  102.97
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2011-10-18 19:15:00
</td>
<td align="right">
   58.29
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2011-10-18 19:20:00
</td>
<td align="right">
   58.39
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2011-10-18 19:40:00
</td>
<td align="right">
   58.11
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2011-10-18 19:45:00
</td>
<td align="right">
   58.32
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2011-10-18 19:55:00
</td>
<td align="right">
   58.24
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-10-18 19:00:00
</td>
<td align="right">
   52.81
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-10-18 19:15:00
</td>
<td align="right">
   52.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-10-18 19:20:00
</td>
<td align="right">
   52.74
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-10-18 19:40:00
</td>
<td align="right">
   53.00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOYG">JOYG</a></td>
<td>
2011-10-18 18:15:00
</td>
<td align="right">
   77.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    1.56
</td>
<td>
Wed: 2011-10-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOYG">JOYG</a></td>
<td>
2011-10-18 19:05:00
</td>
<td align="right">
   79.11
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOYG">JOYG</a></td>
<td>
2011-10-18 19:20:00
</td>
<td align="right">
   79.59
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-10-18 19:25:00
</td>
<td align="right">
   27.30
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-10-18 19:30:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2011-10-18 19:05:00
</td>
<td align="right">
  111.74
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-10-18 18:45:00
</td>
<td align="right">
   65.06
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-10-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-10-18 18:50:00
</td>
<td align="right">
   65.07
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-10-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-10-18 19:35:00
</td>
<td align="right">
   65.02
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-10-18 19:45:00
</td>
<td align="right">
   65.05
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-10-18 19:55:00
</td>
<td align="right">
   64.92
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 18:00:00
</td>
<td align="right">
   40.72
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
     .53
</td>
<td>
Wed: 2011-10-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 18:05:00
</td>
<td align="right">
   40.70
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
     .95
</td>
<td>
Wed: 2011-10-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 18:10:00
</td>
<td align="right">
   40.80
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
    1.18
</td>
<td>
Wed: 2011-10-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 18:15:00
</td>
<td align="right">
   40.79
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
    1.03
</td>
<td>
Wed: 2011-10-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 18:35:00
</td>
<td align="right">
   40.69
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .94
</td>
<td>
Wed: 2011-10-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 18:40:00
</td>
<td align="right">
   40.67
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.09
</td>
<td>
Wed: 2011-10-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 19:20:00
</td>
<td align="right">
   41.66
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 19:30:00
</td>
<td align="right">
   41.58
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-10-18 19:55:00
</td>
<td align="right">
   41.86
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-10-18 18:25:00
</td>
<td align="right">
   33.62
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Wed: 2011-10-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2011-10-18 18:40:00
</td>
<td align="right">
   33.59
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2011-10-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-10-18 18:45:00
</td>
<td align="right">
   51.15
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Wed: 2011-10-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-10-18 18:50:00
</td>
<td align="right">
   51.14
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .65
</td>
<td>
Wed: 2011-10-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-10-18 18:55:00
</td>
<td align="right">
   51.19
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Wed: 2011-10-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-10-18 18:10:00
</td>
<td align="right">
   56.22
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .68
</td>
<td>
Wed: 2011-10-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-10-18 19:30:00
</td>
<td align="right">
   56.67
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2011-10-18 19:35:00
</td>
<td align="right">
  114.94
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-19 19:35
</td>
</tr>
</table>
<br /><hr />