<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-11-08 18:05:00
</td>
<td align="right">
   26.37
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-11-09 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-11-08 18:25:00
</td>
<td align="right">
   26.39
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2011-11-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-11-08 18:30:00
</td>
<td align="right">
   26.37
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2011-11-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-11-08 18:35:00
</td>
<td align="right">
   26.39
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2011-11-09 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-11-08 18:50:00
</td>
<td align="right">
   26.40
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2011-11-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-11-08 19:00:00
</td>
<td align="right">
   26.40
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
   26.40
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-11-08 18:05:00
</td>
<td align="right">
   58.01
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-11-09 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-11-08 18:10:00
</td>
<td align="right">
   58.04
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-11-09 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-11-08 18:15:00
</td>
<td align="right">
   58.07
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-11-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-11-08 18:30:00
</td>
<td align="right">
   58.03
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-11-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-11-08 18:40:00
</td>
<td align="right">
   58.11
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-11-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:00:00
</td>
<td align="right">
   28.38
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-11-09 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:05:00
</td>
<td align="right">
   28.25
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2011-11-09 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:10:00
</td>
<td align="right">
   28.08
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Wed: 2011-11-09 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:15:00
</td>
<td align="right">
   28.12
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2011-11-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:20:00
</td>
<td align="right">
   28.17
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Wed: 2011-11-09 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:25:00
</td>
<td align="right">
   28.25
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Wed: 2011-11-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:30:00
</td>
<td align="right">
   28.24
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Wed: 2011-11-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:35:00
</td>
<td align="right">
   28.24
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Wed: 2011-11-09 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:40:00
</td>
<td align="right">
   28.24
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-11-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:45:00
</td>
<td align="right">
   28.47
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2011-11-09 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 18:55:00
</td>
<td align="right">
   28.51
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2011-11-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:00:00
</td>
<td align="right">
   28.49
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:05:00
</td>
<td align="right">
   28.38
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
   28.48
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:15:00
</td>
<td align="right">
   28.38
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:20:00
</td>
<td align="right">
   28.57
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:25:00
</td>
<td align="right">
   28.62
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:30:00
</td>
<td align="right">
   28.54
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:35:00
</td>
<td align="right">
   28.58
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:40:00
</td>
<td align="right">
   28.57
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:45:00
</td>
<td align="right">
   28.56
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:50:00
</td>
<td align="right">
   28.62
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-11-08 19:55:00
</td>
<td align="right">
   28.60
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2011-11-08 18:30:00
</td>
<td align="right">
   79.26
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Wed: 2011-11-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-11-08 18:15:00
</td>
<td align="right">
  195.54
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    2.50
</td>
<td>
Wed: 2011-11-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-11-08 18:25:00
</td>
<td align="right">
   46.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .60
</td>
<td>
Wed: 2011-11-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
   72.44
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.46
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2011-11-08 19:20:00
</td>
<td align="right">
   72.58
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -2.08
</td>
<td>
Wed: 2011-11-09 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-11-08 19:55:00
</td>
<td align="right">
  121.34
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.72
</td>
<td>
Wed: 2011-11-09 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
   52.47
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.81
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-11-08 18:50:00
</td>
<td align="right">
  610.60
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    1.95
</td>
<td>
Wed: 2011-11-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
  611.00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-11-08 19:35:00
</td>
<td align="right">
  612.40
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
   47.99
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-11-08 19:30:00
</td>
<td align="right">
   48.02
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-11-08 19:35:00
</td>
<td align="right">
   48.08
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-11-08 18:15:00
</td>
<td align="right">
   58.71
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Wed: 2011-11-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-11-08 18:20:00
</td>
<td align="right">
   58.79
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .64
</td>
<td>
Wed: 2011-11-09 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-11-08 19:00:00
</td>
<td align="right">
   59.40
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.00
</td>
<td>
Wed: 2011-11-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-11-08 19:20:00
</td>
<td align="right">
   59.43
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.95
</td>
<td>
Wed: 2011-11-09 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 18:00:00
</td>
<td align="right">
   43.74
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2011-11-09 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 18:05:00
</td>
<td align="right">
   43.65
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2011-11-09 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 18:40:00
</td>
<td align="right">
   43.63
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Wed: 2011-11-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 18:45:00
</td>
<td align="right">
   43.78
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2011-11-09 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 18:50:00
</td>
<td align="right">
   43.94
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-11-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 18:55:00
</td>
<td align="right">
   44.08
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-11-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:00:00
</td>
<td align="right">
   44.02
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:05:00
</td>
<td align="right">
   44.01
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
   44.10
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:15:00
</td>
<td align="right">
   43.90
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:20:00
</td>
<td align="right">
   44.02
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:25:00
</td>
<td align="right">
   44.04
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:30:00
</td>
<td align="right">
   43.96
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:35:00
</td>
<td align="right">
   44.01
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:40:00
</td>
<td align="right">
   44.01
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:45:00
</td>
<td align="right">
   43.96
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2011-11-08 19:55:00
</td>
<td align="right">
   44.01
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-11-08 19:35:00
</td>
<td align="right">
   39.53
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-11-08 19:40:00
</td>
<td align="right">
   39.49
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2011-11-08 18:55:00
</td>
<td align="right">
   28.73
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-11-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-11-08 19:45:00
</td>
<td align="right">
   72.39
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 18:15:00
</td>
<td align="right">
   23.48
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2011-11-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 18:25:00
</td>
<td align="right">
   23.51
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Wed: 2011-11-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 18:45:00
</td>
<td align="right">
   23.73
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2011-11-09 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 18:50:00
</td>
<td align="right">
   23.70
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2011-11-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 18:55:00
</td>
<td align="right">
   23.76
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2011-11-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 19:00:00
</td>
<td align="right">
   23.81
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 19:05:00
</td>
<td align="right">
   23.77
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
   23.83
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 19:15:00
</td>
<td align="right">
   23.77
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 19:25:00
</td>
<td align="right">
   23.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 19:30:00
</td>
<td align="right">
   23.85
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 19:40:00
</td>
<td align="right">
   23.88
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2011-11-08 19:45:00
</td>
<td align="right">
   23.87
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 18:20:00
</td>
<td align="right">
   29.52
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Wed: 2011-11-09 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 18:25:00
</td>
<td align="right">
   29.61
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2011-11-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 18:45:00
</td>
<td align="right">
   29.81
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-11-09 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 18:50:00
</td>
<td align="right">
   29.79
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2011-11-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 18:55:00
</td>
<td align="right">
   29.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2011-11-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 19:00:00
</td>
<td align="right">
   29.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 19:05:00
</td>
<td align="right">
   29.89
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 19:25:00
</td>
<td align="right">
   29.97
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 19:45:00
</td>
<td align="right">
   30.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2011-11-08 19:55:00
</td>
<td align="right">
   30.10
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-11-08 18:30:00
</td>
<td align="right">
   47.52
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Wed: 2011-11-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-11-08 18:35:00
</td>
<td align="right">
   47.54
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Wed: 2011-11-09 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-11-08 18:40:00
</td>
<td align="right">
   47.61
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Wed: 2011-11-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-11-08 18:45:00
</td>
<td align="right">
   47.81
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2011-11-09 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-11-08 19:05:00
</td>
<td align="right">
   47.84
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2011-11-08 19:25:00
</td>
<td align="right">
   47.98
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-11-08 18:15:00
</td>
<td align="right">
   73.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .76
</td>
<td>
Wed: 2011-11-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-11-08 18:10:00
</td>
<td align="right">
   47.29
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .70
</td>
<td>
Wed: 2011-11-09 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-11-08 18:20:00
</td>
<td align="right">
   47.47
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Wed: 2011-11-09 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-11-08 18:30:00
</td>
<td align="right">
   47.48
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Wed: 2011-11-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-11-08 18:35:00
</td>
<td align="right">
   47.50
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Wed: 2011-11-09 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-11-08 18:25:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2011-11-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2011-11-08 18:50:00
</td>
<td align="right">
   34.28
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Wed: 2011-11-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2011-11-08 18:35:00
</td>
<td align="right">
   28.33
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Wed: 2011-11-09 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-11-08 18:55:00
</td>
<td align="right">
   59.32
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2011-11-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-11-08 19:10:00
</td>
<td align="right">
   59.20
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-11-09 19:10
</td>
</tr>
</table>
<br /><hr />