<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-26 18:00:00
</td>
<td align="right">
   85.83
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    1.02
</td>
<td>
Tue: 2011-09-27 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-26 18:05:00
</td>
<td align="right">
   85.58
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    1.43
</td>
<td>
Tue: 2011-09-27 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-26 18:10:00
</td>
<td align="right">
   85.27
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    1.94
</td>
<td>
Tue: 2011-09-27 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-26 18:15:00
</td>
<td align="right">
   85.42
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    1.92
</td>
<td>
Tue: 2011-09-27 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-26 18:20:00
</td>
<td align="right">
   85.70
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    1.83
</td>
<td>
Tue: 2011-09-27 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-26 18:25:00
</td>
<td align="right">
   85.81
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    1.83
</td>
<td>
Tue: 2011-09-27 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-26 18:30:00
</td>
<td align="right">
   86.15
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    1.36
</td>
<td>
Tue: 2011-09-27 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2011-09-26 18:35:00
</td>
<td align="right">
   86.20
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    1.57
</td>
<td>
Tue: 2011-09-27 18:35
</td>
</tr>
</table>
<br /><hr />