a(href="/site_map")Site Map
| >
a(href="/predictions")Predictions
| >
a(href="/predictions/us_stk")US Stock
| > Recent-Market-Close US Stock Predictions

h4 Recent-Market-Close Stock Predictions
' The data in this page is interesting to me for about an hour during market open.
br/
' It contains predictions issued near the close of the previous market close.
br/
br/
' A description of the data in this page is here >
a(href="#" class="data_description") Data Description
br/
br/

' Bearish predictions are displayed first, then bullish predictions.
br/
br/

=render :partial => 'us_stk_c_spool'

