a(href="/site_map")Site Map
| >
a(href="/predictions")Predictions
| >
a(href="/predictions/us_stk")US Stock
| > Recent-Market-Close US Stock Predictions

h4 Recent-Market-Close Stock Predictions

=render :partial => 'us_stk_c_spool'

