hr/
a(href="http://bot4.us/a1")
  h1 http://bot4.us
hr/

a(href="/a1/predictions")Predictions
hr/

a(href="/a1/about")About
hr/

a(href="/a1/blog")Blog
hr/

a(href="/a1/faq")FAQ
hr/

a(href="/a1/glossary")Glossary
hr/

a(href="/a1/books")Books
hr/

a(href="/a1/contact")Contact
hr/

a(href="/a1/tos")Terms Of Service
hr/
