<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-25 15:25:00
</td>
<td align="right">
  131.20
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2011-10-26 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-25 14:05:00
</td>
<td align="right">
  117.64
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-10-26 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-25 14:50:00
</td>
<td align="right">
  117.85
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-10-26 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-25 14:55:00
</td>
<td align="right">
  117.81
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-10-26 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-25 15:20:00
</td>
<td align="right">
  117.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Wed: 2011-10-26 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-25 15:30:00
</td>
<td align="right">
  117.68
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Wed: 2011-10-26 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-25 15:50:00
</td>
<td align="right">
  117.78
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-10-26 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-25 15:55:00
</td>
<td align="right">
  117.78
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-10-26 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-25 16:00:00
</td>
<td align="right">
  117.74
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-10-26 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-25 14:35:00
</td>
<td align="right">
   35.12
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2011-10-26 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-25 14:00:00
</td>
<td align="right">
   34.80
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-10-26 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-25 15:10:00
</td>
<td align="right">
   34.94
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2011-10-26 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-25 15:15:00
</td>
<td align="right">
   34.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Wed: 2011-10-26 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-25 16:50:00
</td>
<td align="right">
   34.99
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2011-10-26 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-25 19:00:00
</td>
<td align="right">
   35.09
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-26 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-25 19:05:00
</td>
<td align="right">
   35.07
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-26 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-25 19:15:00
</td>
<td align="right">
   34.98
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-26 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-25 19:45:00
</td>
<td align="right">
   34.81
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-26 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2011-10-25 19:40:00
</td>
<td align="right">
  100.80
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-10-26 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2011-10-25 14:40:00
</td>
<td align="right">
   72.72
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Wed: 2011-10-26 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2011-10-25 16:15:00
</td>
<td align="right">
   50.33
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Wed: 2011-10-26 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-10-25 17:05:00
</td>
<td align="right">
   82.46
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.70
</td>
<td>
Wed: 2011-10-26 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-10-25 17:15:00
</td>
<td align="right">
   81.75
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.36
</td>
<td>
Wed: 2011-10-26 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-10-25 17:25:00
</td>
<td align="right">
   81.76
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -1.84
</td>
<td>
Wed: 2011-10-26 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-10-25 17:50:00
</td>
<td align="right">
   81.69
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -2.01
</td>
<td>
Wed: 2011-10-26 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2011-10-25 17:15:00
</td>
<td align="right">
   49.12
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2011-10-26 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-25 14:30:00
</td>
<td align="right">
   35.04
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-10-26 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ESRX">ESRX</a></td>
<td>
2011-10-25 16:55:00
</td>
<td align="right">
   39.14
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2011-10-26 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ESRX">ESRX</a></td>
<td>
2011-10-25 17:10:00
</td>
<td align="right">
   39.04
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2011-10-26 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ESRX">ESRX</a></td>
<td>
2011-10-25 17:20:00
</td>
<td align="right">
   39.06
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2011-10-26 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ESRX">ESRX</a></td>
<td>
2011-10-25 17:25:00
</td>
<td align="right">
   39.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Wed: 2011-10-26 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ESRX">ESRX</a></td>
<td>
2011-10-25 17:45:00
</td>
<td align="right">
   38.90
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2011-10-26 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:00:00
</td>
<td align="right">
  589.56
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    1.64
</td>
<td>
Wed: 2011-10-26 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:05:00
</td>
<td align="right">
  590.72
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2011-10-26 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:10:00
</td>
<td align="right">
  591.74
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Wed: 2011-10-26 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:15:00
</td>
<td align="right">
  592.50
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   -2.21
</td>
<td>
Wed: 2011-10-26 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:20:00
</td>
<td align="right">
  592.89
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -3.28
</td>
<td>
Wed: 2011-10-26 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:35:00
</td>
<td align="right">
  594.47
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   -6.00
</td>
<td>
Wed: 2011-10-26 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:40:00
</td>
<td align="right">
  593.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -5.99
</td>
<td>
Wed: 2011-10-26 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:50:00
</td>
<td align="right">
  592.65
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -4.28
</td>
<td>
Wed: 2011-10-26 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 14:55:00
</td>
<td align="right">
  592.75
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -4.50
</td>
<td>
Wed: 2011-10-26 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 15:05:00
</td>
<td align="right">
  590.55
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   -1.45
</td>
<td>
Wed: 2011-10-26 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 15:10:00
</td>
<td align="right">
  591.15
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   -1.58
</td>
<td>
Wed: 2011-10-26 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 16:15:00
</td>
<td align="right">
  589.66
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   -1.03
</td>
<td>
Wed: 2011-10-26 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-25 16:25:00
</td>
<td align="right">
  590.12
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   -1.90
</td>
<td>
Wed: 2011-10-26 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ORCL">ORCL</a></td>
<td>
2011-10-25 14:35:00
</td>
<td align="right">
   32.83
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2011-10-26 14:35
</td>
</tr>
</table>
<br /><hr />