<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 15:15:00
</td>
<td align="right">
   26.57
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-10-31 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 15:40:00
</td>
<td align="right">
   26.41
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-10-31 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 15:45:00
</td>
<td align="right">
   26.39
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-10-31 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 15:50:00
</td>
<td align="right">
   26.40
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-10-31 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 15:55:00
</td>
<td align="right">
   26.33
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-10-31 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 16:00:00
</td>
<td align="right">
   26.45
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-10-31 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 16:05:00
</td>
<td align="right">
   26.47
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-10-31 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 16:10:00
</td>
<td align="right">
   26.50
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-10-31 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 16:25:00
</td>
<td align="right">
   26.44
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-10-31 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 17:00:00
</td>
<td align="right">
   26.52
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-10-31 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 17:05:00
</td>
<td align="right">
   26.42
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-10-31 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 17:10:00
</td>
<td align="right">
   26.42
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-10-31 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 17:15:00
</td>
<td align="right">
   26.47
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-10-31 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 17:20:00
</td>
<td align="right">
   26.54
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2011-10-31 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 17:35:00
</td>
<td align="right">
   26.47
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-10-31 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 17:40:00
</td>
<td align="right">
   26.45
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-10-31 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 17:45:00
</td>
<td align="right">
   26.37
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-10-31 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 18:05:00
</td>
<td align="right">
   26.38
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-10-31 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 18:10:00
</td>
<td align="right">
   26.39
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-10-31 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 18:15:00
</td>
<td align="right">
   26.25
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-10-31 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 18:20:00
</td>
<td align="right">
   26.27
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 18:25:00
</td>
<td align="right">
   26.30
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-10-31 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AIG">AIG</a></td>
<td>
2011-10-28 18:30:00
</td>
<td align="right">
   26.36
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-10-31 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 14:15:00
</td>
<td align="right">
  145.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Mon: 2011-10-31 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 14:25:00
</td>
<td align="right">
  145.86
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.69
</td>
<td>
Mon: 2011-10-31 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:05:00
</td>
<td align="right">
  146.20
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   -1.83
</td>
<td>
Mon: 2011-10-31 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:10:00
</td>
<td align="right">
  144.96
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Mon: 2011-10-31 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:15:00
</td>
<td align="right">
  145.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   -1.03
</td>
<td>
Mon: 2011-10-31 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:25:00
</td>
<td align="right">
  145.17
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.17
</td>
<td>
Mon: 2011-10-31 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:30:00
</td>
<td align="right">
  144.86
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   -1.30
</td>
<td>
Mon: 2011-10-31 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:35:00
</td>
<td align="right">
  144.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.43
</td>
<td>
Mon: 2011-10-31 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:40:00
</td>
<td align="right">
  144.34
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2011-10-31 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:50:00
</td>
<td align="right">
  143.86
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Mon: 2011-10-31 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 15:55:00
</td>
<td align="right">
  143.69
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Mon: 2011-10-31 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:00:00
</td>
<td align="right">
  144.01
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-10-31 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:05:00
</td>
<td align="right">
  144.37
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-10-31 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:20:00
</td>
<td align="right">
  143.77
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .96
</td>
<td>
Mon: 2011-10-31 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:25:00
</td>
<td align="right">
  143.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    1.78
</td>
<td>
Mon: 2011-10-31 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:30:00
</td>
<td align="right">
  143.56
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .91
</td>
<td>
Mon: 2011-10-31 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:35:00
</td>
<td align="right">
  143.44
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    1.01
</td>
<td>
Mon: 2011-10-31 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:40:00
</td>
<td align="right">
  143.75
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-10-31 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:45:00
</td>
<td align="right">
  144.33
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-10-31 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 16:55:00
</td>
<td align="right">
  144.30
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-10-31 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 17:00:00
</td>
<td align="right">
  144.30
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-10-31 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 17:05:00
</td>
<td align="right">
  144.26
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2011-10-31 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 17:50:00
</td>
<td align="right">
  144.48
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-10-31 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 18:05:00
</td>
<td align="right">
  144.54
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-10-31 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-28 18:35:00
</td>
<td align="right">
  144.15
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2011-10-31 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-28 15:05:00
</td>
<td align="right">
   34.25
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Mon: 2011-10-31 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-28 15:10:00
</td>
<td align="right">
   34.24
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2011-10-31 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:00:00
</td>
<td align="right">
   46.27
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Mon: 2011-10-31 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:05:00
</td>
<td align="right">
   46.45
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .68
</td>
<td>
Mon: 2011-10-31 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:10:00
</td>
<td align="right">
   46.40
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .70
</td>
<td>
Mon: 2011-10-31 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:15:00
</td>
<td align="right">
   46.50
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Mon: 2011-10-31 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:20:00
</td>
<td align="right">
   46.63
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2011-10-31 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:25:00
</td>
<td align="right">
   46.69
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2011-10-31 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:30:00
</td>
<td align="right">
   46.83
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2011-10-31 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:35:00
</td>
<td align="right">
   47.06
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-10-31 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:40:00
</td>
<td align="right">
   46.93
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-10-31 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:45:00
</td>
<td align="right">
   46.85
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-10-31 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:50:00
</td>
<td align="right">
   47.11
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-10-31 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-28 14:55:00
</td>
<td align="right">
   47.08
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2011-10-31 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 14:20:00
</td>
<td align="right">
  137.41
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    1.95
</td>
<td>
Mon: 2011-10-31 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 14:55:00
</td>
<td align="right">
  138.57
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.79
</td>
<td>
Mon: 2011-10-31 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 15:00:00
</td>
<td align="right">
  138.96
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Mon: 2011-10-31 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 15:10:00
</td>
<td align="right">
  139.30
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.22
</td>
<td>
Mon: 2011-10-31 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 15:15:00
</td>
<td align="right">
  139.07
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.23
</td>
<td>
Mon: 2011-10-31 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 15:20:00
</td>
<td align="right">
  139.36
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.50
</td>
<td>
Mon: 2011-10-31 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 15:25:00
</td>
<td align="right">
  139.67
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -2.71
</td>
<td>
Mon: 2011-10-31 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 15:30:00
</td>
<td align="right">
  139.20
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -2.56
</td>
<td>
Mon: 2011-10-31 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 15:35:00
</td>
<td align="right">
  138.73
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -2.01
</td>
<td>
Mon: 2011-10-31 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 15:50:00
</td>
<td align="right">
  137.95
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Mon: 2011-10-31 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 16:45:00
</td>
<td align="right">
  137.72
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Mon: 2011-10-31 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 17:10:00
</td>
<td align="right">
  137.77
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-10-31 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-28 17:25:00
</td>
<td align="right">
  138.24
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-10-31 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 14:00:00
</td>
<td align="right">
   77.77
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.05
</td>
<td>
Mon: 2011-10-31 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 14:10:00
</td>
<td align="right">
   77.91
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .81
</td>
<td>
Mon: 2011-10-31 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 14:25:00
</td>
<td align="right">
   78.35
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Mon: 2011-10-31 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 14:30:00
</td>
<td align="right">
   78.49
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Mon: 2011-10-31 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 14:35:00
</td>
<td align="right">
   78.92
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-10-31 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 14:40:00
</td>
<td align="right">
   78.63
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-10-31 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:00:00
</td>
<td align="right">
   78.82
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.57
</td>
<td>
Mon: 2011-10-31 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:05:00
</td>
<td align="right">
   78.82
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Mon: 2011-10-31 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:10:00
</td>
<td align="right">
   78.72
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2011-10-31 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:15:00
</td>
<td align="right">
   78.68
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2011-10-31 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:20:00
</td>
<td align="right">
   78.82
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2011-10-31 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:25:00
</td>
<td align="right">
   78.86
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2011-10-31 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:30:00
</td>
<td align="right">
   78.95
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Mon: 2011-10-31 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:35:00
</td>
<td align="right">
   78.85
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2011-10-31 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:40:00
</td>
<td align="right">
   78.84
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Mon: 2011-10-31 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:45:00
</td>
<td align="right">
   78.60
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-10-31 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 15:55:00
</td>
<td align="right">
   78.14
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2011-10-31 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 16:00:00
</td>
<td align="right">
   78.25
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2011-10-31 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 16:05:00
</td>
<td align="right">
   78.21
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2011-10-31 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 16:10:00
</td>
<td align="right">
   78.34
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2011-10-31 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 16:15:00
</td>
<td align="right">
   78.27
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2011-10-31 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 16:20:00
</td>
<td align="right">
   78.35
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2011-10-31 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 16:25:00
</td>
<td align="right">
   78.32
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Mon: 2011-10-31 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 16:30:00
</td>
<td align="right">
   78.29
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Mon: 2011-10-31 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 16:40:00
</td>
<td align="right">
   78.32
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Mon: 2011-10-31 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 18:20:00
</td>
<td align="right">
   78.44
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2011-10-31 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 18:35:00
</td>
<td align="right">
   78.51
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-10-31 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 19:25:00
</td>
<td align="right">
   78.69
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-28 17:35:00
</td>
<td align="right">
  122.00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2011-10-31 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-28 16:05:00
</td>
<td align="right">
   35.90
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-10-31 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-28 14:50:00
</td>
<td align="right">
   43.25
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Mon: 2011-10-31 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-28 17:15:00
</td>
<td align="right">
   42.84
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Mon: 2011-10-31 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 14:35:00
</td>
<td align="right">
  599.87
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2011-10-31 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 14:50:00
</td>
<td align="right">
  600.41
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.91
</td>
<td>
Mon: 2011-10-31 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 15:00:00
</td>
<td align="right">
  600.00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   -1.64
</td>
<td>
Mon: 2011-10-31 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 15:05:00
</td>
<td align="right">
  600.09
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   -1.27
</td>
<td>
Mon: 2011-10-31 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 15:20:00
</td>
<td align="right">
  599.12
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-10-31 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 15:55:00
</td>
<td align="right">
  598.50
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .95
</td>
<td>
Mon: 2011-10-31 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 16:00:00
</td>
<td align="right">
  598.36
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    1.18
</td>
<td>
Mon: 2011-10-31 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 16:10:00
</td>
<td align="right">
  599.45
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-10-31 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 16:55:00
</td>
<td align="right">
  599.45
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2011-10-31 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NTAP">NTAP</a></td>
<td>
2011-10-28 14:00:00
</td>
<td align="right">
   41.07
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Mon: 2011-10-31 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NTAP">NTAP</a></td>
<td>
2011-10-28 14:50:00
</td>
<td align="right">
   41.59
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2011-10-31 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NTAP">NTAP</a></td>
<td>
2011-10-28 15:00:00
</td>
<td align="right">
   41.59
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-10-31 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NTAP">NTAP</a></td>
<td>
2011-10-28 15:30:00
</td>
<td align="right">
   41.63
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2011-10-31 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NTAP">NTAP</a></td>
<td>
2011-10-28 15:45:00
</td>
<td align="right">
   41.19
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-10-31 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2011-10-28 14:00:00
</td>
<td align="right">
   65.27
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Mon: 2011-10-31 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2011-10-28 14:10:00
</td>
<td align="right">
   65.30
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Mon: 2011-10-31 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2011-10-28 17:20:00
</td>
<td align="right">
   66.26
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-10-31 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2011-10-28 17:30:00
</td>
<td align="right">
   66.23
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-10-31 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2011-10-28 18:45:00
</td>
<td align="right">
   66.06
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2011-10-31 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2011-10-28 18:50:00
</td>
<td align="right">
   66.13
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2011-10-31 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2011-10-28 19:00:00
</td>
<td align="right">
   66.10
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 14:35:00
</td>
<td align="right">
   53.36
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-10-31 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 14:40:00
</td>
<td align="right">
   53.11
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-10-31 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 14:45:00
</td>
<td align="right">
   53.01
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-10-31 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 14:50:00
</td>
<td align="right">
   53.02
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-10-31 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:00:00
</td>
<td align="right">
   53.03
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2011-10-31 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:05:00
</td>
<td align="right">
   53.09
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2011-10-31 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:10:00
</td>
<td align="right">
   53.14
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-10-31 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:20:00
</td>
<td align="right">
   53.13
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2011-10-31 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:25:00
</td>
<td align="right">
   53.15
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2011-10-31 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:30:00
</td>
<td align="right">
   53.24
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Mon: 2011-10-31 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:35:00
</td>
<td align="right">
   53.14
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2011-10-31 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:40:00
</td>
<td align="right">
   53.02
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-10-31 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:45:00
</td>
<td align="right">
   53.02
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-10-31 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 15:55:00
</td>
<td align="right">
   52.99
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-10-31 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 16:00:00
</td>
<td align="right">
   52.75
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2011-10-31 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 16:05:00
</td>
<td align="right">
   52.74
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-10-31 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-28 16:10:00
</td>
<td align="right">
   52.80
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-10-31 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SCCO">SCCO</a></td>
<td>
2011-10-28 19:40:00
</td>
<td align="right">
   32.43
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SCCO">SCCO</a></td>
<td>
2011-10-28 19:55:00
</td>
<td align="right">
   32.41
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 14:25:00
</td>
<td align="right">
    9.87
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-10-31 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 14:40:00
</td>
<td align="right">
    9.97
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 14:45:00
</td>
<td align="right">
    9.98
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-10-31 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 15:20:00
</td>
<td align="right">
   10.04
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-10-31 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 15:35:00
</td>
<td align="right">
    9.99
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-10-31 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 16:30:00
</td>
<td align="right">
    9.84
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-10-28 14:30:00
</td>
<td align="right">
   71.88
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-10-31 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-10-28 14:55:00
</td>
<td align="right">
   71.89
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2011-10-31 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-10-28 15:05:00
</td>
<td align="right">
   71.91
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2011-10-31 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-10-28 15:10:00
</td>
<td align="right">
   71.98
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2011-10-31 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-10-28 15:15:00
</td>
<td align="right">
   71.96
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2011-10-31 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-10-28 16:05:00
</td>
<td align="right">
   71.43
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-10-31 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-10-28 17:30:00
</td>
<td align="right">
   71.63
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-10-31 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 14:30:00
</td>
<td align="right">
   26.36
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2011-10-31 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 14:40:00
</td>
<td align="right">
   26.53
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-10-31 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 15:10:00
</td>
<td align="right">
   26.53
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-10-31 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 15:30:00
</td>
<td align="right">
   26.57
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-10-31 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 16:45:00
</td>
<td align="right">
   26.42
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-10-31 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 16:50:00
</td>
<td align="right">
   26.40
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-10-31 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 17:00:00
</td>
<td align="right">
   26.46
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-10-31 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 17:05:00
</td>
<td align="right">
   26.39
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-10-31 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 17:10:00
</td>
<td align="right">
   26.35
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-10-31 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 17:35:00
</td>
<td align="right">
   26.52
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-10-31 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 17:40:00
</td>
<td align="right">
   26.51
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-10-31 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 17:50:00
</td>
<td align="right">
   26.51
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-10-31 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 18:00:00
</td>
<td align="right">
   26.52
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 18:05:00
</td>
<td align="right">
   26.52
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-10-31 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 18:10:00
</td>
<td align="right">
   26.48
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-10-31 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 18:20:00
</td>
<td align="right">
   26.45
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-10-31 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 18:25:00
</td>
<td align="right">
   26.40
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-10-31 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 18:35:00
</td>
<td align="right">
   26.42
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2011-10-31 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 18:40:00
</td>
<td align="right">
   26.47
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-10-31 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 18:45:00
</td>
<td align="right">
   26.46
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2011-10-31 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 19:00:00
</td>
<td align="right">
   26.54
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 19:10:00
</td>
<td align="right">
   26.53
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 19:15:00
</td>
<td align="right">
   26.52
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 19:20:00
</td>
<td align="right">
   26.59
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 19:35:00
</td>
<td align="right">
   26.64
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 19:40:00
</td>
<td align="right">
   26.63
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 19:45:00
</td>
<td align="right">
   26.64
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-28 19:50:00
</td>
<td align="right">
   26.68
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADM">ADM</a></td>
<td>
2011-10-28 16:10:00
</td>
<td align="right">
   30.14
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-10-31 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-28 15:15:00
</td>
<td align="right">
   51.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-10-31 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-28 19:05:00
</td>
<td align="right">
   51.97
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-28 19:50:00
</td>
<td align="right">
   52.20
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-28 16:25:00
</td>
<td align="right">
   33.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Mon: 2011-10-31 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-28 16:55:00
</td>
<td align="right">
   34.02
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-10-31 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-28 17:15:00
</td>
<td align="right">
   33.99
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-10-31 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-28 17:50:00
</td>
<td align="right">
   34.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-10-31 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-28 17:55:00
</td>
<td align="right">
   34.07
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-10-31 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-10-28 19:15:00
</td>
<td align="right">
   78.63
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-28 16:30:00
</td>
<td align="right">
   35.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-10-31 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EWZ">EWZ</a></td>
<td>
2011-10-28 17:20:00
</td>
<td align="right">
   64.16
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-10-31 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 15:45:00
</td>
<td align="right">
  598.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2011-10-31 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-28 18:20:00
</td>
<td align="right">
  598.53
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .72
</td>
<td>
Mon: 2011-10-31 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2011-10-28 15:50:00
</td>
<td align="right">
  116.01
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2011-10-31 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2011-10-28 16:10:00
</td>
<td align="right">
  116.01
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.45
</td>
<td>
Mon: 2011-10-31 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2011-10-28 16:25:00
</td>
<td align="right">
  115.61
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2011-10-31 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2011-10-28 16:35:00
</td>
<td align="right">
  115.92
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2011-10-31 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2011-10-28 17:30:00
</td>
<td align="right">
  116.08
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-10-31 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2011-10-28 17:55:00
</td>
<td align="right">
  116.07
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2011-10-31 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 14:00:00
</td>
<td align="right">
   13.47
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2011-10-31 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 15:35:00
</td>
<td align="right">
   13.90
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-10-31 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 15:40:00
</td>
<td align="right">
   13.94
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 15:50:00
</td>
<td align="right">
   13.86
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-10-31 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 16:00:00
</td>
<td align="right">
   13.96
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-10-31 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 16:15:00
</td>
<td align="right">
   14.00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-10-31 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 16:20:00
</td>
<td align="right">
   14.00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 16:30:00
</td>
<td align="right">
   13.99
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 16:40:00
</td>
<td align="right">
   13.96
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-10-31 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 16:45:00
</td>
<td align="right">
   13.99
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 16:50:00
</td>
<td align="right">
   13.99
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-10-31 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 16:55:00
</td>
<td align="right">
   13.99
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-10-31 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 17:00:00
</td>
<td align="right">
   13.99
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-10-31 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 17:10:00
</td>
<td align="right">
   13.96
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-10-31 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 17:20:00
</td>
<td align="right">
   14.02
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-10-31 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 18:40:00
</td>
<td align="right">
   13.86
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-10-31 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 19:15:00
</td>
<td align="right">
   13.86
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 19:20:00
</td>
<td align="right">
   13.85
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SKX">SKX</a></td>
<td>
2011-10-28 19:40:00
</td>
<td align="right">
   13.88
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 18:15:00
</td>
<td align="right">
    9.85
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-10-31 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 18:20:00
</td>
<td align="right">
    9.86
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-10-31 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 19:25:00
</td>
<td align="right">
    9.88
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 19:30:00
</td>
<td align="right">
    9.88
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 19:40:00
</td>
<td align="right">
    9.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-28 19:45:00
</td>
<td align="right">
    9.91
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-10-28 15:55:00
</td>
<td align="right">
   55.10
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-10-31 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TKR">TKR</a></td>
<td>
2011-10-28 16:30:00
</td>
<td align="right">
   43.29
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-10-31 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TKR">TKR</a></td>
<td>
2011-10-28 19:35:00
</td>
<td align="right">
   43.84
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-10-31 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TSO">TSO</a></td>
<td>
2011-10-28 16:25:00
</td>
<td align="right">
   26.58
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2011-10-31 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2011-10-28 17:25:00
</td>
<td align="right">
   36.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-10-31 17:25
</td>
</tr>
</table>
<br /><hr />