<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-11-04 13:35:00
</td>
<td align="right">
  142.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -2.63
</td>
<td>
Mon: 2011-11-07 13:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-04 14:00:00
</td>
<td align="right">
   70.51
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2011-11-07 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-04 14:20:00
</td>
<td align="right">
   70.23
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-11-07 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-04 13:30:00
</td>
<td align="right">
   85.47
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-11-07 13:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-04 13:35:00
</td>
<td align="right">
   85.28
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-11-07 13:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-04 13:40:00
</td>
<td align="right">
   84.77
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-11-07 13:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-04 14:50:00
</td>
<td align="right">
  118.55
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-11-07 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-04 15:20:00
</td>
<td align="right">
   34.38
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-11-07 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-11-04 13:35:00
</td>
<td align="right">
   51.95
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-11-07 13:35
</td>
</tr>
</table>
<br /><hr />