<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COP">COP</a></td>
<td>
2011-10-20 13:45:00
</td>
<td align="right">
   69.92
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-10-21 13:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-20 13:50:00
</td>
<td align="right">
  127.73
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2011-10-21 13:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-20 14:05:00
</td>
<td align="right">
  127.50
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-20 14:15:00
</td>
<td align="right">
  115.38
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.18
</td>
<td>
Fri: 2011-10-21 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-20 13:30:00
</td>
<td align="right">
   34.85
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 13:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-20 13:35:00
</td>
<td align="right">
   34.70
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 13:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-20 13:40:00
</td>
<td align="right">
   34.56
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 13:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-20 13:30:00
</td>
<td align="right">
   40.00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-10-21 13:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-20 14:40:00
</td>
<td align="right">
   39.98
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-21 14:40
</td>
</tr>
</table>
<br /><hr />