<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 15:50:00
</td>
<td align="right">
  141.83
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Tue: 2011-11-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 15:55:00
</td>
<td align="right">
  141.60
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2011-11-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:05:00
</td>
<td align="right">
  141.84
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.73
</td>
<td>
Tue: 2011-11-01 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:10:00
</td>
<td align="right">
  141.67
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2011-11-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
  141.75
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Tue: 2011-11-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
  141.63
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Tue: 2011-11-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:25:00
</td>
<td align="right">
  141.35
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.85
</td>
<td>
Tue: 2011-11-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:30:00
</td>
<td align="right">
  141.17
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-11-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:35:00
</td>
<td align="right">
  141.55
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2011-11-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:40:00
</td>
<td align="right">
  141.46
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2011-11-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:45:00
</td>
<td align="right">
  141.47
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .90
</td>
<td>
Tue: 2011-11-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:50:00
</td>
<td align="right">
  141.27
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Tue: 2011-11-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 16:55:00
</td>
<td align="right">
  141.24
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .57
</td>
<td>
Tue: 2011-11-01 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:00:00
</td>
<td align="right">
  141.37
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2011-11-01 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:05:00
</td>
<td align="right">
  141.11
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .66
</td>
<td>
Tue: 2011-11-01 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:10:00
</td>
<td align="right">
  141.45
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2011-11-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:15:00
</td>
<td align="right">
  141.28
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2011-11-01 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:20:00
</td>
<td align="right">
  141.11
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2011-11-01 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:25:00
</td>
<td align="right">
  140.50
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .79
</td>
<td>
Tue: 2011-11-01 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:30:00
</td>
<td align="right">
  141.35
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2011-11-01 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:35:00
</td>
<td align="right">
  141.67
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.14
</td>
<td>
Tue: 2011-11-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:40:00
</td>
<td align="right">
  141.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.13
</td>
<td>
Tue: 2011-11-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:50:00
</td>
<td align="right">
  141.67
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-11-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 17:55:00
</td>
<td align="right">
  141.81
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2011-11-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:00:00
</td>
<td align="right">
  141.66
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Tue: 2011-11-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:05:00
</td>
<td align="right">
  141.77
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.19
</td>
<td>
Tue: 2011-11-01 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:10:00
</td>
<td align="right">
  141.60
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.02
</td>
<td>
Tue: 2011-11-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:15:00
</td>
<td align="right">
  141.62
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.32
</td>
<td>
Tue: 2011-11-01 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:20:00
</td>
<td align="right">
  141.35
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -1.39
</td>
<td>
Tue: 2011-11-01 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:25:00
</td>
<td align="right">
  141.29
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -1.36
</td>
<td>
Tue: 2011-11-01 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:30:00
</td>
<td align="right">
  141.43
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -1.42
</td>
<td>
Tue: 2011-11-01 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:35:00
</td>
<td align="right">
  140.53
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Tue: 2011-11-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:40:00
</td>
<td align="right">
  140.74
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.78
</td>
<td>
Tue: 2011-11-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:45:00
</td>
<td align="right">
  141.25
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -1.27
</td>
<td>
Tue: 2011-11-01 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:50:00
</td>
<td align="right">
  141.66
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.57
</td>
<td>
Tue: 2011-11-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 18:55:00
</td>
<td align="right">
  141.32
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -1.18
</td>
<td>
Tue: 2011-11-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 19:00:00
</td>
<td align="right">
  141.12
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 19:05:00
</td>
<td align="right">
  140.58
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-31 19:10:00
</td>
<td align="right">
  140.58
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 16:00:00
</td>
<td align="right">
   46.19
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2011-11-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
   46.12
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2011-11-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 16:20:00
</td>
<td align="right">
   46.15
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2011-11-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 16:25:00
</td>
<td align="right">
   46.07
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2011-11-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 16:30:00
</td>
<td align="right">
   46.13
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-11-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 17:10:00
</td>
<td align="right">
   46.52
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-11-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 17:40:00
</td>
<td align="right">
   46.63
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2011-11-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 17:45:00
</td>
<td align="right">
   46.68
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2011-11-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 17:50:00
</td>
<td align="right">
   46.68
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2011-11-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 17:55:00
</td>
<td align="right">
   46.64
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-11-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 18:00:00
</td>
<td align="right">
   46.55
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2011-11-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 19:05:00
</td>
<td align="right">
   46.16
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 19:10:00
</td>
<td align="right">
   46.05
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 19:20:00
</td>
<td align="right">
   45.98
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 19:25:00
</td>
<td align="right">
   45.94
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 19:40:00
</td>
<td align="right">
   45.92
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-31 19:50:00
</td>
<td align="right">
   45.95
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 18:40:00
</td>
<td align="right">
  105.20
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2011-11-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 18:45:00
</td>
<td align="right">
  105.25
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Tue: 2011-11-01 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:15:00
</td>
<td align="right">
  104.53
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:20:00
</td>
<td align="right">
  104.70
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:25:00
</td>
<td align="right">
  104.57
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:30:00
</td>
<td align="right">
  104.84
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:35:00
</td>
<td align="right">
  104.96
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:40:00
</td>
<td align="right">
  104.90
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:45:00
</td>
<td align="right">
  104.84
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:50:00
</td>
<td align="right">
  104.72
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-31 19:55:00
</td>
<td align="right">
  103.95
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-31 15:40:00
</td>
<td align="right">
   52.87
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.69
</td>
<td>
Tue: 2011-11-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-31 14:50:00
</td>
<td align="right">
  597.20
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    1.30
</td>
<td>
Tue: 2011-11-01 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-31 15:15:00
</td>
<td align="right">
  596.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .60
</td>
<td>
Tue: 2011-11-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-31 15:20:00
</td>
<td align="right">
  597.23
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.60
</td>
<td>
Tue: 2011-11-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-31 15:25:00
</td>
<td align="right">
  597.19
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -1.25
</td>
<td>
Tue: 2011-11-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-31 16:15:00
</td>
<td align="right">
  597.10
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .87
</td>
<td>
Tue: 2011-11-01 16:15
</td>
</tr>
</table>
<br /><hr />