<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ABT">ABT</a></td>
<td>
2011-07-22 17:55:00
</td>
<td align="right">
   52.91
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-07-25 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ABT">ABT</a></td>
<td>
2011-07-22 19:55:00
</td>
<td align="right">
   52.93
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-07-22 14:10:00
</td>
<td align="right">
   49.81
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2011-07-25 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-07-22 14:55:00
</td>
<td align="right">
   49.64
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-07-25 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-07-22 15:00:00
</td>
<td align="right">
   49.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-07-25 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-07-22 16:50:00
</td>
<td align="right">
   49.84
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 14:30:00
</td>
<td align="right">
   40.70
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-25 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 14:35:00
</td>
<td align="right">
   40.75
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 14:40:00
</td>
<td align="right">
   40.76
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-07-25 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 14:45:00
</td>
<td align="right">
   40.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-07-25 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 15:00:00
</td>
<td align="right">
   40.73
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-07-25 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 15:05:00
</td>
<td align="right">
   40.67
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-25 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 15:10:00
</td>
<td align="right">
   40.66
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-07-25 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 15:15:00
</td>
<td align="right">
   40.66
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-07-25 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 15:30:00
</td>
<td align="right">
   40.70
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-25 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 15:35:00
</td>
<td align="right">
   40.71
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-07-25 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 15:40:00
</td>
<td align="right">
   40.71
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-07-25 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 15:45:00
</td>
<td align="right">
   40.70
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-07-25 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 17:05:00
</td>
<td align="right">
   40.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 17:10:00
</td>
<td align="right">
   40.71
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 17:25:00
</td>
<td align="right">
   40.73
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 17:40:00
</td>
<td align="right">
   40.72
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-07-22 17:55:00
</td>
<td align="right">
   40.78
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 17:40:00
</td>
<td align="right">
   60.20
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-07-22 14:35:00
</td>
<td align="right">
  124.86
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2011-07-25 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-07-22 16:40:00
</td>
<td align="right">
  124.75
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-07-25 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 14:00:00
</td>
<td align="right">
  608.66
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-07-25 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 14:15:00
</td>
<td align="right">
  609.24
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Mon: 2011-07-25 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 14:20:00
</td>
<td align="right">
  609.67
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-07-25 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 14:40:00
</td>
<td align="right">
  609.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .65
</td>
<td>
Mon: 2011-07-25 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 14:45:00
</td>
<td align="right">
  609.40
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-07-25 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 14:55:00
</td>
<td align="right">
  609.05
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .81
</td>
<td>
Mon: 2011-07-25 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 16:15:00
</td>
<td align="right">
  611.90
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    5.90
</td>
<td>
Mon: 2011-07-25 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 16:20:00
</td>
<td align="right">
  611.65
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    5.98
</td>
<td>
Mon: 2011-07-25 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 16:25:00
</td>
<td align="right">
  612.25
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    5.44
</td>
<td>
Mon: 2011-07-25 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 16:35:00
</td>
<td align="right">
  614.17
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    4.38
</td>
<td>
Mon: 2011-07-25 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 16:45:00
</td>
<td align="right">
  614.79
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    3.74
</td>
<td>
Mon: 2011-07-25 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 16:50:00
</td>
<td align="right">
  616.02
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    2.59
</td>
<td>
Mon: 2011-07-25 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 16:55:00
</td>
<td align="right">
  618.68
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2011-07-25 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 17:00:00
</td>
<td align="right">
  617.16
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    1.10
</td>
<td>
Mon: 2011-07-25 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 18:40:00
</td>
<td align="right">
  616.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-07-25 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 18:45:00
</td>
<td align="right">
  617.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 18:50:00
</td>
<td align="right">
  616.92
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 18:55:00
</td>
<td align="right">
  616.93
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-07-22 19:30:00
</td>
<td align="right">
  617.01
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2011-07-22 16:50:00
</td>
<td align="right">
   62.88
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-07-25 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2011-07-22 19:00:00
</td>
<td align="right">
   62.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=T">T</a></td>
<td>
2011-07-22 19:00:00
</td>
<td align="right">
   30.29
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=T">T</a></td>
<td>
2011-07-22 19:10:00
</td>
<td align="right">
   30.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=T">T</a></td>
<td>
2011-07-22 19:15:00
</td>
<td align="right">
   30.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=T">T</a></td>
<td>
2011-07-22 19:50:00
</td>
<td align="right">
   30.34
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFC">WFC</a></td>
<td>
2011-07-22 17:25:00
</td>
<td align="right">
   29.24
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-07-25 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-07-22 17:35:00
</td>
<td align="right">
  126.72
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 14:05:00
</td>
<td align="right">
   59.85
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2011-07-25 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 14:10:00
</td>
<td align="right">
   59.94
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-07-25 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 14:20:00
</td>
<td align="right">
   59.76
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2011-07-25 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 14:35:00
</td>
<td align="right">
   60.01
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-07-25 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 15:00:00
</td>
<td align="right">
   60.12
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-25 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 16:35:00
</td>
<td align="right">
   60.12
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-07-25 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 17:10:00
</td>
<td align="right">
   60.19
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-07-25 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 17:30:00
</td>
<td align="right">
   60.21
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-07-22 18:00:00
</td>
<td align="right">
   60.20
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-07-25 18:00
</td>
</tr>
</table>
<br /><hr />