<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-27 19:45:00
</td>
<td align="right">
  136.97
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-27 14:15:00
</td>
<td align="right">
   33.21
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-10-28 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=C">C</a></td>
<td>
2011-10-27 15:15:00
</td>
<td align="right">
   33.39
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2011-10-28 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 14:50:00
</td>
<td align="right">
   46.14
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-10-28 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 14:55:00
</td>
<td align="right">
   46.16
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-10-28 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 15:20:00
</td>
<td align="right">
   46.11
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Fri: 2011-10-28 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 15:30:00
</td>
<td align="right">
   46.34
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2011-10-28 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 15:45:00
</td>
<td align="right">
   46.17
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Fri: 2011-10-28 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 15:55:00
</td>
<td align="right">
   46.25
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-10-28 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:05:00
</td>
<td align="right">
   46.37
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-10-28 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:10:00
</td>
<td align="right">
   46.43
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-10-28 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:15:00
</td>
<td align="right">
   46.49
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-10-28 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:25:00
</td>
<td align="right">
   46.39
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-10-28 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:30:00
</td>
<td align="right">
   46.57
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2011-10-28 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:40:00
</td>
<td align="right">
   46.46
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-10-28 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:45:00
</td>
<td align="right">
   46.48
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2011-10-28 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:50:00
</td>
<td align="right">
   46.28
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .55
</td>
<td>
Fri: 2011-10-28 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 16:55:00
</td>
<td align="right">
   46.28
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .60
</td>
<td>
Fri: 2011-10-28 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 17:05:00
</td>
<td align="right">
   46.49
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2011-10-28 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 17:10:00
</td>
<td align="right">
   46.59
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-10-28 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 17:15:00
</td>
<td align="right">
   46.63
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-10-28 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 17:25:00
</td>
<td align="right">
   46.50
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-10-28 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 17:30:00
</td>
<td align="right">
   46.40
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Fri: 2011-10-28 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 17:40:00
</td>
<td align="right">
   46.66
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2011-10-28 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 17:55:00
</td>
<td align="right">
   46.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-10-28 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 18:00:00
</td>
<td align="right">
   47.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-10-28 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 18:05:00
</td>
<td align="right">
   46.88
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-10-28 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 18:15:00
</td>
<td align="right">
   46.55
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .69
</td>
<td>
Fri: 2011-10-28 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 18:30:00
</td>
<td align="right">
   46.74
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2011-10-28 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 19:00:00
</td>
<td align="right">
   46.84
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 19:05:00
</td>
<td align="right">
   46.96
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 19:10:00
</td>
<td align="right">
   47.02
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 19:15:00
</td>
<td align="right">
   47.24
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 19:30:00
</td>
<td align="right">
   47.17
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 19:35:00
</td>
<td align="right">
   47.10
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-27 19:50:00
</td>
<td align="right">
   46.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-27 17:45:00
</td>
<td align="right">
  132.36
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    1.65
</td>
<td>
Fri: 2011-10-28 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-27 18:10:00
</td>
<td align="right">
  133.48
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .73
</td>
<td>
Fri: 2011-10-28 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 14:00:00
</td>
<td align="right">
  120.76
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2011-10-28 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 14:50:00
</td>
<td align="right">
  120.84
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2011-10-28 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 15:15:00
</td>
<td align="right">
  120.93
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Fri: 2011-10-28 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 15:20:00
</td>
<td align="right">
  120.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Fri: 2011-10-28 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 15:25:00
</td>
<td align="right">
  120.98
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2011-10-28 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 16:05:00
</td>
<td align="right">
  121.45
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-10-28 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 16:25:00
</td>
<td align="right">
  121.46
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2011-10-28 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 16:30:00
</td>
<td align="right">
  121.62
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-10-28 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 16:50:00
</td>
<td align="right">
  121.37
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Fri: 2011-10-28 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 18:35:00
</td>
<td align="right">
  122.08
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2011-10-28 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 18:45:00
</td>
<td align="right">
  121.90
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2011-10-28 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-10-27 18:50:00
</td>
<td align="right">
  121.86
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Fri: 2011-10-28 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 14:15:00
</td>
<td align="right">
   35.89
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-10-28 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 14:25:00
</td>
<td align="right">
   35.81
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-10-28 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 14:30:00
</td>
<td align="right">
   35.75
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-10-28 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 14:40:00
</td>
<td align="right">
   35.77
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-10-28 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 14:45:00
</td>
<td align="right">
   35.82
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-10-28 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 14:50:00
</td>
<td align="right">
   35.86
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-10-28 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 14:55:00
</td>
<td align="right">
   35.88
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-10-28 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 15:05:00
</td>
<td align="right">
   35.87
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2011-10-28 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 15:15:00
</td>
<td align="right">
   35.91
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Fri: 2011-10-28 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 15:20:00
</td>
<td align="right">
   35.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-10-28 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 15:25:00
</td>
<td align="right">
   35.92
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-10-28 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 15:55:00
</td>
<td align="right">
   36.04
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-10-28 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 16:10:00
</td>
<td align="right">
   36.16
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-10-28 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 16:15:00
</td>
<td align="right">
   36.18
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-10-28 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 16:20:00
</td>
<td align="right">
   36.14
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2011-10-28 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 16:25:00
</td>
<td align="right">
   36.14
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2011-10-28 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 16:30:00
</td>
<td align="right">
   36.16
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-10-28 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 17:00:00
</td>
<td align="right">
   36.22
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Fri: 2011-10-28 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 17:15:00
</td>
<td align="right">
   36.33
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2011-10-28 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 17:25:00
</td>
<td align="right">
   36.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-10-28 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 17:30:00
</td>
<td align="right">
   36.29
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2011-10-28 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 17:45:00
</td>
<td align="right">
   36.34
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-10-28 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 18:00:00
</td>
<td align="right">
   36.52
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Fri: 2011-10-28 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 19:10:00
</td>
<td align="right">
   36.41
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 19:20:00
</td>
<td align="right">
   36.56
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-27 19:50:00
</td>
<td align="right">
   36.15
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-27 14:15:00
</td>
<td align="right">
  103.57
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-10-28 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 14:15:00
</td>
<td align="right">
  598.99
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   -2.23
</td>
<td>
Fri: 2011-10-28 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 16:15:00
</td>
<td align="right">
  599.70
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Fri: 2011-10-28 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 17:05:00
</td>
<td align="right">
  598.92
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    1.98
</td>
<td>
Fri: 2011-10-28 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 18:55:00
</td>
<td align="right">
  599.83
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   -1.24
</td>
<td>
Fri: 2011-10-28 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 19:55:00
</td>
<td align="right">
  598.59
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2011-10-27 15:45:00
</td>
<td align="right">
  112.46
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    1.77
</td>
<td>
Fri: 2011-10-28 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2011-10-27 18:20:00
</td>
<td align="right">
   62.39
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2011-10-28 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2011-10-27 19:50:00
</td>
<td align="right">
   39.24
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 15:00:00
</td>
<td align="right">
   52.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Fri: 2011-10-28 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 15:10:00
</td>
<td align="right">
   52.82
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Fri: 2011-10-28 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 15:20:00
</td>
<td align="right">
   52.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Fri: 2011-10-28 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 16:20:00
</td>
<td align="right">
   53.24
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2011-10-28 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 16:45:00
</td>
<td align="right">
   53.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Fri: 2011-10-28 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 17:05:00
</td>
<td align="right">
   53.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Fri: 2011-10-28 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 17:10:00
</td>
<td align="right">
   53.53
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-10-28 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 17:15:00
</td>
<td align="right">
   53.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2011-10-28 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 17:20:00
</td>
<td align="right">
   53.59
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-10-28 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 17:45:00
</td>
<td align="right">
   53.70
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2011-10-28 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 18:10:00
</td>
<td align="right">
   53.75
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2011-10-28 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 18:15:00
</td>
<td align="right">
   53.65
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-10-28 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 18:20:00
</td>
<td align="right">
   53.61
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-10-28 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 18:30:00
</td>
<td align="right">
   53.59
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-10-28 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 18:40:00
</td>
<td align="right">
   53.58
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-10-28 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 18:45:00
</td>
<td align="right">
   53.51
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-10-28 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 19:05:00
</td>
<td align="right">
   53.76
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 19:40:00
</td>
<td align="right">
   53.61
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2011-10-27 19:50:00
</td>
<td align="right">
   53.27
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-10-27 17:50:00
</td>
<td align="right">
   85.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-10-28 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2011-10-27 14:30:00
</td>
<td align="right">
   48.91
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-10-28 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2011-10-27 14:40:00
</td>
<td align="right">
   49.10
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-10-28 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2011-10-27 14:45:00
</td>
<td align="right">
   49.24
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2011-10-28 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2011-10-27 14:50:00
</td>
<td align="right">
   49.16
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-10-28 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-27 19:20:00
</td>
<td align="right">
   52.32
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-27 19:25:00
</td>
<td align="right">
   52.14
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-27 19:30:00
</td>
<td align="right">
   52.18
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-27 19:35:00
</td>
<td align="right">
   52.18
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-27 19:45:00
</td>
<td align="right">
   51.90
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-27 19:50:00
</td>
<td align="right">
   51.71
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2011-10-27 19:55:00
</td>
<td align="right">
   52.06
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CRM">CRM</a></td>
<td>
2011-10-27 14:20:00
</td>
<td align="right">
  128.21
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2011-10-28 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-27 19:45:00
</td>
<td align="right">
  105.84
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-27 19:50:00
</td>
<td align="right">
  105.63
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-27 16:05:00
</td>
<td align="right">
   38.00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-10-28 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-27 16:15:00
</td>
<td align="right">
   38.05
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-10-28 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-27 16:20:00
</td>
<td align="right">
   37.96
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Fri: 2011-10-28 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-27 16:40:00
</td>
<td align="right">
   38.08
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2011-10-28 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FXI">FXI</a></td>
<td>
2011-10-27 17:15:00
</td>
<td align="right">
   38.25
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2011-10-28 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 14:40:00
</td>
<td align="right">
  595.54
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.65
</td>
<td>
Fri: 2011-10-28 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 14:45:00
</td>
<td align="right">
  596.36
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    1.37
</td>
<td>
Fri: 2011-10-28 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 15:20:00
</td>
<td align="right">
  595.40
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    3.31
</td>
<td>
Fri: 2011-10-28 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 15:25:00
</td>
<td align="right">
  595.42
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    2.87
</td>
<td>
Fri: 2011-10-28 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2011-10-27 19:45:00
</td>
<td align="right">
  598.10
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2011-10-27 17:30:00
</td>
<td align="right">
  186.40
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2011-10-28 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2011-10-27 19:00:00
</td>
<td align="right">
  186.24
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OIH">OIH</a></td>
<td>
2011-10-27 18:00:00
</td>
<td align="right">
  133.81
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.24
</td>
<td>
Fri: 2011-10-28 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OIH">OIH</a></td>
<td>
2011-10-27 18:05:00
</td>
<td align="right">
  133.34
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    1.68
</td>
<td>
Fri: 2011-10-28 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OIH">OIH</a></td>
<td>
2011-10-27 19:45:00
</td>
<td align="right">
  134.37
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 14:05:00
</td>
<td align="right">
   33.21
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2011-10-28 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 14:20:00
</td>
<td align="right">
   33.38
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2011-10-28 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 14:30:00
</td>
<td align="right">
   33.27
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Fri: 2011-10-28 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 14:35:00
</td>
<td align="right">
   33.31
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Fri: 2011-10-28 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 14:40:00
</td>
<td align="right">
   33.46
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Fri: 2011-10-28 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 14:45:00
</td>
<td align="right">
   33.41
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Fri: 2011-10-28 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 14:55:00
</td>
<td align="right">
   33.45
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Fri: 2011-10-28 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 15:05:00
</td>
<td align="right">
   33.41
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Fri: 2011-10-28 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 15:15:00
</td>
<td align="right">
   33.47
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .76
</td>
<td>
Fri: 2011-10-28 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 15:20:00
</td>
<td align="right">
   33.56
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .71
</td>
<td>
Fri: 2011-10-28 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 15:25:00
</td>
<td align="right">
   33.62
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Fri: 2011-10-28 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 15:30:00
</td>
<td align="right">
   33.88
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Fri: 2011-10-28 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 15:55:00
</td>
<td align="right">
   33.95
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2011-10-28 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 19:50:00
</td>
<td align="right">
   34.05
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-10-27 19:55:00
</td>
<td align="right">
   34.14
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-10-28 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2011-10-27 18:45:00
</td>
<td align="right">
   49.21
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-10-28 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WDC">WDC</a></td>
<td>
2011-10-27 16:55:00
</td>
<td align="right">
   27.52
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Fri: 2011-10-28 16:55
</td>
</tr>
</table>
<br /><hr />