<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-11-07 14:50:00
</td>
<td align="right">
  142.70
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -2.07
</td>
<td>
Tue: 2011-11-08 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-11-07 14:55:00
</td>
<td align="right">
  142.51
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.71
</td>
<td>
Tue: 2011-11-08 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-11-07 14:30:00
</td>
<td align="right">
  340.24
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-08 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-11-07 14:35:00
</td>
<td align="right">
  340.00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-08 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-11-07 14:40:00
</td>
<td align="right">
  339.04
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-08 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-11-07 14:45:00
</td>
<td align="right">
  340.12
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-08 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-11-07 14:50:00
</td>
<td align="right">
  339.91
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-08 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2011-11-07 15:25:00
</td>
<td align="right">
   74.01
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-08 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2011-11-07 14:55:00
</td>
<td align="right">
   92.70
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-11-08 14:55
</td>
</tr>
</table>
<br /><hr />