<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-11-10 14:35:00
</td>
<td align="right">
   44.93
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-11-11 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-10 14:30:00
</td>
<td align="right">
  118.98
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.97
</td>
<td>
Fri: 2011-11-11 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-10 14:45:00
</td>
<td align="right">
  118.88
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.97
</td>
<td>
Fri: 2011-11-11 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-10 15:00:00
</td>
<td align="right">
  118.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2011-11-11 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-10 15:35:00
</td>
<td align="right">
  118.22
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-10 15:45:00
</td>
<td align="right">
  117.91
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-10 15:50:00
</td>
<td align="right">
  118.11
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 14:35:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2011-11-11 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 14:40:00
</td>
<td align="right">
   34.26
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.61
</td>
<td>
Fri: 2011-11-11 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 15:00:00
</td>
<td align="right">
   34.01
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-11-11 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 15:05:00
</td>
<td align="right">
   34.13
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2011-11-11 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 15:15:00
</td>
<td align="right">
   33.96
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-11-11 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 15:20:00
</td>
<td align="right">
   33.88
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2011-11-11 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 15:45:00
</td>
<td align="right">
   33.67
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Fri: 2011-11-11 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 15:50:00
</td>
<td align="right">
   33.82
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 15:55:00
</td>
<td align="right">
   33.90
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 16:05:00
</td>
<td align="right">
   33.98
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 16:15:00
</td>
<td align="right">
   34.02
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 16:20:00
</td>
<td align="right">
   34.01
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 16:25:00
</td>
<td align="right">
   34.01
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 16:35:00
</td>
<td align="right">
   34.16
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 16:40:00
</td>
<td align="right">
   34.29
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-10 16:45:00
</td>
<td align="right">
   34.26
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2011-11-10 15:05:00
</td>
<td align="right">
   55.92
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2011-11-11 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2011-11-10 15:10:00
</td>
<td align="right">
   55.72
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2011-11-11 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-10 14:40:00
</td>
<td align="right">
   81.68
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-10 14:45:00
</td>
<td align="right">
   81.33
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-10 14:50:00
</td>
<td align="right">
   80.65
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-10 14:55:00
</td>
<td align="right">
   80.36
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-11 14:55
</td>
</tr>
</table>
<br /><hr />