<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMT">AMT</a></td>
<td>
2011-10-17 14:30:00
</td>
<td align="right">
   55.52
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-10-18 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMT">AMT</a></td>
<td>
2011-10-17 16:25:00
</td>
<td align="right">
   55.48
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2011-10-18 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMT">AMT</a></td>
<td>
2011-10-17 16:35:00
</td>
<td align="right">
   55.48
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2011-10-18 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMT">AMT</a></td>
<td>
2011-10-17 16:40:00
</td>
<td align="right">
   55.51
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Tue: 2011-10-18 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 14:45:00
</td>
<td align="right">
  137.11
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-10-18 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 14:50:00
</td>
<td align="right">
  136.90
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-10-18 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 14:55:00
</td>
<td align="right">
  136.65
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-10-18 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 15:05:00
</td>
<td align="right">
  136.87
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.80
</td>
<td>
Tue: 2011-10-18 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 15:15:00
</td>
<td align="right">
  136.83
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.91
</td>
<td>
Tue: 2011-10-18 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 15:45:00
</td>
<td align="right">
  137.15
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -2.07
</td>
<td>
Tue: 2011-10-18 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 15:50:00
</td>
<td align="right">
  137.00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.87
</td>
<td>
Tue: 2011-10-18 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 15:55:00
</td>
<td align="right">
  136.64
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   -1.17
</td>
<td>
Tue: 2011-10-18 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:00:00
</td>
<td align="right">
  136.15
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.09
</td>
<td>
Tue: 2011-10-18 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:05:00
</td>
<td align="right">
  136.07
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.99
</td>
<td>
Tue: 2011-10-18 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:10:00
</td>
<td align="right">
  135.53
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-10-18 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:15:00
</td>
<td align="right">
  135.92
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-10-18 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:25:00
</td>
<td align="right">
  136.17
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.62
</td>
<td>
Tue: 2011-10-18 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:30:00
</td>
<td align="right">
  135.53
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2011-10-18 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:35:00
</td>
<td align="right">
  135.24
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:40:00
</td>
<td align="right">
  135.30
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-10-18 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:45:00
</td>
<td align="right">
  135.08
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2011-10-18 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:50:00
</td>
<td align="right">
  135.13
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2011-10-18 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 16:55:00
</td>
<td align="right">
  135.47
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-10-18 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
  135.06
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .54
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:05:00
</td>
<td align="right">
  135.08
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2011-10-18 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:10:00
</td>
<td align="right">
  135.47
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2011-10-18 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:25:00
</td>
<td align="right">
  135.55
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.83
</td>
<td>
Tue: 2011-10-18 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:35:00
</td>
<td align="right">
  135.21
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.71
</td>
<td>
Tue: 2011-10-18 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:40:00
</td>
<td align="right">
  135.58
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Tue: 2011-10-18 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:45:00
</td>
<td align="right">
  135.55
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.97
</td>
<td>
Tue: 2011-10-18 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:50:00
</td>
<td align="right">
  135.60
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   -1.09
</td>
<td>
Tue: 2011-10-18 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 17:55:00
</td>
<td align="right">
  135.61
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.02
</td>
<td>
Tue: 2011-10-18 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 18:00:00
</td>
<td align="right">
  135.60
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.82
</td>
<td>
Tue: 2011-10-18 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 18:15:00
</td>
<td align="right">
  135.20
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-10-18 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 18:20:00
</td>
<td align="right">
  134.80
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .75
</td>
<td>
Tue: 2011-10-18 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 18:25:00
</td>
<td align="right">
  134.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .68
</td>
<td>
Tue: 2011-10-18 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 18:40:00
</td>
<td align="right">
  134.70
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.05
</td>
<td>
Tue: 2011-10-18 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 18:45:00
</td>
<td align="right">
  134.58
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .79
</td>
<td>
Tue: 2011-10-18 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 18:55:00
</td>
<td align="right">
  134.59
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.02
</td>
<td>
Tue: 2011-10-18 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 19:00:00
</td>
<td align="right">
  134.78
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2011-10-17 19:05:00
</td>
<td align="right">
  134.82
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 16:30:00
</td>
<td align="right">
  319.04
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Tue: 2011-10-18 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 16:35:00
</td>
<td align="right">
  318.55
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2011-10-18 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 16:40:00
</td>
<td align="right">
  318.50
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Tue: 2011-10-18 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 16:45:00
</td>
<td align="right">
  318.28
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -1.19
</td>
<td>
Tue: 2011-10-18 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 16:50:00
</td>
<td align="right">
  318.36
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Tue: 2011-10-18 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 16:55:00
</td>
<td align="right">
  318.81
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2011-10-18 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
  318.75
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:05:00
</td>
<td align="right">
  318.39
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2011-10-18 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:10:00
</td>
<td align="right">
  318.54
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-10-18 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:15:00
</td>
<td align="right">
  318.91
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Tue: 2011-10-18 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:20:00
</td>
<td align="right">
  320.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.06
</td>
<td>
Tue: 2011-10-18 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:25:00
</td>
<td align="right">
  319.03
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Tue: 2011-10-18 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:30:00
</td>
<td align="right">
  318.45
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2011-10-18 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:45:00
</td>
<td align="right">
  317.09
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .95
</td>
<td>
Tue: 2011-10-18 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 17:55:00
</td>
<td align="right">
  319.20
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-10-18 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 18:00:00
</td>
<td align="right">
  318.62
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    1.46
</td>
<td>
Tue: 2011-10-18 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 18:05:00
</td>
<td align="right">
  318.20
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.75
</td>
<td>
Tue: 2011-10-18 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 18:10:00
</td>
<td align="right">
  318.56
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    1.45
</td>
<td>
Tue: 2011-10-18 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 18:15:00
</td>
<td align="right">
  318.53
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    1.42
</td>
<td>
Tue: 2011-10-18 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 18:25:00
</td>
<td align="right">
  318.39
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    1.55
</td>
<td>
Tue: 2011-10-18 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 18:30:00
</td>
<td align="right">
  318.22
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .80
</td>
<td>
Tue: 2011-10-18 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 18:50:00
</td>
<td align="right">
  318.72
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2011-10-18 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 18:55:00
</td>
<td align="right">
  319.14
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-10-18 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:00:00
</td>
<td align="right">
  320.08
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:05:00
</td>
<td align="right">
  319.95
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:10:00
</td>
<td align="right">
  320.01
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:15:00
</td>
<td align="right">
  319.95
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:20:00
</td>
<td align="right">
  319.89
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:25:00
</td>
<td align="right">
  319.94
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:30:00
</td>
<td align="right">
  319.02
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:35:00
</td>
<td align="right">
  319.29
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:40:00
</td>
<td align="right">
  320.43
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:45:00
</td>
<td align="right">
  319.14
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:50:00
</td>
<td align="right">
  318.97
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2011-10-17 19:55:00
</td>
<td align="right">
  319.15
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 16:45:00
</td>
<td align="right">
   87.35
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-10-18 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 16:55:00
</td>
<td align="right">
   87.38
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-10-18 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
   87.26
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 17:30:00
</td>
<td align="right">
   87.41
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Tue: 2011-10-18 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 17:35:00
</td>
<td align="right">
   87.32
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Tue: 2011-10-18 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 17:40:00
</td>
<td align="right">
   87.38
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.71
</td>
<td>
Tue: 2011-10-18 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 17:50:00
</td>
<td align="right">
   87.43
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Tue: 2011-10-18 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 18:10:00
</td>
<td align="right">
   87.44
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2011-10-18 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 19:20:00
</td>
<td align="right">
   87.33
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-10-17 19:40:00
</td>
<td align="right">
   87.41
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 18:05:00
</td>
<td align="right">
   32.46
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-10-18 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 18:30:00
</td>
<td align="right">
   32.40
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-10-18 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 18:40:00
</td>
<td align="right">
   32.37
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-10-18 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 18:45:00
</td>
<td align="right">
   32.37
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-10-18 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 18:50:00
</td>
<td align="right">
   32.39
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-10-18 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 18:55:00
</td>
<td align="right">
   32.42
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-10-18 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 19:00:00
</td>
<td align="right">
   32.43
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 19:05:00
</td>
<td align="right">
   32.37
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 19:10:00
</td>
<td align="right">
   32.41
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 19:15:00
</td>
<td align="right">
   32.44
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2011-10-17 19:20:00
</td>
<td align="right">
   32.40
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2011-10-17 15:40:00
</td>
<td align="right">
  121.20
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2011-10-18 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2011-10-17 15:45:00
</td>
<td align="right">
  121.04
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Tue: 2011-10-18 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2011-10-17 15:50:00
</td>
<td align="right">
  121.08
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Tue: 2011-10-18 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 18:35:00
</td>
<td align="right">
   89.24
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Tue: 2011-10-18 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 18:50:00
</td>
<td align="right">
   89.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .73
</td>
<td>
Tue: 2011-10-18 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 18:55:00
</td>
<td align="right">
   89.27
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2011-10-18 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:00:00
</td>
<td align="right">
   89.68
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:05:00
</td>
<td align="right">
   89.48
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:10:00
</td>
<td align="right">
   89.75
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:15:00
</td>
<td align="right">
   89.82
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:20:00
</td>
<td align="right">
   89.51
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:25:00
</td>
<td align="right">
   89.79
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:30:00
</td>
<td align="right">
   89.53
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:35:00
</td>
<td align="right">
   89.60
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2011-10-17 19:55:00
</td>
<td align="right">
   89.65
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ACI">ACI</a></td>
<td>
2011-10-17 14:40:00
</td>
<td align="right">
   16.41
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-10-18 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ACI">ACI</a></td>
<td>
2011-10-17 14:45:00
</td>
<td align="right">
   16.41
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-10-18 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 14:20:00
</td>
<td align="right">
   73.57
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2011-10-18 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 14:35:00
</td>
<td align="right">
   73.47
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    1.03
</td>
<td>
Tue: 2011-10-18 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 14:55:00
</td>
<td align="right">
   73.52
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .96
</td>
<td>
Tue: 2011-10-18 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 15:00:00
</td>
<td align="right">
   73.68
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .71
</td>
<td>
Tue: 2011-10-18 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 15:05:00
</td>
<td align="right">
   73.80
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Tue: 2011-10-18 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 15:10:00
</td>
<td align="right">
   73.73
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2011-10-18 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 15:15:00
</td>
<td align="right">
   73.55
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .74
</td>
<td>
Tue: 2011-10-18 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 15:20:00
</td>
<td align="right">
   73.70
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .64
</td>
<td>
Tue: 2011-10-18 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 15:25:00
</td>
<td align="right">
   73.67
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .77
</td>
<td>
Tue: 2011-10-18 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 16:45:00
</td>
<td align="right">
   73.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2011-10-18 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 16:50:00
</td>
<td align="right">
   73.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2011-10-18 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 16:55:00
</td>
<td align="right">
   73.83
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2011-10-18 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
   73.74
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 14:45:00
</td>
<td align="right">
   74.99
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Tue: 2011-10-18 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
   74.85
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 17:05:00
</td>
<td align="right">
   74.84
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-10-18 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 18:15:00
</td>
<td align="right">
   74.64
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-10-18 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 19:00:00
</td>
<td align="right">
   74.69
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 19:05:00
</td>
<td align="right">
   74.67
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 19:20:00
</td>
<td align="right">
   74.75
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 19:25:00
</td>
<td align="right">
   74.72
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 19:30:00
</td>
<td align="right">
   74.64
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 19:45:00
</td>
<td align="right">
   74.71
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2011-10-17 19:55:00
</td>
<td align="right">
   74.56
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:05:00
</td>
<td align="right">
   40.54
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2011-10-18 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:10:00
</td>
<td align="right">
   40.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-10-18 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:15:00
</td>
<td align="right">
   40.56
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-10-18 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:20:00
</td>
<td align="right">
   40.53
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-10-18 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:25:00
</td>
<td align="right">
   40.53
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-10-18 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:30:00
</td>
<td align="right">
   40.50
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2011-10-18 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:35:00
</td>
<td align="right">
   40.39
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:40:00
</td>
<td align="right">
   40.48
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2011-10-18 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:45:00
</td>
<td align="right">
   40.27
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-10-18 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:50:00
</td>
<td align="right">
   40.35
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-10-18 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 16:55:00
</td>
<td align="right">
   40.40
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2011-10-18 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
   40.32
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:05:00
</td>
<td align="right">
   40.34
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-10-18 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:10:00
</td>
<td align="right">
   40.43
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-10-18 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:15:00
</td>
<td align="right">
   40.35
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-10-18 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:20:00
</td>
<td align="right">
   40.45
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-10-18 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:25:00
</td>
<td align="right">
   40.40
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-10-18 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:30:00
</td>
<td align="right">
   40.33
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-10-18 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:35:00
</td>
<td align="right">
   40.21
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-10-18 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:40:00
</td>
<td align="right">
   40.21
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-10-18 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:45:00
</td>
<td align="right">
   40.31
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2011-10-18 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:50:00
</td>
<td align="right">
   40.41
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-10-18 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 17:55:00
</td>
<td align="right">
   40.53
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-10-18 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:00:00
</td>
<td align="right">
   40.49
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2011-10-18 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:05:00
</td>
<td align="right">
   40.38
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2011-10-18 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:10:00
</td>
<td align="right">
   40.39
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2011-10-18 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:15:00
</td>
<td align="right">
   40.39
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-10-18 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:20:00
</td>
<td align="right">
   40.37
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-10-18 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:25:00
</td>
<td align="right">
   40.46
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:30:00
</td>
<td align="right">
   40.34
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2011-10-18 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:35:00
</td>
<td align="right">
   40.23
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-10-18 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:40:00
</td>
<td align="right">
   40.25
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2011-10-18 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:45:00
</td>
<td align="right">
   40.33
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2011-10-18 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-10-17 18:50:00
</td>
<td align="right">
   40.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 14:55:00
</td>
<td align="right">
   33.67
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-10-18 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:00:00
</td>
<td align="right">
   33.67
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:05:00
</td>
<td align="right">
   33.77
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2011-10-18 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:10:00
</td>
<td align="right">
   33.77
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:15:00
</td>
<td align="right">
   33.72
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-10-18 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:20:00
</td>
<td align="right">
   33.77
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-10-18 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:25:00
</td>
<td align="right">
   33.77
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-10-18 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:30:00
</td>
<td align="right">
   33.77
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:35:00
</td>
<td align="right">
   33.75
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-10-18 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:40:00
</td>
<td align="right">
   33.71
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-10-18 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:45:00
</td>
<td align="right">
   33.64
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-10-18 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 15:50:00
</td>
<td align="right">
   33.63
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 16:00:00
</td>
<td align="right">
   33.62
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 16:15:00
</td>
<td align="right">
   33.62
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-10-18 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 16:20:00
</td>
<td align="right">
   33.64
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 16:25:00
</td>
<td align="right">
   33.63
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-10-18 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-10-17 17:20:00
</td>
<td align="right">
   33.46
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-10-18 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 14:00:00
</td>
<td align="right">
   51.31
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-10-18 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 14:05:00
</td>
<td align="right">
   51.31
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 14:10:00
</td>
<td align="right">
   51.32
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-10-18 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 14:15:00
</td>
<td align="right">
   51.30
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-10-18 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:15:00
</td>
<td align="right">
   51.18
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-10-18 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:20:00
</td>
<td align="right">
   51.25
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-10-18 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:25:00
</td>
<td align="right">
   51.24
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:30:00
</td>
<td align="right">
   51.27
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-10-18 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:35:00
</td>
<td align="right">
   51.28
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2011-10-18 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:40:00
</td>
<td align="right">
   51.23
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:45:00
</td>
<td align="right">
   51.20
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-10-18 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:50:00
</td>
<td align="right">
   51.21
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-10-18 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 15:55:00
</td>
<td align="right">
   51.18
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-10-18 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:00:00
</td>
<td align="right">
   51.16
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-10-18 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:05:00
</td>
<td align="right">
   51.11
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-10-18 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:10:00
</td>
<td align="right">
   51.08
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-10-18 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:15:00
</td>
<td align="right">
   51.16
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-10-18 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:20:00
</td>
<td align="right">
   51.17
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-10-18 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:25:00
</td>
<td align="right">
   51.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:30:00
</td>
<td align="right">
   51.17
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:35:00
</td>
<td align="right">
   51.12
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-10-18 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:40:00
</td>
<td align="right">
   51.20
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2011-10-18 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:45:00
</td>
<td align="right">
   51.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-10-18 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:50:00
</td>
<td align="right">
   51.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2011-10-18 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 16:55:00
</td>
<td align="right">
   51.09
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
   51.06
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:05:00
</td>
<td align="right">
   51.09
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2011-10-18 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:10:00
</td>
<td align="right">
   51.12
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2011-10-18 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:15:00
</td>
<td align="right">
   51.14
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2011-10-18 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:20:00
</td>
<td align="right">
   51.18
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2011-10-18 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:25:00
</td>
<td align="right">
   51.14
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2011-10-18 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:30:00
</td>
<td align="right">
   51.12
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2011-10-18 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:35:00
</td>
<td align="right">
   51.01
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2011-10-18 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:40:00
</td>
<td align="right">
   51.05
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2011-10-18 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:50:00
</td>
<td align="right">
   51.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2011-10-18 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 17:55:00
</td>
<td align="right">
   51.06
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-10-18 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 18:00:00
</td>
<td align="right">
   51.03
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 18:25:00
</td>
<td align="right">
   50.92
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2011-10-18 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EFA">EFA</a></td>
<td>
2011-10-17 19:35:00
</td>
<td align="right">
   50.88
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:00:00
</td>
<td align="right">
   35.00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-10-18 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:05:00
</td>
<td align="right">
   35.11
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2011-10-18 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:10:00
</td>
<td align="right">
   35.00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2011-10-18 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:15:00
</td>
<td align="right">
   34.96
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2011-10-18 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:20:00
</td>
<td align="right">
   35.00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2011-10-18 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:25:00
</td>
<td align="right">
   35.00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2011-10-18 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:30:00
</td>
<td align="right">
   35.04
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Tue: 2011-10-18 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:35:00
</td>
<td align="right">
   35.05
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2011-10-18 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:40:00
</td>
<td align="right">
   35.04
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2011-10-18 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FCX">FCX</a></td>
<td>
2011-10-17 14:45:00
</td>
<td align="right">
   34.94
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2011-10-18 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2011-10-17 17:10:00
</td>
<td align="right">
   56.95
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2011-10-18 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2011-10-17 17:15:00
</td>
<td align="right">
   56.96
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2011-10-18 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2011-10-17 17:20:00
</td>
<td align="right">
   56.98
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Tue: 2011-10-18 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2011-10-17 17:30:00
</td>
<td align="right">
   56.92
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Tue: 2011-10-18 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2011-10-17 17:10:00
</td>
<td align="right">
   54.27
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2011-10-17 15:40:00
</td>
<td align="right">
   34.79
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2011-10-18 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PFE">PFE</a></td>
<td>
2011-10-17 15:05:00
</td>
<td align="right">
   18.84
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-10-18 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PFE">PFE</a></td>
<td>
2011-10-17 15:15:00
</td>
<td align="right">
   18.84
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2011-10-18 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PFE">PFE</a></td>
<td>
2011-10-17 19:20:00
</td>
<td align="right">
   18.78
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PFE">PFE</a></td>
<td>
2011-10-17 19:30:00
</td>
<td align="right">
   18.75
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PFE">PFE</a></td>
<td>
2011-10-17 19:45:00
</td>
<td align="right">
   18.73
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PFE">PFE</a></td>
<td>
2011-10-17 19:55:00
</td>
<td align="right">
   18.71
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 15:25:00
</td>
<td align="right">
  154.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Tue: 2011-10-18 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 15:30:00
</td>
<td align="right">
  154.71
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.72
</td>
<td>
Tue: 2011-10-18 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 15:35:00
</td>
<td align="right">
  154.90
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   -1.19
</td>
<td>
Tue: 2011-10-18 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 15:40:00
</td>
<td align="right">
  154.90
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -1.20
</td>
<td>
Tue: 2011-10-18 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 15:50:00
</td>
<td align="right">
  154.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.56
</td>
<td>
Tue: 2011-10-18 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 15:55:00
</td>
<td align="right">
  154.60
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   -1.04
</td>
<td>
Tue: 2011-10-18 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:05:00
</td>
<td align="right">
  153.94
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.61
</td>
<td>
Tue: 2011-10-18 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:10:00
</td>
<td align="right">
  153.66
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:15:00
</td>
<td align="right">
  153.77
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-10-18 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:20:00
</td>
<td align="right">
  154.08
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2011-10-18 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:25:00
</td>
<td align="right">
  154.12
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2011-10-18 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:30:00
</td>
<td align="right">
  153.99
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2011-10-18 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:35:00
</td>
<td align="right">
  153.71
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2011-10-18 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:40:00
</td>
<td align="right">
  153.70
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-10-18 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:45:00
</td>
<td align="right">
  153.76
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2011-10-18 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:50:00
</td>
<td align="right">
  153.73
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-10-18 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 16:55:00
</td>
<td align="right">
  153.56
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2011-10-18 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
  153.32
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 17:05:00
</td>
<td align="right">
  153.33
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-10-18 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 17:10:00
</td>
<td align="right">
  153.61
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2011-10-18 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PPLT">PPLT</a></td>
<td>
2011-10-17 17:15:00
</td>
<td align="right">
  153.67
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2011-10-18 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-10-17 15:50:00
</td>
<td align="right">
    8.19
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 14:00:00
</td>
<td align="right">
  114.72
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2011-10-18 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 14:05:00
</td>
<td align="right">
  114.85
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2011-10-18 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 14:10:00
</td>
<td align="right">
  114.91
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2011-10-18 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 15:20:00
</td>
<td align="right">
  114.82
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2011-10-18 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 15:25:00
</td>
<td align="right">
  114.84
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2011-10-18 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 15:30:00
</td>
<td align="right">
  114.72
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Tue: 2011-10-18 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 15:35:00
</td>
<td align="right">
  114.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Tue: 2011-10-18 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 15:40:00
</td>
<td align="right">
  114.76
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Tue: 2011-10-18 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 15:45:00
</td>
<td align="right">
  114.80
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .67
</td>
<td>
Tue: 2011-10-18 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 15:50:00
</td>
<td align="right">
  114.81
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .67
</td>
<td>
Tue: 2011-10-18 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 15:55:00
</td>
<td align="right">
  114.78
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .68
</td>
<td>
Tue: 2011-10-18 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2011-10-17 16:00:00
</td>
<td align="right">
  114.95
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Tue: 2011-10-18 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:00:00
</td>
<td align="right">
   23.85
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-10-18 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:05:00
</td>
<td align="right">
   23.89
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2011-10-18 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:10:00
</td>
<td align="right">
   23.80
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2011-10-18 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:15:00
</td>
<td align="right">
   23.80
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-10-18 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:20:00
</td>
<td align="right">
   23.81
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-10-18 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:25:00
</td>
<td align="right">
   23.75
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-10-18 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:30:00
</td>
<td align="right">
   23.75
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2011-10-18 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:35:00
</td>
<td align="right">
   23.74
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:40:00
</td>
<td align="right">
   23.67
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:45:00
</td>
<td align="right">
   23.68
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2011-10-18 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:50:00
</td>
<td align="right">
   23.75
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 14:55:00
</td>
<td align="right">
   23.82
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2011-10-18 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 15:00:00
</td>
<td align="right">
   23.74
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2011-10-18 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 15:05:00
</td>
<td align="right">
   23.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2011-10-18 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 15:10:00
</td>
<td align="right">
   23.70
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2011-10-18 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 15:15:00
</td>
<td align="right">
   23.68
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 15:45:00
</td>
<td align="right">
   23.60
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2011-10-18 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 15:50:00
</td>
<td align="right">
   23.57
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2011-10-18 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 15:55:00
</td>
<td align="right">
   23.53
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2011-10-18 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:00:00
</td>
<td align="right">
   23.51
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2011-10-18 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:05:00
</td>
<td align="right">
   23.47
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2011-10-18 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:10:00
</td>
<td align="right">
   23.43
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2011-10-18 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:15:00
</td>
<td align="right">
   23.50
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-10-18 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:20:00
</td>
<td align="right">
   23.47
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2011-10-18 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:30:00
</td>
<td align="right">
   23.42
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-10-18 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:35:00
</td>
<td align="right">
   23.47
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:45:00
</td>
<td align="right">
   23.45
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2011-10-18 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:50:00
</td>
<td align="right">
   23.45
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2011-10-18 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 16:55:00
</td>
<td align="right">
   23.48
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2011-10-18 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 17:00:00
</td>
<td align="right">
   23.45
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 17:30:00
</td>
<td align="right">
   23.48
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2011-10-18 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 17:35:00
</td>
<td align="right">
   23.44
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2011-10-18 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 17:40:00
</td>
<td align="right">
   23.44
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2011-10-18 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 17:45:00
</td>
<td align="right">
   23.46
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2011-10-18 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 17:50:00
</td>
<td align="right">
   23.44
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2011-10-18 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 18:00:00
</td>
<td align="right">
   23.42
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2011-10-18 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 18:05:00
</td>
<td align="right">
   23.34
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2011-10-18 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 18:10:00
</td>
<td align="right">
   23.37
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2011-10-18 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 18:15:00
</td>
<td align="right">
   23.36
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2011-10-18 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 19:10:00
</td>
<td align="right">
   23.34
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-10-17 19:15:00
</td>
<td align="right">
   23.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2011-10-18 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2011-10-17 14:50:00
</td>
<td align="right">
   55.57
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2011-10-18 14:50
</td>
</tr>
</table>
<br /><hr />