<table id="table_fx_past">
<tr>
<td><a href="/fx_past/fx_past_wk2011_01_30">Week: 2011-01-30 Through 2011-02-04</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_02_06">Week: 2011-02-06 Through 2011-02-11</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_02_13">Week: 2011-02-13 Through 2011-02-18</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_02_20">Week: 2011-02-20 Through 2011-02-25</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_02_27">Week: 2011-02-27 Through 2011-03-04</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_03_06">Week: 2011-03-06 Through 2011-03-11</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_03_13">Week: 2011-03-13 Through 2011-03-18</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_03_20">Week: 2011-03-20 Through 2011-03-25</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_03_27">Week: 2011-03-27 Through 2011-04-01</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_04_03">Week: 2011-04-03 Through 2011-04-08</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_04_10">Week: 2011-04-10 Through 2011-04-15</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_04_17">Week: 2011-04-17 Through 2011-04-22</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_04_24">Week: 2011-04-24 Through 2011-04-29</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_05_01">Week: 2011-05-01 Through 2011-05-06</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_05_08">Week: 2011-05-08 Through 2011-05-13</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_05_15">Week: 2011-05-15 Through 2011-05-20</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_05_22">Week: 2011-05-22 Through 2011-05-27</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_05_29">Week: 2011-05-29 Through 2011-06-03</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_06_05">Week: 2011-06-05 Through 2011-06-10</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_06_12">Week: 2011-06-12 Through 2011-06-17</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_06_19">Week: 2011-06-19 Through 2011-06-24</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_06_26">Week: 2011-06-26 Through 2011-07-01</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_07_03">Week: 2011-07-03 Through 2011-07-08</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_07_10">Week: 2011-07-10 Through 2011-07-15</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_07_17">Week: 2011-07-17 Through 2011-07-22</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_07_24">Week: 2011-07-24 Through 2011-07-29</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_07_31">Week: 2011-07-31 Through 2011-08-05</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_08_07">Week: 2011-08-07 Through 2011-08-12</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_08_14">Week: 2011-08-14 Through 2011-08-19</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_08_21">Week: 2011-08-21 Through 2011-08-26</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_08_28">Week: 2011-08-28 Through 2011-09-02</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_09_04">Week: 2011-09-04 Through 2011-09-09</a></td>
</tr>
<tr>
<td><a href="/fx_past/fx_past_wk2011_09_11">Week: 2011-09-11 Through 2011-09-15</a></td>
</tr>
</table>
