<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_09_04<h4>Week of: 2011_09_04 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -9.19
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0064
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .93
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0034
</td>
<td align="right">
    9
</td>
<td align="right">
   .0308
</td>
<td align="right">
  -.0028
</td>
<td align="right">
   .0063
</td>
<td align="right">
   .0037
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.04
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0436
</td>
<td align="right">
    7
</td>
<td align="right">
   .3051
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0786
</td>
<td align="right">
   .0420
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.46
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0241
</td>
<td align="right">
  -.0049
</td>
<td align="right">
   .0075
</td>
<td align="right">
   .0033
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.24
</td>
<td align="right">
   .0046
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   30
</td>
<td align="right">
  -.0532
</td>
<td align="right">
  -.0113
</td>
<td align="right">
   .0126
</td>
<td align="right">
   .0074
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.28
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   29
</td>
<td align="right">
  -.0508
</td>
<td align="right">
  -.0120
</td>
<td align="right">
   .0076
</td>
<td align="right">
   .0062
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.03
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0036
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0143
</td>
<td align="right">
  -.0087
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0035
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.69
</td>
<td align="right">
  -10.27
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0007
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  100
</td>
<td align="right">
   .1856
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .67
</td>
<td align="right">
     .80
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0014
</td>
<td align="right">
   37
</td>
<td align="right">
   .0519
</td>
<td align="right">
  -.0028
</td>
<td align="right">
   .0041
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .58
</td>
<td align="right">
     .74
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0358
</td>
<td align="right">
    3
</td>
<td align="right">
   .1073
</td>
<td align="right">
   .0055
</td>
<td align="right">
   .0911
</td>
<td align="right">
   .0480
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .57
</td>
<td align="right">
     .26
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
    2
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.08
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0004
</td>
<td align="right">
    5
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
     .39
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0004
</td>
<td align="right">
    6
</td>
<td align="right">
   .0025
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   53
</td>
<td align="right">
   .1641
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:40:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  81.5203
</td>
<td align="right">
  81.5347
</td>
<td align="right">
  81.3796
</td>
<td align="right">
   .0144
</td>
<td align="right">
  -.1551
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  81.4699
</td>
<td align="right">
  81.5845
</td>
<td align="right">
  81.4078
</td>
<td align="right">
   .1146
</td>
<td align="right">
  -.1767
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  81.4853
</td>
<td align="right">
  81.5931
</td>
<td align="right">
  81.4001
</td>
<td align="right">
   .1078
</td>
<td align="right">
  -.1929
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-05
17:55:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0548
</td>
<td align="right">
   1.0547
</td>
<td align="right">
   1.0518
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-06
01:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.0527
</td>
<td align="right">
   1.0526
</td>
<td align="right">
   1.0543
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-06
12:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.0526
</td>
<td align="right">
   1.0536
</td>
<td align="right">
   1.0512
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-06
23:40:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.0520
</td>
<td align="right">
   1.0534
</td>
<td align="right">
   1.0598
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0064
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0061
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-06
23:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.0518
</td>
<td align="right">
   1.0534
</td>
<td align="right">
   1.0595
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0061
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0058
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-06
23:50:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.0522
</td>
<td align="right">
   1.0527
</td>
<td align="right">
   1.0594
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0067
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0063
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-06
23:55:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.0526
</td>
<td align="right">
   1.0534
</td>
<td align="right">
   1.0597
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0063
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0060
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-07
00:00:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.0531
</td>
<td align="right">
   1.0543
</td>
<td align="right">
   1.0598
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0055
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0052
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-07
00:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0528
</td>
<td align="right">
   1.0540
</td>
<td align="right">
   1.0592
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0052
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
06:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.1076
</td>
<td align="right">
   1.1176
</td>
<td align="right">
   1.2038
</td>
<td align="right">
   .0100
</td>
<td align="right">
   .0863
</td>
<td align="right">
  .0090
</td>
<td align="right">
  .0779
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
06:35:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
   1.1067
</td>
<td align="right">
   1.1167
</td>
<td align="right">
   1.2036
</td>
<td align="right">
   .0099
</td>
<td align="right">
   .0870
</td>
<td align="right">
  .0090
</td>
<td align="right">
  .0786
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
06:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1107
</td>
<td align="right">
   1.1171
</td>
<td align="right">
   1.2031
</td>
<td align="right">
   .0063
</td>
<td align="right">
   .0860
</td>
<td align="right">
  .0057
</td>
<td align="right">
  .0774
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
06:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.1105
</td>
<td align="right">
   1.1194
</td>
<td align="right">
   1.2027
</td>
<td align="right">
   .0089
</td>
<td align="right">
   .0832
</td>
<td align="right">
  .0081
</td>
<td align="right">
  .0749
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
09:15:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.2019
</td>
<td align="right">
   1.2034
</td>
<td align="right">
   1.2011
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
09:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2011
</td>
<td align="right">
   1.2031
</td>
<td align="right">
   1.2015
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
10:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2034
</td>
<td align="right">
   1.2037
</td>
<td align="right">
   1.2032
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-05
16:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8738
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
05:05:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
    .8739
</td>
<td align="right">
    .8742
</td>
<td align="right">
    .8807
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0065
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0075
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
07:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .8751
</td>
<td align="right">
    .8790
</td>
<td align="right">
    .8765
</td>
<td align="right">
   .0039
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0044
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
08:20:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .8792
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8774
</td>
<td align="right">
   .0019
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0022
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
08:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .8795
</td>
<td align="right">
    .8813
</td>
<td align="right">
    .8769
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  .0020
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
08:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8786
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8775
</td>
<td align="right">
   .0025
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  .0029
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
08:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .8790
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8771
</td>
<td align="right">
   .0023
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0026
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
08:40:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .8794
</td>
<td align="right">
    .8802
</td>
<td align="right">
    .8771
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
08:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8792
</td>
<td align="right">
    .8799
</td>
<td align="right">
    .8774
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
09:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8793
</td>
<td align="right">
    .8799
</td>
<td align="right">
    .8770
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
09:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .8797
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8774
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
21:40:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .8781
</td>
<td align="right">
    .8780
</td>
<td align="right">
    .8790
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
21:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8780
</td>
<td align="right">
    .8779
</td>
<td align="right">
    .8789
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
21:50:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8780
</td>
<td align="right">
    .8781
</td>
<td align="right">
    .8786
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
21:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .8783
</td>
<td align="right">
    .8780
</td>
<td align="right">
    .8786
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
22:10:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .8782
</td>
<td align="right">
    .8778
</td>
<td align="right">
    .8786
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-05
23:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 108.2008
</td>
<td align="right">
 108.2302
</td>
<td align="right">
 107.8514
</td>
<td align="right">
   .0294
</td>
<td align="right">
  -.3788
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-05
23:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 108.2406
</td>
<td align="right">
 108.2706
</td>
<td align="right">
 108.0003
</td>
<td align="right">
   .0301
</td>
<td align="right">
  -.2704
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-05
23:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 108.1784
</td>
<td align="right">
 108.2633
</td>
<td align="right">
 108.0144
</td>
<td align="right">
   .0848
</td>
<td align="right">
  -.2489
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
02:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 108.0890
</td>
<td align="right">
 108.1178
</td>
<td align="right">
 109.2391
</td>
<td align="right">
   .0288
</td>
<td align="right">
  1.1213
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0104
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
05:20:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
 108.0128
</td>
<td align="right">
 108.0409
</td>
<td align="right">
 109.3973
</td>
<td align="right">
   .0282
</td>
<td align="right">
  1.3563
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0126
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
06:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 108.0365
</td>
<td align="right">
 108.1456
</td>
<td align="right">
 109.0785
</td>
<td align="right">
   .1091
</td>
<td align="right">
   .9329
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0086
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
06:15:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 108.0915
</td>
<td align="right">
 108.2674
</td>
<td align="right">
 108.9302
</td>
<td align="right">
   .1759
</td>
<td align="right">
   .6628
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0061
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
06:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 108.0409
</td>
<td align="right">
 108.2418
</td>
<td align="right">
 108.9248
</td>
<td align="right">
   .2009
</td>
<td align="right">
   .6830
</td>
<td align="right">
  .0019
</td>
<td align="right">
  .0063
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
06:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 107.9524
</td>
<td align="right">
 108.1667
</td>
<td align="right">
 109.0672
</td>
<td align="right">
   .2143
</td>
<td align="right">
   .9005
</td>
<td align="right">
  .0020
</td>
<td align="right">
  .0083
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
06:40:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 108.0615
</td>
<td align="right">
 108.1913
</td>
<td align="right">
 108.8719
</td>
<td align="right">
   .1298
</td>
<td align="right">
   .6806
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0063
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
06:45:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
 108.0682
</td>
<td align="right">
 108.2486
</td>
<td align="right">
 108.8058
</td>
<td align="right">
   .1804
</td>
<td align="right">
   .5572
</td>
<td align="right">
  .0017
</td>
<td align="right">
  .0052
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
06:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 108.1430
</td>
<td align="right">
 108.2447
</td>
<td align="right">
 108.8785
</td>
<td align="right">
   .1017
</td>
<td align="right">
   .6339
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0059
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
06:55:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 108.0956
</td>
<td align="right">
 108.3144
</td>
<td align="right">
 108.9540
</td>
<td align="right">
   .2188
</td>
<td align="right">
   .6396
</td>
<td align="right">
  .0020
</td>
<td align="right">
  .0059
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 108.0931
</td>
<td align="right">
 109.0544
</td>
<td align="right">
 108.9970
</td>
<td align="right">
   .9613
</td>
<td align="right">
  -.0574
</td>
<td align="right">
  .0089
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:05:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 108.1548
</td>
<td align="right">
 109.4297
</td>
<td align="right">
 108.9984
</td>
<td align="right">
  1.2748
</td>
<td align="right">
  -.4312
</td>
<td align="right">
  .0118
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 108.2674
</td>
<td align="right">
 109.3192
</td>
<td align="right">
 108.9055
</td>
<td align="right">
  1.0518
</td>
<td align="right">
  -.4137
</td>
<td align="right">
  .0097
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 108.2418
</td>
<td align="right">
 109.3675
</td>
<td align="right">
 108.8391
</td>
<td align="right">
  1.1257
</td>
<td align="right">
  -.5284
</td>
<td align="right">
  .0104
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 108.2130
</td>
<td align="right">
 109.2751
</td>
<td align="right">
 108.8581
</td>
<td align="right">
  1.0620
</td>
<td align="right">
  -.4170
</td>
<td align="right">
  .0098
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:35:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 108.1667
</td>
<td align="right">
 109.3458
</td>
<td align="right">
 108.9160
</td>
<td align="right">
  1.1792
</td>
<td align="right">
  -.4298
</td>
<td align="right">
  .0109
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:40:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
 108.1913
</td>
<td align="right">
 109.5773
</td>
<td align="right">
 108.8717
</td>
<td align="right">
  1.3860
</td>
<td align="right">
  -.7056
</td>
<td align="right">
  .0128
</td>
<td align="right">
 -.0065
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 108.2486
</td>
<td align="right">
 109.6938
</td>
<td align="right">
 108.7995
</td>
<td align="right">
  1.4453
</td>
<td align="right">
  -.8944
</td>
<td align="right">
  .0134
</td>
<td align="right">
 -.0083
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
07:50:00
</td>
<td align="right">
 -.89
</td>
<td align="right">
 108.2447
</td>
<td align="right">
 109.6701
</td>
<td align="right">
 108.9377
</td>
<td align="right">
  1.4254
</td>
<td align="right">
  -.7324
</td>
<td align="right">
  .0132
</td>
<td align="right">
 -.0068
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
08:00:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
 109.0544
</td>
<td align="right">
 109.7223
</td>
<td align="right">
 108.9776
</td>
<td align="right">
   .6679
</td>
<td align="right">
  -.7447
</td>
<td align="right">
  .0061
</td>
<td align="right">
 -.0068
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
08:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 109.3675
</td>
<td align="right">
 109.8439
</td>
<td align="right">
 108.7172
</td>
<td align="right">
   .4764
</td>
<td align="right">
 -1.1268
</td>
<td align="right">
  .0044
</td>
<td align="right">
 -.0103
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
08:25:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 109.2751
</td>
<td align="right">
 109.7252
</td>
<td align="right">
 108.5435
</td>
<td align="right">
   .4501
</td>
<td align="right">
 -1.1817
</td>
<td align="right">
  .0041
</td>
<td align="right">
 -.0108
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
08:30:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 109.2391
</td>
<td align="right">
 109.6972
</td>
<td align="right">
 108.4669
</td>
<td align="right">
   .4581
</td>
<td align="right">
 -1.2303
</td>
<td align="right">
  .0042
</td>
<td align="right">
 -.0113
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
08:40:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 109.5773
</td>
<td align="right">
 109.5833
</td>
<td align="right">
 108.3560
</td>
<td align="right">
   .0060
</td>
<td align="right">
 -1.2273
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0112
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
09:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 109.3598
</td>
<td align="right">
 109.4012
</td>
<td align="right">
 108.5025
</td>
<td align="right">
   .0414
</td>
<td align="right">
  -.8987
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0082
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
09:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 109.2907
</td>
<td align="right">
 109.4618
</td>
<td align="right">
 108.4674
</td>
<td align="right">
   .1711
</td>
<td align="right">
  -.9945
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0091
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-06
10:00:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 109.2714
</td>
<td align="right">
 109.5531
</td>
<td align="right">
 108.4386
</td>
<td align="right">
   .2817
</td>
<td align="right">
 -1.1144
</td>
<td align="right">
  .0026
</td>
<td align="right">
 -.0102
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-05
13:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4116
</td>
<td align="right">
   1.4093
</td>
<td align="right">
   .0041
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0029
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-05
14:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4109
</td>
<td align="right">
   1.4093
</td>
<td align="right">
   .0035
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0025
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-05
18:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.4092
</td>
<td align="right">
   1.4093
</td>
<td align="right">
   1.4073
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
02:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.4080
</td>
<td align="right">
   1.4079
</td>
<td align="right">
   1.4187
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0108
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0076
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
05:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.4059
</td>
<td align="right">
   1.4064
</td>
<td align="right">
   1.4132
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0069
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
06:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.4065
</td>
<td align="right">
   1.4092
</td>
<td align="right">
   1.4080
</td>
<td align="right">
   .0027
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0019
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
06:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.4076
</td>
<td align="right">
   1.4102
</td>
<td align="right">
   1.4039
</td>
<td align="right">
   .0026
</td>
<td align="right">
  -.0063
</td>
<td align="right">
  .0019
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
06:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.4091
</td>
<td align="right">
   1.4104
</td>
<td align="right">
   1.4050
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0054
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
07:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.4087
</td>
<td align="right">
   1.4225
</td>
<td align="right">
   1.4061
</td>
<td align="right">
   .0138
</td>
<td align="right">
  -.0164
</td>
<td align="right">
  .0098
</td>
<td align="right">
 -.0117
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
07:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.4102
</td>
<td align="right">
   1.4190
</td>
<td align="right">
   1.4034
</td>
<td align="right">
   .0087
</td>
<td align="right">
  -.0156
</td>
<td align="right">
  .0062
</td>
<td align="right">
 -.0110
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
07:55:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.4111
</td>
<td align="right">
   1.4187
</td>
<td align="right">
   1.4063
</td>
<td align="right">
   .0075
</td>
<td align="right">
  -.0123
</td>
<td align="right">
  .0053
</td>
<td align="right">
 -.0087
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
08:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.4186
</td>
<td align="right">
   1.4228
</td>
<td align="right">
   1.4058
</td>
<td align="right">
   .0041
</td>
<td align="right">
  -.0169
</td>
<td align="right">
  .0029
</td>
<td align="right">
 -.0119
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
08:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.4190
</td>
<td align="right">
   1.4223
</td>
<td align="right">
   1.4053
</td>
<td align="right">
   .0033
</td>
<td align="right">
  -.0170
</td>
<td align="right">
  .0023
</td>
<td align="right">
 -.0120
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
08:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.4170
</td>
<td align="right">
   1.4174
</td>
<td align="right">
   1.4037
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0138
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0097
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
08:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.4180
</td>
<td align="right">
   1.4177
</td>
<td align="right">
   1.4044
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0133
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0093
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
09:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.4182
</td>
<td align="right">
   1.4180
</td>
<td align="right">
   1.4022
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0159
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0112
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
22:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.4003
</td>
<td align="right">
   1.4006
</td>
<td align="right">
   1.4049
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0043
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:05:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.4004
</td>
<td align="right">
   1.4017
</td>
<td align="right">
   1.4051
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:10:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
   1.4008
</td>
<td align="right">
   1.4023
</td>
<td align="right">
   1.4057
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:15:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
   1.4002
</td>
<td align="right">
   1.4018
</td>
<td align="right">
   1.4065
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:20:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.4006
</td>
<td align="right">
   1.4020
</td>
<td align="right">
   1.4062
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:25:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
   1.4006
</td>
<td align="right">
   1.4022
</td>
<td align="right">
   1.4055
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0033
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:30:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.4004
</td>
<td align="right">
   1.4019
</td>
<td align="right">
   1.4056
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:35:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.4007
</td>
<td align="right">
   1.4017
</td>
<td align="right">
   1.4060
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0043
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:40:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.4006
</td>
<td align="right">
   1.4019
</td>
<td align="right">
   1.4062
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0043
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:45:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.4004
</td>
<td align="right">
   1.4019
</td>
<td align="right">
   1.4061
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
23:50:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.4006
</td>
<td align="right">
   1.4017
</td>
<td align="right">
   1.4061
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0045
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-07
00:00:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.4022
</td>
<td align="right">
   1.4027
</td>
<td align="right">
   1.4061
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-07
00:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.4017
</td>
<td align="right">
   1.4026
</td>
<td align="right">
   1.4050
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:20:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6125
</td>
<td align="right">
   1.6138
</td>
<td align="right">
   1.6110
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6124
</td>
<td align="right">
   1.6139
</td>
<td align="right">
   1.6106
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.6123
</td>
<td align="right">
   1.6131
</td>
<td align="right">
   1.6104
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-06
08:15:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.6146
</td>
<td align="right">
   1.6154
</td>
<td align="right">
   1.6012
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0141
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0087
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-09-06
17:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9892
</td>
<td align="right">
    .9899
</td>
<td align="right">
    .9892
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-09-06
17:55:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9895
</td>
<td align="right">
    .9901
</td>
<td align="right">
    .9893
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0008
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-06
18:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0512
</td>
<td align="right">
   1.0506
</td>
<td align="right">
   1.0543
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0037
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-05
06:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3370
</td>
<td align="right">
   1.3360
</td>
<td align="right">
   1.3371
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-05
16:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3363
</td>
<td align="right">
   1.3349
</td>
<td align="right">
   1.3366
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
00:40:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3381
</td>
<td align="right">
   1.3366
</td>
<td align="right">
   1.3372
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
01:00:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3369
</td>
<td align="right">
   1.3372
</td>
<td align="right">
   1.3362
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
02:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3372
</td>
<td align="right">
   1.3374
</td>
<td align="right">
   1.3402
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0028
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
03:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3376
</td>
<td align="right">
   1.3361
</td>
<td align="right">
   1.3407
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0046
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
04:15:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3387
</td>
<td align="right">
   1.3372
</td>
<td align="right">
   1.3389
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
05:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3375
</td>
<td align="right">
   1.3368
</td>
<td align="right">
   1.3399
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
05:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3374
</td>
<td align="right">
   1.3370
</td>
<td align="right">
   1.3403
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0033
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
06:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3368
</td>
<td align="right">
   1.3362
</td>
<td align="right">
   1.3375
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
12:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3356
</td>
<td align="right">
   1.3342
</td>
<td align="right">
   1.3308
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
12:15:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3355
</td>
<td align="right">
   1.3345
</td>
<td align="right">
   1.3308
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0037
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
12:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3338
</td>
<td align="right">
   1.3333
</td>
<td align="right">
   1.3314
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
12:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3346
</td>
<td align="right">
   1.3349
</td>
<td align="right">
   1.3335
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
14:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3348
</td>
<td align="right">
   1.3318
</td>
<td align="right">
   1.3320
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0022
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
14:25:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3344
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3337
</td>
<td align="right">
  -.0038
</td>
<td align="right">
   .0030
</td>
<td align="right">
 -.0028
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3330
</td>
<td align="right">
   1.3323
</td>
<td align="right">
   1.3340
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:10:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3319
</td>
<td align="right">
   1.3318
</td>
<td align="right">
   1.3334
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:15:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.3321
</td>
<td align="right">
   1.3308
</td>
<td align="right">
   1.3336
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3318
</td>
<td align="right">
   1.3304
</td>
<td align="right">
   1.3338
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0034
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:25:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3338
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0032
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3304
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3341
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0035
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:35:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3316
</td>
<td align="right">
   1.3304
</td>
<td align="right">
   1.3345
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0041
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3316
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3347
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0041
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:50:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.3311
</td>
<td align="right">
   1.3305
</td>
<td align="right">
   1.3348
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
15:55:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3321
</td>
<td align="right">
   1.3309
</td>
<td align="right">
   1.3350
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0041
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
16:00:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3323
</td>
<td align="right">
   1.3302
</td>
<td align="right">
   1.3350
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0048
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
16:05:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.3323
</td>
<td align="right">
   1.3300
</td>
<td align="right">
   1.3354
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0054
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
16:15:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3308
</td>
<td align="right">
   1.3302
</td>
<td align="right">
   1.3354
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0052
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
16:20:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3304
</td>
<td align="right">
   1.3308
</td>
<td align="right">
   1.3351
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0043
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
16:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3310
</td>
<td align="right">
   1.3344
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0035
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
17:20:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3308
</td>
<td align="right">
   1.3311
</td>
<td align="right">
   1.3315
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
17:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3310
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3313
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
17:30:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3312
</td>
<td align="right">
   1.3314
</td>
<td align="right">
   1.3314
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
17:35:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3318
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3311
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
17:45:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.3318
</td>
<td align="right">
   1.3314
</td>
<td align="right">
   1.3315
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
18:50:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3327
</td>
<td align="right">
   1.3314
</td>
<td align="right">
   1.3308
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
00:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.1048
</td>
<td align="right">
   1.1047
</td>
<td align="right">
   1.1107
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0060
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0055
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
01:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.1045
</td>
<td align="right">
   1.1049
</td>
<td align="right">
   1.1167
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0118
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0107
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
04:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.1037
</td>
<td align="right">
   1.1025
</td>
<td align="right">
   1.2031
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .1006
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0911
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
14:45:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8774
</td>
<td align="right">
    .8777
</td>
<td align="right">
    .8775
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-06
16:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8773
</td>
<td align="right">
    .8775
</td>
<td align="right">
    .8777
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
14:50:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.4044
</td>
<td align="right">
   1.3996
</td>
<td align="right">
   1.3997
</td>
<td align="right">
  -.0048
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0034
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
14:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.4039
</td>
<td align="right">
   1.3998
</td>
<td align="right">
   1.3998
</td>
<td align="right">
  -.0040
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0029
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
15:15:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3987
</td>
<td align="right">
   1.3987
</td>
<td align="right">
   1.3999
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
15:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3997
</td>
<td align="right">
   1.3991
</td>
<td align="right">
   1.4000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-06
15:35:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.4014
</td>
<td align="right">
   1.3989
</td>
<td align="right">
   1.3999
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-06
04:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.6088
</td>
<td align="right">
   1.6077
</td>
<td align="right">
   1.6117
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0040
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-06
14:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.6016
</td>
<td align="right">
   1.5949
</td>
<td align="right">
   1.5947
</td>
<td align="right">
  -.0067
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0042
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-06
15:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.5968
</td>
<td align="right">
   1.5941
</td>
<td align="right">
   1.5935
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0017
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-06
15:10:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5939
</td>
<td align="right">
   1.5934
</td>
<td align="right">
   1.5940
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-06
15:15:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.5953
</td>
<td align="right">
   1.5933
</td>
<td align="right">
   1.5941
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-06
15:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.5952
</td>
<td align="right">
   1.5946
</td>
<td align="right">
   1.5941
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0003
</td>
</tr>
</table>
<br /><hr />
