<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_09_11<h4>Week of: 2011_09_11 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.37
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0050
</td>
<td align="right">
    2
</td>
<td align="right">
   .0099
</td>
<td align="right">
   .0024
</td>
<td align="right">
   .0075
</td>
<td align="right">
   .0036
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    2
</td>
<td align="right">
   .0099
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .83
</td>
<td align="right">
  190.64
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0048
</td>
<td align="right">
    2
</td>
<td align="right">
   .0097
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0049
</td>
<td align="right">
   .0000
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.71
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    6
</td>
<td align="right">
   .0084
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-12
00:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.3079
</td>
<td align="right">
   1.3076
</td>
<td align="right">
   1.3107
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-12
01:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3074
</td>
<td align="right">
   1.3072
</td>
<td align="right">
   1.3171
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0098
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0075
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-09-12
00:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  77.5300
</td>
<td align="right">
  77.5350
</td>
<td align="right">
  77.1225
</td>
<td align="right">
   .0050
</td>
<td align="right">
  -.4125
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0053
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-11
21:45:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.3032
</td>
<td align="right">
   1.3025
</td>
<td align="right">
   1.3088
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0063
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-11
21:50:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.3024
</td>
<td align="right">
   1.3027
</td>
<td align="right">
   1.3090
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0063
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-11
21:15:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2060
</td>
<td align="right">
   1.2060
</td>
<td align="right">
   1.2057
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-11
21:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2063
</td>
<td align="right">
   1.2063
</td>
<td align="right">
   1.2055
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-11
23:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2076
</td>
<td align="right">
   1.2065
</td>
<td align="right">
   1.2057
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-12
00:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2060
</td>
<td align="right">
   1.2059
</td>
<td align="right">
   1.2063
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-09-11
21:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  77.5175
</td>
<td align="right">
  77.4925
</td>
<td align="right">
  77.5100
</td>
<td align="right">
  -.0250
</td>
<td align="right">
   .0175
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
</table>
<br /><hr />
