<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_06_12<h4>Week of: 2011_06_12</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .62
</td>
<td align="right">
   15.57
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0048
</td>
<td align="right">
    5
</td>
<td align="right">
   .0241
</td>
<td align="right">
   .0045
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .66
</td>
<td align="right">
    3.92
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
    2
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    7
</td>
<td align="right">
   .0250
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-06-12
22:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2080
</td>
<td align="right">
   1.2073
</td>
<td align="right">
   1.2135
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0062
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0051
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-06-12
22:20:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2086
</td>
<td align="right">
   1.2072
</td>
<td align="right">
   1.2135
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0063
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0052
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-06-12
22:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2087
</td>
<td align="right">
   1.2074
</td>
<td align="right">
   1.2131
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0057
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0047
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-06-12
22:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2088
</td>
<td align="right">
   1.2074
</td>
<td align="right">
   1.2129
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0055
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-06-12
22:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2077
</td>
<td align="right">
   1.2073
</td>
<td align="right">
   1.2128
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0055
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-06-12
22:35:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .8835
</td>
<td align="right">
    .8835
</td>
<td align="right">
    .8838
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-06-12
22:50:00
</td>
<td align="right">
  .76
</td>
<td align="right">
    .8836
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8838
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0006
</td>
</tr>
</table>
