<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_07_31<h4>Week of: 2011_07_31</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.07
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0021
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0019
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-31
23:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7906
</td>
<td align="right">
    .7923
</td>
<td align="right">
    .7929
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0022
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-31
23:10:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .7913
</td>
<td align="right">
    .7925
</td>
<td align="right">
    .7936
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-31
23:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .7918
</td>
<td align="right">
    .7926
</td>
<td align="right">
    .7943
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-31
23:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .7919
</td>
<td align="right">
    .7926
</td>
<td align="right">
    .7940
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-31
23:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .7919
</td>
<td align="right">
    .7927
</td>
<td align="right">
    .7937
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-31
23:30:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .7919
</td>
<td align="right">
    .7936
</td>
<td align="right">
    .7935
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:00:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .7923
</td>
<td align="right">
    .7944
</td>
<td align="right">
    .7935
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0026
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:05:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .7922
</td>
<td align="right">
    .7933
</td>
<td align="right">
    .7942
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:10:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
    .7925
</td>
<td align="right">
    .7935
</td>
<td align="right">
    .7940
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:15:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
    .7926
</td>
<td align="right">
    .7937
</td>
<td align="right">
    .7941
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:20:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
    .7926
</td>
<td align="right">
    .7935
</td>
<td align="right">
    .7943
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:25:00
</td>
<td align="right">
 -.88
</td>
<td align="right">
    .7927
</td>
<td align="right">
    .7933
</td>
<td align="right">
    .7940
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:30:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
    .7936
</td>
<td align="right">
    .7935
</td>
<td align="right">
    .7933
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:35:00
</td>
<td align="right">
 -.89
</td>
<td align="right">
    .7934
</td>
<td align="right">
    .7931
</td>
<td align="right">
    .7929
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:40:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
    .7929
</td>
<td align="right">
    .7932
</td>
<td align="right">
    .7928
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
00:50:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
    .7938
</td>
<td align="right">
    .7934
</td>
<td align="right">
    .7929
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
01:05:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .7933
</td>
<td align="right">
    .7939
</td>
<td align="right">
    .7926
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
01:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .7935
</td>
<td align="right">
    .7934
</td>
<td align="right">
    .7922
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
01:20:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .7935
</td>
<td align="right">
    .7932
</td>
<td align="right">
    .7918
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
01:25:00
</td>
<td align="right">
 -.88
</td>
<td align="right">
    .7933
</td>
<td align="right">
    .7932
</td>
<td align="right">
    .7923
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
01:30:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .7935
</td>
<td align="right">
    .7933
</td>
<td align="right">
    .7919
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
01:35:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .7931
</td>
<td align="right">
    .7930
</td>
<td align="right">
    .7920
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
01:40:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
    .7932
</td>
<td align="right">
    .7929
</td>
<td align="right">
    .7917
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-08-01
01:45:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
    .7930
</td>
<td align="right">
    .7929
</td>
<td align="right">
    .7931
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
</table>
<br /><hr />
