<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_09_04<h4>Week of: 2011_09_04 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -9.19
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0064
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.19
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0028
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -4.36
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0028
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0083
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -5.58
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0014
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -8.58
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   14
</td>
<td align="right">
  -.0255
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .62
</td>
<td align="right">
     .52
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0004
</td>
<td align="right">
    4
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    4
</td>
<td align="right">
   .0018
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:40:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  81.5203
</td>
<td align="right">
  81.5347
</td>
<td align="right">
  81.3796
</td>
<td align="right">
   .0144
</td>
<td align="right">
  -.1551
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  81.4699
</td>
<td align="right">
  81.5845
</td>
<td align="right">
  81.4078
</td>
<td align="right">
   .1146
</td>
<td align="right">
  -.1767
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  81.4853
</td>
<td align="right">
  81.5931
</td>
<td align="right">
  81.4001
</td>
<td align="right">
   .1078
</td>
<td align="right">
  -.1929
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-05
17:55:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0548
</td>
<td align="right">
   1.0547
</td>
<td align="right">
   1.0518
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-06
01:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.0527
</td>
<td align="right">
   1.0526
</td>
<td align="right">
   1.0543
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-05
16:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8738
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-05
23:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 108.2008
</td>
<td align="right">
 108.2302
</td>
<td align="right">
 107.8514
</td>
<td align="right">
   .0294
</td>
<td align="right">
  -.3788
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-05
23:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 108.2406
</td>
<td align="right">
 108.2706
</td>
<td align="right">
 108.0003
</td>
<td align="right">
   .0301
</td>
<td align="right">
  -.2704
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-05
23:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 108.1784
</td>
<td align="right">
 108.2633
</td>
<td align="right">
 108.0122
</td>
<td align="right">
   .0848
</td>
<td align="right">
  -.2510
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-05
13:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4116
</td>
<td align="right">
   1.4093
</td>
<td align="right">
   .0041
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0029
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-05
14:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4109
</td>
<td align="right">
   1.4093
</td>
<td align="right">
   .0035
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0025
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-05
18:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.4092
</td>
<td align="right">
   1.4093
</td>
<td align="right">
   1.4072
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:20:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6125
</td>
<td align="right">
   1.6138
</td>
<td align="right">
   1.6110
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6124
</td>
<td align="right">
   1.6139
</td>
<td align="right">
   1.6106
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.6123
</td>
<td align="right">
   1.6131
</td>
<td align="right">
   1.6104
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0017
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-05
06:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3370
</td>
<td align="right">
   1.3360
</td>
<td align="right">
   1.3371
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-05
16:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3363
</td>
<td align="right">
   1.3349
</td>
<td align="right">
   1.3366
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
00:40:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3381
</td>
<td align="right">
   1.3366
</td>
<td align="right">
   1.3372
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-06
01:00:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3369
</td>
<td align="right">
   1.3372
</td>
<td align="right">
   1.3362
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-09-06
00:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.1048
</td>
<td align="right">
   1.1047
</td>
<td align="right">
   1.1107
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0060
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0055
</td>
</tr>
</table>
<br /><hr />
