<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_07_17<h4>Week of: 2011_07_17</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.84
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0022
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0108
</td>
<td align="right">
  -.0047
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0026
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0108
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .64
</td>
<td align="right">
    6.97
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
    2
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.52
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0030
</td>
<td align="right">
   10
</td>
<td align="right">
   .0295
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0055
</td>
<td align="right">
   .0019
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   12
</td>
<td align="right">
   .0306
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-07-17
21:20:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0646
</td>
<td align="right">
   1.0609
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0037
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-07-17
21:25:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0650
</td>
<td align="right">
   1.0608
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-07-17
21:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.0637
</td>
<td align="right">
   1.0652
</td>
<td align="right">
   1.0602
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-07-18
04:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0605
</td>
<td align="right">
   1.0608
</td>
<td align="right">
   1.0615
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-07-18
06:05:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0597
</td>
<td align="right">
   1.0610
</td>
<td align="right">
   1.0616
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0006
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-17
21:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3265
</td>
<td align="right">
   1.3264
</td>
<td align="right">
   1.3271
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-17
21:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3272
</td>
<td align="right">
   1.3271
</td>
<td align="right">
   1.3278
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-17
21:15:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8096
</td>
<td align="right">
    .8099
</td>
<td align="right">
    .8137
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-17
22:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8105
</td>
<td align="right">
    .8107
</td>
<td align="right">
    .8125
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-17
22:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8107
</td>
<td align="right">
    .8107
</td>
<td align="right">
    .8117
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-17
22:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .8110
</td>
<td align="right">
    .8106
</td>
<td align="right">
    .8119
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-17
22:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8109
</td>
<td align="right">
    .8108
</td>
<td align="right">
    .8117
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-17
22:55:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8110
</td>
<td align="right">
    .8106
</td>
<td align="right">
    .8119
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-18
00:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8117
</td>
<td align="right">
    .8119
</td>
<td align="right">
    .8128
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-18
03:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8135
</td>
<td align="right">
    .8125
</td>
<td align="right">
    .8170
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0045
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0055
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-18
03:10:00
</td>
<td align="right">
  .82
</td>
<td align="right">
    .8136
</td>
<td align="right">
    .8124
</td>
<td align="right">
    .8169
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0045
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0055
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-07-18
03:15:00
</td>
<td align="right">
  .83
</td>
<td align="right">
    .8137
</td>
<td align="right">
    .8126
</td>
<td align="right">
    .8168
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0041
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0051
</td>
</tr>
</table>
<br /><hr />
