<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_08_28<h4>Week of: 2011_08_28 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -8.56
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0040
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0080
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  -.0037
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.69
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0019
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  -.0038
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.60
</td>
<td align="right">
   12.42
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0033
</td>
<td align="right">
    4
</td>
<td align="right">
   .0130
</td>
<td align="right">
   .0030
</td>
<td align="right">
   .0036
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.93
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0030
</td>
<td align="right">
    4
</td>
<td align="right">
   .0121
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0038
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   12
</td>
<td align="right">
   .0134
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.14
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0040
</td>
<td align="right">
   .0023
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .62
</td>
<td align="right">
     .97
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
    5
</td>
<td align="right">
   .0072
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .65
</td>
<td align="right">
     .91
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
   35
</td>
<td align="right">
   .0277
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
     .62
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0017
</td>
<td align="right">
    6
</td>
<td align="right">
   .0099
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
     .61
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
   31
</td>
<td align="right">
   .0260
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0040
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   83
</td>
<td align="right">
   .0688
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-08-30
01:05:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  82.0074
</td>
<td align="right">
  82.0716
</td>
<td align="right">
  81.7692
</td>
<td align="right">
   .0643
</td>
<td align="right">
  -.3024
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-08-30
02:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.0598
</td>
<td align="right">
  82.0628
</td>
<td align="right">
  81.7057
</td>
<td align="right">
   .0030
</td>
<td align="right">
  -.3571
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-29
14:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3617
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
06:15:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.4540
</td>
<td align="right">
   1.4543
</td>
<td align="right">
   1.4489
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
09:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.4503
</td>
<td align="right">
   1.4513
</td>
<td align="right">
   1.4513
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-08-30
01:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9762
</td>
<td align="right">
    .9761
</td>
<td align="right">
    .9793
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-08-30
02:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9762
</td>
<td align="right">
    .9761
</td>
<td align="right">
    .9796
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0036
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-08-30
02:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9761
</td>
<td align="right">
    .9761
</td>
<td align="right">
    .9792
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-08-30
02:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9761
</td>
<td align="right">
    .9761
</td>
<td align="right">
    .9790
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0030
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-29
07:15:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  76.6225
</td>
<td align="right">
  76.6500
</td>
<td align="right">
  76.7650
</td>
<td align="right">
   .0275
</td>
<td align="right">
   .1150
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-29
08:30:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  76.6100
</td>
<td align="right">
  76.6350
</td>
<td align="right">
  76.9225
</td>
<td align="right">
   .0250
</td>
<td align="right">
   .2875
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-29
08:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  76.5925
</td>
<td align="right">
  76.6300
</td>
<td align="right">
  76.8850
</td>
<td align="right">
   .0375
</td>
<td align="right">
   .2550
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-29
08:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  76.6025
</td>
<td align="right">
  76.6125
</td>
<td align="right">
  76.8850
</td>
<td align="right">
   .0100
</td>
<td align="right">
   .2725
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0036
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-29
15:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0620
</td>
<td align="right">
   1.0620
</td>
<td align="right">
   1.0662
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0043
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-29
23:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0678
</td>
<td align="right">
   1.0667
</td>
<td align="right">
   1.0664
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-29
23:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0677
</td>
<td align="right">
   1.0673
</td>
<td align="right">
   1.0666
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-29
23:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0675
</td>
<td align="right">
   1.0674
</td>
<td align="right">
   1.0667
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-30
00:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.0683
</td>
<td align="right">
   1.0664
</td>
<td align="right">
   1.0648
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0018
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-30
02:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0677
</td>
<td align="right">
   1.0668
</td>
<td align="right">
   1.0637
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0031
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-29
03:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3638
</td>
<td align="right">
   1.3637
</td>
<td align="right">
   1.3671
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-29
03:05:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3639
</td>
<td align="right">
   1.3637
</td>
<td align="right">
   1.3666
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-29
03:15:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.3638
</td>
<td align="right">
   1.3636
</td>
<td align="right">
   1.3668
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0032
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-29
03:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3641
</td>
<td align="right">
   1.3645
</td>
<td align="right">
   1.3662
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-29
19:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3641
</td>
<td align="right">
   1.3620
</td>
<td align="right">
   1.3605
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0016
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
00:25:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .8856
</td>
<td align="right">
    .8856
</td>
<td align="right">
    .8874
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
00:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8856
</td>
<td align="right">
    .8854
</td>
<td align="right">
    .8873
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
00:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8856
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8874
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0023
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
00:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8855
</td>
<td align="right">
    .8853
</td>
<td align="right">
    .8873
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
01:00:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8868
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
01:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8854
</td>
<td align="right">
    .8846
</td>
<td align="right">
    .8865
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
01:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8854
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8860
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
01:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8856
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
01:55:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8852
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8862
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:05:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8860
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:10:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8859
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .8846
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8859
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:25:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8847
</td>
<td align="right">
    .8859
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:30:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8859
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:35:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8859
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:45:00
</td>
<td align="right">
  .80
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8852
</td>
<td align="right">
    .8856
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8860
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
02:55:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8852
</td>
<td align="right">
    .8860
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
03:05:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8857
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
03:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8852
</td>
<td align="right">
    .8855
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
03:15:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8852
</td>
<td align="right">
    .8855
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
03:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8854
</td>
<td align="right">
    .8855
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
03:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8854
</td>
<td align="right">
    .8857
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
03:50:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8853
</td>
<td align="right">
    .8855
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
06:25:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8874
</td>
<td align="right">
    .8858
</td>
<td align="right">
    .8843
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  -.0015
</td>
<td align="right">
 -.0019
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
09:50:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8855
</td>
<td align="right">
    .8850
</td>
<td align="right">
    .8850
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
09:55:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8849
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
10:00:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8854
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8851
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
10:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8846
</td>
<td align="right">
    .8851
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
11:05:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8849
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
11:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8845
</td>
<td align="right">
    .8847
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
11:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8844
</td>
<td align="right">
    .8844
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
12:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8845
</td>
<td align="right">
    .8843
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
22:35:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .8847
</td>
<td align="right">
    .8849
</td>
<td align="right">
    .8852
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-29
22:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8848
</td>
<td align="right">
    .8852
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-29
10:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 111.1707
</td>
<td align="right">
 111.1283
</td>
<td align="right">
 111.6598
</td>
<td align="right">
  -.0424
</td>
<td align="right">
   .5316
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-29
11:05:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 111.2292
</td>
<td align="right">
 111.1016
</td>
<td align="right">
 111.6348
</td>
<td align="right">
  -.1276
</td>
<td align="right">
   .5332
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-29
14:25:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 111.8725
</td>
<td align="right">
 111.7342
</td>
<td align="right">
 111.5042
</td>
<td align="right">
  -.1383
</td>
<td align="right">
  -.2299
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-29
18:10:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 111.5913
</td>
<td align="right">
 111.5334
</td>
<td align="right">
 111.6498
</td>
<td align="right">
  -.0578
</td>
<td align="right">
   .1164
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-29
18:15:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 111.5661
</td>
<td align="right">
 111.5275
</td>
<td align="right">
 111.6120
</td>
<td align="right">
  -.0386
</td>
<td align="right">
   .0846
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-29
18:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 111.5588
</td>
<td align="right">
 111.5401
</td>
<td align="right">
 111.6088
</td>
<td align="right">
  -.0188
</td>
<td align="right">
   .0688
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-28
23:45:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4478
</td>
<td align="right">
   1.4536
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0058
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
01:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.4487
</td>
<td align="right">
   1.4484
</td>
<td align="right">
   1.4527
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
01:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4484
</td>
<td align="right">
   1.4526
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
01:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.4481
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4528
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0046
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
13:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.4531
</td>
<td align="right">
   1.4531
</td>
<td align="right">
   1.4507
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
13:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.4538
</td>
<td align="right">
   1.4536
</td>
<td align="right">
   1.4515
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
15:30:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.4512
</td>
<td align="right">
   1.4502
</td>
<td align="right">
   1.4516
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
16:25:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.4502
</td>
<td align="right">
   1.4497
</td>
<td align="right">
   1.4526
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
16:30:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.4502
</td>
<td align="right">
   1.4496
</td>
<td align="right">
   1.4522
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
16:35:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.4507
</td>
<td align="right">
   1.4497
</td>
<td align="right">
   1.4524
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
16:40:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.4513
</td>
<td align="right">
   1.4495
</td>
<td align="right">
   1.4524
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
16:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.4509
</td>
<td align="right">
   1.4495
</td>
<td align="right">
   1.4520
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
16:50:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.4505
</td>
<td align="right">
   1.4495
</td>
<td align="right">
   1.4520
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
17:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.4503
</td>
<td align="right">
   1.4507
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
18:10:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.4507
</td>
<td align="right">
   1.4507
</td>
<td align="right">
   1.4525
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
18:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.4507
</td>
<td align="right">
   1.4506
</td>
<td align="right">
   1.4521
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
18:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.4507
</td>
<td align="right">
   1.4510
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
22:05:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4516
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
22:10:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
22:15:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4517
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
22:20:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.4524
</td>
<td align="right">
   1.4517
</td>
<td align="right">
   1.4516
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
22:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.4525
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4516
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
23:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4517
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
23:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
23:35:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.4520
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
23:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4532
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
23:45:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4516
</td>
<td align="right">
   1.4529
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-29
23:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.4516
</td>
<td align="right">
   1.4514
</td>
<td align="right">
   1.4527
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-30
00:10:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4513
</td>
<td align="right">
   1.4505
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-30
00:20:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.4523
</td>
<td align="right">
   1.4513
</td>
<td align="right">
   1.4504
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-30
00:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   1.4512
</td>
<td align="right">
   1.4496
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0011
</td>
</tr>
</table>
<br /><hr />
