<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_09_25<h4>Week of: 2011_09_25 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.72
</td>
<td align="right">
  -19.17
</td>
<td align="right">
   .0036
</td>
<td align="right">
  -.0024
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0049
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0049
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.68
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .0122
</td>
<td align="right">
   10
</td>
<td align="right">
   .1215
</td>
<td align="right">
   .0027
</td>
<td align="right">
   .0200
</td>
<td align="right">
   .0072
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .71
</td>
<td align="right">
    7.33
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0102
</td>
<td align="right">
   14
</td>
<td align="right">
   .1434
</td>
<td align="right">
   .0073
</td>
<td align="right">
   .0124
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .76
</td>
<td align="right">
    3.09
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0089
</td>
<td align="right">
   15
</td>
<td align="right">
   .1331
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .0123
</td>
<td align="right">
   .0029
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   39
</td>
<td align="right">
   .3980
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-25
23:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9826
</td>
<td align="right">
    .9831
</td>
<td align="right">
    .9712
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0119
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0121
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
04:15:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.3773
</td>
<td align="right">
   1.3828
</td>
<td align="right">
   1.3795
</td>
<td align="right">
   .0055
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0040
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
04:20:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
   1.3782
</td>
<td align="right">
   1.3827
</td>
<td align="right">
   1.3792
</td>
<td align="right">
   .0046
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0033
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-26
04:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3406
</td>
<td align="right">
   1.3406
</td>
<td align="right">
   1.3454
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0048
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0036
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
03:50:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9743
</td>
<td align="right">
    .9717
</td>
<td align="right">
    .9743
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0027
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
03:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9732
</td>
<td align="right">
    .9719
</td>
<td align="right">
    .9750
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
04:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9734
</td>
<td align="right">
    .9712
</td>
<td align="right">
    .9752
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0040
</td>
<td align="right">
 -.0023
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
04:05:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9736
</td>
<td align="right">
    .9699
</td>
<td align="right">
    .9760
</td>
<td align="right">
  -.0038
</td>
<td align="right">
   .0061
</td>
<td align="right">
 -.0039
</td>
<td align="right">
  .0063
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
05:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9690
</td>
<td align="right">
    .9645
</td>
<td align="right">
    .9823
</td>
<td align="right">
  -.0045
</td>
<td align="right">
   .0179
</td>
<td align="right">
 -.0046
</td>
<td align="right">
  .0184
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
05:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9681
</td>
<td align="right">
    .9633
</td>
<td align="right">
    .9816
</td>
<td align="right">
  -.0047
</td>
<td align="right">
   .0183
</td>
<td align="right">
 -.0049
</td>
<td align="right">
  .0189
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
05:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9685
</td>
<td align="right">
    .9623
</td>
<td align="right">
    .9817
</td>
<td align="right">
  -.0062
</td>
<td align="right">
   .0194
</td>
<td align="right">
 -.0064
</td>
<td align="right">
  .0200
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
05:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9683
</td>
<td align="right">
    .9630
</td>
<td align="right">
    .9805
</td>
<td align="right">
  -.0053
</td>
<td align="right">
   .0176
</td>
<td align="right">
 -.0055
</td>
<td align="right">
  .0181
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
05:50:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9681
</td>
<td align="right">
    .9648
</td>
<td align="right">
    .9804
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   .0157
</td>
<td align="right">
 -.0034
</td>
<td align="right">
  .0162
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-26
05:55:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9669
</td>
<td align="right">
    .9657
</td>
<td align="right">
    .9789
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0132
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0137
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
00:30:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3763
</td>
<td align="right">
   1.3735
</td>
<td align="right">
   1.3892
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0157
</td>
<td align="right">
 -.0021
</td>
<td align="right">
  .0114
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
00:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3762
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3892
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0156
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0113
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
00:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3757
</td>
<td align="right">
   1.3727
</td>
<td align="right">
   1.3898
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0171
</td>
<td align="right">
 -.0021
</td>
<td align="right">
  .0124
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
00:50:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3747
</td>
<td align="right">
   1.3738
</td>
<td align="right">
   1.3886
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0148
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0108
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
00:55:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3744
</td>
<td align="right">
   1.3728
</td>
<td align="right">
   1.3879
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0150
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0109
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
01:00:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3733
</td>
<td align="right">
   1.3883
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0150
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0109
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
01:05:00
</td>
<td align="right">
  .81
</td>
<td align="right">
   1.3738
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3884
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0148
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0108
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
01:10:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.3744
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3877
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0140
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0102
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
01:15:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3729
</td>
<td align="right">
   1.3875
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   .0146
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0106
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
01:20:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3723
</td>
<td align="right">
   1.3868
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   .0145
</td>
<td align="right">
 -.0019
</td>
<td align="right">
  .0106
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
01:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3728
</td>
<td align="right">
   1.3727
</td>
<td align="right">
   1.3847
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0120
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0088
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
01:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3727
</td>
<td align="right">
   1.3730
</td>
<td align="right">
   1.3861
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0131
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0095
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
02:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3739
</td>
<td align="right">
   1.3847
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0109
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0079
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-26
02:10:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3739
</td>
<td align="right">
   1.3840
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0101
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0073
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
04:15:00
</td>
<td align="right">
  .82
</td>
<td align="right">
 102.4151
</td>
<td align="right">
 102.3280
</td>
<td align="right">
 102.7662
</td>
<td align="right">
  -.0871
</td>
<td align="right">
   .4382
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
04:20:00
</td>
<td align="right">
  .84
</td>
<td align="right">
 102.4057
</td>
<td align="right">
 102.3604
</td>
<td align="right">
 102.7148
</td>
<td align="right">
  -.0452
</td>
<td align="right">
   .3544
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
04:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 102.4171
</td>
<td align="right">
 102.3762
</td>
<td align="right">
 102.7641
</td>
<td align="right">
  -.0409
</td>
<td align="right">
   .3879
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
04:50:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 102.4419
</td>
<td align="right">
 102.2720
</td>
<td align="right">
 102.9634
</td>
<td align="right">
  -.1699
</td>
<td align="right">
   .6914
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0067
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:00:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 102.2712
</td>
<td align="right">
 102.0461
</td>
<td align="right">
 103.1183
</td>
<td align="right">
  -.2252
</td>
<td align="right">
  1.0722
</td>
<td align="right">
 -.0022
</td>
<td align="right">
  .0105
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
 102.2602
</td>
<td align="right">
 102.0446
</td>
<td align="right">
 103.2177
</td>
<td align="right">
  -.2156
</td>
<td align="right">
  1.1731
</td>
<td align="right">
 -.0021
</td>
<td align="right">
  .0115
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 102.2627
</td>
<td align="right">
 102.1328
</td>
<td align="right">
 103.2199
</td>
<td align="right">
  -.1298
</td>
<td align="right">
  1.0871
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0106
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:15:00
</td>
<td align="right">
  .82
</td>
<td align="right">
 102.3280
</td>
<td align="right">
 102.0760
</td>
<td align="right">
 103.1740
</td>
<td align="right">
  -.2520
</td>
<td align="right">
  1.0979
</td>
<td align="right">
 -.0025
</td>
<td align="right">
  .0107
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:20:00
</td>
<td align="right">
  .86
</td>
<td align="right">
 102.3604
</td>
<td align="right">
 102.1572
</td>
<td align="right">
 103.1657
</td>
<td align="right">
  -.2033
</td>
<td align="right">
  1.0085
</td>
<td align="right">
 -.0020
</td>
<td align="right">
  .0099
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:25:00
</td>
<td align="right">
  .87
</td>
<td align="right">
 102.3762
</td>
<td align="right">
 102.1714
</td>
<td align="right">
 103.2000
</td>
<td align="right">
  -.2048
</td>
<td align="right">
  1.0286
</td>
<td align="right">
 -.0020
</td>
<td align="right">
  .0100
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:30:00
</td>
<td align="right">
  .85
</td>
<td align="right">
 102.2710
</td>
<td align="right">
 102.2315
</td>
<td align="right">
 103.2404
</td>
<td align="right">
  -.0395
</td>
<td align="right">
  1.0088
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0099
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:35:00
</td>
<td align="right">
  .86
</td>
<td align="right">
 102.2633
</td>
<td align="right">
 102.1276
</td>
<td align="right">
 103.1732
</td>
<td align="right">
  -.1357
</td>
<td align="right">
  1.0456
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0102
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:40:00
</td>
<td align="right">
  .87
</td>
<td align="right">
 102.3153
</td>
<td align="right">
 101.9511
</td>
<td align="right">
 103.2049
</td>
<td align="right">
  -.3643
</td>
<td align="right">
  1.2539
</td>
<td align="right">
 -.0036
</td>
<td align="right">
  .0123
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:45:00
</td>
<td align="right">
  .71
</td>
<td align="right">
 102.2810
</td>
<td align="right">
 102.1113
</td>
<td align="right">
 103.1700
</td>
<td align="right">
  -.1696
</td>
<td align="right">
  1.0586
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0104
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-26
05:50:00
</td>
<td align="right">
  .71
</td>
<td align="right">
 102.2720
</td>
<td align="right">
 102.2021
</td>
<td align="right">
 103.1113
</td>
<td align="right">
  -.0699
</td>
<td align="right">
   .9092
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0089
</td>
</tr>
</table>
<br /><hr />
