<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_07_24<h4>Week of: 2011_07_24</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.39
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0030
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.21
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.34
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0005
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.25
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0185
</td>
<td align="right">
  -.0041
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.43
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0529
</td>
<td align="right">
  -.0052
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   40
</td>
<td align="right">
  -.0777
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .65
</td>
<td align="right">
     .62
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0009
</td>
<td align="right">
    4
</td>
<td align="right">
   .0036
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0024
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .68
</td>
<td align="right">
   -4.44
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0078
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .68
</td>
<td align="right">
    4.03
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
   12
</td>
<td align="right">
   .0212
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.29
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .68
</td>
<td align="right">
     .18
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
    2
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   27
</td>
<td align="right">
   .0170
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.3271
</td>
<td align="right">
   1.3270
</td>
<td align="right">
   1.3282
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-25
07:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3280
</td>
<td align="right">
   1.3284
</td>
<td align="right">
   1.3240
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
02:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8824
</td>
<td align="right">
    .8824
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
10:50:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .8827
</td>
<td align="right">
    .8825
</td>
<td align="right">
    .8824
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
11:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8820
</td>
<td align="right">
    .8825
</td>
<td align="right">
    .8822
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
11:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8824
</td>
<td align="right">
    .8824
</td>
<td align="right">
    .8823
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
11:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8821
</td>
<td align="right">
    .8824
</td>
<td align="right">
    .8822
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-24
22:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 112.7372
</td>
<td align="right">
 112.7480
</td>
<td align="right">
 112.7278
</td>
<td align="right">
   .0107
</td>
<td align="right">
  -.0202
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-24
22:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 112.6659
</td>
<td align="right">
 112.7402
</td>
<td align="right">
 112.8487
</td>
<td align="right">
   .0743
</td>
<td align="right">
   .1085
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-24
22:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 112.7228
</td>
<td align="right">
 112.7418
</td>
<td align="right">
 112.8294
</td>
<td align="right">
   .0190
</td>
<td align="right">
   .0876
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-25
05:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 112.5953
</td>
<td align="right">
 112.7039
</td>
<td align="right">
 112.4107
</td>
<td align="right">
   .1086
</td>
<td align="right">
  -.2932
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-25
05:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 112.6148
</td>
<td align="right">
 112.6482
</td>
<td align="right">
 112.4083
</td>
<td align="right">
   .0334
</td>
<td align="right">
  -.2399
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-25
16:10:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 112.4443
</td>
<td align="right">
 112.6000
</td>
<td align="right">
 112.6091
</td>
<td align="right">
   .1557
</td>
<td align="right">
   .0091
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-24
22:15:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.4373
</td>
<td align="right">
   1.4375
</td>
<td align="right">
   1.4381
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-24
23:30:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.4372
</td>
<td align="right">
   1.4376
</td>
<td align="right">
   1.4365
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-24
23:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.4371
</td>
<td align="right">
   1.4380
</td>
<td align="right">
   1.4371
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-24
23:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.4372
</td>
<td align="right">
   1.4382
</td>
<td align="right">
   1.4372
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-25
00:55:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.4383
</td>
<td align="right">
   1.4399
</td>
<td align="right">
   1.4360
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-25
01:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.4396
</td>
<td align="right">
   1.4398
</td>
<td align="right">
   1.4349
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0049
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-25
01:05:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.4394
</td>
<td align="right">
   1.4397
</td>
<td align="right">
   1.4356
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-25
01:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.4395
</td>
<td align="right">
   1.4397
</td>
<td align="right">
   1.4342
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0054
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-25
01:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.4394
</td>
<td align="right">
   1.4397
</td>
<td align="right">
   1.4338
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
03:30:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
  78.3875
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.1763
</td>
<td align="right">
   .0075
</td>
<td align="right">
  -.2188
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
03:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  78.3850
</td>
<td align="right">
  78.4225
</td>
<td align="right">
  78.1675
</td>
<td align="right">
   .0375
</td>
<td align="right">
  -.2550
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
03:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  78.3888
</td>
<td align="right">
  78.4925
</td>
<td align="right">
  78.1488
</td>
<td align="right">
   .1038
</td>
<td align="right">
  -.3438
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
03:45:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.4900
</td>
<td align="right">
  78.0825
</td>
<td align="right">
   .0950
</td>
<td align="right">
  -.4075
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0052
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
03:55:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.4800
</td>
<td align="right">
  78.0700
</td>
<td align="right">
   .0850
</td>
<td align="right">
  -.4100
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0052
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
04:00:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
  78.3900
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  78.0650
</td>
<td align="right">
   .0850
</td>
<td align="right">
  -.4100
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0052
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
04:05:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  78.3825
</td>
<td align="right">
  78.4650
</td>
<td align="right">
  78.0875
</td>
<td align="right">
   .0825
</td>
<td align="right">
  -.3775
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
04:10:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  78.3800
</td>
<td align="right">
  78.4588
</td>
<td align="right">
  78.0975
</td>
<td align="right">
   .0788
</td>
<td align="right">
  -.3613
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
04:20:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  78.3850
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  78.1325
</td>
<td align="right">
   .0900
</td>
<td align="right">
  -.3425
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
04:25:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
  78.3875
</td>
<td align="right">
  78.4713
</td>
<td align="right">
  78.1300
</td>
<td align="right">
   .0838
</td>
<td align="right">
  -.3413
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
04:30:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.5025
</td>
<td align="right">
  78.1300
</td>
<td align="right">
   .1075
</td>
<td align="right">
  -.3725
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
14:40:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  78.2275
</td>
<td align="right">
  78.3300
</td>
<td align="right">
  78.3263
</td>
<td align="right">
   .1025
</td>
<td align="right">
  -.0038
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
14:45:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  78.2175
</td>
<td align="right">
  78.3125
</td>
<td align="right">
  78.3025
</td>
<td align="right">
   .0950
</td>
<td align="right">
  -.0100
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
15:05:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  78.3375
</td>
<td align="right">
  78.3375
</td>
<td align="right">
  78.2988
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0388
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
15:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  78.3450
</td>
<td align="right">
  78.3625
</td>
<td align="right">
  78.3025
</td>
<td align="right">
   .0175
</td>
<td align="right">
  -.0600
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
15:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  78.3375
</td>
<td align="right">
  78.3375
</td>
<td align="right">
  78.2650
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0725
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
15:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  78.3300
</td>
<td align="right">
  78.3375
</td>
<td align="right">
  78.2538
</td>
<td align="right">
   .0075
</td>
<td align="right">
  -.0838
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
16:05:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  78.3375
</td>
<td align="right">
  78.3525
</td>
<td align="right">
  78.3175
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0350
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-25
12:10:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3250
</td>
<td align="right">
   1.3250
</td>
<td align="right">
   1.3236
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-25
12:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3253
</td>
<td align="right">
   1.3229
</td>
<td align="right">
   1.3241
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0019
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-25
13:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3257
</td>
<td align="right">
   1.3231
</td>
<td align="right">
   1.3248
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0020
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-25
13:40:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3232
</td>
<td align="right">
   1.3226
</td>
<td align="right">
   1.3257
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0032
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.1706
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1687
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.1706
</td>
<td align="right">
   1.1696
</td>
<td align="right">
   1.1683
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:40:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.1699
</td>
<td align="right">
   1.1701
</td>
<td align="right">
   1.1688
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:45:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1699
</td>
<td align="right">
   1.1689
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1703
</td>
<td align="right">
   1.1686
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:55:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.1702
</td>
<td align="right">
   1.1704
</td>
<td align="right">
   1.1688
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
22:00:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.1702
</td>
<td align="right">
   1.1696
</td>
<td align="right">
   1.1687
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
05:00:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8813
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8825
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
05:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8810
</td>
<td align="right">
    .8821
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
05:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8814
</td>
<td align="right">
    .8809
</td>
<td align="right">
    .8820
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
05:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8816
</td>
<td align="right">
    .8809
</td>
<td align="right">
    .8821
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
05:55:00
</td>
<td align="right">
  .85
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8807
</td>
<td align="right">
    .8823
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
06:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8802
</td>
<td align="right">
    .8824
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
06:05:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .8813
</td>
<td align="right">
    .8805
</td>
<td align="right">
    .8827
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
06:10:00
</td>
<td align="right">
  .83
</td>
<td align="right">
    .8810
</td>
<td align="right">
    .8810
</td>
<td align="right">
    .8825
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
06:15:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8806
</td>
<td align="right">
    .8822
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
06:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8819
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
06:25:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8825
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-07-25
14:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8809
</td>
<td align="right">
    .8827
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-25
07:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 112.5008
</td>
<td align="right">
 112.4527
</td>
<td align="right">
 112.3874
</td>
<td align="right">
  -.0481
</td>
<td align="right">
  -.0653
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-25
16:50:00
</td>
<td align="right">
  .70
</td>
<td align="right">
 112.5968
</td>
<td align="right">
 112.5251
</td>
<td align="right">
 112.5060
</td>
<td align="right">
  -.0716
</td>
<td align="right">
  -.0191
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-07-24
22:00:00
</td>
<td align="right">
  .78
</td>
<td align="right">
    .9495
</td>
<td align="right">
    .9498
</td>
<td align="right">
    .9516
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-07-25
02:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9505
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-07-25
11:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  78.2725
</td>
<td align="right">
  78.2325
</td>
<td align="right">
  78.3475
</td>
<td align="right">
  -.0400
</td>
<td align="right">
   .1150
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0015
</td>
</tr>
</table>
<br /><hr />
