<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_09_18<h4>Week of: 2011_09_18 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .53
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0025
</td>
<td align="right">
   13
</td>
<td align="right">
   .0320
</td>
<td align="right">
  -.0034
</td>
<td align="right">
   .0087
</td>
<td align="right">
   .0046
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.39
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0006
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  -.0031
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.24
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0128
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0073
</td>
<td align="right">
   .0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.32
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   30
</td>
<td align="right">
  -.0254
</td>
<td align="right">
  -.0046
</td>
<td align="right">
   .0060
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .10
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
<td align="right">
   20
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   88
</td>
<td align="right">
  -.0088
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.85
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0062
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0310
</td>
<td align="right">
  -.0097
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0034
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .66
</td>
<td align="right">
     .68
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0022
</td>
<td align="right">
   19
</td>
<td align="right">
   .0420
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0088
</td>
<td align="right">
   .0032
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.28
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0018
</td>
<td align="right">
   55
</td>
<td align="right">
   .1008
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0045
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .69
</td>
<td align="right">
     .54
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .0006
</td>
<td align="right">
   15
</td>
<td align="right">
   .0089
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.15
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   15
</td>
<td align="right">
  -.0045
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0033
</td>
<td align="right">
   .0020
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  109
</td>
<td align="right">
   .1162
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-09-20
03:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0204
</td>
<td align="right">
   1.0200
</td>
<td align="right">
   1.0289
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0089
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0087
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-19
17:55:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3390
</td>
<td align="right">
   1.3428
</td>
<td align="right">
   1.3382
</td>
<td align="right">
   .0038
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  .0028
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-19
18:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3389
</td>
<td align="right">
   1.3421
</td>
<td align="right">
   1.3383
</td>
<td align="right">
   .0032
</td>
<td align="right">
  -.0038
</td>
<td align="right">
  .0024
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
01:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3363
</td>
<td align="right">
   1.3366
</td>
<td align="right">
   1.3331
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
01:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3367
</td>
<td align="right">
   1.3367
</td>
<td align="right">
   1.3328
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0039
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
01:45:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.3369
</td>
<td align="right">
   1.3367
</td>
<td align="right">
   1.3327
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0040
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
10:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3337
</td>
<td align="right">
   1.3335
</td>
<td align="right">
   1.3451
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0116
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0087
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
13:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.3389
</td>
<td align="right">
   1.3419
</td>
<td align="right">
   1.3513
</td>
<td align="right">
   .0030
</td>
<td align="right">
   .0094
</td>
<td align="right">
  .0022
</td>
<td align="right">
  .0070
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
14:05:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3386
</td>
<td align="right">
   1.3438
</td>
<td align="right">
   1.3518
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .0080
</td>
<td align="right">
  .0039
</td>
<td align="right">
  .0060
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
14:20:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3388
</td>
<td align="right">
   1.3430
</td>
<td align="right">
   1.3516
</td>
<td align="right">
   .0042
</td>
<td align="right">
   .0086
</td>
<td align="right">
  .0032
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
14:30:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3396
</td>
<td align="right">
   1.3443
</td>
<td align="right">
   1.3512
</td>
<td align="right">
   .0047
</td>
<td align="right">
   .0069
</td>
<td align="right">
  .0035
</td>
<td align="right">
  .0052
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
14:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3398
</td>
<td align="right">
   1.3445
</td>
<td align="right">
   1.3511
</td>
<td align="right">
   .0047
</td>
<td align="right">
   .0066
</td>
<td align="right">
  .0035
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
14:50:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.3419
</td>
<td align="right">
   1.3440
</td>
<td align="right">
   1.3506
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .0065
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
15:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3434
</td>
<td align="right">
   1.3456
</td>
<td align="right">
   1.3505
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .0049
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-19
14:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8706
</td>
<td align="right">
    .8718
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-19
19:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8717
</td>
<td align="right">
    .8717
</td>
<td align="right">
    .8701
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
07:40:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .8703
</td>
<td align="right">
    .8707
</td>
<td align="right">
    .8709
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
07:45:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
    .8701
</td>
<td align="right">
    .8711
</td>
<td align="right">
    .8713
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
08:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8703
</td>
<td align="right">
    .8723
</td>
<td align="right">
    .8720
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0023
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
10:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8719
</td>
<td align="right">
    .8718
</td>
<td align="right">
    .8712
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
15:40:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .8781
</td>
<td align="right">
    .8788
</td>
<td align="right">
    .8761
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
05:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 105.0388
</td>
<td align="right">
 105.1960
</td>
<td align="right">
 104.7708
</td>
<td align="right">
   .1572
</td>
<td align="right">
  -.4252
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
06:05:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 105.0016
</td>
<td align="right">
 105.1637
</td>
<td align="right">
 104.6523
</td>
<td align="right">
   .1621
</td>
<td align="right">
  -.5115
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
06:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 105.0599
</td>
<td align="right">
 105.1539
</td>
<td align="right">
 104.6280
</td>
<td align="right">
   .0940
</td>
<td align="right">
  -.5259
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0050
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
15:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 104.2964
</td>
<td align="right">
 104.3139
</td>
<td align="right">
 104.7751
</td>
<td align="right">
   .0175
</td>
<td align="right">
   .4612
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
16:45:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 104.3019
</td>
<td align="right">
 104.3713
</td>
<td align="right">
 104.2086
</td>
<td align="right">
   .0694
</td>
<td align="right">
  -.1627
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
16:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 104.3139
</td>
<td align="right">
 104.3959
</td>
<td align="right">
 104.2368
</td>
<td align="right">
   .0820
</td>
<td align="right">
  -.1591
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
17:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 104.2667
</td>
<td align="right">
 104.3987
</td>
<td align="right">
 104.3375
</td>
<td align="right">
   .1320
</td>
<td align="right">
  -.0612
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
17:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 104.3377
</td>
<td align="right">
 104.5187
</td>
<td align="right">
 104.3317
</td>
<td align="right">
   .1810
</td>
<td align="right">
  -.1869
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
17:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 104.2986
</td>
<td align="right">
 104.6136
</td>
<td align="right">
 104.3730
</td>
<td align="right">
   .3150
</td>
<td align="right">
  -.2405
</td>
<td align="right">
  .0030
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
17:15:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 104.2828
</td>
<td align="right">
 104.6472
</td>
<td align="right">
 104.4209
</td>
<td align="right">
   .3644
</td>
<td align="right">
  -.2263
</td>
<td align="right">
  .0035
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
05:45:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 104.1552
</td>
<td align="right">
 104.2412
</td>
<td align="right">
 104.9997
</td>
<td align="right">
   .0860
</td>
<td align="right">
   .7586
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0073
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
07:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 104.3961
</td>
<td align="right">
 104.7962
</td>
<td align="right">
 104.7969
</td>
<td align="right">
   .4001
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0038
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
07:25:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 104.5125
</td>
<td align="right">
 104.6896
</td>
<td align="right">
 104.7498
</td>
<td align="right">
   .1771
</td>
<td align="right">
   .0602
</td>
<td align="right">
  .0017
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
07:30:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 104.5387
</td>
<td align="right">
 104.6330
</td>
<td align="right">
 104.7179
</td>
<td align="right">
   .0943
</td>
<td align="right">
   .0849
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
07:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 104.5281
</td>
<td align="right">
 104.6087
</td>
<td align="right">
 104.6267
</td>
<td align="right">
   .0806
</td>
<td align="right">
   .0180
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
23:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 104.6312
</td>
<td align="right">
 104.7516
</td>
<td align="right">
 104.6796
</td>
<td align="right">
   .1204
</td>
<td align="right">
  -.0720
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
23:20:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 104.6816
</td>
<td align="right">
 104.6986
</td>
<td align="right">
 104.6113
</td>
<td align="right">
   .0170
</td>
<td align="right">
  -.0873
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
23:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 104.6268
</td>
<td align="right">
 104.6652
</td>
<td align="right">
 104.5934
</td>
<td align="right">
   .0383
</td>
<td align="right">
  -.0717
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
05:05:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.3616
</td>
<td align="right">
   1.3614
</td>
<td align="right">
   1.3695
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0082
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0060
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
05:20:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.3614
</td>
<td align="right">
   1.3615
</td>
<td align="right">
   1.3684
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0069
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0051
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
05:50:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3625
</td>
<td align="right">
   1.3636
</td>
<td align="right">
   1.3701
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0066
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
07:20:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3654
</td>
<td align="right">
   1.3670
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
08:25:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
   1.3674
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   1.3686
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
09:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3679
</td>
<td align="right">
   1.3709
</td>
<td align="right">
   1.3712
</td>
<td align="right">
   .0030
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0022
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
09:10:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.3673
</td>
<td align="right">
   1.3693
</td>
<td align="right">
   1.3711
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
09:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   1.3695
</td>
<td align="right">
   1.3705
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
13:15:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.3675
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   1.3674
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
13:20:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   1.3683
</td>
<td align="right">
   1.3671
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
13:25:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3686
</td>
<td align="right">
   1.3670
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
14:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.3673
</td>
<td align="right">
   1.3712
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   .0039
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  .0029
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
20:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3692
</td>
<td align="right">
   1.3703
</td>
<td align="right">
   1.3714
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
23:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3684
</td>
<td align="right">
   1.3701
</td>
<td align="right">
   1.3713
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
23:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3682
</td>
<td align="right">
   1.3708
</td>
<td align="right">
   1.3708
</td>
<td align="right">
   .0027
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0019
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
00:50:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3705
</td>
<td align="right">
   1.3717
</td>
<td align="right">
   1.3699
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
00:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.3713
</td>
<td align="right">
   1.3713
</td>
<td align="right">
   1.3697
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
01:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.3710
</td>
<td align="right">
   1.3716
</td>
<td align="right">
   1.3686
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
01:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3708
</td>
<td align="right">
   1.3717
</td>
<td align="right">
   1.3684
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
01:10:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3709
</td>
<td align="right">
   1.3717
</td>
<td align="right">
   1.3683
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
01:30:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3709
</td>
<td align="right">
   1.3716
</td>
<td align="right">
   1.3670
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0047
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
01:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3711
</td>
<td align="right">
   1.3716
</td>
<td align="right">
   1.3675
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
01:45:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3711
</td>
<td align="right">
   1.3715
</td>
<td align="right">
   1.3686
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
01:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3713
</td>
<td align="right">
   1.3714
</td>
<td align="right">
   1.3673
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
02:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3716
</td>
<td align="right">
   1.3713
</td>
<td align="right">
   1.3649
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0063
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
02:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3714
</td>
<td align="right">
   1.3716
</td>
<td align="right">
   1.3656
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0060
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
02:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3714
</td>
<td align="right">
   1.3718
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
03:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3713
</td>
<td align="right">
   1.3719
</td>
<td align="right">
   1.3695
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
05:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.3699
</td>
<td align="right">
   1.3705
</td>
<td align="right">
   1.3651
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
05:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.3694
</td>
<td align="right">
   1.3699
</td>
<td align="right">
   1.3660
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
03:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5674
</td>
<td align="right">
   1.5685
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
07:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.5696
</td>
<td align="right">
   1.5706
</td>
<td align="right">
   1.5720
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
09:20:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.5669
</td>
<td align="right">
   1.5708
</td>
<td align="right">
   1.5724
</td>
<td align="right">
   .0039
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0025
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
10:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.5715
</td>
<td align="right">
   1.5721
</td>
<td align="right">
   1.5716
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
10:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.5705
</td>
<td align="right">
   1.5711
</td>
<td align="right">
   1.5717
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
11:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.5695
</td>
<td align="right">
   1.5717
</td>
<td align="right">
   1.5719
</td>
<td align="right">
   .0023
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
11:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.5714
</td>
<td align="right">
   1.5728
</td>
<td align="right">
   1.5714
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
12:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5724
</td>
<td align="right">
   1.5729
</td>
<td align="right">
   1.5725
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
12:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.5722
</td>
<td align="right">
   1.5719
</td>
<td align="right">
   1.5731
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
13:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.5698
</td>
<td align="right">
   1.5713
</td>
<td align="right">
   1.5728
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
14:40:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.5718
</td>
<td align="right">
   1.5717
</td>
<td align="right">
   1.5740
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
15:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.5717
</td>
<td align="right">
   1.5721
</td>
<td align="right">
   1.5736
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
18:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.5731
</td>
<td align="right">
   1.5728
</td>
<td align="right">
   1.5734
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
18:50:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.5733
</td>
<td align="right">
   1.5731
</td>
<td align="right">
   1.5738
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
19:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.5726
</td>
<td align="right">
   1.5747
</td>
<td align="right">
   1.5732
</td>
<td align="right">
   .0021
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
19:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.5726
</td>
<td align="right">
   1.5746
</td>
<td align="right">
   1.5730
</td>
<td align="right">
   .0021
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
19:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5725
</td>
<td align="right">
   1.5738
</td>
<td align="right">
   1.5730
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
20:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.5745
</td>
<td align="right">
   1.5743
</td>
<td align="right">
   1.5727
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
20:20:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.5747
</td>
<td align="right">
   1.5744
</td>
<td align="right">
   1.5730
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-20
20:35:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.5744
</td>
<td align="right">
   1.5741
</td>
<td align="right">
   1.5732
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-09-21
23:50:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  76.6150
</td>
<td align="right">
  76.7175
</td>
<td align="right">
  76.7625
</td>
<td align="right">
   .1025
</td>
<td align="right">
   .0450
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0006
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-18
21:15:00
</td>
<td align="right">
  .65
</td>
<td align="right">
  79.2489
</td>
<td align="right">
  79.1616
</td>
<td align="right">
  78.8046
</td>
<td align="right">
  -.0873
</td>
<td align="right">
  -.3571
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-21
10:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  78.2406
</td>
<td align="right">
  78.1365
</td>
<td align="right">
  77.9635
</td>
<td align="right">
  -.1041
</td>
<td align="right">
  -.1730
</td>
<td align="right">
 -.0013
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-21
12:55:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  78.0769
</td>
<td align="right">
  78.0018
</td>
<td align="right">
  77.6213
</td>
<td align="right">
  -.0751
</td>
<td align="right">
  -.3805
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-21
13:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  78.0825
</td>
<td align="right">
  77.9459
</td>
<td align="right">
  77.1881
</td>
<td align="right">
  -.1366
</td>
<td align="right">
  -.7577
</td>
<td align="right">
 -.0017
</td>
<td align="right">
 -.0097
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-21
13:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  78.0246
</td>
<td align="right">
  78.0223
</td>
<td align="right">
  77.2666
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  -.7557
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0097
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-18
23:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3294
</td>
<td align="right">
   1.3296
</td>
<td align="right">
   1.3363
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0067
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-20
00:00:00
</td>
<td align="right">
  .85
</td>
<td align="right">
   1.3376
</td>
<td align="right">
   1.3375
</td>
<td align="right">
   1.3356
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-20
00:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.3384
</td>
<td align="right">
   1.3376
</td>
<td align="right">
   1.3358
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-20
00:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3383
</td>
<td align="right">
   1.3368
</td>
<td align="right">
   1.3356
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-20
00:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3389
</td>
<td align="right">
   1.3380
</td>
<td align="right">
   1.3360
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
05:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3331
</td>
<td align="right">
   1.3320
</td>
<td align="right">
   1.3343
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
09:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3331
</td>
<td align="right">
   1.3328
</td>
<td align="right">
   1.3439
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0111
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0083
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
09:30:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3334
</td>
<td align="right">
   1.3329
</td>
<td align="right">
   1.3443
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0114
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0086
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
10:20:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.3334
</td>
<td align="right">
   1.3332
</td>
<td align="right">
   1.3449
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0117
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0088
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
20:05:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3518
</td>
<td align="right">
   1.3513
</td>
<td align="right">
   1.3519
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
20:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3511
</td>
<td align="right">
   1.3511
</td>
<td align="right">
   1.3539
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0028
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
21:15:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3509
</td>
<td align="right">
   1.3509
</td>
<td align="right">
   1.3531
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
21:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3508
</td>
<td align="right">
   1.3495
</td>
<td align="right">
   1.3520
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
21:30:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3505
</td>
<td align="right">
   1.3498
</td>
<td align="right">
   1.3518
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
21:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3505
</td>
<td align="right">
   1.3493
</td>
<td align="right">
   1.3523
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
21:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3507
</td>
<td align="right">
   1.3491
</td>
<td align="right">
   1.3526
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0035
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
21:50:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.3511
</td>
<td align="right">
   1.3499
</td>
<td align="right">
   1.3523
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
22:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3506
</td>
<td align="right">
   1.3502
</td>
<td align="right">
   1.3504
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-21
22:55:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3501
</td>
<td align="right">
   1.3505
</td>
<td align="right">
   1.3514
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
00:45:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8691
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
00:50:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8701
</td>
<td align="right">
    .8689
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
01:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8685
</td>
<td align="right">
    .8701
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
01:55:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8689
</td>
<td align="right">
    .8705
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8696
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8714
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0023
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:05:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8712
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:10:00
</td>
<td align="right">
  .83
</td>
<td align="right">
    .8694
</td>
<td align="right">
    .8684
</td>
<td align="right">
    .8711
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:15:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8695
</td>
<td align="right">
    .8688
</td>
<td align="right">
    .8712
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:20:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8692
</td>
<td align="right">
    .8687
</td>
<td align="right">
    .8706
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8688
</td>
<td align="right">
    .8706
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:30:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .8687
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8703
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:35:00
</td>
<td align="right">
  .78
</td>
<td align="right">
    .8688
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8703
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
02:40:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8685
</td>
<td align="right">
    .8685
</td>
<td align="right">
    .8707
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
03:00:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8681
</td>
<td align="right">
    .8720
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0039
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
03:05:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8719
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0036
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
03:10:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8684
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8722
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0039
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
03:15:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8688
</td>
<td align="right">
    .8682
</td>
<td align="right">
    .8719
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0037
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
03:25:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8688
</td>
<td align="right">
    .8684
</td>
<td align="right">
    .8723
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0039
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
03:30:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8685
</td>
<td align="right">
    .8723
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0038
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
03:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8685
</td>
<td align="right">
    .8720
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0035
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
03:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8685
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8722
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0040
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
16:25:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8702
</td>
<td align="right">
    .8696
</td>
<td align="right">
    .8702
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
16:30:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .8701
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8702
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
16:45:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8701
</td>
<td align="right">
    .8699
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8705
</td>
<td align="right">
    .8702
</td>
<td align="right">
    .8701
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:15:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8701
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:20:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .8696
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8701
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8705
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:35:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8707
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8695
</td>
<td align="right">
    .8711
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8701
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8709
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:50:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8712
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
17:55:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8715
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
18:00:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .8696
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8714
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
18:05:00
</td>
<td align="right">
  .83
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8711
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
18:10:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8702
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8712
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
18:15:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8695
</td>
<td align="right">
    .8714
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
18:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8694
</td>
<td align="right">
    .8713
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
18:45:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8711
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0021
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
18:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8692
</td>
<td align="right">
    .8710
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
18:55:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .8700
</td>
<td align="right">
    .8691
</td>
<td align="right">
    .8710
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
19:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8695
</td>
<td align="right">
    .8717
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
19:05:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8716
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
19:10:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8696
</td>
<td align="right">
    .8717
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
19:25:00
</td>
<td align="right">
  .81
</td>
<td align="right">
    .8691
</td>
<td align="right">
    .8695
</td>
<td align="right">
    .8716
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
20:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8702
</td>
<td align="right">
    .8704
</td>
<td align="right">
    .8718
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-20
20:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8703
</td>
<td align="right">
    .8705
</td>
<td align="right">
    .8717
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
20:20:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8753
</td>
<td align="right">
    .8754
</td>
<td align="right">
    .8761
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
20:25:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8751
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8764
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
20:30:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8753
</td>
<td align="right">
    .8756
</td>
<td align="right">
    .8763
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
20:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8759
</td>
<td align="right">
    .8759
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
21:50:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8759
</td>
<td align="right">
    .8760
</td>
<td align="right">
    .8759
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
22:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8760
</td>
<td align="right">
    .8760
</td>
<td align="right">
    .8762
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
22:55:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8760
</td>
<td align="right">
    .8760
</td>
<td align="right">
    .8760
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-09-21
23:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8758
</td>
<td align="right">
    .8759
</td>
<td align="right">
    .8770
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:05:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 105.3496
</td>
<td align="right">
 105.1975
</td>
<td align="right">
 105.0016
</td>
<td align="right">
  -.1521
</td>
<td align="right">
  -.1958
</td>
<td align="right">
 -.0014
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 105.3394
</td>
<td align="right">
 105.1605
</td>
<td align="right">
 105.0599
</td>
<td align="right">
  -.1789
</td>
<td align="right">
  -.1006
</td>
<td align="right">
 -.0017
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:15:00
</td>
<td align="right">
  .76
</td>
<td align="right">
 105.3339
</td>
<td align="right">
 105.1162
</td>
<td align="right">
 105.0059
</td>
<td align="right">
  -.2176
</td>
<td align="right">
  -.1104
</td>
<td align="right">
 -.0021
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:20:00
</td>
<td align="right">
  .70
</td>
<td align="right">
 105.3569
</td>
<td align="right">
 105.0808
</td>
<td align="right">
 105.1189
</td>
<td align="right">
  -.2761
</td>
<td align="right">
   .0381
</td>
<td align="right">
 -.0026
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:25:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 105.3377
</td>
<td align="right">
 105.0475
</td>
<td align="right">
 105.1146
</td>
<td align="right">
  -.2902
</td>
<td align="right">
   .0671
</td>
<td align="right">
 -.0028
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 105.3317
</td>
<td align="right">
 105.0292
</td>
<td align="right">
 105.1214
</td>
<td align="right">
  -.3026
</td>
<td align="right">
   .0923
</td>
<td align="right">
 -.0029
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:35:00
</td>
<td align="right">
  .81
</td>
<td align="right">
 105.3437
</td>
<td align="right">
 105.0668
</td>
<td align="right">
 105.1334
</td>
<td align="right">
  -.2769
</td>
<td align="right">
   .0666
</td>
<td align="right">
 -.0026
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:40:00
</td>
<td align="right">
  .74
</td>
<td align="right">
 105.3091
</td>
<td align="right">
 105.0394
</td>
<td align="right">
 105.1979
</td>
<td align="right">
  -.2696
</td>
<td align="right">
   .1585
</td>
<td align="right">
 -.0026
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:45:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 105.3399
</td>
<td align="right">
 105.0176
</td>
<td align="right">
 105.1960
</td>
<td align="right">
  -.3222
</td>
<td align="right">
   .1784
</td>
<td align="right">
 -.0031
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
00:55:00
</td>
<td align="right">
  .78
</td>
<td align="right">
 105.3279
</td>
<td align="right">
 105.0151
</td>
<td align="right">
 105.1067
</td>
<td align="right">
  -.3128
</td>
<td align="right">
   .0917
</td>
<td align="right">
 -.0030
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
01:05:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 105.1975
</td>
<td align="right">
 105.0093
</td>
<td align="right">
 105.1637
</td>
<td align="right">
  -.1882
</td>
<td align="right">
   .1545
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
01:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 105.1605
</td>
<td align="right">
 104.9967
</td>
<td align="right">
 105.1539
</td>
<td align="right">
  -.1638
</td>
<td align="right">
   .1572
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
01:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 105.0808
</td>
<td align="right">
 105.0087
</td>
<td align="right">
 105.1983
</td>
<td align="right">
  -.0721
</td>
<td align="right">
   .1896
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-19
01:25:00
</td>
<td align="right">
  .71
</td>
<td align="right">
 105.0475
</td>
<td align="right">
 105.0211
</td>
<td align="right">
 105.1523
</td>
<td align="right">
  -.0265
</td>
<td align="right">
   .1312
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-09-20
21:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 104.7644
</td>
<td align="right">
 104.6885
</td>
<td align="right">
 104.7079
</td>
<td align="right">
  -.0758
</td>
<td align="right">
   .0194
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
16:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3685
</td>
<td align="right">
   1.3669
</td>
<td align="right">
   1.3697
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
18:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.3683
</td>
<td align="right">
   1.3666
</td>
<td align="right">
   1.3710
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0044
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-20
19:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3682
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   1.3722
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0045
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
06:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3696
</td>
<td align="right">
   1.3686
</td>
<td align="right">
   1.3646
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0040
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
19:45:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.3609
</td>
<td align="right">
   1.3570
</td>
<td align="right">
   1.3578
</td>
<td align="right">
  -.0039
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0029
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
19:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3604
</td>
<td align="right">
   1.3565
</td>
<td align="right">
   1.3577
</td>
<td align="right">
  -.0039
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0029
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
20:20:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3577
</td>
<td align="right">
   1.3578
</td>
<td align="right">
   1.3559
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
22:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3584
</td>
<td align="right">
   1.3579
</td>
<td align="right">
   1.3542
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0037
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
22:35:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3595
</td>
<td align="right">
   1.3564
</td>
<td align="right">
   1.3540
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  -.0024
</td>
<td align="right">
 -.0022
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
22:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3593
</td>
<td align="right">
   1.3564
</td>
<td align="right">
   1.3542
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0022
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
23:50:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3573
</td>
<td align="right">
   1.3561
</td>
<td align="right">
   1.3565
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-21
23:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3578
</td>
<td align="right">
   1.3557
</td>
<td align="right">
   1.3562
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-22
00:10:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3573
</td>
<td align="right">
   1.3559
</td>
<td align="right">
   1.3543
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-22
02:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3559
</td>
<td align="right">
   1.3542
</td>
<td align="right">
   1.3514
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0028
</td>
<td align="right">
 -.0013
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-09-22
02:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.3564
</td>
<td align="right">
   1.3546
</td>
<td align="right">
   1.3527
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0013
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-19
15:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.5671
</td>
<td align="right">
   1.5664
</td>
<td align="right">
   1.5699
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0035
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0022
</td>
</tr>
</table>
<br /><hr />
