<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_08_21<h4>Week of: 2011_08_21</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -5.13
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0107
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .37
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0010
</td>
<td align="right">
   20
</td>
<td align="right">
   .0202
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0043
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.97
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0020
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0176
</td>
<td align="right">
  -.0042
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0020
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .71
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
    4
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.74
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0146
</td>
<td align="right">
  -.0038
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   57
</td>
<td align="right">
  -.0215
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.52
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
    8
</td>
<td align="right">
   .0039
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    8
</td>
<td align="right">
   .0039
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-22
06:05:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.3824
</td>
<td align="right">
   1.3822
</td>
<td align="right">
   1.3783
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0039
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-22
07:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3817
</td>
<td align="right">
   1.3819
</td>
<td align="right">
   1.3794
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-22
07:10:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.3814
</td>
<td align="right">
   1.3819
</td>
<td align="right">
   1.3794
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-22
07:35:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3819
</td>
<td align="right">
   1.3818
</td>
<td align="right">
   1.3788
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0030
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-22
07:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3818
</td>
<td align="right">
   1.3818
</td>
<td align="right">
   1.3787
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-21
22:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.1307
</td>
<td align="right">
   1.1308
</td>
<td align="right">
   1.1277
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
00:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.1305
</td>
<td align="right">
   1.1316
</td>
<td align="right">
   1.1286
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
00:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.1305
</td>
<td align="right">
   1.1313
</td>
<td align="right">
   1.1281
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
00:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.1306
</td>
<td align="right">
   1.1306
</td>
<td align="right">
   1.1286
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
00:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.1303
</td>
<td align="right">
   1.1315
</td>
<td align="right">
   1.1309
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
00:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.1301
</td>
<td align="right">
   1.1312
</td>
<td align="right">
   1.1312
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
01:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.1299
</td>
<td align="right">
   1.1311
</td>
<td align="right">
   1.1320
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
04:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.1281
</td>
<td align="right">
   1.1301
</td>
<td align="right">
   1.1346
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0046
</td>
<td align="right">
  .0018
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
04:55:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.1287
</td>
<td align="right">
   1.1301
</td>
<td align="right">
   1.1342
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0040
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
05:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.1286
</td>
<td align="right">
   1.1306
</td>
<td align="right">
   1.1340
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0018
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
05:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1289
</td>
<td align="right">
   1.1291
</td>
<td align="right">
   1.1340
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0048
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
05:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.1301
</td>
<td align="right">
   1.1312
</td>
<td align="right">
   1.1351
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0039
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
06:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.1306
</td>
<td align="right">
   1.1320
</td>
<td align="right">
   1.1349
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0029
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
06:30:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.1291
</td>
<td align="right">
   1.1310
</td>
<td align="right">
   1.1352
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0017
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
06:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.1312
</td>
<td align="right">
   1.1323
</td>
<td align="right">
   1.1364
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0041
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
07:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.1312
</td>
<td align="right">
   1.1328
</td>
<td align="right">
   1.1363
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0035
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
07:20:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1300
</td>
<td align="right">
   1.1320
</td>
<td align="right">
   1.1362
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0017
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
09:40:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
   1.1346
</td>
<td align="right">
   1.1356
</td>
<td align="right">
   1.1323
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
09:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1339
</td>
<td align="right">
   1.1354
</td>
<td align="right">
   1.1331
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-08-22
10:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.1342
</td>
<td align="right">
   1.1351
</td>
<td align="right">
   1.1348
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
01:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 110.1954
</td>
<td align="right">
 110.3636
</td>
<td align="right">
 110.2819
</td>
<td align="right">
   .1682
</td>
<td align="right">
  -.0817
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
07:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 110.2112
</td>
<td align="right">
 110.6609
</td>
<td align="right">
 110.8212
</td>
<td align="right">
   .4497
</td>
<td align="right">
   .1603
</td>
<td align="right">
  .0041
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
07:10:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 110.2550
</td>
<td align="right">
 110.6830
</td>
<td align="right">
 110.7952
</td>
<td align="right">
   .4279
</td>
<td align="right">
   .1123
</td>
<td align="right">
  .0039
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
09:40:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 110.6537
</td>
<td align="right">
 110.8116
</td>
<td align="right">
 110.3468
</td>
<td align="right">
   .1579
</td>
<td align="right">
  -.4648
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
10:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 110.6422
</td>
<td align="right">
 110.8078
</td>
<td align="right">
 110.4902
</td>
<td align="right">
   .1656
</td>
<td align="right">
  -.3176
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
10:10:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 110.6321
</td>
<td align="right">
 110.7979
</td>
<td align="right">
 110.4689
</td>
<td align="right">
   .1658
</td>
<td align="right">
  -.3290
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
10:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 110.6863
</td>
<td align="right">
 110.7792
</td>
<td align="right">
 110.4453
</td>
<td align="right">
   .0929
</td>
<td align="right">
  -.3338
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
10:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 110.7338
</td>
<td align="right">
 110.7907
</td>
<td align="right">
 110.4355
</td>
<td align="right">
   .0569
</td>
<td align="right">
  -.3552
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-22
10:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 110.6945
</td>
<td align="right">
 110.7794
</td>
<td align="right">
 110.4387
</td>
<td align="right">
   .0849
</td>
<td align="right">
  -.3407
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-22
03:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.6485
</td>
<td align="right">
   1.6485
</td>
<td align="right">
   1.6480
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-22
04:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.6479
</td>
<td align="right">
   1.6482
</td>
<td align="right">
   1.6490
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-22
04:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.6481
</td>
<td align="right">
   1.6479
</td>
<td align="right">
   1.6488
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-22
04:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.6485
</td>
<td align="right">
   1.6483
</td>
<td align="right">
   1.6491
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-21
22:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  76.7425
</td>
<td align="right">
  76.8650
</td>
<td align="right">
  76.7525
</td>
<td align="right">
   .1225
</td>
<td align="right">
  -.1125
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-21
22:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  76.7475
</td>
<td align="right">
  76.8625
</td>
<td align="right">
  76.7475
</td>
<td align="right">
   .1150
</td>
<td align="right">
  -.1150
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
00:55:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
  76.6450
</td>
<td align="right">
  76.6550
</td>
<td align="right">
  76.7050
</td>
<td align="right">
   .0100
</td>
<td align="right">
   .0500
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  76.5925
</td>
<td align="right">
  77.0025
</td>
<td align="right">
  76.7125
</td>
<td align="right">
   .4100
</td>
<td align="right">
  -.2900
</td>
<td align="right">
  .0054
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:05:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  76.6100
</td>
<td align="right">
  76.8075
</td>
<td align="right">
  76.7100
</td>
<td align="right">
   .1975
</td>
<td align="right">
  -.0975
</td>
<td align="right">
  .0026
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:10:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  76.6400
</td>
<td align="right">
  76.7975
</td>
<td align="right">
  76.7125
</td>
<td align="right">
   .1575
</td>
<td align="right">
  -.0850
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:15:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  76.6538
</td>
<td align="right">
  76.8400
</td>
<td align="right">
  76.7075
</td>
<td align="right">
   .1863
</td>
<td align="right">
  -.1325
</td>
<td align="right">
  .0024
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:20:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
  76.6550
</td>
<td align="right">
  76.7800
</td>
<td align="right">
  76.7125
</td>
<td align="right">
   .1250
</td>
<td align="right">
  -.0675
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  76.6450
</td>
<td align="right">
  76.8200
</td>
<td align="right">
  76.7075
</td>
<td align="right">
   .1750
</td>
<td align="right">
  -.1125
</td>
<td align="right">
  .0023
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:30:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  76.6238
</td>
<td align="right">
  76.7925
</td>
<td align="right">
  76.7225
</td>
<td align="right">
   .1688
</td>
<td align="right">
  -.0700
</td>
<td align="right">
  .0022
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  76.6300
</td>
<td align="right">
  76.7900
</td>
<td align="right">
  76.7375
</td>
<td align="right">
   .1600
</td>
<td align="right">
  -.0525
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
01:40:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  76.6450
</td>
<td align="right">
  76.8050
</td>
<td align="right">
  76.7413
</td>
<td align="right">
   .1600
</td>
<td align="right">
  -.0638
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
07:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  76.7275
</td>
<td align="right">
  76.7275
</td>
<td align="right">
  76.7675
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0400
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
09:15:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  76.7325
</td>
<td align="right">
  76.8038
</td>
<td align="right">
  76.8075
</td>
<td align="right">
   .0713
</td>
<td align="right">
   .0038
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
09:20:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  76.7500
</td>
<td align="right">
  76.7775
</td>
<td align="right">
  76.8000
</td>
<td align="right">
   .0275
</td>
<td align="right">
   .0225
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
09:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  76.7913
</td>
<td align="right">
  76.7925
</td>
<td align="right">
  76.7800
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0125
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
10:50:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  76.7775
</td>
<td align="right">
  76.7800
</td>
<td align="right">
  76.7950
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0150
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
11:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  76.7688
</td>
<td align="right">
  76.7825
</td>
<td align="right">
  76.7450
</td>
<td align="right">
   .0138
</td>
<td align="right">
  -.0375
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-22
12:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  76.7513
</td>
<td align="right">
  76.7663
</td>
<td align="right">
  76.7650
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-08-22
11:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3788
</td>
<td align="right">
   1.3778
</td>
<td align="right">
   1.3772
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-21
21:30:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.6472
</td>
<td align="right">
   1.6474
</td>
<td align="right">
   1.6488
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-21
21:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.6476
</td>
<td align="right">
   1.6473
</td>
<td align="right">
   1.6486
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-21
21:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.6476
</td>
<td align="right">
   1.6476
</td>
<td align="right">
   1.6485
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-21
21:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.6475
</td>
<td align="right">
   1.6476
</td>
<td align="right">
   1.6482
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-21
21:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6480
</td>
<td align="right">
   1.6477
</td>
<td align="right">
   1.6478
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-21
22:05:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.6475
</td>
<td align="right">
   1.6477
</td>
<td align="right">
   1.6479
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-21
22:20:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.6474
</td>
<td align="right">
   1.6477
</td>
<td align="right">
   1.6482
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-08-21
22:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.6475
</td>
<td align="right">
   1.6471
</td>
<td align="right">
   1.6485
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0008
</td>
</tr>
</table>
<br /><hr />
