<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_07_24<h4>Week of: 2011_07_24</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .85
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
    3
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.78
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0009
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0028
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .68
</td>
<td align="right">
   -4.44
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0078
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0078
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.3271
</td>
<td align="right">
   1.3270
</td>
<td align="right">
   1.3282
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-24
22:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 112.7372
</td>
<td align="right">
 112.7480
</td>
<td align="right">
 112.7278
</td>
<td align="right">
   .0107
</td>
<td align="right">
  -.0202
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-24
22:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 112.6659
</td>
<td align="right">
 112.7402
</td>
<td align="right">
 112.8487
</td>
<td align="right">
   .0743
</td>
<td align="right">
   .1085
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-07-24
22:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 112.7228
</td>
<td align="right">
 112.7418
</td>
<td align="right">
 112.8294
</td>
<td align="right">
   .0190
</td>
<td align="right">
   .0876
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-24
22:15:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.4373
</td>
<td align="right">
   1.4375
</td>
<td align="right">
   1.4381
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-24
23:30:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.4372
</td>
<td align="right">
   1.4376
</td>
<td align="right">
   1.4365
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-24
23:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.4371
</td>
<td align="right">
   1.4380
</td>
<td align="right">
   1.4371
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-24
23:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.4372
</td>
<td align="right">
   1.4382
</td>
<td align="right">
   1.4372
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-07-25
00:55:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.4383
</td>
<td align="right">
   1.4399
</td>
<td align="right">
   1.4360
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0027
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.1706
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1687
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.1706
</td>
<td align="right">
   1.1696
</td>
<td align="right">
   1.1683
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:40:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.1699
</td>
<td align="right">
   1.1701
</td>
<td align="right">
   1.1688
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:45:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1699
</td>
<td align="right">
   1.1689
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1703
</td>
<td align="right">
   1.1686
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
21:55:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.1702
</td>
<td align="right">
   1.1704
</td>
<td align="right">
   1.1688
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-07-24
22:00:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.1702
</td>
<td align="right">
   1.1696
</td>
<td align="right">
   1.1687
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-07-24
22:00:00
</td>
<td align="right">
  .78
</td>
<td align="right">
    .9495
</td>
<td align="right">
    .9498
</td>
<td align="right">
    .9516
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0019
</td>
</tr>
</table>
<br /><hr />
