<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_08_14<h4>Week of: 2011_08_14</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.16
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.74
</td>
<td align="right">
    1.20
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0039
</td>
<td align="right">
    5
</td>
<td align="right">
   .0196
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0064
</td>
<td align="right">
   .0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -8.42
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0048
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0145
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  -.0043
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.60
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   16
</td>
<td align="right">
   .0016
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.54
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0054
</td>
<td align="right">
   12
</td>
<td align="right">
   .0653
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0072
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .74
</td>
<td align="right">
   14.43
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0063
</td>
<td align="right">
    2
</td>
<td align="right">
   .0125
</td>
<td align="right">
   .0060
</td>
<td align="right">
   .0066
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .69
</td>
<td align="right">
     .36
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0005
</td>
<td align="right">
    6
</td>
<td align="right">
   .0030
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
   11.24
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0106
</td>
<td align="right">
    3
</td>
<td align="right">
   .0319
</td>
<td align="right">
   .0096
</td>
<td align="right">
   .0115
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   23
</td>
<td align="right">
   .1127
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
01:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0427
</td>
<td align="right">
   1.0427
</td>
<td align="right">
   1.0419
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
01:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0424
</td>
<td align="right">
   1.0427
</td>
<td align="right">
   1.0425
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
06:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 110.0320
</td>
<td align="right">
 110.0337
</td>
<td align="right">
 109.8609
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.1728
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
07:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 109.8588
</td>
<td align="right">
 109.9912
</td>
<td align="right">
 110.3656
</td>
<td align="right">
   .1325
</td>
<td align="right">
   .3744
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
08:00:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 109.9891
</td>
<td align="right">
 110.0204
</td>
<td align="right">
 110.6297
</td>
<td align="right">
   .0313
</td>
<td align="right">
   .6093
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0055
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
08:05:00
</td>
<td align="right">
 -.90
</td>
<td align="right">
 109.9644
</td>
<td align="right">
 110.0207
</td>
<td align="right">
 110.6632
</td>
<td align="right">
   .0563
</td>
<td align="right">
   .6425
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0058
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
08:15:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
 110.0478
</td>
<td align="right">
 110.0864
</td>
<td align="right">
 110.7899
</td>
<td align="right">
   .0386
</td>
<td align="right">
   .7035
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-08-15
09:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9887
</td>
<td align="right">
    .9894
</td>
<td align="right">
    .9851
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-08-15
09:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9887
</td>
<td align="right">
    .9893
</td>
<td align="right">
    .9846
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0047
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-08-15
11:40:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
    .9872
</td>
<td align="right">
    .9881
</td>
<td align="right">
    .9827
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0054
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0055
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-14
22:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  76.8250
</td>
<td align="right">
  76.9150
</td>
<td align="right">
  76.8100
</td>
<td align="right">
   .0900
</td>
<td align="right">
  -.1050
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-14
22:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  76.7950
</td>
<td align="right">
  76.8900
</td>
<td align="right">
  76.8125
</td>
<td align="right">
   .0950
</td>
<td align="right">
  -.0775
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-14
22:55:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  76.8325
</td>
<td align="right">
  76.8800
</td>
<td align="right">
  76.8175
</td>
<td align="right">
   .0475
</td>
<td align="right">
  -.0625
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-15
02:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  76.8250
</td>
<td align="right">
  76.8250
</td>
<td align="right">
  76.8225
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-15
02:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  76.8275
</td>
<td align="right">
  76.8300
</td>
<td align="right">
  76.8363
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0063
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-08-15
03:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  76.8238
</td>
<td align="right">
  76.8250
</td>
<td align="right">
  76.8650
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0400
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0005
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
03:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0414
</td>
<td align="right">
   1.0401
</td>
<td align="right">
   1.0425
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
06:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0420
</td>
<td align="right">
   1.0418
</td>
<td align="right">
   1.0431
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
07:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.0419
</td>
<td align="right">
   1.0417
</td>
<td align="right">
   1.0440
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0023
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
08:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0413
</td>
<td align="right">
   1.0416
</td>
<td align="right">
   1.0484
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0069
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0066
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
08:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0418
</td>
<td align="right">
   1.0411
</td>
<td align="right">
   1.0482
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0071
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0068
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
08:50:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0422
</td>
<td align="right">
   1.0404
</td>
<td align="right">
   1.0470
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0066
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0063
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
09:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0419
</td>
<td align="right">
   1.0394
</td>
<td align="right">
   1.0460
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   .0067
</td>
<td align="right">
 -.0024
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
09:30:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0418
</td>
<td align="right">
   1.0396
</td>
<td align="right">
   1.0457
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0061
</td>
<td align="right">
 -.0021
</td>
<td align="right">
  .0059
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
09:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.0416
</td>
<td align="right">
   1.0393
</td>
<td align="right">
   1.0462
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0070
</td>
<td align="right">
 -.0022
</td>
<td align="right">
  .0067
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
09:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0412
</td>
<td align="right">
   1.0396
</td>
<td align="right">
   1.0468
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0072
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0069
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
09:45:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.0411
</td>
<td align="right">
   1.0399
</td>
<td align="right">
   1.0473
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0075
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0072
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-08-15
11:25:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.0403
</td>
<td align="right">
   1.0407
</td>
<td align="right">
   1.0477
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0070
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0068
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-15
10:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8760
</td>
<td align="right">
    .8763
</td>
<td align="right">
    .8820
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0058
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0066
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-08-15
10:05:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .8761
</td>
<td align="right">
    .8764
</td>
<td align="right">
    .8816
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0052
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0060
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-14
21:45:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 109.6570
</td>
<td align="right">
 109.6424
</td>
<td align="right">
 109.8131
</td>
<td align="right">
  -.0145
</td>
<td align="right">
   .1707
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-14
21:50:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 109.6803
</td>
<td align="right">
 109.6076
</td>
<td align="right">
 109.7931
</td>
<td align="right">
  -.0727
</td>
<td align="right">
   .1855
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
00:15:00
</td>
<td align="right">
  .83
</td>
<td align="right">
 110.1776
</td>
<td align="right">
 110.1344
</td>
<td align="right">
 110.0674
</td>
<td align="right">
  -.0432
</td>
<td align="right">
  -.0670
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
00:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 110.1482
</td>
<td align="right">
 110.1446
</td>
<td align="right">
 110.1521
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .0075
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
01:25:00
</td>
<td align="right">
  .55
</td>
<td align="right">
 110.1446
</td>
<td align="right">
 110.0273
</td>
<td align="right">
 109.8588
</td>
<td align="right">
  -.1173
</td>
<td align="right">
  -.1686
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-08-15
03:35:00
</td>
<td align="right">
  .71
</td>
<td align="right">
 109.8598
</td>
<td align="right">
 109.7889
</td>
<td align="right">
 109.9872
</td>
<td align="right">
  -.0708
</td>
<td align="right">
   .1983
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-15
08:45:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.4320
</td>
<td align="right">
   1.4313
</td>
<td align="right">
   1.4451
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0138
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0096
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-15
09:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.4316
</td>
<td align="right">
   1.4294
</td>
<td align="right">
   1.4450
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0156
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0109
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-08-15
09:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.4319
</td>
<td align="right">
   1.4273
</td>
<td align="right">
   1.4437
</td>
<td align="right">
  -.0046
</td>
<td align="right">
   .0164
</td>
<td align="right">
 -.0032
</td>
<td align="right">
  .0115
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-08-14
23:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9888
</td>
<td align="right">
    .9881
</td>
<td align="right">
    .9877
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0004
</td>
</tr>
</table>
<br /><hr />
