<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_09_04<h4>Week of: 2011_09_04 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -9.19
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0064
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -8.58
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0119
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:40:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  81.5203
</td>
<td align="right">
  81.5347
</td>
<td align="right">
  81.3796
</td>
<td align="right">
   .0144
</td>
<td align="right">
  -.1551
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  81.4699
</td>
<td align="right">
  81.5845
</td>
<td align="right">
  81.4078
</td>
<td align="right">
   .1146
</td>
<td align="right">
  -.1767
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-09-04
21:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  81.4853
</td>
<td align="right">
  81.5931
</td>
<td align="right">
  81.4001
</td>
<td align="right">
   .1078
</td>
<td align="right">
  -.1929
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:20:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6125
</td>
<td align="right">
   1.6138
</td>
<td align="right">
   1.6110
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6124
</td>
<td align="right">
   1.6139
</td>
<td align="right">
   1.6106
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-09-05
10:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.6123
</td>
<td align="right">
   1.6131
</td>
<td align="right">
   1.6104
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0017
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-09-05
06:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3370
</td>
<td align="right">
   1.3360
</td>
<td align="right">
   1.3371
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0008
</td>
</tr>
</table>
<br /><hr />
