a(href="/r10/site_map")Site Map
| >
a(href="/predictions")Predictions
| >
a(href="/predictions/fx")Forex
| > Past Forex Predictions

h4 Results Of Past Forex Predictions

=render :partial => 'fx_past_spool'
