<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3271
</td>
<td align="right">
   1.3270
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
18:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.1744
</td>
<td align="right">
   1.1745
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-25 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
18:45:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.1746
</td>
<td align="right">
   1.1749
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-25 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
18:50:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.1747
</td>
<td align="right">
   1.1745
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
18:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.1753
</td>
<td align="right">
   1.1752
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
19:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1748
</td>
<td align="right">
   1.1752
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-25 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
19:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.1749
</td>
<td align="right">
   1.1770
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-25 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
19:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1745
</td>
<td align="right">
   1.1762
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-25 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
19:40:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1745
</td>
<td align="right">
   1.1757
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-25 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
19:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.1749
</td>
<td align="right">
   1.1757
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
19:50:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1745
</td>
<td align="right">
   1.1771
</td>
<td align="right">
  .0022
</td>
<td>
2011-07-25 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
19:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1752
</td>
<td align="right">
   1.1771
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-25 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
20:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1752
</td>
<td align="right">
   1.1705
</td>
<td align="right">
 -.0040
</td>
<td>
2011-07-25 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
20:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.1763
</td>
<td align="right">
   1.1706
</td>
<td align="right">
 -.0049
</td>
<td>
2011-07-25 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
20:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1770
</td>
<td align="right">
   1.1700
</td>
<td align="right">
 -.0060
</td>
<td>
2011-07-25 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
20:30:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1763
</td>
<td align="right">
   1.1700
</td>
<td align="right">
 -.0054
</td>
<td>
2011-07-25 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
20:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.1757
</td>
<td align="right">
   1.1702
</td>
<td align="right">
 -.0047
</td>
<td>
2011-07-25 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
20:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.1771
</td>
<td align="right">
   1.1700
</td>
<td align="right">
 -.0060
</td>
<td>
2011-07-25 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
20:55:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.1771
</td>
<td align="right">
   1.1699
</td>
<td align="right">
 -.0061
</td>
<td>
2011-07-25 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1705
</td>
<td align="right">
   1.1697
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-25 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-24
22:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 112.7372
</td>
<td align="right">
 112.7480
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-25 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-24
22:40:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 112.6659
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-24
22:45:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 112.7228
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
20:20:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.4364
</td>
<td align="right">
   1.4404
</td>
<td align="right">
  .0028
</td>
<td>
2011-07-25 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
20:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.4362
</td>
<td align="right">
   1.4398
</td>
<td align="right">
  .0025
</td>
<td>
2011-07-25 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
20:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4356
</td>
<td align="right">
   1.4403
</td>
<td align="right">
  .0033
</td>
<td>
2011-07-25 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
21:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4398
</td>
<td align="right">
   1.4383
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-25 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4403
</td>
<td align="right">
   1.4384
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-25 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
22:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.4391
</td>
<td align="right">
   1.4382
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-25 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
22:15:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.4373
</td>
<td align="right">
   1.4375
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-25 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
22:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4375
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
22:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.4385
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
23:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.4382
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
23:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.4388
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-24
23:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4388
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
17:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9496
</td>
<td align="right">
    .9495
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-24 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
17:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3231
</td>
<td align="right">
   1.3235
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-24 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
17:20:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3231
</td>
<td align="right">
   1.3235
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-24 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
17:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
   1.3238
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-24 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
17:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3242
</td>
<td align="right">
   1.3241
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-24 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
17:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3239
</td>
<td align="right">
   1.3229
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-24 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
18:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3235
</td>
<td align="right">
   1.3233
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
18:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3235
</td>
<td align="right">
   1.3232
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
18:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3238
</td>
<td align="right">
   1.3233
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-25 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
18:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3238
</td>
<td align="right">
   1.3234
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-25 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
18:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3236
</td>
<td align="right">
   1.3235
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
19:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3234
</td>
<td align="right">
   1.3228
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-25 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
19:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3242
</td>
<td align="right">
   1.3231
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-25 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
18:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1741
</td>
<td align="right">
   1.1749
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-25 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
18:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1744
</td>
<td align="right">
   1.1745
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-25 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.1706
</td>
<td align="right">
   1.1700
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-25 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.1706
</td>
<td align="right">
   1.1696
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-25 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1710
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1708
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.1699
</td>
<td align="right">
   1.1701
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-25 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1699
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   1.1703
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-25 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
21:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.1702
</td>
<td align="right">
   1.1704
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-25 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-24
22:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.1702
</td>
<td align="right">
   1.1696
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-25 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
20:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9490
</td>
<td align="right">
    .9484
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-25 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
20:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9484
</td>
<td align="right">
    .9483
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
21:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9483
</td>
<td align="right">
    .9500
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-25 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
21:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9484
</td>
<td align="right">
    .9498
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-25 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9483
</td>
<td align="right">
    .9498
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-25 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
21:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9483
</td>
<td align="right">
    .9496
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-25 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
22:00:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .9495
</td>
<td align="right">
    .9498
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-25 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
22:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .9500
</td>
<td align="right">
    .9510
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-25 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
22:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9498
</td>
<td align="right">
    .9510
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-25 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
22:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9499
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-24
23:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9497
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
17:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8174
</td>
<td align="right">
    .8171
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-24 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
17:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8170
</td>
<td align="right">
    .8174
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-24 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
18:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8174
</td>
<td align="right">
    .8177
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-25 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
18:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8175
</td>
<td align="right">
    .8181
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
18:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8173
</td>
<td align="right">
    .8179
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
18:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8173
</td>
<td align="right">
    .8178
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
18:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8171
</td>
<td align="right">
    .8178
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-25 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
18:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8171
</td>
<td align="right">
    .8178
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-25 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
18:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8171
</td>
<td align="right">
    .8177
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
18:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8172
</td>
<td align="right">
    .8177
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-25 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
19:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8179
</td>
<td align="right">
    .8194
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-25 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
19:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8179
</td>
<td align="right">
    .8200
</td>
<td align="right">
  .0025
</td>
<td>
2011-07-25 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
20:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8181
</td>
<td align="right">
    .8128
</td>
<td align="right">
 -.0065
</td>
<td>
2011-07-25 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
21:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8128
</td>
<td align="right">
    .8138
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-25 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
21:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8123
</td>
<td align="right">
    .8136
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-25 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
21:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8123
</td>
<td align="right">
    .8131
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-25 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
21:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8121
</td>
<td align="right">
    .8145
</td>
<td align="right">
  .0029
</td>
<td>
2011-07-25 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
21:35:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .8123
</td>
<td align="right">
    .8146
</td>
<td align="right">
  .0028
</td>
<td>
2011-07-25 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
21:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8127
</td>
<td align="right">
    .8140
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-25 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
21:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8123
</td>
<td align="right">
    .8136
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-25 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
21:55:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8125
</td>
<td align="right">
    .8136
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-25 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8135
</td>
<td align="right">
    .8132
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-25 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8132
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-25 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8138
</td>
<td align="right">
    .8134
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-25 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:20:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    .8136
</td>
<td align="right">
    .8145
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:25:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8131
</td>
<td align="right">
    .8144
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-25 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8145
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8146
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8140
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:45:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8135
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
22:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8136
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
23:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8133
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
23:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8132
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-24
23:10:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .8132
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-24
21:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  78.1825
</td>
<td align="right">
  78.3275
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-25 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-24
22:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  78.3775
</td>
<td align="right">
  78.3975
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-25 04:15:00
</td>
</tr>
</table>
<br /><hr />