<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
11:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9490
</td>
<td align="right">
    .9499
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-22 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
11:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9493
</td>
<td align="right">
    .9487
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
11:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9501
</td>
<td align="right">
    .9488
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
11:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9501
</td>
<td align="right">
    .9490
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-22 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
12:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9496
</td>
<td align="right">
    .9490
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
12:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9492
</td>
<td align="right">
    .9491
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
12:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9488
</td>
<td align="right">
    .9511
</td>
<td align="right">
  .0024
</td>
<td>
2011-07-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
12:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9490
</td>
<td align="right">
    .9516
</td>
<td align="right">
  .0028
</td>
<td>
2011-07-22 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
13:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9496
</td>
<td align="right">
    .9524
</td>
<td align="right">
  .0030
</td>
<td>
2011-07-22 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
13:05:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9490
</td>
<td align="right">
    .9521
</td>
<td align="right">
  .0033
</td>
<td>
2011-07-22 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
13:10:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9489
</td>
<td align="right">
    .9515
</td>
<td align="right">
  .0027
</td>
<td>
2011-07-22 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
13:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9491
</td>
<td align="right">
    .9517
</td>
<td align="right">
  .0027
</td>
<td>
2011-07-22 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
14:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9503
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-22 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
14:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9517
</td>
<td align="right">
    .9502
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
14:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9521
</td>
<td align="right">
    .9498
</td>
<td align="right">
 -.0024
</td>
<td>
2011-07-22 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
14:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9514
</td>
<td align="right">
    .9499
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
14:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9496
</td>
<td align="right">
 -.0020
</td>
<td>
2011-07-22 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
14:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9509
</td>
<td align="right">
    .9493
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-22 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-22
14:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9508
</td>
<td align="right">
    .9494
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-22 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
12:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8174
</td>
<td align="right">
    .8168
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-22 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
12:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8164
</td>
<td align="right">
    .8170
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
12:45:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8166
</td>
<td align="right">
    .8170
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
13:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8165
</td>
<td align="right">
    .8179
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-22 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
13:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8167
</td>
<td align="right">
    .8179
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-22 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
14:30:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8165
</td>
<td align="right">
    .8164
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
11:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  85.2411
</td>
<td align="right">
  85.1043
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
11:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  85.1186
</td>
<td align="right">
  85.1202
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
12:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  85.2658
</td>
<td align="right">
  85.1505
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-22 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
13:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  85.0729
</td>
<td align="right">
  84.9804
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-22 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
13:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  85.0772
</td>
<td align="right">
  84.9992
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-22 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
14:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  85.0586
</td>
<td align="right">
  85.0970
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
15:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.1037
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
13:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0852
</td>
<td align="right">
   1.0848
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
14:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0848
</td>
<td align="right">
   1.0860
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-22 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
11:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3251
</td>
<td align="right">
   1.3244
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
11:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3250
</td>
<td align="right">
   1.3234
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-22 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
11:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3254
</td>
<td align="right">
   1.3235
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-22 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
11:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3252
</td>
<td align="right">
   1.3230
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-22 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
11:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3254
</td>
<td align="right">
   1.3228
</td>
<td align="right">
 -.0020
</td>
<td>
2011-07-22 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3234
</td>
<td align="right">
   1.3219
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3235
</td>
<td align="right">
   1.3222
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-22 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
   1.3223
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3228
</td>
<td align="right">
   1.3237
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
   1.3237
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
   1.3235
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
   1.3229
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3233
</td>
<td align="right">
   1.3231
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3234
</td>
<td align="right">
   1.3223
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-22 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3239
</td>
<td align="right">
   1.3217
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
12:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3237
</td>
<td align="right">
   1.3213
</td>
<td align="right">
 -.0018
</td>
<td>
2011-07-22 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3225
</td>
<td align="right">
   1.3216
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-22 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3219
</td>
<td align="right">
   1.3214
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:10:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3222
</td>
<td align="right">
   1.3219
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3237
</td>
<td align="right">
   1.3216
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3237
</td>
<td align="right">
   1.3219
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-22 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3235
</td>
<td align="right">
   1.3219
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-22 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3229
</td>
<td align="right">
   1.3230
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3231
</td>
<td align="right">
   1.3235
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:45:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3223
</td>
<td align="right">
   1.3239
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-22 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3217
</td>
<td align="right">
   1.3234
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-22 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
13:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3213
</td>
<td align="right">
   1.3231
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-22 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3216
</td>
<td align="right">
   1.3225
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:10:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.3219
</td>
<td align="right">
   1.3220
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3220
</td>
<td align="right">
   1.3223
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3216
</td>
<td align="right">
   1.3231
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-22 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3219
</td>
<td align="right">
   1.3232
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-22 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3219
</td>
<td align="right">
   1.3235
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-22 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
   1.3234
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3235
</td>
<td align="right">
   1.3236
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
14:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3231
</td>
<td align="right">
   1.3240
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3225
</td>
<td align="right">
   1.3238
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-24 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3217
</td>
<td align="right">
   1.3237
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-24 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3220
</td>
<td align="right">
   1.3228
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-24 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3223
</td>
<td align="right">
   1.3230
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-24 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3231
</td>
<td align="right">
   1.3225
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-24 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3232
</td>
<td align="right">
   1.3228
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-24 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3235
</td>
<td align="right">
   1.3230
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-24 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3234
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:45:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3237
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3239
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
15:55:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3240
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
16:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3237
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
16:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3228
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
16:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
16:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3225
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
16:25:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.3228
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-22
16:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3230
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
11:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1812
</td>
<td align="right">
   1.1726
</td>
<td align="right">
 -.0073
</td>
<td>
2011-07-22 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
11:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.1802
</td>
<td align="right">
   1.1734
</td>
<td align="right">
 -.0058
</td>
<td>
2011-07-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
12:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1726
</td>
<td align="right">
   1.1727
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
12:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.1730
</td>
<td align="right">
   1.1723
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
13:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.1726
</td>
<td align="right">
   1.1721
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
13:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.1731
</td>
<td align="right">
   1.1730
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
13:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.1734
</td>
<td align="right">
   1.1708
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-22 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
13:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.1716
</td>
<td align="right">
   1.1728
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-22 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
13:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.1718
</td>
<td align="right">
   1.1729
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-22 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
13:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1723
</td>
<td align="right">
   1.1732
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
14:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1724
</td>
<td align="right">
   1.1728
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
15:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1722
</td>
<td align="right">
   1.1737
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-24 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-22
15:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1724
</td>
<td align="right">
   1.1737
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-24 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
11:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8826
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
11:35:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8826
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
11:40:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
    .8827
</td>
<td align="right">
    .8826
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
11:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8824
</td>
<td align="right">
    .8826
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
11:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8820
</td>
<td align="right">
    .8827
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
11:55:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    .8821
</td>
<td align="right">
    .8826
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8818
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-22 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8825
</td>
<td align="right">
    .8819
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:10:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8823
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8823
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8827
</td>
<td align="right">
    .8824
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:25:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8825
</td>
<td align="right">
    .8823
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8821
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:35:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8815
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-22 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:40:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8817
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-22 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:45:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8814
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-22 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:50:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    .8827
</td>
<td align="right">
    .8809
</td>
<td align="right">
 -.0021
</td>
<td>
2011-07-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
12:55:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8803
</td>
<td align="right">
 -.0026
</td>
<td>
2011-07-22 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
13:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8823
</td>
<td align="right">
    .8809
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
13:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8823
</td>
<td align="right">
    .8809
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
13:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8824
</td>
<td align="right">
    .8804
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-22 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
13:25:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8823
</td>
<td align="right">
    .8806
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-22 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
13:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8821
</td>
<td align="right">
    .8806
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-22 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
13:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8815
</td>
<td align="right">
    .8810
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
13:40:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8817
</td>
<td align="right">
    .8810
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-22 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
13:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8814
</td>
<td align="right">
    .8812
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
14:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8810
</td>
<td align="right">
    .8805
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
14:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8812
</td>
<td align="right">
    .8804
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-22 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
14:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8804
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-22 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
15:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8805
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
15:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8803
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
10:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 112.9845
</td>
<td align="right">
 112.8093
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
11:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 112.9291
</td>
<td align="right">
 112.5893
</td>
<td align="right">
 -.0030
</td>
<td>
2011-07-22 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
11:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 112.8817
</td>
<td align="right">
 112.6716
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
11:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 112.8093
</td>
<td align="right">
 112.6801
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
11:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 112.7186
</td>
<td align="right">
 112.6918
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
11:55:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 112.7513
</td>
<td align="right">
 112.6167
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-22 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 112.7965
</td>
<td align="right">
 112.4632
</td>
<td align="right">
 -.0030
</td>
<td>
2011-07-22 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 112.7951
</td>
<td align="right">
 112.5331
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 112.8454
</td>
<td align="right">
 112.5892
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-22 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 112.7761
</td>
<td align="right">
 112.5830
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-22 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 112.5670
</td>
<td align="right">
 112.7173
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-22 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 112.5925
</td>
<td align="right">
 112.6722
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 112.5863
</td>
<td align="right">
 112.6464
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:35:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
 112.5893
</td>
<td align="right">
 112.5458
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 112.6716
</td>
<td align="right">
 112.5617
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-22 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:45:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 112.6801
</td>
<td align="right">
 112.5006
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:50:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 112.6918
</td>
<td align="right">
 112.4323
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
12:55:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 112.6167
</td>
<td align="right">
 112.4433
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-22 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:00:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 112.4632
</td>
<td align="right">
 112.4177
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:05:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 112.5331
</td>
<td align="right">
 112.4225
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-22 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:10:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
 112.5892
</td>
<td align="right">
 112.4527
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-22 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 112.5830
</td>
<td align="right">
 112.4466
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-22 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 112.7173
</td>
<td align="right">
 112.3103
</td>
<td align="right">
 -.0036
</td>
<td>
2011-07-22 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 112.6722
</td>
<td align="right">
 112.3287
</td>
<td align="right">
 -.0030
</td>
<td>
2011-07-22 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 112.6464
</td>
<td align="right">
 112.3001
</td>
<td align="right">
 -.0031
</td>
<td>
2011-07-22 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 112.5458
</td>
<td align="right">
 112.4326
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-22 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 112.5617
</td>
<td align="right">
 112.4953
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 112.5006
</td>
<td align="right">
 112.5452
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 112.4323
</td>
<td align="right">
 112.5566
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-22 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
13:55:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 112.4433
</td>
<td align="right">
 112.5521
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-22 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 112.4177
</td>
<td align="right">
 112.5116
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:05:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 112.4225
</td>
<td align="right">
 112.4280
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 112.4527
</td>
<td align="right">
 112.4907
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 112.4466
</td>
<td align="right">
 112.5269
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:20:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 112.3103
</td>
<td align="right">
 112.5618
</td>
<td align="right">
  .0022
</td>
<td>
2011-07-22 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:25:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
 112.3287
</td>
<td align="right">
 112.6013
</td>
<td align="right">
  .0024
</td>
<td>
2011-07-22 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 112.3001
</td>
<td align="right">
 112.6118
</td>
<td align="right">
  .0028
</td>
<td>
2011-07-22 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 112.4953
</td>
<td align="right">
 112.6794
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-22 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
14:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 112.5521
</td>
<td align="right">
 112.6774
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-22 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
15:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 112.5116
</td>
<td align="right">
 112.6568
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-24 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
11:40:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.4392
</td>
<td align="right">
   1.4373
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
11:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4384
</td>
<td align="right">
   1.4372
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
11:50:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4379
</td>
<td align="right">
   1.4371
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
11:55:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4382
</td>
<td align="right">
   1.4363
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-22 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:00:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4387
</td>
<td align="right">
   1.4351
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-22 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4386
</td>
<td align="right">
   1.4359
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:10:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4391
</td>
<td align="right">
   1.4360
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-22 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4384
</td>
<td align="right">
   1.4358
</td>
<td align="right">
 -.0018
</td>
<td>
2011-07-22 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:20:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.4375
</td>
<td align="right">
   1.4369
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4376
</td>
<td align="right">
   1.4366
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-22 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.4377
</td>
<td align="right">
   1.4363
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-22 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:35:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.4373
</td>
<td align="right">
   1.4354
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-22 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:40:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.4373
</td>
<td align="right">
   1.4351
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-22 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4372
</td>
<td align="right">
   1.4341
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-22 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4371
</td>
<td align="right">
   1.4334
</td>
<td align="right">
 -.0026
</td>
<td>
2011-07-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
12:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4363
</td>
<td align="right">
   1.4332
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-22 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4351
</td>
<td align="right">
   1.4335
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-22 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:05:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.4359
</td>
<td align="right">
   1.4333
</td>
<td align="right">
 -.0018
</td>
<td>
2011-07-22 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:10:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4360
</td>
<td align="right">
   1.4340
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-22 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:15:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.4358
</td>
<td align="right">
   1.4341
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-22 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:20:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.4369
</td>
<td align="right">
   1.4326
</td>
<td align="right">
 -.0030
</td>
<td>
2011-07-22 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4366
</td>
<td align="right">
   1.4335
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-22 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:30:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4363
</td>
<td align="right">
   1.4340
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:35:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4354
</td>
<td align="right">
   1.4356
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:40:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4351
</td>
<td align="right">
   1.4359
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4341
</td>
<td align="right">
   1.4359
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-22 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:50:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.4334
</td>
<td align="right">
   1.4359
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-22 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
13:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4332
</td>
<td align="right">
   1.4366
</td>
<td align="right">
  .0024
</td>
<td>
2011-07-22 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:00:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.4335
</td>
<td align="right">
   1.4363
</td>
<td align="right">
  .0020
</td>
<td>
2011-07-22 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:05:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.4333
</td>
<td align="right">
   1.4355
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-22 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4340
</td>
<td align="right">
   1.4357
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-22 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4341
</td>
<td align="right">
   1.4360
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-22 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:20:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.4326
</td>
<td align="right">
   1.4362
</td>
<td align="right">
  .0025
</td>
<td>
2011-07-22 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4335
</td>
<td align="right">
   1.4362
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-22 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:30:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.4340
</td>
<td align="right">
   1.4365
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-22 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.4356
</td>
<td align="right">
   1.4373
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-22 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:40:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4359
</td>
<td align="right">
   1.4374
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-22 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4359
</td>
<td align="right">
   1.4362
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
14:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4366
</td>
<td align="right">
   1.4365
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
15:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4363
</td>
<td align="right">
   1.4363
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-24 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
15:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4355
</td>
<td align="right">
   1.4368
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-24 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
15:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4357
</td>
<td align="right">
   1.4360
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-24 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
15:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4360
</td>
<td align="right">
   1.4361
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-24 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
15:25:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4362
</td>
<td align="right">
   1.4352
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-24 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
16:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4368
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
16:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.4361
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-24 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
11:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8202
</td>
<td align="right">
    .8164
</td>
<td align="right">
 -.0047
</td>
<td>
2011-07-22 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
11:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8205
</td>
<td align="right">
    .8158
</td>
<td align="right">
 -.0057
</td>
<td>
2011-07-22 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
11:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8201
</td>
<td align="right">
    .8164
</td>
<td align="right">
 -.0045
</td>
<td>
2011-07-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
11:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8190
</td>
<td align="right">
    .8169
</td>
<td align="right">
 -.0026
</td>
<td>
2011-07-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
12:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8189
</td>
<td align="right">
    .8167
</td>
<td align="right">
 -.0028
</td>
<td>
2011-07-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
12:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8193
</td>
<td align="right">
    .8170
</td>
<td align="right">
 -.0028
</td>
<td>
2011-07-22 18:10:00
</td>
</tr>
</table>
<br /><hr />