<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
02:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 107.0425
</td>
<td align="right">
 106.8853
</td>
<td align="right">
 -.0015
</td>
<td>
2011-10-17 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-17
05:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0083
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
03:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8954
</td>
<td align="right">
    .8939
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-17 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
03:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8951
</td>
<td align="right">
    .8939
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-17 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-17
04:00:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8948
</td>
<td align="right">
    .8941
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-17 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-17
00:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.2298
</td>
<td align="right">
  77.2725
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:10:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  79.7761
</td>
<td align="right">
  79.6177
</td>
<td align="right">
 -.0020
</td>
<td>
2011-10-17 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
  79.7891
</td>
<td align="right">
  79.6512
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-17 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.7422
</td>
<td align="right">
  79.5559
</td>
<td align="right">
 -.0023
</td>
<td>
2011-10-17 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.7403
</td>
<td align="right">
  79.5392
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-17 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.7580
</td>
<td align="right">
  79.5868
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-17 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.7420
</td>
<td align="right">
  79.5668
</td>
<td align="right">
 -.0022
</td>
<td>
2011-10-17 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  79.7321
</td>
<td align="right">
  79.6183
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-17 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  79.7794
</td>
<td align="right">
  79.7026
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-17 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:05:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.5997
</td>
<td align="right">
  79.7175
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-17 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.6177
</td>
<td align="right">
  79.7273
</td>
<td align="right">
  .0014
</td>
<td>
2011-10-17 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.6512
</td>
<td align="right">
  79.6962
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.6525
</td>
<td align="right">
  79.6692
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-17 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  79.5559
</td>
<td align="right">
  79.6930
</td>
<td align="right">
  .0017
</td>
<td>
2011-10-17 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.5392
</td>
<td align="right">
  79.7001
</td>
<td align="right">
  .0020
</td>
<td>
2011-10-17 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.5533
</td>
<td align="right">
  79.6550
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-17 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
02:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.6962
</td>
<td align="right">
  79.6344
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-17 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
02:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.7001
</td>
<td align="right">
  79.5463
</td>
<td align="right">
 -.0019
</td>
<td>
2011-10-17 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
00:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3425
</td>
<td align="right">
   1.3437
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-17 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
00:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3431
</td>
<td align="right">
   1.3437
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
01:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3435
</td>
<td align="right">
   1.3428
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-17 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
01:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 106.9424
</td>
<td align="right">
 107.0356
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-17 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
01:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 106.9595
</td>
<td align="right">
 107.0406
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
01:50:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 106.9633
</td>
<td align="right">
 107.0425
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
03:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 106.8874
</td>
<td align="right">
 106.9274
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
03:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 106.8767
</td>
<td align="right">
 106.9074
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
03:50:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 106.8853
</td>
<td align="right">
 106.9217
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
03:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 106.8441
</td>
<td align="right">
 106.8966
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-17 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
04:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 106.8363
</td>
<td align="right">
 106.9054
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
04:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 106.8097
</td>
<td align="right">
 106.9541
</td>
<td align="right">
  .0014
</td>
<td>
2011-10-17 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
04:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 106.8348
</td>
<td align="right">
 106.9194
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
04:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 106.8970
</td>
<td align="right">
 106.9374
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
04:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 106.9078
</td>
<td align="right">
 106.9156
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-17 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
04:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 106.9274
</td>
<td align="right">
 106.9148
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-17
04:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0103
</td>
<td align="right">
   1.0087
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-17 10:05:00
</td>
</tr>
</table>
<br /><hr />