<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:10:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  84.8401
</td>
<td align="right">
  84.8825
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-13 06:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:15:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
  84.8474
</td>
<td align="right">
  84.8887
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-13 06:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:20:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  84.8462
</td>
<td align="right">
  84.9797
</td>
<td align="right">
  .0016
</td>
<td>
2011-06-13 06:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:25:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  84.8712
</td>
<td align="right">
  84.9667
</td>
<td align="right">
  .0011
</td>
<td>
2011-06-13 06:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:30:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  84.8608
</td>
<td align="right">
  84.9812
</td>
<td align="right">
  .0014
</td>
<td>
2011-06-13 06:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:35:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  84.9048
</td>
<td align="right">
  84.9692
</td>
<td align="right">
  .0008
</td>
<td>
2011-06-13 06:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:40:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  84.8788
</td>
<td align="right">
  85.0339
</td>
<td align="right">
  .0018
</td>
<td>
2011-06-13 06:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  84.9335
</td>
<td align="right">
  84.9729
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-13 06:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  84.9541
</td>
<td align="right">
  84.9942
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-13 06:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
00:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  84.9479
</td>
<td align="right">
  85.0711
</td>
<td align="right">
  .0015
</td>
<td>
2011-06-13 06:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:00:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  84.8718
</td>
<td align="right">
  85.0522
</td>
<td align="right">
  .0021
</td>
<td>
2011-06-13 07:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:05:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
  84.8615
</td>
<td align="right">
  85.0634
</td>
<td align="right">
  .0024
</td>
<td>
2011-06-13 07:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:10:00
</td>
<td align="right">
 -.96
</td>
<td>
Sell
</td>
<td align="right">
  84.8825
</td>
<td align="right">
  85.0077
</td>
<td align="right">
  .0015
</td>
<td>
2011-06-13 07:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:15:00
</td>
<td align="right">
 -.96
</td>
<td>
Sell
</td>
<td align="right">
  84.8887
</td>
<td align="right">
  85.0059
</td>
<td align="right">
  .0014
</td>
<td>
2011-06-13 07:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  84.9667
</td>
<td align="right">
  84.9395
</td>
<td align="right">
 -.0003
</td>
<td>
2011-06-13 07:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:35:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  84.9692
</td>
<td align="right">
  84.9193
</td>
<td align="right">
 -.0006
</td>
<td>
2011-06-13 07:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  85.0339
</td>
<td align="right">
  84.9560
</td>
<td align="right">
 -.0009
</td>
<td>
2011-06-13 07:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:45:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  84.9729
</td>
<td align="right">
  84.9720
</td>
<td align="right">
  .0000
</td>
<td>
2011-06-13 07:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  84.9942
</td>
<td align="right">
  84.9444
</td>
<td align="right">
 -.0006
</td>
<td>
2011-06-13 07:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
01:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  85.0711
</td>
<td align="right">
  85.0003
</td>
<td align="right">
 -.0008
</td>
<td>
2011-06-13 07:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  85.0522
</td>
<td align="right">
  84.9312
</td>
<td align="right">
 -.0014
</td>
<td>
2011-06-13 08:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:05:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  85.0634
</td>
<td align="right">
  84.9097
</td>
<td align="right">
 -.0018
</td>
<td>
2011-06-13 08:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:10:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  85.0077
</td>
<td align="right">
  84.8295
</td>
<td align="right">
 -.0021
</td>
<td>
2011-06-13 08:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:15:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  85.0059
</td>
<td align="right">
  84.8087
</td>
<td align="right">
 -.0023
</td>
<td>
2011-06-13 08:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:20:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
  84.9988
</td>
<td align="right">
  84.8025
</td>
<td align="right">
 -.0023
</td>
<td>
2011-06-13 08:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:25:00
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
  84.9395
</td>
<td align="right">
  84.7826
</td>
<td align="right">
 -.0018
</td>
<td>
2011-06-13 08:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:30:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
  84.9376
</td>
<td align="right">
  84.8518
</td>
<td align="right">
 -.0010
</td>
<td>
2011-06-13 08:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:35:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
  84.9193
</td>
<td align="right">
  84.8572
</td>
<td align="right">
 -.0007
</td>
<td>
2011-06-13 08:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:40:00
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
  84.9560
</td>
<td align="right">
  84.8337
</td>
<td align="right">
 -.0014
</td>
<td>
2011-06-13 08:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  84.9720
</td>
<td align="right">
  84.8148
</td>
<td align="right">
 -.0018
</td>
<td>
2011-06-13 08:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:50:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  84.9444
</td>
<td align="right">
  84.8308
</td>
<td align="right">
 -.0013
</td>
<td>
2011-06-13 08:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
02:55:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  85.0003
</td>
<td align="right">
  84.8422
</td>
<td align="right">
 -.0019
</td>
<td>
2011-06-13 08:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
03:00:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  84.9312
</td>
<td align="right">
  84.8690
</td>
<td align="right">
 -.0007
</td>
<td>
2011-06-13 09:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
03:05:00
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
  84.9097
</td>
<td align="right">
  84.8614
</td>
<td align="right">
 -.0006
</td>
<td>
2011-06-13 09:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
03:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  84.8295
</td>
<td align="right">
  84.8607
</td>
<td align="right">
  .0004
</td>
<td>
2011-06-13 09:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
03:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  84.8025
</td>
<td align="right">
  84.8954
</td>
<td align="right">
  .0011
</td>
<td>
2011-06-13 09:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
03:30:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  84.8518
</td>
<td align="right">
  84.8458
</td>
<td align="right">
 -.0001
</td>
<td>
2011-06-13 09:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
03:35:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
  84.8572
</td>
<td align="right">
  84.8670
</td>
<td align="right">
  .0001
</td>
<td>
2011-06-13 09:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:00:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  84.8690
</td>
<td align="right">
  84.9150
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-13 10:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:05:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  84.8614
</td>
<td align="right">
  84.9355
</td>
<td align="right">
  .0009
</td>
<td>
2011-06-13 10:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:10:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  84.8607
</td>
<td align="right">
  84.9503
</td>
<td align="right">
  .0011
</td>
<td>
2011-06-13 10:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:15:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
  84.8903
</td>
<td align="right">
  84.9359
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-13 10:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:20:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
  84.8954
</td>
<td align="right">
  84.9048
</td>
<td align="right">
  .0001
</td>
<td>
2011-06-13 10:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  84.8458
</td>
<td align="right">
  84.8932
</td>
<td align="right">
  .0006
</td>
<td>
2011-06-13 10:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:35:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
  84.8670
</td>
<td align="right">
  84.8691
</td>
<td align="right">
  .0000
</td>
<td>
2011-06-13 10:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  84.8690
</td>
<td align="right">
  84.8970
</td>
<td align="right">
  .0003
</td>
<td>
2011-06-13 10:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:45:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  84.8741
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 10:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:50:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  84.8851
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 10:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
04:55:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  84.9060
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 10:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
05:00:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  84.9150
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 11:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
05:05:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  84.9355
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 11:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
05:10:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  84.9503
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 11:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
05:15:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  84.9359
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 11:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
05:20:00
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
  84.9048
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 11:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
05:25:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  84.8970
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 11:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-13
05:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  84.8932
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-13 11:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurjpy=X">eur_jpy</a></td>
<td>
2011-06-12
23:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 115.2077
</td>
<td align="right">
 115.4748
</td>
<td align="right">
  .0023
</td>
<td>
2011-06-13 05:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurjpy=X">eur_jpy</a></td>
<td>
2011-06-13
00:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 115.3048
</td>
<td align="right">
 115.3937
</td>
<td align="right">
  .0008
</td>
<td>
2011-06-13 06:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurjpy=X">eur_jpy</a></td>
<td>
2011-06-13
00:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 115.3334
</td>
<td align="right">
 115.5761
</td>
<td align="right">
  .0021
</td>
<td>
2011-06-13 06:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurjpy=X">eur_jpy</a></td>
<td>
2011-06-13
02:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 115.5370
</td>
<td align="right">
 115.4379
</td>
<td align="right">
 -.0009
</td>
<td>
2011-06-13 08:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurjpy=X">eur_jpy</a></td>
<td>
2011-06-13
03:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 115.3823
</td>
<td align="right">
 115.5252
</td>
<td align="right">
  .0012
</td>
<td>
2011-06-13 09:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurjpy=X">eur_jpy</a></td>
<td>
2011-06-13
03:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 115.3891
</td>
<td align="right">
 115.5101
</td>
<td align="right">
  .0010
</td>
<td>
2011-06-13 09:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurjpy=X">eur_jpy</a></td>
<td>
2011-06-13
04:00:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 115.4903
</td>
<td align="right">
 115.5349
</td>
<td align="right">
  .0004
</td>
<td>
2011-06-13 10:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
01:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8836
</td>
<td align="right">
  .0004
</td>
<td>
2011-06-13 07:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
01:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8831
</td>
<td align="right">
    .8835
</td>
<td align="right">
  .0004
</td>
<td>
2011-06-13 07:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
01:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8831
</td>
<td align="right">
    .8835
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-13 07:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
01:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8831
</td>
<td align="right">
    .8836
</td>
<td align="right">
  .0006
</td>
<td>
2011-06-13 07:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
01:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8838
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-13 07:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
01:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8838
</td>
<td align="right">
  .0006
</td>
<td>
2011-06-13 07:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
02:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8836
</td>
<td align="right">
    .8836
</td>
<td align="right">
  .0001
</td>
<td>
2011-06-13 08:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
02:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8835
</td>
<td align="right">
    .8833
</td>
<td align="right">
 -.0002
</td>
<td>
2011-06-13 08:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
02:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8835
</td>
<td align="right">
    .8834
</td>
<td align="right">
 -.0001
</td>
<td>
2011-06-13 08:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
02:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8838
</td>
<td align="right">
    .8835
</td>
<td align="right">
 -.0003
</td>
<td>
2011-06-13 08:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
02:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8838
</td>
<td align="right">
    .8833
</td>
<td align="right">
 -.0006
</td>
<td>
2011-06-13 08:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
03:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8835
</td>
<td align="right">
    .8836
</td>
<td align="right">
  .0000
</td>
<td>
2011-06-13 09:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-13
03:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8834
</td>
<td align="right">
  .0002
</td>
<td>
2011-06-13 09:10:00
</td>
</tr>
</table>
