<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-19
01:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8761
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-18
20:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 105.7398
</td>
<td align="right">
 105.5495
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-19 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-18
20:05:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
 105.8136
</td>
<td align="right">
 105.5514
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-19 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-18
20:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 105.7196
</td>
<td align="right">
 105.5729
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-19 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-18
20:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 105.7879
</td>
<td align="right">
 105.5499
</td>
<td align="right">
 -.0022
</td>
<td>
2011-10-19 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-18
20:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 105.6517
</td>
<td align="right">
 105.4687
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-19 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-18
20:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 105.6785
</td>
<td align="right">
 105.5066
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-19 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-18
23:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  78.6672
</td>
<td align="right">
  78.6450
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-19 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
00:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  78.6448
</td>
<td align="right">
  78.5982
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-19 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
00:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  78.5690
</td>
<td align="right">
  78.6302
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-19 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
00:20:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
  78.5971
</td>
<td align="right">
  78.6187
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-19 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
00:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  78.5805
</td>
<td align="right">
  78.6686
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-19 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
00:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  78.6450
</td>
<td align="right">
  78.7319
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-19 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
01:00:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
  78.5982
</td>
<td align="right">
  78.5727
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-19 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
01:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  78.6302
</td>
<td align="right">
  78.5574
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-19 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
01:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  78.6181
</td>
<td align="right">
  78.5599
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-19 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-19
01:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  78.6916
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-19
01:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0259
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-19
01:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0263
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-19
01:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0262
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-19
01:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0264
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-19
01:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0248
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-19
02:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0247
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-19
02:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0244
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-18
23:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8743
</td>
<td align="right">
    .8745
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-19 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-18
23:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8745
</td>
<td align="right">
    .8752
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-19 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-19
01:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3774
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-19 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:00:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8982
</td>
<td align="right">
    .8992
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-19 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8978
</td>
<td align="right">
    .8991
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-19 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8984
</td>
<td align="right">
    .8992
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-19 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8984
</td>
<td align="right">
    .8994
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-19 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8983
</td>
<td align="right">
    .8997
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-19 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8987
</td>
<td align="right">
    .8993
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-19 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8986
</td>
<td align="right">
    .8997
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-19 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:40:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8987
</td>
<td align="right">
    .8995
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-19 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
20:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8988
</td>
<td align="right">
    .8994
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-19 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
21:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8992
</td>
<td align="right">
    .8992
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-19 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
21:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8992
</td>
<td align="right">
    .8992
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-19 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
21:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8997
</td>
<td align="right">
    .8992
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-19 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
21:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8993
</td>
<td align="right">
    .8993
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-19 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
21:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8993
</td>
<td align="right">
    .8995
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-19 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
21:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8997
</td>
<td align="right">
    .8993
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-19 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
22:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8994
</td>
<td align="right">
    .8994
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-19 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
22:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8992
</td>
<td align="right">
    .8993
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-19 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-18
22:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8993
</td>
<td align="right">
    .8993
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-19 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-19
00:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8999
</td>
<td align="right">
    .8978
</td>
<td align="right">
 -.0023
</td>
<td>
2011-10-19 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-19
00:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8983
</td>
<td align="right">
    .8979
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-19 06:45:00
</td>
</tr>
</table>
<br /><hr />