<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8002
</td>
<td align="right">
    .7999
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-27 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .7998
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .7998
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8001
</td>
<td align="right">
    .7998
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-27 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8001
</td>
<td align="right">
    .7998
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
07:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .7999
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
07:30:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .8003
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-27 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
07:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .7998
</td>
<td align="right">
    .8003
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
07:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7998
</td>
<td align="right">
    .8001
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
08:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7998
</td>
<td align="right">
    .8001
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
10:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8013
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
10:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8011
</td>
<td align="right">
    .8019
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-27 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
11:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
11:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
11:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8018
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
12:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8016
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
11:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  77.9025
</td>
<td align="right">
  77.8500
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-27 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
11:30:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  77.8650
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
11:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  77.8200
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
11:50:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  77.8275
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
12:05:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  77.8275
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8831
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8829
</td>
<td align="right">
    .8827
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8829
</td>
<td align="right">
    .8826
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-27 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
07:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8832
</td>
<td align="right">
    .8818
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-27 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
09:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8832
</td>
<td align="right">
    .8835
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
10:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8834
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-27 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-27
08:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 112.5005
</td>
<td align="right">
 112.6800
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-27 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4491
</td>
<td align="right">
   1.4475
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-27 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4479
</td>
<td align="right">
   1.4489
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4479
</td>
<td align="right">
   1.4489
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.4481
</td>
<td align="right">
   1.4490
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
08:00:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4493
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
08:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4481
</td>
<td align="right">
   1.4498
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-27 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
08:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4479
</td>
<td align="right">
   1.4497
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-27 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
09:40:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
   1.4488
</td>
<td align="right">
   1.4464
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-27 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
09:45:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4463
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-27 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
09:50:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.4482
</td>
<td align="right">
   1.4464
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-27 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
09:55:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.4489
</td>
<td align="right">
   1.4464
</td>
<td align="right">
 -.0018
</td>
<td>
2011-07-27 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
10:00:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.4488
</td>
<td align="right">
   1.4465
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-27 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
10:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4484
</td>
<td align="right">
   1.4469
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-27 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
10:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4464
</td>
<td align="right">
   1.4451
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-27 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
11:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4465
</td>
<td align="right">
   1.4451
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-27 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
11:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4472
</td>
<td align="right">
   1.4449
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-27 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
11:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.4464
</td>
<td align="right">
   1.4454
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-27 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
11:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4457
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
11:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4448
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
11:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4454
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
11:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.4451
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
12:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4451
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 18:00:00
</td>
</tr>
</table>
<br /><hr />