<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
11:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0603
</td>
<td align="right">
   1.0577
</td>
<td align="right">
 -.0025
</td>
<td>
2011-08-09 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
11:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  77.1725
</td>
<td align="right">
  77.2263
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-09 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-09
12:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  77.2263
</td>
<td align="right">
  77.2300
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-09 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
13:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7384
</td>
<td align="right">
    .7403
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-09 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
14:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .7382
</td>
<td align="right">
    .7386
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-09 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
14:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .7384
</td>
<td align="right">
    .7383
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-09 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
14:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7381
</td>
<td align="right">
    .7383
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-09 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7382
</td>
<td align="right">
    .7277
</td>
<td align="right">
 -.0142
</td>
<td>
2011-08-09 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7379
</td>
<td align="right">
    .7294
</td>
<td align="right">
 -.0115
</td>
<td>
2011-08-09 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .7371
</td>
<td align="right">
    .7297
</td>
<td align="right">
 -.0100
</td>
<td>
2011-08-09 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .7333
</td>
<td align="right">
    .7296
</td>
<td align="right">
 -.0050
</td>
<td>
2011-08-09 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
15:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .7316
</td>
<td align="right">
    .7299
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-09 21:55:00
</td>
</tr>
</table>
<br /><hr />