<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-04
02:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3384
</td>
<td align="right">
   1.3361
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-04 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
02:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7756
</td>
<td align="right">
    .7778
</td>
<td align="right">
  .0028
</td>
<td>
2011-08-04 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
02:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7746
</td>
<td align="right">
    .7772
</td>
<td align="right">
  .0035
</td>
<td>
2011-08-04 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
02:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7749
</td>
<td align="right">
    .7770
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-04 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
03:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .7763
</td>
<td align="right">
    .7769
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-04 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
04:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7768
</td>
<td align="right">
    .7781
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
04:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .7768
</td>
<td align="right">
    .7785
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-04 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
04:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7767
</td>
<td align="right">
    .7785
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-04 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
04:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .7776
</td>
<td align="right">
    .7785
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-04 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
05:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .7784
</td>
<td align="right">
    .7770
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-04 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
07:10:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .7777
</td>
<td align="right">
    .7775
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-04 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
07:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7782
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-04
03:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8727
</td>
<td align="right">
    .8722
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-04 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
03:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 112.9983
</td>
<td align="right">
 113.0547
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-04 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
03:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 112.8680
</td>
<td align="right">
 113.2158
</td>
<td align="right">
  .0031
</td>
<td>
2011-08-04 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
03:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 112.8804
</td>
<td align="right">
 113.3086
</td>
<td align="right">
  .0038
</td>
<td>
2011-08-04 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
03:55:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 112.9281
</td>
<td align="right">
 113.2144
</td>
<td align="right">
  .0025
</td>
<td>
2011-08-04 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 112.8734
</td>
<td align="right">
 113.2230
</td>
<td align="right">
  .0031
</td>
<td>
2011-08-04 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 112.9389
</td>
<td align="right">
 113.2690
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-04 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 113.0307
</td>
<td align="right">
 113.1733
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-04 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 113.0583
</td>
<td align="right">
 113.2174
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-04 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 113.0547
</td>
<td align="right">
 113.2594
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-04 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 113.0910
</td>
<td align="right">
 113.2464
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-04 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 113.1280
</td>
<td align="right">
 113.2767
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-04 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 113.1681
</td>
<td align="right">
 113.3562
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-04 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:40:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 113.2086
</td>
<td align="right">
 113.2201
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-04 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 113.2158
</td>
<td align="right">
 113.2971
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-04 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 113.3086
</td>
<td align="right">
 113.3233
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-04 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
04:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 113.2144
</td>
<td align="right">
 113.2947
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-04 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:00:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
 113.2230
</td>
<td align="right">
 113.3451
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-04 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:05:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 113.2690
</td>
<td align="right">
 113.3933
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-04 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:10:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 113.1733
</td>
<td align="right">
 113.3594
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 113.2174
</td>
<td align="right">
 113.4781
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-04 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 113.2594
</td>
<td align="right">
 113.5074
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-04 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 113.2464
</td>
<td align="right">
 113.6258
</td>
<td align="right">
  .0034
</td>
<td>
2011-08-04 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 113.2767
</td>
<td align="right">
 113.6250
</td>
<td align="right">
  .0031
</td>
<td>
2011-08-04 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:35:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
 113.3562
</td>
<td align="right">
 113.6997
</td>
<td align="right">
  .0030
</td>
<td>
2011-08-04 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:40:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
 113.2201
</td>
<td align="right">
 113.6916
</td>
<td align="right">
  .0042
</td>
<td>
2011-08-04 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:45:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
 113.2971
</td>
<td align="right">
 113.7740
</td>
<td align="right">
  .0042
</td>
<td>
2011-08-04 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
05:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 113.3233
</td>
<td align="right">
 113.7556
</td>
<td align="right">
  .0038
</td>
<td>
2011-08-04 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
06:00:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 113.3451
</td>
<td align="right">
 113.7664
</td>
<td align="right">
  .0037
</td>
<td>
2011-08-04 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
06:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 113.3594
</td>
<td align="right">
 113.7736
</td>
<td align="right">
  .0037
</td>
<td>
2011-08-04 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
06:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 113.5074
</td>
<td align="right">
 113.6149
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-04 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
06:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 113.6258
</td>
<td align="right">
 113.7038
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-04 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
06:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 113.6250
</td>
<td align="right">
 113.8181
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-04 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
06:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 113.6916
</td>
<td align="right">
 113.8760
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
06:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 113.7740
</td>
<td align="right">
 113.8533
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-04 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
06:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 113.7556
</td>
<td align="right">
 113.8972
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-04 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 113.7664
</td>
<td align="right">
 113.9430
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:05:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 113.7831
</td>
<td align="right">
 113.8323
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-04 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 113.7736
</td>
<td align="right">
 113.8712
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-04 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 113.6302
</td>
<td align="right">
 113.9298
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-04 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 113.6149
</td>
<td align="right">
 113.9431
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-04 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 113.7038
</td>
<td align="right">
 113.9413
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-04 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 113.8446
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 113.8533
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
07:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 113.8972
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-04
08:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 113.9430
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 14:00:00
</td>
</tr>
</table>
<br /><hr />