<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
01:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9796
</td>
<td align="right">
    .9754
</td>
<td align="right">
 -.0043
</td>
<td>
2011-09-30 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
01:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9787
</td>
<td align="right">
    .9752
</td>
<td align="right">
 -.0035
</td>
<td>
2011-09-30 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
01:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9787
</td>
<td align="right">
    .9752
</td>
<td align="right">
 -.0036
</td>
<td>
2011-09-30 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
02:00:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9789
</td>
<td align="right">
    .9749
</td>
<td align="right">
 -.0041
</td>
<td>
2011-09-30 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
02:05:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9754
</td>
<td align="right">
 -.0036
</td>
<td>
2011-09-30 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
02:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9764
</td>
<td align="right">
    .9758
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-30 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
05:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9781
</td>
<td align="right">
    .9765
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-30 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
05:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9785
</td>
<td align="right">
    .9756
</td>
<td align="right">
 -.0030
</td>
<td>
2011-09-30 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
05:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9781
</td>
<td align="right">
    .9732
</td>
<td align="right">
 -.0051
</td>
<td>
2011-09-30 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
05:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9782
</td>
<td align="right">
    .9728
</td>
<td align="right">
 -.0056
</td>
<td>
2011-09-30 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
01:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8691
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-30 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
01:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8695
</td>
<td align="right">
    .8687
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-30 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
01:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8693
</td>
<td align="right">
    .8683
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-30 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
01:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8692
</td>
<td align="right">
    .8684
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-30 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8694
</td>
<td align="right">
    .8683
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-30 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8693
</td>
<td align="right">
    .8686
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-30 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8691
</td>
<td align="right">
    .8683
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-30 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:15:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8683
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-30 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8689
</td>
<td align="right">
    .8684
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-30 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8689
</td>
<td align="right">
    .8681
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-30 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8689
</td>
<td align="right">
    .8682
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-30 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8679
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-30 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8691
</td>
<td align="right">
    .8679
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-30 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8687
</td>
<td align="right">
    .8680
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-30 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
02:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8678
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-30 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
03:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8680
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-30 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
03:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8682
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-30 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
03:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8681
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-30 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
03:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8684
</td>
<td align="right">
    .8682
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-30 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
03:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8681
</td>
<td align="right">
    .8681
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-30 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
03:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8682
</td>
<td align="right">
    .8680
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-30 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
03:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8680
</td>
<td align="right">
    .8680
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-30 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
03:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8678
</td>
<td align="right">
    .8680
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-30 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
04:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8678
</td>
<td align="right">
    .8681
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-30 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
04:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8682
</td>
<td align="right">
    .8683
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-30 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
04:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8682
</td>
<td align="right">
    .8685
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-30 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
05:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8692
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-30 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
05:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8682
</td>
<td align="right">
    .8699
</td>
<td align="right">
  .0019
</td>
<td>
2011-09-30 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
05:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8685
</td>
<td align="right">
    .8691
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-30 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
05:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8691
</td>
<td align="right">
    .8683
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-30 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
06:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8684
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-30 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
06:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8683
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-30 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-30
07:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8682
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-30 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-30
01:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3568
</td>
<td align="right">
   1.3562
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-30 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-30
02:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3564
</td>
<td align="right">
   1.3539
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-30 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-30
02:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3554
</td>
<td align="right">
   1.3537
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-30 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-30
02:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3559
</td>
<td align="right">
   1.3528
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-30 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
07:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9721
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-30 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-30
07:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9724
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-30 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
03:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3873
</td>
<td align="right">
   1.3870
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-30 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
04:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3872
</td>
<td align="right">
   1.3856
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-30 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
04:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3865
</td>
<td align="right">
   1.3857
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-30 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
04:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3858
</td>
<td align="right">
   1.3863
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-30 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
05:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3857
</td>
<td align="right">
   1.3862
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-30 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
05:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3856
</td>
<td align="right">
   1.3871
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-30 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
05:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3853
</td>
<td align="right">
   1.3872
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-30 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
05:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3855
</td>
<td align="right">
   1.3876
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-30 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
05:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3851
</td>
<td align="right">
   1.3892
</td>
<td align="right">
  .0030
</td>
<td>
2011-09-30 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
05:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3845
</td>
<td align="right">
   1.3887
</td>
<td align="right">
  .0031
</td>
<td>
2011-09-30 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
05:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3857
</td>
<td align="right">
   1.3884
</td>
<td align="right">
  .0020
</td>
<td>
2011-09-30 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-30
06:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3862
</td>
<td align="right">
   1.3883
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-30 12:05:00
</td>
</tr>
</table>
<br /><hr />