<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
15:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  74.4865
</td>
<td align="right">
  74.2132
</td>
<td align="right">
 -.0037
</td>
<td>
2011-09-26 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
13:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9734
</td>
<td align="right">
    .9718
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-26 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
15:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 103.2374
</td>
<td align="right">
 103.0010
</td>
<td align="right">
 -.0023
</td>
<td>
2011-09-26 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
15:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 103.2130
</td>
<td align="right">
 103.0262
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-26 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
15:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 103.1860
</td>
<td align="right">
 103.0063
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-26 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
15:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 103.1569
</td>
<td align="right">
 103.0242
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-26 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
15:40:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
 103.2186
</td>
<td align="right">
 102.9478
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-26 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
15:55:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 103.2029
</td>
<td align="right">
 102.9142
</td>
<td align="right">
 -.0028
</td>
<td>
2011-09-26 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
16:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 103.0662
</td>
<td align="right">
 102.8463
</td>
<td align="right">
 -.0021
</td>
<td>
2011-09-26 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
16:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 103.0010
</td>
<td align="right">
 102.9246
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-26 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
16:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 103.0242
</td>
<td align="right">
 102.8357
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-26 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-26
16:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3495
</td>
<td align="right">
   1.3453
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-26 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-26
16:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3487
</td>
<td align="right">
   1.3452
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-26 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
16:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0338
</td>
<td align="right">
   1.0331
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-26 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
16:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0333
</td>
<td align="right">
   1.0333
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-26 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0344
</td>
<td align="right">
   1.0328
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-26 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:20:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.0338
</td>
<td align="right">
   1.0335
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-26 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0335
</td>
<td align="right">
   1.0333
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-26 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.0337
</td>
<td align="right">
   1.0326
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-26 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0331
</td>
<td align="right">
   1.0329
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-26 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:40:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.0333
</td>
<td align="right">
   1.0333
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-26 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:45:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.0334
</td>
<td align="right">
   1.0333
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-26 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0329
</td>
<td align="right">
   1.0332
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-26 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
18:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0337
</td>
<td align="right">
   1.0305
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-27 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
14:55:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  74.2315
</td>
<td align="right">
  74.4505
</td>
<td align="right">
  .0030
</td>
<td>
2011-09-26 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
17:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  74.3371
</td>
<td align="right">
  74.5620
</td>
<td align="right">
  .0030
</td>
<td>
2011-09-26 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
17:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  74.3349
</td>
<td align="right">
  74.6130
</td>
<td align="right">
  .0037
</td>
<td>
2011-09-26 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
18:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  74.6012
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
16:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9728
</td>
<td align="right">
    .9711
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-26 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
16:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9709
</td>
<td align="right">
    .9723
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-26 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
17:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9711
</td>
<td align="right">
    .9768
</td>
<td align="right">
  .0059
</td>
<td>
2011-09-26 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
18:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3785
</td>
<td align="right">
   1.3802
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-27 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:25:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.3777
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:30:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.3760
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:35:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3755
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:40:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
   1.3758
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-26
14:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8670
</td>
<td align="right">
    .8693
</td>
<td align="right">
  .0026
</td>
<td>
2011-09-26 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-26
15:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8674
</td>
<td align="right">
    .8680
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-26 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
14:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 102.6678
</td>
<td align="right">
 102.9678
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-26 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
14:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 102.4816
</td>
<td align="right">
 103.0731
</td>
<td align="right">
  .0058
</td>
<td>
2011-09-26 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
16:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 102.9082
</td>
<td align="right">
 102.8366
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-26 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
16:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 102.9142
</td>
<td align="right">
 102.8663
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-26 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
17:15:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 102.8980
</td>
<td align="right">
 102.7724
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-26 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
17:20:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 102.9246
</td>
<td align="right">
 102.7728
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-26 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
19:00:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 103.0779
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 01:00:00
</td>
</tr>
</table>
<br /><hr />