<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
02:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8822
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-25 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-25
02:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8824
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-25 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
01:50:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 112.8444
</td>
<td align="right">
 112.7438
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-25 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
02:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 112.8199
</td>
<td align="right">
 112.7039
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-25 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
02:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 112.8124
</td>
<td align="right">
 112.7250
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-25 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
04:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 112.7189
</td>
<td align="right">
 112.6823
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-25 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
05:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 112.5953
</td>
<td align="right">
 112.7039
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-25 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-25
05:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 112.6148
</td>
<td align="right">
 112.6482
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-25 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-25
01:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4399
</td>
<td align="right">
   1.4385
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-25 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:20:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  78.3975
</td>
<td align="right">
  78.3850
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:25:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
  78.3975
</td>
<td align="right">
  78.3875
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:30:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  78.3875
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-25 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  78.3850
</td>
<td align="right">
  78.4225
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-25 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.3888
</td>
<td align="right">
  78.4925
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-25 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:45:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.4900
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-25 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
03:55:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.4800
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:00:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  78.3900
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  78.3825
</td>
<td align="right">
  78.4650
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  78.3800
</td>
<td align="right">
  78.4588
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-25 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  78.3850
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:25:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  78.3875
</td>
<td align="right">
  78.4713
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-25 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  78.3950
</td>
<td align="right">
  78.5025
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-25 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  78.4925
</td>
<td align="right">
  78.4663
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-25 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  78.5200
</td>
<td align="right">
  78.4675
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-25 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
04:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  78.4800
</td>
<td align="right">
  78.4675
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-25 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:00:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  78.4675
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-25 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  78.5000
</td>
<td align="right">
  78.4100
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-25 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  78.3975
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-25 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  78.4713
</td>
<td align="right">
  78.3875
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-25 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  78.5025
</td>
<td align="right">
  78.3788
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-25 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  78.4800
</td>
<td align="right">
  78.3750
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-25 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:40:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
  78.4663
</td>
<td align="right">
  78.3975
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-25 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  78.4750
</td>
<td align="right">
  78.3775
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-25 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  78.4675
</td>
<td align="right">
  78.3625
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-25 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
05:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  78.4675
</td>
<td align="right">
  78.3450
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-25 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
06:00:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  78.4675
</td>
<td align="right">
  78.3650
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-25 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-25
06:05:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  78.4300
</td>
<td align="right">
  78.3650
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-25 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
02:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9519
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-25 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
02:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9515
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-25 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
03:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9523
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
03:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9521
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-25 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9524
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9524
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-25 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9523
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9516
</td>
<td align="right">
    .9523
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9522
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
04:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9515
</td>
<td align="right">
    .9522
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-25 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-25
06:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9517
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-25 12:25:00
</td>
</tr>
</table>
<br /><hr />