<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-15
20:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  84.3082
</td>
<td align="right">
  84.0942
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-18 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-17
22:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  84.2862
</td>
<td align="right">
  84.1948
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-18 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-17
22:35:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  84.2862
</td>
<td align="right">
  84.1565
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-18 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-17
22:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  84.2504
</td>
<td align="right">
  84.1661
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-18 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-17
23:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  84.1702
</td>
<td align="right">
  83.9629
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-18 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-17
23:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  84.1948
</td>
<td align="right">
  83.9078
</td>
<td align="right">
 -.0034
</td>
<td>
2011-07-18 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-15
19:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0632
</td>
<td align="right">
   1.0657
</td>
<td align="right">
  .0024
</td>
<td>
2011-07-18 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-15
19:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0639
</td>
<td align="right">
   1.0659
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-18 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-15
20:10:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0657
</td>
<td align="right">
   1.0647
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-18 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-15
20:20:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.0659
</td>
<td align="right">
   1.0641
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-18 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-15
20:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.0653
</td>
<td align="right">
   1.0635
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-18 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-15
20:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0651
</td>
<td align="right">
   1.0642
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-18 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-15
20:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.0648
</td>
<td align="right">
   1.0642
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-18 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
21:15:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0643
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-18 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
21:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0646
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-18 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
21:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0650
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-18 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
21:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0637
</td>
<td align="right">
   1.0652
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-18 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
23:10:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.0653
</td>
<td align="right">
   1.0623
</td>
<td align="right">
 -.0028
</td>
<td>
2011-07-18 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
23:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0649
</td>
<td align="right">
   1.0611
</td>
<td align="right">
 -.0036
</td>
<td>
2011-07-18 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
23:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0646
</td>
<td align="right">
   1.0615
</td>
<td align="right">
 -.0029
</td>
<td>
2011-07-18 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
23:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.0648
</td>
<td align="right">
   1.0594
</td>
<td align="right">
 -.0051
</td>
<td>
2011-07-18 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
23:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.0646
</td>
<td align="right">
   1.0596
</td>
<td align="right">
 -.0047
</td>
<td>
2011-07-18 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
23:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0649
</td>
<td align="right">
   1.0605
</td>
<td align="right">
 -.0042
</td>
<td>
2011-07-18 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-17
23:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0644
</td>
<td align="right">
   1.0593
</td>
<td align="right">
 -.0048
</td>
<td>
2011-07-18 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-17
23:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4127
</td>
<td align="right">
   1.4071
</td>
<td align="right">
 -.0039
</td>
<td>
2011-07-18 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
19:15:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    .8136
</td>
<td align="right">
    .8127
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-18 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
19:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8129
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-18 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
19:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8137
</td>
<td align="right">
    .8139
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-18 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
19:45:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8135
</td>
<td align="right">
    .8148
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-18 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
19:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8136
</td>
<td align="right">
    .8155
</td>
<td align="right">
  .0024
</td>
<td>
2011-07-18 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
19:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8128
</td>
<td align="right">
    .8150
</td>
<td align="right">
  .0027
</td>
<td>
2011-07-18 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
20:00:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8130
</td>
<td align="right">
    .8096
</td>
<td align="right">
 -.0042
</td>
<td>
2011-07-18 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
20:05:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    .8130
</td>
<td align="right">
    .8096
</td>
<td align="right">
 -.0042
</td>
<td>
2011-07-18 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
20:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8132
</td>
<td align="right">
    .8093
</td>
<td align="right">
 -.0048
</td>
<td>
2011-07-18 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
20:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8127
</td>
<td align="right">
    .8098
</td>
<td align="right">
 -.0036
</td>
<td>
2011-07-18 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
20:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8129
</td>
<td align="right">
    .8100
</td>
<td align="right">
 -.0036
</td>
<td>
2011-07-18 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
20:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8137
</td>
<td align="right">
    .8099
</td>
<td align="right">
 -.0046
</td>
<td>
2011-07-18 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
20:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8095
</td>
<td align="right">
 -.0053
</td>
<td>
2011-07-18 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-15
20:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8148
</td>
<td align="right">
    .8101
</td>
<td align="right">
 -.0058
</td>
<td>
2011-07-18 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8096
</td>
<td align="right">
    .8099
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-18 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8096
</td>
<td align="right">
    .8100
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-18 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8093
</td>
<td align="right">
    .8103
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-18 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8098
</td>
<td align="right">
    .8106
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-18 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:35:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8097
</td>
<td align="right">
    .8105
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-18 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8100
</td>
<td align="right">
    .8107
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-18 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8099
</td>
<td align="right">
    .8110
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-18 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:50:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8095
</td>
<td align="right">
    .8109
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-18 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
21:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8098
</td>
<td align="right">
    .8110
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-18 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
22:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8105
</td>
<td align="right">
    .8107
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-18 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
22:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8107
</td>
<td align="right">
    .8107
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-18 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
22:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8110
</td>
<td align="right">
    .8106
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-18 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
22:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8109
</td>
<td align="right">
    .8108
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-18 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
22:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8110
</td>
<td align="right">
    .8106
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-18 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
23:00:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8108
</td>
<td align="right">
    .8113
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-18 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
23:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8110
</td>
<td align="right">
    .8114
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-18 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
23:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8107
</td>
<td align="right">
    .8115
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-18 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
23:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8107
</td>
<td align="right">
    .8117
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-18 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
23:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8107
</td>
<td align="right">
    .8115
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-18 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
23:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8106
</td>
<td align="right">
    .8113
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-18 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-17
23:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8108
</td>
<td align="right">
    .8116
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-18 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
00:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8113
</td>
<td align="right">
    .8119
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-18 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
00:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8115
</td>
<td align="right">
    .8120
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-18 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
00:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8117
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-18 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
00:45:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8113
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-18 06:45:00
</td>
</tr>
</table>
<br /><hr />