<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-05
19:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  86.7296
</td>
<td align="right">
  86.7117
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-06 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-05
21:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  86.6352
</td>
<td align="right">
  86.6694
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-06 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
21:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4423
</td>
<td align="right">
   1.4427
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-06 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
23:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4430
</td>
<td align="right">
   1.4427
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-06 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
00:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4441
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-06 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
19:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.6059
</td>
<td align="right">
   1.6055
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-06 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
19:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.6058
</td>
<td align="right">
   1.6054
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-06 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
19:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.6058
</td>
<td align="right">
   1.6054
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-06 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
19:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.6063
</td>
<td align="right">
   1.6061
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-06 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
20:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.6061
</td>
<td align="right">
   1.6062
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-06 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
20:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.6052
</td>
<td align="right">
   1.6062
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-06 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
20:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.6051
</td>
<td align="right">
   1.6061
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-06 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
20:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.6052
</td>
<td align="right">
   1.6063
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-06 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
20:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.6055
</td>
<td align="right">
   1.6063
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-06 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
20:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.6055
</td>
<td align="right">
   1.6063
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-06 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
20:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.6054
</td>
<td align="right">
   1.6066
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-06 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
20:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.6054
</td>
<td align="right">
   1.6066
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-06 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-05
21:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.6061
</td>
<td align="right">
   1.6063
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-06 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8406
</td>
<td align="right">
    .8413
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-06 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8413
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-06 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8413
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-06 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8410
</td>
<td align="right">
    .8414
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-06 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8413
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-06 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:40:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8411
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-06 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8408
</td>
<td align="right">
    .8411
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-06 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8412
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-06 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
19:55:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8406
</td>
<td align="right">
    .8406
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-06 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
20:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8408
</td>
<td align="right">
    .8413
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-06 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
20:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8412
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-06 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
20:25:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8413
</td>
<td align="right">
    .8409
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-06 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
20:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8413
</td>
<td align="right">
    .8413
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-06 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
20:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8408
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-06 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
20:50:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8409
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-06 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
20:55:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8406
</td>
<td align="right">
    .8410
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-06 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8413
</td>
<td align="right">
    .8408
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-06 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8409
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-06 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:25:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8407
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-06 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:30:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8409
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-06 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:35:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8408
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-06 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8409
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-06 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8410
</td>
<td align="right">
    .8411
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-06 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:50:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8413
</td>
<td align="right">
    .8412
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-06 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
21:55:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8409
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-06 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8408
</td>
<td align="right">
    .8406
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-06 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8404
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-06 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8410
</td>
<td align="right">
    .8404
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-06 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8408
</td>
<td align="right">
    .8409
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-06 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8409
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-06 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8407
</td>
<td align="right">
    .8411
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-06 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:30:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8413
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-06 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8408
</td>
<td align="right">
    .8411
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-06 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:40:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8411
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-06 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:45:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8410
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-06 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:50:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8409
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-06 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
22:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8407
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-06 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8406
</td>
<td align="right">
    .8410
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-06 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:05:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .8404
</td>
<td align="right">
    .8414
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-06 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8404
</td>
<td align="right">
    .8411
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-06 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:15:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8409
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-06 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8404
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-06 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8403
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-06 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8413
</td>
<td align="right">
    .8405
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-06 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:35:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8404
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-06 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8403
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-06 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:50:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8404
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-06 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
23:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8407
</td>
<td align="right">
    .8402
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-06 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
00:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8410
</td>
<td align="right">
    .8403
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-06 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
00:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8402
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-06 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
00:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8403
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-06 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
00:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8405
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-06 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
00:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8404
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-06 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
00:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8403
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-06 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
00:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8404
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-06 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
00:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8402
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-06 06:55:00
</td>
</tr>
</table>
