<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-10
22:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0724
</td>
<td align="right">
   1.0722
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-11 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-11
01:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3287
</td>
<td align="right">
   1.3287
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-11 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-11
01:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3288
</td>
<td align="right">
   1.3278
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-11 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-11
01:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3293
</td>
<td align="right">
   1.3272
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-11 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-10
23:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  86.4850
</td>
<td align="right">
  86.4614
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-11 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
01:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  86.2608
</td>
<td align="right">
  86.3355
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-11 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
01:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  86.3356
</td>
<td align="right">
  86.4645
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-11 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-10
23:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1893
</td>
<td align="right">
   1.1909
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-11 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-10
23:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.1899
</td>
<td align="right">
   1.1907
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-11 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-10
23:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.1897
</td>
<td align="right">
   1.1899
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-11 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-10
23:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1902
</td>
<td align="right">
   1.1896
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-11 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.1902
</td>
<td align="right">
   1.1901
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-11 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1907
</td>
<td align="right">
   1.1910
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-11 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.1899
</td>
<td align="right">
   1.1911
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-11 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:45:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.1896
</td>
<td align="right">
   1.1907
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-11 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:50:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.1893
</td>
<td align="right">
   1.1906
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-11 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
01:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.1892
</td>
<td align="right">
   1.1904
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-11 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
01:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1893
</td>
<td align="right">
   1.1906
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-11 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
01:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.1901
</td>
<td align="right">
   1.1905
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-11 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
01:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.1902
</td>
<td align="right">
   1.1905
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-11 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
01:25:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.1900
</td>
<td align="right">
   1.1894
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-11 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
02:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.1904
</td>
<td align="right">
   1.1909
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-11 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
02:25:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.1894
</td>
<td align="right">
   1.1903
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-11 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
02:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.1894
</td>
<td align="right">
   1.1905
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-11 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
02:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.1896
</td>
<td align="right">
   1.1905
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-11 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
02:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.1901
</td>
<td align="right">
   1.1900
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-11 08:45:00
</td>
</tr>
</table>
<br /><hr />