<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
23:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0643
</td>
<td align="right">
   1.0639
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-08 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
23:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.0643
</td>
<td align="right">
   1.0637
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-08 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-07
23:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.4083
</td>
<td align="right">
   1.4069
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-08 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
05:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8588
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
01:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0639
</td>
<td align="right">
   1.0577
</td>
<td align="right">
 -.0059
</td>
<td>
2011-09-08 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
01:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0590
</td>
<td align="right">
   1.0585
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-08 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-08
04:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2081
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-08
04:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.2081
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-08 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
01:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8818
</td>
<td align="right">
    .8813
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-08 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
03:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8811
</td>
<td align="right">
    .8808
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-08 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
03:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8814
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-08 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
03:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8807
</td>
<td align="right">
    .8820
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-08 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
04:00:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8807
</td>
<td align="right">
    .8818
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-08 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
04:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8808
</td>
<td align="right">
    .8818
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-08 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-08
00:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 108.9030
</td>
<td align="right">
 108.8612
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-08 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-08
00:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 108.9054
</td>
<td align="right">
 108.8730
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-08 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
00:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4072
</td>
<td align="right">
   1.4066
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-08 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
00:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4069
</td>
<td align="right">
   1.4062
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-08 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
00:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4065
</td>
<td align="right">
   1.4064
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-08 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
01:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4065
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-08 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
01:25:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4057
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-08 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-08
01:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4067
</td>
<td align="right">
   1.4062
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-08 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
23:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9841
</td>
<td align="right">
    .9852
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-08 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
00:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8591
</td>
<td align="right">
    .8589
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-08 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
02:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8588
</td>
<td align="right">
    .8592
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-08 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
02:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8593
</td>
<td align="right">
    .8594
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-08 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
03:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8592
</td>
<td align="right">
    .8595
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-08 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
03:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8592
</td>
<td align="right">
    .8600
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-08 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
03:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8592
</td>
<td align="right">
    .8599
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-08 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
03:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8592
</td>
<td align="right">
    .8600
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-08 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
04:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8599
</td>
<td align="right">
    .8592
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-08 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-08
04:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8598
</td>
<td align="right">
    .8588
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-08 10:25:00
</td>
</tr>
</table>
<br /><hr />