<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-07
11:15:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  81.9473
</td>
<td align="right">
  81.9437
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-07 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-07
11:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  81.9620
</td>
<td align="right">
  81.9384
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-07 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-07
11:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  81.9196
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-07
12:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  81.9437
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
06:45:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.0606
</td>
<td align="right">
   1.0602
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-07 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
06:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.0604
</td>
<td align="right">
   1.0601
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-07 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
06:55:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.0603
</td>
<td align="right">
   1.0604
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-07 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
07:25:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.0594
</td>
<td align="right">
   1.0617
</td>
<td align="right">
  .0022
</td>
<td>
2011-09-07 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
07:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.0602
</td>
<td align="right">
   1.0615
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-07 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
08:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.0620
</td>
<td align="right">
   1.0599
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-07 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
09:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.0610
</td>
<td align="right">
   1.0607
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-07 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
09:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0606
</td>
<td align="right">
   1.0612
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-07 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
10:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0599
</td>
<td align="right">
   1.0619
</td>
<td align="right">
  .0019
</td>
<td>
2011-09-07 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
10:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0618
</td>
<td align="right">
   1.0617
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-07 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
11:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0614
</td>
<td align="right">
   1.0614
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-07 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
12:00:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.0616
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-07
12:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0614
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
07:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3290
</td>
<td align="right">
   1.3278
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-07 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
08:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3278
</td>
<td align="right">
   1.3282
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-07 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-07
08:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3278
</td>
<td align="right">
   1.3256
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-07 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-07
07:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8806
</td>
<td align="right">
    .8801
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-07 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-07
08:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8810
</td>
<td align="right">
    .8807
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-07 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-07
08:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8810
</td>
<td align="right">
    .8803
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-07 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-07
07:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4075
</td>
<td align="right">
   1.4093
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-07 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-07
07:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.4067
</td>
<td align="right">
   1.4086
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-07 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-07
07:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4067
</td>
<td align="right">
   1.4087
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-07 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-07
08:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4094
</td>
<td align="right">
   1.4102
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-07 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-07
08:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4102
</td>
<td align="right">
   1.4054
</td>
<td align="right">
 -.0034
</td>
<td>
2011-09-07 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-07
08:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.5999
</td>
<td align="right">
   1.5995
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-07 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
11:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 108.4530
</td>
<td align="right">
 108.3835
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-07 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
11:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 108.5285
</td>
<td align="right">
 108.5311
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-07 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
11:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 108.4708
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
11:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 108.4345
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-07
11:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 108.4374
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
06:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9877
</td>
<td align="right">
    .9879
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-07 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
08:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9854
</td>
<td align="right">
    .9875
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-07 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
08:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9864
</td>
<td align="right">
    .9879
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-07 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
09:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9869
</td>
<td align="right">
    .9882
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-07 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
09:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9873
</td>
<td align="right">
    .9880
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-07 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
09:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9875
</td>
<td align="right">
    .9879
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-07 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
10:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9872
</td>
<td align="right">
    .9880
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-07 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
10:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9875
</td>
<td align="right">
    .9885
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-07 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
10:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9879
</td>
<td align="right">
    .9875
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-07 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
10:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9877
</td>
<td align="right">
    .9868
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-07 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
10:35:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9879
</td>
<td align="right">
    .9863
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-07 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
10:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .9875
</td>
<td align="right">
    .9861
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-07 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
11:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9872
</td>
<td align="right">
    .9880
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-07 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
11:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9868
</td>
<td align="right">
    .9875
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-07 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
11:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9868
</td>
<td align="right">
    .9874
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-07 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
11:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9863
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
12:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9874
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-07
12:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9880
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-07 18:20:00
</td>
</tr>
</table>
<br /><hr />