<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
00:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9809
</td>
<td align="right">
    .9825
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-27 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
00:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9803
</td>
<td align="right">
    .9828
</td>
<td align="right">
  .0026
</td>
<td>
2011-09-27 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
00:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9789
</td>
<td align="right">
    .9842
</td>
<td align="right">
  .0054
</td>
<td>
2011-09-27 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
01:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9806
</td>
<td align="right">
    .9846
</td>
<td align="right">
  .0040
</td>
<td>
2011-09-27 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
01:05:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .9806
</td>
<td align="right">
    .9848
</td>
<td align="right">
  .0043
</td>
<td>
2011-09-27 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
01:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9825
</td>
<td align="right">
    .9856
</td>
<td align="right">
  .0032
</td>
<td>
2011-09-27 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
04:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9843
</td>
<td align="right">
    .9868
</td>
<td align="right">
  .0025
</td>
<td>
2011-09-27 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
04:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9846
</td>
<td align="right">
    .9866
</td>
<td align="right">
  .0020
</td>
<td>
2011-09-27 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
05:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9868
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-27
04:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2220
</td>
<td align="right">
   1.2219
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-27 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-27
05:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2219
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-27
05:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2218
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-26
23:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8678
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-27 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
01:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 103.2657
</td>
<td align="right">
 103.4076
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-27 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
03:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 103.4166
</td>
<td align="right">
 103.2761
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-27 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
01:50:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3524
</td>
<td align="right">
   1.3555
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-27 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
01:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3536
</td>
<td align="right">
   1.3547
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
04:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3531
</td>
<td align="right">
   1.3534
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-27 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
00:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  74.7341
</td>
<td align="right">
  75.0458
</td>
<td align="right">
  .0042
</td>
<td>
2011-09-27 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
03:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  75.1978
</td>
<td align="right">
  75.1314
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-27 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
04:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  75.0885
</td>
<td align="right">
  75.3149
</td>
<td align="right">
  .0030
</td>
<td>
2011-09-27 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
00:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3778
</td>
<td align="right">
   1.3737
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-27 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
00:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0267
</td>
<td align="right">
   1.0250
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-27 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
01:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0239
</td>
<td align="right">
   1.0229
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-27 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
01:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0239
</td>
<td align="right">
   1.0231
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-27 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
02:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0239
</td>
<td align="right">
   1.0231
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-27 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
02:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0239
</td>
<td align="right">
   1.0229
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-27 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
02:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0236
</td>
<td align="right">
   1.0232
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-27 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
02:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0237
</td>
<td align="right">
   1.0232
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-27 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
03:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0232
</td>
<td align="right">
   1.0243
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-27 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
03:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0233
</td>
<td align="right">
   1.0244
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-27 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
04:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0242
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
04:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0244
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 10:55:00
</td>
</tr>
</table>
<br /><hr />