<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-20
22:25:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  78.6041
</td>
<td align="right">
  78.5868
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-21 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-20
21:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0233
</td>
<td align="right">
   1.0233
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-21 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-20
21:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0233
</td>
<td align="right">
   1.0238
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-21 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-20
21:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0228
</td>
<td align="right">
   1.0232
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-21 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-20
22:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0233
</td>
<td align="right">
   1.0235
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-21 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-20
23:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0235
</td>
<td align="right">
   1.0257
</td>
<td align="right">
  .0022
</td>
<td>
2011-10-21 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-20
23:55:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.0240
</td>
<td align="right">
   1.0238
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-21 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-21
00:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0257
</td>
<td align="right">
   1.0250
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-21 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-21
00:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.0243
</td>
<td align="right">
   1.0249
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-21 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-21
00:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0232
</td>
<td align="right">
   1.0249
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-21 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-21
00:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0236
</td>
<td align="right">
   1.0250
</td>
<td align="right">
  .0014
</td>
<td>
2011-10-21 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-21
02:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3464
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-21 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-20
23:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8724
</td>
<td align="right">
    .8732
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-21 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-20
23:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8726
</td>
<td align="right">
    .8727
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-21 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
00:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8729
</td>
<td align="right">
    .8725
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-21 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
00:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8725
</td>
<td align="right">
    .8720
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-21 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
00:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8726
</td>
<td align="right">
    .8721
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-21 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
00:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8725
</td>
<td align="right">
    .8723
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-21 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
00:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8727
</td>
<td align="right">
    .8720
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-21 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-21
01:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8727
</td>
<td align="right">
    .8718
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-21 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-20
21:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3778
</td>
<td align="right">
   1.3785
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-21 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-20
22:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3785
</td>
<td align="right">
   1.3770
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-21 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-20
23:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3786
</td>
<td align="right">
   1.3764
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-21 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-20
23:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3794
</td>
<td align="right">
   1.3779
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-21 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-21
01:20:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0153
</td>
<td align="right">
   1.0151
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-21 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-21
02:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0153
</td>
<td align="right">
   1.0158
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-21 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-21
01:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  78.6361
</td>
<td align="right">
  78.5990
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-21 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-21
02:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  78.6381
</td>
<td align="right">
  78.4922
</td>
<td align="right">
 -.0019
</td>
<td>
2011-10-21 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-21
02:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  78.6266
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-21 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-21
02:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  78.6093
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-21 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-21
00:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0238
</td>
<td align="right">
   1.0229
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-21 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-21
01:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0236
</td>
<td align="right">
   1.0243
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-21 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-21
02:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0231
</td>
<td align="right">
   1.0225
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-21 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
00:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 106.0350
</td>
<td align="right">
 105.8497
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-21 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
00:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 105.9616
</td>
<td align="right">
 105.8524
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-21 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
00:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 105.7503
</td>
<td align="right">
 105.8198
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-21 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
00:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 105.8430
</td>
<td align="right">
 105.7519
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-21 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
01:45:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 105.7995
</td>
<td align="right">
 105.8766
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-21 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
01:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 105.7519
</td>
<td align="right">
 105.8094
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-21 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
02:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 105.7733
</td>
<td align="right">
 105.7917
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-21 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
02:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 105.7948
</td>
<td align="right">
 105.8001
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-21 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
02:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 105.8513
</td>
<td align="right">
 105.8389
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-21 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-21
02:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 105.8363
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-21 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-21
01:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  76.7550
</td>
<td align="right">
  76.7700
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-21 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-21
01:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  76.7825
</td>
<td align="right">
  76.7650
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-21 07:20:00
</td>
</tr>
</table>
<br /><hr />