<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
22:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  74.9571
</td>
<td align="right">
  75.2573
</td>
<td align="right">
  .0040
</td>
<td>
2011-09-27 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
23:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  74.9910
</td>
<td align="right">
  74.9830
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-27 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
23:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  75.2465
</td>
<td align="right">
  74.6874
</td>
<td align="right">
 -.0074
</td>
<td>
2011-09-27 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
21:50:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9835
</td>
<td align="right">
    .9823
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-27 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
22:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9811
</td>
<td align="right">
    .9828
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-27 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
22:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9823
</td>
<td align="right">
    .9809
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-27 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
00:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9809
</td>
<td align="right">
    .9825
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-27 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
00:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9803
</td>
<td align="right">
    .9828
</td>
<td align="right">
  .0026
</td>
<td>
2011-09-27 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
00:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9789
</td>
<td align="right">
    .9842
</td>
<td align="right">
  .0054
</td>
<td>
2011-09-27 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
01:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9806
</td>
<td align="right">
    .9846
</td>
<td align="right">
  .0040
</td>
<td>
2011-09-27 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
01:05:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .9806
</td>
<td align="right">
    .9848
</td>
<td align="right">
  .0043
</td>
<td>
2011-09-27 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
01:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9825
</td>
<td align="right">
    .9856
</td>
<td align="right">
  .0032
</td>
<td>
2011-09-27 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-26
21:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8694
</td>
<td align="right">
    .8692
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-27 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-26
23:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8680
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-27 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-26
23:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8686
</td>
<td align="right">
    .8678
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-27 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
01:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 103.2657
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
01:50:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3524
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
01:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3536
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
00:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  74.7341
</td>
<td align="right">
  75.0458
</td>
<td align="right">
  .0042
</td>
<td>
2011-09-27 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:35:00
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
   1.3749
</td>
<td align="right">
   1.3755
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-27 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:40:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3750
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-27 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:45:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
   1.3758
</td>
<td align="right">
   1.3753
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-27 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3760
</td>
<td align="right">
   1.3753
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-27 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:55:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
   1.3763
</td>
<td align="right">
   1.3753
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-27 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:15:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3753
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-27 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:20:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3752
</td>
<td align="right">
   1.3759
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-27 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:25:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3768
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-27 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:30:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3772
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-27 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3785
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-27 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3773
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-27 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:45:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3764
</td>
<td align="right">
   1.3775
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3755
</td>
<td align="right">
   1.3764
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-27 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:55:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3765
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-27 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:00:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3767
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-27 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3769
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-27 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3765
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-27 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3759
</td>
<td align="right">
   1.3760
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-27 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:25:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3768
</td>
<td align="right">
   1.3750
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-27 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3772
</td>
<td align="right">
   1.3742
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-27 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:40:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.3773
</td>
<td align="right">
   1.3745
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-27 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3775
</td>
<td align="right">
   1.3743
</td>
<td align="right">
 -.0023
</td>
<td>
2011-09-27 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:50:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3764
</td>
<td align="right">
   1.3759
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-27 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:55:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
   1.3765
</td>
<td align="right">
   1.3772
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-27 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:00:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.3767
</td>
<td align="right">
   1.3765
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-27 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3769
</td>
<td align="right">
   1.3763
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-27 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3765
</td>
<td align="right">
   1.3761
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-27 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:20:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3760
</td>
<td align="right">
   1.3771
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:25:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3769
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-27 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3742
</td>
<td align="right">
   1.3779
</td>
<td align="right">
  .0027
</td>
<td>
2011-09-27 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:35:00
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
   1.3733
</td>
<td align="right">
   1.3789
</td>
<td align="right">
  .0041
</td>
<td>
2011-09-27 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:40:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3745
</td>
<td align="right">
   1.3785
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-27 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:45:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3743
</td>
<td align="right">
   1.3780
</td>
<td align="right">
  .0027
</td>
<td>
2011-09-27 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:50:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.3759
</td>
<td align="right">
   1.3778
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-27 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
23:55:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3772
</td>
<td align="right">
   1.3765
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-27 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
00:15:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.3763
</td>
<td align="right">
   1.3749
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-27 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
00:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3779
</td>
<td align="right">
   1.3736
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-27 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
00:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3778
</td>
<td align="right">
   1.3737
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-27 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
01:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3756
</td>
<td align="right">
   1.3746
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-27 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
01:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3760
</td>
<td align="right">
   1.3746
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-27 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
01:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3737
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-27 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
01:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3737
</td>
<td align="right">
   1.3748
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
01:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3752
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-27 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
01:45:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3730
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-27 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
02:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3737
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
02:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3739
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
02:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3748
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-27
02:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3752
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
20:40:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0264
</td>
<td align="right">
   1.0242
</td>
<td align="right">
 -.0021
</td>
<td>
2011-09-27 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
20:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0261
</td>
<td align="right">
   1.0247
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-27 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
21:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0242
</td>
<td align="right">
   1.0257
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-27 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
22:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0247
</td>
<td align="right">
   1.0254
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-27 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
22:25:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.0255
</td>
<td align="right">
   1.0242
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-27 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
22:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0258
</td>
<td align="right">
   1.0247
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-27 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
22:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0259
</td>
<td align="right">
   1.0253
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-27 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
22:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0259
</td>
<td align="right">
   1.0254
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-27 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
22:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0257
</td>
<td align="right">
   1.0259
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-27 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
23:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0254
</td>
<td align="right">
   1.0260
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-27 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
23:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0249
</td>
<td align="right">
   1.0265
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-27 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
23:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.0242
</td>
<td align="right">
   1.0269
</td>
<td align="right">
  .0026
</td>
<td>
2011-09-27 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
00:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0267
</td>
<td align="right">
   1.0250
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-27 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
01:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0239
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
01:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0239
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
02:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0239
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
02:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0239
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
02:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0236
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
02:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0237
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 08:15:00
</td>
</tr>
</table>
<br /><hr />