<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
15:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0617
</td>
<td align="right">
   1.0614
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
16:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0622
</td>
<td align="right">
   1.0624
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-12 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
16:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0613
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
17:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0620
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
17:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0624
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
11:55:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.1669
</td>
<td align="right">
   1.1686
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-12 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1668
</td>
<td align="right">
   1.1676
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-12 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.1655
</td>
<td align="right">
   1.1670
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-12 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.1665
</td>
<td align="right">
   1.1679
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-12 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1662
</td>
<td align="right">
   1.1679
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-12 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:30:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.1686
</td>
<td align="right">
   1.1680
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-12 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
12:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8834
</td>
<td align="right">
    .8822
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-12 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
12:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8823
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-12 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
13:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8809
</td>
<td align="right">
    .8787
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-12 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
13:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8817
</td>
<td align="right">
    .8789
</td>
<td align="right">
 -.0031
</td>
<td>
2011-07-12 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
14:30:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8800
</td>
<td align="right">
    .8779
</td>
<td align="right">
 -.0024
</td>
<td>
2011-07-12 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-12
17:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4017
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-12
14:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.5907
</td>
<td align="right">
   1.5937
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-12 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-12
14:50:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.5899
</td>
<td align="right">
   1.5935
</td>
<td align="right">
  .0023
</td>
<td>
2011-07-12 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-12
15:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.5942
</td>
<td align="right">
   1.5928
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-12 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-12
16:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.5938
</td>
<td align="right">
   1.5933
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-12
16:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.5936
</td>
<td align="right">
   1.5928
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-12 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-12
16:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.5924
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
16:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8338
</td>
<td align="right">
    .8333
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-12 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
14:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0616
</td>
<td align="right">
   1.0613
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-12
12:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.5834
</td>
<td align="right">
   1.5846
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-12 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
12:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9703
</td>
<td align="right">
    .9691
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-12 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
12:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9693
</td>
<td align="right">
    .9687
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-12 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
12:35:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .9692
</td>
<td align="right">
    .9693
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-12 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
12:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9683
</td>
<td align="right">
    .9687
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-12 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
13:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9694
</td>
<td align="right">
    .9679
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-12 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
14:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9676
</td>
<td align="right">
    .9685
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-12 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
14:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9682
</td>
<td align="right">
    .9678
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
14:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9674
</td>
<td align="right">
    .9685
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-12 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
14:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9670
</td>
<td align="right">
    .9681
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-12 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
15:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9672
</td>
<td align="right">
    .9664
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-12 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
15:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9668
</td>
<td align="right">
    .9656
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-12 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
16:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9668
</td>
<td align="right">
    .9662
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-12 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
16:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9669
</td>
<td align="right">
    .9657
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-12 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
16:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9664
</td>
<td align="right">
    .9660
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-12 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
16:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9666
</td>
<td align="right">
    .9663
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
16:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9662
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-12
16:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9663
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 22:45:00
</td>
</tr>
</table>
<br /><hr />