<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
17:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  81.0968
</td>
<td align="right">
  81.0880
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-28 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
17:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  81.1005
</td>
<td align="right">
  81.0523
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-28 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
17:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  81.1025
</td>
<td align="right">
  81.0590
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-28 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
17:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  81.0804
</td>
<td align="right">
  81.0160
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-28 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
17:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  81.1016
</td>
<td align="right">
  80.9818
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-28 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
19:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  81.0025
</td>
<td align="right">
  81.0821
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-29 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
19:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  81.0455
</td>
<td align="right">
  81.1103
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-29 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
20:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  81.0718
</td>
<td align="right">
  81.1693
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-29 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-26
20:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  81.1103
</td>
<td align="right">
  81.1138
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-29 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
17:15:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.4478
</td>
<td align="right">
   1.4491
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-28 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
17:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4487
</td>
<td align="right">
   1.4491
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-28 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
17:40:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.4488
</td>
<td align="right">
   1.4482
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-28 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
17:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.4489
</td>
<td align="right">
   1.4484
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-28 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
17:50:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.4490
</td>
<td align="right">
   1.4484
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-28 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
17:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.4492
</td>
<td align="right">
   1.4483
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-28 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
16:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3685
</td>
<td align="right">
   1.3707
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-28 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
17:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3689
</td>
<td align="right">
   1.3712
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-28 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
17:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3689
</td>
<td align="right">
   1.3713
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-28 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
16:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8860
</td>
<td align="right">
    .8859
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-28 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
16:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8864
</td>
<td align="right">
    .8863
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-28 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
18:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8858
</td>
<td align="right">
    .8865
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-29 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
20:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8857
</td>
<td align="right">
    .8874
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-29 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
20:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8856
</td>
<td align="right">
    .8874
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-29 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
20:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8857
</td>
<td align="right">
    .8865
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-29 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9828
</td>
<td align="right">
    .9814
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-29 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9820
</td>
<td align="right">
    .9810
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-29 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9818
</td>
<td align="right">
    .9811
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-29 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:30:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .9819
</td>
<td align="right">
    .9813
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-29 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9817
</td>
<td align="right">
    .9812
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-29 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:40:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .9818
</td>
<td align="right">
    .9812
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-29 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9814
</td>
<td align="right">
    .9833
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-29 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9813
</td>
<td align="right">
    .9832
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-29 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
20:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9814
</td>
<td align="right">
    .9830
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-29 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-28
21:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9811
</td>
<td align="right">
    .9822
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-29 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-28
21:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9814
</td>
<td align="right">
    .9819
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-29 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-28
21:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9811
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-28
21:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .9807
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-28
21:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9810
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-28
21:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9811
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-28
21:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9813
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-28
21:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9812
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 03:55:00
</td>
</tr>
</table>
<br /><hr />