<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=euraud=X">eur_aud</a></td>
<td>
2011-06-27
13:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3647
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 19:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
08:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1859
</td>
<td align="right">
   1.1852
</td>
<td align="right">
 -.0005
</td>
<td>
2011-06-27 14:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
09:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1880
</td>
<td align="right">
   1.1852
</td>
<td align="right">
 -.0023
</td>
<td>
2011-06-27 15:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
09:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1855
</td>
<td align="right">
   1.1865
</td>
<td align="right">
  .0009
</td>
<td>
2011-06-27 15:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
09:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1852
</td>
<td align="right">
   1.1856
</td>
<td align="right">
  .0003
</td>
<td>
2011-06-27 15:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
10:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1852
</td>
<td align="right">
   1.1855
</td>
<td align="right">
  .0002
</td>
<td>
2011-06-27 16:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
10:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1854
</td>
<td align="right">
   1.1856
</td>
<td align="right">
  .0001
</td>
<td>
2011-06-27 16:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
10:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1857
</td>
<td align="right">
   1.1852
</td>
<td align="right">
 -.0004
</td>
<td>
2011-06-27 16:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
10:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.1856
</td>
<td align="right">
   1.1838
</td>
<td align="right">
 -.0015
</td>
<td>
2011-06-27 16:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
10:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1855
</td>
<td align="right">
   1.1841
</td>
<td align="right">
 -.0012
</td>
<td>
2011-06-27 16:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
11:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.1855
</td>
<td align="right">
   1.1846
</td>
<td align="right">
 -.0007
</td>
<td>
2011-06-27 17:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
11:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.1852
</td>
<td align="right">
   1.1850
</td>
<td align="right">
 -.0002
</td>
<td>
2011-06-27 17:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
12:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1851
</td>
<td align="right">
   1.1840
</td>
<td align="right">
 -.0009
</td>
<td>
2011-06-27 18:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
12:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1852
</td>
<td align="right">
   1.1871
</td>
<td align="right">
  .0016
</td>
<td>
2011-06-27 18:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
13:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.1850
</td>
<td align="right">
   1.1878
</td>
<td align="right">
  .0024
</td>
<td>
2011-06-27 19:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
13:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1854
</td>
<td align="right">
   1.1882
</td>
<td align="right">
  .0024
</td>
<td>
2011-06-27 19:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
09:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8349
</td>
<td align="right">
    .8337
</td>
<td align="right">
 -.0014
</td>
<td>
2011-06-27 15:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
09:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8352
</td>
<td align="right">
    .8337
</td>
<td align="right">
 -.0018
</td>
<td>
2011-06-27 15:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdjpy=X">usd_jpy</a></td>
<td>
2011-06-27
12:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  80.8300
</td>
<td align="right">
  80.9400
</td>
<td align="right">
  .0014
</td>
<td>
2011-06-27 18:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdjpy=X">usd_jpy</a></td>
<td>
2011-06-27
12:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  80.8275
</td>
<td align="right">
  80.9475
</td>
<td align="right">
  .0015
</td>
<td>
2011-06-27 18:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
10:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8340
</td>
<td align="right">
    .8338
</td>
<td align="right">
 -.0002
</td>
<td>
2011-06-27 16:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
11:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8339
</td>
<td align="right">
    .8340
</td>
<td align="right">
  .0001
</td>
<td>
2011-06-27 17:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
11:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8344
</td>
<td align="right">
    .8340
</td>
<td align="right">
 -.0004
</td>
<td>
2011-06-27 17:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
12:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8340
</td>
<td align="right">
    .8348
</td>
<td align="right">
  .0010
</td>
<td>
2011-06-27 18:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
12:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8340
</td>
<td align="right">
    .8350
</td>
<td align="right">
  .0012
</td>
<td>
2011-06-27 18:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
12:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8339
</td>
<td align="right">
    .8360
</td>
<td align="right">
  .0025
</td>
<td>
2011-06-27 18:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
13:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8348
</td>
<td align="right">
    .8333
</td>
<td align="right">
 -.0019
</td>
<td>
2011-06-27 19:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
14:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8334
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 20:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
14:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8333
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 20:05:00
</td>
</tr>
</table>
