<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-13
06:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3781
</td>
<td align="right">
   1.3791
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-13 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
02:30:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8979
</td>
<td align="right">
    .8974
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-13 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
02:35:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .8978
</td>
<td align="right">
    .8972
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-13 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
02:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .8976
</td>
<td align="right">
    .8973
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-13 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
02:45:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8976
</td>
<td align="right">
    .8972
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-13 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
02:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8975
</td>
<td align="right">
    .8968
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-13 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
02:55:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    .8976
</td>
<td align="right">
    .8967
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-13 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
03:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8972
</td>
<td align="right">
    .8954
</td>
<td align="right">
 -.0020
</td>
<td>
2011-10-13 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
03:10:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8974
</td>
<td align="right">
    .8958
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-13 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
03:20:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    .8974
</td>
<td align="right">
    .8952
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-13 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
03:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8974
</td>
<td align="right">
    .8955
</td>
<td align="right">
 -.0022
</td>
<td>
2011-10-13 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
03:40:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    .8973
</td>
<td align="right">
    .8961
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-13 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
03:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8972
</td>
<td align="right">
    .8958
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-13 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
04:00:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8967
</td>
<td align="right">
    .8964
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-13 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-13
04:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8958
</td>
<td align="right">
    .8963
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-13 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
04:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  77.0850
</td>
<td align="right">
  77.1000
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-13 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
04:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  77.0525
</td>
<td align="right">
  77.1025
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-13 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
04:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  77.0525
</td>
<td align="right">
  77.0975
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-13 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
04:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.0713
</td>
<td align="right">
  77.1025
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-13 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
04:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  77.0850
</td>
<td align="right">
  77.1138
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-13 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
04:55:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  77.0813
</td>
<td align="right">
  77.1075
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-13 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
05:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.1100
</td>
<td align="right">
  77.1200
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-13 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
05:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  77.1025
</td>
<td align="right">
  77.0913
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-13 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
05:35:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  77.1050
</td>
<td align="right">
  77.0825
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-13 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
05:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  77.0975
</td>
<td align="right">
  77.1000
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
06:05:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  77.1225
</td>
<td align="right">
  77.0725
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-13 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
06:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.0900
</td>
<td align="right">
  77.0600
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-13 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
06:15:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
  77.0850
</td>
<td align="right">
  77.0550
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-13 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
06:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.0825
</td>
<td align="right">
  77.0688
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-13 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
06:25:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  77.0913
</td>
<td align="right">
  77.0650
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-13 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
06:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.0800
</td>
<td align="right">
  77.0550
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-13 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-13
06:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.0825
</td>
<td align="right">
  77.0575
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-13 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-13
02:25:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3774
</td>
<td align="right">
   1.3787
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-13 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-13
02:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3781
</td>
<td align="right">
   1.3788
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-13 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-13
02:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3785
</td>
<td align="right">
   1.3788
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-13 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-13
02:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3786
</td>
<td align="right">
   1.3795
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-13 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-13
03:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3787
</td>
<td align="right">
   1.3809
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-13 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-13
04:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3803
</td>
<td align="right">
   1.3802
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-13 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-13
04:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3815
</td>
<td align="right">
   1.3811
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-13 10:30:00
</td>
</tr>
</table>
<br /><hr />