<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-27
07:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1573
</td>
<td align="right">
   1.1595
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-27 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
03:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8020
</td>
<td align="right">
    .8018
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8020
</td>
<td align="right">
    .8014
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-27 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8021
</td>
<td align="right">
    .8012
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-27 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8020
</td>
<td align="right">
    .8010
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-27 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8019
</td>
<td align="right">
    .8013
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-27 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8019
</td>
<td align="right">
    .8012
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-27 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
05:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8015
</td>
<td align="right">
    .8000
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-27 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
05:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8002
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-27 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
05:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8001
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-27 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
05:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8012
</td>
<td align="right">
    .8002
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-27 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
05:40:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .7999
</td>
<td align="right">
 -.0018
</td>
<td>
2011-07-27 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
05:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8001
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-27 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8002
</td>
<td align="right">
    .7999
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-27 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .7998
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .7998
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8001
</td>
<td align="right">
    .7998
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-27 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
06:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8001
</td>
<td align="right">
    .7998
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
07:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .7999
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
07:30:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .8003
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-27 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
07:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .7998
</td>
<td align="right">
    .8003
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
07:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7998
</td>
<td align="right">
    .8001
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
08:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7998
</td>
<td align="right">
    .8001
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-27
08:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1065
</td>
<td align="right">
   1.1065
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-27
08:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.1065
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3135
</td>
<td align="right">
   1.3139
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3142
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3140
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3136
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3135
</td>
<td align="right">
   1.3135
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3132
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3136
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3142
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3144
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-27 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3144
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:35:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3139
</td>
<td align="right">
   1.3142
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-27 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3142
</td>
<td align="right">
   1.3143
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-27 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3140
</td>
<td align="right">
   1.3139
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3145
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3135
</td>
<td align="right">
   1.3141
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-27 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
05:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3133
</td>
<td align="right">
   1.3139
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-27 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
05:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3128
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
05:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3126
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-27 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
05:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3142
</td>
<td align="right">
   1.3119
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-27 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
05:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3145
</td>
<td align="right">
   1.3119
</td>
<td align="right">
 -.0020
</td>
<td>
2011-07-27 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
06:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3139
</td>
<td align="right">
   1.3117
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-27 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8832
</td>
<td align="right">
    .8832
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8828
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-27 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8836
</td>
<td align="right">
    .8829
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-27 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8831
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8829
</td>
<td align="right">
    .8827
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
06:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8829
</td>
<td align="right">
    .8826
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-27 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-27
07:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8832
</td>
<td align="right">
    .8818
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-27 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-27
08:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 112.5005
</td>
<td align="right">
 112.6800
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-27 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4485
</td>
<td align="right">
   1.4481
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4480
</td>
<td align="right">
   1.4488
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-27 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4480
</td>
<td align="right">
   1.4487
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-27 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4484
</td>
<td align="right">
   1.4485
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-27 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4486
</td>
<td align="right">
   1.4479
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-27 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4491
</td>
<td align="right">
   1.4475
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-27 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4479
</td>
<td align="right">
   1.4489
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4479
</td>
<td align="right">
   1.4489
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
07:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.4481
</td>
<td align="right">
   1.4490
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
08:00:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4493
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-27 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
08:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4481
</td>
<td align="right">
   1.4498
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-27 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-27
08:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4479
</td>
<td align="right">
   1.4497
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-27 14:25:00
</td>
</tr>
</table>
<br /><hr />