<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
03:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1688
</td>
<td align="right">
   1.1686
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-12 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
03:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1688
</td>
<td align="right">
   1.1685
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
03:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1690
</td>
<td align="right">
   1.1687
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
04:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1686
</td>
<td align="right">
   1.1700
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-12 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
04:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1687
</td>
<td align="right">
   1.1709
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-12 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
06:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1675
</td>
<td align="right">
   1.1648
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-12 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
06:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1674
</td>
<td align="right">
   1.1642
</td>
<td align="right">
 -.0027
</td>
<td>
2011-07-12 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
06:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1683
</td>
<td align="right">
   1.1615
</td>
<td align="right">
 -.0058
</td>
<td>
2011-07-12 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
07:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1676
</td>
<td align="right">
   1.1564
</td>
<td align="right">
 -.0096
</td>
<td>
2011-07-12 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
07:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.1635
</td>
<td align="right">
   1.1606
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-12 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
07:50:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.1582
</td>
<td align="right">
   1.1611
</td>
<td align="right">
  .0025
</td>
<td>
2011-07-12 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
07:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1599
</td>
<td align="right">
   1.1607
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-12 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
08:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.1564
</td>
<td align="right">
   1.1620
</td>
<td align="right">
  .0048
</td>
<td>
2011-07-12 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
08:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1616
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
08:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1625
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
08:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1611
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
08:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.1607
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
08:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8787
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
09:00:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    .8793
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
03:15:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .8367
</td>
<td align="right">
    .8374
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-12 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
03:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8367
</td>
<td align="right">
    .8374
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-12 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
03:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8371
</td>
<td align="right">
    .8374
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-12 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
03:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8372
</td>
<td align="right">
    .8373
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-12 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
03:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8372
</td>
<td align="right">
    .8372
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-12 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
03:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8377
</td>
<td align="right">
    .8372
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-12 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
03:45:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .8376
</td>
<td align="right">
    .8372
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-12 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
03:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8373
</td>
<td align="right">
    .8373
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-12 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
04:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8377
</td>
<td align="right">
    .8375
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-12 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
04:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8374
</td>
<td align="right">
    .8384
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-12 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
04:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8372
</td>
<td align="right">
    .8385
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-12 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
04:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8372
</td>
<td align="right">
    .8395
</td>
<td align="right">
  .0027
</td>
<td>
2011-07-12 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
08:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8353
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-12
08:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8354
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
03:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0605
</td>
<td align="right">
   1.0595
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-12 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
03:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0604
</td>
<td align="right">
   1.0603
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-12 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
03:55:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0605
</td>
<td align="right">
   1.0601
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-12 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
04:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0599
</td>
<td align="right">
   1.0604
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-12 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
04:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0599
</td>
<td align="right">
   1.0601
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-12 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
04:10:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0598
</td>
<td align="right">
   1.0601
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-12 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
04:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0595
</td>
<td align="right">
   1.0606
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-12 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
04:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0603
</td>
<td align="right">
   1.0613
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-12 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
05:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.0601
</td>
<td align="right">
   1.0599
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-12 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
06:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0596
</td>
<td align="right">
   1.0557
</td>
<td align="right">
 -.0037
</td>
<td>
2011-07-12 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
07:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0537
</td>
<td align="right">
   1.0565
</td>
<td align="right">
  .0026
</td>
<td>
2011-07-12 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
08:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0535
</td>
<td align="right">
   1.0574
</td>
<td align="right">
  .0038
</td>
<td>
2011-07-12 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
08:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0564
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 14:40:00
</td>
</tr>
</table>
<br /><hr />