<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
09:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3756
</td>
<td align="right">
   1.3752
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-26 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
14:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3758
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-26 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
09:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4439
</td>
<td align="right">
   1.4433
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-26 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-26
10:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4438
</td>
<td align="right">
   1.4409
</td>
<td align="right">
 -.0020
</td>
<td>
2011-08-26 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
11:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9880
</td>
<td align="right">
    .9913
</td>
<td align="right">
  .0034
</td>
<td>
2011-08-26 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-26
12:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9909
</td>
<td align="right">
    .9894
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-26 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-26
13:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7947
</td>
<td align="right">
    .7961
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-26 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
09:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3747
</td>
<td align="right">
   1.3750
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-26 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-26
10:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3745
</td>
<td align="right">
   1.3739
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-26 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
10:25:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8837
</td>
<td align="right">
    .8845
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-26 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
11:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8839
</td>
<td align="right">
    .8853
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-26 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
11:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8843
</td>
<td align="right">
    .8858
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-26 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8857
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-26 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-26
14:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8843
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-26 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-26
09:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7916
</td>
<td align="right">
    .7939
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-26 15:20:00
</td>
</tr>
</table>
<br /><hr />