<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-07
18:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3325
</td>
<td align="right">
   1.3319
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-08 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
17:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8988
</td>
<td align="right">
    .8991
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
17:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8989
</td>
<td align="right">
    .8990
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
17:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8991
</td>
<td align="right">
    .8991
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-07 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
17:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8989
</td>
<td align="right">
    .8990
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
17:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8989
</td>
<td align="right">
    .8989
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-07 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
18:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8988
</td>
<td align="right">
    .8989
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-08 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
18:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8988
</td>
<td align="right">
    .8988
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-08 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
18:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8989
</td>
<td align="right">
    .8987
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-08 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
18:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8990
</td>
<td align="right">
    .8988
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-08 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
18:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8991
</td>
<td align="right">
    .8989
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-08 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
18:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8990
</td>
<td align="right">
    .8990
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-08 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
19:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8989
</td>
<td align="right">
    .8988
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-08 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
19:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8988
</td>
<td align="right">
    .8990
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-08 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
20:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8988
</td>
<td align="right">
    .8994
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-08 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
20:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8989
</td>
<td align="right">
    .8995
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-08 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-07
16:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 116.6502
</td>
<td align="right">
 116.5696
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-07 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-07
17:30:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 116.5659
</td>
<td align="right">
 116.6634
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-07 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-07
17:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 116.5824
</td>
<td align="right">
 116.6338
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-07 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
15:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4349
</td>
<td align="right">
   1.4345
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
16:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4349
</td>
<td align="right">
   1.4358
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-07 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
17:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.4358
</td>
<td align="right">
   1.4351
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-07 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
18:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4345
</td>
<td align="right">
   1.4349
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-08 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
18:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4346
</td>
<td align="right">
   1.4347
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-08 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
19:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4349
</td>
<td align="right">
   1.4359
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-08 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
19:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.4351
</td>
<td align="right">
   1.4359
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-08 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
19:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.4353
</td>
<td align="right">
   1.4364
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-08 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
21:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4359
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-08 03:40:00
</td>
</tr>
</table>
<br /><hr />