<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
10:35:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.0314
</td>
<td align="right">
   1.0331
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-12 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
10:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0317
</td>
<td align="right">
   1.0337
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-12 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
11:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0312
</td>
<td align="right">
   1.0346
</td>
<td align="right">
  .0033
</td>
<td>
2011-08-12 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
11:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0320
</td>
<td align="right">
   1.0345
</td>
<td align="right">
  .0024
</td>
<td>
2011-08-12 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
11:35:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0331
</td>
<td align="right">
   1.0347
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-12 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
15:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8735
</td>
<td align="right">
    .8750
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-14 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
11:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 109.0587
</td>
<td align="right">
 109.1427
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-12 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
11:10:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
 109.0781
</td>
<td align="right">
 109.0789
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-12 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
11:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 109.2449
</td>
<td align="right">
 109.3901
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-12 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
11:55:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.4269
</td>
<td align="right">
   1.4283
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-12 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
12:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.4267
</td>
<td align="right">
   1.4267
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-12 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
12:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4261
</td>
<td align="right">
   1.4270
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-12 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
10:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9874
</td>
<td align="right">
    .9876
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-12 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
10:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9879
</td>
<td align="right">
    .9871
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-12 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
11:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9881
</td>
<td align="right">
    .9874
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-12 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
11:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9876
</td>
<td align="right">
    .9865
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-12 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
10:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  78.9829
</td>
<td align="right">
  79.1805
</td>
<td align="right">
  .0025
</td>
<td>
2011-08-12 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
10:45:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .9881
</td>
<td align="right">
    .9875
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-12 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
10:55:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .9881
</td>
<td align="right">
    .9874
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-12 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
13:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9876
</td>
<td align="right">
    .9900
</td>
<td align="right">
  .0024
</td>
<td>
2011-08-12 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
13:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9887
</td>
<td align="right">
    .9908
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-12 19:55:00
</td>
</tr>
</table>
<br /><hr />