<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
17:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  85.1448
</td>
<td align="right">
  85.1553
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-21 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
17:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  85.1364
</td>
<td align="right">
  85.1317
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-21 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
20:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  84.9454
</td>
<td align="right">
  85.1066
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-22 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
20:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  84.9466
</td>
<td align="right">
  85.0737
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-22 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
18:00:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8821
</td>
<td align="right">
    .8827
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
18:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8820
</td>
<td align="right">
    .8822
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
18:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8820
</td>
<td align="right">
    .8825
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
18:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8819
</td>
<td align="right">
    .8822
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
18:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8821
</td>
<td align="right">
    .8821
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
18:45:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8822
</td>
<td align="right">
    .8819
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
18:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8824
</td>
<td align="right">
    .8819
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
19:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8819
</td>
<td align="right">
    .8833
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-22 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
19:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8819
</td>
<td align="right">
    .8836
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-22 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
21:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8842
</td>
<td align="right">
    .8839
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
21:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8841
</td>
<td align="right">
    .8838
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
21:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8842
</td>
<td align="right">
    .8838
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
21:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8843
</td>
<td align="right">
    .8837
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
21:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8841
</td>
<td align="right">
    .8836
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
17:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 112.8989
</td>
<td align="right">
 112.9265
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-21 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
18:05:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 112.8922
</td>
<td align="right">
 112.7908
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-22 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
18:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 112.8898
</td>
<td align="right">
 112.8637
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-21
22:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  78.5600
</td>
<td align="right">
  78.5125
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-21
23:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  78.4850
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
21:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.0837
</td>
<td align="right">
   1.0839
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
21:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0840
</td>
<td align="right">
   1.0837
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0835
</td>
<td align="right">
   1.0834
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:05:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.0839
</td>
<td align="right">
   1.0834
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:10:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.0840
</td>
<td align="right">
   1.0833
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0835
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:55:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.0836
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
23:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0834
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
23:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0834
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
23:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.0836
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
19:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 112.7827
</td>
<td align="right">
 112.9422
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-22 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
20:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 112.9899
</td>
<td align="right">
 113.2183
</td>
<td align="right">
  .0020
</td>
<td>
2011-07-22 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-21
20:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4407
</td>
<td align="right">
   1.4421
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-22 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
17:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8191
</td>
<td align="right">
    .8175
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-21 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
17:40:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8189
</td>
<td align="right">
    .8181
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-21 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
17:50:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8188
</td>
<td align="right">
    .8171
</td>
<td align="right">
 -.0020
</td>
<td>
2011-07-21 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
17:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8182
</td>
<td align="right">
    .8164
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-21 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
18:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8175
</td>
<td align="right">
    .8167
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-22 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
18:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8178
</td>
<td align="right">
    .8169
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-22 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
18:15:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8170
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-22 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
18:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8169
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-22 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
18:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8175
</td>
<td align="right">
    .8171
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
18:35:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8169
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-22 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
19:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8165
</td>
<td align="right">
    .8163
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
19:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8167
</td>
<td align="right">
    .8164
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
19:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8169
</td>
<td align="right">
    .8158
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-22 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
19:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8170
</td>
<td align="right">
    .8144
</td>
<td align="right">
 -.0031
</td>
<td>
2011-07-22 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
19:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8167
</td>
<td align="right">
    .8148
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-22 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
19:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8169
</td>
<td align="right">
    .8151
</td>
<td align="right">
 -.0021
</td>
<td>
2011-07-22 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
19:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8171
</td>
<td align="right">
    .8144
</td>
<td align="right">
 -.0033
</td>
<td>
2011-07-22 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
19:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8168
</td>
<td align="right">
    .8155
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-22 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
20:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8144
</td>
<td align="right">
    .8166
</td>
<td align="right">
  .0028
</td>
<td>
2011-07-22 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8168
</td>
<td align="right">
    .8168
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8165
</td>
<td align="right">
    .8170
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8168
</td>
<td align="right">
    .8172
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8166
</td>
<td align="right">
    .8170
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8167
</td>
<td align="right">
    .8172
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8167
</td>
<td align="right">
    .8174
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:05:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8164
</td>
<td align="right">
    .8169
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8164
</td>
<td align="right">
    .8170
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8164
</td>
<td align="right">
    .8167
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8170
</td>
<td align="right">
    .8173
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8172
</td>
<td align="right">
    .8173
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8171
</td>
<td align="right">
    .8173
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
23:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8174
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
23:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8169
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
23:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8170
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-21
17:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  78.5500
</td>
<td align="right">
  78.5275
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-21 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-21
17:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  78.5600
</td>
<td align="right">
  78.5375
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-21 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-21
19:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  78.4800
</td>
<td align="right">
  78.3900
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-22 01:35:00
</td>
</tr>
</table>
<br /><hr />