<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
01:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  82.5963
</td>
<td align="right">
  82.4023
</td>
<td align="right">
 -.0023
</td>
<td>
2011-09-01 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
01:45:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  82.6084
</td>
<td align="right">
  82.4339
</td>
<td align="right">
 -.0021
</td>
<td>
2011-09-01 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
02:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1601
</td>
<td align="right">
   1.1566
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-01 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
06:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.1569
</td>
<td align="right">
   1.1550
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-01 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
06:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1571
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-01 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
07:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1558
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-01 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-01
06:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8853
</td>
<td align="right">
    .8819
</td>
<td align="right">
 -.0038
</td>
<td>
2011-09-01 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
02:45:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
 110.6793
</td>
<td align="right">
 110.6113
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-01 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
02:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 110.6376
</td>
<td align="right">
 110.5820
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-01 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
02:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 110.6477
</td>
<td align="right">
 110.5071
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-01 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
03:00:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
 110.6609
</td>
<td align="right">
 110.5225
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-01 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-01
05:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 110.3232
</td>
<td align="right">
 110.3810
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-01 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
01:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3417
</td>
<td align="right">
   1.3426
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-01 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
02:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3421
</td>
<td align="right">
   1.3425
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-01 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
04:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3430
</td>
<td align="right">
   1.3431
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-01 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
05:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3428
</td>
<td align="right">
   1.3411
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-01 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
05:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3427
</td>
<td align="right">
   1.3407
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-01 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
05:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3431
</td>
<td align="right">
   1.3396
</td>
<td align="right">
 -.0027
</td>
<td>
2011-09-01 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
05:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3426
</td>
<td align="right">
   1.3401
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-01 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-01
06:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3425
</td>
<td align="right">
   1.3400
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-01 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-01
07:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8816
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-01 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
02:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4370
</td>
<td align="right">
   1.4369
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-01 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
03:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4373
</td>
<td align="right">
   1.4373
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-01 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
03:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4371
</td>
<td align="right">
   1.4373
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-01 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
03:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4370
</td>
<td align="right">
   1.4374
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-01 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
03:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4367
</td>
<td align="right">
   1.4366
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-01 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
04:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4374
</td>
<td align="right">
   1.4359
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-01 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
06:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4367
</td>
<td align="right">
   1.4351
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-01 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
06:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4365
</td>
<td align="right">
   1.4335
</td>
<td align="right">
 -.0021
</td>
<td>
2011-09-01 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
06:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4360
</td>
<td align="right">
   1.4321
</td>
<td align="right">
 -.0027
</td>
<td>
2011-09-01 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
06:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4361
</td>
<td align="right">
   1.4316
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-01 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
06:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4361
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-01 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-01
06:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4364
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-01 12:55:00
</td>
</tr>
</table>
<br /><hr />