<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
00:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  76.9100
</td>
<td align="right">
  76.9275
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-14 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
00:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  76.9125
</td>
<td align="right">
  76.9250
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-14 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
01:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.8850
</td>
<td align="right">
  76.9200
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-14 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
01:05:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  76.8950
</td>
<td align="right">
  76.9100
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-14 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
01:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  76.9100
</td>
<td align="right">
  76.9125
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-14
01:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  76.9225
</td>
<td align="right">
  76.9200
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-14
02:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.0905
</td>
<td align="right">
  78.7000
</td>
<td align="right">
 -.0049
</td>
<td>
2011-09-14 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-14
03:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  78.7000
</td>
<td align="right">
  78.7007
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-14
05:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0207
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-14
05:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0217
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-14
05:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0215
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
00:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8671
</td>
<td align="right">
    .8662
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-14 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
00:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8670
</td>
<td align="right">
    .8659
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-14 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
01:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8668
</td>
<td align="right">
    .8658
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-14 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
01:45:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
    .8662
</td>
<td align="right">
    .8659
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-14 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
01:50:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .8662
</td>
<td align="right">
    .8657
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-14 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
01:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8659
</td>
<td align="right">
    .8655
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-14 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
02:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8662
</td>
<td align="right">
    .8655
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-14 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
02:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8659
</td>
<td align="right">
    .8649
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-14 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
03:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8652
</td>
<td align="right">
    .8653
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
03:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8649
</td>
<td align="right">
    .8649
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-14 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
03:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8650
</td>
<td align="right">
    .8655
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-14 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
03:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8650
</td>
<td align="right">
    .8655
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-14 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
04:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8649
</td>
<td align="right">
    .8655
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-14 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
04:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8643
</td>
<td align="right">
    .8647
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-14 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
04:25:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8649
</td>
<td align="right">
    .8647
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-14 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
04:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8651
</td>
<td align="right">
    .8655
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-14 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
04:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8657
</td>
<td align="right">
    .8657
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
04:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8655
</td>
<td align="right">
    .8653
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-14 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
04:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8656
</td>
<td align="right">
    .8658
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-14 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
05:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8648
</td>
<td align="right">
    .8651
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-14 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
05:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8647
</td>
<td align="right">
    .8643
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-14 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
05:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8647
</td>
<td align="right">
    .8645
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-14 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
05:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8657
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-14
06:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8651
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:40:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
 105.3397
</td>
<td align="right">
 105.3063
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-14 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 105.3528
</td>
<td align="right">
 105.1969
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-14 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
00:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 105.3177
</td>
<td align="right">
 105.1013
</td>
<td align="right">
 -.0021
</td>
<td>
2011-09-14 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
01:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
 105.3206
</td>
<td align="right">
 105.1625
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-14 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
01:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 105.3300
</td>
<td align="right">
 105.1343
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-14 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
01:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 105.1013
</td>
<td align="right">
 105.0810
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-14 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
02:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 104.9998
</td>
<td align="right">
 104.8897
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-14 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
02:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 105.0539
</td>
<td align="right">
 104.8679
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-14 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 105.0264
</td>
<td align="right">
 104.8864
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-14 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 105.0243
</td>
<td align="right">
 104.7641
</td>
<td align="right">
 -.0025
</td>
<td>
2011-09-14 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 104.9372
</td>
<td align="right">
 104.8220
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-14 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 104.8943
</td>
<td align="right">
 104.8333
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-14 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 104.8897
</td>
<td align="right">
 104.8295
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-14 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 104.9164
</td>
<td align="right">
 104.9257
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-14 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 104.8867
</td>
<td align="right">
 104.9851
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-14 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 104.8679
</td>
<td align="right">
 104.9708
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-14 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
03:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 104.8716
</td>
<td align="right">
 104.8825
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-14 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:00:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 104.8688
</td>
<td align="right">
 104.7686
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-14 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 104.8864
</td>
<td align="right">
 104.8460
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-14 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 104.7641
</td>
<td align="right">
 104.8068
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-14 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 104.7276
</td>
<td align="right">
 104.7633
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-14 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:25:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 104.8220
</td>
<td align="right">
 104.7694
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-14 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
04:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 104.8333
</td>
<td align="right">
 104.6026
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-14 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-14
06:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 104.7236
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-14 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-14
03:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3628
</td>
<td align="right">
   1.3627
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-14 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-14
03:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3631
</td>
<td align="right">
   1.3646
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-14 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-14
03:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3635
</td>
<td align="right">
   1.3643
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-14 09:55:00
</td>
</tr>
</table>
<br /><hr />