<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
20:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  80.7242
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
15:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0113
</td>
<td align="right">
   1.0129
</td>
<td align="right">
  .0016
</td>
<td>
2011-11-02 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
16:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0138
</td>
<td align="right">
   1.0148
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-02 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
16:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0134
</td>
<td align="right">
   1.0166
</td>
<td align="right">
  .0031
</td>
<td>
2011-11-02 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
17:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0153
</td>
<td align="right">
   1.0160
</td>
<td align="right">
  .0007
</td>
<td>
2011-11-02 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-02
17:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0154
</td>
<td align="right">
   1.0159
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-02 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
19:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  80.8005
</td>
<td align="right">
  80.6751
</td>
<td align="right">
 -.0016
</td>
<td>
2011-11-03 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
19:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  80.7620
</td>
<td align="right">
  80.6881
</td>
<td align="right">
 -.0009
</td>
<td>
2011-11-03 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-02
17:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0335
</td>
<td align="right">
  .0012
</td>
<td>
2011-11-02 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
15:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.7078
</td>
<td align="right">
 107.4914
</td>
<td align="right">
 -.0020
</td>
<td>
2011-11-02 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 107.1979
</td>
<td align="right">
 107.4420
</td>
<td align="right">
  .0023
</td>
<td>
2011-11-02 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 107.2165
</td>
<td align="right">
 107.3252
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-02 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.2468
</td>
<td align="right">
 107.4241
</td>
<td align="right">
  .0017
</td>
<td>
2011-11-02 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 107.2768
</td>
<td align="right">
 107.4038
</td>
<td align="right">
  .0012
</td>
<td>
2011-11-02 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 107.3440
</td>
<td align="right">
 107.3929
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-02 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
17:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.3587
</td>
<td align="right">
 107.4277
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-02 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.5333
</td>
<td align="right">
 107.3525
</td>
<td align="right">
 -.0017
</td>
<td>
2011-11-03 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 107.4021
</td>
<td align="right">
 107.3664
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-03 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 107.4303
</td>
<td align="right">
 107.4322
</td>
<td align="right">
  .0000
</td>
<td>
2011-11-03 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
 107.3591
</td>
<td align="right">
 107.4375
</td>
<td align="right">
  .0007
</td>
<td>
2011-11-03 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.4241
</td>
<td align="right">
 107.3103
</td>
<td align="right">
 -.0011
</td>
<td>
2011-11-03 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.4038
</td>
<td align="right">
 107.3488
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-03 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 107.3770
</td>
<td align="right">
 107.3434
</td>
<td align="right">
 -.0003
</td>
<td>
2011-11-03 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 107.3929
</td>
<td align="right">
 107.3293
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-03 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
18:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 107.4277
</td>
<td align="right">
 107.2341
</td>
<td align="right">
 -.0018
</td>
<td>
2011-11-03 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 107.3525
</td>
<td align="right">
 107.1786
</td>
<td align="right">
 -.0016
</td>
<td>
2011-11-03 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 107.4322
</td>
<td align="right">
 107.2390
</td>
<td align="right">
 -.0018
</td>
<td>
2011-11-03 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 107.4375
</td>
<td align="right">
 107.2011
</td>
<td align="right">
 -.0022
</td>
<td>
2011-11-03 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.3562
</td>
<td align="right">
 107.2026
</td>
<td align="right">
 -.0014
</td>
<td>
2011-11-03 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.3488
</td>
<td align="right">
 107.2456
</td>
<td align="right">
 -.0010
</td>
<td>
2011-11-03 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 107.3434
</td>
<td align="right">
 107.2168
</td>
<td align="right">
 -.0012
</td>
<td>
2011-11-03 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:45:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 107.3380
</td>
<td align="right">
 107.2597
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-03 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
19:55:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 107.2341
</td>
<td align="right">
 107.2938
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-03 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
20:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.2457
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
20:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 107.2390
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-02
20:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 107.2456
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-03 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-02
17:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8856
</td>
<td align="right">
    .8838
</td>
<td align="right">
 -.0021
</td>
<td>
2011-11-02 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-11-02
18:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  78.0500
</td>
<td align="right">
  78.0875
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-03 00:50:00
</td>
</tr>
</table>
<br /><hr />