<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
20:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  86.5142
</td>
<td align="right">
  86.5662
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-07 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
20:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  86.5043
</td>
<td align="right">
  86.5705
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-07 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
20:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  86.5083
</td>
<td align="right">
  86.5754
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-07 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
20:25:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  86.5345
</td>
<td align="right">
  86.5727
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-07 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
20:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  86.5811
</td>
<td align="right">
  86.5715
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
21:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  86.5727
</td>
<td align="right">
  86.5500
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-07 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
21:45:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  86.5815
</td>
<td align="right">
  86.5569
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-07 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
21:55:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  86.5848
</td>
<td align="right">
  86.5726
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
22:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  86.5902
</td>
<td align="right">
  86.5760
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
22:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  86.5726
</td>
<td align="right">
  86.6066
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-07 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
23:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  86.5559
</td>
<td align="right">
  86.5675
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
23:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  86.5526
</td>
<td align="right">
  86.5762
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-06
23:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  86.5734
</td>
<td align="right">
  86.5788
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-07
00:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3393
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
20:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.2020
</td>
<td align="right">
   1.2022
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-07 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
20:55:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.2020
</td>
<td align="right">
   1.2024
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
21:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2015
</td>
<td align="right">
   1.2019
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
21:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2020
</td>
<td align="right">
   1.2033
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-07 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
22:45:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2027
</td>
<td align="right">
   1.2025
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
22:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2028
</td>
<td align="right">
   1.2026
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:00:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.2033
</td>
<td align="right">
   1.2031
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2033
</td>
<td align="right">
   1.2025
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-07 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:10:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.2031
</td>
<td align="right">
   1.2023
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-07 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.2031
</td>
<td align="right">
   1.2027
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-07 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:20:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2029
</td>
<td align="right">
   1.2031
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:25:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.2024
</td>
<td align="right">
   1.2030
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-07 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2027
</td>
<td align="right">
   1.2030
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2025
</td>
<td align="right">
   1.2028
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:40:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.2026
</td>
<td align="right">
   1.2025
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:45:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.2025
</td>
<td align="right">
   1.2028
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-07 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:50:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.2026
</td>
<td align="right">
   1.2025
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
23:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.2032
</td>
<td align="right">
   1.2025
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-07 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-07
00:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2031
</td>
<td align="right">
   1.2023
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-07 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-07
00:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2030
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-06
19:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8947
</td>
<td align="right">
    .8946
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-06
19:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8945
</td>
<td align="right">
    .8948
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-06
19:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8946
</td>
<td align="right">
    .8947
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-07
00:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8948
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
19:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4304
</td>
<td align="right">
   1.4316
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-07 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
20:15:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.4312
</td>
<td align="right">
   1.4320
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-07 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
20:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4311
</td>
<td align="right">
   1.4316
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
20:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4313
</td>
<td align="right">
   1.4317
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
20:35:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
   1.4317
</td>
<td align="right">
   1.4319
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
20:45:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.4317
</td>
<td align="right">
   1.4320
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
20:50:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.4319
</td>
<td align="right">
   1.4323
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
21:30:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.4320
</td>
<td align="right">
   1.4323
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-07 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:05:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
   1.4332
</td>
<td align="right">
   1.4321
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-07 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4331
</td>
<td align="right">
   1.4317
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-07 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:15:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.4330
</td>
<td align="right">
   1.4323
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-07 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:25:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.4328
</td>
<td align="right">
   1.4325
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4328
</td>
<td align="right">
   1.4327
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:40:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
   1.4329
</td>
<td align="right">
   1.4322
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-07 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:45:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.4328
</td>
<td align="right">
   1.4323
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-07 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:50:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.4330
</td>
<td align="right">
   1.4321
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-07 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-06
23:55:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.4335
</td>
<td align="right">
   1.4325
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-07 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:00:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.4325
</td>
<td align="right">
   1.4327
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4321
</td>
<td align="right">
   1.4327
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-07 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.4317
</td>
<td align="right">
   1.4328
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-07 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.4323
</td>
<td align="right">
   1.4326
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-07 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4327
</td>
<td align="right">
   1.4324
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4325
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:30:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
   1.4327
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:35:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
   1.4326
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:40:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.4322
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
00:55:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.4325
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
01:00:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.4327
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-07
01:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4327
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-06
20:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.5998
</td>
<td align="right">
   1.6002
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-06
23:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.6010
</td>
<td align="right">
   1.6009
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-07
00:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.6009
</td>
<td align="right">
   1.6005
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-07
01:05:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.6005
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
20:40:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8395
</td>
<td align="right">
    .8396
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
20:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8395
</td>
<td align="right">
    .8395
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-07 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
20:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8394
</td>
<td align="right">
    .8394
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
21:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8394
</td>
<td align="right">
    .8393
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
22:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8396
</td>
<td align="right">
    .8394
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-07 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
22:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8397
</td>
<td align="right">
    .8393
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-07 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
22:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8396
</td>
<td align="right">
    .8394
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-07 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-07
00:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8397
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-07 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-06
21:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  80.9450
</td>
<td align="right">
  80.9675
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-06
22:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  80.9463
</td>
<td align="right">
  80.9350
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
19:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2017
</td>
<td align="right">
   1.2020
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-07 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-06
19:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2010
</td>
<td align="right">
   1.2020
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-07 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-06
19:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9657
</td>
<td align="right">
    .9656
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-07 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-06
19:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9656
</td>
<td align="right">
    .9657
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-06
20:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9655
</td>
<td align="right">
    .9657
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-07 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-06
20:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9657
</td>
<td align="right">
    .9653
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-07 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-06
21:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9653
</td>
<td align="right">
    .9651
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-06
21:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9654
</td>
<td align="right">
    .9651
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-07 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
19:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8398
</td>
<td align="right">
    .8395
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-07 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
20:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8394
</td>
<td align="right">
    .8392
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
20:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8394
</td>
<td align="right">
    .8392
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-07 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
22:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8394
</td>
<td align="right">
    .8396
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-07 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
23:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8393
</td>
<td align="right">
    .8396
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-07 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
23:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8393
</td>
<td align="right">
    .8397
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-07 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-06
23:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8394
</td>
<td align="right">
    .8395
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-07 05:55:00
</td>
</tr>
</table>
<br /><hr />