<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-29
12:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.6800
</td>
<td align="right">
  76.8100
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-29 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-29
15:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.8275
</td>
<td align="right">
  76.6550
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-29 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-29
13:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  76.8713
</td>
<td align="right">
  76.8325
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-29 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-29
16:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  76.6575
</td>
<td align="right">
  76.7375
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-29 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-29
16:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  76.7125
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-29 22:50:00
</td>
</tr>
</table>
<br /><hr />