<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
18:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3775
</td>
<td align="right">
   1.3683
</td>
<td align="right">
 -.0067
</td>
<td>
2011-09-22 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
18:35:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3688
</td>
<td align="right">
   1.3612
</td>
<td align="right">
 -.0056
</td>
<td>
2011-09-22 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
18:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3679
</td>
<td align="right">
   1.3629
</td>
<td align="right">
 -.0037
</td>
<td>
2011-09-22 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
18:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3675
</td>
<td align="right">
   1.3604
</td>
<td align="right">
 -.0052
</td>
<td>
2011-09-22 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
19:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3676
</td>
<td align="right">
   1.3565
</td>
<td align="right">
 -.0081
</td>
<td>
2011-09-22 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
20:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3518
</td>
<td align="right">
   1.3513
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-22 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
20:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3511
</td>
<td align="right">
   1.3511
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-22 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
21:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3509
</td>
<td align="right">
   1.3509
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-22 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
21:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3509
</td>
<td align="right">
   1.3495
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-22 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
21:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3505
</td>
<td align="right">
   1.3498
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-22 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
21:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3505
</td>
<td align="right">
   1.3494
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-22 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
21:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3507
</td>
<td align="right">
   1.3491
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-22 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
21:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3511
</td>
<td align="right">
   1.3502
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-22 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
22:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3506
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-22 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-21
22:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3494
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-22 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
20:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8753
</td>
<td align="right">
    .8754
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-22 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
20:25:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8751
</td>
<td align="right">
    .8754
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-22 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
20:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8753
</td>
<td align="right">
    .8756
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-22 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
20:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8759
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-22 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
20:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8756
</td>
<td align="right">
    .8760
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-22 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
21:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8759
</td>
<td align="right">
    .8764
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-22 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
21:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8755
</td>
<td align="right">
    .8765
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-22 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
21:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8754
</td>
<td align="right">
    .8763
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-22 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
21:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8756
</td>
<td align="right">
    .8763
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-22 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
21:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8757
</td>
<td align="right">
    .8760
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-22 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-21
22:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8760
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-22 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
19:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3609
</td>
<td align="right">
   1.3570
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-22 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
19:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3604
</td>
<td align="right">
   1.3565
</td>
<td align="right">
 -.0029
</td>
<td>
2011-09-22 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
20:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3577
</td>
<td align="right">
   1.3578
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-22 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
20:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3577
</td>
<td align="right">
   1.3589
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-22 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
21:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3568
</td>
<td align="right">
   1.3592
</td>
<td align="right">
  .0018
</td>
<td>
2011-09-22 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
22:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3584
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-22 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
22:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3596
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-22 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-21
22:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3593
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-22 04:40:00
</td>
</tr>
</table>
<br /><hr />