<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
22:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  74.9571
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
19:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9796
</td>
<td align="right">
    .9824
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-27 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
19:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9802
</td>
<td align="right">
    .9832
</td>
<td align="right">
  .0030
</td>
<td>
2011-09-27 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
19:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9811
</td>
<td align="right">
    .9833
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-27 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
19:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9809
</td>
<td align="right">
    .9830
</td>
<td align="right">
  .0022
</td>
<td>
2011-09-27 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
21:50:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9835
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-26
21:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8694
</td>
<td align="right">
    .8692
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-27 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
16:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 103.0223
</td>
<td align="right">
 102.8386
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-26 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
19:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 103.1457
</td>
<td align="right">
 103.3654
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-27 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
19:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 103.1725
</td>
<td align="right">
 103.3440
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-27 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
16:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0338
</td>
<td align="right">
   1.0331
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-26 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
16:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0332
</td>
<td align="right">
   1.0333
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-26 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0344
</td>
<td align="right">
   1.0328
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-26 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:20:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.0338
</td>
<td align="right">
   1.0336
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-26 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0335
</td>
<td align="right">
   1.0333
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-26 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.0337
</td>
<td align="right">
   1.0326
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-26 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0331
</td>
<td align="right">
   1.0329
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-26 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:40:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.0333
</td>
<td align="right">
   1.0335
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-26 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:45:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.0334
</td>
<td align="right">
   1.0333
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-26 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
17:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0329
</td>
<td align="right">
   1.0332
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-26 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
18:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0337
</td>
<td align="right">
   1.0305
</td>
<td align="right">
 -.0031
</td>
<td>
2011-09-27 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
17:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  74.3400
</td>
<td align="right">
  74.5685
</td>
<td align="right">
  .0031
</td>
<td>
2011-09-26 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
17:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  74.3349
</td>
<td align="right">
  74.6130
</td>
<td align="right">
  .0037
</td>
<td>
2011-09-26 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
18:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  74.5930
</td>
<td align="right">
  74.9524
</td>
<td align="right">
  .0048
</td>
<td>
2011-09-27 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
16:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9709
</td>
<td align="right">
    .9723
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-26 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
17:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9711
</td>
<td align="right">
    .9768
</td>
<td align="right">
  .0059
</td>
<td>
2011-09-26 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
18:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3785
</td>
<td align="right">
   1.3801
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-27 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:25:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.3777
</td>
<td align="right">
   1.3755
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-27 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:30:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.3760
</td>
<td align="right">
   1.3750
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-27 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:35:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3755
</td>
<td align="right">
   1.3749
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-27 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:40:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
   1.3759
</td>
<td align="right">
   1.3754
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-27 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:45:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3764
</td>
<td align="right">
   1.3758
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-27 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:50:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3773
</td>
<td align="right">
   1.3760
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-27 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
19:55:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3773
</td>
<td align="right">
   1.3763
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-27 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:00:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3771
</td>
<td align="right">
   1.3753
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-27 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:05:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3765
</td>
<td align="right">
   1.3752
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-27 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:10:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.3766
</td>
<td align="right">
   1.3750
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-27 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:15:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.3773
</td>
<td align="right">
   1.3754
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-27 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:20:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.3755
</td>
<td align="right">
   1.3754
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-27 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:25:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3755
</td>
<td align="right">
   1.3754
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-27 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:30:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3764
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-27 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:35:00
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
   1.3749
</td>
<td align="right">
   1.3755
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-27 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:40:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3750
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-27 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:45:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
   1.3758
</td>
<td align="right">
   1.3753
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-27 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3760
</td>
<td align="right">
   1.3753
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-27 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
20:55:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
   1.3763
</td>
<td align="right">
   1.3753
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-27 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:15:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
   1.3753
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-27 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:20:00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
   1.3752
</td>
<td align="right">
   1.3759
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-27 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:25:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3768
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-27 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:30:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3772
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-27 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3785
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-27 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3754
</td>
<td align="right">
   1.3773
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-27 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:45:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3764
</td>
<td align="right">
   1.3776
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-27 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3755
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
21:55:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.3750
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:00:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3753
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3759
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:25:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3768
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
22:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3772
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
16:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 102.9077
</td>
<td align="right">
 102.8376
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-26 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
16:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 102.9142
</td>
<td align="right">
 102.8663
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-26 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
17:15:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 102.8980
</td>
<td align="right">
 102.7724
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-26 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
17:20:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 102.9227
</td>
<td align="right">
 102.7810
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-26 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
19:00:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 103.0779
</td>
<td align="right">
 103.3414
</td>
<td align="right">
  .0026
</td>
<td>
2011-09-27 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
19:30:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0289
</td>
<td align="right">
   1.0265
</td>
<td align="right">
 -.0023
</td>
<td>
2011-09-27 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
19:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0260
</td>
<td align="right">
 -.0025
</td>
<td>
2011-09-27 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
19:40:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0286
</td>
<td align="right">
   1.0264
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-27 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
19:45:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.0289
</td>
<td align="right">
   1.0261
</td>
<td align="right">
 -.0027
</td>
<td>
2011-09-27 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
19:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0284
</td>
<td align="right">
   1.0257
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-27 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
19:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0251
</td>
<td align="right">
 -.0032
</td>
<td>
2011-09-27 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
20:00:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0281
</td>
<td align="right">
   1.0252
</td>
<td align="right">
 -.0028
</td>
<td>
2011-09-27 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
20:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.0278
</td>
<td align="right">
   1.0247
</td>
<td align="right">
 -.0030
</td>
<td>
2011-09-27 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
20:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.0275
</td>
<td align="right">
   1.0248
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-27 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
20:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.0273
</td>
<td align="right">
   1.0254
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-27 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
20:40:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0264
</td>
<td align="right">
   1.0242
</td>
<td align="right">
 -.0021
</td>
<td>
2011-09-27 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
20:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0261
</td>
<td align="right">
   1.0247
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-27 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
21:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0242
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-26
22:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0247
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-27 04:05:00
</td>
</tr>
</table>
<br /><hr />