<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
13:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0452
</td>
<td align="right">
   1.0486
</td>
<td align="right">
  .0033
</td>
<td>
2011-08-15 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
14:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0464
</td>
<td align="right">
   1.0476
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-15 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
15:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0462
</td>
<td align="right">
   1.0483
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-15 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
15:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0468
</td>
<td align="right">
   1.0487
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-15 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
15:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0473
</td>
<td align="right">
   1.0485
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-15 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
15:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0478
</td>
<td align="right">
   1.0486
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-15 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
15:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0477
</td>
<td align="right">
   1.0481
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-15 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
16:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0481
</td>
<td align="right">
   1.0482
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-15 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
16:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0475
</td>
<td align="right">
   1.0481
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-15 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
16:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0477
</td>
<td align="right">
   1.0477
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-15 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
16:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0482
</td>
<td align="right">
   1.0478
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-15 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
16:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0482
</td>
<td align="right">
   1.0477
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-15 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
16:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0481
</td>
<td align="right">
   1.0479
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-15 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
16:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0486
</td>
<td align="right">
   1.0489
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-15 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
17:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0481
</td>
<td align="right">
   1.0489
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-15 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
17:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0477
</td>
<td align="right">
   1.0487
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-15 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
17:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0477
</td>
<td align="right">
   1.0493
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-15 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
17:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0479
</td>
<td align="right">
   1.0493
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-15 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-15
14:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1312
</td>
<td align="right">
   1.1252
</td>
<td align="right">
 -.0053
</td>
<td>
2011-08-15 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
13:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4428
</td>
<td align="right">
   1.4447
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-15 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
14:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4437
</td>
<td align="right">
   1.4453
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-15 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
14:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4447
</td>
<td align="right">
   1.4444
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-15 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
14:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4443
</td>
<td align="right">
   1.4445
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-15 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
14:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4445
</td>
<td align="right">
   1.4449
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-15 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
16:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4450
</td>
<td align="right">
   1.4439
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-15 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
16:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4457
</td>
<td align="right">
   1.4435
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-15 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
16:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4452
</td>
<td align="right">
   1.4441
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-15 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
16:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4451
</td>
<td align="right">
   1.4439
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-15 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
16:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4453
</td>
<td align="right">
   1.4442
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-15 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
16:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4453
</td>
<td align="right">
   1.4439
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-15 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
16:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4457
</td>
<td align="right">
   1.4440
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-15 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
17:40:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
   1.4446
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-15 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
17:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.4439
</td>
<td align="right">
   1.4450
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-15 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
18:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4449
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
18:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.4446
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
18:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4450
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
19:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.4453
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
19:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4451
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-15
19:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4451
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
13:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9858
</td>
<td align="right">
    .9844
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-15 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
15:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9846
</td>
<td align="right">
    .9828
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-15 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
16:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9829
</td>
<td align="right">
    .9829
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-15 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
16:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9830
</td>
<td align="right">
    .9828
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-15 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
16:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9830
</td>
<td align="right">
    .9828
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-15 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
16:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9828
</td>
<td align="right">
    .9827
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-15 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
16:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9827
</td>
<td align="right">
    .9828
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-15 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
17:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9827
</td>
<td align="right">
    .9826
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-15 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
18:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9826
</td>
<td align="right">
    .9810
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-16 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
18:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9817
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
18:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9817
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
19:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9807
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
14:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  76.6525
</td>
<td align="right">
  76.7125
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-15 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
14:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  76.6300
</td>
<td align="right">
  76.7325
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-15 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
14:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  76.6475
</td>
<td align="right">
  76.7225
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-15 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
14:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  76.6500
</td>
<td align="right">
  76.7375
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-15 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
14:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  76.7025
</td>
<td align="right">
  76.7338
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-15 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
15:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  76.7050
</td>
<td align="right">
  76.7400
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-15 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
15:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  76.7125
</td>
<td align="right">
  76.7700
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-15 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
15:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  76.7225
</td>
<td align="right">
  76.7800
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-15 21:20:00
</td>
</tr>
</table>
<br /><hr />