<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
02:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  85.1641
</td>
<td align="right">
  85.1471
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
04:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  85.1914
</td>
<td align="right">
  85.2667
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-22 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
05:20:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8179
</td>
<td align="right">
    .8203
</td>
<td align="right">
  .0029
</td>
<td>
2011-07-22 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
05:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8183
</td>
<td align="right">
    .8193
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-22 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
05:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8182
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
00:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.6375
</td>
<td align="right">
  78.6075
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
00:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.6450
</td>
<td align="right">
  78.6038
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  78.6675
</td>
<td align="right">
  78.6025
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-22 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  78.6300
</td>
<td align="right">
  78.6125
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  78.5950
</td>
<td align="right">
  78.5925
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  78.5938
</td>
<td align="right">
  78.5988
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  78.6038
</td>
<td align="right">
  78.6000
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
02:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  78.6100
</td>
<td align="right">
  78.5925
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
02:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  78.6075
</td>
<td align="right">
  78.5950
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
02:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  78.6000
</td>
<td align="right">
  78.5800
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
03:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  78.5950
</td>
<td align="right">
  78.5900
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
03:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  78.5988
</td>
<td align="right">
  78.6300
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
03:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  78.5950
</td>
<td align="right">
  78.6150
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
03:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.5900
</td>
<td align="right">
  78.6163
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
03:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  78.5800
</td>
<td align="right">
  78.6025
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  78.5900
</td>
<td align="right">
  78.6200
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.5938
</td>
<td align="right">
  78.6250
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  78.6300
</td>
<td align="right">
  78.6225
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  78.6150
</td>
<td align="right">
  78.6400
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  78.6138
</td>
<td align="right">
  78.6225
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  78.6250
</td>
<td align="right">
  78.6350
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  78.6163
</td>
<td align="right">
  78.6075
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  78.6200
</td>
<td align="right">
  78.6113
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
04:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  78.6025
</td>
<td align="right">
  78.6025
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
05:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  78.6200
</td>
<td align="right">
  78.5938
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
05:25:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  78.6325
</td>
<td align="right">
  78.6250
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
05:30:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  78.6350
</td>
<td align="right">
  78.6125
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
00:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0832
</td>
<td align="right">
   1.0840
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
00:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0829
</td>
<td align="right">
   1.0837
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
00:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0831
</td>
<td align="right">
   1.0835
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:10:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0823
</td>
<td align="right">
   1.0830
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:15:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.0826
</td>
<td align="right">
   1.0829
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0826
</td>
<td align="right">
   1.0831
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0838
</td>
<td align="right">
   1.0835
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0840
</td>
<td align="right">
   1.0838
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
02:25:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.0831
</td>
<td align="right">
   1.0838
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
02:40:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.0838
</td>
<td align="right">
   1.0838
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
03:05:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.0834
</td>
<td align="right">
   1.0841
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
03:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0837
</td>
<td align="right">
   1.0840
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
03:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0838
</td>
<td align="right">
   1.0837
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
03:50:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.0841
</td>
<td align="right">
   1.0839
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
04:30:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0836
</td>
<td align="right">
   1.0842
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
01:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8825
</td>
<td align="right">
    .8820
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
02:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8822
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
05:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
    .8831
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
03:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 113.0959
</td>
<td align="right">
 113.1001
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
04:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 113.1093
</td>
<td align="right">
 113.1211
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
04:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 113.1170
</td>
<td align="right">
 113.2282
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-22 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
01:15:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.4393
</td>
<td align="right">
   1.4387
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
01:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4392
</td>
<td align="right">
   1.4386
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4392
</td>
<td align="right">
   1.4391
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:25:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4390
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:30:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
   1.4389
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.4394
</td>
<td align="right">
   1.4388
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4393
</td>
<td align="right">
   1.4384
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:45:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.4395
</td>
<td align="right">
   1.4386
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:50:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
   1.4386
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4390
</td>
<td align="right">
   1.4388
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4391
</td>
<td align="right">
   1.4390
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4389
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4385
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4391
</td>
<td align="right">
   1.4388
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
   1.4386
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:25:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4390
</td>
<td align="right">
   1.4383
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:30:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
   1.4385
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:35:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4385
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:40:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.4384
</td>
<td align="right">
   1.4389
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4386
</td>
<td align="right">
   1.4390
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:50:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.4386
</td>
<td align="right">
   1.4392
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4395
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:00:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.4390
</td>
<td align="right">
   1.4390
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
   1.4388
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4385
</td>
<td align="right">
   1.4388
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:15:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4389
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.4386
</td>
<td align="right">
   1.4392
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4383
</td>
<td align="right">
   1.4391
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4385
</td>
<td align="right">
   1.4397
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:35:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.4385
</td>
<td align="right">
   1.4401
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-22 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:40:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
   1.4404
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-22 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
04:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.4390
</td>
<td align="right">
   1.4404
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-22 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
05:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4390
</td>
<td align="right">
   1.4414
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-22 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
05:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4412
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-22 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
05:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4400
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-22 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
05:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
   1.4394
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
05:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4391
</td>
<td align="right">
   1.4398
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:35:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8177
</td>
<td align="right">
    .8177
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:40:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8173
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:45:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8178
</td>
<td align="right">
    .8173
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8180
</td>
<td align="right">
    .8172
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-22 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8177
</td>
<td align="right">
    .8175
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
01:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8178
</td>
<td align="right">
    .8174
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
01:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8173
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 07:30:00
</td>
</tr>
</table>
<br /><hr />