<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-22
02:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  85.1641
</td>
<td align="right">
  85.1471
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
21:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8843
</td>
<td align="right">
    .8837
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-21
21:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8841
</td>
<td align="right">
    .8836
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-22
00:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 113.0040
</td>
<td align="right">
 113.1784
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-22 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-21
22:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  78.5600
</td>
<td align="right">
  78.5125
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-21
23:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  78.4850
</td>
<td align="right">
  78.5488
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-21
23:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  78.5150
</td>
<td align="right">
  78.5413
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
00:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.5725
</td>
<td align="right">
  78.6900
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-22 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
00:10:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  78.5488
</td>
<td align="right">
  78.6675
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-22 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
00:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.6375
</td>
<td align="right">
  78.6075
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
00:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  78.6450
</td>
<td align="right">
  78.6038
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  78.6675
</td>
<td align="right">
  78.6025
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-22 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  78.6300
</td>
<td align="right">
  78.6125
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  78.5950
</td>
<td align="right">
  78.5925
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  78.5938
</td>
<td align="right">
  78.5988
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
01:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  78.6038
</td>
<td align="right">
  78.6000
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
02:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  78.6100
</td>
<td align="right">
  78.5925
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
02:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  78.6075
</td>
<td align="right">
  78.5950
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-22
02:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  78.6000
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
21:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0840
</td>
<td align="right">
   1.0837
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0835
</td>
<td align="right">
   1.0834
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:05:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.0839
</td>
<td align="right">
   1.0834
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:10:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.0840
</td>
<td align="right">
   1.0833
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0835
</td>
<td align="right">
   1.0839
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
22:55:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.0836
</td>
<td align="right">
   1.0840
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
23:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0834
</td>
<td align="right">
   1.0839
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
23:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0834
</td>
<td align="right">
   1.0833
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
23:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.0836
</td>
<td align="right">
   1.0833
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
23:25:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.0833
</td>
<td align="right">
   1.0831
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
00:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0831
</td>
<td align="right">
   1.0826
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
00:30:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.0830
</td>
<td align="right">
   1.0838
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
00:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0832
</td>
<td align="right">
   1.0840
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
00:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0829
</td>
<td align="right">
   1.0837
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
00:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0831
</td>
<td align="right">
   1.0835
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:10:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0823
</td>
<td align="right">
   1.0830
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-22 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:15:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.0826
</td>
<td align="right">
   1.0829
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0826
</td>
<td align="right">
   1.0831
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0838
</td>
<td align="right">
   1.0835
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
01:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0840
</td>
<td align="right">
   1.0838
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-22 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
02:25:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.0831
</td>
<td align="right">
   1.0837
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
02:40:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.0838
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
03:05:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.0834
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
03:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0837
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-22
03:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0837
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
01:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8825
</td>
<td align="right">
    .8820
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-22 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-22
02:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8826
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
01:15:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.4393
</td>
<td align="right">
   1.4387
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
01:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4392
</td>
<td align="right">
   1.4386
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4392
</td>
<td align="right">
   1.4391
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:25:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
   1.4388
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-22 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:30:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.4394
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4393
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:45:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.4395
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:50:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
02:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4390
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4391
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4391
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4389
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-22
03:25:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.4388
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-22 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8165
</td>
<td align="right">
    .8170
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8168
</td>
<td align="right">
    .8172
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-22 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8166
</td>
<td align="right">
    .8170
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8167
</td>
<td align="right">
    .8172
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
21:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8167
</td>
<td align="right">
    .8174
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:05:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8164
</td>
<td align="right">
    .8169
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-22 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8164
</td>
<td align="right">
    .8170
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-22 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8164
</td>
<td align="right">
    .8167
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8170
</td>
<td align="right">
    .8173
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-22 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8172
</td>
<td align="right">
    .8173
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
22:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8171
</td>
<td align="right">
    .8173
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-22 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
23:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8174
</td>
<td align="right">
    .8175
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-22 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
23:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8169
</td>
<td align="right">
    .8178
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-22 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
23:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8170
</td>
<td align="right">
    .8178
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-22 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8175
</td>
<td align="right">
    .8176
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-22 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:30:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8179
</td>
<td align="right">
    .8176
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:35:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8177
</td>
<td align="right">
    .8177
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-22 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:40:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8173
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:45:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8178
</td>
<td align="right">
    .8173
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-22 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8180
</td>
<td align="right">
    .8172
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-22 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
00:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8177
</td>
<td align="right">
    .8175
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-22 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
01:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8178
</td>
<td align="right">
    .8174
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-22
01:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8173
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-22 07:30:00
</td>
</tr>
</table>
<br /><hr />