<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
10:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0314
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
06:30:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8767
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-12 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
06:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8758
</td>
<td align="right">
    .8766
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-12 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
06:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8761
</td>
<td align="right">
    .8776
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-12 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
07:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8762
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-12 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
08:00:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8774
</td>
<td align="right">
    .8744
</td>
<td align="right">
 -.0033
</td>
<td>
2011-08-12 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
08:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8767
</td>
<td align="right">
    .8741
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-12 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
08:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 109.1092
</td>
<td align="right">
 109.2465
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-12 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
09:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 109.3178
</td>
<td align="right">
 109.1967
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-12 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
10:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 109.2539
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
10:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 109.1641
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
05:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4191
</td>
<td align="right">
   1.4202
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-12 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
05:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.4198
</td>
<td align="right">
   1.4191
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-12 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
05:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4189
</td>
<td align="right">
   1.4184
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-12 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
05:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.4193
</td>
<td align="right">
   1.4195
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-12 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
06:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.4182
</td>
<td align="right">
   1.4188
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-12 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
07:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.4202
</td>
<td align="right">
   1.4225
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-12 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
08:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4220
</td>
<td align="right">
   1.4245
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-12 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
08:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.4225
</td>
<td align="right">
   1.4235
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-12 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
06:20:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .9875
</td>
<td align="right">
    .9898
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-12 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
06:30:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9880
</td>
<td align="right">
    .9892
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-12 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
06:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9886
</td>
<td align="right">
    .9879
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-12 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
07:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9882
</td>
<td align="right">
    .9882
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-12 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
07:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9882
</td>
<td align="right">
    .9865
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-12 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-12
08:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9882
</td>
<td align="right">
    .9874
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-12 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
06:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.0205
</td>
<td align="right">
  78.8090
</td>
<td align="right">
 -.0027
</td>
<td>
2011-08-12 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
08:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  78.9999
</td>
<td align="right">
  79.3100
</td>
<td align="right">
  .0039
</td>
<td>
2011-08-12 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
08:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  79.0297
</td>
<td align="right">
  79.2502
</td>
<td align="right">
  .0028
</td>
<td>
2011-08-12 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
08:45:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  79.1736
</td>
<td align="right">
  79.2869
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-12 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
09:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.2556
</td>
<td align="right">
  79.2518
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-12 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
09:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.1282
</td>
<td align="right">
  79.1984
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-12 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-12
09:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  79.2427
</td>
<td align="right">
  79.1543
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-12 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
04:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0287
</td>
<td align="right">
   1.0290
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-12 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
04:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0276
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-12 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
04:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0277
</td>
<td align="right">
   1.0285
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-12 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
05:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0280
</td>
<td align="right">
   1.0291
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-12 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
05:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0290
</td>
<td align="right">
   1.0288
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-12 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
05:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.0288
</td>
<td align="right">
   1.0296
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-12 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:00:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.0290
</td>
<td align="right">
   1.0267
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-12 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0291
</td>
<td align="right">
   1.0264
</td>
<td align="right">
 -.0026
</td>
<td>
2011-08-12 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0294
</td>
<td align="right">
   1.0266
</td>
<td align="right">
 -.0028
</td>
<td>
2011-08-12 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0294
</td>
<td align="right">
   1.0274
</td>
<td align="right">
 -.0019
</td>
<td>
2011-08-12 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:30:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0288
</td>
<td align="right">
   1.0275
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-12 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0288
</td>
<td align="right">
   1.0288
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-12 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0284
</td>
<td align="right">
   1.0290
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-12 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0282
</td>
<td align="right">
   1.0292
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-12 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0280
</td>
<td align="right">
   1.0279
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-12 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
06:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0296
</td>
<td align="right">
   1.0282
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-12 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
07:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0264
</td>
<td align="right">
   1.0279
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-12 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
07:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0263
</td>
<td align="right">
   1.0296
</td>
<td align="right">
  .0033
</td>
<td>
2011-08-12 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
07:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0290
</td>
<td align="right">
   1.0300
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-12 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
07:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0292
</td>
<td align="right">
   1.0322
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-12 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
07:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0279
</td>
<td align="right">
   1.0316
</td>
<td align="right">
  .0036
</td>
<td>
2011-08-12 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
07:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0282
</td>
<td align="right">
   1.0308
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-12 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
08:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0286
</td>
<td align="right">
   1.0316
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-12 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
08:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.0296
</td>
<td align="right">
   1.0317
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-12 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
08:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0295
</td>
<td align="right">
   1.0331
</td>
<td align="right">
  .0035
</td>
<td>
2011-08-12 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
08:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0289
</td>
<td align="right">
   1.0341
</td>
<td align="right">
  .0051
</td>
<td>
2011-08-12 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-12
09:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0316
</td>
<td align="right">
   1.0327
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-12 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
04:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8757
</td>
<td align="right">
    .8764
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-12 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
06:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8748
</td>
<td align="right">
    .8766
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-12 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
07:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8748
</td>
<td align="right">
    .8768
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-12 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
10:00:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8745
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
05:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 108.9303
</td>
<td align="right">
 108.9744
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-12 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
06:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 108.9186
</td>
<td align="right">
 108.7600
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-12 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
06:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 108.9050
</td>
<td align="right">
 108.7968
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-12 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
07:05:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
 108.7556
</td>
<td align="right">
 108.8331
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-12 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-12
07:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 108.5836
</td>
<td align="right">
 108.8736
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-12 13:10:00
</td>
</tr>
</table>
<br /><hr />