<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
07:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8740
</td>
<td align="right">
    .8736
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-08 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
07:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7595
</td>
<td align="right">
    .7598
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-08 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
07:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7609
</td>
<td align="right">
    .7600
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-08 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
08:10:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .7595
</td>
<td align="right">
    .7585
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-08 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
08:25:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    .7612
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
08:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .7603
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
08:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7606
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
08:40:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .7607
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
08:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7603
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
08:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7600
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
08:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .7600
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
09:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7590
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
09:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .7585
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-08
03:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3841
</td>
<td align="right">
   1.3873
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-08 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
03:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8730
</td>
<td align="right">
    .8721
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-08 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
03:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8728
</td>
<td align="right">
    .8728
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-08 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
03:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8727
</td>
<td align="right">
    .8725
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-08 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
03:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8728
</td>
<td align="right">
    .8722
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-08 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
03:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8724
</td>
<td align="right">
    .8723
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-08 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
03:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8729
</td>
<td align="right">
    .8720
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-08 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
04:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8729
</td>
<td align="right">
    .8729
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-08 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
04:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8728
</td>
<td align="right">
    .8737
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-08 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
04:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8722
</td>
<td align="right">
    .8739
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-08 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
04:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8723
</td>
<td align="right">
    .8734
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-08 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
05:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8725
</td>
<td align="right">
    .8723
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-08 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-08
07:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8742
</td>
<td align="right">
    .8739
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-08 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
04:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9842
</td>
<td align="right">
    .9820
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-08 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
05:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9842
</td>
<td align="right">
    .9835
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-08 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
05:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9839
</td>
<td align="right">
    .9835
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-08 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
07:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9786
</td>
<td align="right">
    .9816
</td>
<td align="right">
  .0030
</td>
<td>
2011-08-08 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
07:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9808
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-08 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
07:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9806
</td>
<td align="right">
    .9820
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-08 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
07:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9808
</td>
<td align="right">
    .9828
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-08 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
07:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9807
</td>
<td align="right">
    .9826
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-08 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
07:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9810
</td>
<td align="right">
    .9834
</td>
<td align="right">
  .0024
</td>
<td>
2011-08-08 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-08
08:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9828
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-08
05:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7555
</td>
<td align="right">
    .7554
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-08 11:25:00
</td>
</tr>
</table>
<br /><hr />