<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
19:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  82.7256
</td>
<td align="right">
  82.8204
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-04 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
22:30:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  83.0657
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
22:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  83.0968
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
22:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  83.0987
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
22:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  83.0909
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-03
22:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8738
</td>
<td align="right">
    .8735
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-04 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
18:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  82.6606
</td>
<td align="right">
  82.6229
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-04 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
18:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  82.5715
</td>
<td align="right">
  82.6817
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-04 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
18:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  82.5349
</td>
<td align="right">
  82.6774
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-04 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
18:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  82.5583
</td>
<td align="right">
  82.7408
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-04 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-03
19:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  82.6870
</td>
<td align="right">
  82.8316
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-04 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
18:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3326
</td>
<td align="right">
   1.3332
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-04 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
18:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3332
</td>
<td align="right">
   1.3322
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-04 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-03
18:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3330
</td>
<td align="right">
   1.3320
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-04 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-03
20:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8718
</td>
<td align="right">
    .8738
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-04 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-03
18:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 110.0483
</td>
<td align="right">
 110.2095
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-04 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-03
19:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 110.0911
</td>
<td align="right">
 110.2323
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-04 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-03
19:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 110.0799
</td>
<td align="right">
 110.2679
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-04 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-03
19:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 110.1124
</td>
<td align="right">
 110.2444
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-04 01:10:00
</td>
</tr>
</table>
<br /><hr />