<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
15:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3614
</td>
<td align="right">
   1.3593
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-27 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
16:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3606
</td>
<td align="right">
   1.3609
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-27 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
18:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3653
</td>
<td align="right">
   1.3606
</td>
<td align="right">
 -.0034
</td>
<td>
2011-09-28 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
19:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0201
</td>
<td align="right">
   1.0201
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-28 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
20:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0201
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
20:40:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
   1.0201
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
20:45:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.0199
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
20:50:00
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
   1.0196
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
20:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.0195
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
21:15:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.0199
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
21:20:00
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
   1.0195
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
17:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  76.1942
</td>
<td align="right">
  76.4958
</td>
<td align="right">
  .0040
</td>
<td>
2011-09-27 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
17:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  76.2118
</td>
<td align="right">
  76.5623
</td>
<td align="right">
  .0046
</td>
<td>
2011-09-27 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
17:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  76.2741
</td>
<td align="right">
  76.5113
</td>
<td align="right">
  .0031
</td>
<td>
2011-09-27 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
19:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  76.2319
</td>
<td align="right">
  76.1579
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-28 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
19:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  76.3155
</td>
<td align="right">
  76.1661
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-28 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
19:35:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  76.0781
</td>
<td align="right">
  76.1579
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-28 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
19:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  76.0091
</td>
<td align="right">
  76.1257
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-28 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
19:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  75.9731
</td>
<td align="right">
  76.1102
</td>
<td align="right">
  .0018
</td>
<td>
2011-09-28 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:00:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
  76.0990
</td>
<td align="right">
  76.0784
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-28 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  76.1702
</td>
<td align="right">
  76.0996
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-28 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  76.1579
</td>
<td align="right">
  76.1013
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-28 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  76.1661
</td>
<td align="right">
  76.1087
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-28 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:20:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
  76.1635
</td>
<td align="right">
  76.0882
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-28 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:25:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
  76.1953
</td>
<td align="right">
  76.1200
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-28 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:30:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
  76.1802
</td>
<td align="right">
  76.1128
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-28 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:35:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
  76.1579
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
  76.1531
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:45:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
  76.1257
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:50:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
  76.1102
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
20:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  76.1194
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
21:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  76.0784
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
21:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  76.0996
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
21:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  76.1013
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-27
21:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  76.1087
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
19:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9924
</td>
<td align="right">
    .9906
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-28 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
19:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9910
</td>
<td align="right">
    .9906
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-28 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
19:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9903
</td>
<td align="right">
    .9906
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-28 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
19:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9896
</td>
<td align="right">
    .9908
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-28 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
20:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9906
</td>
<td align="right">
    .9905
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-28 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
20:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9906
</td>
<td align="right">
    .9914
</td>
<td align="right">
  .0008
</td>
<td>
2011-09-28 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
20:40:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9906
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-27
20:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9911
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-27
17:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2196
</td>
<td align="right">
   1.2200
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-27 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-27
17:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8689
</td>
<td align="right">
    .8704
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-27 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 104.3234
</td>
<td align="right">
 104.2147
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-27 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 104.3022
</td>
<td align="right">
 104.2067
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-27 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 104.2545
</td>
<td align="right">
 104.1920
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-27 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 104.0846
</td>
<td align="right">
 104.3466
</td>
<td align="right">
  .0025
</td>
<td>
2011-09-27 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 104.2111
</td>
<td align="right">
 104.3720
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-27 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
16:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 104.1456
</td>
<td align="right">
 104.5129
</td>
<td align="right">
  .0035
</td>
<td>
2011-09-27 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
17:00:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 104.1433
</td>
<td align="right">
 104.5998
</td>
<td align="right">
  .0044
</td>
<td>
2011-09-27 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
17:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 104.1920
</td>
<td align="right">
 104.7675
</td>
<td align="right">
  .0055
</td>
<td>
2011-09-27 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
17:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 104.3466
</td>
<td align="right">
 104.7821
</td>
<td align="right">
  .0042
</td>
<td>
2011-09-27 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
17:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 104.3720
</td>
<td align="right">
 104.7309
</td>
<td align="right">
  .0034
</td>
<td>
2011-09-27 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
17:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 104.5129
</td>
<td align="right">
 104.6422
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-27 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
17:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 104.5813
</td>
<td align="right">
 104.7567
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-27 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
19:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 104.4047
</td>
<td align="right">
 104.4619
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-28 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
19:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 104.3405
</td>
<td align="right">
 104.5010
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-28 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
19:30:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 104.3450
</td>
<td align="right">
 104.4716
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-28 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
19:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 104.3446
</td>
<td align="right">
 104.4603
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-28 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
19:40:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 104.3224
</td>
<td align="right">
 104.4561
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-28 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
19:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 104.3077
</td>
<td align="right">
 104.4584
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-28 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
19:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 104.3425
</td>
<td align="right">
 104.4012
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-28 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
20:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 104.4716
</td>
<td align="right">
 104.3660
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-28 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
20:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 104.3472
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
21:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 104.4021
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
21:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 104.4115
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-27
21:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 104.3911
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
19:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3602
</td>
<td align="right">
   1.3587
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-28 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
19:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3605
</td>
<td align="right">
   1.3585
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-28 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
19:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3598
</td>
<td align="right">
   1.3588
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-28 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
19:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3589
</td>
<td align="right">
   1.3593
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-28 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
19:50:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3591
</td>
<td align="right">
   1.3591
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-28 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
19:55:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
   1.3595
</td>
<td align="right">
   1.3587
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-28 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:00:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3601
</td>
<td align="right">
   1.3592
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-28 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3598
</td>
<td align="right">
   1.3590
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-28 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:10:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.3584
</td>
<td align="right">
   1.3588
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-28 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3589
</td>
<td align="right">
   1.3590
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-28 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3585
</td>
<td align="right">
   1.3589
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-28 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:25:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3587
</td>
<td align="right">
   1.3591
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-28 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3585
</td>
<td align="right">
   1.3594
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-28 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3588
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
20:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3591
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
21:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3592
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
21:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3590
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
21:25:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
   1.3588
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
21:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3590
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
21:35:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.3589
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
21:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3591
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-09-27
21:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3594
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-28 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
17:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0188
</td>
<td align="right">
   1.0152
</td>
<td align="right">
 -.0036
</td>
<td>
2011-09-27 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
17:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0179
</td>
<td align="right">
   1.0161
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-27 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
18:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0165
</td>
<td align="right">
   1.0201
</td>
<td align="right">
  .0035
</td>
<td>
2011-09-28 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-27
18:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0167
</td>
<td align="right">
   1.0205
</td>
<td align="right">
  .0037
</td>
<td>
2011-09-28 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8950
</td>
<td align="right">
    .8962
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-27 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
15:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8952
</td>
<td align="right">
    .8972
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-27 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
16:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8960
</td>
<td align="right">
    .8962
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-27 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
17:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8950
</td>
<td align="right">
    .8949
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-27 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
18:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8941
</td>
<td align="right">
    .8961
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-28 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
18:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8938
</td>
<td align="right">
    .8965
</td>
<td align="right">
  .0030
</td>
<td>
2011-09-28 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
18:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8934
</td>
<td align="right">
    .8969
</td>
<td align="right">
  .0039
</td>
<td>
2011-09-28 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
18:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8937
</td>
<td align="right">
    .8962
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-28 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
18:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8942
</td>
<td align="right">
    .8967
</td>
<td align="right">
  .0029
</td>
<td>
2011-09-28 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-27
18:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8946
</td>
<td align="right">
    .8967
</td>
<td align="right">
  .0024
</td>
<td>
2011-09-28 00:50:00
</td>
</tr>
</table>
<br /><hr />