<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
02:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  78.4500
</td>
<td align="right">
  78.4079
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-15 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
07:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3441
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-15 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-15
05:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
 105.2752
</td>
<td align="right">
 105.3295
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-15 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-15
06:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 105.3629
</td>
<td align="right">
 105.4524
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-15 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-09-15
03:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.5760
</td>
<td align="right">
   1.5770
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-15 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-15
05:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.6813
</td>
<td align="right">
  76.7075
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-15 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-15
07:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.7025
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-15 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-15
07:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.6975
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-15 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-15
07:35:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  76.6963
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-15 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
04:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  78.2523
</td>
<td align="right">
  78.2244
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-15 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
04:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  78.2066
</td>
<td align="right">
  78.2110
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-15 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
04:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  78.2142
</td>
<td align="right">
  78.3465
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-15 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
05:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  78.2110
</td>
<td align="right">
  78.4206
</td>
<td align="right">
  .0027
</td>
<td>
2011-09-15 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
05:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  78.1579
</td>
<td align="right">
  78.3376
</td>
<td align="right">
  .0023
</td>
<td>
2011-09-15 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
05:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  78.2116
</td>
<td align="right">
  78.3759
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-15 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
07:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  78.3433
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-15 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
02:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3394
</td>
<td align="right">
   1.3422
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-15 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
02:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3395
</td>
<td align="right">
   1.3423
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-15 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
02:55:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3415
</td>
<td align="right">
   1.3445
</td>
<td align="right">
  .0022
</td>
<td>
2011-09-15 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
03:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3411
</td>
<td align="right">
   1.3440
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-15 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
04:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3446
</td>
<td align="right">
   1.3445
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-15 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
06:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3433
</td>
<td align="right">
   1.3441
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-15 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-15
04:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8701
</td>
<td align="right">
    .8706
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-15 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-15
05:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8708
</td>
<td align="right">
    .8708
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-15 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-15
05:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8706
</td>
<td align="right">
    .8711
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-15 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-15
06:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 105.3728
</td>
<td align="right">
 105.4629
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-15 12:25:00
</td>
</tr>
</table>
<br /><hr />