<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
12:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1739
</td>
<td align="right">
   1.1746
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-11 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
13:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1725
</td>
<td align="right">
   1.1722
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-11 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
15:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1722
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9675
</td>
<td align="right">
    .9688
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-11 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9676
</td>
<td align="right">
    .9694
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-11 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9677
</td>
<td align="right">
    .9689
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-11 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:35:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9685
</td>
<td align="right">
    .9682
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-11 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9685
</td>
<td align="right">
    .9684
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-11 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:45:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .9693
</td>
<td align="right">
    .9681
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-11 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9685
</td>
<td align="right">
    .9681
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-11 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:55:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9689
</td>
<td align="right">
    .9684
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-11 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
12:00:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .9690
</td>
<td align="right">
    .9689
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-11 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
12:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9689
</td>
<td align="right">
    .9690
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-11 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
12:10:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .9694
</td>
<td align="right">
    .9689
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-11 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
12:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9688
</td>
<td align="right">
    .9686
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-11 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
12:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9688
</td>
<td align="right">
    .9681
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-11 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
12:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9694
</td>
<td align="right">
    .9684
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-11 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
12:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9689
</td>
<td align="right">
    .9676
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-11 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
13:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9689
</td>
<td align="right">
    .9670
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-11 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
13:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9690
</td>
<td align="right">
    .9678
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-11 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
13:10:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9689
</td>
<td align="right">
    .9677
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-11 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
10:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  86.2857
</td>
<td align="right">
  86.0498
</td>
<td align="right">
 -.0027
</td>
<td>
2011-07-11 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
10:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  86.2764
</td>
<td align="right">
  86.0513
</td>
<td align="right">
 -.0026
</td>
<td>
2011-07-11 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
11:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  86.2254
</td>
<td align="right">
  85.9694
</td>
<td align="right">
 -.0030
</td>
<td>
2011-07-11 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
11:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  86.1372
</td>
<td align="right">
  85.9213
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-11 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
14:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  85.4694
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-11
12:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3170
</td>
<td align="right">
   1.3154
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-11 18:10:00
</td>
</tr>
</table>
<br /><hr />