<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-25
23:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9826
</td>
<td align="right">
    .9831
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-26 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
00:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9781
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-26 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-25
23:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2243
</td>
<td align="right">
   1.2218
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-26 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-25
23:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2250
</td>
<td align="right">
   1.2206
</td>
<td align="right">
 -.0036
</td>
<td>
2011-09-26 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-25
23:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2250
</td>
<td align="right">
   1.2207
</td>
<td align="right">
 -.0035
</td>
<td>
2011-09-26 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
02:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  74.7741
</td>
<td align="right">
  74.6882
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-26 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 102.8053
</td>
<td align="right">
 102.6872
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-26 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 102.7588
</td>
<td align="right">
 102.5739
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-26 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 102.6359
</td>
<td align="right">
 102.5897
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-26 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
 102.5634
</td>
<td align="right">
 102.5714
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-26 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:20:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 102.5470
</td>
<td align="right">
 102.6404
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-26 07:20:00
</td>
</tr>
</table>
<br /><hr />