<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-16
08:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3814
</td>
<td align="right">
   1.3794
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-16 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
06:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0455
</td>
<td align="right">
   1.0425
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-16 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
06:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0455
</td>
<td align="right">
   1.0414
</td>
<td align="right">
 -.0039
</td>
<td>
2011-08-16 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
06:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0439
</td>
<td align="right">
   1.0418
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-16 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
06:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0439
</td>
<td align="right">
   1.0421
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-16 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
06:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0443
</td>
<td align="right">
   1.0431
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-16 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
07:00:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.0440
</td>
<td align="right">
   1.0433
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-16 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
07:35:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0421
</td>
<td align="right">
   1.0424
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-16 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
07:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0435
</td>
<td align="right">
   1.0423
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-16 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
08:00:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0433
</td>
<td align="right">
   1.0428
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-16 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
10:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0440
</td>
<td align="right">
   1.0422
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-16 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
10:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0432
</td>
<td align="right">
   1.0410
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-16 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-16
11:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0425
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-16 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-16
06:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .7802
</td>
<td align="right">
    .7806
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-16 12:35:00
</td>
</tr>
</table>
<br /><hr />