<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
05:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0668
</td>
<td align="right">
   1.0655
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-30 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0652
</td>
<td align="right">
   1.0651
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9772
</td>
<td align="right">
    .9792
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
04:20:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  81.9885
</td>
<td align="right">
  81.9651
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
04:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  81.9499
</td>
<td align="right">
  81.9580
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
05:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  81.9686
</td>
<td align="right">
  81.9470
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  81.9470
</td>
<td align="right">
  81.7209
</td>
<td align="right">
 -.0028
</td>
<td>
2011-08-30 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  81.8199
</td>
<td align="right">
  81.7029
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-30 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  81.7841
</td>
<td align="right">
  81.7080
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7800
</td>
<td align="right">
  81.7019
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-30 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  81.7741
</td>
<td align="right">
  81.5872
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-30 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  81.6867
</td>
<td align="right">
  81.6644
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  81.5982
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.7029
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7080
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7019
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-30
06:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8847
</td>
<td align="right">
    .8848
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-30 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.5888
</td>
<td align="right">
 111.6712
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-30 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6498
</td>
<td align="right">
 111.6601
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6191
</td>
<td align="right">
 111.6582
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-30 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 111.6597
</td>
<td align="right">
 111.6050
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-30 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.6712
</td>
<td align="right">
 111.5870
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-30 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 111.6436
</td>
<td align="right">
 111.5734
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-30 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
04:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 111.6154
</td>
<td align="right">
 111.5439
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-30 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
06:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 111.1253
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
06:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 111.1908
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 111.1871
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.0933
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:15:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 111.1291
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:20:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
 111.1135
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
07:05:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4499
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:05:00
</td>
</tr>
</table>
<br /><hr />