<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
06:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  84.3090
</td>
<td align="right">
  84.3219
</td>
<td align="right">
  .0002
</td>
<td>
2011-06-27 12:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
06:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  84.2752
</td>
<td align="right">
  84.2649
</td>
<td align="right">
 -.0001
</td>
<td>
2011-06-27 12:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
06:55:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  84.2770
</td>
<td align="right">
  84.1341
</td>
<td align="right">
 -.0017
</td>
<td>
2011-06-27 12:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
07:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  84.3236
</td>
<td align="right">
  84.1485
</td>
<td align="right">
 -.0021
</td>
<td>
2011-06-27 13:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
07:30:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  84.3582
</td>
<td align="right">
  84.2835
</td>
<td align="right">
 -.0009
</td>
<td>
2011-06-27 13:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
07:35:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
  84.3012
</td>
<td align="right">
  84.3046
</td>
<td align="right">
  .0000
</td>
<td>
2011-06-27 13:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
07:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  84.3219
</td>
<td align="right">
  84.2802
</td>
<td align="right">
 -.0005
</td>
<td>
2011-06-27 13:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
07:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  84.2649
</td>
<td align="right">
  84.2974
</td>
<td align="right">
  .0004
</td>
<td>
2011-06-27 13:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
07:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  84.2320
</td>
<td align="right">
  84.3698
</td>
<td align="right">
  .0016
</td>
<td>
2011-06-27 13:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
08:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  84.1463
</td>
<td align="right">
  84.3725
</td>
<td align="right">
  .0027
</td>
<td>
2011-06-27 14:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
08:50:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  84.3698
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 14:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
08:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  84.3298
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 14:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
09:00:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  84.3559
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 15:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
09:05:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  84.3725
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 15:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
09:10:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  84.3624
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 15:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
09:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  84.3592
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 15:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
09:20:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  84.4367
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 15:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audjpy=X">aud_jpy</a></td>
<td>
2011-06-27
09:25:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  84.3529
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 15:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
05:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1827
</td>
<td align="right">
   1.1827
</td>
<td align="right">
  .0001
</td>
<td>
2011-06-27 11:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
05:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1826
</td>
<td align="right">
   1.1838
</td>
<td align="right">
  .0010
</td>
<td>
2011-06-27 11:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
06:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1830
</td>
<td align="right">
   1.1858
</td>
<td align="right">
  .0023
</td>
<td>
2011-06-27 12:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
06:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1833
</td>
<td align="right">
   1.1844
</td>
<td align="right">
  .0009
</td>
<td>
2011-06-27 12:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
07:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1854
</td>
<td align="right">
   1.1828
</td>
<td align="right">
 -.0022
</td>
<td>
2011-06-27 13:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
07:10:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.1854
</td>
<td align="right">
   1.1838
</td>
<td align="right">
 -.0014
</td>
<td>
2011-06-27 13:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
07:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1858
</td>
<td align="right">
   1.1858
</td>
<td align="right">
  .0000
</td>
<td>
2011-06-27 13:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
08:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1859
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 14:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
09:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1880
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-06-27 15:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=gbpusd=X">gbp_usd</a></td>
<td>
2011-06-27
03:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.5931
</td>
<td align="right">
   1.5929
</td>
<td align="right">
 -.0001
</td>
<td>
2011-06-27 09:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=gbpusd=X">gbp_usd</a></td>
<td>
2011-06-27
03:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.5930
</td>
<td align="right">
   1.5919
</td>
<td align="right">
 -.0007
</td>
<td>
2011-06-27 09:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=gbpusd=X">gbp_usd</a></td>
<td>
2011-06-27
03:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.5930
</td>
<td align="right">
   1.5921
</td>
<td align="right">
 -.0006
</td>
<td>
2011-06-27 09:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=gbpusd=X">gbp_usd</a></td>
<td>
2011-06-27
04:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.5922
</td>
<td align="right">
   1.5934
</td>
<td align="right">
  .0008
</td>
<td>
2011-06-27 10:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=gbpusd=X">gbp_usd</a></td>
<td>
2011-06-27
06:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.5935
</td>
<td align="right">
   1.5963
</td>
<td align="right">
  .0017
</td>
<td>
2011-06-27 12:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=gbpusd=X">gbp_usd</a></td>
<td>
2011-06-27
08:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.5931
</td>
<td align="right">
   1.5974
</td>
<td align="right">
  .0027
</td>
<td>
2011-06-27 14:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=gbpusd=X">gbp_usd</a></td>
<td>
2011-06-27
08:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.5936
</td>
<td align="right">
   1.5981
</td>
<td align="right">
  .0028
</td>
<td>
2011-06-27 14:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
04:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8370
</td>
<td align="right">
    .8373
</td>
<td align="right">
  .0003
</td>
<td>
2011-06-27 10:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
04:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8375
</td>
<td align="right">
    .8374
</td>
<td align="right">
 -.0001
</td>
<td>
2011-06-27 10:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
05:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8375
</td>
<td align="right">
    .8366
</td>
<td align="right">
 -.0011
</td>
<td>
2011-06-27 11:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
05:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8377
</td>
<td align="right">
    .8368
</td>
<td align="right">
 -.0011
</td>
<td>
2011-06-27 11:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
05:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8376
</td>
<td align="right">
    .8368
</td>
<td align="right">
 -.0009
</td>
<td>
2011-06-27 11:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
05:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8374
</td>
<td align="right">
    .8368
</td>
<td align="right">
 -.0007
</td>
<td>
2011-06-27 11:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
05:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8372
</td>
<td align="right">
    .8373
</td>
<td align="right">
  .0001
</td>
<td>
2011-06-27 11:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
05:55:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8366
</td>
<td align="right">
    .8371
</td>
<td align="right">
  .0005
</td>
<td>
2011-06-27 11:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
06:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8363
</td>
<td align="right">
    .8372
</td>
<td align="right">
  .0011
</td>
<td>
2011-06-27 12:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
06:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8368
</td>
<td align="right">
    .8372
</td>
<td align="right">
  .0006
</td>
<td>
2011-06-27 12:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
06:10:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8369
</td>
<td align="right">
    .8375
</td>
<td align="right">
  .0007
</td>
<td>
2011-06-27 12:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
06:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8369
</td>
<td align="right">
    .8374
</td>
<td align="right">
  .0006
</td>
<td>
2011-06-27 12:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurchf=X">eur_chf</a></td>
<td>
2011-06-27
08:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1828
</td>
<td align="right">
   1.1873
</td>
<td align="right">
  .0038
</td>
<td>
2011-06-27 14:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdchf=X">usd_chf</a></td>
<td>
2011-06-27
08:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8371
</td>
<td align="right">
    .8375
</td>
<td align="right">
  .0004
</td>
<td>
2011-06-27 14:00:00
</td>
</tr>
</table>
