<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
17:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0624
</td>
<td align="right">
   1.0624
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-12 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
18:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0633
</td>
<td align="right">
   1.0621
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-13 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
18:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0637
</td>
<td align="right">
   1.0624
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-13 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
18:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0634
</td>
<td align="right">
   1.0618
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-13 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
18:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.0635
</td>
<td align="right">
   1.0589
</td>
<td align="right">
 -.0044
</td>
<td>
2011-07-13 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
18:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.0628
</td>
<td align="right">
   1.0596
</td>
<td align="right">
 -.0030
</td>
<td>
2011-07-13 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-12
17:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4017
</td>
<td align="right">
   1.4041
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-12 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-12
19:30:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3992
</td>
<td align="right">
   1.3978
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-13 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-12
20:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3975
</td>
<td align="right">
   1.3964
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-13 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
22:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0587
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-13 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-12
21:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3176
</td>
<td align="right">
   1.3185
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-13 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
19:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8789
</td>
<td align="right">
    .8783
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-13 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
20:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8783
</td>
<td align="right">
    .8762
</td>
<td align="right">
 -.0024
</td>
<td>
2011-07-13 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
20:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8785
</td>
<td align="right">
    .8766
</td>
<td align="right">
 -.0022
</td>
<td>
2011-07-13 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
20:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8782
</td>
<td align="right">
    .8767
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-13 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-12
20:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3973
</td>
<td align="right">
   1.3982
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-13 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-12
22:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.5922
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-13 04:35:00
</td>
</tr>
</table>
<br /><hr />