<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-07
17:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3306
</td>
<td align="right">
   1.3288
</td>
<td align="right">
 -.0014
</td>
<td>
2011-11-07 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-07
16:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 107.3765
</td>
<td align="right">
 107.3135
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-07 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-07
15:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3305
</td>
<td align="right">
   1.3300
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-07 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-07
16:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3301
</td>
<td align="right">
   1.3294
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-07 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-07
19:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3287
</td>
<td align="right">
   1.3274
</td>
<td align="right">
 -.0009
</td>
<td>
2011-11-08 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-07
19:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3270
</td>
<td align="right">
   1.3284
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-08 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-07
20:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3267
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-07
20:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3284
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-07
21:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2409
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 03:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-07
21:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.2413
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 03:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-11-07
18:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 107.3188
</td>
<td align="right">
 107.4204
</td>
<td align="right">
  .0009
</td>
<td>
2011-11-08 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-07
16:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3749
</td>
<td align="right">
   1.3740
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-07 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-07
16:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3745
</td>
<td align="right">
   1.3728
</td>
<td align="right">
 -.0012
</td>
<td>
2011-11-07 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-07
16:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3746
</td>
<td align="right">
   1.3740
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-07 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-07
16:55:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3743
</td>
<td align="right">
   1.3746
</td>
<td align="right">
  .0002
</td>
<td>
2011-11-07 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-07
17:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3746
</td>
<td align="right">
   1.3740
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-07 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-11-07
17:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3750
</td>
<td align="right">
   1.3742
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-07 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-07
19:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9011
</td>
<td align="right">
    .9005
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-08 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-07
20:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9015
</td>
<td align="right">
    .9007
</td>
<td align="right">
 -.0008
</td>
<td>
2011-11-08 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-07
20:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9007
</td>
<td align="right">
    .9010
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-08 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-07
20:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9007
</td>
<td align="right">
    .9011
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-08 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-07
20:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9014
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-07
20:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .9011
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-07
20:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9005
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-08 02:55:00
</td>
</tr>
</table>
<br /><hr />