<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
00:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1345
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-02 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
01:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1350
</td>
<td align="right">
   1.1344
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-02 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
01:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1345
</td>
<td align="right">
   1.1340
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-02 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
02:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1345
</td>
<td align="right">
   1.1321
</td>
<td align="right">
 -.0021
</td>
<td>
2011-09-02 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
04:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.1315
</td>
<td align="right">
   1.1310
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
04:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.1310
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
05:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1308
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
03:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 109.5894
</td>
<td align="right">
 109.6402
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
03:30:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 109.6336
</td>
<td align="right">
 109.6650
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-02 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
02:25:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  76.8775
</td>
<td align="right">
  76.8775
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
02:30:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  76.8845
</td>
<td align="right">
  76.8850
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
02:35:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  76.8800
</td>
<td align="right">
  76.8750
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-02 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
03:05:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  76.8750
</td>
<td align="right">
  76.8850
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-02 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
05:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  76.8550
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-01
23:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  82.3965
</td>
<td align="right">
  82.5047
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-02 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-02
00:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  82.5047
</td>
<td align="right">
  82.4969
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-02 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-02
00:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  82.5128
</td>
<td align="right">
  82.4938
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-02 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-02
00:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  82.5408
</td>
<td align="right">
  82.4466
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-02 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-02
00:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  82.5081
</td>
<td align="right">
  82.4568
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-02 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-02
01:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  82.5069
</td>
<td align="right">
  82.3666
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-02 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-02
01:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  82.4969
</td>
<td align="right">
  82.2962
</td>
<td align="right">
 -.0024
</td>
<td>
2011-09-02 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-02
03:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0698
</td>
<td align="right">
   1.0703
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-02 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.1340
</td>
<td align="right">
   1.1343
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-02 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-01
23:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.1342
</td>
<td align="right">
   1.1347
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-02 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-02
01:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.1343
</td>
<td align="right">
   1.1327
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-02 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
04:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 109.6320
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
05:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 109.6419
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
00:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .7948
</td>
<td align="right">
    .7945
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
01:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .7945
</td>
<td align="right">
    .7942
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
02:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .7946
</td>
<td align="right">
    .7937
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-02 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
02:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .7945
</td>
<td align="right">
    .7933
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-02 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .7935
</td>
<td align="right">
    .7933
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-02 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .7929
</td>
<td align="right">
    .7930
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-02 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .7934
</td>
<td align="right">
    .7931
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .7933
</td>
<td align="right">
    .7931
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-02 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
03:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7937
</td>
<td align="right">
    .7929
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-02 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-02
04:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7929
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-02 10:50:00
</td>
</tr>
</table>
<br /><hr />