<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-20
19:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 112.0519
</td>
<td align="right">
 111.9511
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-21 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-20
19:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 112.0237
</td>
<td align="right">
 111.9740
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-21 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
15:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0736
</td>
<td align="right">
   1.0722
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-20 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-20
15:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 111.7994
</td>
<td align="right">
 111.8621
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-20 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-20
15:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 111.7404
</td>
<td align="right">
 111.8676
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-20 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-20
16:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 111.8423
</td>
<td align="right">
 111.8776
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-20 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-20
16:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.8096
</td>
<td align="right">
 111.9913
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-20 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-20
16:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 111.8164
</td>
<td align="right">
 111.9647
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-20 22:40:00
</td>
</tr>
</table>
<br /><hr />