<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
20:25:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  76.6100
</td>
<td align="right">
  76.7250
</td>
<td align="right">
  .0015
</td>
<td>
2011-09-01 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
20:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.6050
</td>
<td align="right">
  76.6763
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-01 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
20:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.6375
</td>
<td align="right">
  76.6900
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-01 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
21:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.6700
</td>
<td align="right">
  76.7550
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-01 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
22:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.6900
</td>
<td align="right">
  76.7675
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-01 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
22:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  76.6850
</td>
<td align="right">
  76.7750
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-01 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-31
22:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.6850
</td>
<td align="right">
  76.7800
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-01 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
19:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  81.7780
</td>
<td align="right">
  81.9279
</td>
<td align="right">
  .0018
</td>
<td>
2011-09-01 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
19:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  81.7327
</td>
<td align="right">
  81.9152
</td>
<td align="right">
  .0022
</td>
<td>
2011-09-01 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
19:20:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  81.7748
</td>
<td align="right">
  81.9294
</td>
<td align="right">
  .0019
</td>
<td>
2011-09-01 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-31
19:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.8058
</td>
<td align="right">
  81.9191
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-01 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
17:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3451
</td>
<td align="right">
   1.3450
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-31 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
17:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3452
</td>
<td align="right">
   1.3457
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-31 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
17:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3450
</td>
<td align="right">
   1.3456
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-31 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
18:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3454
</td>
<td align="right">
   1.3443
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-01 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
18:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3450
</td>
<td align="right">
   1.3460
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-01 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
18:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3446
</td>
<td align="right">
   1.3455
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-01 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
18:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3446
</td>
<td align="right">
   1.3455
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-01 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
18:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3455
</td>
<td align="right">
   1.3450
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-01 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
18:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3454
</td>
<td align="right">
   1.3438
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-01 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
18:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3450
</td>
<td align="right">
   1.3431
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-01 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
18:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3456
</td>
<td align="right">
   1.3437
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-01 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
19:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3447
</td>
<td align="right">
   1.3435
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-01 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
19:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3452
</td>
<td align="right">
   1.3436
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-01 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
19:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3450
</td>
<td align="right">
   1.3443
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-01 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
20:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3439
</td>
<td align="right">
   1.3451
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-01 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
20:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3421
</td>
<td align="right">
   1.3447
</td>
<td align="right">
  .0019
</td>
<td>
2011-09-01 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
21:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3445
</td>
<td align="right">
   1.3447
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-01 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
21:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3452
</td>
<td align="right">
   1.3448
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-01 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
21:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3451
</td>
<td align="right">
   1.3445
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-01 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
22:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3444
</td>
<td align="right">
   1.3440
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-01 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
22:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3448
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-01 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-31
22:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3442
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-01 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
17:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.4403
</td>
<td align="right">
   1.4374
</td>
<td align="right">
 -.0020
</td>
<td>
2011-08-31 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
17:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4405
</td>
<td align="right">
   1.4364
</td>
<td align="right">
 -.0028
</td>
<td>
2011-08-31 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
18:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.4375
</td>
<td align="right">
   1.4374
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-01 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
19:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4375
</td>
<td align="right">
   1.4377
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-01 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
19:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4365
</td>
<td align="right">
   1.4370
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-01 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
21:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.4380
</td>
<td align="right">
   1.4377
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-01 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
22:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4379
</td>
<td align="right">
   1.4372
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-01 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-31
22:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4377
</td>
<td align="right">
   1.4375
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-01 04:20:00
</td>
</tr>
</table>
<br /><hr />