<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
18:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0474
</td>
<td align="right">
   1.0532
</td>
<td align="right">
  .0056
</td>
<td>
2011-08-24 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-23
17:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4420
</td>
<td align="right">
   1.4426
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-23 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-23
18:00:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.4414
</td>
<td align="right">
   1.4426
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-24 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-23
18:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9904
</td>
<td align="right">
    .9886
</td>
<td align="right">
 -.0019
</td>
<td>
2011-08-24 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
19:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0518
</td>
<td align="right">
   1.0526
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
19:35:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.0521
</td>
<td align="right">
   1.0529
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-24 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
20:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0520
</td>
<td align="right">
   1.0526
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
22:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0518
</td>
<td align="right">
   1.0514
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-24 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
22:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0520
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
22:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0521
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-23
23:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0514
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-23
19:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3727
</td>
<td align="right">
   1.3723
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-23
20:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3713
</td>
<td align="right">
   1.3711
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-24 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-23
20:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3711
</td>
<td align="right">
   1.3721
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-23
21:30:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3710
</td>
<td align="right">
   1.3717
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-23
19:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4442
</td>
<td align="right">
   1.4439
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-24 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-23
19:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4442
</td>
<td align="right">
   1.4434
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-24 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-23
19:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  76.6800
</td>
<td align="right">
  76.6700
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-24 01:10:00
</td>
</tr>
</table>
<br /><hr />