<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
05:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0668
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3595
</td>
<td align="right">
   1.3605
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-30 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3595
</td>
<td align="right">
   1.3605
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-30 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3596
</td>
<td align="right">
   1.3609
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-30 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
00:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3598
</td>
<td align="right">
   1.3609
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-30 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.5888
</td>
<td align="right">
 111.6711
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-30 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6498
</td>
<td align="right">
 111.6601
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6191
</td>
<td align="right">
 111.6582
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-30 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 111.6597
</td>
<td align="right">
 111.6050
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-30 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.6711
</td>
<td align="right">
 111.5946
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-30 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 111.6436
</td>
<td align="right">
 111.5734
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-30 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
04:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 111.6156
</td>
<td align="right">
 111.5516
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-30 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4518
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-30 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4516
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-30 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
23:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4516
</td>
<td align="right">
   1.4514
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-30 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
00:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4518
</td>
<td align="right">
   1.4513
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-30 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
00:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4523
</td>
<td align="right">
   1.4513
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-30 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
00:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   1.4512
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-30 06:35:00
</td>
</tr>
</table>
<br /><hr />