<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
17:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  79.1245
</td>
<td align="right">
  79.1829
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-15 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
17:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  79.2313
</td>
<td align="right">
  79.1590
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-15 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
18:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.2598
</td>
<td align="right">
  79.1073
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-16 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
19:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  79.1073
</td>
<td align="right">
  79.1077
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-16 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
19:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.1077
</td>
<td align="right">
  79.1142
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-16 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
19:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.1161
</td>
<td align="right">
  79.1122
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-16 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
19:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.1103
</td>
<td align="right">
  79.1660
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-16 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
19:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  79.1442
</td>
<td align="right">
  79.1828
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-16 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
19:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.0883
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
20:00:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.1122
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
20:05:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
  79.1333
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
20:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  79.1445
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
20:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.0987
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-15
20:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  79.1142
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-15
19:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0320
</td>
<td align="right">
   1.0323
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-16 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-15
19:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0324
</td>
<td align="right">
   1.0323
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-16 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-15
19:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0327
</td>
<td align="right">
   1.0329
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-16 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-15
19:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0317
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
15:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3439
</td>
<td align="right">
   1.3436
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-15 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
15:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3434
</td>
<td align="right">
   1.3433
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-15 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
15:35:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3429
</td>
<td align="right">
   1.3438
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-15 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
15:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3431
</td>
<td align="right">
   1.3440
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-15 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
15:50:00
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
   1.3433
</td>
<td align="right">
   1.3434
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-15 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
16:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3443
</td>
<td align="right">
   1.3439
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-15 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
16:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3436
</td>
<td align="right">
   1.3437
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-15 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
16:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3436
</td>
<td align="right">
   1.3443
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-15 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
16:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3436
</td>
<td align="right">
   1.3449
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-15 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
16:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3437
</td>
<td align="right">
   1.3453
</td>
<td align="right">
  .0012
</td>
<td>
2011-09-15 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
17:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3443
</td>
<td align="right">
   1.3446
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-15 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
17:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3458
</td>
<td align="right">
   1.3446
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-15 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
19:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3458
</td>
<td align="right">
   1.3458
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-16 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
20:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3458
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-15
20:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3448
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-16 02:25:00
</td>
</tr>
</table>
<br /><hr />