<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
18:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8719
</td>
<td align="right">
    .8711
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-27 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
20:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8706
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
19:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 105.9906
</td>
<td align="right">
 105.9482
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-27 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
19:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 106.1621
</td>
<td align="right">
 105.9442
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-27 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
19:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  76.2313
</td>
<td align="right">
  76.2700
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-27 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
19:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.2550
</td>
<td align="right">
  76.2163
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-27 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
19:30:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
  76.2425
</td>
<td align="right">
  76.2350
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-27 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
19:40:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  76.3125
</td>
<td align="right">
  76.2175
</td>
<td align="right">
 -.0012
</td>
<td>
2011-10-27 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
19:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  76.2650
</td>
<td align="right">
  76.2150
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-27 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
19:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.2300
</td>
<td align="right">
  76.1763
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-27 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
20:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  76.2250
</td>
<td align="right">
  76.1950
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-27 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
20:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.2700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-26
20:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.2300
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-26
17:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .8692
</td>
<td align="right">
    .8716
</td>
<td align="right">
  .0028
</td>
<td>
2011-10-26 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-26
20:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 105.9654
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
15:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3826
</td>
<td align="right">
   1.3823
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-26 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
16:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3829
</td>
<td align="right">
   1.3829
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-26 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
17:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3885
</td>
<td align="right">
   1.3896
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-26 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
20:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3910
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
20:10:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3894
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
20:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3901
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
20:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3897
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
20:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3897
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-10-26
20:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3900
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-27 02:40:00
</td>
</tr>
</table>
<br /><hr />