<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.0244
</td>
<td align="right">
  78.5517
</td>
<td align="right">
 -.0060
</td>
<td>
2011-10-17 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.0777
</td>
<td align="right">
  78.5811
</td>
<td align="right">
 -.0063
</td>
<td>
2011-10-17 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.1759
</td>
<td align="right">
  78.5287
</td>
<td align="right">
 -.0082
</td>
<td>
2011-10-17 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  79.0841
</td>
<td align="right">
  78.5320
</td>
<td align="right">
 -.0070
</td>
<td>
2011-10-17 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  78.9737
</td>
<td align="right">
  78.5562
</td>
<td align="right">
 -.0053
</td>
<td>
2011-10-17 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
13:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  78.9097
</td>
<td align="right">
  78.6246
</td>
<td align="right">
 -.0036
</td>
<td>
2011-10-17 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:00:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  78.8122
</td>
<td align="right">
  78.6213
</td>
<td align="right">
 -.0024
</td>
<td>
2011-10-17 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:05:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
  78.7956
</td>
<td align="right">
  78.6201
</td>
<td align="right">
 -.0022
</td>
<td>
2011-10-17 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:10:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
  78.7350
</td>
<td align="right">
  78.6367
</td>
<td align="right">
 -.0012
</td>
<td>
2011-10-17 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:15:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  78.5980
</td>
<td align="right">
  78.5745
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-17 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  78.5517
</td>
<td align="right">
  78.6738
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-17 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:25:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
  78.5165
</td>
<td align="right">
  78.7532
</td>
<td align="right">
  .0030
</td>
<td>
2011-10-17 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  78.5059
</td>
<td align="right">
  78.7964
</td>
<td align="right">
  .0037
</td>
<td>
2011-10-17 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:35:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  78.5811
</td>
<td align="right">
  78.8159
</td>
<td align="right">
  .0030
</td>
<td>
2011-10-17 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:40:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
  78.5287
</td>
<td align="right">
  78.7091
</td>
<td align="right">
  .0023
</td>
<td>
2011-10-17 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  78.5320
</td>
<td align="right">
  78.6230
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-17 20:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:50:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  78.5562
</td>
<td align="right">
  78.6496
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-17 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
14:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  78.6246
</td>
<td align="right">
  78.6547
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  78.6213
</td>
<td align="right">
  78.6086
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-17 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  78.6367
</td>
<td align="right">
  78.4678
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-17 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  78.5745
</td>
<td align="right">
  78.5555
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-17 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  78.6738
</td>
<td align="right">
  78.4761
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-17 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  78.8159
</td>
<td align="right">
  78.4789
</td>
<td align="right">
 -.0043
</td>
<td>
2011-10-17 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  78.7091
</td>
<td align="right">
  78.5664
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-17 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  78.6230
</td>
<td align="right">
  78.4781
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-17 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:50:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  78.6496
</td>
<td align="right">
  78.4211
</td>
<td align="right">
 -.0029
</td>
<td>
2011-10-17 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
15:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  78.6547
</td>
<td align="right">
  78.4321
</td>
<td align="right">
 -.0028
</td>
<td>
2011-10-17 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:00:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  78.6086
</td>
<td align="right">
  78.4097
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-17 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  78.5136
</td>
<td align="right">
  78.4800
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-17 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:10:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
  78.4678
</td>
<td align="right">
  78.5178
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:15:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
  78.5555
</td>
<td align="right">
  78.5536
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-17 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
  78.4761
</td>
<td align="right">
  78.5690
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-17 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:25:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
  78.5178
</td>
<td align="right">
  78.5286
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-17 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
16:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  78.5254
</td>
<td align="right">
  78.4967
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-17 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-17
16:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0222
</td>
<td align="right">
   1.0232
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-17 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
13:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 106.3182
</td>
<td align="right">
 105.4883
</td>
<td align="right">
 -.0078
</td>
<td>
2011-10-17 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
13:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 106.2078
</td>
<td align="right">
 105.5342
</td>
<td align="right">
 -.0063
</td>
<td>
2011-10-17 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
13:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 106.0939
</td>
<td align="right">
 105.5500
</td>
<td align="right">
 -.0051
</td>
<td>
2011-10-17 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
13:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 105.9669
</td>
<td align="right">
 105.5967
</td>
<td align="right">
 -.0035
</td>
<td>
2011-10-17 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 105.7721
</td>
<td align="right">
 105.7383
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-17 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 105.6891
</td>
<td align="right">
 105.8232
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-17 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 105.6768
</td>
<td align="right">
 105.7572
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
15:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 105.6865
</td>
<td align="right">
 105.6847
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-17 21:50:00
</td>
</tr>
</table>
<br /><hr />