<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-11
21:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0659
</td>
<td align="right">
   1.0661
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-12 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-11
21:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0658
</td>
<td align="right">
   1.0639
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-12 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-11
22:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0660
</td>
<td align="right">
   1.0640
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-12 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-11
22:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0663
</td>
<td align="right">
   1.0636
</td>
<td align="right">
 -.0026
</td>
<td>
2011-07-12 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-11
22:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0654
</td>
<td align="right">
   1.0631
</td>
<td align="right">
 -.0021
</td>
<td>
2011-07-12 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-11
19:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3166
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-12 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-11
20:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3171
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-12 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-11
22:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3197
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
18:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1719
</td>
<td align="right">
   1.1712
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-12 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
20:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1723
</td>
<td align="right">
   1.1748
</td>
<td align="right">
  .0022
</td>
<td>
2011-07-12 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
20:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.1723
</td>
<td align="right">
   1.1748
</td>
<td align="right">
  .0022
</td>
<td>
2011-07-12 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
20:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1726
</td>
<td align="right">
   1.1738
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-12 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
20:50:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.1725
</td>
<td align="right">
   1.1745
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-12 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
21:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1728
</td>
<td align="right">
   1.1750
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-12 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
21:20:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.1728
</td>
<td align="right">
   1.1750
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-12 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
21:25:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1728
</td>
<td align="right">
   1.1750
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-12 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
21:30:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.1730
</td>
<td align="right">
   1.1750
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-12 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
21:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.1734
</td>
<td align="right">
   1.1748
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-12 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
21:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1744
</td>
<td align="right">
   1.1735
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-12 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
21:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1748
</td>
<td align="right">
   1.1733
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-12 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
22:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.1738
</td>
<td align="right">
   1.1735
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
22:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.1745
</td>
<td align="right">
   1.1737
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-12 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
22:10:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.1749
</td>
<td align="right">
   1.1738
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-12 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
22:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1750
</td>
<td align="right">
   1.1739
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-12 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
22:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1750
</td>
<td align="right">
   1.1740
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-12 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
22:45:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.1738
</td>
<td align="right">
   1.1740
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-12 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
22:50:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.1735
</td>
<td align="right">
   1.1739
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-12 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
22:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.1733
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
23:00:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
   1.1735
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
23:05:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1737
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
23:10:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1738
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
23:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1739
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
23:25:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.1739
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
23:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.1739
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
23:35:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.1734
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
23:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1734
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
20:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8820
</td>
<td align="right">
    .8827
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-12 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
20:50:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    .8819
</td>
<td align="right">
    .8830
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-12 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
20:55:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8819
</td>
<td align="right">
    .8834
</td>
<td align="right">
  .0016
</td>
<td>
2011-07-12 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:15:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    .8821
</td>
<td align="right">
    .8833
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-12 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8822
</td>
<td align="right">
    .8834
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-12 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:25:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    .8822
</td>
<td align="right">
    .8834
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-12 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:30:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8823
</td>
<td align="right">
    .8833
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-12 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8833
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-12 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:40:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    .8829
</td>
<td align="right">
    .8831
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-12 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:45:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8830
</td>
<td align="right">
    .8828
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-12 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:50:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .8831
</td>
<td align="right">
    .8828
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
21:55:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8830
</td>
<td align="right">
    .8828
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:00:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    .8827
</td>
<td align="right">
    .8827
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-12 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:05:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8830
</td>
<td align="right">
    .8827
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-12 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8834
</td>
<td align="right">
    .8829
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-12 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8830
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-12 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:20:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8834
</td>
<td align="right">
    .8829
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-12 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8834
</td>
<td align="right">
    .8827
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-12 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8823
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-12 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .8831
</td>
<td align="right">
    .8823
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-12 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:45:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8827
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-12 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:50:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    .8828
</td>
<td align="right">
    .8827
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-12 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
22:55:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    .8828
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
23:00:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8827
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
23:05:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    .8827
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
23:10:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .8829
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
23:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8829
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
23:25:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .8827
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
23:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8823
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-11
23:40:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8823
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-11
23:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.4037
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-11
22:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8358
</td>
<td align="right">
    .8364
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-12 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-11
23:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8364
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
18:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1712
</td>
<td align="right">
   1.1708
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
19:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1717
</td>
<td align="right">
   1.1722
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-12 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-11
18:25:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 112.3778
</td>
<td align="right">
 112.4444
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-12 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-11
22:00:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 112.7615
</td>
<td align="right">
 112.7377
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-12 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-11
23:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 112.7698
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-11
23:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 112.7387
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-11
23:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 112.7241
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-11
18:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8350
</td>
<td align="right">
    .8357
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-12 00:50:00
</td>
</tr>
</table>
<br /><hr />