<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
06:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3005
</td>
<td align="right">
   1.2997
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-28 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
08:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.2958
</td>
<td align="right">
 -.0033
</td>
<td>
2011-07-28 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
08:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.2945
</td>
<td align="right">
 -.0045
</td>
<td>
2011-07-28 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
09:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2995
</td>
<td align="right">
   1.2948
</td>
<td align="right">
 -.0036
</td>
<td>
2011-07-28 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
09:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8771
</td>
<td align="right">
    .8764
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-28 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
10:25:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8762
</td>
<td align="right">
    .8753
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-28 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
10:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8763
</td>
<td align="right">
    .8752
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-28 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-28
06:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 111.7477
</td>
<td align="right">
 111.5944
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-28 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-28
11:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 110.9433
</td>
<td align="right">
 110.9118
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-28 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-28
12:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 110.9250
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-28 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-28
12:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 110.9496
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-28 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-28
12:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 110.9118
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-28 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
08:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8015
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-28 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
08:35:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8012
</td>
<td align="right">
    .8014
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-28 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
08:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8012
</td>
<td align="right">
    .8008
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-28 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
09:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8007
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-28 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
09:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8005
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-28 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
09:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8011
</td>
<td align="right">
    .8008
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-28 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
09:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8010
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-28 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
10:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8010
</td>
<td align="right">
    .8010
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-28 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
10:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8009
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-28 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
10:45:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8011
</td>
<td align="right">
    .8014
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-28 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-28
11:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8015
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-28 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
06:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  85.9553
</td>
<td align="right">
  85.8395
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-28 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
06:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  85.9270
</td>
<td align="right">
  85.8487
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-28 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
06:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  85.8638
</td>
<td align="right">
  85.8820
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-28 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
07:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.8755
</td>
<td align="right">
  85.9890
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-28 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
07:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  85.8368
</td>
<td align="right">
  85.9369
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-28 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
10:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  85.8588
</td>
<td align="right">
  85.7392
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-28 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
12:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2936
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-28 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
08:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8799
</td>
<td align="right">
    .8788
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-28 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-28
08:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8797
</td>
<td align="right">
    .8777
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-28 14:35:00
</td>
</tr>
</table>
<br /><hr />