<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-29
18:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8983
</td>
<td align="right">
    .8986
</td>
<td align="right">
  .0004
</td>
<td>
2011-06-30 00:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurgbp=X">eur_gbp</a></td>
<td>
2011-06-29
22:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9007
</td>
<td align="right">
    .9003
</td>
<td align="right">
 -.0005
</td>
<td>
2011-06-30 04:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurusd=X">eur_usd</a></td>
<td>
2011-06-29
18:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4427
</td>
<td align="right">
   1.4427
</td>
<td align="right">
  .0000
</td>
<td>
2011-06-30 00:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=eurusd=X">eur_usd</a></td>
<td>
2011-06-29
19:55:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4430
</td>
<td align="right">
   1.4435
</td>
<td align="right">
  .0003
</td>
<td>
2011-06-30 01:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdjpy=X">usd_jpy</a></td>
<td>
2011-06-29
19:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  80.8900
</td>
<td align="right">
  80.7850
</td>
<td align="right">
 -.0013
</td>
<td>
2011-06-30 01:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=audusd=X">aud_usd</a></td>
<td>
2011-06-29
22:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0671
</td>
<td align="right">
   1.0689
</td>
<td align="right">
  .0016
</td>
<td>
2011-06-30 04:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdcad=X">usd_cad</a></td>
<td>
2011-06-29
22:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9684
</td>
<td align="right">
    .9685
</td>
<td align="right">
  .0000
</td>
<td>
2011-06-30 04:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdcad=X">usd_cad</a></td>
<td>
2011-06-29
23:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9677
</td>
<td align="right">
    .9672
</td>
<td align="right">
 -.0005
</td>
<td>
2011-06-30 05:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdjpy=X">usd_jpy</a></td>
<td>
2011-06-29
19:15:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  80.9025
</td>
<td align="right">
  80.7700
</td>
<td align="right">
 -.0016
</td>
<td>
2011-06-30 01:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdjpy=X">usd_jpy</a></td>
<td>
2011-06-29
19:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.8750
</td>
<td align="right">
  80.8200
</td>
<td align="right">
 -.0007
</td>
<td>
2011-06-30 01:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdjpy=X">usd_jpy</a></td>
<td>
2011-06-29
19:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  80.8550
</td>
<td align="right">
  80.8100
</td>
<td align="right">
 -.0006
</td>
<td>
2011-06-30 01:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdjpy=X">usd_jpy</a></td>
<td>
2011-06-29
19:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  80.8500
</td>
<td align="right">
  80.7850
</td>
<td align="right">
 -.0008
</td>
<td>
2011-06-30 01:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=usdjpy=X">usd_jpy</a></td>
<td>
2011-06-29
21:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  80.7675
</td>
<td align="right">
  80.8325
</td>
<td align="right">
  .0008
</td>
<td>
2011-06-30 03:15:00
</td>
</tr>
</table>
