<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
13:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3569
</td>
<td align="right">
   1.3599
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-05 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
14:00:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3571
</td>
<td align="right">
   1.3595
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-05 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
15:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3630
</td>
<td align="right">
   1.3640
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-07 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
15:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3624
</td>
<td align="right">
   1.3632
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-07 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
16:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3623
</td>
<td align="right">
   1.3581
</td>
<td align="right">
 -.0031
</td>
<td>
2011-08-07 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
16:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3646
</td>
<td align="right">
   1.3570
</td>
<td align="right">
 -.0056
</td>
<td>
2011-08-07 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
16:45:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8712
</td>
<td align="right">
    .8715
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-07 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
17:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8712
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-07 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
17:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8719
</td>
<td align="right">
    .8726
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-07 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
12:30:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .7680
</td>
<td align="right">
    .7674
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-05 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
12:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7691
</td>
<td align="right">
    .7676
</td>
<td align="right">
 -.0020
</td>
<td>
2011-08-05 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
12:45:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .7681
</td>
<td align="right">
    .7673
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-05 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
12:50:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .7686
</td>
<td align="right">
    .7660
</td>
<td align="right">
 -.0033
</td>
<td>
2011-08-05 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
12:55:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    .7686
</td>
<td align="right">
    .7650
</td>
<td align="right">
 -.0047
</td>
<td>
2011-08-05 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
13:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .7687
</td>
<td align="right">
    .7638
</td>
<td align="right">
 -.0064
</td>
<td>
2011-08-05 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
13:05:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .7674
</td>
<td align="right">
    .7642
</td>
<td align="right">
 -.0042
</td>
<td>
2011-08-05 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
13:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7672
</td>
<td align="right">
    .7625
</td>
<td align="right">
 -.0061
</td>
<td>
2011-08-05 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
13:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7664
</td>
<td align="right">
    .7619
</td>
<td align="right">
 -.0059
</td>
<td>
2011-08-05 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
13:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7666
</td>
<td align="right">
    .7620
</td>
<td align="right">
 -.0061
</td>
<td>
2011-08-05 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
13:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7660
</td>
<td align="right">
    .7616
</td>
<td align="right">
 -.0058
</td>
<td>
2011-08-05 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
16:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .7665
</td>
<td align="right">
    .7681
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-07 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7673
</td>
<td align="right">
    .7681
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-07 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .7687
</td>
<td align="right">
    .7683
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-07 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7686
</td>
<td align="right">
    .7679
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-07 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7679
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-07 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
17:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7681
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-07 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
13:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3491
</td>
<td align="right">
   1.3566
</td>
<td align="right">
  .0056
</td>
<td>
2011-08-05 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
13:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3501
</td>
<td align="right">
   1.3567
</td>
<td align="right">
  .0050
</td>
<td>
2011-08-05 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:15:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3581
</td>
<td align="right">
   1.3605
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-07 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3570
</td>
<td align="right">
   1.3602
</td>
<td align="right">
  .0024
</td>
<td>
2011-08-07 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3576
</td>
<td align="right">
   1.3611
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-07 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3577
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-07 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3595
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-07 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
17:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3580
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-07 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
18:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3585
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
18:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3591
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-05
18:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3611
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-08 00:25:00
</td>
</tr>
</table>
<br /><hr />