<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-27
23:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 107.7830
</td>
<td align="right">
 107.6742
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-28 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-28
03:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8617
</td>
<td align="right">
    .8617
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-28 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
00:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  75.9150
</td>
<td align="right">
  75.9000
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-28 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
00:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  75.9025
</td>
<td align="right">
  75.8675
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-28 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
00:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  75.8950
</td>
<td align="right">
  75.8775
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-28 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
01:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  75.9150
</td>
<td align="right">
  75.8825
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-28 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
01:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  75.9000
</td>
<td align="right">
  75.8700
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-28 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
01:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  75.8950
</td>
<td align="right">
  75.8750
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-28 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
01:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  75.8850
</td>
<td align="right">
  75.8550
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-28 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
02:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  75.8825
</td>
<td align="right">
  75.8450
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-28 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
02:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  75.8700
</td>
<td align="right">
  75.8550
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-28 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
02:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  75.8825
</td>
<td align="right">
  75.8325
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-28 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
02:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  75.8500
</td>
<td align="right">
  75.8350
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-28 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
02:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  75.8513
</td>
<td align="right">
  75.8325
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-28 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
02:35:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  75.8525
</td>
<td align="right">
  75.8475
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-28 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
03:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  75.8325
</td>
<td align="right">
  75.8825
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-28 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-28
03:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  75.8350
</td>
<td align="right">
  75.8800
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-28 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-28
01:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  81.2098
</td>
<td align="right">
  80.9731
</td>
<td align="right">
 -.0029
</td>
<td>
2011-10-28 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
00:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 107.6264
</td>
<td align="right">
 107.6229
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-28 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
00:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
 107.4855
</td>
<td align="right">
 107.5639
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-28 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
00:30:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 107.5679
</td>
<td align="right">
 107.5810
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-28 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
00:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 107.6555
</td>
<td align="right">
 107.6044
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-28 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
00:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 107.6848
</td>
<td align="right">
 107.5935
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-28 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:00:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
 107.6206
</td>
<td align="right">
 107.5342
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-28 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 107.6399
</td>
<td align="right">
 107.5369
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-28 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.6072
</td>
<td align="right">
 107.5268
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-28 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 107.6229
</td>
<td align="right">
 107.5490
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-28 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 107.5639
</td>
<td align="right">
 107.5160
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-28 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.5810
</td>
<td align="right">
 107.4642
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-28 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:35:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 107.6044
</td>
<td align="right">
 107.4527
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-28 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 107.5602
</td>
<td align="right">
 107.4780
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-28 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 107.6054
</td>
<td align="right">
 107.5012
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-28 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
01:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 107.5935
</td>
<td align="right">
 107.4562
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-28 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 107.5369
</td>
<td align="right">
 107.4724
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-28 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 107.5268
</td>
<td align="right">
 107.4752
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-28 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 107.5490
</td>
<td align="right">
 107.4684
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-28 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 107.5160
</td>
<td align="right">
 107.4205
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-28 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 107.4937
</td>
<td align="right">
 107.4487
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-28 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 107.4527
</td>
<td align="right">
 107.4342
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-28 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 107.4780
</td>
<td align="right">
 107.4643
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-28 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.5012
</td>
<td align="right">
 107.4709
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-28 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
02:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 107.4754
</td>
<td align="right">
 107.4893
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-28 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:00:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
 107.5022
</td>
<td align="right">
 107.4934
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-28 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 107.4724
</td>
<td align="right">
 107.4757
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-28 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 107.4752
</td>
<td align="right">
 107.4858
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-28 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 107.4205
</td>
<td align="right">
 107.5397
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-28 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 107.4487
</td>
<td align="right">
 107.5258
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-28 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:30:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 107.3892
</td>
<td align="right">
 107.5255
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-28 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:35:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
 107.4342
</td>
<td align="right">
 107.5333
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-28 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:40:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 107.4643
</td>
<td align="right">
 107.5260
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-28 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
03:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 107.4884
</td>
<td align="right">
 107.5338
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-28 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
04:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 107.4934
</td>
<td align="right">
 107.5639
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-28 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
04:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 107.4858
</td>
<td align="right">
 107.5850
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-28 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
04:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 107.5255
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-28 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-28
04:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 107.5260
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-28 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-28
00:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.6078
</td>
<td align="right">
   1.6086
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-28 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-28
00:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.6088
</td>
<td align="right">
   1.6093
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-28 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-28
03:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.6080
</td>
<td align="right">
   1.6079
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-28 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-10-28
04:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.6079
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-28 10:45:00
</td>
</tr>
</table>
<br /><hr />