<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
04:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0605
</td>
<td align="right">
   1.0608
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-18 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
06:05:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.0597
</td>
<td align="right">
   1.0610
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-18 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
06:10:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.0596
</td>
<td align="right">
   1.0613
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-18 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
06:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.0596
</td>
<td align="right">
   1.0607
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-18 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
06:20:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.0595
</td>
<td align="right">
   1.0604
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-18 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
06:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0592
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-18 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
06:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0593
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-18 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
06:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0594
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-18 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
07:00:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0605
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-18 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
07:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0610
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-18 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
07:05:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8142
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-18 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-18
01:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1438
</td>
<td align="right">
   1.1449
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-18 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-18
01:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4061
</td>
<td align="right">
   1.4065
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-18 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-18
05:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4078
</td>
<td align="right">
   1.4038
</td>
<td align="right">
 -.0028
</td>
<td>
2011-07-18 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
01:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8119
</td>
<td align="right">
    .8137
</td>
<td align="right">
  .0022
</td>
<td>
2011-07-18 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
01:35:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8121
</td>
<td align="right">
    .8135
</td>
<td align="right">
  .0018
</td>
<td>
2011-07-18 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
03:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8135
</td>
<td align="right">
    .8125
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-18 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
03:10:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .8136
</td>
<td align="right">
    .8124
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-18 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
03:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8137
</td>
<td align="right">
    .8126
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-18 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
06:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8127
</td>
<td align="right">
    .8133
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-18 12:20:00
</td>
</tr>
</table>
<br /><hr />