<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
21:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  81.6141
</td>
<td align="right">
  81.5328
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-05 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
21:35:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  81.5496
</td>
<td align="right">
  81.5414
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-05 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
21:40:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  81.5203
</td>
<td align="right">
  81.5347
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-05 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
21:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  81.4699
</td>
<td align="right">
  81.5845
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-05 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
21:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  81.4853
</td>
<td align="right">
  81.5931
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-05 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
22:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  81.5938
</td>
<td align="right">
  81.5416
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-05 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
22:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  81.6128
</td>
<td align="right">
  81.5430
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-05 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
22:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  81.5328
</td>
<td align="right">
  81.3948
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-05 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
22:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  81.5414
</td>
<td align="right">
  81.4226
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-05 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
22:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  81.5347
</td>
<td align="right">
  81.4447
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-05 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
22:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  81.5513
</td>
<td align="right">
  81.4389
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-05 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
22:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  81.5845
</td>
<td align="right">
  81.4536
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-05 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
22:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  81.5931
</td>
<td align="right">
  81.4730
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-05 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
23:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  81.5416
</td>
<td align="right">
  81.5312
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-05 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
23:05:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  81.5430
</td>
<td align="right">
  81.5436
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-05 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-04
23:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  81.5202
</td>
<td align="right">
  81.4438
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-05 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
00:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  81.5312
</td>
<td align="right">
  81.2564
</td>
<td align="right">
 -.0034
</td>
<td>
2011-09-05 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
00:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  81.3712
</td>
<td align="right">
  81.3564
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-05 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
01:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  81.3432
</td>
<td align="right">
  81.3167
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-05 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
01:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  81.3321
</td>
<td align="right">
  81.3402
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-05 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
01:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  81.2916
</td>
<td align="right">
  81.3473
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-05 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
02:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  81.3249
</td>
<td align="right">
  81.3125
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-05 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
00:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 108.8120
</td>
<td align="right">
 108.7061
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-05 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-04
22:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.9450
</td>
<td align="right">
  76.8850
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-05 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-05
00:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.8400
</td>
<td align="right">
  76.7900
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-05 06:45:00
</td>
</tr>
</table>
<br /><hr />