<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-04
13:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0589
</td>
<td align="right">
   1.0578
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-04 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-04
14:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0574
</td>
<td align="right">
   1.0571
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-04 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-04
15:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0573
</td>
<td align="right">
   1.0518
</td>
<td align="right">
 -.0052
</td>
<td>
2011-08-04 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-04
15:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.0556
</td>
<td align="right">
   1.0524
</td>
<td align="right">
 -.0030
</td>
<td>
2011-08-04 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-04
15:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0516
</td>
<td align="right">
   1.0534
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-04 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
13:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9705
</td>
<td align="right">
    .9715
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-04 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
13:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9712
</td>
<td align="right">
    .9734
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-04 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
14:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .9720
</td>
<td align="right">
    .9750
</td>
<td align="right">
  .0031
</td>
<td>
2011-08-04 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
14:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9717
</td>
<td align="right">
    .9747
</td>
<td align="right">
  .0030
</td>
<td>
2011-08-04 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
14:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9714
</td>
<td align="right">
    .9743
</td>
<td align="right">
  .0030
</td>
<td>
2011-08-04 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
14:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9715
</td>
<td align="right">
    .9751
</td>
<td align="right">
  .0037
</td>
<td>
2011-08-04 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
14:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9724
</td>
<td align="right">
    .9756
</td>
<td align="right">
  .0033
</td>
<td>
2011-08-04 20:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
14:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9739
</td>
<td align="right">
    .9767
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-04 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
14:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9752
</td>
<td align="right">
    .9766
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-04 20:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9751
</td>
<td align="right">
    .9767
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9751
</td>
<td align="right">
    .9770
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-04 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:20:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9750
</td>
<td align="right">
    .9762
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-04 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:25:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9747
</td>
<td align="right">
    .9767
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-04 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9743
</td>
<td align="right">
    .9766
</td>
<td align="right">
  .0023
</td>
<td>
2011-08-04 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9751
</td>
<td align="right">
    .9766
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:45:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9762
</td>
<td align="right">
    .9755
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-04 21:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:50:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .9767
</td>
<td align="right">
    .9754
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-04 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
15:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9766
</td>
<td align="right">
    .9755
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-04 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
16:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9767
</td>
<td align="right">
    .9758
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-04 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
16:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9770
</td>
<td align="right">
    .9758
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-04 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
16:10:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .9763
</td>
<td align="right">
    .9759
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-04 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
16:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9760
</td>
<td align="right">
    .9763
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-04 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
16:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9754
</td>
<td align="right">
    .9773
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-04 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
17:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9759
</td>
<td align="right">
    .9780
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-04 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
17:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9763
</td>
<td align="right">
    .9784
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-04 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
17:25:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    .9759
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
17:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9764
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
17:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9784
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
17:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9785
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
18:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9775
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
18:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9780
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
18:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9784
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-04
18:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9782
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
12:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7750
</td>
<td align="right">
    .7719
</td>
<td align="right">
 -.0040
</td>
<td>
2011-08-04 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
12:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7778
</td>
<td align="right">
    .7707
</td>
<td align="right">
 -.0091
</td>
<td>
2011-08-04 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
12:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .7766
</td>
<td align="right">
    .7711
</td>
<td align="right">
 -.0071
</td>
<td>
2011-08-04 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
12:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7767
</td>
<td align="right">
    .7718
</td>
<td align="right">
 -.0064
</td>
<td>
2011-08-04 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
13:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .7768
</td>
<td align="right">
    .7718
</td>
<td align="right">
 -.0065
</td>
<td>
2011-08-04 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
13:05:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .7760
</td>
<td align="right">
    .7710
</td>
<td align="right">
 -.0065
</td>
<td>
2011-08-04 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
13:10:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .7750
</td>
<td align="right">
    .7707
</td>
<td align="right">
 -.0055
</td>
<td>
2011-08-04 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-04
13:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8661
</td>
<td align="right">
 -.0026
</td>
<td>
2011-08-04 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-04
13:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8677
</td>
<td align="right">
    .8664
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-04 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-04
13:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8676
</td>
<td align="right">
    .8667
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-04 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
16:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .7685
</td>
<td align="right">
    .7663
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-04 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
16:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .7668
</td>
<td align="right">
    .7675
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-04 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
16:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .7662
</td>
<td align="right">
    .7674
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
17:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .7660
</td>
<td align="right">
    .7673
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-04 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
17:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .7663
</td>
<td align="right">
    .7675
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-04 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
17:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .7674
</td>
<td align="right">
    .7678
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-04 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-04
17:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .7678
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-04 23:25:00
</td>
</tr>
</table>
<br /><hr />