<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
00:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0616
</td>
<td align="right">
   1.0625
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-09 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
01:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0619
</td>
<td align="right">
   1.0632
</td>
<td align="right">
  .0013
</td>
<td>
2011-09-09 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
01:15:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0623
</td>
<td align="right">
   1.0631
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-09 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
01:45:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.0633
</td>
<td align="right">
   1.0628
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-09 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
02:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0631
</td>
<td align="right">
   1.0625
</td>
<td align="right">
 -.0006
</td>
<td>
2011-09-09 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
04:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0614
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
23:05:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.3112
</td>
<td align="right">
   1.3131
</td>
<td align="right">
  .0014
</td>
<td>
2011-09-09 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
23:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3115
</td>
<td align="right">
   1.3117
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-09 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
23:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3117
</td>
<td align="right">
   1.3117
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-09 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-08
23:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3120
</td>
<td align="right">
   1.3116
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-09 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-09
00:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3117
</td>
<td align="right">
   1.3106
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-09 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-09
01:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3107
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-09 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-09
02:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3111
</td>
<td align="right">
   1.3109
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-09 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-08
23:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8706
</td>
<td align="right">
    .8710
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-09 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
00:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8711
</td>
<td align="right">
    .8710
</td>
<td align="right">
  .0000
</td>
<td>
2011-09-09 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
00:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8711
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-09 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
01:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8707
</td>
<td align="right">
    .8711
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-09 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
01:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8711
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-09 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
01:20:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8710
</td>
<td align="right">
    .8710
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-09 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
01:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8711
</td>
<td align="right">
    .8716
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-09 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
01:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8711
</td>
<td align="right">
    .8717
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-09 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
01:50:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8713
</td>
<td align="right">
    .8716
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-09 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
01:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8712
</td>
<td align="right">
    .8715
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-09 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
02:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8711
</td>
<td align="right">
    .8714
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-09 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
02:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8716
</td>
<td align="right">
    .8712
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-09 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
03:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8713
</td>
<td align="right">
    .8712
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-09 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
03:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8714
</td>
<td align="right">
    .8708
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-09 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
03:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8713
</td>
<td align="right">
    .8707
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-09 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
03:35:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8713
</td>
<td align="right">
    .8707
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-09 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
03:45:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8714
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
03:50:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8712
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
03:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8713
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-09-09
04:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8712
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-08
23:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  82.2372
</td>
<td align="right">
  82.1685
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-09 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-08
23:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  82.1080
</td>
<td align="right">
  82.2785
</td>
<td align="right">
  .0021
</td>
<td>
2011-09-09 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
22:45:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.0598
</td>
<td align="right">
   1.0585
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-09 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
22:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0606
</td>
<td align="right">
   1.0581
</td>
<td align="right">
 -.0024
</td>
<td>
2011-09-09 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
23:00:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0602
</td>
<td align="right">
   1.0590
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-09 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
23:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0615
</td>
<td align="right">
   1.0594
</td>
<td align="right">
 -.0020
</td>
<td>
2011-09-09 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
23:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0613
</td>
<td align="right">
   1.0610
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-09 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
23:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0590
</td>
<td align="right">
   1.0615
</td>
<td align="right">
  .0024
</td>
<td>
2011-09-09 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
23:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0591
</td>
<td align="right">
   1.0616
</td>
<td align="right">
  .0024
</td>
<td>
2011-09-09 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-08
23:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0594
</td>
<td align="right">
   1.0611
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-09 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
03:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.2133
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
03:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2137
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
04:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2136
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
04:05:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
   1.2133
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
04:10:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.2131
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 10:10:00
</td>
</tr>
</table>
<br /><hr />