<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
06:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3706
</td>
<td align="right">
   1.3686
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-29 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
07:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3677
</td>
<td align="right">
   1.3671
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-29 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
07:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3678
</td>
<td align="right">
   1.3668
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-29 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
08:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3672
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-29 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
06:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.4540
</td>
<td align="right">
   1.4543
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-29 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
06:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4543
</td>
<td align="right">
   1.4528
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-29 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
07:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4538
</td>
<td align="right">
   1.4524
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-29 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
07:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4531
</td>
<td align="right">
   1.4512
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-29 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
07:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.4530
</td>
<td align="right">
   1.4519
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-29 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
08:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.4524
</td>
<td align="right">
   1.4516
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-29 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
08:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.4523
</td>
<td align="right">
   1.4514
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-29 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
08:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4522
</td>
<td align="right">
   1.4504
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-29 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
03:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3641
</td>
<td align="right">
   1.3645
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-29 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-29
04:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3645
</td>
<td align="right">
   1.3692
</td>
<td align="right">
  .0034
</td>
<td>
2011-08-29 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
03:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8854
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-29 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
03:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8851
</td>
<td align="right">
    .8853
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-29 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-29
06:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8874
</td>
<td align="right">
    .8858
</td>
<td align="right">
 -.0019
</td>
<td>
2011-08-29 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
04:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4495
</td>
<td align="right">
   1.4536
</td>
<td align="right">
  .0028
</td>
<td>
2011-08-29 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
04:35:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4496
</td>
<td align="right">
   1.4533
</td>
<td align="right">
  .0026
</td>
<td>
2011-08-29 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
04:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4496
</td>
<td align="right">
   1.4537
</td>
<td align="right">
  .0028
</td>
<td>
2011-08-29 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
04:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4494
</td>
<td align="right">
   1.4536
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-29 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-29
04:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4494
</td>
<td align="right">
   1.4536
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-29 10:50:00
</td>
</tr>
</table>
<br /><hr />