<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-05
03:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8484
</td>
<td align="right">
    .8489
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-05 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-05
02:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  86.5986
</td>
<td align="right">
  86.6714
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-05 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-05
02:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  86.6037
</td>
<td align="right">
  86.6694
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-05 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-05
02:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  86.5932
</td>
<td align="right">
  86.6545
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-05 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-05
02:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  86.6464
</td>
<td align="right">
  86.6991
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-05 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-05
03:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  86.6869
</td>
<td align="right">
  86.6490
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-05 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-05
05:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3557
</td>
<td align="right">
   1.3549
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-05 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-05
05:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 117.3710
</td>
<td align="right">
 117.3268
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-05 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-05
05:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 117.2588
</td>
<td align="right">
 117.3741
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-05 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
03:30:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.4488
</td>
<td align="right">
   1.4477
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-05 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
03:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4484
</td>
<td align="right">
   1.4477
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-05 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
03:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4486
</td>
<td align="right">
   1.4476
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-05 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
03:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4484
</td>
<td align="right">
   1.4466
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-05 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
04:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4486
</td>
<td align="right">
   1.4476
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-05 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
04:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.4481
</td>
<td align="right">
   1.4477
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-05 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
04:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4483
</td>
<td align="right">
   1.4477
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-05 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
04:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4477
</td>
<td align="right">
   1.4483
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-05 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-05
04:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4477
</td>
<td align="right">
   1.4478
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-05 10:35:00
</td>
</tr>
</table>
