<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
22:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 109.4595
</td>
<td align="right">
 109.3550
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-12 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
22:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4235
</td>
<td align="right">
   1.4219
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-12 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
22:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4235
</td>
<td align="right">
   1.4214
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-12 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
22:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.4231
</td>
<td align="right">
   1.4222
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-12 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
23:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4217
</td>
<td align="right">
   1.4197
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-12 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-11
19:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8773
</td>
<td align="right">
    .8765
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-12 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-11
23:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8760
</td>
<td align="right">
    .8750
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-12 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
00:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8752
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
00:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8751
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
00:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8752
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-12
01:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8749
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
20:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 109.2934
</td>
<td align="right">
 109.4185
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-12 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
20:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 109.3358
</td>
<td align="right">
 109.4733
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-12 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
21:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 109.4558
</td>
<td align="right">
 109.4859
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-12 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
21:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 109.4667
</td>
<td align="right">
 109.4465
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-12 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
22:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 109.3444
</td>
<td align="right">
 109.3773
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-12 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-11
23:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 109.3315
</td>
<td align="right">
 109.1805
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-12 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
20:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4224
</td>
<td align="right">
   1.4237
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-12 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
20:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.4227
</td>
<td align="right">
   1.4236
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-12 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
21:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.4241
</td>
<td align="right">
   1.4230
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-12 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
21:35:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.4242
</td>
<td align="right">
   1.4228
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-12 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
22:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.4236
</td>
<td align="right">
   1.4226
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-12 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
22:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4224
</td>
<td align="right">
   1.4215
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-12 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-11
23:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.4219
</td>
<td align="right">
   1.4194
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-12 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
01:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4187
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-12
01:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.4187
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-12 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-11
22:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9836
</td>
<td align="right">
    .9861
</td>
<td align="right">
  .0025
</td>
<td>
2011-08-12 04:05:00
</td>
</tr>
</table>
<br /><hr />