<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  79.8873
</td>
<td align="right">
  79.6036
</td>
<td align="right">
 -.0036
</td>
<td>
2011-10-17 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  79.8281
</td>
<td align="right">
  79.6289
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-17 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  79.8429
</td>
<td align="right">
  79.6103
</td>
<td align="right">
 -.0029
</td>
<td>
2011-10-17 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  79.9003
</td>
<td align="right">
  79.7222
</td>
<td align="right">
 -.0022
</td>
<td>
2011-10-17 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-16
23:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 107.1913
</td>
<td align="right">
 106.9857
</td>
<td align="right">
 -.0019
</td>
<td>
2011-10-17 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
21:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.1454
</td>
<td align="right">
  77.2353
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-17 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.1806
</td>
<td align="right">
  77.2348
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  77.1802
</td>
<td align="right">
  77.2086
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:10:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  77.1781
</td>
<td align="right">
  77.2295
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  77.1892
</td>
<td align="right">
  77.2153
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:20:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.2070
</td>
<td align="right">
  77.2191
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-17 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:25:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  77.2069
</td>
<td align="right">
  77.2010
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.2073
</td>
<td align="right">
  77.2047
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-17 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:35:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
  77.2287
</td>
<td align="right">
  77.1773
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-17 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  77.2163
</td>
<td align="right">
  77.2127
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-17 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:45:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.2340
</td>
<td align="right">
  77.2047
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-17 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:50:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.2372
</td>
<td align="right">
  77.2058
</td>
<td align="right">
 -.0004
</td>
<td>
2011-10-17 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
22:55:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
  77.2353
</td>
<td align="right">
  77.2247
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:00:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  77.2348
</td>
<td align="right">
  77.2218
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-17 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:05:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  77.2086
</td>
<td align="right">
  77.2002
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:10:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  77.2295
</td>
<td align="right">
  77.2281
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-17 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.2153
</td>
<td align="right">
  77.2686
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  77.2191
</td>
<td align="right">
  77.2414
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:25:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  77.2010
</td>
<td align="right">
  77.2468
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.2047
</td>
<td align="right">
  77.2522
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.2127
</td>
<td align="right">
  77.2698
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.2047
</td>
<td align="right">
  77.2887
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.2058
</td>
<td align="right">
  77.2853
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-17 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-16
23:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.2247
</td>
<td align="right">
  77.2850
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-17
00:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  77.2218
</td>
<td align="right">
  77.2700
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-17
00:05:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  77.2002
</td>
<td align="right">
  77.2850
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-17
00:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.2281
</td>
<td align="right">
  77.2725
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-17 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
21:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.5901
</td>
<td align="right">
  79.7415
</td>
<td align="right">
  .0019
</td>
<td>
2011-10-17 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
21:25:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  79.5786
</td>
<td align="right">
  79.7839
</td>
<td align="right">
  .0026
</td>
<td>
2011-10-17 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
21:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.6289
</td>
<td align="right">
  79.7463
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-17 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
21:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.6607
</td>
<td align="right">
  79.7865
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-17 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
23:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.7467
</td>
<td align="right">
  79.7422
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-17 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
23:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.6425
</td>
<td align="right">
  79.7328
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-16
23:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.6215
</td>
<td align="right">
  79.7391
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-17 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:00:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  79.6976
</td>
<td align="right">
  79.6750
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-17 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  79.6861
</td>
<td align="right">
  79.5997
</td>
<td align="right">
 -.0011
</td>
<td>
2011-10-17 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:10:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  79.7718
</td>
<td align="right">
  79.6177
</td>
<td align="right">
 -.0019
</td>
<td>
2011-10-17 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
  79.7899
</td>
<td align="right">
  79.6512
</td>
<td align="right">
 -.0017
</td>
<td>
2011-10-17 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.7394
</td>
<td align="right">
  79.5559
</td>
<td align="right">
 -.0023
</td>
<td>
2011-10-17 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.7422
</td>
<td align="right">
  79.5392
</td>
<td align="right">
 -.0025
</td>
<td>
2011-10-17 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.7575
</td>
<td align="right">
  79.5868
</td>
<td align="right">
 -.0021
</td>
<td>
2011-10-17 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.7421
</td>
<td align="right">
  79.5668
</td>
<td align="right">
 -.0022
</td>
<td>
2011-10-17 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  79.7391
</td>
<td align="right">
  79.6183
</td>
<td align="right">
 -.0015
</td>
<td>
2011-10-17 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
00:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  79.7794
</td>
<td align="right">
  79.7026
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-17 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:05:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.5997
</td>
<td align="right">
  79.7175
</td>
<td align="right">
  .0015
</td>
<td>
2011-10-17 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.6177
</td>
<td align="right">
  79.7194
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-17 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.6512
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.6525
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  79.5559
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.5392
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-17
01:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.5533
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-17 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
00:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3431
</td>
<td align="right">
   1.3435
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
00:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3426
</td>
<td align="right">
   1.3444
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-17 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
00:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3424
</td>
<td align="right">
   1.3437
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-17 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
00:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3431
</td>
<td align="right">
   1.3437
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-17 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-17
01:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3435
</td>
<td align="right">
   1.3428
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-17 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
01:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 106.9424
</td>
<td align="right">
 107.0356
</td>
<td align="right">
  .0009
</td>
<td>
2011-10-17 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
01:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 106.9595
</td>
<td align="right">
 107.0406
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-17
01:50:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 106.9633
</td>
<td align="right">
 107.0425
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-16
22:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0103
</td>
<td align="right">
   1.0094
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-17 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-10-16
22:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0100
</td>
<td align="right">
   1.0111
</td>
<td align="right">
  .0011
</td>
<td>
2011-10-17 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-16
23:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8915
</td>
<td align="right">
    .8929
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-17 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-16
23:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8922
</td>
<td align="right">
    .8931
</td>
<td align="right">
  .0010
</td>
<td>
2011-10-17 05:55:00
</td>
</tr>
</table>
<br /><hr />