<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
00:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  81.3712
</td>
<td align="right">
  81.3564
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-05 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
01:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  81.3432
</td>
<td align="right">
  81.3167
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-05 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
01:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  81.3321
</td>
<td align="right">
  81.3402
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-05 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
01:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  81.2916
</td>
<td align="right">
  81.3473
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-05 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
02:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  81.3339
</td>
<td align="right">
  81.3125
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-05 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-05
02:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  81.3261
</td>
<td align="right">
  81.3373
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-05 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
00:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 108.8120
</td>
<td align="right">
 108.7061
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-05 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
04:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 108.7574
</td>
<td align="right">
 108.7415
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-05 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
04:25:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 108.7370
</td>
<td align="right">
 108.6259
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-05 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
04:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 108.7527
</td>
<td align="right">
 108.6001
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-05 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
04:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 108.7459
</td>
<td align="right">
 108.6181
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-05 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
04:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
 108.7598
</td>
<td align="right">
 108.5979
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-05 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
04:45:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
 108.7568
</td>
<td align="right">
 108.6085
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-05 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
04:50:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
 108.7524
</td>
<td align="right">
 108.5460
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-05 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-05
05:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 108.7015
</td>
<td align="right">
 108.5318
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-05 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-05
00:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.8400
</td>
<td align="right">
  76.7900
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-05 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-05
03:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3365
</td>
<td align="right">
   1.3376
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-05 09:45:00
</td>
</tr>
</table>
<br /><hr />