<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-11
07:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0712
</td>
<td align="right">
   1.0703
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-11 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-11
08:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0710
</td>
<td align="right">
   1.0697
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-11 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
06:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.1866
</td>
<td align="right">
   1.1838
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-11 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
06:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1868
</td>
<td align="right">
   1.1843
</td>
<td align="right">
 -.0021
</td>
<td>
2011-07-11 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
07:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1875
</td>
<td align="right">
   1.1859
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-11 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
07:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1873
</td>
<td align="right">
   1.1858
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-11 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
07:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1874
</td>
<td align="right">
   1.1858
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-11 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
07:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1867
</td>
<td align="right">
   1.1857
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-11 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
07:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1852
</td>
<td align="right">
   1.1830
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-11 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
07:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.1843
</td>
<td align="right">
   1.1836
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-11 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
07:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.1843
</td>
<td align="right">
   1.1837
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-11 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
08:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1858
</td>
<td align="right">
   1.1831
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-11 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
08:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1836
</td>
<td align="right">
   1.1826
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-11 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
09:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1832
</td>
<td align="right">
   1.1823
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-11 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
07:20:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9657
</td>
<td align="right">
    .9647
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-11 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9675
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9676
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9677
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:35:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9685
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-11
11:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9685
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
10:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  86.2857
</td>
<td align="right">
  86.0498
</td>
<td align="right">
 -.0027
</td>
<td>
2011-07-11 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
10:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  86.2764
</td>
<td align="right">
  86.0513
</td>
<td align="right">
 -.0026
</td>
<td>
2011-07-11 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
11:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  86.2254
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-11
11:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  86.1372
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-11
07:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3227
</td>
<td align="right">
   1.3218
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-11 13:15:00
</td>
</tr>
</table>
<br /><hr />