<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
00:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9781
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-26 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-25
23:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2250
</td>
<td align="right">
   1.2206
</td>
<td align="right">
 -.0036
</td>
<td>
2011-09-26 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-25
23:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2250
</td>
<td align="right">
   1.2207
</td>
<td align="right">
 -.0035
</td>
<td>
2011-09-26 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-26
02:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  74.7711
</td>
<td align="right">
  74.6882
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-26 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
03:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9743
</td>
<td align="right">
    .9717
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-26 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
03:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9732
</td>
<td align="right">
    .9719
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-26 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
04:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9734
</td>
<td align="right">
    .9712
</td>
<td align="right">
 -.0023
</td>
<td>
2011-09-26 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-26
04:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9738
</td>
<td align="right">
    .9699
</td>
<td align="right">
 -.0040
</td>
<td>
2011-09-26 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
01:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3727
</td>
<td align="right">
   1.3730
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-26 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
01:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3728
</td>
<td align="right">
   1.3737
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-26 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:00:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.3733
</td>
<td align="right">
   1.3742
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-26 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3739
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-26 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3736
</td>
<td align="right">
   1.3739
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-26 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3733
</td>
<td align="right">
   1.3742
</td>
<td align="right">
  .0007
</td>
<td>
2011-09-26 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-09-26
02:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3723
</td>
<td align="right">
   1.3753
</td>
<td align="right">
  .0022
</td>
<td>
2011-09-26 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 102.8053
</td>
<td align="right">
 102.6830
</td>
<td align="right">
 -.0012
</td>
<td>
2011-09-26 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 102.7588
</td>
<td align="right">
 102.5739
</td>
<td align="right">
 -.0018
</td>
<td>
2011-09-26 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 102.6362
</td>
<td align="right">
 102.5897
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-26 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:15:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
 102.5634
</td>
<td align="right">
 102.5714
</td>
<td align="right">
  .0001
</td>
<td>
2011-09-26 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
01:20:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 102.5470
</td>
<td align="right">
 102.6404
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-26 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
02:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 102.5902
</td>
<td align="right">
 102.4958
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-26 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
03:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 102.5843
</td>
<td align="right">
 102.4171
</td>
<td align="right">
 -.0016
</td>
<td>
2011-09-26 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
03:35:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
 102.4958
</td>
<td align="right">
 102.5126
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-26 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
03:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
 102.4142
</td>
<td align="right">
 102.4472
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-26 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
04:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 102.4151
</td>
<td align="right">
 102.3280
</td>
<td align="right">
 -.0009
</td>
<td>
2011-09-26 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
04:20:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
 102.4057
</td>
<td align="right">
 102.3604
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-26 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
04:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 102.4171
</td>
<td align="right">
 102.3781
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-26 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
04:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 102.4472
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
05:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 102.2712
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
05:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 102.2602
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-26
05:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 102.2443
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-26 11:10:00
</td>
</tr>
</table>
<br /><hr />