<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
06:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  79.1409
</td>
<td align="right">
  79.2600
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-19 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
06:10:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  79.2896
</td>
<td align="right">
  79.1561
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-19 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
06:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  79.1929
</td>
<td align="right">
  78.9563
</td>
<td align="right">
 -.0030
</td>
<td>
2011-08-19 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
07:55:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  79.1452
</td>
<td align="right">
  79.2072
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-19 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
08:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  79.1521
</td>
<td align="right">
  79.3110
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-19 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
08:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  79.1282
</td>
<td align="right">
  79.2386
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-19 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
08:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  79.2072
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-19 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
09:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  79.2272
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-19 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
09:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  79.1762
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-19 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
09:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  79.1912
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-19 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-19
09:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  79.3249
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-19 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
04:25:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.1359
</td>
<td align="right">
   1.1375
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-19 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
04:40:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1356
</td>
<td align="right">
   1.1361
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-19 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
04:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1355
</td>
<td align="right">
   1.1355
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-19 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
04:55:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1371
</td>
<td align="right">
   1.1356
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-19 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
05:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1380
</td>
<td align="right">
   1.1374
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-19 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
05:25:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.1375
</td>
<td align="right">
   1.1353
</td>
<td align="right">
 -.0020
</td>
<td>
2011-08-19 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
05:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1371
</td>
<td align="right">
   1.1359
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-19 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
05:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1364
</td>
<td align="right">
   1.1354
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-19 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
05:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.1361
</td>
<td align="right">
   1.1329
</td>
<td align="right">
 -.0028
</td>
<td>
2011-08-19 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
06:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.1359
</td>
<td align="right">
   1.1273
</td>
<td align="right">
 -.0075
</td>
<td>
2011-08-19 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
06:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1324
</td>
<td align="right">
   1.1294
</td>
<td align="right">
 -.0027
</td>
<td>
2011-08-19 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
07:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1319
</td>
<td align="right">
   1.1296
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-19 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
08:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.1333
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-19 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
04:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8679
</td>
<td align="right">
    .8679
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-19 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
04:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8682
</td>
<td align="right">
    .8684
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-19 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
05:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8681
</td>
<td align="right">
    .8676
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-19 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
05:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8680
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-19 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
05:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8679
</td>
<td align="right">
    .8669
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-19 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
05:50:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .8679
</td>
<td align="right">
    .8669
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-19 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
05:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8684
</td>
<td align="right">
    .8672
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-19 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
06:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8676
</td>
<td align="right">
    .8667
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-19 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
06:05:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    .8680
</td>
<td align="right">
    .8664
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-19 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
06:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8681
</td>
<td align="right">
    .8663
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-19 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
06:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8679
</td>
<td align="right">
    .8671
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-19 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-19
04:00:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .7941
</td>
<td align="right">
    .7954
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-19 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-19
04:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7938
</td>
<td align="right">
    .7947
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-19 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-19
04:45:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .7938
</td>
<td align="right">
    .7948
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-19 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-19
07:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1273
</td>
<td align="right">
   1.1304
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-19 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
06:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8675
</td>
<td align="right">
    .8674
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-19 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-19
06:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8676
</td>
<td align="right">
    .8666
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-19 12:35:00
</td>
</tr>
</table>
<br /><hr />