<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-10
23:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3664
</td>
<td align="right">
   1.3665
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-11 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-10
23:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3666
</td>
<td align="right">
   1.3669
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-11 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-11
03:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3682
</td>
<td align="right">
   1.3683
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-11 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-11
03:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3679
</td>
<td align="right">
   1.3683
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-11 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-11
03:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3678
</td>
<td align="right">
   1.3679
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-11 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-11
03:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3678
</td>
<td align="right">
   1.3671
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-11 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
01:10:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8717
</td>
<td align="right">
    .8721
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-11 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
01:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .8718
</td>
<td align="right">
    .8723
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-11 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
01:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8718
</td>
<td align="right">
    .8721
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-11 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
01:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8720
</td>
<td align="right">
    .8721
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-11 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
01:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8721
</td>
<td align="right">
    .8721
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-11 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
02:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8723
</td>
<td align="right">
    .8721
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-11 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
02:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8721
</td>
<td align="right">
    .8724
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-11 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
02:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8720
</td>
<td align="right">
    .8725
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-11 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
03:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8723
</td>
<td align="right">
    .8724
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-11 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
03:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8721
</td>
<td align="right">
    .8726
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-11 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
03:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8724
</td>
<td align="right">
    .8727
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-11 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
03:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8725
</td>
<td align="right">
    .8728
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-11 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
03:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .8724
</td>
<td align="right">
    .8728
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-11 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
04:00:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8721
</td>
<td align="right">
    .8727
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-11 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
04:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .8722
</td>
<td align="right">
    .8727
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-11 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
04:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8728
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-11 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-11
04:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8728
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-11 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-11
04:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  76.6650
</td>
<td align="right">
  76.6825
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-11 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-11
04:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  76.6650
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-11 10:50:00
</td>
</tr>
</table>
<br /><hr />