<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
06:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 110.0320
</td>
<td align="right">
 110.0337
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-15 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
06:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 110.0674
</td>
<td align="right">
 109.9090
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-15 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
06:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
 110.1708
</td>
<td align="right">
 109.9304
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-15 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
07:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 109.8588
</td>
<td align="right">
 109.9912
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-15 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
07:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 109.8994
</td>
<td align="right">
 109.8389
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-15 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
08:00:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
 109.9891
</td>
<td align="right">
 110.0204
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-15 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
08:05:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
 109.9644
</td>
<td align="right">
 110.0207
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-15 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
08:15:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
 110.0478
</td>
<td align="right">
 110.0864
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-15 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
08:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 109.8389
</td>
<td align="right">
 109.9872
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-15 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
08:45:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
 109.9881
</td>
<td align="right">
 109.9882
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-15 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
08:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 110.0145
</td>
<td align="right">
 109.9636
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-15 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
09:10:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 110.0207
</td>
<td align="right">
 109.6595
</td>
<td align="right">
 -.0033
</td>
<td>
2011-08-15 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
09:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 109.9807
</td>
<td align="right">
 109.7511
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-15 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
09:25:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
 110.0032
</td>
<td align="right">
 109.7550
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-15 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
09:30:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
 110.0383
</td>
<td align="right">
 109.7813
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-15 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
09:35:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
 109.9872
</td>
<td align="right">
 109.7471
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-15 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
09:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 109.9554
</td>
<td align="right">
 109.7544
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-15 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
09:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 109.9882
</td>
<td align="right">
 109.6954
</td>
<td align="right">
 -.0027
</td>
<td>
2011-08-15 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
09:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 109.9636
</td>
<td align="right">
 109.7914
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-15 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
10:00:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
 109.8582
</td>
<td align="right">
 109.7738
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-15 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
10:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 109.7990
</td>
<td align="right">
 109.7551
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-15 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
07:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9890
</td>
<td align="right">
    .9883
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-15 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
07:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9890
</td>
<td align="right">
    .9880
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-15 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
08:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9889
</td>
<td align="right">
    .9878
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-15 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
09:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9887
</td>
<td align="right">
    .9894
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-15 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
09:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9887
</td>
<td align="right">
    .9893
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-15 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
09:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9893
</td>
<td align="right">
    .9887
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-15 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
09:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9903
</td>
<td align="right">
    .9874
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-15 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
10:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9896
</td>
<td align="right">
    .9870
</td>
<td align="right">
 -.0027
</td>
<td>
2011-08-15 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
10:05:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9899
</td>
<td align="right">
    .9862
</td>
<td align="right">
 -.0037
</td>
<td>
2011-08-15 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
10:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9892
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-15 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
10:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9874
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-15 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
06:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.9100
</td>
<td align="right">
  76.8825
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-15 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
06:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.8950
</td>
<td align="right">
  76.8700
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-15 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
06:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.9000
</td>
<td align="right">
  76.8650
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-15 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
06:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.8800
</td>
<td align="right">
  76.8675
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-15 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
06:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.8900
</td>
<td align="right">
  76.8650
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-15 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
06:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.8750
</td>
<td align="right">
  76.8700
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-15 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
07:25:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.8700
</td>
<td align="right">
  76.8350
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-15 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
07:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  76.8650
</td>
<td align="right">
  76.8450
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-15 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
07:35:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  76.8675
</td>
<td align="right">
  76.8225
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-15 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
07:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.8650
</td>
<td align="right">
  76.8275
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-15 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
07:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  76.8700
</td>
<td align="right">
  76.8100
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-15 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
07:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.8650
</td>
<td align="right">
  76.8363
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-15 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
08:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  76.8725
</td>
<td align="right">
  76.8650
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-15 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-15
09:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.8650
</td>
<td align="right">
  76.8475
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-15 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
06:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0420
</td>
<td align="right">
   1.0418
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-15 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
07:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0419
</td>
<td align="right">
   1.0417
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-15 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
08:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0413
</td>
<td align="right">
   1.0416
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-15 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
08:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0418
</td>
<td align="right">
   1.0411
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-15 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
08:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0422
</td>
<td align="right">
   1.0404
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-15 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
09:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0419
</td>
<td align="right">
   1.0394
</td>
<td align="right">
 -.0024
</td>
<td>
2011-08-15 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
09:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0418
</td>
<td align="right">
   1.0396
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-15 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
09:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0416
</td>
<td align="right">
   1.0393
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-15 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
09:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0412
</td>
<td align="right">
   1.0396
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-15 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
09:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.0411
</td>
<td align="right">
   1.0399
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-15 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
09:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0404
</td>
<td align="right">
   1.0411
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-15 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-15
09:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0402
</td>
<td align="right">
   1.0411
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-15 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-15
10:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 109.6595
</td>
<td align="right">
 109.7532
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-15 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
08:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9880
</td>
<td align="right">
    .9893
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-15 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
08:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9879
</td>
<td align="right">
    .9897
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-15 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
09:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9878
</td>
<td align="right">
    .9899
</td>
<td align="right">
  .0020
</td>
<td>
2011-08-15 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-15
09:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9880
</td>
<td align="right">
    .9906
</td>
<td align="right">
  .0027
</td>
<td>
2011-08-15 15:10:00
</td>
</tr>
</table>
<br /><hr />