<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
03:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8021
</td>
<td align="right">
    .8020
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
03:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8022
</td>
<td align="right">
    .8019
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
03:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8020
</td>
<td align="right">
    .8018
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8020
</td>
<td align="right">
    .8014
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-27 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8021
</td>
<td align="right">
    .8012
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-27 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8020
</td>
<td align="right">
    .8010
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-27 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8019
</td>
<td align="right">
    .8012
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-27 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-27
04:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8019
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
00:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  77.9600
</td>
<td align="right">
  77.8925
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-27 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
00:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  77.9475
</td>
<td align="right">
  77.8450
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-27 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
00:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.9500
</td>
<td align="right">
  77.7950
</td>
<td align="right">
 -.0020
</td>
<td>
2011-07-27 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
00:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  77.9350
</td>
<td align="right">
  77.7888
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-27 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
00:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  77.9388
</td>
<td align="right">
  77.8150
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-27 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
00:55:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  77.8675
</td>
<td align="right">
  77.8225
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-27 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
01:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  77.9100
</td>
<td align="right">
  77.8325
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-27 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-27
01:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  77.9050
</td>
<td align="right">
  77.8500
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-27 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3122
</td>
<td align="right">
   1.3136
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-27 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3144
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-27 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3138
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-27 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3138
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-27 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3136
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3143
</td>
<td align="right">
   1.3137
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-27 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3141
</td>
<td align="right">
   1.3135
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-27 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3142
</td>
<td align="right">
   1.3138
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3145
</td>
<td align="right">
   1.3136
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-27 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3142
</td>
<td align="right">
   1.3138
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-27 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
02:55:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.3142
</td>
<td align="right">
   1.3137
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-27 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3135
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:10:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3144
</td>
<td align="right">
   1.3132
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-27 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3132
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-27 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3136
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-27 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3137
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-27 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3138
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-27 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3135
</td>
<td align="right">
   1.3139
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3142
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3140
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
03:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3136
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-27 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3135
</td>
<td align="right">
   1.3135
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3132
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-27 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3136
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-27 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3142
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3144
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-27 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3144
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-27 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:35:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.3139
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3142
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3140
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
04:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3135
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
05:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3133
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
05:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3132
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-27
05:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3136
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-27 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-26
23:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.1619
</td>
<td align="right">
   1.1637
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-27 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-26
23:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.1625
</td>
<td align="right">
   1.1637
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-27 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-26
23:45:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.1623
</td>
<td align="right">
   1.1639
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-27 05:45:00
</td>
</tr>
</table>
<br /><hr />