<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-03
01:40:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9685
</td>
<td align="right">
    .9653
</td>
<td align="right">
 -.0034
</td>
<td>
2011-10-03 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
03:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3837
</td>
<td align="right">
   1.3872
</td>
<td align="right">
  .0025
</td>
<td>
2011-10-03 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
05:05:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3841
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
05:10:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.3842
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
05:15:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.3847
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
05:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3849
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
05:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3849
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
05:30:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3845
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
05:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.3846
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
03:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8578
</td>
<td align="right">
    .8596
</td>
<td align="right">
  .0022
</td>
<td>
2011-10-03 09:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
04:05:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8578
</td>
<td align="right">
    .8588
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-03 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
04:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8580
</td>
<td align="right">
    .8590
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-03 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
04:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8590
</td>
<td align="right">
    .8591
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-03 10:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
04:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8595
</td>
<td align="right">
    .8587
</td>
<td align="right">
 -.0009
</td>
<td>
2011-10-03 10:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
04:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8595
</td>
<td align="right">
    .8596
</td>
<td align="right">
  .0001
</td>
<td>
2011-10-03 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
05:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8594
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
05:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8592
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-10-03
05:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8591
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
00:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 103.1598
</td>
<td align="right">
 102.9928
</td>
<td align="right">
 -.0016
</td>
<td>
2011-10-03 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
00:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 103.0709
</td>
<td align="right">
 102.9935
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-03 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
00:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 103.0761
</td>
<td align="right">
 103.0173
</td>
<td align="right">
 -.0006
</td>
<td>
2011-10-03 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
00:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 103.1313
</td>
<td align="right">
 102.9966
</td>
<td align="right">
 -.0013
</td>
<td>
2011-10-03 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
00:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 103.0872
</td>
<td align="right">
 102.9884
</td>
<td align="right">
 -.0010
</td>
<td>
2011-10-03 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
00:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 102.9643
</td>
<td align="right">
 102.8168
</td>
<td align="right">
 -.0014
</td>
<td>
2011-10-03 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
01:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 102.9935
</td>
<td align="right">
 102.7217
</td>
<td align="right">
 -.0026
</td>
<td>
2011-10-03 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
01:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 102.9707
</td>
<td align="right">
 102.7046
</td>
<td align="right">
 -.0026
</td>
<td>
2011-10-03 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
02:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 102.6586
</td>
<td align="right">
 102.5730
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-03 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
04:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 102.5522
</td>
<td align="right">
 102.6247
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-03 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
04:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 102.5148
</td>
<td align="right">
 102.6366
</td>
<td align="right">
  .0012
</td>
<td>
2011-10-03 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
04:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 102.6275
</td>
<td align="right">
 102.8233
</td>
<td align="right">
  .0019
</td>
<td>
2011-10-03 10:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
04:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 102.6815
</td>
<td align="right">
 102.7366
</td>
<td align="right">
  .0005
</td>
<td>
2011-10-03 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
05:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 102.6456
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
05:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 102.6247
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
05:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 102.6366
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
05:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 102.6106
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-03
05:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
 102.7239
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-10-03 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
02:30:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.0075
</td>
<td align="right">
  76.9975
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-03 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
02:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  77.0048
</td>
<td align="right">
  77.0200
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-03 08:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
02:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.0125
</td>
<td align="right">
  77.0300
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-03 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
02:45:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  77.0175
</td>
<td align="right">
  77.0200
</td>
<td align="right">
  .0000
</td>
<td>
2011-10-03 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
03:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  76.9775
</td>
<td align="right">
  77.0025
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-03 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
03:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  76.9700
</td>
<td align="right">
  76.9825
</td>
<td align="right">
  .0002
</td>
<td>
2011-10-03 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
03:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  76.9900
</td>
<td align="right">
  76.9800
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-03 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
03:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.9901
</td>
<td align="right">
  76.9825
</td>
<td align="right">
 -.0001
</td>
<td>
2011-10-03 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
03:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  77.0200
</td>
<td align="right">
  76.9850
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-03 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
03:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  76.9750
</td>
<td align="right">
  77.0275
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-03 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
04:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  76.9825
</td>
<td align="right">
  77.0425
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-03 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-03
04:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  76.9800
</td>
<td align="right">
  77.0450
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-03 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-10-03
00:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3809
</td>
<td align="right">
   1.3797
</td>
<td align="right">
 -.0008
</td>
<td>
2011-10-03 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-03
00:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9085
</td>
<td align="right">
    .9091
</td>
<td align="right">
  .0006
</td>
<td>
2011-10-03 06:15:00
</td>
</tr>
</table>
<br /><hr />