<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
07:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8687
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-05 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
07:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8699
</td>
<td align="right">
    .8686
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-05 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
09:00:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8683
</td>
<td align="right">
    .8688
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-05 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
09:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8696
</td>
<td align="right">
    .8697
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-05 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
09:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8698
</td>
<td align="right">
    .8692
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-05 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
09:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8693
</td>
<td align="right">
    .8696
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-05 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
09:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8694
</td>
<td align="right">
    .8693
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-05 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
09:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8694
</td>
<td align="right">
    .8694
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-05 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
09:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8690
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-05 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
10:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8688
</td>
<td align="right">
    .8696
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-05 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
10:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8690
</td>
<td align="right">
    .8694
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-05 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
10:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8692
</td>
<td align="right">
    .8692
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-05 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
10:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8697
</td>
<td align="right">
    .8694
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-05 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
07:05:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .7682
</td>
<td align="right">
    .7674
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-05 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
07:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7686
</td>
<td align="right">
    .7673
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-05 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
07:55:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .7685
</td>
<td align="right">
    .7693
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-05 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .7672
</td>
<td align="right">
    .7677
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-05 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:20:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .7674
</td>
<td align="right">
    .7679
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-05 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .7676
</td>
<td align="right">
    .7675
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-05 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:30:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7679
</td>
<td align="right">
    .7675
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-05 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7680
</td>
<td align="right">
    .7671
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-05 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7681
</td>
<td align="right">
    .7669
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-05 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:45:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    .7687
</td>
<td align="right">
    .7663
</td>
<td align="right">
 -.0031
</td>
<td>
2011-08-05 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:50:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .7687
</td>
<td align="right">
    .7676
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-05 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
08:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .7693
</td>
<td align="right">
    .7676
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-05 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:00:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .7683
</td>
<td align="right">
    .7672
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-05 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:05:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    .7677
</td>
<td align="right">
    .7671
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-05 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:10:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .7674
</td>
<td align="right">
    .7680
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-05 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:15:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .7677
</td>
<td align="right">
    .7684
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-05 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:20:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    .7679
</td>
<td align="right">
    .7688
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-05 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:25:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    .7675
</td>
<td align="right">
    .7686
</td>
<td align="right">
  .0014
</td>
<td>
2011-08-05 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:30:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .7675
</td>
<td align="right">
    .7675
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-05 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .7671
</td>
<td align="right">
    .7668
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-05 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:40:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    .7669
</td>
<td align="right">
    .7669
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-05 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:45:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .7663
</td>
<td align="right">
    .7666
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-05 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:50:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
    .7676
</td>
<td align="right">
    .7678
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-05 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
09:55:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    .7676
</td>
<td align="right">
    .7671
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-05 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:00:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .7672
</td>
<td align="right">
    .7670
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-05 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:05:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .7671
</td>
<td align="right">
    .7664
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-05 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:10:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .7680
</td>
<td align="right">
    .7664
</td>
<td align="right">
 -.0021
</td>
<td>
2011-08-05 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:15:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    .7684
</td>
<td align="right">
    .7664
</td>
<td align="right">
 -.0027
</td>
<td>
2011-08-05 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:20:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .7688
</td>
<td align="right">
    .7666
</td>
<td align="right">
 -.0029
</td>
<td>
2011-08-05 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:25:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .7686
</td>
<td align="right">
    .7666
</td>
<td align="right">
 -.0025
</td>
<td>
2011-08-05 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:30:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .7675
</td>
<td align="right">
    .7666
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-05 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .7669
</td>
<td align="right">
    .7669
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-05 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:50:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .7678
</td>
<td align="right">
    .7665
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-05 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
10:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .7671
</td>
<td align="right">
    .7670
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-05 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
11:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7664
</td>
<td align="right">
    .7666
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-05 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
11:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7666
</td>
<td align="right">
    .7652
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-05 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-05
11:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7665
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
11:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8696
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
12:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8698
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-05
12:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8697
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-05 18:05:00
</td>
</tr>
</table>
<br /><hr />