<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
09:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  80.3072
</td>
<td align="right">
  80.2836
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
09:05:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  80.3137
</td>
<td align="right">
  80.2749
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-24 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
09:10:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  80.3121
</td>
<td align="right">
  80.2401
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-24 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
09:15:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  80.2713
</td>
<td align="right">
  80.2441
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
11:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  80.3189
</td>
<td align="right">
  80.3925
</td>
<td align="right">
  .0009
</td>
<td>
2011-08-24 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
11:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  80.2997
</td>
<td align="right">
  80.4359
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-24 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
11:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  80.2815
</td>
<td align="right">
  80.3787
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-24 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
12:35:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
  80.3925
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
13:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  80.3486
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
13:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  80.3170
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
13:20:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  80.3178
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
13:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  80.3003
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3769
</td>
<td align="right">
   1.3782
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-24 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:40:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3773
</td>
<td align="right">
   1.3779
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-24 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:45:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.3774
</td>
<td align="right">
   1.3779
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-24 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
07:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3771
</td>
<td align="right">
   1.3779
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:00:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
   1.3770
</td>
<td align="right">
   1.3777
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3771
</td>
<td align="right">
   1.3780
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:15:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3775
</td>
<td align="right">
   1.3784
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:20:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.3776
</td>
<td align="right">
   1.3785
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:25:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.3780
</td>
<td align="right">
   1.3783
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-24 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
   1.3786
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3782
</td>
<td align="right">
   1.3786
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-24 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:40:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
   1.3788
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:45:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
   1.3789
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
08:50:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
   1.3788
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3777
</td>
<td align="right">
   1.3788
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-24 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3779
</td>
<td align="right">
   1.3789
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:10:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3780
</td>
<td align="right">
   1.3788
</td>
<td align="right">
  .0006
</td>
<td>
2011-08-24 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:15:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.3784
</td>
<td align="right">
   1.3790
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-24 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:20:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3785
</td>
<td align="right">
   1.3789
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-24 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:25:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.3783
</td>
<td align="right">
   1.3786
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-24 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3786
</td>
<td align="right">
   1.3788
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-24 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3786
</td>
<td align="right">
   1.3783
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-24 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3788
</td>
<td align="right">
   1.3787
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-24 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3789
</td>
<td align="right">
   1.3785
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:50:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.3788
</td>
<td align="right">
   1.3785
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-24 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
09:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3781
</td>
<td align="right">
   1.3787
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-24 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:00:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.3788
</td>
<td align="right">
   1.3784
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3789
</td>
<td align="right">
   1.3784
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-24 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:10:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.3788
</td>
<td align="right">
   1.3784
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:15:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3790
</td>
<td align="right">
   1.3786
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-24 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3789
</td>
<td align="right">
   1.3783
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-24 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:25:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3786
</td>
<td align="right">
   1.3783
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-24 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.3788
</td>
<td align="right">
   1.3780
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-24 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:35:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.3783
</td>
<td align="right">
   1.3777
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-24 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:40:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.3787
</td>
<td align="right">
   1.3776
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-24 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3785
</td>
<td align="right">
   1.3776
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-24 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3785
</td>
<td align="right">
   1.3773
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-24 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
10:55:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.3787
</td>
<td align="right">
   1.3770
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-24 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
11:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3784
</td>
<td align="right">
   1.3765
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-24 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
11:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3784
</td>
<td align="right">
   1.3769
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-24 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
12:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3752
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-24
13:05:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3759
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-24
08:35:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8747
</td>
<td align="right">
    .8753
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-24
09:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8757
</td>
<td align="right">
    .8752
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-24 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-24
10:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .8754
</td>
<td align="right">
    .8762
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-24 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-24
10:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8752
</td>
<td align="right">
    .8766
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-24 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-24
12:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8786
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-24
12:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8779
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
08:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 110.5150
</td>
<td align="right">
 110.6891
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-24 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
09:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 110.6389
</td>
<td align="right">
 110.6953
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
09:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 110.6148
</td>
<td align="right">
 110.6497
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-24 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
09:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 110.6522
</td>
<td align="right">
 110.5701
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-24 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
10:00:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 110.6953
</td>
<td align="right">
 110.5942
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-24 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
10:45:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 110.5788
</td>
<td align="right">
 110.5955
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-24 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
10:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 110.5701
</td>
<td align="right">
 110.5754
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-24 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
10:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 110.5899
</td>
<td align="right">
 110.5305
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-24 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
11:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 110.5942
</td>
<td align="right">
 110.5207
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-24 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
11:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 110.5955
</td>
<td align="right">
 110.7105
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-24 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
11:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 110.5754
</td>
<td align="right">
 110.6564
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
11:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 110.5305
</td>
<td align="right">
 110.5727
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-24 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
12:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 110.5207
</td>
<td align="right">
 110.5797
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
12:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 110.5500
</td>
<td align="right">
 110.4697
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-24 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
12:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 110.5920
</td>
<td align="right">
 110.5049
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-24 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
12:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 110.6835
</td>
<td align="right">
 110.4891
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-24 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
12:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 110.7515
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-24
13:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 110.5797
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
10:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.4449
</td>
<td align="right">
   1.4460
</td>
<td align="right">
  .0007
</td>
<td>
2011-08-24 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
10:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.4451
</td>
<td align="right">
   1.4435
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-24 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
11:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4455
</td>
<td align="right">
   1.4461
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-24 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
11:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4450
</td>
<td align="right">
   1.4470
</td>
<td align="right">
  .0013
</td>
<td>
2011-08-24 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
11:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4443
</td>
<td align="right">
   1.4459
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-24 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
11:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.4435
</td>
<td align="right">
   1.4449
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-24 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
12:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.4433
</td>
<td align="right">
   1.4440
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-24 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
12:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.4440
</td>
<td align="right">
   1.4434
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-24 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
12:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4459
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-24 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
07:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  76.6825
</td>
<td align="right">
  76.5575
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-24 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
07:40:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  76.6775
</td>
<td align="right">
  76.5525
</td>
<td align="right">
 -.0016
</td>
<td>
2011-08-24 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-08-24
08:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  76.6525
</td>
<td align="right">
  76.5075
</td>
<td align="right">
 -.0019
</td>
<td>
2011-08-24 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-24
08:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  80.1710
</td>
<td align="right">
  80.2346
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-24 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.4412
</td>
<td align="right">
   1.4468
</td>
<td align="right">
  .0039
</td>
<td>
2011-08-24 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.4432
</td>
<td align="right">
   1.4467
</td>
<td align="right">
  .0025
</td>
<td>
2011-08-24 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.4444
</td>
<td align="right">
   1.4459
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-24 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.4440
</td>
<td align="right">
   1.4456
</td>
<td align="right">
  .0011
</td>
<td>
2011-08-24 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.4432
</td>
<td align="right">
   1.4459
</td>
<td align="right">
  .0018
</td>
<td>
2011-08-24 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.4433
</td>
<td align="right">
   1.4455
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-24 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.4436
</td>
<td align="right">
   1.4458
</td>
<td align="right">
  .0016
</td>
<td>
2011-08-24 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.4435
</td>
<td align="right">
   1.4462
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-24 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
08:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.4437
</td>
<td align="right">
   1.4468
</td>
<td align="right">
  .0022
</td>
<td>
2011-08-24 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-24
09:00:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.4458
</td>
<td align="right">
   1.4470
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-24 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-24
10:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9884
</td>
<td align="right">
    .9877
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-24 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-24
10:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9880
</td>
<td align="right">
    .9870
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-24 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-24
10:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9882
</td>
<td align="right">
    .9870
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-24 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-24
10:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9882
</td>
<td align="right">
    .9869
</td>
<td align="right">
 -.0013
</td>
<td>
2011-08-24 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-24
11:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9875
</td>
<td align="right">
    .9850
</td>
<td align="right">
 -.0025
</td>
<td>
2011-08-24 17:45:00
</td>
</tr>
</table>
<br /><hr />