<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-18
20:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  79.5715
</td>
<td align="right">
  79.4236
</td>
<td align="right">
 -.0019
</td>
<td>
2011-08-19 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-18
20:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  79.5756
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-19 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-18
16:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.4488
</td>
<td align="right">
  79.4302
</td>
<td align="right">
 -.0002
</td>
<td>
2011-08-18 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-18
16:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0394
</td>
<td align="right">
   1.0371
</td>
<td align="right">
 -.0022
</td>
<td>
2011-08-18 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-18
16:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7917
</td>
<td align="right">
    .7921
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-18 22:45:00
</td>
</tr>
</table>
<br /><hr />