<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-01
22:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  80.9813
</td>
<td align="right">
  80.7394
</td>
<td align="right">
 -.0030
</td>
<td>
2011-11-02 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-01
23:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  80.6987
</td>
<td align="right">
  80.7065
</td>
<td align="right">
  .0001
</td>
<td>
2011-11-02 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
00:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  80.6017
</td>
<td align="right">
  80.6515
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-02 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
00:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  80.5918
</td>
<td align="right">
  80.8874
</td>
<td align="right">
  .0037
</td>
<td>
2011-11-02 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
00:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  80.5254
</td>
<td align="right">
  80.8641
</td>
<td align="right">
  .0042
</td>
<td>
2011-11-02 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
00:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  80.5504
</td>
<td align="right">
  80.8107
</td>
<td align="right">
  .0032
</td>
<td>
2011-11-02 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
01:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  80.7740
</td>
<td align="right">
  80.7168
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-02 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
01:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  80.8589
</td>
<td align="right">
  80.8585
</td>
<td align="right">
  .0000
</td>
<td>
2011-11-02 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
02:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  80.7634
</td>
<td align="right">
  80.7521
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-02 08:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
02:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  80.6808
</td>
<td align="right">
  80.8343
</td>
<td align="right">
  .0019
</td>
<td>
2011-11-02 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
02:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  80.6703
</td>
<td align="right">
  80.8838
</td>
<td align="right">
  .0026
</td>
<td>
2011-11-02 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-02
02:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  80.6574
</td>
<td align="right">
  80.8669
</td>
<td align="right">
  .0026
</td>
<td>
2011-11-02 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-01
23:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3266
</td>
<td align="right">
   1.3263
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-02 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-01
23:40:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.3254
</td>
<td align="right">
   1.3285
</td>
<td align="right">
  .0024
</td>
<td>
2011-11-02 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-01
23:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3249
</td>
<td align="right">
   1.3276
</td>
<td align="right">
  .0021
</td>
<td>
2011-11-02 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-02
00:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3263
</td>
<td align="right">
   1.3263
</td>
<td align="right">
  .0001
</td>
<td>
2011-11-02 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-02
00:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3276
</td>
<td align="right">
   1.3255
</td>
<td align="right">
 -.0016
</td>
<td>
2011-11-02 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-02
01:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3276
</td>
<td align="right">
   1.3258
</td>
<td align="right">
 -.0014
</td>
<td>
2011-11-02 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-02
02:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3267
</td>
<td align="right">
   1.3255
</td>
<td align="right">
 -.0009
</td>
<td>
2011-11-02 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-02
02:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3269
</td>
<td align="right">
   1.3252
</td>
<td align="right">
 -.0013
</td>
<td>
2011-11-02 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-02
02:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3271
</td>
<td align="right">
   1.3252
</td>
<td align="right">
 -.0014
</td>
<td>
2011-11-02 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-02
02:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3264
</td>
<td align="right">
   1.3245
</td>
<td align="right">
 -.0014
</td>
<td>
2011-11-02 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-01
23:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8889
</td>
<td align="right">
    .8886
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-02 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-02
02:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8865
</td>
<td align="right">
    .8863
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-02 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-02
03:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8857
</td>
<td align="right">
 -.0011
</td>
<td>
2011-11-02 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-11-02
03:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8851
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-02 09:45:00
</td>
</tr>
</table>
<br /><hr />