<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
18:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  79.7664
</td>
<td align="right">
  79.8340
</td>
<td align="right">
  .0008
</td>
<td>
2011-10-17 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
18:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  79.7297
</td>
<td align="right">
  79.8545
</td>
<td align="right">
  .0016
</td>
<td>
2011-10-17 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
18:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  79.8307
</td>
<td align="right">
  79.8628
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
19:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  79.8570
</td>
<td align="right">
  79.8804
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
19:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  79.8423
</td>
<td align="right">
  79.8965
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
19:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  79.8545
</td>
<td align="right">
  79.8861
</td>
<td align="right">
  .0004
</td>
<td>
2011-10-17 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
19:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  79.7915
</td>
<td align="right">
  79.9003
</td>
<td align="right">
  .0014
</td>
<td>
2011-10-17 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  79.8873
</td>
<td align="right">
  79.6070
</td>
<td align="right">
 -.0035
</td>
<td>
2011-10-17 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  79.8281
</td>
<td align="right">
  79.6239
</td>
<td align="right">
 -.0026
</td>
<td>
2011-10-17 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  79.8429
</td>
<td align="right">
  79.6142
</td>
<td align="right">
 -.0029
</td>
<td>
2011-10-17 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-10-14
20:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  79.9003
</td>
<td align="right">
  79.7160
</td>
<td align="right">
 -.0023
</td>
<td>
2011-10-17 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-10-14
18:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8937
</td>
<td align="right">
    .8934
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-17 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-14
20:40:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  77.2425
</td>
<td align="right">
  77.1483
</td>
<td align="right">
 -.0012
</td>
<td>
2011-10-17 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-14
20:45:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  77.2375
</td>
<td align="right">
  77.1850
</td>
<td align="right">
 -.0007
</td>
<td>
2011-10-17 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-14
20:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  77.2025
</td>
<td align="right">
  77.1817
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-17 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-10-14
20:55:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  77.2225
</td>
<td align="right">
  77.1825
</td>
<td align="right">
 -.0005
</td>
<td>
2011-10-17 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-14
19:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.0337
</td>
<td align="right">
   1.0339
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-14
19:30:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.0342
</td>
<td align="right">
   1.0340
</td>
<td align="right">
 -.0003
</td>
<td>
2011-10-17 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-14
19:35:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0339
</td>
<td align="right">
   1.0342
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-14
19:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0340
</td>
<td align="right">
   1.0342
</td>
<td align="right">
  .0003
</td>
<td>
2011-10-17 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-14
19:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0331
</td>
<td align="right">
   1.0345
</td>
<td align="right">
  .0013
</td>
<td>
2011-10-17 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-14
19:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0338
</td>
<td align="right">
   1.0345
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-14
19:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0343
</td>
<td align="right">
   1.0342
</td>
<td align="right">
 -.0002
</td>
<td>
2011-10-17 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-10-14
20:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0345
</td>
<td align="right">
   1.0326
</td>
<td align="right">
 -.0018
</td>
<td>
2011-10-17 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-10-14
18:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 107.1049
</td>
<td align="right">
 107.1825
</td>
<td align="right">
  .0007
</td>
<td>
2011-10-17 00:30:00
</td>
</tr>
</table>
<br /><hr />