<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-02
13:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0658
</td>
<td align="right">
   1.0670
</td>
<td align="right">
  .0011
</td>
<td>
2011-09-02 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-02
13:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0659
</td>
<td align="right">
   1.0663
</td>
<td align="right">
  .0004
</td>
<td>
2011-09-02 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
16:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.7900
</td>
<td align="right">
  76.7638
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-04 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
16:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7950
</td>
<td align="right">
  76.7750
</td>
<td align="right">
 -.0003
</td>
<td>
2011-09-04 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
16:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.8050
</td>
<td align="right">
  76.7863
</td>
<td align="right">
 -.0002
</td>
<td>
2011-09-04 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
16:55:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7625
</td>
<td align="right">
  76.7338
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-04 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-09-02
17:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  76.7800
</td>
<td align="right">
  76.7275
</td>
<td align="right">
 -.0007
</td>
<td>
2011-09-04 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
13:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 109.3112
</td>
<td align="right">
 109.2265
</td>
<td align="right">
 -.0008
</td>
<td>
2011-09-02 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
13:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 109.3364
</td>
<td align="right">
 109.1696
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-02 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
13:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 109.2452
</td>
<td align="right">
 109.1347
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-02 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
14:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 109.1676
</td>
<td align="right">
 109.1206
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-02 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-09-02
16:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 109.0977
</td>
<td align="right">
 109.0852
</td>
<td align="right">
 -.0001
</td>
<td>
2011-09-04 22:00:00
</td>
</tr>
</table>
<br /><hr />