<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
10:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2155
</td>
<td align="right">
   1.2137
</td>
<td align="right">
 -.0015
</td>
<td>
2011-09-09 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
10:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2154
</td>
<td align="right">
   1.2148
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-09 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
10:35:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.2154
</td>
<td align="right">
   1.2178
</td>
<td align="right">
  .0020
</td>
<td>
2011-09-09 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-09
09:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9917
</td>
<td align="right">
    .9926
</td>
<td align="right">
  .0009
</td>
<td>
2011-09-09 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-09
11:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9930
</td>
<td align="right">
    .9933
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-09 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-09-09
14:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8822
</td>
<td align="right">
    .8837
</td>
<td align="right">
  .0017
</td>
<td>
2011-09-09 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
10:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.8998
</td>
<td align="right">
  81.8085
</td>
<td align="right">
 -.0011
</td>
<td>
2011-09-09 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
11:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  81.8577
</td>
<td align="right">
  81.8729
</td>
<td align="right">
  .0002
</td>
<td>
2011-09-09 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
12:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  81.7889
</td>
<td align="right">
  81.3519
</td>
<td align="right">
 -.0053
</td>
<td>
2011-09-09 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
13:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  81.7749
</td>
<td align="right">
  81.4241
</td>
<td align="right">
 -.0043
</td>
<td>
2011-09-09 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
13:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  81.7029
</td>
<td align="right">
  81.3068
</td>
<td align="right">
 -.0048
</td>
<td>
2011-09-09 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
13:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  81.4372
</td>
<td align="right">
  81.3315
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-09 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
13:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  81.2583
</td>
<td align="right">
  81.3894
</td>
<td align="right">
  .0016
</td>
<td>
2011-09-09 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
13:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  81.3519
</td>
<td align="right">
  81.3894
</td>
<td align="right">
  .0005
</td>
<td>
2011-09-09 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
14:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  81.4241
</td>
<td align="right">
  81.2832
</td>
<td align="right">
 -.0017
</td>
<td>
2011-09-09 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
14:10:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  81.3068
</td>
<td align="right">
  81.1936
</td>
<td align="right">
 -.0014
</td>
<td>
2011-09-09 20:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
14:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  81.3046
</td>
<td align="right">
  80.9284
</td>
<td align="right">
 -.0046
</td>
<td>
2011-09-09 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
14:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  81.3309
</td>
<td align="right">
  80.9782
</td>
<td align="right">
 -.0043
</td>
<td>
2011-09-09 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
14:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  81.3315
</td>
<td align="right">
  80.7785
</td>
<td align="right">
 -.0068
</td>
<td>
2011-09-09 20:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
14:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  81.3795
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-09 20:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
15:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  81.2832
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
15:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  81.2601
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-09-09
15:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  80.9284
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
10:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0547
</td>
<td align="right">
   1.0522
</td>
<td align="right">
 -.0024
</td>
<td>
2011-09-09 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
10:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0548
</td>
<td align="right">
   1.0520
</td>
<td align="right">
 -.0026
</td>
<td>
2011-09-09 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
10:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0546
</td>
<td align="right">
   1.0523
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-09 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
10:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0544
</td>
<td align="right">
   1.0523
</td>
<td align="right">
 -.0019
</td>
<td>
2011-09-09 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
12:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0528
</td>
<td align="right">
   1.0499
</td>
<td align="right">
 -.0027
</td>
<td>
2011-09-09 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-09-09
12:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0534
</td>
<td align="right">
   1.0467
</td>
<td align="right">
 -.0064
</td>
<td>
2011-09-09 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
12:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2145
</td>
<td align="right">
   1.2132
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-09 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2138
</td>
<td align="right">
   1.2122
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-09 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:40:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2114
</td>
<td align="right">
   1.2121
</td>
<td align="right">
  .0006
</td>
<td>
2011-09-09 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2118
</td>
<td align="right">
   1.2112
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-09 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2117
</td>
<td align="right">
   1.2112
</td>
<td align="right">
 -.0004
</td>
<td>
2011-09-09 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
13:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2103
</td>
<td align="right">
   1.2115
</td>
<td align="right">
  .0010
</td>
<td>
2011-09-09 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2120
</td>
<td align="right">
   1.2109
</td>
<td align="right">
 -.0010
</td>
<td>
2011-09-09 20:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2122
</td>
<td align="right">
   1.2117
</td>
<td align="right">
 -.0005
</td>
<td>
2011-09-09 20:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2114
</td>
<td align="right">
   1.2098
</td>
<td align="right">
 -.0013
</td>
<td>
2011-09-09 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.2106
</td>
<td align="right">
   1.2079
</td>
<td align="right">
 -.0022
</td>
<td>
2011-09-09 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2119
</td>
<td align="right">
   1.2080
</td>
<td align="right">
 -.0032
</td>
<td>
2011-09-09 20:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
14:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2119
</td>
<td align="right">
   1.2078
</td>
<td align="right">
 -.0034
</td>
<td>
2011-09-09 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2101
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.2079
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-09-09
15:25:00
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
   1.2080
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-09-11 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-09-09
14:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9961
</td>
<td align="right">
    .9963
</td>
<td align="right">
  .0003
</td>
<td>
2011-09-09 20:35:00
</td>
</tr>
</table>
<br /><hr />