<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-20
00:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3185
</td>
<td align="right">
   1.3191
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-20 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-20
00:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3189
</td>
<td align="right">
   1.3189
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-20 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-20
00:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3187
</td>
<td align="right">
   1.3190
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-20 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-20
01:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3185
</td>
<td align="right">
   1.3196
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-20 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-20
01:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3185
</td>
<td align="right">
   1.3200
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-20 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-20
01:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3186
</td>
<td align="right">
   1.3202
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-20 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-20
02:15:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .8783
</td>
<td align="right">
    .8780
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-20 08:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-20
02:20:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    .8781
</td>
<td align="right">
    .8779
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-20 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-20
02:25:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    .8781
</td>
<td align="right">
    .8780
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-20 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-20
02:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8781
</td>
<td align="right">
    .8780
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-20 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-20
03:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  84.8909
</td>
<td align="right">
  84.8904
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-20 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-20
05:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  84.7143
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-20 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-20
06:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  84.8437
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-20 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
00:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0740
</td>
<td align="right">
   1.0734
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-20 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
01:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0744
</td>
<td align="right">
   1.0725
</td>
<td align="right">
 -.0017
</td>
<td>
2011-07-20 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
03:10:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.0727
</td>
<td align="right">
   1.0720
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-20 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
03:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0730
</td>
<td align="right">
   1.0721
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-20 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
03:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0726
</td>
<td align="right">
   1.0722
</td>
<td align="right">
 -.0004
</td>
<td>
2011-07-20 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
04:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0717
</td>
<td align="right">
   1.0717
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-20 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
04:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0720
</td>
<td align="right">
   1.0718
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-20 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
04:35:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.0718
</td>
<td align="right">
   1.0716
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-20 10:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
04:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0720
</td>
<td align="right">
   1.0714
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-20 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
05:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0713
</td>
<td align="right">
   1.0725
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-20 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
05:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0713
</td>
<td align="right">
   1.0729
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-20 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
05:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0718
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-20 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-20
06:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0719
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-20 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-20
05:05:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .8775
</td>
<td align="right">
    .8781
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-20 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-20
05:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8770
</td>
<td align="right">
    .8781
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-20 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-20
05:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8774
</td>
<td align="right">
    .8782
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-20 11:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-20
02:40:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8241
</td>
<td align="right">
    .8246
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-20 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-20
02:45:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .8240
</td>
<td align="right">
    .8245
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-20 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-20
03:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8241
</td>
<td align="right">
    .8242
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-20 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-20
03:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8240
</td>
<td align="right">
    .8243
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-20 09:30:00
</td>
</tr>
</table>
<br /><hr />