<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
05:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0668
</td>
<td align="right">
   1.0655
</td>
<td align="right">
 -.0011
</td>
<td>
2011-08-30 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0652
</td>
<td align="right">
   1.0651
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
07:40:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.0651
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-30
07:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0651
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
08:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3574
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9772
</td>
<td align="right">
    .9792
</td>
<td align="right">
  .0021
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-08-30
07:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9793
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
04:20:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  81.9860
</td>
<td align="right">
  81.9639
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
04:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  81.9495
</td>
<td align="right">
  81.9582
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 10:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
05:00:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  81.9686
</td>
<td align="right">
  81.9470
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 11:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  81.9470
</td>
<td align="right">
  81.7209
</td>
<td align="right">
 -.0028
</td>
<td>
2011-08-30 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  81.8199
</td>
<td align="right">
  81.7029
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-30 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  81.7841
</td>
<td align="right">
  81.7080
</td>
<td align="right">
 -.0009
</td>
<td>
2011-08-30 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7808
</td>
<td align="right">
  81.7019
</td>
<td align="right">
 -.0010
</td>
<td>
2011-08-30 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  81.7741
</td>
<td align="right">
  81.5872
</td>
<td align="right">
 -.0023
</td>
<td>
2011-08-30 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  81.6864
</td>
<td align="right">
  81.6608
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
06:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  81.5982
</td>
<td align="right">
  81.6799
</td>
<td align="right">
  .0010
</td>
<td>
2011-08-30 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.7029
</td>
<td align="right">
  81.7057
</td>
<td align="right">
  .0000
</td>
<td>
2011-08-30 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7080
</td>
<td align="right">
  81.7290
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-30 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.7019
</td>
<td align="right">
  81.7426
</td>
<td align="right">
  .0005
</td>
<td>
2011-08-30 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  81.5872
</td>
<td align="right">
  81.7270
</td>
<td align="right">
  .0017
</td>
<td>
2011-08-30 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  81.6608
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  81.6799
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  81.6924
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  81.6809
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
07:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  81.6522
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
08:00:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  81.6700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
08:05:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  81.6813
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
08:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  81.7057
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
08:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  81.7426
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-08-30
08:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  81.7270
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-08-30
07:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3609
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-08-30
06:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8847
</td>
<td align="right">
    .8848
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-30 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6498
</td>
<td align="right">
 111.6601
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-30 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
02:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.6191
</td>
<td align="right">
 111.6582
</td>
<td align="right">
  .0004
</td>
<td>
2011-08-30 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 111.6597
</td>
<td align="right">
 111.6050
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-30 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.6712
</td>
<td align="right">
 111.5848
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-30 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
03:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 111.6436
</td>
<td align="right">
 111.5734
</td>
<td align="right">
 -.0006
</td>
<td>
2011-08-30 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
04:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 111.6154
</td>
<td align="right">
 111.5417
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-30 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
06:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 111.1253
</td>
<td align="right">
 111.1136
</td>
<td align="right">
 -.0001
</td>
<td>
2011-08-30 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
06:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 111.1915
</td>
<td align="right">
 111.1159
</td>
<td align="right">
 -.0007
</td>
<td>
2011-08-30 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 111.1871
</td>
<td align="right">
 111.0970
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-30 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.0933
</td>
<td align="right">
 111.0626
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-30 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:15:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
 111.1291
</td>
<td align="right">
 111.0696
</td>
<td align="right">
 -.0005
</td>
<td>
2011-08-30 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:20:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
 111.1135
</td>
<td align="right">
 110.9603
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-30 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:25:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
 111.0870
</td>
<td align="right">
 110.9571
</td>
<td align="right">
 -.0012
</td>
<td>
2011-08-30 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 111.1251
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:35:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
 111.1328
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:40:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
 111.1164
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:45:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 111.1136
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
07:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 111.1159
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-30
08:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 111.0626
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-30 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-30
07:05:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.4500
</td>
<td align="right">
   1.4480
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-30 13:05:00
</td>
</tr>
</table>
<br /><hr />