<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
15:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0617
</td>
<td align="right">
   1.0614
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 21:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
16:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0622
</td>
<td align="right">
   1.0624
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-12 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
16:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0613
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
17:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0620
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
17:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0624
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
11:55:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.1669
</td>
<td align="right">
   1.1686
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-12 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.1668
</td>
<td align="right">
   1.1676
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-12 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.1655
</td>
<td align="right">
   1.1670
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-12 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.1665
</td>
<td align="right">
   1.1679
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-12 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1662
</td>
<td align="right">
   1.1679
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-12 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-12
12:30:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.1686
</td>
<td align="right">
   1.1680
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-12 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
12:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8834
</td>
<td align="right">
    .8822
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-12 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
12:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8833
</td>
<td align="right">
    .8823
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-12 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
13:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8809
</td>
<td align="right">
    .8787
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-12 19:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
13:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8817
</td>
<td align="right">
    .8789
</td>
<td align="right">
 -.0031
</td>
<td>
2011-07-12 19:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-07-12
14:30:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8800
</td>
<td align="right">
    .8779
</td>
<td align="right">
 -.0024
</td>
<td>
2011-07-12 20:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-07-12
17:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.4017
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-12 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-12
14:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0616
</td>
<td align="right">
   1.0613
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-12 20:30:00
</td>
</tr>
</table>
<br /><hr />