<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
13:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  84.6642
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-21 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
08:30:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .8211
</td>
<td align="right">
    .8210
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-21 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
08:40:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    .8211
</td>
<td align="right">
    .8211
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-21 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
09:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8210
</td>
<td align="right">
    .8221
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-21 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
09:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8210
</td>
<td align="right">
    .8221
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-21 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
09:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8210
</td>
<td align="right">
    .8220
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-21 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
09:40:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    .8211
</td>
<td align="right">
    .8220
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-21 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
10:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8218
</td>
<td align="right">
    .8218
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-21 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
11:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8218
</td>
<td align="right">
    .8217
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-21 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
11:25:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8219
</td>
<td align="right">
    .8206
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-21 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
11:35:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    .8216
</td>
<td align="right">
    .8206
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-21 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
12:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8206
</td>
<td align="right">
    .8190
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-21 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
12:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8205
</td>
<td align="right">
    .8196
</td>
<td align="right">
 -.0011
</td>
<td>
2011-07-21 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
12:35:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .8206
</td>
<td align="right">
    .8193
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-21 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
12:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8205
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-21 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-21
12:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8208
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-21 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
07:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  84.4117
</td>
<td align="right">
  84.4428
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-21 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
07:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  84.4036
</td>
<td align="right">
  84.4353
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-21 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
10:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  84.4043
</td>
<td align="right">
  84.5454
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-21 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
10:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  84.4006
</td>
<td align="right">
  84.5272
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-21 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
10:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  84.4251
</td>
<td align="right">
  84.5394
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-21 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-21
10:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  84.4001
</td>
<td align="right">
  84.5411
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-21 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
08:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.0713
</td>
<td align="right">
   1.0704
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-21 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
08:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0711
</td>
<td align="right">
   1.0702
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-21 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-21
09:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0706
</td>
<td align="right">
   1.0704
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-21 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 111.8874
</td>
<td align="right">
 111.6625
</td>
<td align="right">
 -.0020
</td>
<td>
2011-07-21 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:15:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 111.8051
</td>
<td align="right">
 111.6635
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-21 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:20:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
 111.8506
</td>
<td align="right">
 111.6401
</td>
<td align="right">
 -.0019
</td>
<td>
2011-07-21 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:25:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 111.6870
</td>
<td align="right">
 111.6099
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-21 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 111.6130
</td>
<td align="right">
 111.5837
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-21 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:40:00
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
 111.6961
</td>
<td align="right">
 111.5853
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-21 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:45:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
 111.7194
</td>
<td align="right">
 111.6411
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-21 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:50:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 111.7146
</td>
<td align="right">
 111.7147
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-21 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
09:55:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
 111.8201
</td>
<td align="right">
 111.7523
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-21 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
10:00:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
 111.6562
</td>
<td align="right">
 111.7821
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-21 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
10:05:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
 111.7343
</td>
<td align="right">
 111.7979
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-21 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
10:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 111.6625
</td>
<td align="right">
 111.7511
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-21 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
10:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 111.6635
</td>
<td align="right">
 111.7659
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-21 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
10:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 111.6401
</td>
<td align="right">
 111.7403
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-21 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
10:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 111.6411
</td>
<td align="right">
 111.8341
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-21 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
10:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 111.7147
</td>
<td align="right">
 111.8858
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-21 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
10:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 111.7523
</td>
<td align="right">
 111.9209
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-21 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
11:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 111.7821
</td>
<td align="right">
 111.8846
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-21 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
11:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 111.7979
</td>
<td align="right">
 111.8917
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-21 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
11:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 111.7511
</td>
<td align="right">
 111.9981
</td>
<td align="right">
  .0022
</td>
<td>
2011-07-21 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
11:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 111.7659
</td>
<td align="right">
 112.2411
</td>
<td align="right">
  .0043
</td>
<td>
2011-07-21 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
11:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 111.7403
</td>
<td align="right">
 112.2651
</td>
<td align="right">
  .0047
</td>
<td>
2011-07-21 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
11:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 111.8058
</td>
<td align="right">
 112.4138
</td>
<td align="right">
  .0054
</td>
<td>
2011-07-21 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-21
11:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.8148
</td>
<td align="right">
 112.4626
</td>
<td align="right">
  .0058
</td>
<td>
2011-07-21 17:35:00
</td>
</tr>
</table>
<br /><hr />