<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
19:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0171
</td>
<td align="right">
   1.0351
</td>
<td align="right">
  .0177
</td>
<td>
2011-08-10 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
19:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0223
</td>
<td align="right">
   1.0357
</td>
<td align="right">
  .0131
</td>
<td>
2011-08-10 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
22:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0394
</td>
<td align="right">
   1.0389
</td>
<td align="right">
 -.0004
</td>
<td>
2011-08-10 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
22:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0388
</td>
<td align="right">
   1.0391
</td>
<td align="right">
  .0003
</td>
<td>
2011-08-10 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
22:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0383
</td>
<td align="right">
   1.0391
</td>
<td align="right">
  .0008
</td>
<td>
2011-08-10 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-09
23:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0390
</td>
<td align="right">
   1.0371
</td>
<td align="right">
 -.0018
</td>
<td>
2011-08-10 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-08-10
00:25:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
   1.0373
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
23:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 110.7392
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
22:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.4382
</td>
<td align="right">
   1.4360
</td>
<td align="right">
 -.0015
</td>
<td>
2011-08-10 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
23:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.4370
</td>
<td align="right">
   1.4350
</td>
<td align="right">
 -.0014
</td>
<td>
2011-08-10 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
23:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4372
</td>
<td align="right">
   1.4360
</td>
<td align="right">
 -.0008
</td>
<td>
2011-08-10 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
23:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.4367
</td>
<td align="right">
   1.4370
</td>
<td align="right">
  .0002
</td>
<td>
2011-08-10 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
23:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.4367
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
23:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.4366
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
23:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.4365
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
23:55:00
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
   1.4360
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-10
00:05:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.4350
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
18:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7141
</td>
<td align="right">
    .7183
</td>
<td align="right">
  .0058
</td>
<td>
2011-08-10 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
19:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7149
</td>
<td align="right">
    .7219
</td>
<td align="right">
  .0098
</td>
<td>
2011-08-10 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
20:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7219
</td>
<td align="right">
    .7228
</td>
<td align="right">
  .0012
</td>
<td>
2011-08-10 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
20:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7199
</td>
<td align="right">
    .7240
</td>
<td align="right">
  .0056
</td>
<td>
2011-08-10 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
20:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .7198
</td>
<td align="right">
    .7230
</td>
<td align="right">
  .0045
</td>
<td>
2011-08-10 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
22:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7216
</td>
<td align="right">
    .7230
</td>
<td align="right">
  .0019
</td>
<td>
2011-08-10 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
23:30:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .7233
</td>
<td align="right">
    .7221
</td>
<td align="right">
 -.0017
</td>
<td>
2011-08-10 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-08-09
23:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7233
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-08-10 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-08-09
18:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0157
</td>
<td align="right">
   1.0202
</td>
<td align="right">
  .0044
</td>
<td>
2011-08-10 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
18:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 109.5822
</td>
<td align="right">
 109.7459
</td>
<td align="right">
  .0015
</td>
<td>
2011-08-10 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
18:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
 109.9477
</td>
<td align="right">
 109.9134
</td>
<td align="right">
 -.0003
</td>
<td>
2011-08-10 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
18:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 109.7270
</td>
<td align="right">
 109.7325
</td>
<td align="right">
  .0001
</td>
<td>
2011-08-10 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
18:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 109.5383
</td>
<td align="right">
 109.8529
</td>
<td align="right">
  .0029
</td>
<td>
2011-08-10 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
18:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 109.4094
</td>
<td align="right">
 110.0461
</td>
<td align="right">
  .0058
</td>
<td>
2011-08-10 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
18:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 109.3557
</td>
<td align="right">
 110.0806
</td>
<td align="right">
  .0066
</td>
<td>
2011-08-10 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
18:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 109.5608
</td>
<td align="right">
 110.1862
</td>
<td align="right">
  .0057
</td>
<td>
2011-08-10 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
18:55:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
 109.5887
</td>
<td align="right">
 110.3464
</td>
<td align="right">
  .0069
</td>
<td>
2011-08-10 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
19:00:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
 109.5291
</td>
<td align="right">
 110.3585
</td>
<td align="right">
  .0076
</td>
<td>
2011-08-10 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
19:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 109.6002
</td>
<td align="right">
 110.3585
</td>
<td align="right">
  .0069
</td>
<td>
2011-08-10 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
19:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 110.1862
</td>
<td align="right">
 110.5419
</td>
<td align="right">
  .0032
</td>
<td>
2011-08-10 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
20:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
 110.3585
</td>
<td align="right">
 110.8931
</td>
<td align="right">
  .0048
</td>
<td>
2011-08-10 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
20:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 110.7725
</td>
<td align="right">
 111.1752
</td>
<td align="right">
  .0036
</td>
<td>
2011-08-10 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-08-09
21:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 111.1752
</td>
<td align="right">
 110.8330
</td>
<td align="right">
 -.0031
</td>
<td>
2011-08-10 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
18:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.4244
</td>
<td align="right">
   1.4296
</td>
<td align="right">
  .0036
</td>
<td>
2011-08-10 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
18:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.4248
</td>
<td align="right">
   1.4311
</td>
<td align="right">
  .0044
</td>
<td>
2011-08-10 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-08-09
18:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.4209
</td>
<td align="right">
   1.4329
</td>
<td align="right">
  .0085
</td>
<td>
2011-08-10 00:45:00
</td>
</tr>
</table>
<br /><hr />