<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-08
20:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0766
</td>
<td align="right">
   1.0730
</td>
<td align="right">
 -.0033
</td>
<td>
2011-07-11 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-10
22:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0724
</td>
<td align="right">
   1.0722
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-11 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-10
21:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  86.2956
</td>
<td align="right">
  86.5129
</td>
<td align="right">
  .0025
</td>
<td>
2011-07-11 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-10
23:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  86.4850
</td>
<td align="right">
  86.4614
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-11 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-08
19:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3255
</td>
<td align="right">
   1.3243
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-11 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-08
19:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3255
</td>
<td align="right">
   1.3247
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-11 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-08
20:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3251
</td>
<td align="right">
   1.3265
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-11 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-08
20:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3245
</td>
<td align="right">
   1.3264
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-11 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-10
23:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1893
</td>
<td align="right">
   1.1909
</td>
<td align="right">
  .0014
</td>
<td>
2011-07-11 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-10
23:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.1899
</td>
<td align="right">
   1.1907
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-11 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-10
23:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.1897
</td>
<td align="right">
   1.1899
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-11 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-10
23:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1902
</td>
<td align="right">
   1.1896
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-11 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.1902
</td>
<td align="right">
   1.1901
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-11 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.1907
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.1899
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:45:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.1896
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-11
00:50:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.1893
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-11 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-08
20:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9604
</td>
<td align="right">
    .9618
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-11 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-08
20:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9603
</td>
<td align="right">
    .9622
</td>
<td align="right">
  .0019
</td>
<td>
2011-07-11 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-10
21:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9620
</td>
<td align="right">
    .9626
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-11 03:25:00
</td>
</tr>
</table>
<br /><hr />