<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-18
20:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  83.8285
</td>
<td align="right">
  83.8596
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-19 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
18:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0590
</td>
<td align="right">
   1.0609
</td>
<td align="right">
  .0017
</td>
<td>
2011-07-19 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
18:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0592
</td>
<td align="right">
   1.0600
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-19 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
18:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0588
</td>
<td align="right">
   1.0605
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-19 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
20:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0606
</td>
<td align="right">
   1.0603
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-19 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
20:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.0605
</td>
<td align="right">
   1.0604
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-19 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
22:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.0606
</td>
<td align="right">
   1.0628
</td>
<td align="right">
  .0021
</td>
<td>
2011-07-19 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-07-18
23:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.0632
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-19 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
19:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8173
</td>
<td align="right">
    .8180
</td>
<td align="right">
  .0008
</td>
<td>
2011-07-19 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
20:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8179
</td>
<td align="right">
    .8179
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-19 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
20:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8174
</td>
<td align="right">
    .8181
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-19 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
20:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8177
</td>
<td align="right">
    .8182
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-19 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
20:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8178
</td>
<td align="right">
    .8180
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-19 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
20:50:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8180
</td>
<td align="right">
    .8178
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-19 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
20:55:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8177
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-19 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
21:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8179
</td>
<td align="right">
    .8178
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-19 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
21:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8179
</td>
<td align="right">
    .8180
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-19 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-18
18:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1525
</td>
<td align="right">
   1.1534
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-19 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-07-18
20:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.6057
</td>
<td align="right">
   1.6049
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-19 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-07-18
19:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8173
</td>
<td align="right">
    .8178
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-19 01:45:00
</td>
</tr>
</table>
<br /><hr />