<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
06:10:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.3005
</td>
<td align="right">
   1.2992
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-28 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-28
06:25:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   1.2989
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-28 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-07-28
06:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 111.7477
</td>
<td align="right">
 111.5944
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-28 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
03:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.9000
</td>
<td align="right">
  85.9851
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-28 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
06:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  85.9553
</td>
<td align="right">
  85.8395
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-28 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
06:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  85.9270
</td>
<td align="right">
  85.8487
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-28 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
06:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  85.8638
</td>
<td align="right">
  85.8820
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-28 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
07:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.8755
</td>
<td align="right">
  85.9890
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-28 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-07-28
07:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  85.8368
</td>
<td align="right">
  85.9369
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-28 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
02:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.1499
</td>
<td align="right">
   1.1512
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-28 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
02:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.1500
</td>
<td align="right">
   1.1513
</td>
<td align="right">
  .0011
</td>
<td>
2011-07-28 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
03:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.1504
</td>
<td align="right">
   1.1519
</td>
<td align="right">
  .0013
</td>
<td>
2011-07-28 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-07-28
03:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.1505
</td>
<td align="right">
   1.1522
</td>
<td align="right">
  .0015
</td>
<td>
2011-07-28 09:15:00
</td>
</tr>
</table>
<br /><hr />