<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
06:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9595
</td>
<td align="right">
    .9597
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-14 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
06:30:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9595
</td>
<td align="right">
    .9594
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-14 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
06:35:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9596
</td>
<td align="right">
    .9591
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-14 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
06:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9598
</td>
<td align="right">
    .9592
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-14 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
06:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9597
</td>
<td align="right">
    .9589
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-14 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
06:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9596
</td>
<td align="right">
    .9588
</td>
<td align="right">
 -.0008
</td>
<td>
2011-07-14 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
06:55:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .9599
</td>
<td align="right">
    .9589
</td>
<td align="right">
 -.0010
</td>
<td>
2011-07-14 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
07:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9600
</td>
<td align="right">
    .9587
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-14 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
07:05:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9605
</td>
<td align="right">
    .9591
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-14 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
07:10:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .9607
</td>
<td align="right">
    .9595
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-14 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
07:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9604
</td>
<td align="right">
    .9595
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-14 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
07:20:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .9600
</td>
<td align="right">
    .9595
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-14 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
07:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9597
</td>
<td align="right">
    .9590
</td>
<td align="right">
 -.0007
</td>
<td>
2011-07-14 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
07:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9591
</td>
<td align="right">
    .9585
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-14 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
11:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9595
</td>
<td align="right">
    .9578
</td>
<td align="right">
 -.0018
</td>
<td>
2011-07-14 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-07-14
11:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9589
</td>
<td align="right">
    .9576
</td>
<td align="right">
 -.0014
</td>
<td>
2011-07-14 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
06:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  79.0925
</td>
<td align="right">
  79.0775
</td>
<td align="right">
 -.0002
</td>
<td>
2011-07-14 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
06:45:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  79.1125
</td>
<td align="right">
  79.0725
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-14 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
06:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  79.0450
</td>
<td align="right">
  79.0600
</td>
<td align="right">
  .0002
</td>
<td>
2011-07-14 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  79.0175
</td>
<td align="right">
  79.0650
</td>
<td align="right">
  .0006
</td>
<td>
2011-07-14 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  79.0425
</td>
<td align="right">
  79.0700
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-14 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  79.0425
</td>
<td align="right">
  79.0675
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-14 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  79.0250
</td>
<td align="right">
  79.0825
</td>
<td align="right">
  .0007
</td>
<td>
2011-07-14 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:25:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  79.0350
</td>
<td align="right">
  79.0700
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-14 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  79.0425
</td>
<td align="right">
  79.0025
</td>
<td align="right">
 -.0005
</td>
<td>
2011-07-14 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:40:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  79.0775
</td>
<td align="right">
  78.9750
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-14 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  79.0725
</td>
<td align="right">
  78.9725
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-14 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:50:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  79.0725
</td>
<td align="right">
  78.9700
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-14 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
07:55:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  79.0600
</td>
<td align="right">
  78.9925
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-14 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
08:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  79.0650
</td>
<td align="right">
  78.9625
</td>
<td align="right">
 -.0013
</td>
<td>
2011-07-14 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
08:10:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
  79.0675
</td>
<td align="right">
  78.9375
</td>
<td align="right">
 -.0016
</td>
<td>
2011-07-14 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
08:15:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
  79.0825
</td>
<td align="right">
  78.8825
</td>
<td align="right">
 -.0025
</td>
<td>
2011-07-14 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
08:20:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  79.1163
</td>
<td align="right">
  78.9338
</td>
<td align="right">
 -.0023
</td>
<td>
2011-07-14 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
08:25:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  79.0700
</td>
<td align="right">
  79.0025
</td>
<td align="right">
 -.0009
</td>
<td>
2011-07-14 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
10:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  78.9825
</td>
<td align="right">
  79.0225
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-14 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
10:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  78.9775
</td>
<td align="right">
  79.0025
</td>
<td align="right">
  .0003
</td>
<td>
2011-07-14 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
10:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  78.9825
</td>
<td align="right">
  79.0150
</td>
<td align="right">
  .0004
</td>
<td>
2011-07-14 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
10:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  79.0375
</td>
<td align="right">
  79.0375
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-14 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
11:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  79.0025
</td>
<td align="right">
  78.9975
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-14 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
11:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  79.0175
</td>
<td align="right">
  78.9925
</td>
<td align="right">
 -.0003
</td>
<td>
2011-07-14 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
11:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  79.0225
</td>
<td align="right">
  79.0300
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-14 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
11:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  79.0225
</td>
<td align="right">
  79.0275
</td>
<td align="right">
  .0001
</td>
<td>
2011-07-14 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
11:30:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  79.0225
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
11:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  79.0075
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
11:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  79.0300
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2011-07-14
11:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  79.0375
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
07:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3233
</td>
<td align="right">
   1.3225
</td>
<td align="right">
 -.0006
</td>
<td>
2011-07-14 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
07:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.3223
</td>
<td align="right">
   1.3230
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-14 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
08:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3225
</td>
<td align="right">
   1.3223
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-14 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
10:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3211
</td>
<td align="right">
   1.3195
</td>
<td align="right">
 -.0012
</td>
<td>
2011-07-14 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
10:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3211
</td>
<td align="right">
   1.3191
</td>
<td align="right">
 -.0015
</td>
<td>
2011-07-14 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
10:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.3199
</td>
<td align="right">
   1.3199
</td>
<td align="right">
  .0000
</td>
<td>
2011-07-14 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
10:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3201
</td>
<td align="right">
   1.3199
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-14 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
10:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3200
</td>
<td align="right">
   1.3199
</td>
<td align="right">
 -.0001
</td>
<td>
2011-07-14 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3197
</td>
<td align="right">
   1.3205
</td>
<td align="right">
  .0005
</td>
<td>
2011-07-14 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.3193
</td>
<td align="right">
   1.3209
</td>
<td align="right">
  .0012
</td>
<td>
2011-07-14 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.3190
</td>
<td align="right">
   1.3202
</td>
<td align="right">
  .0009
</td>
<td>
2011-07-14 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3195
</td>
<td align="right">
   1.3208
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-14 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3194
</td>
<td align="right">
   1.3208
</td>
<td align="right">
  .0010
</td>
<td>
2011-07-14 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.3191
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3197
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3197
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:45:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.3199
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
11:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.3199
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
12:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3205
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-07-14
12:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3209
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-07-14 18:05:00
</td>
</tr>
</table>
<br /><hr />