/! layouts/_lhs_links.html.slim
a(href="/predictions")Predictions
br/
a(href="/about")About
br/
a(href="/blog")Blog
br/
a(href="/contact")Contact
br/
a(href="http://groups.yahoo.com/group/bot4us" target="p")Forum
br/
a(href="/books")Books
br/
a(href="/faq")FAQ
br/
a(href="/glossary")Glossary
br/
a(href="http://twitter.com/bot4us" target="t")Twitter Feed
br/
a(href="http://www.facebook.com/home.php?sk=group_142437349168143" target="f")Facebook Page
br/
a(href="/site_map")Site Map
br/
a(href="/tos")Terms of Service
br/
a(href="/leadership_team")Leadership Team
br/
a(href="http://tycho.usno.navy.mil/cgi-bin/timer.pl" target="n")Current GMT Time
br/
hr/
form(method="get" target="q" action="http://www.google.com/finance" )
  input(name="q" value="AAPL" size="6" maxlength="9")
  input(value="G-Quote" type="submit")
hr/
form(method="get" target="y" action="http://finance.yahoo.com/q")
  input(name="s" value="MSFT" size="6" maxlength="9")
  input(value="Y-Quote" type="submit")
hr/
' 11 Currency Pairs:
br/
a(target="g" href="https://www.google.com/finance?q=AUDJPY")AUD/JPY
br/
a(target="g" href="https://www.google.com/finance?q=AUDUSD")AUD/USD
br/
a(target="g" href="https://www.google.com/finance?q=EURAUD")EUR/AUD
br/
a(target="g" href="https://www.google.com/finance?q=EURCHF")EUR/CHF
br/
a(target="g" href="https://www.google.com/finance?q=EURGBP")EUR/GBP
br/
a(target="g" href="https://www.google.com/finance?q=EURJPY")EUR/JPY
br/
a(target="g" href="https://www.google.com/finance?q=EURUSD")EUR/USD
br/
a(target="g" href="https://www.google.com/finance?q=GBPUSD")GBP/USD
br/
a(target="g" href="https://www.google.com/finance?q=USDCAD")USD/CAD
br/
a(target="g" href="https://www.google.com/finance?q=USDCHF")USD/CHF
br/
a(target="g" href="https://www.google.com/finance?q=USDJPY")USD/JPY
br/						           
hr/						           
' Some Big Caps:
br/
a(target="g" href="https://www.google.com/finance?q=C")C
br/
a(target="g" href="https://www.google.com/finance?q=XOM")XOM
br/
a(target="g" href="https://www.google.com/finance?q=AAPL")AAPL
br/
a(target="g" href="https://www.google.com/finance?q=MSFT")MSFT
br/
a(target="g" href="https://www.google.com/finance?q=IBM")IBM
br/
a(target="g" href="https://www.google.com/finance?q=GE")GE
br/
a(target="g" href="https://www.google.com/finance?q=T")T
br/
a(target="g" href="https://www.google.com/finance?q=WMT")WMT
br/
a(target="g" href="https://www.google.com/finance?q=JNJ")JNJ
br/
a(target="g" href="https://www.google.com/finance?q=PG")PG
br/
a(target="g" href="https://www.google.com/finance?q=ORCL")ORCL
br/
a(target="g" href="https://www.google.com/finance?q=GOOG")GOOG
br/
a(target="g" href="https://www.google.com/finance?q=PFE")PFE
br/
a(target="g" href="https://www.google.com/finance?q=KO")KO   
br/
