/! layouts/_lhs_links.html.slim
a(href="/predictions")Predictions
br/
a(href="/r10/index")About
br/
a(href="/r10/uc")Blog
br/
a(href="/r10/uc")Contact
br/
a(href="/r10/uc")Forum
br/
a(href="/r10/uc")Books
br/
a(href="/r10/uc")Glossary
br/
a(href="/r10/uc")Twitter Feed
br/
a(href="/r10/uc")Facebook Page
br/
a(href="/r10/site_map")Site Map
br/
a(href="/r10/uc")Terms of Service
br/
a(href="/r10/uc")Leadership Team
br/
